<vr-button type="Add" data-onclick="ctrl.addActionGroup" standalone></vr-button>

<vr-validator validate="ctrl.isValid()">
    <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                 on-ready="onGridReady" enabledraggablerow="true" ondeleterow="ctrl.removeActionGroup" hidegridmenu>
        <vr-datagridcolumn headertext="'Title'" field="'Entity.Title'" disablesorting></vr-datagridcolumn>
    </vr-datagrid>
</vr-validator>