<vr-datagrid datasource="supplierPriceLists"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             defaultsortbyfieldname="'Entity.CreateTime'" defaultsortdirection="'DESC'" enableautoexport="true">
    <vr-datagridcolumn headertext="'Pricelist ID'" field="'Entity.PriceListId'" type="'Text'" fixedwidth="120"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Pricelist Type'" field="'PricelistTypeDescription'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Supplier'" field="'SupplierName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Currency'" field="'Currency'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Checkpoint ID'" field="'Entity.SPLStateBackupId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created By'" field="'UserName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Pricelist Date'" field="'Entity.EffectiveOn'" type="'Date'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created Time'" field="'Entity.CreateTime'" type="'Datetime'"></vr-datagridcolumn>
</vr-datagrid>