<vr-datagrid datasource="users"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="onGridReady"
             menuactions="gridMenuActions"
             idfield="Entity.UserId">

    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Email'" field="'Entity.Email'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'">
        <vr-icon icontype="dataItem.Status"></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Enable Till'" field="'Entity.EnabledTill'" type="'Date'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Last Login Date'" field="'Entity.LastLogin'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" field="'Entity.Description'"></vr-datagridcolumn>
</vr-datagrid>