<div vr-modalcontent ng-controller="WhS_Deal_VolumeCommitmentEditorController" vr-loader="scopeModel.isLoading" width="'60%'">
    <vr-modalbody>
        <vr-form name="formEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/3row"vr-disable="scopeModel.disabelType">
                            <span vr-disabled="scopeModel.disabelType">
                                <vr-select label="Type"
                                           datasource="scopeModel.volumeCommitmentTypes"
                                           datavaluefield="value"
                                           datatextfield="description"
                                           selectedvalues="scopeModel.selectedVolumeCommitmentType"
                                           isrequired="true"
                                           hideremoveicon="true">
                                </vr-select>
                            </span>
                            
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-datetimepicker label="Begin Date" type="date" value="scopeModel.beginDate" isrequired="true" customvalidate="scopeModel.validateDatesRange()" onvaluechanged="scopeModel.onBEDChanged"></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-datetimepicker label="End Date" type="date" value="scopeModel.endDate" isrequired="true" customvalidate="scopeModel.validateDatesRange()" onvaluechanged="scopeModel.onEEDChanged"></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <span vr-loader="scopeModel.isLoadingDirective" vr-disabled="scopeModel.disabelType">
                            <vr-directivewrapper directive="scopeModel.selectedVolumeCommitmentType.carrierAccountSelector" selectedvalues="scopeModel.carrierAccount" hideremoveicon on-ready="scopeModel.onCarrierAccountSelectorReady" normal-col-num="4" isrequired="true" hideremoveicon="true" onselectionchanged="scopeModel.onCarrierAccountSelectionChanged"></vr-directivewrapper>
                        </span>
                        <vr-common-currency-selector on-ready="scopeModel.onCurrencySelectReady" isrequired="true" normal-col-num="4"></vr-common-currency-selector>
                        <!--<vr-columns width="1/3row">
                            <vr-switch value="scopeModel.active" label="Active">  </vr-switch>
                        </vr-columns>-->
                        <vr-columns width="1/3row">
                            <vr-select label="Deal Status"
                                       datasource="scopeModel.dealStatus"
                                       datavaluefield="value"
                                       datatextfield="description"
                                       onselectionchanged="scopeModel.onDealStatusChanged"
                                       selectedvalues="scopeModel.selectedDealStatus"
                                       isrequired="true"
                                       hideremoveicon="true">
                            </vr-select>
                        </vr-columns>
                        <span ng-if="scopeModel.isInactiveStatus()">
                            
                                <vr-columns width="1/3row">
                                    <vr-datetimepicker label="DeActivation Date" type="date" value="scopeModel.deActivationDate" isrequired="true" customvalidate="scopeModel.validateDealStatusDate()"></vr-datetimepicker>
                                </vr-columns>
                        </span>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-textarea label="Description" value="scopeModel.description" isrequired="true"></vr-textarea>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Details'">
                    <vr-row>
                        <vr-columns width="fullrow" ng-show="scopeModel.showVolumeItemSection()">
                            <vr-whs-deal-volumecommitment-items on-ready="scopeModel.onVolumeCommitmenetItemsReady"></vr-whs-deal-volumecommitment-items>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
            <vr-row ng-if="validationMessages != undefined && validationMessages.length > 0">
                <vr-columns width="fullrow">
                    <label class="alert alert-danger" vr-alert>
                        <ul>
                            <li ng-repeat="message in validationMessages">{{message}}</li>
                        </ul>
                    </label>
                </vr-columns>

            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formEditor" data-onclick="scopeModel.save" haspermission="scopeModel.hasSavePermission"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>