<vr-row>
    <vr-columns width="1/2row">
        <vr-genericdata-datarecordtypefields-selector selectedvalues="scopeModel.selectedFields" label="Fields"
                                                      onselectitem="scopeModel.onFieldSelected" ondeselectitem="scopeModel.onFieldDeselected" ondeselectallitems="scopeModel.deselectAllFields"
                                                      hideselectedvaluessection="true" on-ready="scopeModel.onDataRecordTypeFieldsSelectorDirectiveReady" ismultipleselection isrequired="true"
                                                      hide-select-all="true" normal-col-num="3"></vr-genericdata-datarecordtypefields-selector>

    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-validator validate="ctrl.isValid()">
            <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="200px"
                         on-ready="onGridReady" enabledraggablerow="true" ondeleterow="scopeModel.removeField" hidegridmenu>
                <vr-datagridcolumn headertext="'Name'" disablesorting widthfactor="6">
                    <vr-label>{{dataItem.entity.FieldName}}</vr-label>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Title'" disablesorting widthfactor="6">
                    <vr-textbox value="dataItem.entity.FieldTitle" isrequired></vr-textbox>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Width'" widthfactor="12">
                    <span vr-loader="dataItem.isColumnSettingDirectiveloading">
                        <vr-common-gridcolumnwidth-editor on-ready="dataItem.onColumnSettingDirectiveReady" selector-col-num="6" textbox-col-num="6"></vr-common-gridcolumnwidth-editor>
                    </span>
                </vr-datagridcolumn>
                <vr-datagridcolumn ng-if="scopeModel.isLocalizationEnabled" headertext="'Text Resource'" widthfactor="8" disablesorting="true">
                    <vr-span vr-loader="dataItem.isTextResourceSelectorLoading">
                        <vr-common-vrlocalizationtextresource-selector on-ready="dataItem.onTextResourceSelectorReady" hidelabel="true"></vr-common-vrlocalizationtextresource-selector>
                    </vr-span>
                </vr-datagridcolumn>
            </vr-datagrid>
        </vr-validator>
    </vr-columns>
</vr-row>
<vr-columns width="fullrow">
    <a href="" class="link" ng-click="scopeModel.selectAllFields()" ng-show="scopeModel.showAddAllFields()">Add All Fields</a>
</vr-columns>
