<div vr-modalcontent ng-controller="VR_GenericData_GenericBECustomActionDefintionController" vr-loader="scopeModel.isLoading" width="'80%'">
    <vr-modalbody>
        <vr-form validationcontext="customActionEditor">
			<vr-tabs>
				<vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/4row">
                            <vr-textbox value="scopeModel.title" label="Title" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/4row">
                            <vr-buttontype-selector on-ready="scopeModel.onButtonTypeDirectiveReady" isrequired="true"></vr-buttontype-selector>
                        </vr-columns>
                    </vr-row>
				</vr-tab>
				<vr-tab header="'Settings'">
					<vr-genericdata-genericbe-customactiondefinition-settings on-ready="scopeModel.onCustomActionSettingDirectiveReady" normal-col-num="3" isrequired="true"></vr-genericdata-genericbe-customactiondefinition-settings>
				</vr-tab>
		
			</vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="customActionEditor" data-onclick="scopeModel.saveCustomActionDefinition"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
