<!--<vr-button type="Add" data-onclick="ctrl.addCustomAction" standalone vr-disabled="ctrl.disableAddCustomAction()"></vr-button>

<vr-validator validate="ctrl.isValid()">
    <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                 on-ready="onGridReady" enabledraggablerow="true" ondeleterow="ctrl.removeCustomAction" hidegridmenu>
        <vr-datagridcolumn headertext="'Title'" field="'Title'" disablesorting></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Type'" field="'Type'" disablesorting></vr-datagridcolumn>
    </vr-datagrid>
</vr-validator>-->