<div vr-modalcontent ng-controller="VR_GenericData_FieldTypeGenericDesignEditorController" vr-loader="scopeModel.isLoading" width="'50%'">
    <vr-modalbody>
        <vr-form validationcontext="fieldTypeGenericDesignEditor">
            <vr-row removeline>
                <span ng-if="scopeModel.fieldTypeRuntimeDirective != undefined">
                    <vr-directivewrapper directive="scopeModel.fieldTypeRuntimeDirective"
                                         on-ready="scopeModel.onFieldTypeRumtimeDirectiveReady"
                                         selectionmode="single"
                                         normal-col-num="4"></vr-directivewrapper>
                </span>
                <vr-columns colnum="4">
                    <vr-textbox value="scopeModel.fieldWidth" label="Field Width" type="number" decimalprecision="0" minvalue="1" maxvalue="12"></vr-textbox>
                </vr-columns>
                <vr-common-vrlocalizationtextresource-selector on-ready="scopeModel.onLocalizationTextResourceDirectiveReady" normal-col-num="4" label="Text Resource"></vr-common-vrlocalizationtextresource-selector>
            </vr-row>
            <vr-row removeline>
                <vr-columns colnum="2">
                    <vr-switch value="scopeModel.isRequired" label="Required"></vr-switch>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-switch value="scopeModel.isDisabled" label="Disabled"></vr-switch>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-switch value="scopeModel.showAsLabel" label="Show as Label"></vr-switch>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-switch value="scopeModel.hideLabel" label="Hide Label"></vr-switch>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-switch value="scopeModel.readOnly" label="Read Only"></vr-switch>
                </vr-columns>
            </vr-row>
            <span ng-if="scopeModel.runtimeViewSettingEditor !=undefined">
                <vr-directivewrapper directive="scopeModel.runtimeViewSettingEditor"
                                     selectionmode=single
                                     isrequired="true"
                                     normal-col-num="6"
                                     on-ready="scopeModel.onRuntimeViewSettingsEditorDirectiveReady"></vr-directivewrapper>
            </span>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="fieldTypeGenericDesignEditor" data-onclick="scopeModel.saveFieldTypeSettings"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>