<vr-tab header="'Settings'">
    <vr-row>
        <vr-columns width="3/4row">
            <vr-section header="Main Settings">
                <vr-row>
                    <vr-columns width="1/3row">
                        <vr-select datasource="scopeModel.genericBEDefinitionTypes"
                                   datavaluefield="value"
                                   datatextfield="description"
                                   selectedvalues="scopeModel.selectedGenericBEDefinitionType"
                                   label="Generic BE Type"
                                   isrequired="true"
                                   hideremoveicon
                                   onselectionchanged="scopeModel.onGenericBEDefinitionTypeSelectionChanged">
                        </vr-select>
                    </vr-columns>
                    <span ng-if="scopeModel.selectedGenericBEDefinitionType!=undefined && scopeModel.selectedGenericBEDefinitionType.value==1">
                        <vr-common-connection-selector on-ready="scopeModel.onVRConnectionSelectorReady"
                                                       normal-col-num="4"
                                                       isrequired="true"
                                                       onselectionchanged="scopeModel.onVRConnectionSelectionChanged"
                                                       selectedvalues="scopeModel.selectedVRConnection"
                                                       hideremoveicon="true">
                        </vr-common-connection-selector>

                        <vr-genericdata-genericbedefinition-remoteselector on-ready="scopeModel.onGenericBEDefinitionRemoteSelectorReady" vr-loader="scopeModel.isLoadingGenericBEDefinitionRemoteSelector" normal-col-num="4" isrequired="true"></vr-genericdata-genericbedefinition-remoteselector>
                    </span>
                    <vr-columns width="1/3row" ng-if="scopeModel.selectedGenericBEDefinitionType!=undefined && scopeModel.selectedGenericBEDefinitionType.value==0">
                        <vr-genericdata-datarecordstorage-selector on-ready="scopeModel.onDataRecordStorageSelectorDirectiveReady" selectedvalues="scopeModel.selectedDataRecordStorage" isrequired="true"></vr-genericdata-datarecordstorage-selector>
                    </vr-columns>
                </vr-row>
                <vr-row>
                    <vr-columns width="1/3row">
                        <vr-genericdata-datarecordtype-selector on-ready="scopeModel.onDataRecordTypeSelectorDirectiveReady" label="Data Record Type" isrequired="true" onselectionchanged="scopeModel.onRecordTypeSelectionChanged" selectedvalues="scopeModel.selectedDataRecordType" showaddbutton></vr-genericdata-datarecordtype-selector>
                    </vr-columns>
                    <vr-columns width="1/3row" vr-loader="scopeModel.isLoadingTitle">
                        <vr-genericdata-datarecordtypefields-selector label="Title Field" on-ready="scopeModel.onDataRecordTypeTitleFieldsSelectorDirectiveReady" isrequired="true"></vr-genericdata-datarecordtypefields-selector>
                    </vr-columns>
                    <vr-columns width="1/3row" vr-loader="scopeModel.isLoadingTextResourceField">
                        <vr-genericdata-datarecordtypefields-selector label="Text Resource Field" on-ready="scopeModel.onDataRecordTypeTextResourceFieldSelectorDirectiveReady"></vr-genericdata-datarecordtypefields-selector>
                    </vr-columns>

                </vr-row>
                <vr-row>
                    <vr-columns width="1/3row" vr-loader="scopeModel.isLoadingRequiredParent">
                        <vr-genericdata-datarecordtypefields-selector label="Required Parent Field" on-ready="scopeModel.onDataRecordTypeRequiredParentFieldsDirectiveReady"></vr-genericdata-datarecordtypefields-selector>
                    </vr-columns>

                    <vr-columns width="1/3row">
                        <vr-textbox label="Singular Title" value="scopeModel.selectorSingularTitle">
                    </vr-columns>
                    <vr-columns width="1/3row">
                        <vr-textbox label="Plural Title" value="scopeModel.selectorPluralTitle">
                    </vr-columns>
                </vr-row>
                <vr-row>

                    <vr-columns width="1/3row">
                        <vr-common-modalwidth-selector hideremoveicon on-ready="scopeModel.onModalWidthSelectorReady" isrequired="true"></vr-common-modalwidth-selector>
                    </vr-columns>
                    <vr-columns colnum="2">
                        <vr-switch value="scopeModel.hideAddButton" label="Hide Add Button"></vr-switch>
                    </vr-columns>
                    <vr-columns colnum="2">
                        <vr-switch value="scopeModel.isRemoteSelector" label="Remote Selector"></vr-switch>
                    </vr-columns>
                    <vr-columns colnum="2">
                        <vr-switch value="scopeModel.doNotLoadByDefault" label="Don't Load by Default"></vr-switch>
                    </vr-columns>
                    <vr-columns colnum="2">
                        <vr-switch value="scopeModel.hideViewInfo" label="Hide View Info"></vr-switch>
                    </vr-columns>

                </vr-row>
                <vr-genericdata-genericbe-extendedsettings on-ready="scopeModel.onGenericBEEditorExtendedSettingsReady" normal-col-num="4"></vr-genericdata-genericbe-extendedsettings>
            </vr-section>
            <vr-section header="Additional Settings">
                <vr-genericdata-genericbe-additionalsettings-grid on-ready="scopeModel.onAdditionalSettingsGridReady"></vr-genericdata-genericbe-additionalsettings-grid>
            </vr-section>

        </vr-columns>
        <vr-columns width="1/4row">
            <vr-section header="Upload Settings">
                <vr-row removeline>
                    <vr-columns colnum="2">
                        <vr-switch value="scopeModel.showUploadButton" label="Show Upload Button"></vr-switch>
                    </vr-columns>
                </vr-row>
                <vr-genericdata-genericbe-uploaddefinition-grid on-ready="scopeModel.uploadedFiledsGridReady" ng-show="scopeModel.showUploadButton" isrequired="scopeModel.showUploadButton"></vr-genericdata-genericbe-uploaddefinition-grid>
            </vr-section>
        </vr-columns>
    </vr-row>
  
</vr-tab>

<vr-tab header="'Actions Definition'">
    <vr-row>
        <vr-columns width="1/3row">
            <vr-section title="Actions">
                <vr-genericdata-genericbe-actiondefinition-grid on-ready="scopeModel.onGenericBEActionDefinitionDirectiveReady"></vr-genericdata-genericbe-actiondefinition-grid>
            </vr-section>
        </vr-columns>
        <vr-columns width="1/3row">
            <vr-section title="Bulk Actions">
                <vr-span vr-loader="scopeModel.isLoadingBulkActionsDirective">
                    <vr-genericdata-genericbe-bulkactions-management on-ready="scopeModel.onGenericBEBulkActionsDirectiveReady"></vr-genericdata-genericbe-bulkactions-management>
                </vr-span>
            </vr-section>
        </vr-columns>
        <vr-columns width="1/3row">
            <vr-section title="Custom Actions">
                <vr-span vr-loader="scopeModel.isLoadingCustomActionsDirective">
                    <vr-genericdata-genericbe-customactiondefinition-grid on-ready="scopeModel.onGenericBECustomActionsDirectiveReady"></vr-genericdata-genericbe-customactiondefinition-grid>
                </vr-span>
            </vr-section>
        </vr-columns>
    </vr-row>
</vr-tab>

<vr-tab header="'Grid Definition'">
    <vr-row>
        <vr-columns width="1/2row">
            <vr-section header="Grid Columns" collapsible vr-loader="scopeModel.isLoadingColumns">
                <vr-genericdata-genericbe-columndefinition-grid on-ready="scopeModel.onGenericBEColumnDefinitionGridReady"></vr-genericdata-genericbe-columndefinition-grid>
            </vr-section>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-section header="Grid Views" collapsible>
                        <vr-genericdata-genericbe-viewdefinition-grid on-ready="scopeModel.onGenericBEViewDefinitionGridReady"></vr-genericdata-genericbe-viewdefinition-grid>
                    </vr-section>
                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-section header="Grid Actions" collapsible>
                        <vr-genericdata-genericbe-gridactiondefinition-grid on-ready="scopeModel.onGenericBEGridActionDefinitionDirectiveReady"></vr-genericdata-genericbe-gridactiondefinition-grid>
                    </vr-section>
                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-section header="Grid Actions Group" collapsible>
                        <vr-genericdata-genericbe-gridactiongroupdefinition-grid on-ready="scopeModel.onGenericBEGridActionGroupDefinitionDirectiveReady"></vr-genericdata-genericbe-gridactiongroupdefinition-grid>
                    </vr-section>
                </vr-columns>
            </vr-row>
        </vr-columns>
    </vr-row>
    <!--<vr-row>
        
      

    </vr-row>-->
</vr-tab>

<vr-tab header="'Editor Definition'">
    <vr-row>
        <vr-columns width="fullrow" haschildcolumns>
            <vr-genericdata-genericbe-editordefinition-settings on-ready="scopeModel.onGenericBEEditorDefinitionDirectiveReady" normal-col-num="3"></vr-genericdata-genericbe-editordefinition-settings>
        </vr-columns>
    </vr-row>
</vr-tab>
<vr-tab header="'360° View Settings'">
    <vr-row>
        <vr-columns colnum="2">
            <vr-switch value="scopeModel.use360Degree" onvaluechanged="scopeModel.onUse360DegreesValueChanged" label="Enable 360° View"></vr-switch>
        </vr-columns>
    </vr-row>
    <span ng-show="scopeModel.use360Degree" vr-loader="scopeModel.isLoadingThreeHundredSixtyDegreesEditorDirective">
        <vr-genericdata-genericbe-editordefinition-settings on-ready="scopeModel.on360DegreesEditorDefinitionDirectiveReady" normal-col-num="3" isnotrequired showremoveicon="true"></vr-genericdata-genericbe-editordefinition-settings>
    </span>
</vr-tab>

<vr-tab header="'Filter Definition'">
    <vr-row vr-loader="scopeModel.isLoadingFilter">
        <vr-columns width="fullrow" haschildcolumns>
            <vr-genericdata-genericbe-filterdefinition-settings on-ready="scopeModel.onGenericBEFilterDefinitionDirectiveReady" normal-col-num="3"></vr-genericdata-genericbe-filterdefinition-settings>
        </vr-columns>
    </vr-row>
</vr-tab>

<vr-tab header="'Order Type'">
    <vr-row>
        <vr-genericdata-genericbe-orderdirection-selective on-ready="scopeModel.onOrderDirectionSelectorReady" normal-col-num="3"></vr-genericdata-genericbe-orderdirection-selective>
    </vr-row>
    <span vr-loader="scopeModel.isLoadingOrderTypeSelector">
        <vr-genericdata-genericbe-ordertype-selective on-ready="scopeModel.onOrderTypeSelectorReady" normal-col-num="3"></vr-genericdata-genericbe-ordertype-selective>
    </span>
</vr-tab>

<vr-tab header="'Handlers'">
    <vr-row>
        <vr-columns width="fullrow">
            <vr-section header="Before Insert Handler" collapsible vr-loader="scopeModel.isLoadingBeforeInsert">
                <vr-genericdata-genericbe-beforeinserthandler-settings on-ready="scopeModel.onGenericBEBeforeInsertHandlerSettingsReady" normal-col-num="3"></vr-genericdata-genericbe-beforeinserthandler-settings>
            </vr-section>
        </vr-columns>
        <vr-columns width="fullrow">
            <vr-section header="After Save Handler" collapsible vr-loader="scopeModel.isLoadingAfterSave">
                <vr-genericdata-genericbe-aftersavehandler-settings on-ready="scopeModel.onGenericBEAfterSaveHandlerSettingsReady" normal-col-num="3"></vr-genericdata-genericbe-aftersavehandler-settings>
            </vr-section>
        </vr-columns>
        <vr-columns width="fullrow">
            <vr-section header="Before Get Filtered Handler" collapsible vr-loader="scopeModel.isLoadingBeforeGetFiltered">
                <vr-genericdata-genericbe-beforegetfilteredhandler-settings on-ready="scopeModel.onGenericBEBeforeGetFilteredHandlerSettingsReady" normal-col-num="3"></vr-genericdata-genericbe-beforegetfilteredhandler-settings>
            </vr-section>
        </vr-columns>
    </vr-row>
</vr-tab>

<vr-tab header="'Security'">
    <vr-genericdata-genericbe-security on-ready="scopeModel.onGenericBESecurityReady"></vr-genericdata-genericbe-security>
</vr-tab>