<!--<div vr-modalcontent ng-controller="VR_GenericData_GenericBEGridActionGroupDefintionEditorController" vr-loader="scopeModel.isLoading" width="'40%'">
    <vr-modalbody>
        <vr-form validationcontext="gridActionGroupEditor">
			<vr-row>
				<vr-columns width="1/2row">
					<vr-textbox value="scopeModel.title" label="Title" isrequired></vr-textbox>
				</vr-columns>
				<vr-common-vrlocalizationtextresource-selector on-ready="scopeModel.onLocalizationTextResourceDirectiveReady" normal-col-num="6"></vr-common-vrlocalizationtextresource-selector>
			</vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="gridActionGroupEditor" data-onclick="scopeModel.saveGridActionGroupDefinition"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>-->
