<vr-row>
	<vr-columns width="1/2row" vr-loader="scopeModel.isLoadingTitle">
		<vr-genericdata-datarecordtypefields-selector label="Uploaded Fields" on-ready="scopeModel.onDataRecordTypeUploadedFieldsSelectorDirectiveReady" ismultipleselection isrequired="uploadDefGridCtrl.isrequired" onselectitem="scopeModel.onSelectUploadFieldItem" ondeselectitem="scopeModel.onDeselectUploadFieldItem" ondeselectallitems="scopeModel.onDeselecAlltUploadFieldItems"></vr-genericdata-datarecordtypefields-selector>
	</vr-columns>
	<vr-columns width="1/2row">
		<vr-columns width="fullrow">
			<vr-datagrid datasource="scopeModel.uploadedFields"
						 on-ready="onGridReady"
						 dataretrievalfunction="dataRetrievalFunction"
						 pagingtype="'PagingOnScroll'"
						 menuactions="gridMenuActions"
						 maxheight="150px"
						 idfield="Entity.BusinessEntityDefinitionId">

				<vr-datagridcolumn headertext=" 'Title Field' " field="'TitleField'" type=" 'Text' ">
				</vr-datagridcolumn>
				<vr-datagridcolumn headertext="'Is Required'" field="'IsRequired'">
					<vr-switch value="dataItem.IsRequired"></vr-switch>
				</vr-datagridcolumn>
			</vr-datagrid>
		</vr-columns>
	</vr-columns>
</vr-row>
