<vr-section title="Regions">
    <vr-row>
        <vr-columns width="1/2row">
            <vr-button type="Add" data-onclick="scopeModel.addRegion" standalone></vr-button>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
                <vr-datagrid datasource="scopeModel.datasource"
                             enabledraggablerow="true"
                             hidegridmenu
                             ondeleterow="scopeModel.onDeleteRegion">
                    <vr-datagridcolumn headertext="'Region'">
                        <vr-span vr-loader="scopeModel.isRegionDirectiveloading">
                            <whs-jazz-region-selector on-ready="dataItem.onRegionSelectorReady" isrequired="true" hidelabel></whs-jazz-region-selector>
                        </vr-span>
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Percentage'" type="'Number'">
                        <vr-textbox value="dataItem.percentage"></vr-textbox>
                    </vr-datagridcolumn>
                </vr-datagrid>
        </vr-columns>
    </vr-row>
</vr-section>