<vr-datagrid datasource="nationalNumberingPlans"
                on-ready="onGridReady"
                dataretrievalfunction="dataRetrievalFunction"
                pagingtype="'PagingOnScroll'"
                menuactions="gridMenuActions"
                idfield="Entity.NationalNumberingPlanId">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.NationalNumberingPlanId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'National Numbering Plan Name'" field="'Entity.Name'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Company'" field="'Entity.Settings.Company'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Country'" field="'CountryName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>