<vr-panel ng-controller="WhS_Sales_CodeCompareManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <span vr-loader="isLoadingSellingNumberPlan">
                    <vr-whs-be-sellingnumberplan-selector normal-col-num="2" isrequired="true" on-ready="onSellingNumberPlanSelectorReady"></vr-whs-be-sellingnumberplan-selector>
                </span>
                <vr-whs-be-supplier-selector getsuppliers on-ready="onCarrierAccountDirectiveReady" normal-col-num="2" isrequired="true" ismultipleselection selectedvalues="selectedSuppliers" onselectitem="onSelectItem" ondeselectitem="onDeselectItem" ondeselectallitems="onDeselectAll" hideselectall></vr-whs-be-supplier-selector>
                <vr-columns width="normal">
                    <vr-textbox value="threshold" label="Threshold" isrequired="true" customvalidate="validateThreshold()"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox value="codeStartWith" label="Code Start With"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Supplier Zone Names"
                               on-ready="scopeModel.onSelectorReady"
                               datasource="scopeModel.SupplierZoneNames"
                               datavaluefield="CarrierAccountId"
                               datatextfield="Name"
                               selectedvalues="scopeModel.selectedSupplierZoneName">
                    </vr-select>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Load" formname="formFilter" data-onclick="loadClicked"></vr-button>
                    <vr-button type="Export" formname="formFilter" data-onclick="exportClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-sales-codecompare-grid on-ready="scopeModel.onGridReady"></vr-whs-sales-codecompare-grid>
            </vr-columns>
        </vr-row>
    </vr-form>

</vr-panel>