
<div vr-modalcontent ng-controller="Demo_Module_MemberEditorController" vr-loader="scopeModel.isLoading" width="small">
    <vr-modalbody>
        <vr-form name="formMemberEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row removeline>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModel.name" label="Name" isrequired></vr-textbox>
                        </vr-columns>
                        <demo-module-family-selector isdisabled="scopeModel.disableFamily" on-ready="scopeModel.onFamilyDirectiveReady" isrequired="true" normal-col-num="6"></demo-module-family-selector>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Settings'">
                    <demo-module-member-membershape normal-col-num="6" isrequired="true" on-ready="scopeModel.onMemberShapeDirectiveReady"></demo-module-member-membershape>
                </vr-tab>
            </vr-tabs>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formMemberEditor" data-onclick="scopeModel.saveMember"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>