<vr-panel ng-controller="Demo_Module_RoomManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingFilters">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox value="name" label="Name"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal" haschildcolumns>
                    <demo-module-building-selector on-ready="onBuildingDirectiveReady" ismultipleselection></demo-module-building-selector>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <vr-button type="Add" data-onclick="addNewRoom"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <demo-module-room-grid on-ready="onGridReady"></demo-module-room-grid>
            </vr-columns>
        </vr-row>

    </vr-form>

</vr-panel>