<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid datasource="switchRules"
                     on-ready="onGridReady"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     menuactions="gridMenuActions"
                     idfield="Entity.RuleId">

            <vr-datagridcolumn headertext="'ID'" field="'Entity.RuleId'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Description'" field="'Entity.Description'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Switch Name'" field="'SwitchName'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'DataSources Names'" field="'DataSourcesNames'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'BED'" field="'Entity.BeginEffectiveTime'" type="'Datetime'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'EED'" field="'Entity.EndEffectiveTime'" type="'Datetime'"></vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>
