<vr-datagrid datasource="codegroups"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.CodeGroupId" enableautoexport="true">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.CodeGroupId'" type="'Text'" widthfactor="2"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Code Group'" field="'Entity.Code'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Country'" field="'CountryName'" type="'Text'" ng-if="!hidecountrycolumn"></vr-datagridcolumn>
</vr-datagrid>