<vr-row>
    <vr-columns width="1/4row">
        <vr-genericdata-datarecordtypefields-selector selectedvalues="scopeModel.selectedField" isrequired="true" label="Field" on-ready="scopeModel.onDataRecordTypeFieldsSelectorDirectiveReady"></vr-genericdata-datarecordtypefields-selector>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-section header="Required Permission">
            <vr-sec-requiredpermission-grid on-ready="scopeModel.onRequiredPermissionReady"></vr-sec-requiredpermission-grid>
        </vr-section>
    </vr-columns>
</vr-row>