<div vr-modalcontent ng-controller="VR_Sec_GroupEditorController" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formGroupEditor">
            <vr-row>
                <vr-textbox label="Name" value="name" isrequired></vr-textbox>
            </vr-row>
            <vr-row>
                <vr-textarea label="Description" value="description" />
            </vr-row>
            <vr-row>
                <vr-sec-user-selector ismultipleselection on-ready="onUserSelectorReady" customlabel="Group Members"></vr-sec-user-selector>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formGroupEditor" data-onclick="saveGroup"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
