<div vr-modalcontent ng-controller="WhS_CDRProcessing_SupplierIdentificationRuleEditorController" vr-loader="scopeModal.isLoading" width="'50%'">
    <vr-modalbody maxheight="'500px'">
        <vr-form validationcontext="supplierIdentificationEditorGroup">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-textarea label="Description" value="scopeModal.description" isrequired></vr-textarea>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Criteria'">
                    <vr-row>
                        <vr-columns width="fullrow">


                            <vr-row>
                                <vr-columns width="1/4row">
                                    <vr-textbox label="Out Trunk" value="scopeModal.outTrunk" onvaluechanged="scopeModal.onOutTrunkValueChange"></vr-textbox>
                                </vr-columns>
                                <vr-columns width="normal" withemptyline>
                                    <vr-button type="Add" data-onclick="scopeModal.addTrunk" standalone vr-disabled="scopeModal.disableOutTrunkAddButton"></vr-button>
                                </vr-columns>
                                <vr-columns width="fullrow">
                                    <vr-datalist maxitemsperrow="6" datasource="scopeModal.outTrunks" autoremoveitem="true">
                                        {{dataItem}}
                                    </vr-datalist>
                                </vr-columns>
                            </vr-row>
                            <vr-row>
                                <vr-columns width="1/4row">
                                    <vr-textbox label="Out Carrier" value="scopeModal.outCarrier" onvaluechanged="scopeModal.onOutCarrierValueChange"></vr-textbox>
                                </vr-columns>
                                <vr-columns width="normal" withemptyline>
                                    <vr-button type="Add" data-onclick="scopeModal.addCarrier" standalone vr-disabled="scopeModal.disableOutCarrierAddButton"></vr-button>
                                </vr-columns>
                                <vr-columns width="fullrow">
                                    <vr-datalist maxitemsperrow="6" datasource="scopeModal.outCarriers" autoremoveitem="true">
                                        {{dataItem}}
                                    </vr-datalist>
                                </vr-columns>
                            </vr-row>
                            <vr-row>
                                <vr-columns width="1/4row">
                                    <vr-textbox label="CDPN Prefix" value="scopeModal.CDPNPrefix" onvaluechanged="scopeModal.onCDPNValueChange"></vr-textbox>
                                </vr-columns>
                                <vr-columns width="normal" withemptyline>
                                    <vr-button type="Add" data-onclick="scopeModal.addCDPNPrefix" standalone vr-disabled="scopeModal.disableAddCDPNPrefixButton"></vr-button>
                                </vr-columns>
                                <vr-columns width="fullrow">
                                    <vr-datalist maxitemsperrow="6" datasource="scopeModal.CDPNPrefixes" autoremoveitem="true">
                                        {{dataItem}}
                                    </vr-datalist>

                                </vr-columns>
                            </vr-row>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Settings'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-whs-be-carrieraccount-selector getsuppliers selectedvalues="scopeModal.selectedSupplier" on-ready="scopeModal.onCarrierAccountDirectiveReady" isrequired></vr-whs-be-carrieraccount-selector>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Scheduler'">
                    <vr-validator validate="scopeModal.validateDateTime()">
                        <vr-row>
                            <vr-columns width="1/3row">
                                <vr-datetimepicker label="Begin Effective Date" value="scopeModal.beginEffectiveDate" type="date" isrequired></vr-datetimepicker>
                            </vr-columns>

                            <vr-columns width="1/3row">
                                <vr-datetimepicker label="End Effective Date" value="scopeModal.endEffectiveDate" type="date"></vr-datetimepicker>
                            </vr-columns>
                        </vr-row>
                        </vr-validator>
</vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="supplierIdentificationEditorGroup" data-onclick="scopeModal.SaveSupplierRule"></vr-button>
                <vr-button type="Close" data-onclick="scopeModal.close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
