<div ng-controller="Security_WidgetPreviewController">
    <vr-form name="formWidgetPreview">
        <vr-row>
            <vr-columns width="normal">
                <vr-datetimepicker type="date" value="fromDate" label="From" isrequired></vr-datetimepicker>
            </vr-columns>

            <vr-columns width="normal">
                <vr-datetimepicker type="date" value="toDate" label="To" isrequired></vr-datetimepicker>
            </vr-columns>
            <vr-columns width="normal">
                <vr-select datasource="timeDimensionTypes" datatextfield="description" datavaluefield="value" label="Grouped By"
                           selectedvalues="selectedTimeDimensionType" isrequired hidefilterbox></vr-select>
            </vr-columns>
            <vr-columns width="normal">
                <vr-select datasource="periods" datatextfield="description" datavaluefield="value" label="Period"
                           selectedvalues="selectedPeriod" isrequired hidefilterbox onselectionchanged="periodSelectionChanged"></vr-select>
            </vr-columns>
        </vr-row>
    </vr-form>
    <vr-row>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Search" formname="formWidgetPreview" data-onclick="Search"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>
    <div vr-loader="isGettingData">
        <vr-row>
            <div>
                <vr-columns width="fullrow">
                    <vr-directivewrapper directive="widget.Setting.directive" title="widget.SectionTitle" on-ready="onElementReady" settings="widget.Setting.settings"
                                         retrievedataonload="false" filter="filter"></vr-directivewrapper>
                </vr-columns>
            </div>

        </vr-row>
    </div>
</div>
