<div vr-modalcontent ng-controller="VRCommon_CityEditorController" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formCityEditor">
            <vr-row removeline>
                <vr-columns width="1/2row">
                    <vr-textbox value="name" label="Name" localizedlabel="VRRes.Name.VREnd" isrequired></vr-textbox>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-textbox value="abbreviation" label="Abbreviation" localizedlabel="VRRes.Abbreviation.VREnd" isrequired></vr-textbox>
                </vr-columns>
                <span vr-disabled="disableCountry">
                    <vr-columns width="1/2row" haschildcolumns>
                        <vr-common-country-selector on-ready="onCountryDirectiveReady" isrequired="true" onselectionchanged="onCountrySelectionChanged" showaddbutton></vr-common-country-selector>
                    </vr-columns>
                </span>
                <vr-columns width="1/2row" vr-loader="isLoadingRegions" haschildcolumns>
                    <vr-common-region-selector on-ready="onRegionDirectiveReady" showaddbutton></vr-common-region-selector>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formCityEditor" data-onclick="saveCity"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
