<div ng-controller="Runtime_WFActionTemplateController">
    <vr-section title="Worklfow Action">
        <div>
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-select label="Workflow Name" datatextfield="Title" datavaluefield="BPDefinitionID"
                               datasource="bpDefinitions" selectedvalues="selectedBPDefintion"></vr-select>
                </vr-columns>
            </vr-row>
        </div>
        <div>
            <vr-row>
                <vr-section title="Settings" level="2">
                    <vr-columns width="fullrow">
                        <div ng-include="selectedBPDefintion.Configuration.ScheduleTemplateURL" />
                    </vr-columns>
                </vr-section>
            </vr-row>
                    
        </div>
    </vr-section>
</div>
