

<vr-columns width="1/2row">
    <vr-genericdata-datarecordtypefields-selector on-ready="scopeModel.onDataRecordTypeFieldsSelectorReady"
                                                  onselectionchanged="scopeModel.onDataRecordTypeFieldsSelectionChanged"
                                                  isrequired="false"
                                                  label="Field"
                                                  hideremoveicon>
    </vr-genericdata-datarecordtypefields-selector>
</vr-columns>