<vr-columns width="1/2row">
    <vr-genericdata-datarecordtypefields-selector on-ready="scopeModel.onDataRecordTypeFieldsSelectorReady"
                                                  label="Field" isrequired="true" hideremoveicon>
    </vr-genericdata-datarecordtypefields-selector>
</vr-columns>
<vr-columns width="1/2row">
    <vr-genericdata-datarecordtypefields-selector on-ready="scopeModel.onCurrencyDataRecordTypeFieldsSelectorReady"
                                                  label="Currency SQL Column Name" isrequired="false">
    </vr-genericdata-datarecordtypefields-selector>
</vr-columns>
