<vr-datagrid datasource="changedCodes"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="[]" enableautoexport="true">

    <vr-datagridcolumn headertext="'Country'" field="'CountryName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Change Type'" ng-show="showStatusIcon">
        <span>
            <vr-icon iconurl="dataItem.StatusIconUrl" tooltip="'Modified'"></vr-icon>
        </span>
    </vr-datagridcolumn>

    <vr-datagridcolumn headertext="'New Zones'" field="'Entity.NewZones'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Renamed Zones'" field="'Entity.RenamedZones'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Deleted Zones'" field="'Entity.DeletedZones'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>

</vr-datagrid>