<div style="position:relative">
    <div style="position:absolute;right:-10px;top:-16px;z-index:101">

        <div class="dropdown">
            <label id="dropdownMenuType" class="dropdown-toggle" style="padding-top:6px" data-toggle="dropdown" aria-expanded="true">
                <label class="hand-cursor" style="display: inline-block; min-width: 100px; font-size: 12px; border-width: 0px 0px 1px 1px;border-style: solid;border-color: #F0F0F0;
 border-bottom-left-radius: 4px; padding: 5px; ">
                    By {{ctrl.getLastSelectedValue()}}<span style="float:right;top:8px;position:relative" class="caret"></span>
                </label>
            </label>
            <ul class="dropdown-menu dropdown-menu-custom menu-right" role="menu" aria-labelledby="dropdownMenuType" ng-mouseenter="ctrl.muteaction($event);">
                <li role="presentation">
                    <div ng-repeat="c in ctrl.datasource" class="mark-select " ng-mouseenter="ctrl.muteaction($event);" ng-click="selectValue($event, c);"
                         style="display: block;padding:2px; margin:2px; white-space: normal;">
                        <div class="hand-cursor" style="display: table-cell;  white-space: nowrap; text-overflow: ellipsis; overflow:hidden">{{ctrl.getObjectText(c)}}</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>