<vr-panel ng-controller="WhS_Deal_SwapDealManagementController" vr-loader="scopeModel.isLoading">
	<vr-form name="formFilter">
		<div ng-hide="filterSectionCollapsed" vr-loader="scopeModel.isLoading">
            <vr-row removeline>
                <vr-whs-be-carrieraccount-selector on-ready="scopeModel.onCarrierAccountSelectorReady" normal-col-num="2" getexchangecarriers
                                                   ismultipleselection="true" onselectionchanged="scopeModel.onCarrierAccountSelectionChanged"></vr-whs-be-carrieraccount-selector>
                <vr-columns width="normal">
                    <vr-textbox label="Description" value="scopeModel.description"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-whs-deal-status-selector on-ready="scopeModel.onStatusSelectorReady" ismultipleselection></vr-whs-deal-status-selector>
                </vr-columns>

            </vr-row>
		</div>
		<vr-row removeline>
			<vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
				<div transclude-to="buttons">
					<vr-button type="Search" formname="formFilter" data-onclick="scopeModel.search"></vr-button>
					<vr-button type="Analyze" data-onclick="scopeModel.analyze"></vr-button>
                    <vr-button type="Add" data-onclick="scopeModel.add" haspermission="scopeModel.hasAddSwapDealPermission"></vr-button>
				</div>
			</vr-actionbar>
		</vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-deal-swapdeal-grid on-ready="scopeModel.onGridReady"></vr-whs-deal-swapdeal-grid>
            </vr-columns>
        </vr-row>
	</vr-form>
</vr-panel>