
<vr-tab header="'Itemset Name Parts'">
    <vr-common-vrconcatenatedparts on-ready="scopeModel.onConcatenatedPartsReady"></vr-common-vrconcatenatedparts>
</vr-tab>
<vr-tab header="'Grid Columns'">
    <vr-invoicetype-invoicesubsectiongridcolumns on-ready="scopeModel.onSubSectionGridColumnsReady"></vr-invoicetype-invoicesubsectiongridcolumns>
</vr-tab>
<vr-tab header="'Sub Sections'">
    <vr-invoicetype-invoiceuisubsectionsettings-invoiceitem-subsections on-ready="scopeModel.onInvoiceItemSubSectionGridColumnsReady"></vr-invoicetype-invoiceuisubsectionsettings-invoiceitem-subsections>
</vr-tab>


