<div vr-loader="isLoading">
    <vr-datagrid datasource="bpInstances" loadmoredata="loadMoreData"
                 on-ready="onGridReady"
                 pagingtype="'PagingOnScroll'"
                 menuactions="gridMenuActions"
                 idfield="Entity.ProcessInstanceID">
        <vr-datagridcolumn headertext="'ID'" field="'Entity.ProcessInstanceID'" disablesorting="true" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Title'" field="'Entity.Title'" type="'Text'" isclickable="true" onclicked="processInstanceClicked" disablesorting="true" widthfactor="15"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Status'" field="'StatusDescription'"  getcolor="getStatusColor" disablesorting="true" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Created On'" field="'Entity.CreatedTime'" type="'LongDatetime'" disablesorting="true" fixedwidth="'120'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Last Status Update'" field="'Entity.StatusUpdatedTime'" type="'LongDatetime'" disablesorting="true" fixedwidth="'120'"></vr-datagridcolumn>
    </vr-datagrid>
</div>
