<vr-panel ng-controller="Routing_RoutingManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns colnum="2">
                    <vr-select label="Customer" ismultipleselection datasource="customers" selectedvalues="selectedCustomers" datatextfield="Name" datavaluefield="CarrierAccountID"
                               entityname="Customers">
                    </vr-select>
                </vr-columns>
                <vr-columns colnum="2">
                    <div class="btn-group btn-group-custom" role="group" ng-init="option=1">
                        <label class="hand-cursor vr-control-label" ng-class="option == 1?'clicked-btn':''" ng-click="option = 1">By Zones</label>
                        <label>|</label>
                        <label class="hand-cursor vr-control-label" ng-class="option == 2?'clicked-btn':''" ng-click="option = 2">By Code</label>
                    </div>
                    <vr-select ng-show="option == 1" ismultipleselection datasource="zones" selectedvalues="selectedZones" datatextfield="Name" datavaluefield="ZoneId"
                               entityname="Zones"></vr-select>
                    <vr-textbox ng-show="option == 2" value="code" place-holder="'Type Code'"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row></vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>
    <div>
        <vr-row>
            <vr-columns colnum="12" simplecol>
                <vr-datagrid onsortchanged="onMainGridSortChanged" datasource="routingDataSource" loadmoredata="loadMoreData" on-ready="gridReady" menuactions="gridMenuActions">
                    <vr-datagridcolumn ng-show="selectedCustomers.length !=1" headertext="'CustomerName'" field="'CustomerName'">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Code'" field="'Code'">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'ServicesFlag'" field="'ServicesFlag'" widthfactor="5">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Rate'" field="'Rate'" widthfactor="5">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Suppliers'" widthfactor="30">
                        <span ng-repeat="option in dataItem.Options" style="margin-right:8px;" title="{{option.Supplier}}, Zone:{{option.ZoneName}}, Rate: {{option.Rate}} ">
                            <span style="font-weight:bold">{{option.Supplier}}</span>
                            <span style="font-weight:bold" ng-show="option.Percentage > 0">{{option.Percentage}}</span>
                        </span>
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Affected Rule'" field="'ruleTypeName'" isclickable="'true'" onclicked="onRuleClicked"></vr-datagridcolumn>
                    <vr-datagridexpandablerow>

                        <vr-choices>
                            <vr-choice isselected="choiceSupplierOptionsnSelected">Suppliers</vr-choice>
                            <vr-choice isselected="choiceRouteRulesSelected">Rules</vr-choice>
                        </vr-choices>

                        <vr-datagrid ng-show="choiceSupplierOptionsnSelected" drilldownlevel="2" datasource="dataItem.Options" issubgrid>
                            <vr-datagridcolumn headertext="'Supplier'" field="'Supplier'">
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Rate'" field="'Rate'" widthfactor="3">
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'">
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Services Flag'" field="'ServicesFlag'" widthfactor="3">
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Percentage'" field="'Percentage'" widthfactor="3">
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Priority'" field="'Priority'" widthfactor="3">
                            </vr-datagridcolumn>
                        </vr-datagrid>

                        <div ng-show="choiceRouteRulesSelected">
                            <vr-row>
                                <vr-columns colnum="12" simplecol>
                                    <div ng-include="'/Client/Modules/Routing/Views/RoutingRules/RoutingRulesGrid.html'"
                                </vr-columns>
                            </vr-row>
                        </div>
                    </vr-datagridexpandablerow>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>
