<vr-panel ng-controller="Routing_RoutingManagementController">
    <vr-form name="formFilter">

        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>

                <vr-columns colnum="2">

                    <vr-select label="Customer" ismultipleselection datasource="customers" selectedvalues="selectedCustomers" datatextfield="Name" datavaluefield="CarrierAccountID"
                               entityname="Customers">
                    </vr-select>
                </vr-columns>
                <vr-columns colnum="2">
                    <div class="btn-group btn-group-custom" role="group" ng-init="option=1">
                        <label class="hand-cursor" ng-class="option == 1?'clicked-btn':''" ng-click="option = 1">By Zones</label>
                        <label>|</label>
                        <label class="hand-cursor" ng-class="option == 2?'clicked-btn':''" ng-click="option = 2">By Code</label>
                    </div>
                    <vr-select ng-show="option == 1" ismultipleselection datasource="zones" selectedvalues="selectedZones" datatextfield="Name" datavaluefield="ZoneId"
                               entityname="Zones"></vr-select>
                    <number-filed ng-show="option == 2" input-value="code" place-holder="'Type Code'" />

                </vr-columns>
            </vr-row>
            <vr-row></vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

    </vr-form>
    <div>
        <vr-row>
            <vr-columns colnum="12" simplecol>
                <vr-datagrid onsortchanged="onMainGridSortChanged" datasource="routingDataSource" loadmoredata="loadMoreData" on-ready="gridReady" menuactions="gridMenuActions">
                    <vr-datagridcolumn headertext="'CustomerName'" field="'CustomerName'">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Code'" field="'Code'">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Zone'" field="'SaleZoneId'">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'ServicesFlag'" field="'ServicesFlag'">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Rate'" field="'Rate'">
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Rate'">
                        <div ng-repeat="supplierOption in routingDataSource">
                            <div ng-repeat="option in supplierOption.Options">{{option.Rate | number:4}}</div>
                        </div>
                    </vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
        <div>
            <div ng-repeat="supplierOption in routingDataSource">
                <div ng-repeat="option in supplierOption.Options">{{option.Rate | number:4}}</div>
            </div>
        </div>
        <div ng-include="'/Client/Modules/Routing/Views/RoutingManagement/Test.html'"></div>
    </div>

</vr-panel>
