<vr-panel ng-controller="BusinessProcess_BPDefinitionManagementController">

    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns colnum="2">
                    <vr-textbox label="Title" value="title"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

        <div>
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-datagrid datasource="filteredDefinitions" on-ready="onGridReady" menuactions="gridMenuActions"  pagingtype="'PagingOnScroll'" dataretrievalfunction="dataRetrievalFunction" >
                        <vr-datagridcolumn headertext="'Process'" field="'Title'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Opened Instances'">{{dataItem.openedInstances.length}}</vr-datagridcolumn>
                        <vr-datagridexpandablerow>

                            <vr-choices>
                                <vr-choice isselected="dataItem.isRunningTabShown">Recent Instances</vr-choice>
                                <vr-choice isselected="dataItem.isScheduledTabShow">Scheduled Instances</vr-choice>
                            </vr-choices>

                            <div ng-show="dataItem.isRunningTabShown">
                                <vr-datagrid datasource="dataItem.recentInstances">
                                    <vr-datagridcolumn headertext="'Title'" field="'Title'" isclickable="true" onclicked="viewScope.processInstanceClicked"></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Status'" field="'StatusDescription'" widthfactor="5" getcolor="viewScope.getStatusColor"></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Created On'" field="'CreatedTime'" type="'Datetime'"></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Last Status Update Time'" field="'StatusUpdatedTime'" type="'Datetime'"></vr-datagridcolumn>
                                </vr-datagrid>
                            </div>
                            <div ng-show="dataItem.isScheduledTabShow">
                                <vr-datagrid datasource="dataItem.scheduledTasks">
                                    <vr-datagridcolumn headertext="'Name'" field="'Name'" isclickable="true" onclicked="viewScope.schedulerTaskClicked"></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Status'" field="'StatusDescription'" widthfactor="5" getcolor="viewScope.getStatusColor"></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Last Run Time'" field="'LastRunTime'"></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Next Run Time'" field="'NextRunTime'"></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Is Enabled'" field="'IsEnabledDescription'">     </vr-datagridcolumn>

                                </vr-datagrid>
                            </div>






                        </vr-datagridexpandablerow>
                    </vr-datagrid>
                </vr-columns>
            </vr-row>
        </div>


    </vr-form>



</vr-panel>