<vr-columns width="1/2row">
    <vr-select datasource="scopeModel.invoiceFields"
               datatextfield="description"
               datavaluefield="value"
               selectedvalues="scopeModel.selectedInvoiceField"
               isrequired="true"
               label="Invoice Field">
    </vr-select>
</vr-columns>
<vr-columns width="1/2row" ng-show="scopeModel.isCustomFieldRequired()">
    <vr-genericdata-datarecordtypefields-selector on-ready="scopeModel.onDataRecordFieldsSelectorReady"
                                                  isrequired="scopeModel.isCustomFieldRequired()">
    </vr-genericdata-datarecordtypefields-selector>
</vr-columns>