<vr-row>
    <vr-columns width="1/3row">
        <vr-select label="Days of the Month"
                   datasource="ctrl.monthlyTypes"
                   datavaluefield="value"
                   datatextfield="description"
                   selectedvalues="ctrl.selectedMonthlyType"
                   hideremoveicon="true">
        </vr-select>
    </vr-columns>
    <vr-columns width="1/3row" ng-if="ctrl.selectedMonthlyType.value == 0">
        <vr-textbox value="ctrl.specificDay" type="number" decimalprecision="0" minvalue="1" maxvalue="28" label="Specific Day" isrequired></vr-textbox>
    </vr-columns>
    <vr-columns width="1/3row" withemptyline>
        <vr-button type="Add" data-onclick="ctrl.addMonthlyPeriod" standalone></vr-button>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">

        <vr-validator validate="ctrl.isValid()">
            <vr-datagrid datasource="ctrl.data" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px" enabledraggablerow="true"
                         on-ready="onGridReady" hidegridmenu ondeleterow="ctrl.removeItem">
                <vr-datagridcolumn headertext="'Days of the month'" field="'Entity.MonthlyType'" widthfactor="10" disablesorting></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Specific Day'" field="'Entity.SpecificDay'" widthfactor="10" disablesorting></vr-datagridcolumn>
            </vr-datagrid>
        </vr-validator>
    </vr-columns>
</vr-row>
