<vr-row>
    <vr-columns width="1/3row">
        <vr-select label="Start Day"
                   datasource="scopeModel.dailyTypes"
                   datavaluefield="value"
                   datatextfield="description"
                   selectedvalues="scopeModel.selectedDailyType"
                   isrequired="true"
                   hideremoveicon="true">
        </vr-select>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-switch label="Split Invoice"
                   value="scopeModel.splitInvoice">
        </vr-switch>
    </vr-columns>
</vr-row>