<div vr-modalcontent ng-controller="VR_GenericData_SummaryTransformationDefinitionEditorController" vr-loader="scopeModal.isLoading" width="'50%'">
    <vr-modalbody>
        <vr-form validationcontext="summaryTransformationDefinitionEditorGroup">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/4row">
                            <vr-textbox label="Name" value="scopeModal.name" isrequired></vr-textbox>
                        </vr-columns>
                    </vr-row>



                    <vr-row>
                        <vr-columns width="1/4row">
                            <vr-genericdata-datarecordtype-selector on-ready="scopeModal.onRawDataRecordTypeSelectorReady"
                                                                    selectedvalues="scopeModal.selectedRawDataRecordType"
                                                                    onselectionchanged="scopeModal.onRawRecordTypeSelectionChanged"
                                                                    isrequired="true"
                                                                    label="Raw Record Type"
                                                                    hideremoveicon>
                            </vr-genericdata-datarecordtype-selector>


                        </vr-columns>


                        <vr-columns width="1/4row" vr-loader="scopeModal.isLoadingisRawRecordTypeFields">

                            <vr-genericdata-datarecordtypefields-selector on-ready="scopeModal.onRawDataRecordTypeFieldsSelectorReady"
                                                                          selectedvalues="scopeModal.selectedRawDataRecordTypeFields"
                                                                          isrequired="true"
                                                                          label=" Time Field"
                                                                          hideremoveicon>
                            </vr-genericdata-datarecordtypefields-selector>
                        </vr-columns>
                    </vr-row>




                    <vr-row>
                        <vr-columns width="1/4row">
                            <vr-genericdata-datarecordtype-selector on-ready="scopeModal.onSummaryDataRecordTypeSelectorReady"
                                                                    selectedvalues="scopeModal.selectedSummaryDataRecordType"
                                                                    onselectionchanged="scopeModal.onSummaryRecordTypeSelectionChanged"
                                                                    isrequired="true"
                                                                    label="Summary Record Type"
                                                                    hideremoveicon>
                            </vr-genericdata-datarecordtype-selector>


                        </vr-columns>


                        <vr-columns width="1/4row" vr-loader="scopeModal.isLoadingSummaryRecordTypeFieldsID">

                            <vr-genericdata-datarecordtypefields-selector on-ready="scopeModal.onSummaryDataRecordTypeFieldsIDSelectorReady"
                                                                          selectedvalues="scopeModal.selectedSummaryDataRecordTypeFieldsID"
                                                                          isrequired="true"
                                                                          label=" ID Field"
                                                                          hideremoveicon>
                            </vr-genericdata-datarecordtypefields-selector>
                        </vr-columns>


                        <vr-columns width="1/4row" vr-loader="scopeModal.isLoadingSummaryRecordTypeFieldsBatch">

                            <vr-genericdata-datarecordtypefields-selector on-ready="scopeModal.onSummaryDataRecordTypeFieldsBatchSelectorReady"
                                                                          selectedvalues="scopeModal.selectedSummaryDataRecordTypeFieldsBatch"
                                                                          isrequired="true"
                                                                          label=" Batch Start Field"
                                                                          hideremoveicon>
                            </vr-genericdata-datarecordtypefields-selector>
                        </vr-columns>
                        <vr-columns width="1/4row" vr-loader="scopeModal.isLoadingRecordStorage">
                            <vr-genericdata-datarecordstorage-selector on-ready="scopeModal.onDataRecordStorageSelectorReady"
                                                                       selectedvalues="scopeModal.selectedDataRecordStorage"
                                                                       isrequired="true"
                                                                       hideremoveicon>
                            </vr-genericdata-datarecordstorage-selector>
                        </vr-columns>
                    </vr-row>

                    <vr-genericdata-summarytransformation-summarybatchstartidentification-selector on-ready="scopeModal.onBatchTimeIntervalSelectorReady"
                                                                                                   isrequired="true">

                    </vr-genericdata-summarytransformation-summarybatchstartidentification-selector>

                </vr-tab>
                <vr-tab header="'Grouping Columns'">
                    <vr-row>
                        <vr-columns width="1/3row" vr-loader="scopeModal.isLoadingSummaryFields">
                            <vr-genericdata-datarecordtypefields-selector on-ready="scopeModal.onSummaryDataRecordTypeFieldsSelectorReady"
                                                                          selectedvalues="scopeModal.summaryFields"
                                                                          isrequired="true"
                                                                          ismultipleselection
                                                                          label="Summary Fields"
                                                                          hideremoveicon
                                                                          onselectitem="scopeModal.onSelectSummaryFieldItem"
                                                                          ondeselectitem="scopeModal.onDeselectSummaryFieldItem">
                            </vr-genericdata-datarecordtypefields-selector>
                        </vr-columns>
                        <!--<vr-columns width="fullrow" vr-disabled="!scopeModal.enableColumnGrouping">

                            <vr-validator validate="scopeModal.isValidColumnGrouping()">
                                <vr-datagrid datasource="scopeModal.datasourceColumnGrouping" norowhighlightonclick="true"
                                             enabledraggablerow="true" hidegridmenu>
                                    <vr-datagridcolumn headertext="'Summary Item'" field="'SummaryFieldName'" disablesorting></vr-datagridcolumn>
                                </vr-datagrid>
                            </vr-validator>
                        </vr-columns>-->
                    </vr-row>
                </vr-tab>

                <vr-tab header="'Raw to Summary Transformation'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-genericdata-datatransformationdefinition-selector on-ready="scopeModal.onDataTransformationDefinitionInsertReady"
                                                                                  selectedvalues="scopeModal.selectedDataTransformationDefinitionInsert"
                                                                                  onselectionchanged="scopeModal.onDataTransformationDefinitionInsertSelectionChanged"
                                                                                  isrequired="true"
                                                                                  
                                                                                  hideremoveicon>

                            </vr-genericdata-datatransformationdefinition-selector>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/3row" vr-loader="scopeModal.isloadingdatatransformationdefinitioninsertraw">
                            <vr-genericdata-datatransformationdefinitionrecord-selector on-ready="scopeModal.onDataTransformationDefinitionRecordRawInsertReady"
                                                                                        selectedvalues="scopeModal.selectedDataTransformationDefinitionRecordRawInsert"
                                                                                        isrequired="true"
                                                                                        customlabel="Raw Record"
                                                                                        hideremoveicon>

                            </vr-genericdata-datatransformationdefinitionrecord-selector>
                        </vr-columns>
                        <vr-columns width="1/3row" vr-loader="scopeModal.isLoadingDataTransformationDefinitionInsertSummary">
                            <vr-genericdata-datatransformationdefinitionrecord-selector on-ready="scopeModal.onDataTransformationDefinitionRecordSummaryInsertReady"
                                                                                        selectedvalues="scopeModal.selectedDataTransformationDefinitionRecordSummaryInsert"
                                                                                        isrequired="true"
                                                                                        customlabel="Summary Record"
                                                                                        hideremoveicon>

                            </vr-genericdata-datatransformationdefinitionrecord-selector>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

                <vr-tab header="'Summary to Summary Transformation'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <span vr-disabled="!scopeModal.enableTransformationforUpdate">
                                <vr-genericdata-datatransformationdefinition-selector on-ready="scopeModal.onDataTransformationDefinitionUpdateReady"
                                                                                      selectedvalues="scopeModal.selectedDataTransformationDefinitionUpdate"
                                                                                      onselectionchanged="scopeModal.onDataTransformationDefinitionUpdateSelectionChanged"
                                                                                      isrequired="true"
                                                                                      hideremoveicon>

                                </vr-genericdata-datatransformationdefinition-selector>
                            </span>                            
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/3row" vr-loader="scopeModal.isLoadingDataTransformationDefinitionUpdateExisting">
                            <vr-genericdata-datatransformationdefinitionrecord-selector on-ready="scopeModal.onDataTransformationDefinitionRecordRawUpdateReady"
                                                                                        selectedvalues="scopeModal.selectedDataTransformationDefinitionRecordExistingSummaryUpdate"
                                                                                        isrequired="true"
                                                                                        customlabel="Existing Record"
                                                                                        hideremoveicon>

                            </vr-genericdata-datatransformationdefinitionrecord-selector>
                        </vr-columns>
                        <vr-columns width="1/3row" vr-loader="isLoadingDataTransformationDefinitionUpdateNew">
                            <vr-genericdata-datatransformationdefinitionrecord-selector on-ready="scopeModal.onDataTransformationDefinitionRecordSummaryUpdateReady"
                                                                                        selectedvalues="scopeModal.selectedDataTransformationDefinitionRecordNewSummaryUpdate"
                                                                                        isrequired="true"
                                                                                        customlabel="New Record"
                                                                                        hideremoveicon>

                            </vr-genericdata-datatransformationdefinitionrecord-selector>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="summaryTransformationDefinitionEditorGroup" data-onclick="scopeModal.SaveSummaryTransformationDefinition" haspermission="hasSaveSummaryTransformationDefinition"></vr-button>
                <vr-button type="Close" data-onclick="scopeModal.close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
