<vr-row>
    <vr-columns width="1/2row">
        <vr-list maxitemsperrow="1">
            <vr-listitem ng-show="ctrl.customerId !=undefined"><vr-label>Rule.CustomerId=  {{ctrl.customerId}}</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.saleZoneId !=undefined"><vr-label>Rule.SaleZoneId = {{ctrl.saleZoneId}}</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.effectiveOn !=undefined"><vr-label>Rule.EffectiveOn = {{ctrl.effectiveOn}}</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.customerZoneRate !=undefined"><vr-label>{{ctrl.customerZoneRate}} = Rule.CustomerZoneRate</vr-label></vr-listitem>
        </vr-list>
    </vr-columns>
</vr-row>
