<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="ctrl.codeRangeCountThreshold" type="number" label="Code Range Count Threshold" isrequired minvalue="1" decimalprecision="0"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="ctrl.maximumCodePrefixLength" type="number" label="Maximum Code Prefix Length" isrequired minvalue="1" decimalprecision="0"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="ctrl.customerGroupSize" type="number" label="Customer Group Size" isrequired minvalue="1" decimalprecision="0"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="ctrl.supplierGroupSize" type="number" label="Supplier Group Size" isrequired minvalue="1" decimalprecision="0"></vr-textbox>
    </vr-columns>
</vr-row>