<div vr-modalcontent ng-controller="VR_GenericData_DataRecordStorageEditorController" width="'60%'" vr-loader="isLoading">
    <vr-modalbody maxheight="'600px'">
        <vr-form name="formDataRecordStorageEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-textbox value="scopeModel.name" label="Name" isrequired="true"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-genericdata-datarecordtype-selector on-ready="scopeModel.onDataRecordTypeSelectorReady"
                                                                    selectedvalues="scopeModel.selectedDataRecordType"
                                                                    onselectionchanged="scopeModel.onDataRecordTypeSelectionChanged"
                                                                    isrequired="true"
                                                                    hideremoveicon>
                            </vr-genericdata-datarecordtype-selector>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-select label="Time Field" datasource="scopeModel.dataRecordTypeFields" selectedvalues="scopeModel.selectedDataRecordTypeField"
                                       datavaluefield="Entity.Name" datatextfield="Entity.Name" isrequired="true" hideremoveicon>
                            </vr-select>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-genericdata-datastore-selector on-ready="scopeModel.onDataStoreSelectorReady"
                                                               selectedvalues="scopeModel.selectedDataStore"
                                                               onselectionchanged="scopeModel.onDataStoreSelectionChanged"
                                                               isrequired="true"
                                                               hideremoveicon>
                            </vr-genericdata-datastore-selector>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-switch value="scopeModel.enableUseCaching" label="Enable Use Caching" isrequired="true"></vr-switch>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Setting'">
                    <vr-row>
                        <vr-columns width="fullrow" ng-show="scopeModel.selectedDataRecordType != undefined && scopeModel.selectedDataStore != undefined">
                            <vr-directivewrapper directive="scopeModel.settingsEditor" on-ready="scopeModel.onSettingsDirectiveReady"></vr-directivewrapper>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Security'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-sec-requiredpermission-grid on-ready="scopeModel.onRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formDataRecordStorageEditor" data-onclick="scopeModel.saveDataRecordStorage" haspermission="scopeModel.hasSaveDataRecordStorage"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.closeDataRecordStorage"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>