<div vr-modalcontent ng-controller="VR_GenericData_DataRecordStorageEditorController" width="'80%'" vr-loader="isLoading">
    <vr-modalbody maxheight="'600px'">
        <vr-form name="formDataRecordStorageEditor">
            <vr-genericdata-datarecordstorage-editor on-ready="scopeModel.onEditorDirectiveReady"></vr-genericdata-datarecordstorage-editor>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formDataRecordStorageEditor" data-onclick="scopeModel.saveDataRecordStorage" haspermission="scopeModel.hasSaveDataRecordStorage"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.closeDataRecordStorage"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>