<div vr-modalcontent ng-controller="VR_GenericData_DataRecordStorageEditorController" width="'40%'" vr-loader="isLoading">
    <vr-modalbody maxheight="'600px'">
        <vr-form name="formDataRecordStorageEditor">
            <vr-row>
                <vr-columns width="1/3row">
                    <vr-textbox value="name" label="Name" isrequired="true"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/3row">
                    <vr-genericdata-datarecordtype-selector on-ready="onDataRecordTypeSelectorReady"
                                                            selectedvalues="selectedDataRecordType"
                                                            onselectionchanged="onDataRecordTypeSelectionChanged"
                                                            isrequired="true"
                                                            hideremoveicon>
                    </vr-genericdata-datarecordtype-selector>
                </vr-columns>
                <vr-columns width="1/3row">
                    <vr-select label="Time Field" datasource="dataRecordTypeFields" selectedvalues="selectedDataRecordTypeField"
                               datavaluefield="Entity.Name" datatextfield="Entity.Name" isrequired="true" hideremoveicon>
                    </vr-select>

                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="1/3row">
                    <vr-genericdata-datastore-selector on-ready="onDataStoreSelectorReady"
                                                       selectedvalues="selectedDataStore"
                                                       onselectionchanged="onDataStoreSelectionChanged"
                                                       isrequired="true"
                                                       hideremoveicon>
                    </vr-genericdata-datastore-selector>
                </vr-columns>
            </vr-row>
            <vr-row ng-show="selectedDataRecordType != undefined && selectedDataStore != undefined">
                <vr-columns width="fullrow">
                    <vr-section title="Settings">
                        <vr-directivewrapper directive="settingsEditor" on-ready="onSettingsDirectiveReady"></vr-directivewrapper>
                    </vr-section>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formDataRecordStorageEditor" data-onclick="saveDataRecordStorage" haspermission="hasSaveDataRecordStorage"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>