<div vr-modalcontent ng-controller="VRCommon_TestEmailEditorController" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formTestEmailEditor">
            <vr-row removeline>
                <vr-columns width="1/2row">
                    <vr-textbox value="fromEmail" label="From Email" localizedlabel="VRRes.FromEmail.VREnd" type="email"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="1/2row">
                    <vr-textbox value="toEmail" label="To Email" localizedlabel="VRRes.ToEmail.VREnd" type="email" isrequired="true"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="1/2row">
                    <vr-textbox value="subject" label="Subject" localizedlabel="VRRes.Subject.VREnd" isrequired="true"></vr-textbox>
                </vr-columns>
                <vr-columns width="fullrow">
                    <vr-textarea value="body" label="Body" localizedlabel="VRRes.Body.VREnd"></vr-textarea>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="SendEmail" formname="formTestEmailEditor" data-onclick="sendTestEmail"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
