

<div style="padding-top:20px">
    <div class="ui grid">
        <div class="row" style="min-height:300px">
            <!--<div class="three wide column">
                <div class="ui animated fade button" ng-init="true" ng-model='carrierAccountSelectionOption' ng-click="carrierAccountSelectionOption = !carrierAccountSelectionOption">
                    <div class="visible content">{{carrierAccountSelectionOption ? "Customer: " : "All Customers Except:"}}</div>
                    <div class="hidden content">
                        {{carrierAccountSelectionOption == false? "Customer: " : "All Customers Except:"}}
                    </div>
                </div>
            </div>-->
            <div style="display:inline-block">
                <div class="ui dropdown button menuddl" style="background-color:transparent;border:none"
                     ng-model='carrierAccountSelectionOption' ng-init="carrierAccountSelectionOption = 1">
                    {{carrierAccountSelectionOption == 1 ? "  Customers: " : "  All Customers Except:"}}
                    <!--<i class="dropdown icon"></i>-->
                    <div class="menu" tabindex="-1">
                        <a class="item" ng-click="carrierAccountSelectionOption = 1" ng-show="carrierAccountSelectionOption != 1">Customers</a>
                        <a class="item" ng-click="carrierAccountSelectionOption = 2" ng-show="carrierAccountSelectionOption != 2">All Customers Except</a>
                    </div>
                </div>
            </div>
            
            <div class="three wide column">
                <div class="ui simple dropdown  button ddl">
                    <div class="three wide column" >
                        {{getSelectCustomerText()}}
                    </div>
                   
                    <i class="dropdown icon" style="position: absolute; top: 12px; right: 5px;"></i>
                    <div class="menu" tabindex="-1">
                        <div ng-show="selectedCustomers.length > 0">
                            <div style="padding:5px 10px;min-width:225px">
                                Selected Customers:
                                <a class="ui icon" href="" style="position: absolute; right: 5px;" ng-click="selectedCustomers.length = 0">
                                    Clear all
                                    <i class="trash icon"></i>
                                </a>
                            </div>
                            <div class="header" style=" white-space: normal; max-height: 75px; overflow: auto;">
                                <div class="ui label pading-top-s" ng-repeat="obj in selectedCustomers">
                                    {{obj.Name}}
                                    <i class="delete icon" ng-click="selectCustomer(obj)"></i>
                                </div>
                            </div>
                        </div>
                        <div ng-show="selectedCustomers.length > 0" class="ui horizontal divider"></div>
                       
                         <div class="ui icon input" style="margin:2px">
                            <input type="text" placeholder="Search" ng-model="filtername">
                            <i class="delete icon" ng-click="filtername = ''"></i>
                        </div>
                        <div class="ui horizontal divider"></div>
                        <div style="height:200px;overflow:auto">
                            <div ng-repeat="c in customers  |filter:filtername" ng-click="selectCustomer(c)" class="item ">
                                <div class="ui checkbox" style="margin:1px">
                                    <input ng-checked="selectedCustomers.indexOf(c) > -1" type="checkbox">
                                    <label>{{c.Name}}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>       
        <div class="row">
            <div class="four wide column">
                <div class="ui simple dropdown  button ddl">
                    <div class="three wide column">
                        {{getSelectSuppliersText()}}
                    </div>
                    <i class="dropdown icon" style="position: absolute; top: 12px; right: 5px;"></i>
                    <div class="menu" tabindex="-1">
                        <div class="ui icon input">
                            <input type="text" placeholder="Search" style="margin:2px" ng-model="filtersup">
                            <i class="delete icon" ng-click="filtersup = ''"></i>
                        </div>
                        <div style="height:200px;overflow:auto">
                            <div ng-repeat="c in suppliers  |filter:filtersup" ng-click="selectSupplier(c)" class="item ">
                                <div class="ui checkbox" style="margin:1px">
                                    <input ng-checked="selectedSuppliers.indexOf(c) > -1" type="checkbox">
                                    <label>{{c.Name}}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div ng-sortable="itemsSortable" class="ui divided items dragbelzone" ng-show="selectedSuppliers.length > 0">
                    <div ng-repeat="item in selectedSuppliers" class="item">
                        <i class="list layout icon handeldrag"></i>
                        {{item.Name}}
                        <i class="delete icon" style="float: right; padding-top: 10px; cursor:default" ng-click="selectSupplier(item)"></i>
                        <div style="float: right">
                            <input type="text" class="custom-input" style="max-width: 40px" size="3">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>