


<div class="container-fluid ">
    <div class="panel panel-primary panel-over-color">

        <div class="panel-body">
            <div class="row style-row">
                <div class="col-lg-12" style="text-align:center">
                    <h3>
                        Customer route rule editor
                    </h3>
                </div>
            </div>
            <div class="row style-row">
                <div class="col-lg-3 style-col">
                    <label class="control-label">Rule Type</label>
                    <div class="form-group">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuRule" data-toggle="dropdown" aria-expanded="true" ng-model='ruletype' ng-init="ruletype = 'Select..'">
                                {{ruletype}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-custom" role="menu" aria-labelledby="dropdownMenuRule" ng-mouseenter="muteaction($event);">
                                <li role="presentation">
                                    <div class="mark-select " ng-mouseenter="muteaction($event);" ng-click="ruletype = 'Overide'" style="display: block;padding:2px; margin:2px; white-space: normal;">
                                        <div class="hand-cursor" style="display: table-cell;  white-space: nowrap; text-overflow: ellipsis; overflow:hidden">Overide</div>
                                    </div>
                                    <div class="mark-select " ng-mouseenter="muteaction($event);" ng-click="ruletype = 'Block'" style="display: block;padding:2px; margin:2px; white-space: normal;">
                                        <div class="hand-cursor" style="display: table-cell;  white-space: nowrap; text-overflow: ellipsis; overflow:hidden">Block</div>
                                    </div>
                                    <div class="mark-select " ng-mouseenter="muteaction($event);" ng-click="ruletype = 'Priority'" style="display: block;padding:2px; margin:2px; white-space: normal;">
                                        <div class="hand-cursor" style="display: table-cell; white-space: nowrap; text-overflow: ellipsis; overflow:hidden">Priority</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row style-row">
                <div class="col-lg-3  style-col">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuType" data-toggle="dropdown" aria-expanded="true" ng-model='routetype' ng-init="routetype = ''">
                            <span style=" display: inline-block; padding:2px 5px; background-color: rgba(0, 0, 0, 0.05); position: absolute; left: 0; top: 0; height: 100%; line-height: 2; }">By</span>
                            <span style="display:inline-block;min-width:100px">{{routetype}}</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-custom" role="menu" aria-labelledby="dropdownMenuType" ng-mouseenter="muteaction($event);">
                            <li role="presentation">
                                <div class="mark-select " ng-mouseenter="muteaction($event);" ng-click="routetype = 'Customer'" style="display: block;padding:2px; margin:2px; white-space: normal;">
                                    <div class="hand-cursor" style="display: table-cell;  white-space: nowrap; text-overflow: ellipsis; overflow:hidden">Customer</div>
                                </div>
                                <div class="mark-select " ng-mouseenter="muteaction($event);" ng-click="routetype = 'Pool'" style="display: block;padding:2px; margin:2px; white-space: normal;">
                                    <div class="hand-cursor" style="display: table-cell;  white-space: nowrap; text-overflow: ellipsis; overflow:hidden">Pool</div>
                                </div>
                                <div class="mark-select " ng-mouseenter="muteaction($event);" ng-click="routetype = 'Product'" style="display: block;padding:2px; margin:2px; white-space: normal;">
                                    <div class="hand-cursor" style="display: table-cell; white-space: nowrap; text-overflow: ellipsis; overflow:hidden">Product</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3  style-col">
                    <div >
                        <label data-toggle="tooltip" data-title="{{tooltip.title}}" bs-tooltip ng-model='carrierAccountSelectionOption' ng-init="carrierAccountSelectionOption = 1">
                            {{carrierAccountSelectionOption == 1 ? "  Customers: " : "  All Customers Except:"}}
                        </label>
                        
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            {{getSelectCustomerText()}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" ng-class="selectedCustomers.length == 0 ? 'single-col-checklist':'double-col-checklist' ">
                            <li role="presentation" ng-click="muteAction($event)">


                                <div style="display: inline-block; width: 220px;">
                                    <div style="padding-bottom: 5px; border-bottom: 1px solid #f0f0f0; ">
                                        <div class="inner-addon right-addon">
                                            <i class="glyphicon glyphicon-remove hand-cursor" ng-click="muteAction($event);filtername= '' "></i>
                                            <input type="text" class="form-control input-sm" ng-model="filtername" ng-click="muteAction($event)" />
                                        </div>
                                    </div>
                                    <div style="height: 225px; overflow: auto; margin-top: 5px">
                                        <div class="mark-select " ng-click="selectCustomer($event, c)" ng-repeat="c in customers  | filter:filtername" style="display: block; padding: 3px 2px 0px 2px; margin: 2px; white-space: normal;" ng-class="findExsite(selectedCustomers, c.CarrierAccountID, 'CarrierAccountID') > -1 ?'selected':'' ">
                                            <div class="hand-cursor" style="display: inline-block; width:170px; white-space: nowrap; text-overflow: ellipsis; overflow:hidden">{{c.Name}}</div>
                                            <div style="float:right" ng-show="selectedCustomers.indexOf(c) > -1">✔</div>
                                        </div>
                                    </div>

                                </div>
                                <div style="border-left:1px solid #f0f0f0;display: inline-block; max-width: 220px; height: 260px; overflow: auto; white-space:normal" ng-show="selectedCustomers.length > 0">
                                    <div style="padding:5px ;">
                                        Selected Customers:
                                        <a href="" class="link" style="position: absolute; right: 5px;" ng-click="muteAction($event);selectedCustomers.length = 0">
                                            Clear all
                                            <i class="glyphicon glyphicon-trash hand-cursor "></i>
                                        </a>
                                    </div>
                                    <div style="height: 225px; overflow: auto;padding-top:5px">
                                        <span class="label custom-label" ng-repeat="obj in selectedCustomers">
                                            {{obj.Name}}
                                            <span class="glyphicon glyphicon-remove hand-cursor" aria-hidden="true" ng-click="selectCustomer($event,obj)"></span>
                                        </span>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row style-row">
                <div class="col-lg-3  style-col">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownZoneType" data-toggle="dropdown" aria-expanded="true" ng-model='zonetype' ng-init="zonetype = ''">
                            <span style=" display: inline-block; padding:2px 5px; background-color: rgba(0, 0, 0, 0.05); position: absolute; left: 0; top: 0; height: 100%; line-height: 2; }">By</span>
                            <span style="display:inline-block;min-width:100px">{{zonetype}}</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-custom" role="menu" aria-labelledby="dropdownZoneType" ng-mouseenter="muteaction($event);">
                            <li role="presentation">
                                <div class="mark-select " ng-mouseenter="muteaction($event);" ng-click="zonetype = 'Zone'" style="display: block;padding:2px; margin:2px; white-space: normal;">
                                    <div class="hand-cursor" style="display: table-cell;  white-space: nowrap; text-overflow: ellipsis; overflow:hidden">Zone</div>
                                </div>
                                <div class="mark-select " ng-mouseenter="muteaction($event);" ng-click="zonetype = 'Code'" style="display: block;padding:2px; margin:2px; white-space: normal;">
                                    <div class="hand-cursor" style="display: table-cell;  white-space: nowrap; text-overflow: ellipsis; overflow:hidden">Code</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3  style-col">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuZ" data-toggle="dropdown" aria-expanded="true">
                            {{getSelectZoneText()}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuZ" ng-class="selectedZones.length == 0 ? 'single-col-checklist':'double-col-checklist' ">
                            <li role="presentation" ng-click="muteAction($event)">
                                <div style="display: inline-block; width: 220px;">
                                    <div style="padding-bottom: 5px; border-bottom: 1px solid #f0f0f0; ">
                                        <div class="inner-addon right-addon">
                                            <i class="glyphicon icon-loader" ng-show="showloading"></i>
                                            <input class="form-control input-sm" type="text" placeholder="Type 2 characters.." ng-model="filterzone" ng-keyup="searchZones()">
                                        </div>
                                    </div>
                                    <div ng-show="filterzone.length < 2">Please type {{2 - filterzone.length}} character(s)..</div>
                                    <div ng-show="showloading">Loading..</div>
                                    <div style="height: 225px; overflow: auto; margin-top: 5px">
                                        <div class="mark-select " ng-click="selectZone($event, c)" ng-attr-title="{{c.Name}}" ng-repeat="c in zones" style="display: block;padding:3px 2px 0px 2px; margin:2px; white-space: normal;" ng-class="findExsite(selectedZones, c.ZoneId, 'ZoneId') > -1 ?'selected':'' ">
                                            <div class="hand-cursor" style="display: inline-block; width:170px; white-space: nowrap; text-overflow: ellipsis; overflow:hidden">{{c.Name}}</div>
                                            <div style="display:inline-block;float:right" ng-show="findExsite(selectedZones, c.ZoneId, 'ZoneId') > -1 ">✔</div>
                                        </div>
                                    </div>

                                </div>
                                <div style="border-left:1px solid #f0f0f0;display: inline-block; max-width: 220px; height: 260px; overflow: auto; white-space:normal" ng-show="selectedZones.length > 0">
                                    <div style="padding:5px ;">
                                        Selected Zones:
                                        <a href="" class="link" style="position: absolute; right: 5px;" ng-click="muteAction($event);selectedZones.length = 0">
                                            Clear all
                                            <i class="glyphicon glyphicon-trash hand-cursor "></i>
                                        </a>
                                    </div>
                                    <div style="height: 225px; overflow: auto;padding-top:5px">
                                        <span class="label custom-label" ng-repeat="obj in selectedZones">
                                            {{obj.Name}}
                                            <span class="glyphicon glyphicon-remove hand-cursor" aria-hidden="true" ng-click="selectZone($event,obj)"></span>
                                        </span>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row style-row">
                <div class="col-lg-3  style-col">
                    <label class="control-label">BED</label>
                    <div>
                        <input size="10" class="form-control max-width-md inline-block" ng-model="BEDDate" data-autoclose="1" placeholder="Date" bs-datepicker type="text">
                    </div>
                </div>
                <div class="col-lg-3  style-col">
                    <label class="control-label">EED</label>
                    <div>
                        <input size="10" class="form-control max-width-md inline-block" data-min-date="{{BEDDate}}" ng-model="EEDDate" data-autoclose="1" placeholder="Date" bs-datepicker type="text">

                    </div>
                </div>
            </div>
            <div class="row style-row">
                <div class="col-lg-12  style-col">
                    <label class="control-label">Reason</label>
                    <textarea class="form-control" />
                </div>
            </div>
            <div class="row style-row">
                <div class="col-lg-3  style-col">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuS" data-toggle="dropdown" aria-expanded="true">
                            {{getSelectSuppliersText()}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuS" ng-class="single-col-checklist">
                            <li role="presentation" ng-click="muteAction($event)">
                                <div style="display: inline-block; width: 220px;">
                                    <div style="padding-bottom: 5px; border-bottom: 1px solid #f0f0f0; ">
                                        <div class="inner-addon right-addon">
                                            <i class="glyphicon glyphicon-remove hand-cursor" ng-click="muteAction($event);filtername= '' "></i>
                                            <input type="text" class="form-control input-sm" ng-model="filtersup" ng-click="muteAction($event)" />
                                        </div>
                                    </div>
                                    <div style="height: 225px; overflow: auto; margin-top: 5px">
                                        <div class="mark-select " ng-click="selectSupplier($event, c)" ng-repeat="c in suppliers  | filter:filtersup" style="display: block; padding: 3px 2px 0px 2px; margin: 2px; white-space: normal;" ng-class="findExsite(selectedSuppliers, c.CarrierAccountID, 'CarrierAccountID') > -1 ?'selected':'' ">
                                            <div class="hand-cursor" style="display: inline-block; width:170px; white-space: nowrap; text-overflow: ellipsis; overflow:hidden">{{c.Name}}</div>
                                            <div style="float:right" ng-show="selectedSuppliers.indexOf(c) > -1">✔</div>
                                        </div>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3  style-col " ng-class="selectedSuppliers.length == 0 ? 'emptycol':''">
                    <ul class="list-group dragbelzone" ng-sortable="itemsSortable" ng-show="selectedSuppliers.length > 0">
                        <li ng-repeat="item in selectedSuppliers" class="list-group-item" style="margin:1px">
                            <i class="glyphicon glyphicon-th-list handeldrag"></i>
                            {{item.Name}}
                            <i class="glyphicon glyphicon-remove hand-cursor" style="float: right; padding: 5px; cursor:default" ng-click="selectSupplier($event,item)"></i>
                            <div style="float: right">
                                <input type="text" class="custom-input" style="max-width: 40px" size="3">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 col-no-padding pad-top-m">
                    <div class="action-bar">
                        <div class="btn-group action-bar-left">

                        </div>
                        <div class="btn-group action-bar-right">
                            <button style="border-radius: 0px; border-color: transparent;  background-color: transparent; color: #FFF; " type="button" class="btn btn-default btncustom" aria-label="Left Align" ng-click="onclickClear()">Cancel<span style="padding-left:4px" class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></button>
                            <button style="border-bottom-color: transparent; border-color: transparent; border-radius: 0px; background-color: transparent; color: #FFF; " type="button" class="btn btn-default btncustom" aria-label="Left Align" ng-click="onclickSearch()">Save<span style="padding-left:4px" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
