<div class="container-fluid ">

    <div class="row">
        <h1>Test View</h1>
    </div>

    <div class="row">

        <div class="col-md-2">
            <vr-textbox label="Input" type="standard" placeholder="Username" value="testviewCtrl.Input"></vr-textbox>
        </div>
        <div class="col-md-2">
            <vr-textbox type="icon" placeholder="Search .." icon="circular search" value="testviewCtrl.Input"></vr-textbox>
            <vr-textbox type="icon" placeholder="Search .." icon="search" value="testviewCtrl.Input"></vr-textbox>
        </div>
        <div class="col-md-2">
            <vr-textbox type="search" value="testviewCtrl.Input"></vr-textbox>
            <vr-textbox type="search" placeholder="Custom Place Holder" value="testviewCtrl.Input"></vr-textbox>
            <vr-textbox type="mail" value="testviewCtrl.Input"></vr-textbox>
        </div>

        <div class="col-md-2">
            <vr-textbox type="button" value="testviewCtrl.Input" placeholder="Alert .. " buttontext="Alert" btn-click="testviewCtrl.alertMsg()"></vr-textbox>
        </div>

        <div class="col-md-2">
            {{testviewCtrl.Input}}
        </div>

    </div>

    <div class="row">
        <div class="col-lg-2">
            
            <vr-dropdown type="ondemand" options="testviewCtrl.optionsZone" datatextfield="Name" datavaluefield="ZoneId"
                         onsearch="testviewCtrl.onsearch" entityname="Zone" onselectionchange="testviewCtrl.selectedvalues"></vr-dropdown>
        </div>
        <div class="col-lg-2">
            <span >Selected Values : </span>
            <span ng-repeat="c in testviewCtrl.output">{{c.Name}}</span>
        </div>
        <div class="col-lg-2">
            <span>Last Customer Selected Value : </span>
            <span>{{testviewCtrl.options.lastselectedvalue.Name}}</span>
        </div>

        <div class="col-lg-2">
            <vr-dropdown datasource="testviewCtrl.customers" options="testviewCtrl.options" datatextfield="Name" datavaluefield="CarrierAccountID" entityname="Supplier"></vr-dropdown>
        </div>
        <div class="col-lg-2">
            <span> Selected Customer Value : </span>
            <span ng-repeat="c in testviewCtrl.options.selectedvalues">{{c.Name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <!--<vr-dropdown type="menu" datasource="testviewCtrl.routes" datatextfield="name" datavaluefield="value"
                         entityname="Route" onselectionchange="testviewCtrl.selectedRoutes" lastselectedvalue="testviewCtrl.lstselectedroute"></vr-dropdown>--> 
        </div>
        <!--<div class="col-lg-2">
            <span>Last Route Selected Value : </span>
            <span>{{testviewCtrl.lstselectedroute.name}}</span>
        </div>-->
    </div>
    <!--<div class="=row">
        <vr-gridview gridoptions="testviewCtrl.gridOptions" datasource="testviewCtrl.data">
            <vr-grid-col> </vr-grid-col>
        </vr-gridview>
    </div>-->

</div>


