<h1>Test View</h1>
<vr-textbox type="standard" placeholder="Username" value="Input"></vr-textbox>
<vr-textbox type="icon" placeholder="Search .." icon="circular search" value="Input"></vr-textbox>
<vr-textbox type="icon" placeholder="Search .." icon="search" value="Input"></vr-textbox>
<vr-textbox type="search" value="Input"></vr-textbox>
<vr-textbox type="search" placeholder="Custom Place Holder" value="Input"></vr-textbox>
<vr-textbox type="mail" value="Input"></vr-textbox>

<vr-textbox type="Button" value="Input" buttontext="Alert" btn-click="alertMsg()"></vr-textbox>
<br />

<vr-gridview gridoptions="gridOptions" column-defs="name,age">
</vr-gridview>

<vr-gridview type="V1" gridoptions="gridOptionsV1">
</vr-gridview>

{{Input}}
