<vr-panel ng-controller="Integration_DataSourceLogManagementController">

    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingForm">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-select label="Data Source" datatextfield="Name" datavaluefield="ID" datasource="dataSources" selectedvalues="selectedDataSource" isrequired></vr-select>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-select ismultipleselection label="Severity" datatextfield="description" datavaluefield="value" datasource="severities" selectedvalues="selectedSeverities"></vr-select>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="From" type="dateTime" value="selectedFromDateTime"></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="To" type="dateTime" value="selectedToDateTime"></vr-datetimepicker>
                </vr-columns>
            </vr-row>
        </div>
    </vr-form>

    <vr-row removeline>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
            <div transclude-to="buttons">
                <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>

    <div>
        <vr-row>
            <vr-columns width="fullrow" simplecol>

                <vr-datagrid datasource="logs"
                             dataretrievalfunction="dataRetrievalFunction"
                             pagingtype="'PagingOnScroll'"
                             on-ready="gridReady"> 
                    <vr-datagridcolumn headertext="'ID'" field="'ID'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Severity'" field="'SeverityDescription'" widthfactor="10" getcolor="getSeverityColor"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Message'" field="'Message'" widthfactor="70"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Log Entry Time'" field="'LogEntryTime'" widthfactor="20" type="'Datetime'"></vr-datagridcolumn>
                </vr-datagrid>

            </vr-columns>
        </vr-row>
    </div>

</vr-panel>