<vr-panel ng-controller="Integration_DataSourceManagementController">
    
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoading">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-select label="Type"
                               datasource="adapterTypes"
                               selectedvalues="selectedAdapterTypes"
                               datavaluefield="ExtensionConfigurationId"
                               datatextfield="Title"
                               entityname="Type"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-select label="Scheduler Task Status"
                               datasource="statuses"
                               selectedvalues="selectedStatuses"
                               datavaluefield="value"
                               datatextfield="description"
                               entityname="Status"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                    <vr-button type="Add" data-onclick="AddNewDataSource" haspermission="hasAddDataSource"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>
    
    <div>
        <vr-row>
            <vr-columns colnum="12">
                <vr-integration-datasource-grid on-ready="gridReady"></vr-integration-datasource-grid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>