<div ng-controller="Integration_QueueItemHeaderGridController">

    <vr-datagrid datasource="queueItemHeaders"
                 dataretrievalfunction="dataRetrievalFunction"
                 pagingtype="'PagingOnScroll'"
                 on-ready="gridReady"
                 issubgrid>

        <vr-datagridcolumn headertext="'Item Id'" field="'ItemId'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Description'" field="'Description'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Status'" field="'ExecutionStatusDescription'" getcolor="getStatusColor"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Retry Count'" field="'RetryCount'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Error Message'" field="'ErrorMessage'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Created Time'" field="'CreatedTime'" type="'Datetime'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Last Updated Time'" field="'LastUpdatedTime'" type="'Datetime'"></vr-datagridcolumn>

    </vr-datagrid>

</div>