<vr-datagrid datasource="cities"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.CityId" enableautoexport="true">
    <vr-datagridcolumn headertext="'ID'" localizedheadertext="'VRRes.ID.VREnd'" field="'Entity.CityId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'City Name'" localizedheadertext="'VRRes.City Name.VREnd'" field="'Entity.Name'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Country'" localizedheadertext="'VRRes.Country.VREnd'" field="'CountryName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Region'" localizedheadertext="'VRRes.Region.VREnd'" field="'RegionName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>

</vr-datagrid>