
<vr-row>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID"
                   label="Extra Charge Type" datasource="ctrl.extraChargeTemplates" selectedvalues="ctrl.selectedTemplate" onselectionchanged="ctrl.onActionTemplateChanged">
        </vr-select>
    </vr-columns>
    <vr-columns width="normal" withemptyline>
        <vr-button type="Add" data-onclick="ctrl.addFilter" standalone vr-disabled="ctrl.disableAddButton"></vr-button>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow" vr-loader="ctrl.isLoadingDirective">
        <vr-datagrid datasource="ctrl.datasource"
                     on-ready="onGridReady" enabledraggablerow="true" ondeleterow="ctrl.removeFilter" hidegridmenu enabledraggablerow>
            <vr-datagridcolumn headertext="'Filter Type'" field="'name'" widthfactor="5"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Filter Settings'" widthfactor="15" >
                <vr-directivewrapper directive="dataItem.editor" on-ready="dataItem.onDirectiveReady" />
            </vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>