<vr-row removeline>
    <vr-columns width="1/2row">
        <vr-bebridge-berecievedefinition-selector on-ready="onBERecieveDefintionSelectorReady"
                                                  selectedvalues="selectedBERecieveDefintion"
                                                  isrequired="true"
                                                  label="BE Recieve Definition"
                                                  ismultipleselection
                                                  hideremoveicon>
        </vr-bebridge-berecievedefinition-selector>
    </vr-columns>
</vr-row>