<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConfigurationDBConnString" connectionString="Data Source=.;Initial Catalog=RDBUT_Configuration_SQL;User ID=sa; Password=p@ssw0rd"/>
    <add name="ConfigurationDBConnString_RDB" connectionString="Data Source=.;Initial Catalog=RDBUT_Configuration_RDB;User ID=sa; Password=p@ssw0rd"/>
    <add name="MainDBConnString" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <add key="RDB_AppendRDBToConnStringName" value="true"/>
    <add key="RuntimeConnStringKey" value="TransactionDBConnString"/>
    <add key="QueueDBConnStringKey" value="TransactionDBConnString"/>
    <add key="BusinessProcessDBConnStringKey" value="TransactionDBConnString"/>
    <add key="BigDataServiceDBConnStringKey" value="TransactionDBConnString"/>
    <add key="IntegrationConnStringKey" value="TransactionDBConnString"/>
    <add key="VRNotificationTransactionDBConnStringKey" value="TransactionDBConnString"/>
    <add key="QueueItemDBConnStringKey" value="QueueItemDBConnString"/>
    <add key="BusinessProcessTrackingDBConnStringKey" value="LogDBConnString"/>
    <add key="LoggingDBConnStringKey" value="LogDBConnString"/>
    <add key="SecurityDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="BusinessProcessConfigDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="IntegrationConfigDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="RuntimeConfigDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="QueueingConfigDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="ConfigurationDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="RulesDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="InvoiceDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="LoggingConfigDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="TOneWhS_BE_DBConnStringKey" value="TOneV2DBConnString"/>
    <add key="TOneWhS_SPL_DBConnStringKey" value="TOneV2DBConnString"/>
    <add key="TOneWhS_TS_DBConnStringKey" value="TOneV2DBConnString"/>
    <add key="VR_AccountBalance_TransactionDBConnStringKey" value="ConfigurationDBConnString"/>
  </appSettings>
</configuration>