<vr-row>
    <vr-columns width="fullrow">
        <vr-label>Input Fields</vr-label>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onNumberDirectiveReady" label="Number" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onCustomerIdDirectiveReady" label="CustomerId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onCustomerANumberIdDirectiveReady" label="CustomerANumberId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onEffectiveOnDirectiveReady" label="EffectiveOn" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-label>Output Fields</vr-label>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onMatchingCustomerIdDirectiveReady" label="MatchingCustomerId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onCustomerNumberPlanDirectiveReady" label="CustomerSellingNumberPlanId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onSaleCodeDirectiveReady" label="SaleCode" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onSaleZoneIdDirectiveReady" label="SaleZoneId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onMasterSaleCodeDirectiveReady" label="MasterSaleCode" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onMasterSaleZoneIdDirectiveReady" label="MasterSaleZoneId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>