<vr-row>
    <vr-columns colnum="12" simplecol>
        <vr-datagrid datasource="customerRoutes"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     on-ready="onGridReady"
                     menuactions="gridMenuActions">

            <vr-datagridcolumn headertext="'Code'" field="'Entity.Code'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'CustomerName'" field="'CustomerName'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'ZoneName'" field="'ZoneName'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'RouteOptions'" field="'RouteOptions'"></vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>