<div vr-loader="isLoading" ng-if="showGrid">
    <vr-datagrid on-ready="onGridReady"
                 datasource="customerRoutes"
                 dataretrievalfunction="dataRetrievalFunction"
                 menuactions="gridMenuActions"
                 pagingtype="'Pager'"
                 defaultsortbyfieldname="'CustomerName'"
                 idfield="CustomerRouteDetailId"
                 enableautoexport="true" normalcell>

        <vr-datagridcolumn headertext="'Customer'" field="'CustomerName'" fixedwidth="120" getcolor="getColor"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Code'" field="'Code'" fixedwidth="100"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Zone'" field="'SaleZoneName'" fixedwidth="120"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Rate'" field="'Rate'" columnindex="3" ng-if="hasViewRatesPermission" type="'Number'" numberprecision="'LongPrecision'" fixedwidth="60"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Services'" fixedwidth="60">
            <vr-whs-be-services-viewer on-ready="dataItem.onServiceViewerReady"></vr-whs-be-services-viewer>
        </vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Blocked'" fixedwidth="50">
            <span ng-show="dataItem.IsBlocked">
                <vr-icon icontype="'2'" tooltip="'Blocked'" centered></vr-icon>
            </span>
        </vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Linked Rules'" field="'LinkedRouteRuleCount'" fixedwidth="75" isfielddynamic="true" disablesorting></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Rule Type'" field="'ExecutedRouteRuleSettingsTypeName'" fixedwidth="90"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Rule Name'" field="'ExecutedRouteRuleName'" fixedwidth="100"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Route Options'" disablesorting>
            <vr-whs-routing-routeoptions on-ready="dataItem.onRouteOptionsReady"></vr-whs-routing-routeoptions>
        </vr-datagridcolumn>

        <vr-datagridexpandablerow>
            <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
        </vr-datagridexpandablerow>
    </vr-datagrid>
</div>