

<vr-section title="Customer Route">
    <vr-row>
        <vr-columns width="1/2row">
            <vr-textbox value="ctrl.customerRouteNumberOfOptions" type="number" label="Number Of Options" isrequired minvalue="1" decimalprecision="0"></vr-textbox>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-switch value="ctrl.customerRouteAddBlockedOptions" label="Add Blocked Options"></vr-switch>
    </vr-row>
</vr-section>
<vr-section title="Product Route">
    <vr-row>
        <vr-switch value="ctrl.productRouteAddBlockedOptions" label="Add Blocked Options"></vr-switch>
    </vr-row>
</vr-section>

