<vr-row>
    <vr-columns width="normal">
        <div vr-disabled="true">
            <vr-whs-be-routingproduct-selector on-ready="ctrl.onCurrentSelectorReady" hideremoveicon></vr-whs-be-routingproduct-selector>
        </div>
    </vr-columns>

    <vr-columns width="normal">
        <vr-whs-be-routingproduct-selector on-ready="ctrl.onNewSelectorReady"
                                            datasource="ctrl.newRoutingProducts"
                                            selectedvalues="ctrl.selectedNewRoutingProduct"
                                            onselectionchanged="ctrl.onNewRoutingProductChanged">
        </vr-whs-be-routingproduct-selector>
    </vr-columns>

    <vr-columns width="normal">
        <div vr-disabled="ctrl.disableBED">
            <vr-datetimepicker label="Begin Effective Date" type="date" value="ctrl.bed"></vr-datetimepicker>
        </div>
    </vr-columns>

    <vr-columns width="normal">
        <div vr-disabled="ctrl.disableEED">
            <vr-datetimepicker label="End Effective Date" type="date" value="ctrl.eed"></vr-datetimepicker>
        </div>
    </vr-columns>
</vr-row>
