
<vr-tabs>
    <vr-tab header="'Codes'">
        <vr-excelconversion-listmapping on-ready="scopeModel.onCodeListMappingReady" normal-col-num="6"></vr-excelconversion-listmapping>
    </vr-tab>
    <vr-tab header="'Rates'">
        <vr-excelconversion-listmapping on-ready="scopeModel.onRateListMappingReady" normal-col-num="6"></vr-excelconversion-listmapping>
    </vr-tab>
</vr-tabs>
<vr-row>
    <vr-timeformat label="Date Time Format" value="scopeModel.dateTimeFormat" normal-col-num="6" isrequired="true"></vr-timeformat>
</vr-row>


