<vr-row>
    <vr-columns width="1/4row">
        <vr-genericdata-datarecordtypefields-selector on-ready="scopeModel.onDataRecordTypeFieldsSelectorDirectiveReady" ondeselectItem="scopeModel.onDataRecordTypeFieldsDeselected" onselectItem="scopeModel.onDataRecordTypeFieldsSelected" ismultipleselection normal-col-num="3" isrequired="true">
        </vr-genericdata-datarecordtypefields-selector>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid datasource="scopeModel.datasource"
                     norowhighlightonclick="true"
                     maxheight="300px"
                     on-ready="scopeModel.onGridReady"
                     enabledraggablerow="true"
                     ondeleterow="scopeModel.removeGenericFilter"
                     rowdeleteicontitle="Delete Option"
                     showexpand="scopeModel.showExpand"
                     hidegridmenu>
            <vr-datagridcolumn headertext="'Title'" field="'Title'" widthfactor="10" disablesorting>
                <vr-textbox value="dataItem.title" isrequired="true"></vr-textbox>
            </vr-datagridcolumn>
            <vr-datagridcolumn columnindex = "'1'" headertext="'Text Resource'" field="'TextResource'" ng-show="scopeModel.isLocalizationEnabled" disablesorting>
                <vr-span vr-loader="dataItem.localizationTextResourceLoader">
                    <vr-common-vrlocalizationtextresource-selector normal-col-num="12" hidelabel on-ready="dataItem.onLocalizationTextResourceDirectiveReady"></vr-common-vrlocalizationtextresource-selector>
                </vr-span>
            </vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Required'">
                <vr-switch value="dataItem.isRequired"></vr-switch>
            </vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Trigger Search'">
                <vr-switch value="dataItem.triggerSearch"></vr-switch>
            </vr-datagridcolumn>
            <vr-datagridexpandablerow>
                <span vr-loader="dataItem.isFieldTypeRumtimeDirectiveLoading" ng-if="dataItem.fieldTypeRuntimeDirective != undefined">
                    <vr-directivewrapper directive="dataItem.fieldTypeRuntimeDirective"
                                         on-ready="dataItem.onFieldTypeRumtimeDirectiveReady"
                                         normal-col-num="3">
                    </vr-directivewrapper>
                </span>
            </vr-datagridexpandablerow>
        </vr-datagrid>
        </vr-columns>
</vr-row>
