<vr-row>
    <vr-columns colnum="3">
        <vr-genericdata-datarecordtypefields-selector on-ready="scopeModel.onDataRecordTypeFieldsSelectorReady"
                                                      isrequired="true"
                                                      label="Field Name"
                                                      hideremoveicon>
        </vr-genericdata-datarecordtypefields-selector>
    </vr-columns>
    <vr-columns colnum="1">
        <vr-switch label="Is Required" value="scopeModel.isRequired"></vr-switch>
    </vr-columns>
</vr-row>

<vr-row removeline vr-loader="scopeModel.isGridLoading">
    <vr-columns width="3/4row">
        <vr-validator validate="scopeModel.validateGrid()">
            <vr-datagrid on-ready="scopeModel.onFieldGridReady"
                         datasource="scopeModel.fields"
                         hidegridmenu>

                <vr-datagridcolumn headertext="'Field'" widthfactor="1" field="'field'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Title'" widthfactor="3">
                    <vr-textbox value="dataItem.title" type="text" isrequired="true"></vr-textbox>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Default'" widthfactor="2">
                    <vr-switch value="dataItem.isDefault"></vr-switch>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Remove From Selector'" widthfactor="2">
                    <vr-switch value="dataItem.removeFromSelector"></vr-switch>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Resource Key'" widthfactor="4" ng-if="scopeModel.showResourceKeyColumn ">
                    <vr-common-localizationressourcekey-selector hidelabel on-ready="dataItem.onResourceKeySelectorReady"></vr-common-localizationressourcekey-selector>
                </vr-datagridcolumn>
            </vr-datagrid>
        </vr-validator>
    </vr-columns>
</vr-row>