<div vr-modalcontent ng-controller="VR_GenericData_BulkAddRuntimeEditorController" vr-loader="scopeModel.isLoading" width="'70%'">
    <vr-modalbody>
        <vr-form validationcontext="bulkAddEditorGroup">
            <vr-row>
                <span ng-if="scopeModel.runtimeEditor != undefined">
                    <vr-directivewrapper directive="scopeModel.runtimeEditor" on-ready="scopeModel.onEditorRuntimeDirectiveReady"></vr-directivewrapper>
                </span>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Execute" validationcontext="bulkAddEditorGroup" data-onclick="scopeModel.execute"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
