<div vr-modalcontent ng-controller="VR_GenericData_NewOrExistingRuntimeEditorController" resclass="resClass">
    <vr-modalbody>
        <vr-form validationcontext="NewOrExistingEditorGroup" submitname="next">
            <vr-genericdata-genericeditor-rootcontainer on-ready="scopeModel.onEditorRuntimeDirectiveReady"></vr-genericdata-genericeditor-rootcontainer>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Next" validationcontext="NewOrExistingEditorGroup" data-onclick="scopeModel.getBEentity" submitname="next"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
