<vr-row removeline>
    <vr-analytic-measure-selector on-ready="scopeModel.onMeasuresSelectorReady" normal-col-num="4"  isrequired="true"></vr-analytic-measure-selector>
    
    <vr-analytic-measure-selector on-ready="scopeModel.onMappedMeasuresSelectorReady" ismultipleselection normal-col-num="4" isrequired="true"></vr-analytic-measure-selector>

    <!--<vr-columns width="1/3row">
        <vr-select datatextfield="description" datavaluefield="value" label="Same Dimensions Type" datasource="scopeModel.sameDimensionTypes" selectedvalues="scopeModel.selectedSameDimensionType" isrequired="true"></vr-select>
    </vr-columns>-->
</vr-row>

