<div vr-modalcontent ng-controller="WhS_Routing_RouteRuleQualityConfigurationEditorController" vr-loader="scopeModel.isLoading" width="'60%'">
    <vr-modalbody>
        <vr-form name="formQualityConfigurationEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModel.qualityConfigurationyName" label="Name" customvalidate="scopeModel.validateQualityConfigurationName()" isrequired="true"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-whs-routing-qualityconfigurationdefinition-selector on-ready="scopeModel.onQualityConfigurationDefinitionSelectorReady"
                                                                                    onselectionchanged="scopeModel.onQualityConfigurationDefinitionSelectionChanged"
                                                                                    selectedvalues="scopeModel.selectedQualityConfigurationDefinition"
                                                                                    customlabel="Type" isrequired="true" hideremoveicon>
                            </vr-whs-routing-qualityconfigurationdefinition-selector>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-directivewrapper ng-if="scopeModel.selectedQualityConfigurationDefinition != undefined"
                                     directive="scopeModel.selectedQualityConfigurationDefinition.RuntimeEditor"
                                     on-ready="scopeModel.onQualityConfigurationSettingsDirectiveReady"
                                     vr-loader="scopeModel.isQualityConfigurationSettingsDirectiveLoading">
                </vr-directivewrapper>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formQualityConfigurationEditor" data-onclick="scopeModel.saveQualityConfiguration"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>