<div ng-controller="RoutingRules_RouteOverrideTemplateController">
    <vr-row removeline>
        <vr-columns width="normal">

            <vr-select ismultipleselection hideselectedvaluessection="true" datasource="suppliers"
                       selectedvalues="selectedSuppliers" datatextfield="Name"
                       datavaluefield="CarrierAccountID" entityname="Suppliers" isrequired></vr-select>
        </vr-columns>
    </vr-row>
    <vr-row removeline>
        <vr-columns width="large" ng-class="selectedSuppliers.length == 0 ? 'emptycol':''">
            <ul class="list-group" style="margin:0px" ng-show="selectedSuppliers.length > 0">
                <li class="list-group-item list-custom" style="margin: 1px; border: 0px; font-size: 12px">
                    <div style="display:inline-block;padding-left:25px">Supplier</div>
                    <div style="float: right;">
                        <span>Allow Loss</span>
                        <span style="padding-right:50px">%</span>
                    </div>
                </li>
            </ul>
            <div style="height: 300px; overflow-x: auto; min-width: 300px; ">
                <ul class="list-group dragbelzone" ng-sortable="itemsSortable" ng-show="selectedSuppliers.length > 0">
                    <li ng-repeat="item in selectedSuppliers" class="list-group-item list-custom" style="margin: 1px; font-size: 12px">
                        <i class="glyphicon glyphicon-th-list handeldrag"></i>
                        <div style="display:inline-block;max-width:200px;">{{item.Name}}</div>
                        <i class="glyphicon glyphicon-remove hand-cursor" style="float: right; padding: 5px; cursor:default" ng-click="selectSupplier($event,item)"></i>
                        <div style="float: right">
                            <switch ng-model="item.AllowLoss" ng-init="item.AllowLoss = (item.AllowLoss)?item.AllowLoss:false " class="green"></switch>
                            <input type="text" class="form-control list-inpute" ng-model="item.Percentage" style="" size="3">
                        </div>
                    </li>
                </ul>
            </div>
            
        </vr-columns>
    </vr-row>

</div>
