<div ng-controller="RoutingRules_ZoneTemplateController">


    <vr-row removeline>
        <vr-columns width="normal">
            <div class="dropdown dropdown-custom" id="Zoneddl">
                <label class="dropdown-toggle hand-cursor" style="padding-top: 6px;font-weight:bold;font-size:11px" ng-style="zoneSelectionOption==2?{'color':'#D44A47'}:''" id="dropdownMenuZo" data-toggle="dropdown" aria-expanded="true" ng-model='zoneSelectionOption'>
                    {{zoneSelectionOption == 1 ? "  Zones: " : "  All Zones Except:"}}
                    <span class="caret-rigth-sm indicator"></span>
                </label>
                <ul class="dropdown-menu dropdown-menu-custom dropdown-menu-label" role="menu" aria-labelledby="dropdownMenuZo">
                    <li role="presentation" ng-show="zoneSelectionOption != 1">
                        <label class="item-menu hand-cursor" ng-click="zoneSelectionOption = 1">Zones</label>
                    </li>
                    <li role="presentation" ng-show="zoneSelectionOption != 2">
                        <label class="item-menu hand-cursor" ng-click="zoneSelectionOption = 2"> All Zones Except</label>
                    </li>
                </ul>
            </div>
            <vr-select ismultipleselection isrequired datasource="searchZones" selectedvalues="optionsZones.selectedvalues" datatextfield="Name" datavaluefield="ZoneId"
                       entityname="Zones"></vr-select>

        </vr-columns>


        <vr-columns width="normal">
            <vr-label standalone>Excluded Codes</vr-label>
            <div class="dropdown" id="CodeListddl">
                <button class="btn btn-default dropdown-toggle" style="width:100%;position:relative" type="button" id="dropdownMenucodes" data-toggle="dropdown" aria-expanded="true">
                    <span style="float:left;margin:0px"> {{getCodes()}}</span>
                    <span style="position:absolute;top:15px;right:5px" class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenucodes" ng-mouseenter="muteAction($event);">
                    <li role="presentation" ng-click="muteAction($event)">
                        <div style="display: inline-block; width: 220px;" ng-click="muteAction($event)">
                            <div style="padding-bottom: 5px; border-bottom: 1px solid #f0f0f0; margin: 5px; " ng-click="muteAction($event)">
                                <div class="inner-addon right-addon form-inline">
                                    <input type="text" class="form-control input-sm inline-inpute" ng-model="codeInpute" ng-keyup="addCodeEnter($event)" />
                                    <button class="btn btn-default" style="display:inline-block" ng-click="addCode($event)">Add</button>
                                </div>
                            </div>
                            <div style="padding:5px ;" ng-click="muteAction($event)">
                                <a href="" class="link" style="position: absolute; right: 5px;" ng-click="muteAction($event);codeList.length = 0">
                                    Clear all
                                    <i class="glyphicon glyphicon-trash hand-cursor "></i>
                                </a>
                            </div>
                            <div style="height: 225px; overflow: auto;padding-top:15px" ng-click="muteAction($event)">
                                <span class="label custom-label" ng-repeat="obj in codeList">
                                    {{obj}}
                                    <span class="glyphicon glyphicon-remove hand-cursor" aria-hidden="true" ng-click="removeCode($event,obj)"></span>
                                </span>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </vr-columns>

    </vr-row>


</div>
