<div vr-modalcontent ng-controller="VR_Analytic_VRReportGenerationEditorController" vr-loader="scopeModel.isLoading" size="large">
    <vr-modalbody>
        <vr-form name=" formVRReportGenerationEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row removeline>
                        <vr-columns width="1/4row">
                            <vr-textbox value="scopeModel.name" label="Name" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="3/4row">
                            <vr-textarea value="scopeModel.description" label="Description" isrequired="true"></vr-textarea>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-select label="Access Type" datasource="scopeModel.accessTypes" selectedvalues="scopeModel.selectedAccessLevel"
                                       datavaluefield="value" datatextfield="description" isrequired="true" hideremoveicon>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-analytic-reportgeneration-settings on-ready="scopeModel.onSettingsDirectiveReady"></vr-analytic-reportgeneration-settings>
                    </vr-row>
                </vr-tab>
            </vr-tabs>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formVRReportGenerationEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>