<div vr-modalcontent ng-controller="VR_Queueing_ExecutionFlowDefinitionEditorController" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formExecutionFlowDefinitionEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row removeline>
                        <vr-columns width="1/2row">
                            <vr-textbox value="name" label="Name" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-textbox value="dtitle" label="Title" isrequired></vr-textbox>
                        </vr-columns>

                    </vr-row>
                </vr-tab>
                <vr-tab header="'Stages'">
                    <vr-row removeline>
                        <vr-columns width="1/2row">
                            <!--<vr-queueing-executionflow-stage-management on-ready="scopeModal.onDataRecordFieldDirectiveReady"></vr-queueing-executionflow-stage-management>-->
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formExecutionFlowDefinitionEditor" data-onclick="save"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
