<vr-datagrid datasource="schedulerTasks"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="onGridReady"
             menuactions="gridMenuActions"
             idfield="TaskId">

    <vr-datagridcolumn headertext="'Name'" field="'Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Enabled'" field="'IsEnabled'">
        <vr-icon icontype="dataItem.IsEnabled"></vr-icon>
    </vr-datagridcolumn>
</vr-datagrid>