<vr-datagrid datasource="schedulerTasks"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="onGridReady"
             menuactions="gridMenuActions"
             idfield="Entity.TaskId">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.TaskId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Enabled'" field="'Entity.IsEnabled'" disablesorting="true">
        <vr-icon icontype="dataItem.Entity.IsEnabled"></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'" field="'Entity.StatusDescription'" disablesorting="true"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Last Run Time'" field="'Entity.LastRunTime'" type="'LongDatetime'" disablesorting="true"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Next Run Time'" field="'Entity.NextRunTime'" type="'LongDatetime'" disablesorting="true"></vr-datagridcolumn>
</vr-datagrid>