<div vr-modalcontent ng-controller="WhS_BE_PricingRuleEditorController" vr-loader="isGettingData" width="'70%'" >
    <vr-modalbody>
        <vr-form name="formPricingRuleEditor">
            <vr-choices selectedindex="0">
                <vr-choice isselected="definitionSelected">Definition</vr-choice>
                <vr-choice isselected="criteriaSelected">Criteria</vr-choice>
                <vr-choice isselected="settingsSelected">Settings</vr-choice>
                <vr-choice isselected="schedulerSelected">Scheduler</vr-choice>
            </vr-choices>
            <div ng-show="definitionSelected">
                <vr-row>
                    <vr-columns width="fullrow">
                        <vr-textarea label="Description" value="description"></vr-textarea>
                    </vr-columns>
                </vr-row>
            </div>
            <div ng-show="criteriaSelected">
                <vr-row vr-loader="criteriaAppendixLoader">

                    <vr-directivewrapper directive="selectedPricingType.directive" on-ready="onCriteriaDirectiveReady"></vr-directivewrapper>

                </vr-row>
            </div>
            <div ng-show="settingsSelected">
                <vr-row vr-loader="pricingRuleTypeAppendixLoader">
                    <vr-directivewrapper directive="selectedPricingRuleType.directive" on-ready="onPricingRuleTypeDirectiveReady"></vr-directivewrapper>
                </vr-row>
               
            </div>
            <div ng-show="schedulerSelected">
                <vr-row>
                    <vr-columns width="1/3row">
                        <vr-datetimepicker label="Begin Effective Date" value="beginEffectiveDate" type="date" isrequired></vr-datetimepicker>
                    </vr-columns>

                    <vr-columns width="1/3row">
                        <vr-datetimepicker label="End Effective Date" value="endEffectiveDate" type="date"></vr-datetimepicker>
                    </vr-columns>
                </vr-row>
            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formPricingRuleEditor" data-onclick="SavePricingRule"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
