<vr-panel ng-controller="WhS_BE_SalePricingRuleManagementController">

    <vr-form name="formFilter" vr-loader="isLoadingFilterData">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices selectedindex="selectedTabIndex">
                        <vr-choice isselected="basicSelected">Basic</vr-choice>
                        <vr-choice isselected="advancedSelected">Advanced</vr-choice>
                    </vr-choices>

                    <vr-row>
                        <vr-columns width="normal">
                            <vr-textbox label="Description" value="description"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-select ismultipleselection datatextfield="description" datavaluefield="value"
                                       label="Rule Type" datasource="pricingRuleTypes" selectedvalues="selectedPricingRuleTypes" ng-show="advancedSelected"></vr-select>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-whs-be-carrieraccount-selector ismultipleselection getcustomers on-ready="onCarrierAccountDirectiveReady" ng-show="advancedSelected"></vr-whs-be-carrieraccount-selector>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-whs-be-sellingnumberplan-selector on-ready="onSellingNumberPlanDirectiveReady" onselectitem="onSelectSellingNumberPlan" ng-show="advancedSelected"></vr-whs-be-sellingnumberplan-selector>
                        </vr-columns>
                        <vr-columns width="normal" ng-show="showSaleZoneSelector" vr-loader="isLoadingSaleZonesSelector">
                            <vr-whs-be-salezone-selector ismultipleselection on-ready="onSaleZoneDirectiveReady" ng-show="advancedSelected" />
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-datetimepicker label="Effective Date" value="effectiveDate" type="dateTime" ng-show="advancedSelected"></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <vr-button type="Add" menuactions="addMenuActions"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-whs-be-salepricingrule-grid on-ready="onGridReady"></vr-whs-be-salepricingrule-grid>
    </vr-form>

</vr-panel>