<vr-row removeline>
    <vr-columns width="1/4row">
        <cdranalysis-fa-period-selector on-ready="onPeriodSelectorReady" onselectionchanged="onPeriodSelectionChanged" isrequired="true" hideremoveicon></cdranalysis-fa-period-selector>
    </vr-columns>

    <vr-columns width="1/4row" vr-loader="isLoadingData">
        <cdranalysis-fa-strategy-selector on-ready="onStrategySelectorReady" ismultipleselection isrequired="true"></cdranalysis-fa-strategy-selector>
    </vr-columns>

    <vr-columns width="1/4row" ng-show="!showDateHour">
        <vr-datetimepicker value="fromDate" label="From Date" customvalidate="validateDateRange()" isrequired type="date"></vr-datetimepicker>
    </vr-columns>

    <vr-columns width="1/4row" ng-show="!showDateHour">
        <vr-datetimepicker value="toDate" label="To Date" customvalidate="validateDateRange()" isrequired type="date"></vr-datetimepicker>
    </vr-columns>

    <vr-columns width="1/4row" ng-show="showDateHour">
        <vr-datetimepicker value="fromDateHour" label="From Time" customvalidate="validateHourRange()" isrequired type="dateHour"></vr-datetimepicker>
    </vr-columns>

    <vr-columns width="1/4row" ng-show="showDateHour">
        <vr-datetimepicker value="toDateHour" label="To Time" customvalidate="validateHourRange()" isrequired type="dateHour"></vr-datetimepicker>
    </vr-columns>

</vr-row>
<vr-row removeline>

    <vr-columns width="1/4row">
        <vr-switch value="includeWhiteList" label="Include White List">  </vr-switch>
    </vr-columns>

</vr-row>
