.text-center{
    text-align:center;
}
.no-margin{
    margin:0px;
}
.no-float{   
    float:none 
}
.action-bar-label{
    display: inline-block;
    color: #fff;
    padding:5px 0px 0px 5px;
}
.action-bar-ddl{
    display:inline-block ;
}
.action-bar-ddl-label{
    width:50px;
    position:relative;
    float:none;
    color:#fff
}
.action-bar-ddl-ul{
    width:50px;
    min-width:50px
}
.action-bar-ddl-item{
    display: block;
    padding:2px; 
    margin:2px; 
    white-space: normal;
}
.action-bar-ddl-inner-item{
    display: table-cell;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden
}
.action-bar-btn-icon{
    border-radius: 0px !important;
    border-color: transparent !important;
    background-color: transparent !important;
    color: #FFF !important;
}
