body {
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
.pading-top-s {
    margin-top: 2px !important;
}
.dragbelzone{
    background-color: #FFF;
    padding:5px ;
}
.dragbelzone .handeldrag{
   cursor:move ;
   padding-top: 10px;
}
.dragbelzone:empty{
    display:none;
}
.hand-cursor{
    cursor: pointer !important;
     cursor: hand !important;
}
.custom-input{
    font-family: "Lato","Helvetica Neue",Arial,Helvetica,sans-serif;
    padding:5px ;
    background: none repeat scroll 0% 0% #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 0.2857rem;
    transition: background-color 0.2s ease 0s, box-shadow 0.2s ease 0s, border-color 0.2s ease 0s;
    box-shadow: none;
}
.selected{
    background-color: #D0D0D0  !important;
    border-color: #D0D0D0  !important;
}
.mark-select:hover{
    background-color: #D0D0D0  !important;
    border-color: #D0D0D0  !important;
    color:#fff !important;
    cursor: pointer !important;
    cursor: hand !important;
}
.single-col-checklist{
    width:226px ;
}
.double-col-checklist{
    width:452px ;
}
.single-col-checklist-md{
    width:285px ;
}
.double-col-checklist-md{
    width:575px ;
}
.custom-label{
    display: inline-block;
    vertical-align: baseline;
    line-height: 1;
    margin: .125em .125em;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
    background-image: none;
    padding: .6em .8em;
    color: rgba(0,0,0,.6);
    font-weight: 700;
    border-radius: .2857rem;
    box-sizing: border-box;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
}
.link:hover{
    text-decoration:none !important;
}
.dropdown-menu {
 font-weight:700 !important;
 font-size:13px !important;
 color:rgba(0, 0, 0, 0.6) !important;
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 6px;
  z-index:10;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.item-menu{
    padding: 2px 5px;
    margin:0px;
    display:block;
}
.icon-loader{
    background-image: url("loader.gif");
	background-repeat: no-repeat;
    height: 18px;
    width: 18px;
    top:8px;
   right: 4px !important;
}
.max-width-md {
    width: 120px !important;
    max-width:120px !important;
}
.inline-block{
    display:inline-block !important;
}
.panel-over-color{
    border-color: transparent !important;
    background-color:#fff;
}
.action-bar{
    background-color: #4C5359;
}
.action-bar-left{   
    width:49%;
}
.action-bar-left button{
    float:left;
}
.action-bar-right{
    width:49%;
}
.action-bar-right button{
    float:right !important ;
}
.btncustom:hover{
 
    opacity:0.99;
    background-color:black !important;

}
.style-col{
    background-color: #FFF;
    border-radius: 4px;
    margin-left:10px;
}
.col-no-padding{
   
    padding-left:0px !important;
    padding-right:0px !important;
}
.style-row{
    padding: 10px;
    border-bottom: 1px dashed #BABABA;
} 
.emptycol{
    display:none;
}
label{
    font-weight:normal;
}
body{
     background-color:#f0f0f0;
}
.pad-top-m{
    padding-top : 10px
}