<vr-row removeline>
    <vr-columns width="1/3row">
        <vr-select datatextfield="description" datavaluefield="value" label="Routing Database Type" datasource="routingDatabaseTypes"
                   selectedvalues="selectedRoutingDatabaseType" onselectionchanged="onRoutingProductDatabaseTypeSelectionChanged" hideremoveicon />
    </vr-columns>
    <vr-columns width="1/3row" ng-show="!isFuture">
        <vr-datetimepicker type="datetime" value="effectiveOn" label="Effective On" isrequired="!isFuture"></vr-datetimepicker>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-select label="Code Prefix Length" datasource="codePrefixOptions" selectedvalues="selectedCodePrefixOption" isrequired></vr-select>
    </vr-columns>
</vr-row>