<vr-row removeline class="genericeditorsetting">
    <div ng-sortable="scopeModel.dragsettings">
        <div ng-repeat="row in scopeModel.datasource">
            <div class="main-row" vr-loader="row.isRowContainerFieldsDirectiveLoading">
                <vr-label class="row-title" mediumsize>{{row.entity.numberOfFields}}</vr-label>
                <div ng-click="row.removeRow()" class="glyphicon glyphicon-remove hand-cursor remove-icon"></div>
                <vr-genericdata-rowscontainereditor-fields-definition on-ready="row.onRowContainerFieldsDirectiveReady" normal-col-num="3"></vr-genericdata-rowscontainereditor-fields-definition>
            </div>
        </div>
    </div>
</vr-row>

<vr-row class="genericeditorsetting">
    <vr-columns colnum="12" >
        <vr-validator tobottom validate="scopeModel.isValid()">
            <div class="vr-additem-box-horizontal">
                <span title="Add new row" class="glyphicon glyphicon-plus add-icon" ng-click="scopeModel.addRowContainer()" ></span>
            </div>
        </vr-validator>
    </vr-columns>
</vr-row>
