
<vr-datagrid on-ready="scopeModel.onGridReady"
             datasource="scopeModel.route"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="scopeModel.menuActions"
             idfield="Entity.RouteId">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.RouteId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Route'" field="'Entity.Description'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Host'" field="'Entity.Host'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'State'" field="'CurrentStateDescription'"></vr-datagridcolumn>

</vr-datagrid>