<vr-columns width="1/3row">
    <vr-select datasource="scopeModel.fields"
               datatextfield="fieldTitle"
               datavaluefield="fieldName"
               selectedvalues="scopeModel.selectedAccountType"
               entityname="Field Name"
               label="Account Type Field Name"
               isrequired="true" hideremoveicon>
    </vr-select>
</vr-columns>
<vr-columns width="1/3row">
    <vr-select datasource="scopeModel.fields"
               datatextfield="fieldTitle"
               datavaluefield="fieldName"
               selectedvalues="scopeModel.selectedAccount"
               onselectionchanged="scopeModel.onAccountSelectionChanged"
               entityname="Field Name"
               label="Account Field Name"
               isrequired="true" hideremoveicon>
    </vr-select>
</vr-columns>
<span ng-show="scopeModel.selectedAccount != undefined" vr-loader="scopeModel.isParentAccountTypeSelectorLoading">
    <retail-be-accounttype-selector on-ready="scopeModel.onParentAccountTypeSelectorReady"
                                    customlabel="Parent Account Type" normal-col-num="4"
                                    isrequired="true" hideremoveicon>
    </retail-be-accounttype-selector>
</span>