<!--<vr-row removeline>
    <vr-columns width="large">
        <vr-select label="Parent Business Rule Set" datatextfield="Name" datavaluefield="BPBusinessRuleSetId"
                   datasource="businessRuleSets" selectedvalues="scopeModel.selectedbusinessRuleSet"></vr-select>
    </vr-columns>
</vr-row>-->
<!--<vr-columns width="large">
    <vr-select label="Business Rule Definition" datatextfield="Entity.Settings.Description" datavaluefield="BPBusinessRuleDefinitionId"
               datasource="businessRuleDefintions" selectedvalues="scopeModel.selectedbusinessRuleDefintion"></vr-select>

</vr-columns>-->

<vr-validator validate="ctrl.isValid()">
    <vr-datagrid datasource="bpBusinessRules"
                 dataretrievalfunction="dataRetrievalFunction"
                 on-ready="onGridReady"
                 getrowstyle="getRowStyle"
                 idfield="RuleDefinitionId" ondeleterow="removeBusinessRule">
        <vr-datagridcolumn headertext="'ID'" field="'RuleDefinitionId'" type="'Text'" disablesorting="true"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Title'" field="'Description'" type="'Text'" widthfactor="'3'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Description'" field="'Description'" type="'Text'" widthfactor="'7'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Action'" field="'ActionDescription'" type="'Text'" isfielddynamic="true" fixedwidth="'120'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Override'" fixedwidth="'80'">
            <vr-columns width="fullrow" ng-if="!dataItem.hideOverrideSettings() && dataItem.ActionTypesIds.length > 1">
                <vr-switch value="dataItem.IsOverriden" onvaluechanged="dataItem.onInheritedSwitchChanged"> </vr-switch>
            </vr-columns>
        </vr-datagridcolumn>
        <vr-datagridcolumn  fixedwidth="'150'">
            <span ng-if="(!dataItem.hideOverrideSettings() && dataItem.IsOverriden)">
                <vr-columns colnum="8" haschildcolumns>
                    <bp-business-rule-actions-selective hidelabel on-ready="dataItem.onRuleActionsSelectiveReady"></bp-business-rule-actions-selective>
                </vr-columns>
            </span>
        </vr-datagridcolumn>
        <vr-datagridcolumn field="'IsInherited'" headertext="''" fixedwidth="'120'">
            <span ng-if="dataItem.hideOverrideSettings()">
                <vr-columns width="fullrow">
                    <span ng-click="dataItem.onResetClicked(dataItem)" style="cursor: pointer; text-decoration: underline">Reset to default</span>
                </vr-columns>
            </span>
        </vr-datagridcolumn>
    </vr-datagrid>
</vr-validator>
