<vr-panel ng-controller="CP_WhS_ReleaseCodeStatisticsController">
    <vr-form name="formFilter">

        <div ng-hide="filterSectionCollapsed" vr-loader="isLoading">
            <vr-row removeline>
                <cp-whs-accountviewtype-selector normal-col-num="2" on-ready="onAccountViewTypeSelectorReady" isrequired="true" onselectionchanged="onAccountViewTypeSelectionChange" selectedvalues="selectedAccountViewType"></cp-whs-accountviewtype-selector>
                <cp-whs-carrieraccounts-selector normal-col-num="2" on-ready="onAccountDirectiveReady" ismultipleselection selectedvalues="selectedCarrierAccounts" vr-disabled="selectedAccountViewType==undefined"></cp-whs-carrieraccounts-selector>
                <cp-whs-releasecode-dimension-selector normal-col-num="2" ismultipleselection on-ready="onReleaseCodeDimenssionDirectiveReady"></cp-whs-releasecode-dimension-selector>
                <vr-genericdata-businessentity-remoteselector on-ready="onCountryReady"
                                                              normal-col-num="2"
                                                              ismultipleselection>
                </vr-genericdata-businessentity-remoteselector>
                <vr-timerange on-ready="onTimeRangeDirectiveReady" type="longDateTime" width="normal" period="today" from="fromDate" to="toDate" isrequired="true"></vr-timerange>
                <!--<vr-whs-be-salezone-masterplan-selector normal-col-num="2" ismultipleselection on-ready="onSaleZoneDirectiveReady"></vr-whs-be-salezone-masterplan-selector>-->
            </vr-row>
        </div>


        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="getData"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <cp-whs-releasecodestatistics-grid on-ready="onMainGridReady" dimension="dimensionvalues"></cp-whs-releasecodestatistics-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>




