<div vr-modalcontent ng-controller="NP_IVSwitch_RouteEditorController" width="'40%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formRouteEditor">
            <vr-tabs>
                <vr-tab header="'Info'">
                  
                    <vr-columns width="1/2row">
                        <vr-textbox label="Description" value="scopeModel.description" isrequired></vr-textbox>
                    </vr-columns>
                   

               
                    <vr-columns width="1/2row">
                        <vr-textbox label="Log Alias" value="scopeModel.logalias" isrequired></vr-textbox>
                    </vr-columns>

                    <np-ivswitch-codecprofile-selector on-ready="scopeModel.onSelectorCodecProfileReady" onselectionchanged="scopeModel.onSelectionCodecProfileChanged"
                                                   normal-col-num="6"></np-ivswitch-codecprofile-selector>  
                    <np-ivswitch-translationrule-selector on-ready="scopeModel.onSelectorTranslationRuleReady" onselectionchanged="scopeModel.onSelectionTranslationRuleChanged"
                                                       normal-col-num="6"></np-ivswitch-translationrule-selector>                  
                </vr-tab>
                <vr-tab header="'Control'">
                    <vr-columns width="1/2row">
                        <vr-select datatextfield="description" datavaluefield="value" label="Current State"
                                   datasource="scopeModel.states" selectedvalues="scopeModel.currentstate" onselectionchanged="scopeModel.onSelectionChangedState"></vr-select>
                    </vr-columns>
                    <vr-columns width="1/2row">
                        <vr-textbox label="Channels Limit" value="scopeModel.channelslimit" type="number" isrequired></vr-textbox>
                    </vr-columns>

                    <vr-columns width="1/2row">
                        <vr-datetimepicker type="datetime" label="Wakeup Time" value="scopeModel.wakeuptime" isrequired></vr-datetimepicker>
                    </vr-columns>
                     
                  
                    <vr-columns width="1/2row">
                        <vr-textbox label="Host" value="scopeModel.host" isrequired></vr-textbox>
                    </vr-columns>
                    <vr-columns width="1/2row">
                        <vr-textbox label="Port" value="scopeModel.port" isrequired></vr-textbox>
                    </vr-columns>
                  
                    <vr-columns width="1/2row">
                        <vr-select    datatextfield="description" datavaluefield="value" label="SIP Transport Mode"
                                   datasource="scopeModel.transportmode" selectedvalues="scopeModel.transportmodeid" onselectionchanged="scopeModel.onSelectionChangedTransportMode"></vr-select>
                    </vr-columns>

                    <vr-columns width="1/2row">
                        <vr-textbox label="Connection Timeout (s)" value="scopeModel.connectiontimeout" isrequired></vr-textbox>
                    </vr-columns>
                    <vr-columns width="1/2row">
                        <vr-textbox label="Custom Route Parameters"  ></vr-textbox>
                    </vr-columns>
                  

                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formRouteEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>