<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.beginDateTimeFieldName" label="Begin Date Time Field Name" isrequired="true"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.endDateTimeFieldName" label="End Date Time Field Name " isrequired="true"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.durationFieldName" label="Duration Field Name" isrequired="true"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.yearIndex" label="Year Index" isrequired="true"type="number"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.monthIndex" label="Month Index " isrequired="true" type="number"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.dayIndex" label="Day Index" isrequired="true" type="number"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.hoursIndex" label="Hours Index" isrequired="true" type="number"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.minutesIndex" label="Minutes Index " isrequired="true" type="number"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.secondsIndex" label="Seconds Index " isrequired="true" type="number"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.flagsMillisecondsIndex" label="Flags Milliseconds Index " isrequired="true" type="number"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.durationIndex" label="Duration Index" isrequired="true" type="number"></vr-textbox>
    </vr-columns>
</vr-row>