<div vr-modalcontent ng-controller="WhS_BE_UploadSwitchReleaseCauseEditorController" width="'50%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formUploadSwitchReleaseCauseEditor">
            <vr-row removeline>
                <vr-whs-be-switch-selector on-ready="scopeModel.onSwitchSelectorReady" normal-col-num="4" isrequired="true" hideremoveicon="true"></vr-whs-be-switch-selector>
                <vr-columns width="1/3row">
                    <vr-label>Upload File</vr-label>
                    <vr-fileupload tempfile="true" extension="xls,xlsx" value="file" isrequired> </vr-fileupload>
                </vr-columns>
                <vr-columns width="fullrow">
                    <vr-row removeline>
                        <vr-columns width="fullrow" ng-show="scopeModel.isUploadingComplete">
                            <vr-label>Number Of Switch Release Causes Added:</vr-label><vr-label isvalue>{{scopeModel.addedSwitchReleaseCauses}}</vr-label>
                        </vr-columns>

                    </vr-row>
                    <vr-row removeline>
                        <vr-columns width="fullrow" ng-show="scopeModel.isUploadingComplete">
                            <vr-label>Number Of Switch Release Causes Failed:</vr-label><vr-label isvalue>{{scopeModel.existsSwitchReleaseCauses}}</vr-label>
                        </vr-columns>
                    </vr-row>
                    <vr-row removeline>
                        <vr-columns width="fullrow" ng-show="scopeModel.isUploadingComplete">
                            <vr-label>Download Result</vr-label>
                            <vr-button type="Download" data-onclick="scopeModel.downloadLog" standalone></vr-button>
                        </vr-columns>
                    </vr-row>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Upload" formname="formUploadSwitchReleaseCauseEditor" data-onclick="scopeModel.uploadSwitchReleaseCauses"></vr-button>
                <vr-button type="Download" data-onclick="scopeModel.downloadTemplate"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
