<div vr-modalcontent ng-controller="Retail_BE_SwitchEditorController" width="'50%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formSwitchEditor">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Name" value="scopeModel.name" isrequired></vr-textbox>
                        </vr-columns>
                            <retail-be-switch-settings on-ready="scopeModel.onSwitchDirectiveReady" normal-col-num="6"></retail-be-switch-settings>
                    </vr-row>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formSwitchEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>