<vr-panel ng-controller="ExecutionFlowController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox value="name" label="Name"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-executionflowdefinition-selector on-ready="onExecutionFlowDefinitionSelectorReady" selectedvalues="selectedExecutionFlowDefinition"></vr-executionflowdefinition-selector>
                </vr-columns>
                
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                    <vr-button type="Add"  data-onclick="addExecutionFlow"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-executionflow-grid on-ready="onGridReady"></vr-executionflow-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>
