<vr-datagrid datasource="queueItemHeader"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             defaultsortbyfieldname="'Entity.QueueId'"
             on-ready="ongridReady"
             idfield="Entity.QueueId">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.ItemId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Execution Flow'" field="'ExecutionFlowName'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Queue Instance'" field="'QueueTitle'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'" field="'StatusName'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Stage'" field="'StageName'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Error Message'" field="'Entity.ErrorMessage'" disablesorting expendablecolumn></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created Time'" field="'Entity.CreatedTime'" type="'LongDatetime'" fixedwidth="'120'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" field="'Entity.Description'"></vr-datagridcolumn>
</vr-datagrid>