<vr-columns width="1/3row">
    <vr-select hideremoveicon datasource="scopeModel.connectionTypes" selectedvalues="scopeModel.selectedConnectionType" label="Connection Type" datatextfield="description" datavaluefield="value" isrequired="true"></vr-select>
</vr-columns>
<vr-columns width="1/3row">
    <vr-textbox label="Download Speed" type="number" value="scopeModel.downloadSpeed"></vr-textbox>
</vr-columns>
<vr-columns width="1/3row">
    <vr-textbox label="Upload Speed" type="number" value="scopeModel.uploadSpeed"></vr-textbox>
</vr-columns>
