<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CallGeneratorLibrary.Properties.Settings.CallGeneratorConnectionString"
            connectionString="Data Source=.;User ID=sa;Password=vanrise@cce$$;Initial Catalog=FraudDetection;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>