<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ListentoEmail" value="VanriseFMSTest@gmail.com" />
    <add key="EmailPassword" value="P@ssw0rd123456" />
    <add key="HostName" value="pop.gmail.com" />
    <add key="Port" value="995" />
    <add key="EnableSSL" value="true" />
    <add key="UploadPath" value="C:\\FMS_Import\\Automatic\\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ReportsPath" value="C:\\FMS\\Pub\\FMS_Reports\\"/>
    <add key="ZainExcel" value="true"/>
    <add key="EmailCCNatSec" value="hhawi@vanrise.com"/>
    <add key="TimeInterval" value="50000"/>
    <add key="CommandTimeInterval" value="300"/>
    <add key="DailyReportsSummaryTimeInterval" value="86400000"/>

  </appSettings>


  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.110.185\MSSQL2014;initial catalog=FMS;persist security info=True;User ID=Development;password=dev!123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="FMSConnectionString" connectionString="Data Source=192.168.110.185\MSSQL2014;Initial catalog=FMS;Persist Security Info=True;User ID=Development;password=dev!123" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>