<vr-form name="formFilter">
    <vr-row ng-init="fieldType = 'password'">
        <vr-columns width="normal">
            <div vr-disabled="istrue">
                <input ng-click="logevent()" value="log" type="button" />
            </div>

            <vr-textbox type="email" label="Email" value="email"></vr-textbox>{{email}}
        </vr-columns>
        <vr-columns width="normal">
            <vr-textbox type="number" label="Number" value="number"></vr-textbox>{{number}}
        </vr-columns>
        <vr-columns width="normal">
            <vr-textbox type="password" label="Password" value="password"></vr-textbox>{{password}}
        </vr-columns>
        <vr-columns width="normal">
            <vr-switch value="showField"></vr-switch>
            <vr-textbox type="{{fieldType}}" label="Password" value="field"></vr-textbox>{{field}}

            <vr-directivewrapper directive="vrTextbox " value="field" type="fieldType"></vr-directivewrapper>

        </vr-columns>
        <vr-columns width="normal">
            <vr-treeview datatextfield="Name" datavaluefield="id" datachildrenfield="children" on-ready="treeReady" selecteditem="selectedTreeNode" onvaluechanged="treeValueChanged"></vr-treeview>
        </vr-columns>
    </vr-row>
    <vr-progressbar value="progress"></vr-progressbar>
    <vr-row ng-init="fieldType = 'password'">

        <vr-columns width="normal">
            <vr-fileupload value="doc" on-ready="vrFileReady" isrequired> </vr-fileuploadlabel>
        </vr-columns>

        <vr-columns width="normal">
            <vr-datetimepicker type="dateTime" value="effectiveOn" label="Time from"></vr-datetimepicker>{{effectiveOn}}
        </vr-columns>
        <vr-columns width="normal">
            <vr-datetimepicker type="dateTime" value="effectiveOn2" label="Time On"></vr-datetimepicker>{{effectiveOn2}}
        </vr-columns>
        <vr-columns width="normal" >
            <vr-check value="checkvalue" ></vr-check>{{checkvalue}}
        </vr-columns>
    </vr-row>
    <div class="row fileupload-buttonbar">
        <div class="col-lg-4">
            <!--<div class="vr-file-ulpoad">
                <span class="btn btn-success fileinput-button vr-file-btn">
                    <i class="glyphicon glyphicon-plus "></i>
                    <span>Add file...</span>
                    <input type="file" id="fileUpload">
                </span>
                <div ng-if="filesAdded.length > 0" class="vr-file">
                    <a class="vr-file-name">{{filesAdded[filesAdded.length -1 ].name}}</a>
                    <div ng-show="num2 < 90" class="progress-bar progress-bar-success  progress-bar-striped active vr-file-process" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{width: num2 + '%'}"></div>
                    <div ng-show="num == 100 " class="vr-file-process" style="font-size: 10px;top: 20px;"><span>Complete</span></div>
                </div>
                <span ng-show="filesAdded.length > 0" class="glyphicon glyphicon-remove hand-cursor vr-file-remove" aria-hidden="true" ng-click="filesAdded.length = 0 "></span>
            </div>-->
            <!--{{num}}-->
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fade" data-ng-class="{in: active()}">
            <!-- The global progress bar -->
            <div class="progress progress-striped active"><div class="progress-bar progress-bar-success"></div></div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>

    </div>
    <span ng-repeat="f in filesAdded"> {{f.name}}</span>
    <!--<span ng-model="filesAdded"></span>-->
    <vr-row>
        <vr-columns width="normal">
            <div style="max-width:50px">
                <div class="vr-numeric">
                    <input ng-model="spiner" class="form-control" type="text" />
                    <div class="vr-numeric-control" style="right: 20px;">

                        <div class="hand-cursor arrow-box">

                            <div class="caret-up"></div>

                        </div>
                        <div class="hand-cursor arrow-box ">

                            <div class="caret-down"></div>

                        </div>

                    </div>
                </div>
            </div>

        </vr-columns>


        <vr-columns width="normal" ng-init="up='dfsgsdfg'">
            <vr-numeric value="numeric" downsign="safe" upsign="{{up}}"></vr-numeric>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-list datasource="listData">
                <div transclude-to="header">
                    <vr-row removeline>
                        <vr-columns width="normal">Value </vr-columns>
                        <vr-columns width="normal">Name </vr-columns>
                    </vr-row>
                </div>

                <div transclude-to="rowdiv">
                </div>
            </vr-list>

        </vr-columns>
    </vr-row>

</vr-form>

<vr-row>
    <vr-columns width="1/2row">
        <vr-section title="Timer Trigger" collapsible>

           
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-section title="Settings" level="2" collapsible>
                        <vr-form>
                            <vr-row removeline>
                                <vr-columns width="1/2row">
                                    <vr-columns width="1/2row">
                                        <vr-datetimepicker label="Runs at" type="time" value="selectedTime"></vr-datetimepicker>
                                    </vr-columns>
                                    <vr-columns colnum="2" withemptyline>
                                        <vr-button type="Add" data-onclick="addTime" standalone />
                                    </vr-columns>
                                </vr-columns>
                                <vr-columns width="1/2row">
                                    <vr-select label="Type" isrequired datasource="[]" selectedvalues="selectedType"
                                               datatextfield="name" datavaluefield="value" onaddclicked="test">
                                    </vr-select>
                                </vr-columns>
                            </vr-row>
                        </vr-form>
                    </vr-section>
                </vr-columns>
            </vr-row>
        </vr-section>
    </vr-columns>
</vr-row>


<vr-row>
    <vr-columns width="fullrow">
        <div class="wrapper">
            <div class="content">
                <div class="box">
                    <div class="vertical-text" get-style pullrigth><label>Skills</label></div>
                </div>
                <div class="box">
                    <div style="display:block;width:100%;height:50% ; border-bottom:1px solid">
                        <div style=" display: table; position: relative; height: 100%; width: 100%;"><div style="display: table-cell; vertical-align: middle;">Average</div></div>
                    </div>
                    <div style="display:flex;width:100%;height:50% ;">
                        <div style="display: inline-block; height: 100%; width: 100%; ">
                            <div style=" display: table; position: relative; height: 100%; width: 100%;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    In
                                </div>
                            </div>
                        </div>
                        <div style="display: inline-block; height: 100%; width: 100%; border-left: 1px solid; ">

                            <div style=" display: table; position: relative; height: 100%; width: 100%;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    Out
                                </div>
                            </div>
                        </div>

                        <div style="display: inline-block; height: 100%; width: 100%; border-left: 1px solid;">

                            <div style=" display: table; position: relative; height: 100%; width: 100%;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    xxx dd
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="box">
                    <div style="display:flex;width:100%;height:100% ;">
                        <div style="display: inline-block; height: 100%; width: 50%; ">
                            <div class="vertical-text" get-style><label> Resume sdfasd  </label></div>

                        </div>

                        <div style="display: inline-block; height: 100%; width: 50%; border-left: 1px solid;">

                            <div class="vertical-text" get-style><label> Resume sdfasd  </label></div>

                        </div>

                    </div>
                </div>

                <div class="box">
                    <div style="display:block;width:100%;height:50% ; border-bottom:1px solid">
                        <div style=" display: table; position: relative; height: 100%; width: 100%;"><div style="display: table-cell; vertical-align: middle;">Average</div></div>
                    </div>
                    <div style="display:block;width:100%;height:50% ;">
                        <div style="display: inline-block; height: 100%; width: 33%; margin-left: -3px; ">
                            <div style=" display: table; position: relative; height: 100%; width: 100%;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    In
                                </div>
                            </div>
                        </div>
                        <div style="display: inline-block;height:100%; width: 33%; border-left: 1px solid; margin-left: -3px;">

                            <div style=" display: table; position: relative; height: 100%; width: 100%;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    Out
                                </div>
                            </div>
                        </div>

                        <div style="display: inline-block; height: 100%; width: 34%; border-left: 1px solid; margin-left: -3px; ">

                            <div style=" display: table; position: relative; height: 100%; width: 100%;">
                                <div style="display: table-cell; vertical-align: middle;">
                                    xxx dd
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="vertical-text" get-style><label>contact</label></div>
                </div>

            </div>
        </div>

    </vr-columns>




</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <div class="wrapper">
            <div class="content">
                <div class="box" ng-repeat="b in groupeHeaders" ng-style="{'width':100/groupeHeaders.length+'%'}">
                    <div ng-if="b.type=='leaf' && b.rotated == false" style=" display: table; position: relative; height: 100%; width: 100%;">
                        <div style="display: table-cell; vertical-align: middle;">
                            {{b.lable}}
                        </div>
                    </div>
                    <div ng-if="b.type=='root' && b.rotated == false" style=" display: block;  height: 100%; width: 100%;">
                        <div style="display:block;width:100%;height:50% ; border-bottom:1px solid">
                            <div style=" display: table; position: relative; height: 100%; width: 100%;">
                                <div style="display: table-cell; vertical-align: middle;">{{b.lable}}</div>
                            </div>
                        </div>
                        <div ng-if=" b.groupe.length > 0" class="groupe-list" style="display:flex;width:100%;height:50% ;">
                            <div ng-repeat="c in b.groupe" class="groupe-cell" style="display: inline-block; height: 100%; width: 100%;">
                                <div style=" display: table; position: relative; height: 100%; width: 100%;">
                                    <div style="display: table-cell; vertical-align: middle;">
                                        {{c.lable}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="b.type=='leaf' && b.rotated == true" style=" display: block;  height: 100%; width: 100%;">
                        <div class="vertical-text" get-style position="{{b.position}}"><label>{{b.lable}}</label></div>
                        <!--<div>onther one</div>-->

                    </div>
                </div>
            </div>
        </div>

    </vr-columns>
</vr-row>
<style>
    .content {
        width: 70%;
        height: 350px;
    }

        .content div {
            text-align: center;
        }

    .box {
        width: 20%;
        height: 100%;
        float: left;
        font-size: 12px;
        cursor: pointer;
        filter: alpha(opacity=80);
        opacity: 0.8;
        border-left: 1px solid;
        border-top: 1px solid;
        border-bottom: 0px solid;
    }

    .content .box:last-child {
        border-right: 1px solid;
    }

    .groupe-list .groupe-cell:last-child {
        border-left: 1px solid;
    }

    .content:last-child {
        border-bottom: 1px solid;
    }

    .vertical-text {
        -ms-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 33px;
        -moz-transform-origin: center bottom;
        position: relative;
    }

        .vertical-text label {
            margin: 0px;
            white-space: nowrap;
        }
</style>
<div class="col-sm-3">
    time
    <div class="input-group date datetime-controle" id="datetimepicker2">

        <input type="text" class="form-control input-sm">
        <span class="input-group-addon ">
            <i class="glyphicon glyphicon-time"></i>
        </span>
    </div>
</div>
<div class="col-sm-3">
    date
    <div class="input-group date datetime-controle" id="datetimepicker3">

        <input type="text" class="form-control input-sm">
        <span class="input-group-addon ">
            <i class="glyphicon glyphicon-calendar"></i>
        </span>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'L HH:mm',
            showClose: true
        });
        $('#datetimepicker2').datetimepicker({
            format: 'HH:mm'
        });
        $('#datetimepicker3').datetimepicker({
            format: 'DD/MM/YYYY'
        });

        $('#datetimepicker3').on('dp.show', function (event) {
            console.log("in show")
            //console.log(divDatePicker + "dp.show")
            //var self = $(this);
            //var selfHeight = $(this).parent().height();
            //var selfOffset = $(self).offset();
            //var dropDown = self.parent().find('bootstrap-datetimepicker-widget')[0];
            //$(dropDown).css({ position: 'fixed', top: selfOffset.top + selfHeight, left: 'auto' });
        });
        console.log($('#datetimepicker3'))
        $('#datetimepicker3').data("DateTimePicker").date(new Date());

        //alert($('#datetimepicker3').data("DateTimePicker").date())
    });
</script>

<input type="text" ng-model="testModel" />
    {{testModel}}
ff
<vr-row>
    <vr-columns width="normal"><div style="width:100%;background-color:red">normal</div></vr-columns>
    <vr-columns width="small"><div style="width:100%;background-color:red">small</div></vr-columns>
    <vr-columns width="large"><div style="width:100%;background-color:red">large</div></vr-columns>
    <vr-columns width="1/4row"><div style="width:100%;background-color:red">1/4</div></vr-columns>
    <vr-columns width="1/3row"><div style="width:100%;background-color:red">1/3</div></vr-columns>
    <vr-columns width="1/2row"><div style="width:100%;background-color:red">1/2</div></vr-columns>
    <vr-columns width="fullrow"><div style="width:100%;background-color:red">full</div></vr-columns>
</vr-row>
<input type="button" ng-click="postMsg()" value="Post" />

<vr-datagridcell htmltemplate='html'>

</vr-datagridcell>
<input type="button" ng-click="addItem()" value="Add Item" />
<vr-datagrid defaultsortbyfieldname="'col2'" defaultsortdirection="'DESC'" datasource="gridData" maxheight="400px" loadmoredata="loadMoreData" on-ready="gridReady">
    <vr-datagridcolumn headertext="'Column '" field="'col3'">
    </vr-datagridcolumn>
    <vr-datagridcolumn field="'col2'">
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Column '">
        <input type="text" ng-model="dataItem.col3" />
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Column '" field="'col3'">
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Column 4'">
        <input type="text" ng-model="dataItem.col3" />
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Column 3'" field="'col3'">
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Column 3'" field="'col3'">
    </vr-datagridcolumn>
</vr-datagrid>

<vr-choices selectedindex="choiceIndex" onselectionchanged="choiceSelectionChanged" on-ready="choicesReady">
    <vr-choice isselected="testObj.isTab1Selected" onselectionchanged="choiceSelectionChanged">test1</vr-choice>
    <vr-choice isselected="testObj.isTab2Selected" onselectionchanged="choiceSelectionChanged">test2</vr-choice>
    <vr-choice isselected="isTab3Selected">test3</vr-choice>
    <vr-choice>test4</vr-choice>
    <vr-choice>test5</vr-choice>
</vr-choices>
<div>

</div>
{{testObj}}
choiceIndex
<input type="text" ng-model="choiceIndex" ng-change="selectChoice()">
testObj.isTab1Selected
<input type="text" ng-model="testObj.isTab1Selected">
testObj.isTab1Selected
<input type="text" ng-model="testObj.isTab2Selected">
isTab3Selected
<input type="text" ng-model="isTab3Selected">

