<vr-panel ng-controller="VR_Invoice_GenericInvoiceManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="scopeModel.isLoadingFilters">
            <vr-row removeline>
                <vr-invoice-accountstatus-selector hideremoveicon on-ready="scopeModel.onAccountStatusSelectorReady" normal-col-num="2" onselectionchanged="    scopeModel.onAccountStatusSelectionChanged"></vr-invoice-accountstatus-selector>

                <vr-directivewrapper vr-loader="scopeModel.isLoadingDirective" directive="scopeModel.invoiceTypeEntity.InvoicePartnerManager.PartnerFilterSelector" on-ready="scopeModel.onPartnerSelectorReady" normal-col-num="2" ismultipleselection></vr-directivewrapper>

                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="From" value="scopeModel.fromDate" isrequired="true"></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker type="date" applytimemax label="To" value="scopeModel.toDate"></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="Issue Date" value="scopeModel.issueDate"></vr-datetimepicker>
                </vr-columns>

                <vr-common-boolean-selector label="Sent" on-ready="scopeModel.onInvoiceSentSelectorReady" normal-col-num="2"></vr-common-boolean-selector>

                <vr-common-boolean-selector label="Paid" on-ready="scopeModel.onInvoicePaidSelectorReady" normal-col-num="2"></vr-common-boolean-selector>
                                
                <vr-invoice-invoicesetting-selector on-ready="scopeModel.onInvoiceSettingSelectorReady" normal-col-num="2" ismultipleselection></vr-invoice-invoicesetting-selector>
               

            </vr-row>
        </div>
    </vr-form>
    <vr-row removeline>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
            <div transclude-to="buttons">
                <vr-button type="DeselectAll" formname="formFilter" data-onclick="scopeModel.deselectAllClicked" vr-disabled="scopeModel.disableDeselectAll" ng-show="scopeModel.showActionButtons"></vr-button>
                <vr-button type="SelectAll" formname="formFilter" data-onclick="scopeModel.selectAllClicked" vr-disabled="scopeModel.disableSelectAll" ng-show="scopeModel.showActionButtons"></vr-button>
                <vr-button type="BulkActions" formname="formFilter" data-onclick="scopeModel.bulkActionsClicked" vr-disabled="scopeModel.disableBulkActions" ng-show="scopeModel.showActionButtons"></vr-button>
                <vr-button type="Search" formname="formFilter" data-onclick="scopeModel.searchClicked"></vr-button>
                <!--<vr-button type="GenerateInvoice" data-onclick="generateInvoice" haspermission="hasGenerateInvoicePermission"></vr-button>-->
                <vr-button type="GenerateInvoice" data-onclick="scopeModel.generateInvoices" haspermission="scopeModel.hasGenerateInvoicePermission"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-invoice-grid on-ready="scopeModel.onGridReady"></vr-invoice-grid>
        </vr-columns>
    </vr-row>
</vr-panel>