<div vr-modalcontent ng-controller="VRCommon_SMSMessageTemplateEditorController" width="'80%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formSMSMessageTemplateEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-textbox label="Name" localizedlabel="VRRes.Name.VREnd" value="scopeModel.name" isrequired></vr-textbox>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/3row">
                            <span vr-disabled="scopeModel.disabledSMSMessageType">
                                <vr-common-smsmessagetype-selector on-ready="scopeModel.onSMSMessageTypeSelectorReady" onselectionchanged="scopeModel.onSMSMessageTypeSelectionChanged"
                                                                    isrequired="true"></vr-common-smsmessagetype-selector>
                            </span>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

                <vr-tab header="'Settings'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-row removeline>
                                <vr-columns width="fullrow">
                                    <vr-textbox label="Mobile Number" localizedlabel="VRRes.MobileNumber.VREnd" value="scopeModel.mobileNumber"></vr-textbox>
                                </vr-columns>
                            </vr-row>
                            <vr-row removeline>
                                <vr-columns width="fullrow">
                                    <vr-textarea label="Message" localizedlabel="VRRes.Message.VREnd" value="scopeModel.message" isrequired></vr-textarea>
                                </vr-columns>
                            </vr-row>
                        </vr-columns>

                        <vr-columns width="1/2row" vr-loader="scopeModel.isGridLoading">
                            <vr-datagrid on-ready="scopeModel.onGridReady"
                                         datasource="scopeModel.objects"
                                         menuactions="scopeModel.menuActions"
                                         pagingtype="'PagingOnScroll'"
                                         hidegridmenu>
                                <vr-datagridcolumn headertext="'Object Name'" field="'ObjectName'" disablesorting></vr-datagridcolumn>

                                <vr-datagridexpandablerow>
                                    <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
                                </vr-datagridexpandablerow>
                            </vr-datagrid>
                        </vr-columns>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formSMSMessageTemplateEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>