<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>

		<section name="vanriseLogging" type="Vanrise.Common.LoggingConfiguration.LoggingConfig, Vanrise.Common" />
	</configSections>

	<vanriseLogging maxLogLevel="Information">
		<loggers>
			<logger name="SQLLogger" type="Vanrise.Logging.SQL.SQLLogger, Vanrise.Logging.SQL">
				<parameters>
					<parameter name="ConnectionStringKey" value="LogDBConnString" />
				</parameters>
			</logger>
			<logger name="ConsoleLogger"  type="Vanrise.Common.ConsoleLogger, Vanrise.Common"></logger>
		</loggers>
		<exceptionLoggers>
			<exceptionLogger name="DefaultExceptionLogger"  type="Vanrise.Common.DefaultExceptionLogger, Vanrise.Common"></exceptionLogger>
		</exceptionLoggers>
	</vanriseLogging>
	<connectionStrings>

		<!--<add name="TOneV2DBConnString" connectionString="Server=192.168.110.195;Database=TOneV2ConfigurationFidaa;User=developers;Password=dev!123"/>
		<add name="ConfigurationDBConnString" connectionString="Server=192.168.110.195;Database=TOneV2ConfigurationFidaa;User=developers;Password=dev!123"/>
		<add name="RoutingDBConnStringTemplateKey" connectionString="Server=192.168.110.195;Database=TOneV2_Fido_RoutingProductRoute_#WorkflowType#_#DatabaseId#;User=developers;Password=dev!123"/>
		<add name="TransactionDBConnString" connectionString="Server=192.168.110.195;Database=TOneV2TransactionFido;User=developers;Password=dev!123" />
		<add name="LogDBConnString" connectionString="Server=192.168.110.195;Database=TOneV2Loggingfido;User=developers;Password=dev!123" />
		<add name="TOne_Configuration_StateBackup" connectionString="Server=192.168.110.195;Database=TOneV2Configurationfido_StateBackup;User=developers;Password=dev!123"/>-->
		
		<!--<add name="TOneV2DBConnString" connectionString="Server=192.168.110.195;Database=MalakTONEV2Configuration;User=sa;Password=QAP@ssw0rd"/>
		<add name="ConfigurationDBConnString" connectionString="Server=192.168.110.195;Database=MalakTONEV2Configuration;User=sa;Password=QAP@ssw0rd"/>
		<add name="TransactionDBConnString" connectionString="Server=192.168.110.195;Database=MalakTONEV2transaction;User=sa;Password=QAP@ssw0rd" />
		<add name="RoutingDBConnStringTemplateKey" connectionString="Server=192.168.110.195;Database=MalakTONEV2_RoutingProductRoute_#WorkflowType#_#DatabaseId#;User=sa;Password=QAP@ssw0rd"/>-->

		<!--<add name="TOneV2DBConnString"
			 connectionString="Server=192.168.110.185\MSSQL2014;Database=V2_TOneV2_Online;User=Application_Online_User;Password=Application_Online_User"/>
		<add name="ConfigurationDBConnString"
			 connectionString="Server=192.168.110.185\MSSQL2014;Database=V2_TOneV2_Online;User=Application_Online_User;Password=Application_Online_User"/>
		<add name="TransactionDBConnString"
			 connectionString="Server=192.168.110.185\MSSQL2014;Database=V2_TOneV2_Online_Transaction;User=Application_Online_User;Password=Application_Online_User" />
		<add name="RoutingDBConnStringTemplateKey"
			 connectionString="Server=192.168.110.185\MSSQL2014;Database=V2_TOneV2_Online_RoutingProductRoute_#WorkflowType#_#DatabaseId#;User=Application_Online_User;Password=Application_Online_User"/>
		<add name="TOne_Configuration_StateBackup"
			 connectionString="Server=192.168.110.185\MSSQL2014;Database=V2_TOneV2_Online_StateBackup;User=Application_Online_User;Password=Application_Online_User"/>
		<add name="LogDBConnString"
			 connectionString="Server=192.168.110.185\MSSQL2014;Database=V2_TOneV2_Online_Logging;User=sa;User=Application_Online_User;Password=Application_Online_User" />-->

		<add name="TOneV2DBConnString" connectionString="Server=192.168.110.185;Database=TOneV2_Dev;User=development;Password=dev!123"/>
		<add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=TOneConfiguration;User=development;Password=dev!123"/>

		<add name="TransactionDBConnString" connectionString="Server=.;Database=TOneTransactionDB;User=sa;Password=p@ssw0rd" />
		<add name="LogDBConnString" connectionString="Server=.;Database=TOneLogDB;User=sa;Password=p@ssw0rd" />
		<add name="QueueItemDBConnString" connectionString="Server=.;Database=TOneQueueDB;User=sa;Password=p@ssw0rd" />

		<add name="RoutingDBConnStringTemplateKey" connectionString="Server=192.168.110.185;Database=TOneV2Dev_#WorkflowType#_#DatabaseId#;User=development;Password=dev!123"/>
		<add name="TOneV2DAnalyticsDBConnString" connectionString="Server=192.168.110.185;Database=TOneV2_Dev_Analytics;User=development;Password=dev!123"/>
		<add name="TOne_Configuration_StateBackup" connectionString="Server=192.168.110.185;Database=TOneV2_Dev_Backup;User=development;Password=dev!123"/>

		<add name="MainDBConnString" connectionString="Server=192.168.110.185;Database=ToneDevTest01;User ID=Development;Password=dev!123"/>
		<add name="TOneV2CDRDBConnString" connectionString="Server=192.168.110.185;Database=TOneV2_CDR;User ID=Development;Password=dev!123"/>
		<add name="BIConnectionString" connectionString="Provider=MSOLAP;Data Source = http://192.168.110.185:1214/msmdpump.dll; Initial Catalog = ToneDebTest01_BI_Latest; User Id = vanrise\olap.access; Password = 0l@p@cce$$" />
		
		<add name="TOneAnalyticsDBConnString" connectionString="Server=192.168.110.185;Database=TOneV2_Dev_Analytics;User ID=Development;Password=dev!123"/>
	</connectionStrings>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="BICubeName" value="Tone Dev Test01 BI" />
		<add key="RuntimeConnStringKey" value="TransactionDBConnString"/>
		<add key="QueueDBConnStringKey" value="TransactionDBConnString"/>
		<add key="QueueItemDBConnStringKey" value="QueueItemDBConnString"/>
		<add key="SecurityDBConnStringKey" value="ConfigurationDBConnString"/>
		<add key="BIDBConnStringKey" value="ConfigurationDBConnString"/>
		<add key="BusinessProcessDBConnStringKey" value="TransactionDBConnString"/>
		<add key="BusinessProcessTrackingDBConnStringKey" value="LogDBConnString"/>
		<add key="ConfigurationDBConnStringKey" value="ConfigurationDBConnString"/>
		<add key="RulesDBConnStringKey" value="ConfigurationDBConnString"/>
		<add key="IntegrationConnStringKey" value="TransactionDBConnString"/>
		<add key="TOneWhS_Routing_DBConnStringKey" value="RoutingDBConnStringTemplateKey"/>
		<add key="TOneWhS_CDR_DBConnStringKey" value="TOneV2CDRDBConnString"/>
		<add key="TOneWhS_BE_DBConnStringKey" value="TOneV2DBConnString"/>
		<add key="TOneWhS_SPL_DBConnStringKey" value="TOneV2DBConnString"/>
		<add key="Vanrise License" value="21-22-92-DB-92-8B-8A-DE-78-FD-95-85-7B-E3-E8-19::==wMwkDM5EDMyMDM5ATNxAjM:kVGdwlncj5WR09mT"/>
		<add key="Currency" value="USD Doller"/>
		<add key="BusinessProcessConfigDBConnStringKey" value="ConfigurationDBConnString"/>
		<add key="BigDataServiceDBConnStringKey" value="TransactionDBConnString"/>
		<add key="TOneWhS_Analytics_DBConnStringKey" value="TOneAnalyticsDBConnString"/>
		<add key="ExposedConnectionStringNames" value="TOneCDRDBConnString,TOneAnalyticsDBConnString"/>

		<add key="EncryptionSecretKey" value="V@nR!se-Se6r3t"/>
		<add key="ImportPriceListTemplatePath" value="/Client/Modules/WhS_SupplierPriceList/Template/Supplier Price List Sample.xlsx"/>
		<add key="ImportCodePreparationTemplatePath" value="/Client/Modules/WhS_CodePreparation/Template/Code preperation sample.xls"/>
		<add key="DownloadCodeGroupTemplatePath" value="/Client/Modules/WhS_BusinessEntity/Templates/CodeGroupTemplate.xlsx"/>

		<add key="IntegrationConfigDBConnStringKey" value="ConfigurationDBConnString"/>
		<add key="RuntimeConfigDBConnStringKey" value="ConfigurationDBConnString"/>
		<add key="QueueingConfigDBConnStringKey" value="ConfigurationDBConnString"/>

		<add key="StateBackupDatabase" value="TOneV2_Dev_Backup"/>
		<add key="InvoiceDBConnStringKey" value="ConfigurationDBConnString"/>
		<add key="LoggingDBConnStringKey" value="LogDBConnString"/>
		
	</appSettings>
	<system.web>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
			</buildProviders>
		</compilation>
		<httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
		<customErrors mode="Off" defaultRedirect=""/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</handlers>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>