<vr-tabs>
    <vr-tab header="'Definition'">
        <vr-row>
            <vr-columns width="1/2row">
                <vr-textbox value="scopeModel.name" label="Name" isrequired></vr-textbox>
            </vr-columns>
            <vr-columns width="1/2row">
                <vr-genericdata-businessentitydefinition-selector customlabel="Alert Level Group" on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady" isrequired="true">
                </vr-genericdata-businessentitydefinition-selector>
            </vr-columns>
            </vr-row>
    </vr-tab>
    <vr-tab header="'Settings'">
        <vr-row>
            <vr-notification-vrnotifivationtype-settings on-ready="scopeModel.onVRNotificationTypeSettingsSelectorReady"
                                                         isrequired="true" normal-col-num="6" customlabel="Type" ismultipleselection>
            </vr-notification-vrnotifivationtype-settings>
        </vr-row>
    </vr-tab>

    <vr-tab header="'Security'">
        <vr-row>
            <vr-columns width="fullrow">
                <vr-section title="View">
                    <vr-sec-requiredpermission-grid on-ready="scopeModel.onViewRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                </vr-section>
            </vr-columns>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-section title="Hide">
                    <vr-sec-requiredpermission-grid on-ready="scopeModel.onHideRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                </vr-section>
            </vr-columns>
        </vr-row>
    </vr-tab>
</vr-tabs>