<vr-datagrid dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             defaultsortbyfieldname="scopeModel.sortField"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             datasource="scopeModel.accountBalances" defaultsortbyfieldname="'Entity.CurrentBalance'" defaultsortdirection="ctrl.orderBy">
    <vr-datagridcolumn ng-repeat="field in gridFields" columnattributes="field">
    </vr-datagridcolumn>
</vr-datagrid>
