<vr-columns colnum="{{ctrl.normalColNum }}" haschildcolumns>
    <vr-columns colnum="12" haschildcolumns>
        <vr-columns colnum="4" haschildcolumns>
            <retail-billing-chargetype-selector on-ready="scopeModel.onChargeTypeSelectorReady" selectedvalues="scopeModel.selectedChargeType"
                                                isrequired="ctrl.isrequired">
            </retail-billing-chargetype-selector>
        </vr-columns>
    </vr-columns>

    <vr-columns colnum="12" medium-spacing>
        <vr-directivewrapper ng-if="scopeModel.selectedChargeType != undefined" valuetowatch="scopeModel.selectedChargeType.RetailBillingChargeTypeId" directive="scopeModel.selectedChargeType.RuntimeEditor"
                             on-ready="scopeModel.onDirectiveReady" vr-loader="scopeModel.isDirectiveLoading">
        </vr-directivewrapper>
    </vr-columns>
</vr-columns>