<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="RequestAdditionalTime" value="60000" />
    <!--10 minutes timeout for startup-->
    <add key="TimerInterval" value="600000" />
    <!--60 minutes-->

    <add key="SERVER" value="10.10.10.53" />
    <add key="DATABASE" value="CDRAnalysisMobile" />
    <add key="UID" value="vanrise" />
    <add key="PASSWORD" value="v@nrise" />
    <add key="ToAddress" value="vanrisefms@gmail.com" />
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="FromMail" value="manualcalls@gmail.com" />
    <add key="FromMailPassword" value="Vanrise123456" />
    <add key="EnableSsl" value="true" />
    <add key="XmlPath" value="D:\\mysql_xmls\\" />



    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
    
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>