
<vr-datagrid datasource="routingProducts"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="onGridReady"
             menuactions="gridMenuActions"
             idfield="Entity.RoutingProductId" enableautoexport="true">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.RoutingProductId'" widthfactor="2"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Selling Number Plan'" field="'SellingNumberPlan'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Default Services'" widthfactor="2">
        <vr-whs-be-services-viewer on-ready="dataItem.onServiceViewerReady"></vr-whs-be-services-viewer>
    </vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>
