
<vr-datagrid datasource="routingProducts"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="onGridReady"
             menuactions="gridMenuActions"
             idfield="RoutingProductId">
    <vr-datagridcolumn headertext="'ID'" field="'RoutingProductId'" widthfactor="5"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Selling Number Plan Id'" field="'SellingNumberPlanId'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>
