<vr-section title="Timer Trigger">
    <div>
        <vr-row>
            <vr-columns width="1/2row">
                <vr-select label="Type" datasource="schedulerTypes" selectedvalues="selectedType"
                           datatextfield="name" datavaluefield="value">
                </vr-select>
            </vr-columns>
        </vr-row>
    </div>
    <div>
        <vr-row>
            <vr-section title="Settings" level="2">
                <vr-columns width="fullrow">
                    <div ng-include="selectedType.templateURL" />
                </vr-columns>
            </vr-section>

        </vr-row>
    </div>
</vr-section>