<vr-panel ng-controller="WhS_SMSBusinessEntity_SupplierSMSRatePlanController" vr-loader="scopeModel.isLoading">
    <div ng-hide="filterSectionCollapsed">
        <vr-form name="formSupplierSMSRateController">
            <vr-row>

                <vr-whs-be-carrieraccount-selector on-ready="scopeModel.onSupplierSelectorReady"
                                                   getsuppliers selectedvalues="scopeModel.selectedSupplier"
                                                   customlabel="Supplier"
                                                   onselectionchanged="scopeModel.onSupplierChanged"
                                                   normal-col-num="2" isrequired="true" hideremoveicon>
                </vr-whs-be-carrieraccount-selector>

                <span ng-show="scopeModel.selectedSupplier != undefined">
                    <vr-common-currency-selector on-ready="scopeModel.onCurrencySelectorReady" normal-col-num="2" vr-disabled="true"></vr-common-currency-selector>
                </span>

                <vr-mobilenetwork-mobilecountry-selector on-ready="scopeModel.onMobileCountrySelectorReady"
                                                         onselectionchanged="scopeModel.onMobileCountrySelectionChanged"
                                                         ismultipleselection normal-col-num="2">
                </vr-mobilenetwork-mobilecountry-selector>

                <span vr-loader="scopeModel.isLoadingMobileNetworkSelector">
                    <vr-mobilenetwork-selector on-ready="scopeModel.onMobileNetworkSelectorReady" ismultipleselection normal-col-num="2"></vr-mobilenetwork-selector>
                </span>

                <vr-columns colnum="2">
                    <vr-datetimepicker type="dateTime" value="scopeModel.effectiveDate" label="Effective Date" isrequired="true"></vr-datetimepicker>
                </vr-columns>

            </vr-row>
        </vr-form>
    </div>

    <vr-row removeline>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
            <div transclude-to="buttons">
                <vr-button type="Search" formname="formSupplierSMSRateController" haspermission="scopeModel.hasSearchRatesPermission" data-onclick="scopeModel.searchSupplierSMSRates"></vr-button>
                <vr-button type="Add" formname="formSupplierSMSRateController" haspermission="scopeModel.hasAddDraftPermission" data-onclick="scopeModel.addSupplierRates"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>

    <div ng-show="scopeModel.selectedSupplier != undefined">
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-smsbusinessentity-supplierrateplan-grid on-ready="scopeModel.onGridReady"></vr-whs-smsbusinessentity-supplierrateplan-grid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>
