<div vr-modalcontent >
    <vr-modalbody maxheight="'800px'" >
        <vr-form name="formCarrierAccountEditor">
            <vr-row removeline>
                We want to hear from you! Feel free to contact us.
            </vr-row>
            <vr-row removeline>
                <vr-fieldset title="Head Office">

                    Vanrise Building<br />
                    Hazmiyeh Highway<br />
                    P.O Box 44 Al Chiah<br />
                    Beirut, Lebanon<br />
                    Tel: + 961 5 45 74 37
                </vr-fieldset>
                <vr-fieldset title="Iraq Office">
                    Building 6<br />
                    Alley 26, Area 913<br />
                    Al Jaderia, Baghdad<br />
                    Baghdad, Iraq<br />
                    Tel: + 964 17764381
                </vr-fieldset>
            </vr-row>
</vr-form>

    </vr-modalbody>  
</div>
