<vr-row removeline class="genericeditorsetting">
    <div ng-sortable="scopeModel.genericEditorDefinitionSortSettings">
        <div ng-repeat="row in ctrl.datasource">
            <div class="main-row" vr-loader="row.isGenericFieldsDirectiveLoading">
                <vr-label class="row-title" mediumsize>{{row.entity.fieldsNumber}} {{row.entity.fieldsWorld}} </vr-label>
                <div ng-click="row.removeRow()" class="glyphicon glyphicon-remove hand-cursor remove-icon"></div>
                <vr-genericdata-genericfields-definition on-ready="row.onGenericFieldsDirectiveReady"></vr-genericdata-genericfields-definition>
            </div>
        </div>
    </div>
</vr-row>

<vr-row class="genericeditorsetting">
    <vr-columns colnum="12">
        <vr-validator tobottom validate="scopeModel.isValid()">
            <div class="vr-additem-box-horizontal">
                <span title="Add new row" class="glyphicon glyphicon-plus add-icon" ng-click="scopeModel.addRow()"></span>
            </div>
        </vr-validator>
    </vr-columns>
</vr-row>

