<vr-row>
    <span vr-disabled="scopeModel.isEditMode">
        <vr-genericdata-genericbusinessentity-selector isrequired="true" on-ready="scopeModel.onTransactionTypeSelectorReady" normal-col-num="4" customlabel="Transaction Type" onselectionchanged="scopeModel.onTransactionTypeSelectionChanged"></vr-genericdata-genericbusinessentity-selector>
    </span>
    <span  vr-loader="scopeModel.isCarriersSelectorloading">
        <vr-whs-be-carrieraccount-selector on-ready="scopeModel.onCarriersSelectorReady" normal-col-num="4" isrequired="true" ismultipleselection></vr-whs-be-carrieraccount-selector>
    </span>
</vr-row>