<vr-datagrid dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             datasource="scopeModel.financialAccounts">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.FinancialAccountId'" widthfactor="'10'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'AccountTypeDescription'" widthfactor="'20'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" field="'Entity.BED'" type="'Datetime'" widthfactor="'20'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" field="'Entity.EED'" type="'Datetime'" widthfactor="'20'"></vr-datagridcolumn>
</vr-datagrid>