

<retail-be-account-genericfielddefinition-selector on-ready="scopeModel.onNameAccountGenericFieldDefinitionSelectorReady"
                                                   normal-col-num="6"
                                                   customlabel="Account Name"
                                                   isrequired="true">
</retail-be-account-genericfielddefinition-selector>
<retail-be-account-genericfielddefinition-selector on-ready="scopeModel.onEmailAccountGenericFieldDefinitionSelectorReady"
                                                   normal-col-num="6"
                                                   customlabel="Account Email"
                                                   isrequired="true">
</retail-be-account-genericfielddefinition-selector>

<vr-common-connection-selector on-ready="scopeModel.onConnectionSelectorReady"
                               normal-col-num="6"
                               isrequired="true">
</vr-common-connection-selector>


