

<vr-button type="Add" data-onclick="scopeModel.onAddRecurringChargeRuleSet" standalone></vr-button>

<vr-datagrid on-ready="scopeModel.onGridReady"
             datasource="scopeModel.recurringChargeRuleSets"
             menuactions="scopeModel.menuActions"
             ondeleterow="scopeModel.onDeleteRecurringChargeRuleSet"
             enabledraggablerow="true"
             hidegridmenu>

    <vr-datagridcolumn field="'Entity.Name'" headertext="'Name'" type="'Text'" widthfactor="1" disablesorting></vr-datagridcolumn>
</vr-datagrid>


