
<vr-columns width="1/2row">
    <vr-textbox label="URL" type="text" value="scopeModel.url" isrequired></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox label="ActionPrefix" type="text" value="scopeModel.actionPrefix" isrequired></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox label="Token" type="text" value="scopeModel.token" isrequired></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox label="Authorization" type="text" value="scopeModel.authorization" isrequired></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox label="Domain ID" type="text" value="scopeModel.domainId" isrequired></vr-textbox>
</vr-columns>

