<vr-datagrid datasource="scopeModel.childs"
             on-ready="scopeModel.onGridReady"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="scopeModel.gridMenuActions"
             idfield="ChildId"
             enableautoexport="true">
    <vr-datagridcolumn headertext="'ID'" field="'ChildId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Name'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Parent'" field="'ParentName'" type="'Text'" ng-show="!scopeModel.hideParentColumn"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Area'" field="'AreaDescription'" type="'Text'" ></vr-datagridcolumn>
</vr-datagrid>