<vr-panel ng-controller="VR_Queueing_QueueItemHeaderController" vr-loader="isLoading">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-queueing-executionflow-selector on-ready="onExecutionFlowSelectorReady" ismultipleselection onselectionchanged="onSelectedExecutionFlowChanged" selectedvalues="selectedExecutionFlow"></vr-queueing-executionflow-selector>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-queueing-queueinstance-selector on-ready="onQueueInstanceSelectorReady" vr-disabled="isDisabledQueueInstanceSelect" ismultipleselection selectedvalues="selectedQueueInstance"></vr-queueing-queueinstance-selector>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-queueing-queuestatus-selector on-ready="onQueueStatusSelectorReady" ismultipleselection selectedvalues="selectedQueueStatus"></vr-queueing-queuestatus-selector>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker type="dateTime" label="From" value="createdTimeFrom" isrequired></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker type="dateTime" label="To" value="createdTimeTo"></vr-datetimepicker>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-queueing-queueitemheader2-grid on-ready="onGridReady" ng-show="ShowGrid"></vr-queueing-queueitemheader2-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>
