<div vr-modalcontent ng-controller="Integration_NewDataSourceEditorController" width="'50%'">
    <vr-modalbody vr-loader="scopeModel.isLoading">
        <vr-form name="formDataSourceEditor">
            <vr-tabs>
                <vr-tab header="'Task Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModel.dataSourceName" label="Name" isrequired></vr-textbox>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Adapter'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-select datatextfield="Title" label="Type" datavaluefield="ExtensionConfigurationId"
                                       datasource="scopeModel.adapterTypes" selectedvalues="scopeModel.selectedAdapterType"></vr-select>
                        </vr-columns>
                        <vr-columns width="1/3">
                            <vr-switch value="scopeModel.sendNotification" label="Send Email"></vr-switch>
                        </vr-columns>
                        <vr-columns width="1/3row" ng-show="scopeModel.sendNotification">
                            <vr-common-mailmessagetemplate-selector showaddbutton on-ready="scopeModel.onMailMessageTemplateDirectiveReady" isrequired="scopeModel.sendNotification"></vr-common-mailmessagetemplate-selector>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow" ng-if="scopeModel.selectedAdapterType">
                            <vr-section title="{{scopeModel.selectedAdapterType.Title}} Adapter" vr-loader="scopeModel.isLoadingAdapterDirective">
                                <vr-directivewrapper directive="scopeModel.selectedAdapterType.Editor" on-ready="scopeModel.onAdapterTypeDirectiveReady"></vr-directivewrapper>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Mapper'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-label>Custom Code</vr-label>
                            <vr-textarea value="scopeModel.customCode" rows="15" cols="64"></vr-textarea>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Scheduler'">
                    <vr-row>
                        <vr-columns>
                            <vr-switch value="scopeModel.isEnabled" label="Enabled"></vr-switch>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-datetimepicker value="scopeModel.startEffDate" label="Start Effective Date" isrequired></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-datetimepicker value="scopeModel.endEffDate" label="End Effective Date"></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="Timer Trigger">
                                <vr-runtime-tasktrigger-timer on-ready="scopeModel.onTaskTriggerDirectiveReady"></vr-runtime-tasktrigger-timer>
                            </vr-section>
                            <!--<div ng-include="'/Client/Modules/Runtime/Views/TriggerTemplates/TimerTriggerTemplate.html'"></div>-->
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Execution Flow'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-select datasource="scopeModel.executionFlows" datatextfield="Name" onaddclicked="scopeModel.addExecutionFlow" datavaluefield="ExecutionFlowId" label="Associated Flow" selectedvalues="scopeModel.selectedExecutionFlow" isrequired></vr-select>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formDataSourceEditor" data-onclick="scopeModel.SaveDataSource" haspermission="hasSaveDataSourcePermession"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
