<vr-row>
    <vr-columns colnum="{{flatFileCtrl.normalColNum}}">
        <vr-textbox label="Delimiter" value="scopeModel.delimiter" isrequired="flatFileCtrl.isrequired"></vr-textbox>
    </vr-columns>
    <vr-columns colnum="{{flatFileCtrl.normalColNum}}" withemptyline>
        <vr-button type="Download" standalone="true" data-onclick="scopeModel.readSample" vr-disabled="scopeModel.delimiter == undefined"></vr-button>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow" vr-loader="scopeModel.isLoadingSampleGrid">
        <vr-section title="Field Mapping">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-validator validate="scopeModel.validateFieldMappings()">
                        <vr-datagrid datasource="scopeModel.headerGridSource"
                                     hidegridmenu="true"
                                     norowhighlightonclick="'true'">
                            <vr-datagridcolumn ng-repeat="column in scopeModel.gridColumns" headertext="column.name" tag="column" disablesorting>
                                <div ng-init="columnIndex = viewScope.scopeModel.gridColumns.indexOf(colDef.tag)" style="padding: 3px 5px 0px 0px;">
                                    <vr-select datasource="dataItem.cells[columnIndex].fields"
                                               selectedvalues="dataItem.cells[columnIndex].selectedField"
                                               datavaluefield="value"
                                               datatextfield="description"
                                               isrequired="viewScope.flatFileCtrl.isrequired"
                                               hideremoveicon="viewScope.flatFileCtrl.isrequired">
                                    </vr-select>
                                </div>
                            </vr-datagridcolumn>
                        </vr-datagrid>
                    </vr-validator>
                </vr-columns>
                <vr-columns width="fullrow">
                    <vr-datagrid datasource="scopeModel.sampleData"
                                 hideheader="true"
                                 hidegridmenu="true"
                                 norowhighlightonclick="'true'">
                        <vr-datagridcolumn ng-repeat="column in scopeModel.gridColumns" field="'Data[' + $index + ']'" disablesorting></vr-datagridcolumn>
                    </vr-datagrid>
                </vr-columns>
            </vr-row>
        </vr-section>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns colnum="{{flatFileCtrl.normalColNum}}">
        <vr-textbox label="Date Time Format" value="scopeModel.dateTimeFormat" isrequired="flatFileCtrl.isrequired"></vr-textbox>
    </vr-columns>
</vr-row>