<vr-row>
    <vr-columns colnum="{{flatFileCtrl.normalColNum}}">
        <vr-textbox label="Delimiter" value="scopeModel.delimiter" isrequired="flatFileCtrl.isrequired"></vr-textbox>
    </vr-columns>
    <vr-columns colnum="{{flatFileCtrl.normalColNum}}" withemptyline>
        <vr-button type="Download" standalone="true" data-onclick="scopeModel.readSample" vr-disabled="scopeModel.delimiter == undefined"></vr-button>
    </vr-columns>
</vr-row>

<vr-row>
    <vr-columns width="fullrow" vr-loader="scopeModel.isLoadingSampleGrid">
        <vr-section title="Field Mapping">
            <div style="overflow-x:auto;">
                <div ng-style="{'width': scopeModel.gridColumns.length * 100 + 'px'}">
                    <vr-validator validate="scopeModel.validateFieldMappings()">
                        <vr-datagrid datasource="scopeModel.headerGridSource"
                                     hidegridmenu="true"
                                     norowhighlightonclick="'true'">
                            <vr-datagridcolumn ng-repeat="column in scopeModel.gridColumns" headertext="column.name" tag="column" disablesorting>
                                <div ng-init="columnIndex = viewScope.scopeModel.gridColumns.indexOf(colDef.tag)" style="padding: 3px 5px 3px 0px;">
                                    <vr-select datasource="dataItem.cells[columnIndex].fields"
                                               selectedvalues="dataItem.cells[columnIndex].selectedField"
                                               datavaluefield="value"
                                               datatextfield="description">
                                    </vr-select>
                                </div>
                            </vr-datagridcolumn>
                        </vr-datagrid>
                    </vr-validator>
                    <vr-datagrid datasource="scopeModel.sampleData"
                                 hideheader="true"
                                 hidegridmenu="true"
                                 norowhighlightonclick="'true'">
                        <vr-datagridcolumn ng-repeat="column in scopeModel.gridColumns" field="'Data[' + $index + ']'" disablesorting></vr-datagridcolumn>
                    </vr-datagrid>
                </div>
            </div>
        </vr-section>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns colnum="{{flatFileCtrl.normalColNum}}">
        <vr-switch value="scopeModel.firstRowHeader" label="First Row Header"></vr-switch>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-timeformat label="Date Time Format" value="scopeModel.dateTimeFormat" normal-col-num="{{flatFileCtrl.normalColNum}}" isrequired="flatFileCtrl.isrequired"></vr-timeformat>
</vr-row>