<vr-datagrid datasource="accountStatuses"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.AccountNumber">

    <vr-datagridcolumn headertext="'Account Number'" field="'Entity.AccountNumber'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'" field="'StatusName'" type="'Text'" ng-show="false"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Valid Till'" field="'Entity.ValidTill'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Source'" field="'SourceName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'User'" field="'UserName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Reason'" field="'Entity.Reason'" type="'Text'"></vr-datagridcolumn>

</vr-datagrid>