<div vr-modalcontent ng-controller="Retail_BE_ProductEditorController" vr-loader="scopeModel.isLoading" width="'50%'">
    <vr-modalbody>
        <vr-form name="formProductEditor">

            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModel.name" label="Name" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-common-currency-selector on-ready="scopeModel.onCurrencySelectorReady"
                                                     selectedvalues="scopeModel.currencySelectedValues"
                                                     isrequired="true"
                                                     normal-col-num="6">
                        </vr-common-currency-selector>
                    </vr-row>
                    <vr-row>
                        <span vr-disabled="scopeModel.isProductFamilySelectorDisabled">
                            <retail-be-productfamily-selector on-ready="scopeModel.onProductFamilySelectorReady"
                                                              onselectionchanged="scopeModel.onProductFamilySelectionChanged"
                                                              selectedvalues="scopeModel.selectedProductFamily"
                                                              customlabel="Family"
                                                              normal-col-num="6" isrequired="true" hideremoveicon>
                            </retail-be-productfamily-selector>
                        </span>
                        <vr-directivewrapper ng-if="scopeModel.selectedProductFamily != undefined"
                                             directive="scopeModel.selectedProductFamily.ExtendedSettingsRuntimeEditor"
                                             on-ready="scopeModel.onProductExtendedSettingsDirectiveReady"
                                             vr-loader="scopeModel.isProductExtendedSettingsDirectiveLoading">
                        </vr-directivewrapper>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Recurring Charge Rules'" ng-show="scopeModel.showRecurringChargeRulesTab" vr-loader="scopeModel.isRecurringChargeRulesTabLoading">
                    <retail-be-recurringchargeruleset-management on-ready="scopeModel.onRecurringChargeRuleSetsDirectiveReady"></retail-be-recurringchargeruleset-management>
                </vr-tab>
                <!--<vr-tab header="'Packages'" ng-show="scopeModel.showPackagesTab" vr-loader="scopeModel.isPackagesTabLoading">
                    <retail-be-productpackageitem-management on-ready="scopeModel.onPackageItemsDirectiveReady"></retail-be-productpackageitem-management>
                </vr-tab>-->
            </vr-tabs>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="scopeModel.save" formname="formProductEditor" haspermission="hasSaveProductPermission"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>

