<vr-row>
    <vr-columns width="fullrow">
        <vr-button type="Add" data-onclick="scopeModel.addVolumePackageDefinitionItem" standalone></vr-button>
        <vr-validator validate="scopeModel.isGridValid()">
            <vr-datagrid on-ready="scopeModel.onGridReady"
                         datasource="scopeModel.datasource"
                         menuactions="scopeModel.gridMenuActions"
                         ondeleterow="scopeModel.removeVolumePackageDefinitionItem"
                         idfield="Entity.VolumePackageDefinitionItemId"
                         norowhighlightonclick="true" maxheight="300px">

                <vr-datagridcolumn headertext="'ID'" field="'Entity.VolumePackageDefinitionItemId'" fixedwidth="50" disablesorting></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Package Item Name'" field="'Entity.Name'" fixedwidth="200" disablesorting></vr-datagridcolumn>
            </vr-datagrid>
        </vr-validator>
    </vr-columns>
</vr-row>
