<vr-columns colnum="6">
    <vr-textbox label="Time Out(Seconds)" localizedlabel="VRRes.TimeOutSeconds.VREnd" value="scopeModel.timeOutInSeconds" type="number" minvalue="1" isrequired="true"></vr-textbox>
</vr-columns>
<vr-columns colnum="6">
    <vr-textbox label="Heartbeat Interval(Seconds)" localizedlabel="VRRes.HeartbeatIntervalSeconds.VREnd" value="scopeModel.heartbeatIntervalInSeconds" type="number" minvalue="1" isrequired="true" customvalidate="validateHeartbeatIntervalInSeconds()"></vr-textbox>
</vr-columns>