<div vr-modalcontent ng-controller="WhS_CP_CodePreparationPreviewController" vr-loader="isLoading" width="'85%'">
    <vr-modalbody maxheight="'700px'">
        <vr-form name="formCodePreparationPreview" vr-loader="scopeModal.isLoading">
            <vr-tabs>
                <vr-tab header="'Preview Data'">
                    <vr-row ng-hide="filterSectionCollapsed">
                        <span>
                            <vr-cp-viewchangetype-selector on-ready="onViewChangeTypeSelectorReady"
                                                           onselectitem="onViewChangeTypeSelectItem"
                                                           normal-col-num="3"
                                                           hideremoveicon="true">
                        </span>
                        <span>
                            <vr-cp-groupedby-selector on-ready="onGroupedBySelectorReady"
                                                      normal-col-num="3"
                                                      hideremoveicon="true"
                                                      selectedvalues="selectedGroupedBy">
                        </span>
                        <vr-columns colnum="6" withemptyline>
                            <div class="pull-right">
                                <vr-label isvalue ><a ng-click="scopeModal.openCheckPriceListPreview()" href="">Check PriceLists</a></vr-label>
                            </div>
                        </vr-columns>
                    </vr-row>

                    <vr-row>
                        <span vr-loader="scopeModal.isLoadingPreviewDataSection">
                            <vr-directivewrapper directive="selectedGroupedBy.dwGrid" on-ready="onDirectiveWrapperReady"></vr-directivewrapper>
                        </span>
                    </vr-row>

                </vr-tab>
                <vr-tab header="'Violated Rules'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <businessprocess-bp-validation-message-history on-ready="scopeModal.onValidationMessageHistoryGridReady"></businessprocess-bp-validation-message-history>
                        </vr-columns>

                    </vr-row>

                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Continue" data-onclick="scopeModal.continueTask" formname="formCodePreparationPreview"></vr-button>
                <vr-button type="Stop" data-onclick="scopeModal.stopTask"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
