<vr-datagrid datasource="documents"
             ondeleterow="removeDocument"
             hidegridmenu="true"
             norowhighlightonclick="true"
             on-ready="onGridReady">

    <vr-datagridcolumn headertext="'Attachment'" disablesorting="true" widthfactor="15">
        <vr-fileupload extension="doc,dot,wbk,docx,docm,dotx,dotm,dotm,xls,xlt,xlm,xlsx,xlsm,xltx,xltm,ppt,pot,pps,pptx,pptm,potx,potm,ppam,ppsx,ppsm,sldx,sldm,accdb,accde,accdt,accdr,jpeg,jfif,gif,png,zip,zipx"
                       value="dataItem.Entity.documentAttachment" isrequired="true">
        </vr-fileupload>
    </vr-datagridcolumn>

    <vr-datagridcolumn headertext="'Category'" widthfactor="12">
        <vr-common-documentcategory-selector on-ready="dataItem.Entity.onDocumentCategorySelectorReady"
                                             isrequired="true">
        </vr-common-documentcategory-selector>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" widthfactor="20">
        <vr-textbox value="dataItem.Entity.documentDescription">
        </vr-textbox>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Uploaded On'" field="'Entity.createdOn'" type="'Datetime'" widthfactor="7"></vr-datagridcolumn>

</vr-datagrid>