<vr-datagrid on-ready="ctrl.onGridReady"
             datasource="ctrl.assignedCarriers"
             dataretrievalfunction="ctrl.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             idfield="Entity.CarrierAccountId">
    <vr-datagridcolumn headertext="'Carrier Account ID'" type="'Text'" field="'Entity.CarrierAccountId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Carrier Name'" type="'Text'" field="'CarrierName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Is Customer'" field="'IsCustomerAssigned'">
        <vr-icon icontype="dataItem.IsCustomerAssigned" text="dataItem.IsCustomerInDirect"></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Is Supplier'" field="'IsSupplierAssigned'">
        <vr-icon icontype="dataItem.IsSupplierAssigned" text="dataItem.IsSupplierInDirect"></vr-icon>
    </vr-datagridcolumn>
</vr-datagrid>