<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="TOneV2DBConnString" connectionString="Server=192.168.110.185;Database=TOneV2_Dev;User ID=Development;Password=dev!123"/>
    <add name="TOneCDRDBConnString" connectionString="Server=192.168.110.185;Database=TOneV2_Dev_CDR;User ID=Development;Password=dev!123"/>
    <add name="TOneAnalyticsDBConnString" connectionString="Server=192.168.110.185;Database=TOneV2_Dev_Analytics;User ID=Development;Password=dev!123"/>
  
    <add name="TransactionDBConnString" connectionString="Data Source=.;Initial Catalog=TOneTransactionDB;User ID=sa; Password=p@ssw0rd" />
    <add name="LogDBConnString" connectionString="Data Source=.;Initial Catalog=TOneWFTracking;User ID=sa; Password=p@ssw0rd" />
  <add name="QueueItemDBConnString" connectionString="Data Source=.;Initial Catalog=TOneQueueDB;User ID=sa; Password=p@ssw0rd" />
  
  <!--<add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=TOneConfiguration;User ID=Development;Password=dev!123"/>-->
    <add name="BIConnectionString" connectionString="Provider=MSOLAP;Data Source = http://192.168.110.185:1214/msmdpump.dll; Initial Catalog = ToneDebTest01_BI_Latest; User Id = vanrise\olap.access; Password = 0l@p@cce$$" />    
    <add name="RoutingDBConnStringTemplateKey" connectionString="Data Source=192.168.110.185;Initial Catalog=TOneV2Dev_#WorkflowType#_#DatabaseId#;user id=development;password=dev!123"/>
    <add name="IVSwitchCDRDBConnString" connectionString="Server=192.168.110.185;Database=ustn_cdrs;Userid=postgres;Password=postgres;" />
    <add name="MainDBConnString" connectionString=""/>
  
  <add name="SOMDBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=SOM_Dev;User ID=development;Password=dev!123;" providerName="System.Data.SqlClient" />
  <add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=SOM_Dev_Configuration;User ID=development;Password=dev!123;" />
</connectionStrings>