<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady" isrequired="true"></vr-genericdata-businessentitydefinition-selector>
    </vr-columns>
</vr-row>
<vr-genericdata-expressionbuilder on-ready="scopeModel.onBusinessEntityIdExpressionBuilderReady" label="Business Entity Id" isrequired="true"></vr-genericdata-expressionbuilder>
<vr-genericdata-expressionbuilder on-ready="scopeModel.onBusinessEntityExpressionBuilderReady" label="Business Entity" isrequired="true"></vr-genericdata-expressionbuilder>