<vr-row>
    <vr-columns width="fullrow">
        <vr-list maxitemsperrow="1">
            <vr-listitem><vr-label>BusinessEntityDefinitionId = {{ctrl.businessEntityDefinitionId}}</vr-label></vr-listitem>
        </vr-list>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-list maxitemsperrow="1">
            <vr-listitem><vr-label>BusinessEntityId = {{ctrl.businessEntityId}}</vr-label></vr-listitem>
        </vr-list>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-list maxitemsperrow="1">
            <vr-listitem><vr-label>BusinessEntity = {{ctrl.businessEntity}}</vr-label></vr-listitem>
        </vr-list>
    </vr-columns>
</vr-row>