<vr-columns colnum="{{ctrl.normalColNum}}" haschildcolumns>
    <vr-columns colnum="6" right-medium-spacing>
        <vr-label>{{label}}</vr-label>
        <vr-textbox value="analysisPeriodTimeBack" type="number" isrequired="ctrl.isrequired || analysisPeriodTimeUnit!=undefined" minvalue="1" decimalprecision="0"></vr-textbox>
    </vr-columns>
    <vr-columns colnum="6" withemptyline left-medium-spacing>
        <vr-select datatextfield="description" datavaluefield="value" datasource="timeUnits"
                   selectedvalues="analysisPeriodTimeUnit" isrequired="ctrl.isrequired || analysisPeriodTimeBack!=undefined" />
    </vr-columns>
</vr-columns>
