<vr-row>
	<vr-columns width="fullrow">
		<vr-button type="Add" data-onclick="scopeModel.addOutbound" standalone="true"></vr-button>
		<vr-validator validate="scopeModel.validateOutbounds()">
			<vr-datagrid on-ready="scopeModel.onGridReady"
						 datasource="scopeModel.outbounds"
						 menuactions="scopeModel.menuActions"
						 ondeleterow="scopeModel.removeOutbound"
						 hidegridmenu="true"
						 maxheight="300px"
						 norowhighlightonclick="true">
				<vr-datagridcolumn headertext="'Group Name'" field="'Entity.Name'" disablesorting></vr-datagridcolumn>
				<vr-datagridcolumn headertext="'Volume'" field="'Entity.Volume'" type="'Number'" disablesorting></vr-datagridcolumn>
				<vr-datagridcolumn headertext="'Daily Volume'" field="'Entity.DailyVolume'" type="'Number'" disablesorting></vr-datagridcolumn>
				<vr-datagridcolumn headertext="'Deal Rate'" field="'Entity.DealRate'" type="'Number'" numberprecision="'LongPrecision'" disablesorting></vr-datagridcolumn>
				<vr-datagridcolumn headertext="'Current Rate'" field="'Entity.CurrentRate'" type="'Number'" numberprecision="'LongPrecision'" disablesorting></vr-datagridcolumn>
				<vr-datagridcolumn headertext="'Rate Savings'" field="'Entity.RateSavings'" type="'Number'" numberprecision="'LongPrecision'" disablesorting></vr-datagridcolumn>
				<vr-datagridcolumn headertext="'Savings'" field="'Entity.Savings'" type="'Number'" numberprecision="'LongPrecision'" summaryfield="'TotalCostMargin'" disablesorting></vr-datagridcolumn>
				<vr-datagridcolumn headertext="'Revenue'" field="'Entity.Revenue'" type="'Number'" numberprecision="'LongPrecision'" summaryfield="'TotalCostRevenue'" disablesorting></vr-datagridcolumn>
			</vr-datagrid>
		</vr-validator>
	</vr-columns>
</vr-row>