<vr-row>
	<vr-columns width="fullrow">
		<vr-section title="Analysis Result">
			<vr-row removeline>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label>Deal Period In Days</vr-label>
				</vr-columns>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label isvalue>{{scopeModel.dealPeriodInDays}}</vr-label>
				</vr-columns>
			</vr-row>
			<vr-row removeline>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label>Total Cost Revenue</vr-label>
				</vr-columns>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label isvalue>${{scopeModel.totalCostRevenue | vrtextOrNumber:2}}</vr-label>
				</vr-columns>
			</vr-row>
			<vr-row removeline>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label>Total Sale Revenue</vr-label>
				</vr-columns>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label isvalue>${{scopeModel.totalSaleRevenue | vrtextOrNumber:2}}</vr-label>
				</vr-columns>
			</vr-row>
			<vr-row removeline>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label>Total Cost Margin</vr-label>
				</vr-columns>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label isvalue>${{scopeModel.totalCostMargin | vrtextOrNumber:2}}</vr-label>
				</vr-columns>
			</vr-row>
			<vr-row removeline>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label>Total Sale Margin</vr-label>
				</vr-columns>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label isvalue>${{scopeModel.totalSaleMargin | vrtextOrNumber:2}}</vr-label>
				</vr-columns>
			</vr-row>
			<vr-row removeline>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label>Overall Profit</vr-label>
				</vr-columns>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label isvalue>${{scopeModel.overallProfit | vrtextOrNumber:2}}</vr-label>
				</vr-columns>
			</vr-row>
			<vr-row removeline>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label>Margins</vr-label>
				</vr-columns>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label isvalue>{{scopeModel.margins | vrtextOrNumber:2}}%</vr-label>
				</vr-columns>
			</vr-row>
			<vr-row removeline>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label>Overall Revenue</vr-label>
				</vr-columns>
				<vr-columns colnum="{{ctrl.normalColNum}}">
					<vr-label isvalue>${{scopeModel.overallRevenue | vrtextOrNumber:2}}</vr-label>
				</vr-columns>
			</vr-row>
		</vr-section>
	</vr-columns>
</vr-row>