<vr-row>
	<vr-columns colnum="{{ctrl.normalColNum}}">
		<vr-textbox label="Name" value="scopeModel.name" isrequired="true"></vr-textbox>
	</vr-columns>
	<vr-whs-be-carrieraccount-selector on-ready="scopeModel.onCarrierAccountSelectorReady"
									   onselectionchanged="scopeModel.onCarrierAccountSelectionChanged"
									   getexchangecarriers="true"
									   normal-col-num="{{ctrl.normalColNum}}"
									   isrequired="true"
									   hideremoveicon="true">
	</vr-whs-be-carrieraccount-selector>
	<vr-columns colnum="{{ctrl.normalColNum}}">
		<vr-select on-ready="scopeModel.onAnalysisTypeSelectorReady"
				   label="Analyis Type"
				   datasource="scopeModel.swapDealAnalysisTypes"
				   datavaluefield="value"
				   datatextfield="description"
				   selectedvalues="scopeModel.selectedSwapDealAnalysisType"
				   isrequired="true"
				   hideremoveicon="true">
		</vr-select>
	</vr-columns>
	<vr-columns colnum="{{ctrl.normalColNum}}">
		<vr-datetimepicker label="From" type="date" value="scopeModel.fromDate" isrequired="true"></vr-datetimepicker>
	</vr-columns>
	<vr-columns colnum="{{ctrl.normalColNum}}">
		<vr-datetimepicker label="To" type="date" value="scopeModel.toDate" isrequired="true"></vr-datetimepicker>
	</vr-columns>
</vr-row>