/*body {
}


.wrapper {
    text-align: center;
}

.oval {
    height: 100px;
    width: 150px;
    background-color: #FF1493;
    border-radius: 50%;
    text-align: center;
    position: relative;
    display: inline-block;
}

.rectangle {
    height: 75px;
    width: 125px;
    background-color: #6495ED;
    text-align: center;
    border: 1px solid #32CD32;
    margin: 0 auto;
    position: relative;
    display: inline-block;
}*/

