<vr-panel ng-controller="VR_Queueing_QueueInstanceController" vr-loader="isLoading">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox value="name" label="Name"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-queueing-executionflow-selector on-ready="onExecutionFlowSelectorReady" ismultipleselection selectedvalues="selectedExecutionFlow"></vr-queueing-executionflow-selector>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-queueing-queuestagename-selector on-ready="onStageNameSelectorReady" ismultipleselection selectedvalues="selectedStageName"></vr-queueing-queuestagename-selector>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox value="title" label="Title"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-queueing-queueitemtype-selector on-ready="onQueueItemTypeSelectorReady" ismultipleselection selectedvalues="selectedQueueItemType"></vr-queueing-queueitemtype-selector>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-queueing-executioncontrol-pause-switcher></vr-queueing-executioncontrol-pause-switcher>
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-queueing-queueinstance-grid on-ready="onGridReady"></vr-queueing-queueinstance-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>
