
<vr-columns width="fullrow">
    <vr-tabs>
        <vr-tab header="'Invoice Settings'">
            <vr-columns width="fullrow">
                <vr-button type="Add" data-onclick="ctrl.addInvoiceSetting" standalone></vr-button>

                <vr-validator validate="ctrl.isValid()">
                    <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                                 on-ready="onGridReady" enabledraggablerow="true" ondeleterow="ctrl.removeInvoiceSetting" hidegridmenu>
                        <vr-datagridcolumn headertext="'Title'" field="'Entity.Name'" widthfactor="10" disablesorting></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Default'" f widthfactor="10" disablesorting>
                            <vr-icon icontype="dataItem.Entity.IsDefault"></vr-icon>
                        </vr-datagridcolumn>
                    </vr-datagrid>
                </vr-validator>
            </vr-columns>
        </vr-tab>
    </vr-tabs>
</vr-columns>
