<vr-columns width="fullrow" haschildcolumns>
    <vr-columns width="1/4row">
        <vr-textbox value="scopeModel.numberOfSubscribers" label="Number of Subscribers" type="number" isrequired="scopeModel.amountFromTopups==undefined && scopeModel.residualAmountFromTopups==undefined" minvalue="0" decimalprecision="0"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/4row">
        <vr-textbox value="scopeModel.amountFromTopups" label="Amount from Top-ups" type="number" isrequired="scopeModel.numberOfSubscribers==undefined && scopeModel.residualAmountFromTopups==undefined" minvalue="0"></vr-textbox>
    </vr-columns>  
    <vr-columns width="1/4row">
        <vr-textbox value="scopeModel.residualAmountFromTopups" label="Residual Amount from Top-ups" type="number" isrequired="scopeModel.amountFromTopups==undefined && scopeModel.numberOfSubscribers==undefined" minvalue="0"></vr-textbox>
    </vr-columns>
</vr-columns>