<vr-accountbalance-billingtransactiontype-selector normal-col-num="6" on-ready="scopeModel.onBillingTransactionTypeReady" isrequired="true" hideremoveicon></vr-accountbalance-billingtransactiontype-selector>

<vr-columns width="1/2row">
    <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onAccountDefinitionSelectorReady"
                                                      customlabel="Account Definition"
                                                      isrequired="true">
    </vr-genericdata-businessentitydefinition-selector>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox value="scopeModel.sourceIdColumn" label="Source Id Column" isrequired="true"></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox value="scopeModel.accountColumn" label="Account Source Id Column" isrequired="true"></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox value="scopeModel.amountColumn" label="Amount Column" isrequired="true"></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox value="scopeModel.timeColumn" label="Time Column" isrequired="true"></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox value="scopeModel.invoiceSourceIdColumn" label="Invoice Source Id Column" isrequired="true"></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox value="scopeModel.currencyColumn" label="Currency Id Column" isrequired="true"></vr-textbox>
</vr-columns>
<vr-columns width="1/2row">
    <vr-textbox value="scopeModel.referenceColumnName" label="Reference Column" isrequired="true"></vr-textbox>
</vr-columns>