<vr-tab header="'Data Settings'">

    <vr-row>
        <vr-columns width="1/2row">
            <vr-textbox label="Download Speed (Kbps)" value="scopeModel.downloadSpeedInKbps" type="number" decimalprecision="0"></vr-textbox>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-textbox label="Upload Speed (Kbps)" value="scopeModel.uploadSpeedInKbps" type="number" decimalprecision="0"></vr-textbox>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="1/2row">
            <vr-textbox label="Download Quota (MB)" value="scopeModel.downloadQuotaInMB" type="number" decimalprecision="0"></vr-textbox>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-textbox label="Upload Quota (MB)" value="scopeModel.uploadQuotaInMB" type="number" decimalprecision="0"></vr-textbox>
        </vr-columns>
    </vr-row>

</vr-tab>

<retail-be-chargingpolicy-parts on-ready="scopeModel.onPartsDirectiveReady"></retail-be-chargingpolicy-parts>


