<div vr-modalcontent ng-controller="WhS_BE_PricingProductEditorController" vr-loader="isGettingData">
    <vr-modalbody width="'50%'">
        <vr-form name="formPricingProductEditor">
            <vr-choices selectedindex="0">
                <vr-choice isselected="criteriaSelected">Definition</vr-choice>
                <vr-choice isselected="settingsSelected">Settings</vr-choice>
            </vr-choices>
            <div ng-show="criteriaSelected">
                <vr-row>
                    <vr-columns width="1/2row">
                        <vr-textbox value="name" label="Name" isrequired></vr-textbox>
                    </vr-columns>
                    <vr-columns width="1/2row">
                        <vr-whs-be-salezonepackages on-ready="onSaleZonePackagesDirectiveReady" onselectionchanged="onselectionchanged" isrequired></vr-whs-be-salezonepackages>
                    </vr-columns>

                </vr-row>
                <vr-row>
                    <vr-columns width="fullrow">
                      
                    </vr-columns>
                </vr-row>
            </div>
            <div ng-show="settingsSelected">

            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formPricingProductEditor" data-onclick="SavePricingProduct"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
