<vr-panel ng-controller="WhS_BE_PricingProductManagementController">

    <vr-form name="formFilter" vr-loader="isGettingData">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns colnum="2">
                    <vr-textbox value="name" label="Name"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-whs-be-salezonepackages on-ready="onSaleZonePackageDirectiveReady" ismultipleselection></vr-whs-be-salezonepackages>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-whs-be-routingproduct on-ready="onRoutingProductDirectiveReady" ismultipleselection></vr-whs-be-routingproduct>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <vr-button type="Add" data-onclick="AddNewPricingProduct"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-whs-be-pricingproductgrid on-ready="onGridReady"></vr-whs-be-pricingproductgrid>
    </vr-form>

</vr-panel>