<div>
    <vr-datagrid datasource="liveCdrs"
                 dataretrievalfunction="dataRetrievalFunction"
                 pagingtype="'PagingOnScroll'"
                 on-ready="onGridReady"
                 defaultsortbyfieldname="'attemptDate'"
                 defaultsortdirection="sortingCalls"
                 idfield="sourceIP" enableautoexport="true">

        <vr-datagridcolumn headertext="'Customer'" field="'customerName'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Source IP'" field="'sourceIP'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Attempt'" field="'attemptDate'" type="'LongDateTime'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'CLI'" field="'cli'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Destination Code'" field="'destinationCode'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Destination Name'" field="'destinationName'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Supplier'" field="'supplierName'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Route IP'" field="'routeIP'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Supplier Code'" field="'supplierCode'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Supplier Zone'" field="'supplierZone'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Alert'" field="'alertDate'" type="'LongDateTime'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Connection'" field="'connectDate'" type="'LongDateTime'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Duration'" field="'duration'" type="'Number'" numberprecision="'DecimalPrecision'"></vr-datagridcolumn>
    </vr-datagrid>
</div>