<vr-datagrid datasource="scopeModel.switches"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             idfield="Entity.SwitchId">
    <vr-datagridcolumn headertext="'Id'" field="'Entity.SwitchId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" field="'Entity.Settings.Description'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Type'" field="'SwitchSettingsTypeName'"></vr-datagridcolumn>
</vr-datagrid>