<vr-tab header="'Dealers'">
    <vr-row removeline>
        <span>
            <retail-be-account-selector selectedvalues="scopeModel.agent" normal-col-num="6" on-ready="scopeModel.onAgentSelectorDirectiveReady" customlabel="Agent" isrequired></retail-be-account-selector>
        </span>
        <span>
            <retail-be-account-selector selectedvalues="scopeModel.distributor" normal-col-num="6" on-ready="scopeModel.onDistributorSelectorDirectiveReady" customlabel="Distributor" isrequired></retail-be-account-selector>
        </span>
    </vr-row>
    <vr-row removeline>
        <span>
            <retail-be-account-selector selectedvalues="scopeModel.pos" normal-col-num="6" on-ready="scopeModel.onPointOfSaleSelectorDirectiveReady" customlabel="Point of Sale" isrequired></retail-be-account-selector>
        </span>
    </vr-row>
</vr-tab>