<vr-columns colnum="{{ctrl.normalColNum}}">
    <vr-textbox label="Schema Name" type="text" value="scopeModel.schemaName"></vr-textbox>
</vr-columns>
<vr-columns colnum="{{ctrl.normalColNum}}">
    <vr-textbox label="Parallel Index Count" type="number" minvalue="1" decimalprecision="0" value="scopeModel.parallelIndexCount" isrequired="true"></vr-textbox>
</vr-columns>

<vr-common-connection-selector on-ready="scopeModel.onDBConnectionSelectorReady" customlabel="DB Connection" isrequired="true"
                               normal-col-num="{{ctrl.normalColNum}}" includeviewhandler showaddbutton hideremoveicon>
</vr-common-connection-selector>