<div vr-loader="loadingActionTemplates">
    <vr-row>
        <vr-columns width="1/3row">
            <vr-select label="Action Type"
                       datasource="actionTemplates"
                       selectedvalues="selectedActionTemplate"
                       onselectionchanged="onActionTemplateChanged"
                       datavaluefield="TemplateConfigID"
                       datatextfield="Name"
                       entityname="Action Type"
                       hideremoveicon>
            </vr-select>
        </vr-columns>

        <vr-columns width="normal">
            <div style="position: absolute; top: 25px;" vr-disabled="disableAddButton">
                <vr-button type="Add" data-onclick="addAction" standalone></vr-button>
            </div>
        </vr-columns>
    </vr-row>

    <vr-row>
        <vr-columns width="fullrow">

            <vr-datagrid datasource="actions"
                         on-ready="onGridReady" enabledraggablerow="true" ondeleterow="removeAction" hideheader="true">

                <vr-datagridcolumn><vr-directivewrapper directive="dataItem.Editor" on-ready="dataItem.onActionDirectiveAPIReady"></vr-directivewrapper></vr-datagridcolumn>

            </vr-datagrid>

        </vr-columns>
    </vr-row>
</div>