<vr-columns width="1/3row">
    <vr-rules-substringstartdirection-selector on-ready="ctrl.onSubstringStartDirectionSelectorReady" isrequired="true" hideremoveicon></vr-rules-substringstartdirection-selector>
</vr-columns>
<vr-columns width="1/3row">
    <vr-textbox label="Start Index" value="ctrl.startIndex" type="number" minvalue="1" isrequired decimalprecision="0"></vr-textbox>
</vr-columns>
<vr-columns width="1/3row">
    <vr-textbox label="Length" value="ctrl.length" type="number" minvalue="1" decimalprecision="0"></vr-textbox>
</vr-columns>

