<vr-panel ng-controller="PSTN_BusinessEntity_SwitchManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingFilters">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <cdranalysis-pstn-switchbrand-selector ismultipleselection on-ready="onSwicthBrandSelectorReady"></cdranalysis-pstn-switchbrand-selector>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-textbox label="Area Code" value="areaCode" type="number" maxlength="7"></vr-textbox>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                    <vr-button type="Add" data-onclick="addSwitch"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <div>
        <vr-row>
            <vr-columns width="fullrow">
                <cdranalysis-pstn-switch-grid on-ready="onSwitchGridReady"></cdranalysis-pstn-switch-grid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>