<vr-panel ng-controller="PSTN_BusinessEntity_TrunkManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingFilters">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices-filter selectedindex="selectedFilternIndex">
                        <vr-choice-filter isselected="basicSelected">Basic</vr-choice-filter>
                        <vr-choice-filter isselected="advancedSelected">Advanced</vr-choice-filter>
                    </vr-choices-filter>

                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-textbox label="Symbol" value="symbol"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <cdranalysis-pstn-switch-selector ismultipleselection on-ready="onReadySwicth"></cdranalysis-pstn-switch-selector>
                </vr-columns>

                <vr-columns width="normal" ng-show="advancedSelected">
                    <cdranalysis-pstn-trunktype-selector ismultipleselection on-ready="onReadyTrunkType"></cdranalysis-pstn-trunktype-selector>

                </vr-columns>

                <vr-columns width="normal" ng-show="advancedSelected">
                    <cdranalysis-pstn-trunkdirection-selector ismultipleselection on-ready="onReadyTrunkDirection"></cdranalysis-pstn-trunkdirection-selector>
                </vr-columns>

                <vr-columns width="normal" ng-show="advancedSelected">
                    <cdranalysis-pstn-trunklink-selector ismultipleselection on-ready="onReadyTrunkLink" selectedvalues="selectedLinkedToTrunkObjs"></cdranalysis-pstn-trunklink-selector>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                    <vr-button type="Add" data-onclick="addTrunk"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>
    <vr-row>
        <vr-columns width="fullrow">
            <cdranalysis-pstn-trunk-grid on-ready="onTrunkGridReady"></cdranalysis-pstn-trunk-grid>
        </vr-columns>
    </vr-row>
</vr-panel>