<vr-datagrid datasource="operatorConfigurations"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.OperatorConfigurationId">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.OperatorConfigurationId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Operator'" field="'OperatorName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Volume'" field="'Entity.Volume'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'CDR Type'" field="'CDRTypeName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'CDR Direction'" field="'CDRDirectionName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Unit Type'" field="'UnitTypeName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Percentage'" field="'Entity.Percentage'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Amount'" field="'Entity.Amount'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Currency'" field="'CurrencyName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Service Type'" field="'AmountTypeName'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>