<div vr-modalcontent ng-controller="WhS_BE_CarrierAssignmentEditorController" draggable="true">
    <vr-modalbody width="'50%'" vr-loader="isGettingData">
        <vr-form name="formAssignCarriers">
            <vr-row>
                <vr-colums width="normal" vr-loader="isloadingselector">
                    <vr-whs-be-carrieraccount-selector ismultipleselection getsuppliers getcustomers onselectitem="onSelectItem" ondeselectitem="onDeselectItem" onselectitem="onSelectedCarrier" selectedvalues="selectedCarriers" on-ready="    onCarrierAccountDirectiveReady"></vr-whs-be-carrieraccount-selector>

                </vr-colums>
            </vr-row>

            <vr-row>
                <vr-datagrid datasource="carriers"
                             on-ready="onGridReady" ondeleterow="denyCarrier" hidegridmenu>
                    <vr-datagridcolumn headertext="'Name'" field="'CarrierName'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Is Customer'" widthfactor="5"><vr-switch value="dataItem.newCustomerSwitchValue" vr-disabled="dataItem.IsCustomerInDirect" ng-show="dataItem.IsCustomerAvailable" class="green"></vr-switch></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Is Supplier'" widthfactor="5"><vr-switch value="dataItem.newSupplierSwitchValue" vr-disabled="dataItem.IsSupplierInDirect" ng-show="dataItem.IsSupplierAvailable" class="green"></vr-switch></vr-datagridcolumn>
                </vr-datagrid>

            </vr-row>
        </vr-form>
    </vr-modalbody>

    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formAssignCarriers" data-onclick="assignCarriers"></vr-button>
                <vr-button type="Close" data-onclick="closeModal"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>