<div vr-modalcontent ng-controller="WhS_BE_CarrierAssignmentEditorController" draggable="true">
    <vr-modalbody width="'50%'" vr-loader="isLoading">
        <vr-form validationcontext="assignCarriersValidation">
            <vr-row>
                <vr-columns width="1/2row" vr-loader="isloadingselector">
                    <vr-whs-be-carrieraccount-selector ismultipleselection hideselectedvaluessection getsuppliers getcustomers onselectitem="onSelectItem" ondeselectitem="onDeselectItem" selectedvalues="selectedCarriers" on-ready="onCarrierAccountDirectiveReady"></vr-whs-be-carrieraccount-selector>

                </vr-columns>
            </vr-row>

            <vr-row >

                <vr-columns width="fullrow" vr-loader="isloadingselector">
                        <vr-validator validate="isValid()">
                            <vr-datagrid datasource="carriers"
                                         on-ready="onGridReady"  hidegridmenu>
                                <vr-datagridcolumn headertext="'Name'" field="'CarrierName'" widthfactor="5"></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'Is Customer'" widthfactor="5"><vr-switch value="dataItem.newCustomerSwitchValue" vr-disabled="dataItem.IsCustomerInDirect" ng-show="dataItem.IsCustomerAvailable" class="green"></vr-switch></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'Is Supplier'" widthfactor="5"><vr-switch value="dataItem.newSupplierSwitchValue" vr-disabled="dataItem.IsSupplierInDirect" ng-show="dataItem.IsSupplierAvailable" class="green"></vr-switch></vr-datagridcolumn>
                            </vr-datagrid>
                        </vr-validator>
</vr-columns>

            </vr-row>
        </vr-form>
    </vr-modalbody>

    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save"  data-onclick="assignCarriers" validationcontext="assignCarriersValidation"></vr-button>
                <vr-button type="Close" data-onclick="closeModal"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>