<div vr-modalcontent ng-controller="WhS_BE_OrgChartAssignmentEditorController" draggable="true">
    <vr-modalbody vr-loader="isLoading">
        <vr-row>
            <vr-form name="formOrgChartAssignmentEditor">
                <vr-columns width="1/2row">
                    <vr-sec-orgchart-selector on-ready="onOrgChartSelectorReady" isrequired="true"></vr-sec-orgchart-selector>
                </vr-columns>
            </vr-form>
        </vr-row>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formOrgChartAssignmentEditor" data-onclick="assignOrgChart" haspermission="hasUpdateLinkedOrgChartPermission"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>