<div vr-modalcontent ng-controller="WhS_BE_OrgChartAssignmentEditorController" draggable="true">
    <vr-modalbody width="'50%'" vr-loader="isGettingData">
        <vr-row>
            <vr-form name="formOrgChartAssignmentEditor">
                <vr-columns colnum="6">
                    <vr-select label="Org Chart" datasource="orgCharts" selectedvalues="assignedOrgChart" datatextfield="Name" datavaluefield="Id" isrequired></vr-select>
                </vr-columns>
            </vr-form>
        </vr-row>    
    </vr-modalbody>

    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formOrgChartAssignmentEditor" data-onclick="assignOrgChart"></vr-button>
                <vr-button type="Close" data-onclick="closeModal"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>