<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid datasource="rateTypes"
                     on-ready="onGridReady"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     menuactions="gridMenuActions"
                     idfield="RateTypeId">

            <vr-datagridcolumn headertext="'ID'" field="'RateTypeId'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'RateType Name'" field="'Name'" type="'Text'"></vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>