<vr-row removeline>
    <vr-columns width="fullrow">
        <vr-row>
            <vr-columns width="1/4row">
                <vr-select on-ready="ctrl.onSelectorReady"
                           label="Cost Calculation Method"
                           entityname="Cost Calculation Method"
                           datasource="ctrl.templates"
                           selectedvalues="ctrl.selectedTemplate"
                           onselectitem="ctrl.onTemplateSelected"
                           datavaluefield="ExtensionConfigurationId"
                           datatextfield="Title"
                           hideremoveicon>
                </vr-select>
            </vr-columns>
            <vr-columns width="1/4row" withemptyline>
                <vr-button type="Add" data-onclick="ctrl.addDataItem" vr-disabled="ctrl.disableAddButton" standalone></vr-button>
            </vr-columns>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-datagrid datasource="ctrl.dataItems"
                             idfield="id"
                             ondeleterow="ctrl.removeDataItem"
                             enabledraggablerow="true"
                             norowhighlightonclick="'true'"
                             hidegridmenu>
                    <vr-datagridcolumn headertext="'Name'" field="'title'" widthfactor="2" disablesorting></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Title'" disablesorting>
                        <span vr-loader="dataItem.isLoadingDirective">
                            <vr-directivewrapper directive="dataItem.directive" on-ready="dataItem.onDirectiveReady" isrequired="true"></vr-directivewrapper>
                        </span>
                    </vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </vr-columns>
</vr-row>
