<vr-row removeline>
    <vr-columns colnum="2">
        <vr-textbox label="Title" value="title" isrequired="true"></vr-textbox>
    </vr-columns>

    <vr-columns colnum="2">
        <vr-select label="Percentage Type"
                   text="None"
                   datasource="templates"
                   selectedvalues="selectedTemplate"
                   datavaluefield="TemplateConfigID"
                   datatextfield="Name">
        </vr-select>
    </vr-columns>

    <vr-columns colnum="8" ng-show="selectedTemplate" vr-loader="isLoadingDirective">
        <vr-directivewrapper directive="selectedTemplate.Editor" on-ready="onDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>