
<vr-columns colnum="2" medium-spacing>
    <vr-textbox label="Title" value="title" isrequired="customPercentageCtrl.isrequired"></vr-textbox>
</vr-columns>

<vr-columns colnum="2" medium-spacing>
    <vr-select on-ready="onSelectorReady"
               label="Percentage Type"
               datasource="extensionConfigs"
               selectedvalues="selectedExtensionConfig"
               datavaluefield="ExtensionConfigurationId"
               datatextfield="Title"
               isrequired="customPercentageCtrl.isrequired">
    </vr-select>
</vr-columns>

<vr-columns colnum="8" ng-show="selectedExtensionConfig" vr-loader="isLoadingDirective" haschildcolumns>
    <vr-directivewrapper directive="selectedExtensionConfig.Editor" on-ready="onDirectiveReady" isrequired="customPercentageCtrl.isrequired"></vr-directivewrapper>
</vr-columns>