<vr-panel ng-controller="WhS_BE_DealManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="scopeModel.isLoading">
            <vr-row removeline>

                <vr-whs-be-carrieraccount-selector on-ready="scopeModel.onCarrierAccountSelectorReady" normal-col-num="2" getcustomers getsuppliers ismultipleselection="true">
                </vr-whs-be-carrieraccount-selector>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="scopeModel.search"></vr-button>
                    <vr-button type="Add" data-onclick="scopeModel.add" haspermission="scopeModel.hasAddPermission"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-be-deal-grid on-ready="scopeModel.onGridReady"></vr-whs-be-deal-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>