<div vr-modalcontent ng-controller="WhS_BE_DealBuyingEditorController" vr-loader="scopeModel.isLoading" width="'45%'">
    <vr-modalbody>
        <vr-form name="formEditor">
            <vr-row>
                <span vr-loader="isLoadingSaleZonesSelector">
                    <vr-whs-be-supplierzone-selector normal-col-num="4" ismultipleselection on-ready="onSupplierZoneDirectiveReady" />
                </span>
                <vr-columns width="1/3row">
                    <vr-textbox label="Volume" value="scopeModel.volume" type="number" isrequired="true"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/3row">
                    <vr-textbox label="Rate" value="scopeModel.rate" type="number" isrequired="true"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="1/3row">
                    <vr-textbox label="Min Selling Rate" value="scopeModel.minSellingRate" type="number" isrequired="true"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/3row">
                    <vr-textbox label="Substitute Rate" value="scopeModel.substituteRate" type="number" isrequired="true"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/3row">
                    <vr-textbox label="Extra Volume Rate" value="scopeModel.extraVolumeRate" type="number" isrequired="true"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-textbox label="Group Name" value="scopeModel.name" isrequired="true"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-section title="Quality">
                        <vr-row>
                            <vr-columns width="1/4row">
                                <vr-textbox label="ASR" value="scopeModel.asr" type="number" isrequired="true"></vr-textbox>
                            </vr-columns>
                            <vr-columns width="1/4row">
                                <vr-textbox label="NER" value="scopeModel.ner" type="number" isrequired="true"></vr-textbox>
                            </vr-columns>
                            <vr-columns width="1/4row">
                                <vr-textbox label="ACD" value="scopeModel.acd" type="number" isrequired="true"></vr-textbox>
                            </vr-columns>
                        </vr-row>
                    </vr-section>
                </vr-columns>
            </vr-row>
</vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formEditor" data-onclick="scopeModel.save" haspermission="scopeModel.hasSavePermission"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>