<vr-panel ng-controller="FraudAnalysis_NumberPrefixManagementController">
    <vr-row>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
            <div transclude-to="buttons">
                <vr-button type="Apply" ng-show="nodesUpdated==true" validationcontext="SearchGroup" data-onclick="applyNumberPrefixesClicked" haspermission="hasUpdateNumberPrefixesPermission"></vr-button>
                <vr-button type="CancelChanges" ng-show="nodesUpdated==true" validationcontext="SearchGroup" data-onclick="cancelChanges"></vr-button>
                <vr-button type="Split" text="Split Number Prefix" ng-show="currentNode != undefined" formname="formFilter" validationcontext="SearchGroup" data-onclick="splitNumberPrefixClicked" haspermission="hasUpdateNumberPrefixesPermission"></vr-button>
                <vr-button type="Merge" text="Merge Number Prefixes" ng-show="currentNode != undefined" formname="formFilter" validationcontext="SearchGroup" data-onclick="mergeNumberPrefixesClicked" haspermission="hasUpdateNumberPrefixesPermission"></vr-button>
                <vr-button type="Remove" text="Remove Number Prefixes" ng-show="currentNode != undefined" formname="formFilter" validationcontext="SearchGroup" data-onclick="removeNumberPrefixesClicked" haspermission="hasUpdateNumberPrefixesPermission"></vr-button>
                <vr-button type="Add" text="New Number Prefix" formname="formFilter" validationcontext="SearchGroup" data-onclick="newNumberPrefixClicked" haspermission="hasUpdateNumberPrefixesPermission"></vr-button>

            </div>
        </vr-actionbar>
    </vr-row>
    <vr-row removeline>
        <vr-columns width="1/4row">
            <div style="max-height:700px;overflow-y:auto">
                <vr-treeview on-ready="numberPrefixesTreeReady"
                             datachildrenfield="effectiveNumberPrefixes"
                             datavaluefield="nodeId"
                             datatextfield="nodeName"
                             selecteditem="currentNode"
                             hasremotechildrenfield="hasRemoteChildren"
                             loadremotechildren="loadEffectiveNumberPrefixes">
                </vr-treeview>
            </div>

        </vr-columns>
    </vr-row>
</vr-panel>


