<div vr-modalcontent ng-controller="CDRComparison_CDRComparisonConfigurationTaskController" width="'70%'">
    <vr-modalbody>
        <vr-form name="formCDRComparison" vr-loader="scopeModal.isLoading">
            <vr-tabs>
                <vr-tab header="'Configuration'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-textbox type="number" value="scopeModal.durationMargin" label="Duration Margin" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-select datasource="scopeModal.durations" label="Duration" hideremoveicon datatextfield="description" datavaluefield="value" selectedvalues="scopeModal.selectedDuration" hidefilterbox></vr-select>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-datetimepicker type="time" label="Time Offset" value="scopeModal.timeOffset" isrequired></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-textbox type="number" value="scopeModal.timeMargin" label="Time Margin"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-select datasource="scopeModal.durations" label="Time Duration" hideremoveicon datatextfield="description" datavaluefield="value" selectedvalues="scopeModal.selectedTimeDuration" hidefilterbox></vr-select>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Continue" data-onclick="scopeModal.continueTask" formname="formCDRComparison"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
