<vr-datagrid datasource="changedZones"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="[]" enableautoexport="true">
    <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn fixedwidth="'35'">
        <vr-icon iconurl="dataItem.ZoneStatusIconUrl" tooltip="dataItem.ZoneStatusIconTooltip"></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" headerdescription="'Zone BED'" field="'ZoneBED'" type="'Datetime'" fixedwidth="'105'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" headerdescription="'Zone EED'" field="'ZoneEED'" type="'Datetime'" fixedwidth="'105'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'C.Rate'" headerdescription="'Current Rate'" field="'SystemRate'" type="'Number'" numberprecision="'LongPrecision'" fixedwidth="'50'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'I.Rate'" headerdescription="'Imported Rate'" field="'ImportedRate'" type="'Number'" numberprecision="'LongPrecision'" fixedwidth="'50'"></vr-datagridcolumn>
    <vr-datagridcolumn fixedwidth="'35'">
        <vr-icon icontype="dataItem.RateChangeTypeIconType" iconurl="dataItem.RateStatusIconUrl" tooltip="dataItem.RateStatusIconTooltip" inline></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'C.R.BED'" headerdescription="'Current Rate BED'" field="'SystemRateBED'" type="'Datetime'" fixedwidth="'105'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'I.R.BED'" headerdescription="'Imported Rate BED'" field="'ImportedRateBED'" type="'Datetime'" fixedwidth="'105'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'C.R.EED'" headerdescription="'Current Rate EED'" field="'SystemRateEED'" type="'Datetime'" fixedwidth="'105'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Imported Services'" headerdescription="'Imported Services'" fixedwidth="'100'">
        <vr-whs-be-services-viewer on-ready="dataItem.onImportedServicesReady"></vr-whs-be-services-viewer>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'N.C'" headerdescription="'New Codes'" field="'NewCodes'" type="'Text'" fixedwidth="'25'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'D.C'" headerdescription="'Deleted Codes'" field="'DeletedCodes'" type="'Text'" fixedwidth="'25'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'MF.C'" headerdescription="'Moved From Codes'" field="'CodesMovedFrom'" type="'Text'" fixedwidth="'30'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'MT.C'" headerdescription="'Moved To Codes'" field="'CodesMovedTo'" type="'Text'" fixedwidth="'30'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>