<vr-row>
    <vr-columns width="1/3row">
        <vr-genericdata-genericruledefinition-selector on-ready="onRuleDefinitionReady" isrequired="ture" onselectionchanged="onRuleSelectionChanged" onselectitem="onRuleSelectionItem" selectedvalues="selectedRuleDefinition" ></vr-genericdata-genericruledefinition-selector>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-genericdata-datatransformation-expressionbuilder on-ready="onEffectiveTimeDirectiveReady" recordlabel="Effective Time" fieldlabel=""></vr-genericdata-datatransformation-expressionbuilder>    
     </vr-columns>
</vr-row>


<vr-row>
    <vr-columns width="fullrow">
        <vr-section title="Mapping" vr-loader="isLoadingMappingData">
            <vr-datagrid datasource="ruleFieldsMappings"
                         hidegridmenu norowhighlightonclick="true">
                <vr-datagridcolumn headertext="'Rule Field Name'" type="'Text'" field="'Title'" widthfactor="5" disablesorting></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Mapping From'" type="'Text'" field="''" widthfactor="15" disablesorting>
                    <vr-genericdata-datatransformation-expressionbuilder on-ready="dataItem.onSourceMappingReady" hidelabel recordlabel="From Record" fieldlabel="From Field"></vr-genericdata-datatransformation-expressionbuilder>
                </vr-datagridcolumn>
            </vr-datagrid>
        </vr-section>
    </vr-columns>
</vr-row>
