<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="infoType" label="Info Type"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-common-mailmessagetype-selector on-ready="onMainTypeSelectorReady"></vr-common-mailmessagetype-selector>
    </vr-columns>
    <vr-columns width="fullrow">
        <vr-button type="Add" data-onclick="ctrl.addEmailAttachment" standalone></vr-button>

        <vr-validator validate="ctrl.isValid()">
            <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                         on-ready="onGridReady" enabledraggablerow="true" ondeleterow="    ctrl.removeEmailAttachment" hidegridmenu>
                <vr-datagridcolumn headertext="'Attachment Title'" field="'Entity.Title'" widthfactor="10" disablesorting></vr-datagridcolumn>
            </vr-datagrid>
        </vr-validator>
    </vr-columns>
</vr-row>


