<vr-tabs vertical>
    <vr-tab header="'Table Definition'">
        <vr-row removeline>
            <vr-columns width="1/4row">
                <vr-textbox value="ctrl.tableName" label="Table Name" isrequired="true"></vr-textbox>
            </vr-columns>
            <vr-columns width="1/4row">
                <vr-textbox value="ctrl.tableSchema" label="Table Schema"></vr-textbox>
            </vr-columns>
            <vr-columns width="1/4row">
                <vr-switch value="ctrl.includeQueueItemId" label="Include Queue Item"></vr-switch>
            </vr-columns>
        </vr-row>
        <vr-row>
            <vr-columns width="1/3row">
                <vr-button type="Add" data-onclick="ctrl.addColumn" standalone></vr-button>
            </vr-columns>
        </vr-row>
        <vr-row removeline vr-loader="scopeModel.isLoading">
            <vr-columns width="fullrow">
                <vr-validator validate="ctrl.validateColumns()">
                    <vr-datagrid on-ready="ctrl.onGridReady"
                                 datasource="ctrl.columns"
                                 enabledraggablerow="true"
                                 ondeleterow="ctrl.removeColumn"
                                 maxheight="400px"
                                 hidegridmenu>
                        <vr-datagridcolumn headertext="'Field Name'" widthfactor="3" disablesorting>
                            <vr-genericdata-datarecordtypefields-selector on-ready="dataItem.onDataRecordTypeFieldsSelectorReady" vr-loader="dataItem.isLoadingDataRecordTypeFieldsDirective" hidelabel isrequired="true"></vr-genericdata-datarecordtypefields-selector>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Column Name'" widthfactor="3" disablesorting>
                            <vr-textbox value="dataItem.columnName" isrequired="true"></vr-textbox>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'RDB Data Type'" disablesorting>
                            <vr-common-rdbdatatype-info normal-col-num="6" on-ready="dataItem.onRDBDataTypeSelectorReady" label="RDB Type" vr-loader="dataItem.isLoadingRDBDataTypeDirective" isrequired="true" hidelabel></vr-common-rdbdatatype-info>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Unique'" widthfactor="2" disablesorting>
                            <vr-switch value="dataItem.isUnique"></vr-switch>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Identity'" widthfactor="2" disablesorting>
                            <vr-switch value="dataItem.isIdentity"></vr-switch>
                        </vr-datagridcolumn>
                    </vr-datagrid>
                </vr-validator>
            </vr-columns>
        </vr-row>
        <vr-row removeline>
            <vr-columns width="fullrow">
                <a href="" class="link" ng-click="ctrl.loadDefaultRDBTypeTableSettings()" ng-show="scopeModel.showAddAllFields()">Add All Fields</a>
            </vr-columns>
        </vr-row>
    </vr-tab>
    <vr-tab header="'Nullable Fields'">
        <vr-row>
            <vr-columns width="1/2row">
                <vr-validator validate="ctrl.validateNullableFields()">
                    <vr-genericdata-datarecordtypefields-selector on-ready="ctrl.onDataRecordTypeFieldsSelectorReady"
                                                                  selectedvalues="ctrl.selectedDataRecordTypeField"
                                                                  ismultipleselection="true">
                    </vr-genericdata-datarecordtypefields-selector>

                </vr-validator>
            </vr-columns>
        </vr-row>
    </vr-tab>
</vr-tabs>