<vr-tabs vertical>
    <vr-tab header="'Table Definition'">
        <vr-row removeline>
            <vr-columns width="1/3row">
                <vr-textbox value="ctrl.tableName" label="Table Name" isrequired="true"></vr-textbox>
            </vr-columns>
            <vr-columns width="1/3row">
                <vr-textbox value="ctrl.tableSchema" label="Table Schema"></vr-textbox>
            </vr-columns>
            <vr-columns width="1/3row">
                <vr-switch value="ctrl.includeQueueItemId" label="Include Queue Item"></vr-switch>
            </vr-columns>
        </vr-row>
        <vr-row>
            <vr-columns width="1/3row">
                <vr-button type="Add" data-onclick="ctrl.addColumn" standalone></vr-button>
            </vr-columns>
        </vr-row>
        <vr-row removeline>
            <vr-columns width="fullrow">
                <vr-validator validate="ctrl.validateColumns()">
                    <vr-datagrid on-ready="ctrl.onGridReady"
                                 datasource="ctrl.columns"
                                 enabledraggablerow="true"
                                 ondeleterow="ctrl.removeColumn"
                                 maxheight="400px"
                                 hidegridmenu>
                        <vr-datagridcolumn headertext="'Column Name'" disablesorting>
                            <vr-textbox value="dataItem.columnName" isrequired="true" vr-disabled="dataItem.isDisabled"></vr-textbox>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'SQL Data Type'" disablesorting>
                            <vr-textbox value="dataItem.sqlDataType" isrequired="true"></vr-textbox>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Value Expression'" disablesorting>
                            <vr-select on-ready="dataItem.onSelectorReady"
                                       datasource="dataItem.dataRecordTypeFields"
                                       selectedvalues="dataItem.selectedDataRecordTypeField"
                                       datavaluefield="Name"
                                       datatextfield="Name"
                                       isrequired="true"
                                       hideremoveicon>
                            </vr-select>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Unique'" disablesorting>
                            <vr-switch value="dataItem.isUnique"></vr-switch>
                        </vr-datagridcolumn>
                    </vr-datagrid>
                </vr-validator>
            </vr-columns>
        </vr-row>
    </vr-tab>
    <vr-tab header="'Nullable Fields'">
        <vr-row>
            <vr-columns width="1/2row">
                <vr-validator validate="ctrl.validateNullableFields()">
                    <vr-genericdata-datarecordtypefields-selector on-ready="ctrl.onDataRecordTypeFieldsSelectorReady"
                                                                  selectedvalues="ctrl.selectedDataRecordTypeField"
                                                                  ismultipleselection="true">
                    </vr-genericdata-datarecordtypefields-selector>
                </vr-validator>
            </vr-columns>
        </vr-row>
    </vr-tab>
</vr-tabs>