<div>
    <vr-row>
        <vr-genericdata-datarecordtype-remoteselector on-ready="scopeModel.onDataRecordTypeSelectorReady"
                                                      selectedvalues="scopeModel.selectedDataRecordType"
                                                      onselectionchanged="scopeModel.onDataRecordTypeSelectionChanged"
                                                      normal-col-num="6" isrequired="true" hideremoveicon>
        </vr-genericdata-datarecordtype-remoteselector>
        <span ng-show="scopeModel.showDataRecordStorageSelector" vr-loader="scopeModel.isDataRecordStorageSelectorLoading">
            <vr-genericdata-datarecordstorage-remoteselector on-ready="scopeModel.onDataRecordStorageSelectorReady"
                                                             selectedvalues="scopeModel.selectedDataRecordStorages"
                                                             normal-col-num="6" isrequired="true" ismultipleselection hideremoveicon>
            </vr-genericdata-datarecordstorage-remoteselector>
        </span>
    </vr-row>
    <vr-genericdata-restapirecordqueryinterceptor-selective on-ready="scopeModel.onVRRestAPIRecordQueryInterceptorSelectiveReady"
                                                            normal-col-num="6"
                                                            isrequired="true">
    </vr-genericdata-restapirecordqueryinterceptor-selective>
</div>