<vr-row>
    <vr-genericdata-genericbedefinition-selector normal-col-num="6" on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                 isrequired="true" onselectionchanged="scopeModel.onGenericBEDefinitionSelectionChanged">
    </vr-genericdata-genericbedefinition-selector>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-section header="Mapping Fields">
            <span vr-loader="scopeModel.isAccountIdMappingFieldSelectorloading">
                <vr-columns width="1/2row">
                    <vr-genericdata-datarecordtypefields-selector on-ready="scopeModel.onAccountIdMappingFieldSelectorReady" label="Account Id Field" isrequired="true"></vr-genericdata-datarecordtypefields-selector>
                </vr-columns>
            </span>
            <span vr-loader="scopeModel.isAccountBEDefinitionMappingFieldSelectorloading">
                <vr-columns width="1/2row">
                    <vr-genericdata-datarecordtypefields-selector on-ready="scopeModel.onAccountBEDefinitionMappingFieldSelectorReady" label="Account BE Definition Field"></vr-genericdata-datarecordtypefields-selector>
                </vr-columns>
            </span>
        </vr-section>
    </vr-columns>
</vr-row>