
<!--<vr-row>
    <vr-genericdata-beparentchildrelationdefinition-selector on-ready="scopeModel.onBEParentChildRelationDefinitionSelectorReady"
                                                             selectedvalues="scopeModel.selectedBEParentChildRelationDefinition"
                                                             customlabel="Parent" normal-col-num="6"
                                                             isrequired="true" hideremoveicon>
    </vr-genericdata-beparentchildrelationdefinition-selector>
</vr-row>-->

<retail-be-account-genericfielddefinition-selector on-ready="scopeModel.onNameAccountGenericFieldDefinitionSelectorReady"
                                                   normal-col-num="6"
                                                   customlabel="Name"
                                                   isrequired="true">
</retail-be-account-genericfielddefinition-selector>