<vr-section title="Input Fields">
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onSwitchIdReady" label="Switch Id" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onInputCDPNReady" label="CDPN" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onCDPNInReady" label="CDPN In" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onCDPNOutReady" label="CDPN Out" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
</vr-section>

<vr-section title="Output Fields">
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onCustomerCDPNReady" label="Customer CDPN" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onSupplierCDPNReady" label="Supplier CDPN" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onOutputCDPNReady" label="CDPN" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
</vr-section>
