<vr-row>
    <vr-columns width="fullrow">
        <vr-label>Input Fields</vr-label>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onNumberDirectiveReady" label="Number" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onSupplierIdDirectiveReady" label="SupplierId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onSupplierANumberIdDirectiveReady" label="SupplierANumberId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onEffectiveOnDirectiveReady" label="EffectiveOn" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-label>Output Fields</vr-label>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onMatchingSupplierIdDirectiveReady" label="MatchingSupplierId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onSupplierCodeDirectiveReady" label="SupplierCode" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-expressionbuilder on-ready="onSupplierZoneIdDirectiveReady" label="SupplierZoneId" isrequired="true"></vr-genericdata-expressionbuilder>
    </vr-columns>
</vr-row>