<vr-datalist maxitemsperrow="1" datasource="ctrl.childSteps" isitemdraggable onremoveitem="scopeModal.onRemoveStep">
    <vr-label>{{dataItem.Title}}</vr-label> <vr-check value="dataItem.isSelected" ng-click="viewScope.scopeModal.onEditStepClick(dataItem)"></vr-check><!-- <span ng-click="viewScope.scopeModal.onEditStepClick(dataItem)" class="glyphicon glyphicon-edit  hand-cursor" style="left:5px;"></span>-->
    <vr-validator validate="dataItem.validationMessage">
        <vr-directivewrapper directive="dataItem.StepPreviewUIControl" on-ready="dataItem.onPreviewDirectiveReady" vr-loader="dataItem.isLoadingPreviewDirective"></vr-directivewrapper>
    </vr-validator>
</vr-datalist>