<vr-datagrid datasource="buildings"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.BuildingId" enableautoexport="true">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.BuildingId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Building Name'" field="'Entity.Name'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>