<div ng-controller="PSTN_BE_SwitchTrunkGridController">
    <vr-row>
        <vr-columns width="fullrow">

            <vr-datagrid datasource="trunks"
                         on-ready="gridReady"
                         dataretrievalfunction="dataRetrievalFunction"
                         pagingtype="'PagingOnScroll'"
                         menuactions="gridMenuActions"
                         idfield="ID">

                <vr-datagridcolumn headertext="'Trunk Name'" field="'Name'" type="'Text'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Trunk Symbol'" field="'Symbol'" type="'Text'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Switch'" field="'SwitchName'" type="'Text'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Trunk Type'" field="'TypeDescription'" type="'Text'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Trunk Direction'" field="'DirectionDescription'" type="'Text'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Linked-To Trunk'" field="'LinkedToTrunkName'" type="'Text'"></vr-datagridcolumn>
            </vr-datagrid>
            
        </vr-columns>
    </vr-row>
</div>
