<vr-panel ng-controller="WhS_CDRProcessing_SwitchIdentificationRuleManagementController">

    <vr-form name="formFilter" vr-loader="isLoading">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices selectedindex="selectedTabIndex">
                        <vr-choice isselected="basicSelected">Basic</vr-choice>
                        <vr-choice isselected="advancedSelected">Advanced</vr-choice>
                    </vr-choices>

                    <vr-row>
                        <vr-columns width="normal">
                            <vr-textbox value="description" label="Description"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal" ng-show="advancedSelected">
                            <vr-whs-be-switch-selector on-ready="onSwitchDirectiveReady" ismultipleselection></vr-whs-be-switch-selector>
                        </vr-columns>
                        <vr-columns width="normal" ng-show="advancedSelected">
                            <vr-integration-datasource-selector on-ready="onDataSourceDirectiveReady" ismultipleselection></vr-integration-datasource-selector>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-datetimepicker label="Effective Date" value="effectiveDate" type="dateTime" ng-show="advancedSelected"></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <vr-button type="Add" data-onclick="AddNewSwitchRule"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-whs-cdrprocessing-switchidentificationrule-grid on-ready="onGridReady"></vr-whs-cdrprocessing-switchidentificationrule-grid>
    </vr-form>

</vr-panel>