<div vr-modalcontent ng-controller="WhS_CDRProcessing_SwitchIdentificationRuleEditorController" vr-loader="scopeModal.isLoading" width="'50%'">
    <vr-modalbody maxheight="'500px'">
        <vr-form validationcontext="switchIdentificationEditorGroup">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-textarea label="Description" value="scopeModal.description" isrequired></vr-textarea>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Criteria'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-integration-datasource-selector on-ready="scopeModal.onDataSourceDirectiveReady" ismultipleselection isrequired></vr-integration-datasource-selector>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Settings'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-whs-be-switch-selector on-ready="scopeModal.onSwitchDirectiveReady" selectedvalues="scopeModal.selectedSwitch" isrequired></vr-whs-be-switch-selector>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Scheduler'">
                        <vr-row>
                            <vr-columns width="1/3row">
                                <vr-datetimepicker label="Begin Effective Date" value="scopeModal.beginEffectiveDate" customvalidate="scopemodal.validatedatetime()" type="date" isrequired></vr-datetimepicker>
                            </vr-columns>
                            <vr-columns width="1/3row">
                                <vr-datetimepicker label="End Effective Date" value="scopeModal.endEffectiveDate" customvalidate="scopemodal.validatedatetime()" type="date"></vr-datetimepicker>
                            </vr-columns>
                        </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="switchIdentificationEditorGroup" data-onclick="scopeModal.SaveSwitchRule"></vr-button>
                <vr-button type="Close" data-onclick="scopeModal.close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
