<vr-row removeline vr-loader="scopeModel.isLoadingDirective">
    <vr-row>
        <vr-columns colnum="4">
            <reprocess-reprocessdefinition-selector on-ready="scopeModel.onReprocessDefinitionSelectorReady"
                                                    onselectionchanged="scopeModel.onReprocessDefinitionSelectionChanged"
                                                    selectedvalues="scopeModel.selectedReprocessDefinition" isrequired="true">
            </reprocess-reprocessdefinition-selector>
        </vr-columns>
        <vr-columns colnum="8" haschildcolumns>
            <vr-validator validate="scopeModel.isValid()">
                <vr-columns colnum="6">
                    <vr-textbox value="scopeModel.daysBack" type="number" label="Days Back" isrequired="true" minvalue="0"></vr-textbox>
                </vr-columns>

                <vr-columns colnum="6">
                    <vr-textbox value="scopeModel.numberOfDays" type="number" label="Number Of Days" isrequired="true" minvalue="1"></vr-textbox>
                </vr-columns>
            </vr-validator>
        </vr-columns>
    </vr-row>
    <vr-row>
        <span ng-show="scopeModel.selectedReprocessDefinition!=undefined && scopeModel.showChunkTimeSelector">
            <reprocess-chunktime-selector on-ready="scopeModel.onChunkTimeSelectorReady" normal-col-num="4" isrequired="true"></reprocess-chunktime-selector>
        </span>
        <vr-columns colnum="4" ng-if="scopeModel.selectedReprocessDefinition!=undefined && !scopeModel.selectedReprocessDefinition.ForceUseTempStorage">
            <vr-switch value="scopeModel.useTempStorage" label="Use Temporary Storage"></vr-switch>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns colnum="12" ng-if="scopeModel.filterDefinitionEditor!=undefined">
            <vr-section title="Filter" level="2">
                <vr-row>
                    <vr-directivewrapper directive="scopeModel.filterDefinitionEditor" on-ready="scopeModel.onFilterDefinitionDirectiveReady" normal-col-num="4"></vr-directivewrapper>
                </vr-row>
            </vr-section>
        </vr-columns>
    </vr-row>
</vr-row>