<div vr-modalcontent ng-controller="VR_Invoice_InvoiceActionEditorController" width="'50%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody maxheight="'700px'">
        <vr-form name="formInvoiceActionEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-textbox value="scopeModel.actionTitle" label="Action Title" isrequired="true"></vr-textbox>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Settings'">
                    <vr-invoicetype-actionsettings on-ready="scopeModel.onInvoiceActionSettingsReady" normal-col-num="4"></vr-invoicetype-actionsettings>
                </vr-tab>
                <vr-tab header="'Security'" >
                    <vr-row ng-show="scopeModel.showSecurityGrid">
                        <vr-columns width="fullrow">
                            <vr-sec-requiredpermission-grid on-ready="scopeModel.onActionRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formInvoiceActionEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>