<vr-row>
    <span vr-disabled="true">
        <vr-whs-deal-dealdefinition-selector on-ready="scopeModel.onDealDefinitionSelectorReady" isrequired="true" hideremoveicon normal-col-num="4"
                                             selectedvalues="scopeModel.selectedDeal" onselectionchanged="scopeModel.onDealDefinitionSelectionChanged"></vr-whs-deal-dealdefinition-selector>
    </span>
</vr-row>
<vr-row>
    <span ng-if="scopeModel.selectedDeal!=undefined" vr-loader="scopeModel.isLoadingSaleZone">
        <vr-whs-be-salezone-selector on-ready="scopeModel.onSaleZoneSelectorReady" ismultipleselection normal-col-num="4"></vr-whs-be-salezone-selector>
    </span>
</vr-row>

