<div vr-modalcontent ng-controller="VR_Sec_BusinessEntityEditorController" width="'50%'" vr-loader="isGettingData">
    <vr-modalbody>
        <vr-form name="formBusinessEntityEditor">
            <vr-row>

                <vr-columns width="1/2row" ng-hide="isEditMode">
                    <vr-section title="Permission Holders">
                        <vr-columns width="fullrow">
                            <vr-select label="Users"
                                       datasource="users"
                                       selectedvalues="selectedUsers"
                                       datatextfield="Name"
                                       datavaluefield="UserId"
                                       ismultipleselection>
                            </vr-select>
                        </vr-columns>

                        <vr-columns width="fullrow">
                            <vr-select label="Groups"
                                       datasource="groups"
                                       selectedvalues="selectedGroups"
                                       datatextfield="Name"
                                       datavaluefield="GroupId"
                                       ismultipleselection>
                            </vr-select>
                        </vr-columns>
                    </vr-section>
                </vr-columns>

                <vr-columns width="1/2row">
                    <vr-section title="Assigned Permissions">

                        <vr-row ng-repeat="permission in entityPermissions">
                            <vr-columns width="1/2row">
                                {{permission.name}}
                            </vr-columns>
                            <vr-columns width="1/2row">
                                <vr-choices selectedindex="permission.selectedFlagOptionIndex" onselectionchanged="permissionsSelected(permission)" isradio>
                                    <vr-choice ng-repeat="permissionFlagOption in permissionFlagOptions">{{permissionFlagOption}}</vr-choice>
                                </vr-choices>
                            </vr-columns>
                        </vr-row>

                    </vr-section>
                </vr-columns>

            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formBusinessEntityEditor" vr-disabled="!isPermissionsFlagSelected()" data-onclick="savePermissions"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
