<vr-panel ng-controller="Security_BusinessEntityManagementController">

    <vr-form name="formBusinessEntity">
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true">
                <div transclude-to="buttons">
                    <vr-button type="BreakInheritance" formname="formBusinessEntity" ng-show="currentNode != undefined && showBreakInheritance" permissions="TOne/Administration Module/System Entities:Assign Permissions" data-onclick="ToggleInheritance" isasynchronous=" true"></vr-button>
                    <vr-button type="AllowInheritance" formname="formBusinessEntity" ng-show="currentNode != undefined &&!showBreakInheritance" permissions="TOne/Administration Module/System Entities:Assign Permissions" data-onclick="ToggleInheritance" isasynchronous=" true"></vr-button>
                    <vr-button type="Add" formname="formBusinessEntity" permissions="TOne/Administration Module/System Entities:Assign Permissions" ng-show="currentNode != undefined" data-onclick="AddNewPermission" isasynchronous=" true"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns colnum="4">
                <vr-treeview on-ready="treeReady"
                    datachildrenfield="Children"
                    datatextfield="Name"
                    selecteditem="currentNode"
                    onvaluechanged="treeValueChanged">
                </vr-treeview>

            </vr-columns>
            <vr-columns colnum="6" ng-show="currentNode != undefined">
                <vr-datagrid datasource="permissions" menuactions="gridMenuActions" loadmoredata="loadMoreData" on-ready="onMainGridReady">
                    <vr-datagridcolumn headertext="'Holder Name'" field="'HolderName'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Holder Type'" field="'HolderTypeEnum'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Permission Type'" field="'PermissionType'" widthfactor="10"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Permissions'" field="'PermissionFlagsDescription'" widthfactor="10"></vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>

    </vr-form>




</vr-panel>