<div vr-modalcontent ng-controller="Security_BusinessEntityEditorController" width="'50%'">
    <vr-modalbody vr-loader="isGettingData">
        <vr-form name="formBusinessEntityEditor">
            <vr-row>
                <vr-columns colnum="6" ng-show="!isEditMode">
                    <vr-section title="Permission Holders">
                        <vr-columns colnum="12">

                            <vr-select ismultipleselection label="Users" datasource="optionsUsers.datasource" selectedvalues="optionsUsers.selectedvalues" datatextfield="Name" datavaluefield="UserId"
                                       entityname="Users">
                            </vr-select>
                        </vr-columns>
                        <vr-columns colnum="12">
                            <vr-select ismultipleselection label="Groups" datasource="optionsGroups.datasource" selectedvalues="optionsGroups.selectedvalues" datatextfield="Name" datavaluefield="GroupId"
                                       entityname="Groups">
                            </vr-select>
                        </vr-columns>
                    </vr-section>
                </vr-columns>
                <vr-columns colnum="6">
                    <vr-section title="Assigned Permissions">
                        <vr-row ng-repeat="permission in entityPermissions">
                            <vr-columns colnum="6">
                                {{permission.name}}
                            </vr-columns>
                            <vr-columns colnum="6">
                                <vr-choices isradio onselectionchanged="permissionsSelected(permission)" selectedindex="permission.selectedFlagOptionIndex">
                                    <vr-choice ng-repeat="permissionFlagOption in permissionFlagOptions">{{permissionFlagOption}}</vr-choice>
                                </vr-choices>
                            </vr-columns>
                        </vr-row>
                    </vr-section>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formBusinessEntityEditor" vr-disabled="!isPermissionsFlagSelected()" data-onclick="SavePermissions"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
