<vr-panel ng-controller="Security_GroupManagementController">

    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns colnum="2">
                    <vr-textbox value="name" label="Name"></vr-textbox>
                </vr-columns>
            </vr-row>            
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous=" true"></vr-button>
                    <vr-button type="Add" permissions="TOne/Administration Module/Groups:Add" data-onclick="addNewGroup"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <div>
        <vr-row>
            <vr-columns colnum="12" simplecol>
                <vr-datagrid datasource="groups" menuactions="gridMenuActions" loadmoredata="loadMoreData" on-ready="onMainGridReady" idfield="RoleId">
                    <vr-datagridcolumn headertext="'Name'" field="'Name'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Description'" field="'Description'"></vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>