<vr-panel ng-controller="Security_LoginController">

    <vr-form name="formLogin">
        <div>
            <vr-row removeline>
                <vr-columns colnum="4">
                    <vr-textbox value="userName" label="User Name"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns colnum="4">
                    <vr-textbox value="password" label="Password"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns colnum="4">
                    <input type="button" data-onclick="Login" value="Login" />
                </vr-columns>
            </vr-row>
            
        </div>
</vr-panel>
