<div class="login-container">
    <div ng-controller="VR_Sec_LoginController">
        <div style="margin-top: 50%; padding-top: 55%">
            <!--<img src="../../Client/Images/doruknet-logo.png" class="vr-company-logo" style="visibility:hidden" />-->
            <vr-form name="formLogin" submitname="login">
                <div class="row login-spacer" ng-show="showSecurityProviderSelector">
                    <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                        <vr-sec-securityprovider-selector on-ready="onSecurityProviderSelectorReady" isrequired="true" hideremoveicon selectedvalues="selectedSecurityProvider"></vr-sec-securityprovider-selector>
                    </div>
                </div>

                <span ng-if="selectedSecurityProvider!=undefined" vr-loader="isLoadingAuthenticateUserEditor">
                    <vr-directivewrapper directive="selectedSecurityProvider.AuthenticateUserEditor" on-ready="onAuthenticateUserEditorReady"></vr-directivewrapper>
                </span>

                <div class="row login-spacer">
                    <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                        <vr-button type="Login" formname="formLogin" data-onclick="Login" submitname="login"></vr-button>
                    </div>
                </div>
                <div class="row login-spacer" ng-if="selectedSecurityProvider!=undefined && selectedSecurityProvider.SupportPasswordManagement">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="" class="pull-right fogetten-label" ng-click="forgotPassword()">Forgot Password</a>
                    </div>
                </div>
            </vr-form>
            <div class="vr-tone-version">Version 1/ Support +961 5 45 74 37</div>
        </div>
    </div>
</div>
