<div class="login-container">
    <div ng-controller="Security_LoginController">
        <div style="margin-top: 50%; padding-top: 45%">
            <img src="../../Client/Images/doruknet-logo.png" class="vr-company-logo" />
            <vr-form name="formLogin">
                <div class="row login-spacer" >
                    <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                        <vr-textbox value="email" placeholder="Username"></vr-textbox>
                    </div>
                </div>
                <div class="row login-spacer" >
                    <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                        <vr-textbox value="password" placeholder="Password"></vr-textbox>
                    </div>
                </div>
                <div class="row login-spacer">
                    <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                        <vr-button type="Login" formname="formLogin" data-onclick="Login"></vr-button>
                    </div>
                </div>
                <div class="row login-spacer">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="" class="pull-right fogetten-label">Forgot Password</a>
                    </div>
                </div>
            </vr-form>
            <div class="vr-tone-version" >Version 1/ Support +961 5 45 74 37</div>
        </div>
    </div>
</div>
