<div vr-modalcontent draggable="" ng-controller="Security_OrgChartEditorController" width="'60%'">
    <vr-modalbody vr-loader="isGettingData">
        <vr-form name="orgChartEditorForm">
            <vr-choices>
                <vr-choice isselected="definitionSelected">Definition</vr-choice>
                <vr-choice isselected="hierarchySelected">Hierarchy</vr-choice>
            </vr-choices>

            <div ng-show="definitionSelected">
                <vr-row>
                    <vr-columns colnum="6">
                        <vr-textbox value="name" label="Name" isrequired></vr-textbox>
                    </vr-columns>
                </vr-row>
            </div>

            <div ng-show="hierarchySelected">

                <vr-row>
                    <vr-columns width="fullrow">
                        <vr-section title="Org Chart Hierarchy">
                            <div style="z-index: inherit">
                                <vr-treeview on-ready="treeReady"
                                             datachildrenfield="Members"
                                             datavaluefield="Id"
                                             datatextfield="Name"
                                             selecteditem="currentNode"
                                             draggabletree
                                             movesettings="alllevels"
                                             wholerow>
                                </vr-treeview>
                            </div>
                           
                        </vr-section>
                    </vr-columns>
                </vr-row>

            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="orgChartEditorForm" data-onclick="saveOrgChart"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>