<div class="login-container">
    <div ng-controller="VR_Sec_PaymentController">
        <div style="margin-top: 50%; padding-top: 55%">
            <vr-form >
                <div class="row login-spacer">
                    <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
                        <vr-label style="position:absolute;top:150px;">License Expired</vr-label>
                    </div>
                </div>
            </vr-form>
            <div class="vr-tone-version">Version 1/ Support +961 5 45 74 37</div>
        </div>
    </div>
</div>
