<div vr-modalcontent ng-controller="Security_PermissionEditorController">
    <vr-modalbody width="'50%'" vr-loader="isGettingData">
        <vr-form name="formPermissionEditor">
            <vr-row>
                <vr-columns colnum="6">
                    <div data-tree-id="beTree"
                         data-angular-treeview="true"
                         data-tree-model="beList"
                         data-node-id="EntityId"
                         data-node-label="Name"
                         data-node-children="Children">
                    </div>
                </vr-columns>
                <vr-columns colnum="6">
                    <div>
                        <ul ng-repeat="permission in entityPermissions">
                            <li>
                                {{permission.name}}
                                <vr-choices onselectionchanged="permissionsSelected(permission)" selectedindex="permission.selectedFlagOptionIndex">
                                    <vr-choice ng-repeat="permissionFlagOption in permissionFlagOptions">{{permissionFlagOption}}</vr-choice>
                                </vr-choices>
                            </li>
                        </ul>
                    </div>
                </vr-columns>

            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formPermissionEditor" data-onclick="SavePermissions"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
