
<vr-panel ng-controller="VR_Sec_RegistredApplicationLanding" vr-loader="isLoading">
    <div style="padding-left:15px">
        <div class="row">
            <div ng-repeat="item in registredApplications" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <div class="menu-tile" ng-click="openApplication(item)" style="height:200px">                   
                    <img ng-src="{{::item.IconPath}}"  class="img-responsive" style="height: 150px;width: 100%;" />
                </div>

            </div>
        </div>
    </div>
</vr-panel>