<div vr-modalcontent ng-controller="Security_ResetPasswordController">
    <vr-modalbody width="'30%'">
        <vr-form name="resetPasswordForm">

            <vr-row>
                <vr-columns colnum="6">
                    <vr-textbox value="txtPasswordOld" label="Current Password" isrequired></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns colnum="6">
                    <vr-textbox value="txtPasswordNew" label="New Password" isrequired></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns colnum="6">
                    <vr-textbox value="txtPasswordConfirmed" customvalidate="ConfirmPassword" label="Confirm Password" isrequired></vr-textbox>
                </vr-columns>

            </vr-row>

        </vr-form>

    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="resetPasswordForm" data-onclick="ResetPassword" isasynchronous="true"></vr-button>
                <vr-button type="Close" data-onclick="$hide"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>

