
<div ng-controller="testpage1">
    <vr-form name="formWidgetPreview">
        <vr-row>
            {{selectedTreeNode1}}
            <vr-treeview datatextfield="text" datavaluefield="id" datachildrenfield="children" on-ready="treeReady" selecteditem="selectedTreeNode1" onvaluechanged="treeValueChanged1"></vr-treeview>
            {{selectedTreeNode2}}
            <vr-treeview datatextfield="Name" datavaluefield="id" datachildrenfield="children" on-ready="treeReady2" selecteditem="selectedTreeNode2" onvaluechanged="treeValueChanged2"></vr-treeview>
        </vr-row>
    </vr-form>
    <vr-row>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Add" formname="formWidgetPreview" data-onclick="add"></vr-button>
                <vr-button type="Search" formname="formWidgetPreview" data-onclick="Search"></vr-button>
                
            </div>
        </vr-actionbar>
    </vr-row>
         
  <div>
      <js-tree tree-data="scope" 
               tree-model="data" 
               tree-plugins="types" 
               tree-types=" typesconfig" 
               tree-events="ready:readyCB;changed:changedCB;open_node:openNodeCB"></js-tree>



  </div>

   
        <div id="test" >

            <ul>
                <li data-jstree='{ "opened" : true }'>
                    Root node
                    <ul>
                        <li data-jstree='{ "selected" : true }'>Child node 1</li>
                        <li>Child node 2
                            <ul>
                                <li>Child node 3</li>
                                <li>Child node 4
                                    <ul>
                                        <li>Child node 5</li>
                                        <li>
                                            Child node 6

                                        </li>
                                    </ul>

                                </li>
                            </ul>

                        </li>
                    </ul>
                   
                </li>
            </ul>

        </div>

    <input type="button" value="Refresh Tree" ng-click="refreshTree()" />
    <input type="button" value="Add Node" ng-click="addNode()" />
    <div id="test2">

        <ul>
            <li data-jstree='{ "opened" : true }' ng-repeat="value in values">
                <input type="text" /> {{value.Name}}
                <ul>
                    <li data-jstree='{ "opened" : true }' ng-repeat="childValue in value.children">{{childValue.Name}}</li>
                </ul>

            </li>
        </ul>

    </div>
    {{values}}
    
    </div>

