
<div ng-controller="testpage1">
    <vr-form name="formWidgetPreview">
        <vr-row>

        </vr-row>
    </vr-form>
    <vr-row>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Add" formname="formWidgetPreview" data-onclick="add"></vr-button>
                <vr-button type="Search" formname="formWidgetPreview" data-onclick="Search"></vr-button>
                
            </div>
        </vr-actionbar>
    </vr-row>
         
  <div>
      <js-tree tree-data="scope" 
               tree-model="data" 
               tree-plugins="types" 
               tree-types=" typesconfig" 
               tree-events="ready:readyCB;changed:changedCB;open_node:openNodeCB"></js-tree>



  </div>

   
        <div id="test" >

            <ul>
                <li data-jstree='{ "opened" : true }'>
                    Root node
                    <ul>
                        <li data-jstree='{ "selected" : true }'>Child node 1</li>
                        <li>Child node 2
                            <ul>
                                <li>Child node 3</li>
                                <li>Child node 4
                                    <ul>
                                        <li>Child node 5</li>
                                        <li>
                                            Child node 6

                                        </li>
                                    </ul>

                                </li>
                            </ul>

                        </li>
                    </ul>
                   
                </li>
            </ul>

        </div>

    
    </div>

