
<div ng-controller="testpage1">
    <vr-form name="formWidgetPreview">
        <vr-row>
            {{selectedTreeNode1}}
           
            {{selectedTreeNode2}}
            <vr-treeview datatextfield="Name" datavaluefield="id" datachildrenfield="children" on-ready="treeReady2" selecteditem="selectedTreeNode2" onvaluechanged="treeValueChanged2"></vr-treeview>
        </vr-row>
    </vr-form>
    <vr-row>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Add" formname="formWidgetPreview" data-onclick="add"></vr-button>
                <vr-button type="Search" formname="formWidgetPreview" data-onclick="Search"></vr-button>
                
            </div>
        </vr-actionbar>
    </vr-row>


    
    </div>

