<vr-panel ng-controller="Security_UserManagementController">

    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns colnum="2">
                    <vr-textbox value="name" label="Name"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-textbox value="email" label="Email"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous=" true"></vr-button>
                    <vr-button type="Reset" ng-show="false"></vr-button>
                    <vr-button type="Add" permissions="Root/Administration Module/Users:Add" data-onclick="AddNewUser"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

        <div>
            <vr-row>
                <vr-columns colnum="12" simplecol>
                    <vr-datagrid datasource="users"
                                 dataretrievalfunction="dataRetrievalFunction"
                                 pagingtype="'PagingOnScroll'"
                                 on-ready="gridReady"
                                 menuactions="gridMenuActions"
                                 idfield="Entity.UserId">

                        <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Email'" field="'Entity.Email'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Status'">
                            <vr-icon icontype="dataItem.Entity.Status"></vr-icon>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Last Login Date'" field="'Entity.LastLogin'" type="'Datetime'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Description'" field="'Entity.Description'"></vr-datagridcolumn>
                    </vr-datagrid>
                </vr-columns>
            </vr-row>
        </div>

    </vr-form>

</vr-panel>