<vr-datagrid datasource="rpRoutes"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="onGridReady"
             menuactions="gridMenuActions"
             defaultsortbyfieldname="'Entity.RoutingProductId'">

    <vr-datagridcolumn headertext="'Routing Product'" field="'RoutingProductName'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Sale Zone'" field="'SaleZoneName'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'IsBlocked'" field="'Entity.IsBlocked'"></vr-datagridcolumn>
    <!--<vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>-->
</vr-datagrid>
