<vr-row>
    <vr-columns width="1/4row">
        <vr-whs-routing-rproutepolicy-selector on-ready="onRPRoutePolicySelectorReady"
                                               selectedvalues="selectedPolicy"
                                               onselectitem="onPolicySelectItem"
                                               hideremoveicon>
        </vr-whs-routing-rproutepolicy-selector>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns colnum="12" simplecol>
        <vr-datagrid on-ready="onGridReady"
                     datasource="rpRouteOptions"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     defaultsortbyfieldname="'OptionOrder'"
                     getrowstyle="getRowStyle">

            <vr-datagridcolumn headertext="'Supplier'" type="'Text'" widthfactor="3">
                <a style="font-size: 11px; cursor: pointer; display: inline-block; text-align: right; padding: 0 10px 0 0;" ng-click="viewScope.openRouteOptionSupplier(dataItem)">
                    {{dataItem.SupplierName}}<span style="color:#FFA500; font-weight:bold;" ng-if="dataItem.SupplierZoneMatchHasClosedRate">*</span>
                </a>
            </vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Status'" type="'Text'" field="'SupplierStatusDescription'" widthfactor="1"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Supplier Rate'" type="'Number'" field="'ConvertedSupplierRate'" numberprecision="'LongPrecision'" widthfactor="3"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Currency'" type="'Text'" field="'CurrencySymbol'" fixedwidth="60"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Percentage'" type="'Number'" numberprecision="'NoDecimal'" field="'Percentage'" widthfactor="3"></vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>
