<vr-datagrid on-ready="onGridReady"
             datasource="supplierZones"
             idfield="SupplierZoneId"
             menuactions="getMenuActions"
             getrowstyle="getRowStyle"
             hidegridmenu>

    <vr-datagridcolumn headertext="'Zone'" field="'SupplierZoneName'" type="'Text'" widthfactor="2" disablesorting></vr-datagridcolumn>
    <!--<vr-datagridcolumn headertext="'Code'" field="'Entity.SupplierCode'" type="'Text'" widthfactor="1" disablesorting></vr-datagridcolumn>-->
    <vr-datagridcolumn headertext="'Services'" widthfactor="1" disablesorting="true">
        <vr-whs-be-services-viewer on-ready="dataItem.onServiceViewerReady"></vr-whs-be-services-viewer>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Blocked'" field="'Entity.IsBlocked'" type="'Text'" widthfactor="1" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Rate'" field="'ConvertedSupplierRate'" type="'Number'" numberprecision="'LongPrecision'" widthfactor="1" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Rate EED'" field="'RateEED'" type="'LongDatetime'" fixedwidth="'120'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Future Rate'" field="'FutureRate'" type="'Number'" numberprecision="'LongPrecision'" widthfactor="1" disablesorting></vr-datagridcolumn>
</vr-datagrid>