<div vr-modalcontent ng-controller="WhS_Sales_BulkActionWizardController" width="'90%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formBulkActionWizard">
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-dropdown-section on-ready="scopeModel.onDropdownSectionReady" oncollapsesection="scopeModel.onDropdownSectionCollapsed">
                        <div transclude-to="summary">
                            <vr-row>
                                <vr-columns width="1/2row">
                                    <vr-label>{{scopeModel.actionSummaryTitle}}</vr-label>
                                    <span ng-hide="scopeModel.actionSummaryBody == undefined"><br /><vr-label isvalue>{{scopeModel.actionSummaryBody}}</vr-label></span>
                                </vr-columns>
                                <vr-columns width="1/2row">
                                    <vr-label>{{scopeModel.filterSummaryTitle}}</vr-label>
                                    <span ng-hide="scopeModel.filterSummaryBody == undefined"><br /><vr-label isvalue>{{scopeModel.filterSummaryBody}}</vr-label></span>
                                </vr-columns>
                            </vr-row>
                        </div>
                        <div transclude-to="body">
                            <vr-row>
                                <vr-columns width="1/2row">
                                    <vr-section header="Action Settings">
                                        <vr-validation-group validationcontext="validationContext">
                                            <vr-whs-sales-bulkaction-type-selective on-ready="scopeModel.onBulkActionSelectiveReady"
                                                                                    normal-col-num="6"
                                                                                    isrequired="true"
                                                                                    hideremoveicon="true">
                                            </vr-whs-sales-bulkaction-type-selective>
                                        </vr-validation-group>
                                    </vr-section>
                                </vr-columns>
                                <vr-columns width="1/2row">
                                    <vr-section header="Applicable Zones">
                                        <span vr-disabled="validationContext.validate() != null">
                                            <vr-whs-sales-bulkaction-zonefilter-selective on-ready="scopeModel.onZoneFilterSelectiveReady"
                                                                                          normal-col-num="6"
                                                                                          isrequired="true"
                                                                                          hideremoveicon="true">
                                            </vr-whs-sales-bulkaction-zonefilter-selective>
                                        </span>
                                    </vr-section>
                                </vr-columns>
                            </vr-row>
                        </div>
                    </vr-dropdown-section>
                </vr-columns>
            </vr-row>
            <div style="min-height: 335px;">
                <div ng-show="scopeModel.applicableZonesTabObject.showTab || scopeModel.showInvalidTab">
                    <vr-tabs on-ready="scopeModel.onTabsAPIReady">
                        <vr-tab header="'Applicable Zones'" tabobject="scopeModel.applicableZonesTabObject">
                            <vr-row>
                                <vr-columns width="fullrow">
                                    <vr-whs-sales-rateplan-grid on-ready="scopeModel.onGridReady" ispreview></vr-whs-sales-rateplan-grid>
                                </vr-columns>
                            </vr-row>
                        </vr-tab>
                        <vr-tab header="'Invalid Zones'" ng-if="scopeModel.showInvalidTab">
                            <vr-row>
                                <vr-directivewrapper directive="scopeModel.validationDirectiveName"
                                                     on-ready="scopeModel.onValidationDirectiveReady"
                                                     normal-col-num="4">
                                </vr-directivewrapper>
                            </vr-row>
                        </vr-tab>
                    </vr-tabs>
                </div>
            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Evaluate" formname="formBulkActionWizard" data-onclick="scopeModel.evaluate"></vr-button>
                <vr-button type="Apply" formname="formBulkActionWizard" data-onclick="scopeModel.apply" vr-disabled="scopeModel.isApplyButtonDisabled"></vr-button>
                <vr-button type="Cancel" data-onclick="scopeModel.cancel"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>