<vr-datagrid datasource="operatorAccounts"
                on-ready="onGridReady"
                dataretrievalfunction="dataRetrievalFunction"
                pagingtype="'PagingOnScroll'"
                menuactions="gridMenuActions"
                idfield="Entity.OperatorAccountId"
                showexpand="isExpandable">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.OperatorAccountId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name Suffix'" field="'OperatorAccountName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Profile Name'" field="'OperatorProfileName'" type="'Text'" ng-show="!hideProfileColumn"></vr-datagridcolumn>
</vr-datagrid>