<vr-datagrid datasource="scopeModel.vrLocalizationTextResourcesTranslation"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             idfield="VRLocalizationTextResourceTranslationId">
    <vr-datagridcolumn headertext="'Id'" field="'VRLocalizationTextResourceTranslationId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Resource Key'" field="'ResourceKey'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Language'" field="'languageName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Value'" field="'Settings.Value'"></vr-datagridcolumn>
</vr-datagrid>