<vr-datagrid datasource="scopeModel.vrLocalizationTextResourcesTranslation"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             idfield="VRLocalizationTextResourceTranslationId">
    <vr-datagridcolumn headertext="'ID'" localizedheadertext="'VRRes.ID.VREnd'" field="'VRLocalizationTextResourceTranslationId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'ResourceKey'" localizedheadertext="'VRRes.Resource Key.VREnd'" field="'ResourceKey'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Language'" localizedheadertext="'VRRes.Language.VREnd'" field="'languageName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Value'" localizedheadertext="'VRRes.Value.VREnd'" field="'Settings.Value'"></vr-datagridcolumn>
</vr-datagrid>