<vr-row>
    <vr-excelconversion-fieldmapping-cellfieldmapping on-ready="onFirstRowMappingReady"
                                                      label="First Row"
                                                      type="'row'"
                                                      isrequired="true"
                                                      normal-col-num="4">
    </vr-excelconversion-fieldmapping-cellfieldmapping>
</vr-row>
<vr-row>
    <vr-columns width="1/4row">
        <vr-button type="Add" data-onclick="addMappedCol" standalone="true"></vr-button>
    </vr-columns>
</vr-row>
<vr-row vr-loader="isLoadingMappedCol">
    <vr-columns width="fullrow">
        <vr-whs-be-pricelisttemplate-codesbyzone-mappedcolumns-grid on-ready="onMappedColumnsGridReady">

        </vr-whs-be-pricelisttemplate-codesbyzone-mappedcolumns-grid>

    </vr-columns>
</vr-row>

<vr-row>
<vr-columns width="1/2row">
    <vr-textbox label="Delimiter" value="delimiterValue" isrequired="true"></vr-textbox>
</vr-columns>
</vr-row>
 
