<vr-panel ng-controller="VR_Sec_OrgChartManagementController">
    <vr-form name="orgChartManagementForm">

        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox value="name" label="Name" localizedlabel="VRRes.Name.VREnd"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" data-onclick="search" formname="orgChartManagementForm" isasynchronous="true"></vr-button>
                    <vr-button type="Add" data-onclick="addOrgChart"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

        <vr-row>
            <vr-columns width="fullrow">
                <vr-sec-orgchart-grid on-ready="onGridReady"></vr-sec-orgchart-grid>
            </vr-columns>
        </vr-row>

    </vr-form>
</vr-panel>