<div vr-modalcontent ng-controller="Vanrise_Tools_GeneratedScriptManagementController" vr-loader="scopeModel.isLoading" width="small">
    <vr-modalbody>
        <vr-form name="formGeneratedScriptManagement">
            <vr-tabs>
                <vr-tab header="'Source'">
                </vr-tab>
                <vr-tab header="'Design'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vanrise-tools-generated-script-design on-ready="scopeModel.onGridReady"></vanrise-tools-generated-script-design>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
               
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
</div>