<vr-tabs>
    <vr-tab header="'Provisioner'">
        <retail-be-provisioner-definitionsettings on-ready="scopeModel.onProvisionerDefinitionSettingReady" normal-col-num="3"></retail-be-provisioner-definitionsettings>
    </vr-tab>
    <vr-tab header="'Settings'">
        <vr-row>
            <retail-be-statusdefinition-selector on-ready="scopeModel.onStatusDefinitionSelectorReady" normal-col-num="6" customlabel="New Status" ></retail-be-statusdefinition-selector>
        </vr-row>
    </vr-tab>
</vr-tabs>
