<div vr-modalcontent ng-controller="Retail_BE_ProductPackageItemEditorController" width="'50%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formPackageItemEditor">

            <vr-row>
                <retail-be-package-selector on-ready="scopeModel.onPackageSelectorReady"
                                            selectedvalues="scopeModel.selectedPackage"
                                            normal-col-num="6"
                                            isrequired="true">
                </retail-be-package-selector>
            </vr-row>
            <!--<retail-be-accountcondition-selective on-ready="scopeModel.onAccountConditionSelectiveReady"
                                                  ng-show="scopeModel.IsAvailableInSubAccounts">
            </retail-be-accountcondition-selective>-->

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formPackageItemEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>