<vr-datagrid datasource="logs"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.LogEntryId" defaultsortdirection="'DESC'" defaultsortbyfieldname="'Entity.LogEntryId'">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.LogEntryId'" type="'Text'" widthfactor="1"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Event Time'" field="'Entity.EventTime'" type="'LongDatetime'" fixedwidth="'120'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Level'" field="'EntryTypeName'" type="'Text'" widthfactor="2" getcolor="getTypeColor" fixedwidth="'100'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Event Type'" field="'EventTypeName'" type="'Text'" widthfactor="2" fixedwidth="'150'"></vr-datagridcolumn>

    <vr-datagridcolumn headertext="'Machine'" field="'MachineName'" type="'Text'" widthfactor="2" ng-show="false"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Application'" field="'ApplicationName'" type="'Text'" widthfactor="2" ng-show="false"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Assembly'" field="'AssemblyName'" type="'Text'" widthfactor="2" ng-show="false"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Type'" field="'TypeName'" type="'Text'" widthfactor="2" ng-show="false"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Method'" field="'MethodName'" type="'Text'" widthfactor="2" ng-show="false"></vr-datagridcolumn>

    <vr-datagridcolumn headertext="'Message'" field="'Entity.Message'" type="'Text'" widthfactor="6" expendablecolumn expendablecolumntitle="'Entity.Message'" expendablecolumndescription="'Entity.ExceptionDetail'"></vr-datagridcolumn>
</vr-datagrid>