<vr-row>
    <vr-columns width="fullrow" haschildcolumns>
        <vr-section header="Voice Tax">
            <vr-columns width="1/2row">
                <vr-select datasource="scopeModel.voiceTaxChargeTypes"
                           datatextfield="description"
                           datavaluefield="value"
                           selectedvalues="scopeModel.voiceTaxChargeType"
                           label="Voice Tax Charge Types">
                </vr-select>
            </vr-columns>
            <vr-columns width="1/2row" ng-if="scopeModel.voiceTaxChargeType!=undefined && scopeModel.voiceTaxChargeType.value == 0">
                <vr-textbox value="scopeModel.voiceTaxPercentage" label="Tax %" type="number" maxvalue="100" isrequired></vr-textbox>
            </vr-columns>
            <vr-columns width="1/2row" ng-if="scopeModel.voiceTaxChargeType!=undefined && scopeModel.voiceTaxChargeType.value == 1">
                <vr-textbox value="scopeModel.taxPerMinute" label="Tax Per Minute" type="number" isrequired></vr-textbox>
            </vr-columns>
        </vr-section>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow" haschildcolumns>
        <vr-section header="SMS Tax">
            <vr-columns width="1/2row">
                <vr-select datasource="scopeModel.smsTaxChargeTypes"
                           datatextfield="description"
                           datavaluefield="value"
                           selectedvalues="scopeModel.smsTaxChargeType"
                           label="SMS Tax Charge Types">
                </vr-select>
            </vr-columns>
            <vr-columns width="1/2row" ng-if="scopeModel.smsTaxChargeType!=undefined && scopeModel.smsTaxChargeType.value == 0">
                <vr-textbox value="scopeModel.smsTaxPercentage" label="Tax %" type="number" maxvalue="100" isrequired></vr-textbox>
            </vr-columns>
            <vr-columns width="1/2row" ng-if="scopeModel.smsTaxChargeType!=undefined && scopeModel.smsTaxChargeType.value == 1">
                <vr-textbox value="scopeModel.taxPerSMS" label="Tax Per SMS" type="number" isrequired></vr-textbox>
            </vr-columns>
        </vr-section>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow" haschildcolumns>
        <vr-section header="Transaction Tax">
            <vr-columns width="1/2row">
                <vr-textbox value="scopeModel.transactionTaxPercentage" label="Tax %" type="number" maxvalue="100" isrequired></vr-textbox>
            </vr-columns>
        </vr-section>
    </vr-columns>
</vr-row>