<vr-row removeline>
    <vr-columns width="1/4row">
        <vr-select on-ready="scopeModel.onSelectorReady" 
                   datasource="scopeModel.transactionTaxRuleTemplates" 
                   selectedvalues="scopeModel.selectedTransactionTaxRuleTemplate" 
                   datavaluefield="ExtensionConfigurationId" 
                   datatextfield="Title" 
                   label="Rule Type" 
                   isrequired>
        </vr-select>
    </vr-columns>
    <vr-columns width="3/4row" ng-show="scopeModel.transactionTaxRuleTemplates!=undefined">
        <vr-directivewrapper directive="scopeModel.selectedTransactionTaxRuleTemplate.Editor" on-ready="scopeModel.onDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>