<div vr-modalcontent ng-controller="VR_TimeFormatEditorController" vr-loader="isLoading" width="'30%'">
    <vr-modalbody>
        <vr-form validationcontext="timeformatEditorGroup">
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-select datatextfield="description" datavaluefield="value"
                               label="Time Format Template" datasource="timeFormatTemplates" selectedvalues="selectedTimeFormatTemplate" onselectionchanged="onTimeFormatSelectionChanged">
                    </vr-select>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="1/4row" ng-show="showTimeParts">
                    <vr-select datatextfield="description" datavaluefield="value"
                               label="Time Part" datasource="timeFormatparts" selectedvalues="selectedTimeFormatParts" onselectionchanged="onTimeSelectionChanged">
                    </vr-select>
                </vr-columns>
                <vr-columns width="1/4row" ng-show="selectedTimeFormatParts && showTimeParts" withemptyline>
                    <vr-select datatextfield="description" datavaluefield="value"
                               entityname="Option" datasource="filteredExpressionTemplates" selectedvalues="selectedExpression">
                    </vr-select>
                </vr-columns>
                <vr-columns width="1/4row" ng-show="selectedExpression && showTimeParts" withemptyline>
                    <vr-button type="Add" data-onclick="addExpression" standalone vr-disabled="isbuttonDisabled()"></vr-button>

                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="fullrow" ng-show="showTimeParts">
                    <vr-textarea value="timeFormatValue"  isrequired="isFormatValueRequired()" ></vr-textarea>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Ok" validationcontext="timeformatEditorGroup" data-onclick="saveTimeFormatBuilder"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
