<div vr-modalcontent ng-controller="VR_AccountBalance_BillingTransactionEditorController" size="medium" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formBillingTransactionEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row removeline>
                        <vr-accountbalance-accountstatus-selector hideremoveicon on-ready="scopeModel.onAccountStatusSelectorReady" normal-col-num="4" ng-if="scopeModel.showAccountSelector" onselectionchanged="scopeModel.onAccountStatusSelectionChanged"></vr-accountbalance-accountstatus-selector>

                        <vr-accountbalance-account-selector on-ready="scopeModel.onAccountSelectorReady" normal-col-num="4" ng-if="scopeModel.showAccountSelector" isrequired="true"></vr-accountbalance-account-selector>

                        <vr-columns colnum="4">
                            <vr-textbox label="Amount" value="scopeModel.amount" isrequired="true" type="number" customvalidate="scopeModel.validateAmount()"></vr-textbox>
                        </vr-columns>

                        <vr-common-currency-selector on-ready="scopeModel.onCurrencySelectorReady" isrequired="true" normal-col-num="4"></vr-common-currency-selector>

                        <vr-accountbalance-billingtransactiontype-selector on-ready="scopeModel.onBillingTransactionTypeSelectorReady" isrequired="true" normal-col-num="4" hideremoveicon></vr-accountbalance-billingtransactiontype-selector>

                        <vr-columns colnum="4">
                            <vr-textbox label="Reference" value="scopeModel.reference" isrequired="true"></vr-textbox>
                        </vr-columns>

                        <vr-columns colnum="4">
                            <vr-datetimepicker label="Date" value="scopeModel.date" typeof="dateTime" isrequired="true"></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>
                    <vr-row removeline>
                        <vr-columns width="fullrow">
                            <vr-textarea label="Notes" value="scopeModel.notes"> </vr-textarea>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow" ng-if="scopeModel.useAccountInvoicesGrid">
                            <vr-section header="Account Invoices">
                                <vr-accountbalanceinvoices-grid on-ready="scopeModel.onAccountBalanceInvoicesGridReady"> </vr-accountbalanceinvoices-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section header="Attachments">
                                <vr-genericdata-attachmentfieldtype-management on-ready="scopeModel.onAttachmentFieldTypeManagementReady"> </vr-genericdata-attachmentfieldtype-management>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formBillingTransactionEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>