<vr-datagrid on-ready="onGridReady"
             datasource="routeOptionRules"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.RuleId"
             getrowstyle="getRowStyle" enableautoexport="true">

    <vr-datagridcolumn headertext="'Id'" field="'Entity.RuleId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Included Codes'" field="'IncludedCodes'" ng-show="hideIncludedCodesColumn"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Customers'" field="'Customers'" ng-show="hideCustomerColumn"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Suppliers'" field="'Suppliers'" ng-show="hideSupplierColumn"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Sale Zones'" field="'SaleZones'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Rule Type'" field="'RouteOptionRuleSettingsTypeName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" field="'Entity.BeginEffectiveTime'" type="'LongDatetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" field="'Entity.EndEffectiveTime'" type="'LongDatetime'"></vr-datagridcolumn>
</vr-datagrid>
