<vr-datagrid datasource="buildings"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.DisputeCaseId" enableautoexport="true">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.DisputeCaseId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Case Number'" field="'Entity.CaseNumber'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Partner Name'" field="'Entity.PartnerName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Partner Type'" field="'Entity.PartnerType'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Invoice No'" field="'Entity.InvoiceNo'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'" field="'Entity.Status'"  getcolor="getStatusColor"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created Time'" field="'Entity.CreatedTime'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created By'" field="'Entity.CreatedBy'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>