<vr-section title="Sale">
    <vr-row>
        <vr-datagrid datasource="ctrl.saleDataSource" norowhighlightonclick="true" maxheight="300px"
                     on-ready="onSaleGridReady" hidegridmenu>
            <vr-datagridcolumn headertext="'Group'" field="'GroupName'"  disablesorting></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Reached'" field="'Reached'"  disablesorting></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'% Completed'" field="'PercentageCompleted'"   disablesorting></vr-datagridcolumn>
        </vr-datagrid>
    </vr-row>
</vr-section>
<vr-section title="Cost">
    <vr-row>
        <vr-datagrid datasource="ctrl.costDataSource" norowhighlightonclick="true" maxheight="300px"
                     on-ready="onCostGridReady" hidegridmenu>
            <vr-datagridcolumn headertext="'Group'" field="'GroupName'"  disablesorting></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Reached'" field="'Reached'"  disablesorting></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'% Completed'" field="'PercentageCompleted'" disablesorting></vr-datagridcolumn>
        </vr-datagrid>
    </vr-row>
</vr-section>