<div vr-modalcontent ng-controller="WhS_Deal_SwapDealInboundEditorController" vr-loader="scopeModel.isLoading" width="'60%'">
    <vr-modalbody>
        <vr-form name="formEditor">
            <vr-row>
                <vr-columns width="1/4row">
                    <vr-textbox label="Group Name" value="scopeModel.name" isrequired="true"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/4row" haschildcolumns>
                    <vr-common-country-selector on-ready="onCountryDirectiveReady" selectedvalues="country" isrequired="true" onselectionchanged="onCountrySelectionChanged"></vr-common-country-selector>
                </vr-columns>
                <span vr-loader="isLoadingSaleZonesSelector" vr-disabled="country == undefined">
                    <vr-whs-be-salezone-selector normal-col-num="3" selectedvalues="salezones" ismultipleselection isrequired="true" on-ready="onSaleZoneDirectiveReady" />
                </span>
                <vr-columns width="1/4row">
                    <vr-textbox label="Volume (min)" value="scopeModel.volume" type="number" isrequired="true"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="1/4row">
                    <vr-textbox label="Default Rate({{scopeModel.currency}})" value="scopeModel.rate" type="number" isrequired="true" minvalue="0" decimalprecision="{{::longPrecision}}"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/4row">
                    <vr-textbox label="Extra Volume Rate({{scopeModel.currency}})" value="scopeModel.extraVolumeRate" type="number" minvalue="0" decimalprecision="{{::longPrecision}}"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/4row">
                    <vr-whs-deal-substituteratetype-selector on-ready="onSubstituteRateTypeSelectorReady" onselectionchanged="onSubstituteRateTypeChange" isrequired="true" hideremoveicon="true"></vr-whs-deal-substituteratetype-selector>
                </vr-columns>
                <vr-columns width="1/4row" ng-if="scopeModel.substituteRateTypeValue == scopeModel.FixedRateValue">
                    <vr-textbox label="Fixed Rate" value="scopeModel.fixedRate" type="number" isrequired="true" minvalue="0" decimalprecision="{{::longPrecision}}"></vr-textbox>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>