
<vr-button type="Add" data-onclick="ctrl.addSwapDealInbound" standalone></vr-button>

<vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                on-ready="onGridReady"  hidegridmenu>
    <vr-datagridcolumn headertext="'Group Name'" field="'Name'" widthfactor="10" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Volume(Minutes)'" field="'Volume'" type="'Number'" widthfactor="10" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Rate'" field="'Rate'" type="'Number'" widthfactor="5" disablesorting></vr-datagridcolumn>    
</vr-datagrid>