<vr-datagrid datasource="bfDefinitions"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.BPDefinitionID">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.BPDefinitionID'" type="'Text'" widthfactor="3"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Process'" field="'Entity.Title'" type="'Text'" widthfactor="20"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Running Processes'" field="'RunningProcessNumber'" type="'Number'" numberprecision="'NoDecimal'" fixedwidth="150" isfielddynamic="true" disablesorting="true"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Last Process Time'" field="'LastProcessCreatedTime'" type="'Datetime'" fixedwidth="150" isfielddynamic="true" disablesorting="true"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>