<div vr-modalcontent ng-controller="VRNotification_VRActionEditorController" vr-loader="isLoading" size="medium">
    <vr-modalbody>
        <vr-form name="formVRActionEditor">
            <vr-notification-vraction on-ready="scopeModel.onVRActionDirectiveReady" normal-col-num="6"></vr-notification-vraction>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formVRActionEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
