<vr-panel ng-controller="TopManagementDashboardController">
    <div class="am-collapse" ng-hide="filterSectionCollapsed" ng-init="filterSectionCollapsed=true">
        <vr-form name="filterForm">
            <vr-row removeline>

                <vr-columns colnum="2">
                    <vr-label>Grouped By</vr-label>
                    <vr-dropdown datatextfield="name" datavaluefield="value"
                                 entityname="" type="standard" options="timeDimensionTypesOption"></vr-dropdown>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-datetimepicker type="date" value="fromDate" label="From" isrequired></vr-datetimepicker>
                </vr-columns>

                <vr-columns colnum="2">
                    <vr-datetimepicker type="date" value="toDate" label="To" isrequired></vr-datetimepicker>
                </vr-columns>

            </vr-row>
        </vr-form>
    </div>
    <vr-row removeline>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
            <div transclude-to="buttons">
                <vr-button type="Search" formname="formFilter" data-onclick="updateChart"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>
    <div vr-loader="isGettingData">
        <vr-row>
            <vr-columns colnum="12" simplecol>
                <vr-section title="Sale / Cost / Profit">
                    <vr-chart data-on-ready="chartSaleCostProfitReady"></vr-chart>
                </vr-section>
            </vr-columns>
        </vr-row>
        <vr-row>
            <vr-columns colnum="12" simplecol>
                <vr-section title="Profit">
                    <vr-chart data-on-ready="chartProfitReady"></vr-chart>
                </vr-section>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>
