<vr-panel ng-controller="ZoneDashboardController">
    <h1>{{dataItem.EntityName}}</h1>
    <div class="am-collapse" ng-hide="filterSectionCollapsed" ng-init="filterSectionCollapsed=true">
        <vr-form name="filterForm">
            <vr-row removeline>

                <vr-columns colnum="2">
                    <label class="control-label">Measure</label>
                    <vr-dropdown datatextfield="name" datavaluefield="value"
                                 entityname="" type="standard" options="optionsMeasureTypes"></vr-dropdown>
                </vr-columns>

                <vr-columns colnum="2">
                    <vr-datetimepicker type="date" value="fromDate" label="From"></vr-datetimepicker>
                </vr-columns>

                <vr-columns colnum="2">
                    <vr-datetimepicker type="date" value="toDate" label="To"></vr-datetimepicker>
                </vr-columns>

                <vr-columns>
                    <label class="control-label">Top</label>
                    <vr-dropdown datatextfield="name" datavaluefield="value"
                                 entityname="" type="standard" options="optionsTopCount"></vr-dropdown>
                </vr-columns>
            </vr-row>
        </vr-form>
    </div>

    <vr-row removeline>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">           
            <div transclude-to="buttons">
                <vr-button type="Search" formname="formFilter" data-onclick="updateData"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>
    <div vr-loader="isGettingData">
        <vr-row>
            <vr-columns colnum="6" simplecol>
                <vr-section title="Top Destinations">
                        <vr-chart data-on-ready="chartTopDestinationsReady"></vr-chart>
                </vr-section>
            </vr-columns>
            <vr-columns colnum="6" simplecol>
                <vr-section title="Destination Measures" vr-loader="isGettingZoneData">
                        <vr-chart data-on-ready="chartZoneReady"></vr-chart>
                </vr-section>
            </vr-columns>
        </vr-row>
        <vr-row>
            <vr-columns colnum="12" simplecol>
                <vr-datagrid datasource="data"  menuactions="zoneMenuActions" on-ready="gridReady">
                    <vr-datagridcolumn headertext="'Zone Name'" field="'EntityName'"></vr-datagridcolumn>
                    <vr-datagridcolumn ng-repeat="measureType in optionsMeasureTypes.datasource" headertext="measureType.name" field="'Values[' + $index + ']'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridexpandablerow>
                        <div ng-include="'/Client/Modules/BI/Views/Dashboards/ZoneDashboard.html'"></div>
                    </vr-datagridexpandablerow>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>    
</vr-panel>
