<vr-datagrid datasource="operatorAccounts"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="OperatorAccountId">
    <vr-datagridcolumn headertext="'ID'" field="'OperatorAccountId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Suffix'" field="'Suffix'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Operator Profile'" field="'OperatorProfileName'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>