<vr-row>
    <vr-columns colnum="6">
        <vr-common-mailmessagetemplate-selector on-ready="scopeModel.onAccountMailMessageTemplateSelectorReady"
                                                customlabel="Account Mail Message Template"
                                                isrequired="true">
        </vr-common-mailmessagetemplate-selector>
    </vr-columns>
    <vr-columns colnum="6">
        <vr-common-mailmessagetemplate-selector on-ready="scopeModel.onProfileMailMessageTemplateSelectorReady"
                                                customlabel="Profile Mail Message Template"
                                                isrequired="true">
        </vr-common-mailmessagetemplate-selector>
    </vr-columns>
</vr-row>