<vr-row>
    <vr-columns colnum="{{ctrl.normalColNum}}">
        <vr-common-mailmessagetype-selector on-ready="scopeModel.onAccountMailMessageTypeSelectorReady"
                                            isrequired="true"
                                            customlabel="Account Mail Message Type">
        </vr-common-mailmessagetype-selector>
    </vr-columns>
    <vr-columns colnum="{{ctrl.normalColNum}}">
        <vr-common-mailmessagetype-selector on-ready="scopeModel.onProfileMailMessageTypeSelectorReady"
                                            isrequired="true"
                                            customlabel="Profile Mail Message Type">
        </vr-common-mailmessagetype-selector>
    </vr-columns>
</vr-row>