<vr-panel ng-controller="Analytics_DailyReportController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-be-carriergroup type="'Customer'"
                                        selectedvalues="selectedCustomers"
                                        isassignedcarrier="true"></vr-be-carriergroup>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-be-carriergroup type="'Supplier'"
                                        selectedvalues="selectedSuppliers"
                                        isassignedcarrier="true"></vr-be-carriergroup>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Zones"
                               ismultipleselection
                               datasource="searchZones"
                               selectedvalues="selectedZones"
                               datatextfield="Name"
                               datavaluefield="ZoneId"
                               entityname="Zones">
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="Target Date" value="targetDate" isrequired></vr-datetimepicker>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <div>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-datagrid datasource="calls"
                             dataretrievalfunction="dataRetrievalFunction"
                             pagingtype="'PagingOnScroll'"
                             on-ready="gridReady"
                             idfield="Id"
                             ng-show="showGrid">

                    <!--<vr-datagridcolumn ng-repeat="measure in measures" headertext="measure.description" field="measure.propertyName" type="measure.type"></vr-datagridcolumn>-->

                    <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Customer'" field="'CustomerName'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Supplier'" field="'SupplierName'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Attempts'" field="'Attempts'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Successful Attempts'" field="'SuccessfulAttempts'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Duration (Minutes)'" field="'DurationInMinutes'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'ASR'" field="'ASR'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'ACD'" field="'ACD'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'PDD'" field="'PDD'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Cost Rate'" field="'CostRateDescription'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Sale Rate'" field="'SaleRateDescription'" type="'Number'"></vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>