<div ng-controller="GenericAnalyticGridController" vr-loader="isGettingData">
    <vr-choices selectedindex="selectedGroupKeyIndex" onselectionchanged="groupKeySelectionChanged();">
        <vr-choice ng-repeat="groupKey in groupKeys">{{groupKey.name}}</vr-choice>
    </vr-choices>
    <div ng-repeat="groupKey in groupKeys">
        <vr-datagrid datasource="groupKey.data" ng-show="groupKey == selectedGroupKey" issubgrid dataretrievalfunction="groupKey.dataRetrievalFunction" pagingtype="'Pager'" on-ready="groupKey.onGridReady">
            <vr-datagridcolumn ng-repeat="measure in measures" headertext="measure.description" field="measure.propertyName" type="measure.type" tag="measure"></vr-datagridcolumn>
            <!--<vr-datagridexpandablerow ng-if="checkExpandablerow(groupKey)">
                <div ng-include="'/Client/Modules/Analytics/Views/GenericAnalyticGrid.html'"></div>
            </vr-datagridexpandablerow>-->
        </vr-datagrid>
    </div>
</div>