<vr-panel ng-controller="Analytics_RawCDRLogController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices-filter selectedindex="selectedFilternIndex">
                        <vr-choice-filter isselected="basicSelected">Basic</vr-choice-filter>
                        <vr-choice-filter isselected="advancedSelected">Advanced</vr-choice-filter>
                    </vr-choices-filter>

                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="fullrow" ng-show="basicSelected">
                    <vr-row>

                        <vr-columns width="normal">
                            <vr-textbox value="nRecords" label="Limit Results to"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-datetimepicker type="dateTime" label="From" value="fromDate" isrequired></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-datetimepicker type="dateTime" label="To" value="toDate" isrequired></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>

                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="fullrow" ng-show="advancedSelected">
                    <vr-row>
                        <vr-columns width="normal">
                            <vr-textbox value="nRecords1" label="Limit Results to"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-datetimepicker type="dateTime" label="From" value="fromDate1" isrequired></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-datetimepicker type="dateTime" label="To" value="toDate1" isrequired></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-select datasource="switches" datatextfield="Name" datavaluefield="SwitchId" selectedvalues="selectedSwitches" label="Switches" ismultipleselection></vr-select>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-textbox value="inCarrier" label="In Carrier"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-textbox value="outCarrier" label="Out Carrier"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal" ng-init="option=1">
                            <vr-choices islabelswitch selectedindex="selectedConnectionIndex" onselectionchanged="onSelectionChanged()">
                                <vr-choice isselected="inSelected">CDPN In</vr-choice>
                                <vr-choice isselected="outSelected">CDPN Out</vr-choice>
                            </vr-choices>
                            <vr-textbox ng-show="inSelected" value="inCDPN"></vr-textbox>
                            <vr-textbox ng-show="outSelected" value="outCDPN"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-textbox value="cgpn" label="CGPN"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-select datasource="durationType" datatextfield="description" datavaluefield="value" selectedvalues="selectedDurationType" label="Duration In" isrequired></vr-select>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-textbox value="minDuration" label="Min Duration"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-textbox value="maxDuration" label="Max Duration"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="fullrow">
                            <div style="display:inline-block;width:calc(100% - 19px)">
                                <vr-label>Where Condition</vr-label>
                                <textarea rows="3" class="form-control" ng-model="whereCondtion" style="width:100%;resize:none;display:inline"></textarea>

                            </div>
                            <span class="hand-cursor glyphicon glyphicon-info-sign" aria-hidden="true" style="top:-30px" ng-click="onInfoClick()"></span>
                        </vr-columns>
                    </vr-row>
                </vr-columns>
            </vr-row>
        </div>
    </vr-form>

    <vr-row>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">

            <div transclude-to="buttons">
                <vr-button type="Search" formname="formFilter" data-onclick="getData"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>
    <div ng-show="showResult">
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-datagrid datasource="data" dataretrievalfunction="dataRetrievalFunction" pagingtype="'Pager'" on-ready="onMainGridReady" maxheight="500px">
                    <vr-datagridcolumn headertext="'CDR ID'" field="'CDRID'"  widthfactor="2"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'SwitchName'" field="'SwitchName'" widthfactor="3"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'IDonSwitch'" field="'IDonSwitch'" widthfactor="10"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Tag'" field="'Tag'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'AttemptDateTime'" field="'AttemptDateTime'" type= "'Date'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'AlertDateTime'" field="'AlertDateTime'" type= "'Date'" widthfactor="5" ></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'ConnectDateTime'" field="'ConnectDateTime'" type ="'Date'"  widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'DisconnectDateTime'" field="'DisconnectDateTime'" type="'Date'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'DurationInSeconds'" field="'DurationInSeconds'" type="'Number'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'IN TRUNK'" field="'IN_TRUNK'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'IN CIRCUIT'" field="'IN_CIRCUIT'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'IN CARRIER'" field="'IN_CARRIER'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'IN IP'" field="'IN_IP'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'OUT TRUNK'" field="'OUT_TRUNK'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'OUT CIRCUIT'" field="'OUT_CIRCUIT'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'OUT CARRIER'" field="'OUT_CARRIER'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'OUT IP'" field="'OUT_IP'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'CGPN'" field="'CGPN'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'CDPN'" field="'CDPN'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'CDPNOut'" field="'CDPNOut'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'CAUSE FROM RELEASE CODE'" field="'CAUSE_FROM_RELEASE_CODE'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'CAUSE FROM'" field="'CAUSE_FROM'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'CAUSE TO RELEASE CODE'" field="'CAUSE_TO_RELEASE_CODE'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'CAUSE TO'" field="'CAUSE_TO'" widthfactor="5"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'IsRerouted'" field="'IsRerouted'" widthfactor="5" disablesorting><vr-icon icontype="dataItem.IsRerouted"></vr-icon></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Extra Fields'" field="'Extra_Fields'" widthfactor="5"></vr-datagridcolumn>

                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>

</vr-panel>
