<vr-panel ng-controller="Analytics_RawCDRLogController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-columns colnum="fullrow">
                <div style="padding : 0px 5px">
                    <vr-choices selectedindex="selectedConnectionIndex" onselectionchanged="onSelectionChanged()">
                        <vr-choice isselected="basicSelected">Basic</vr-choice>
                        <vr-choice isselected="advancedSelected">Advanced</vr-choice>
                    </vr-choices>
                </div>

            </vr-columns>
            <vr-row removeline ng-show="basicSelected">
                <vr-columns width="normal">
                    <vr-select datasource="switches" datatextfield="Name" datavaluefield="SwitchId" selectedvalues="selectedSwitches" label="Switches" ismultipleselection></vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox value="inCarrier" label="In Carrier"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox value="outCarrier" label="Out Carrier"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal" ng-init="option=1">
                    <vr-choices selectedindex="selectedConnectionIndex" onselectionchanged="onSelectionChanged()">
                        <vr-choice isselected="inSelected">CDPN In</vr-choice>
                        <vr-choice isselected="outSelected">CDPN Out</vr-choice>
                    </vr-choices>
                    <vr-textbox ng-show="inSelected" value="inCDPN"></vr-textbox>
                    <vr-textbox ng-show="outSelected" value="outCDPN"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox value="cgpn" label="CGPN"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select datasource="durationType" datatextfield="description" datavaluefield="value" selectedvalues="selectedDurationType" label="Duration In" isrequired></vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox value="minDuration" label="Min Duration"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox value="maxDuration" label="Max Duration"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox value="nRecords" label="Limit Results to"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker type="dateTime" label="From" value="fromDate" isrequired></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker type="dateTime" label="To" value="toDate" isrequired></vr-datetimepicker>
                </vr-columns>


            </vr-row>
            <vr-row>
                <vr-columns width="fullrow" ng-show="advancedSelected">
                    <div style="display:inline-block;width:calc(100% - 19px)">
                        <vr-label>Where Condition</vr-label>
                        <textarea rows="3" class="form-control" ng-model="whereCondtion" style="width:100%;resize:none;display:inline"></textarea>

                    </div>
                    <span class="hand-cursor glyphicon glyphicon-info-sign" aria-hidden="true" style="top:-30px" ng-click="onInfoClick()"></span>
                </vr-columns>
            </vr-row>
        </div>
    </vr-form>

    <vr-row>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">

            <div transclude-to="buttons">
                <vr-button type="Search" formname="formFilter" data-onclick="getData"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>
    <div vr-loader="isGettingData">
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-datagrid datasource="data" dataretrievalfunction="dataRetrievalFunction" pagingtype="'Pager'" on-ready="onMainGridReady" maxheight="500px">
                    <vr-datagridcolumn ng-repeat="measure in measures" headertext="measure.description" field="measure.propertyName" type="measure.type"></vr-datagridcolumn>


                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>

</vr-panel>
