
<vr-panel ng-controller="Analytics_RepeatedNumbersController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices-filter selectedindex="selectedFilternIndex">
                        <vr-choice-filter isselected="basicSelected">Basic</vr-choice-filter>
                        <vr-choice-filter isselected="advancedSelected">Advanced</vr-choice-filter>
                    </vr-choices-filter>
                     
                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="fullrow" >
                    <vr-row>
                        <vr-columns colnum="2">
                            <vr-select datasource="periods" datatextfield="description" datavaluefield="value" label="Period"
                                       selectedvalues="selectedPeriod" isrequired hidefilterbox onselectionchanged="periodSelectionChanged"></vr-select>
                        </vr-columns>

                        <vr-columns colnum="2">
                            <vr-datetimepicker type="dateTime" value="fromDate" label="From" isrequired onblurdatetime="onBlurFromChanged"></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns colnum="2">
                            <vr-datetimepicker type="dateTime" value="toDate" label="To" isrequired onblurdatetime="onBlurToChanged"></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns colnum="2">
                            <vr-select label="Phone Number" datasource="phoneNumberType"
                                       datatextfield="description" datavaluefield="value" isrequired selectedvalues="selectedPhoneNumberType"></vr-select>
                        </vr-columns>
                        <vr-columns colnum="2">
                            <vr-select datasource="callsOption" datatextfield="description" datavaluefield="value" label="Calls Option"
                                       selectedvalues="selectedCallsOption" isrequired hidefilterbox></vr-select>
                        </vr-columns>
                        <vr-columns colnum="2" ng-show="advancedSelected">
                            <vr-select label="Switches" datasource="switches"
                                       datatextfield="Name" datavaluefield="SwitchId" selectedvalues="selectedSwitches" ismultipleselection></vr-select>
                        </vr-columns>
                        <vr-columns colnum="2" ng-show="advancedSelected">
                            <vr-textbox value="repeatMoreThan" type="number" label="Repeated more than" isrequired></vr-textbox>
                        </vr-columns>

                    </vr-row>
                </vr-columns>

            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">

                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>
    <div vr-loader="isGettingData" ng-show="showResult">
        <vr-row>
            <vr-columns colnum="12" simplecol>
                <vr-datagrid on-ready="onMainGridReady" datasource="data"
                             menuactions="gridMenuActions" dataretrievalfunction="dataRetrievalFunction" pagingtype="'Pager'" defaultsortbyfieldname="'Attempts'" defaultsortdirection="'DESC'">
                    <vr-datagridcolumn ng-repeat="measure in measures" headertext="measure.description" ng-show="measure.isShown" field="measure.propertyName" summaryfield="measure.propertyName" type="measure.type" tag="measure"></vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
        <div>

        </div>


    </div>
</vr-panel>
<style>
</style>


