<vr-datagrid datasource="runningProcesses"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="RunningProcessId" enableautoexport="true" isfielddynamic="true">
    <vr-datagridcolumn headertext="'Id'" field="'ProcessId'" type="'Text'" isfielddynamic="true" isrequired ></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Runtime Node Id'" field="'RuntimeNodeId'" type="'Text'" isfielddynamic="true" isrequired ></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Runtime Node Instance Id'" field="'RuntimeNodeInstanceId'" isfielddynamic="true"  type="'Text'" isrequired></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'OS Process Id'" field="'OSProcessId'" type="'Text'" isfielddynamic="true" isrequired></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Started Time'" field="'StartedTime'" type="'Datetime'" isfielddynamic="true" isrequired></vr-datagridcolumn>


</vr-datagrid>