<vr-panel ng-controller="WhS_Sales_SupplierTargetMatchController">
    <vr-form validationcontext="FilterGroup">
        <vr-validation-group validationcontext="LoadTargetMatch">
            <div vr-loader="isLoadingFilter" ng-hide="filterSectionCollapsed">
                <vr-row removeline>
                    <vr-columns width="fullrow">
                        <vr-whs-sales-suppliertargetmatch-filter on-ready="onTargetMatchFilterDirectiveReady"></vr-whs-sales-suppliertargetmatch-filter>
                    </vr-columns>
                </vr-row>
            </div>
        </vr-validation-group>
        <vr-row>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Load" validationcontext="LoadTargetMatch" data-onclick="loadClicked"></vr-button>
                    <vr-button type="Export" ng-show="showExportButton" data-onclick="exportData"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

        <vr-rows>
            <vr-columns width="fullrow">
                <vr-whs-sales-suppliertargetmatch-grid on-ready="onGridReady"></vr-whs-sales-suppliertargetmatch-grid>
            </vr-columns>
        </vr-rows>
    </vr-form>
</vr-panel>
