<vr-row>
    <vr-columns colnum="6">
        <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                          customlabel="Account Definitions" isrequired="true" hideremoveicon>

        </vr-genericdata-businessentitydefinition-selector>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/3row">
        <vr-textbox value="scopeModel.companyFieldName" label="Company Field Name" isrequired="true"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox value="scopeModel.branchFieldName" label="Branch Field Name"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox value="scopeModel.userFieldName" label="User Field Name"></vr-textbox>
    </vr-columns>
</vr-row>
<retail-teles-provisioner-definition-changeusersrgs on-ready="scopeModel.onDirectiveReady"></retail-teles-provisioner-definition-changeusersrgs>
