<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <connectionStrings>
    <add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=TOneConfiguration;user id=development;password=dev!123"/>
  </connectionStrings>
</configuration>