<?xml version="1.0"?>
<configuration>

    <connectionStrings>
        <add name="HassanProjectConnectionString" connectionString="Data Source=VANRISEDEV07\MSSQL2014;Initial Catalog=HassanProject;User ID=sa;Password=p@ssw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
