<div vr-modalcontent ng-controller="NP_IVSwitch_TranslationRuleEditorController" width="'40%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formTranslationRuleEditor">
            <vr-tabs>
                <vr-tab header="'Name'">
                    <vr-columns width="1/3row">
                        <vr-textbox label="Name" value="scopeModel.name" isrequired></vr-textbox>
                    </vr-columns>
                    <vr-columns width="1/3row">
                        <vr-textbox label="DNIS Pattern" value="scopeModel.dnisPattern" isrequired></vr-textbox>
                    </vr-columns>
                    <vr-columns width="1/3row">
                        <vr-textbox label="CLI Pattern" value="scopeModel.cliPattern" isrequired></vr-textbox>
                    </vr-columns>
                 </vr-tab>                
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formTranslationRuleEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>