<vr-panel ng-controller="NP_IVSwitch_TranslationRuleManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                    <vr-button type="Add" formname="formFilter" data-onclick="add" haspermission="hasAddTranslationRulePermission"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <np-ivswitch-translationrule-grid on-ready="onGridReady"></np-ivswitch-translationrule-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>
