<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="RequestAdditionalTime" value="360000" />
    <!--10 minutes timeout for startup-->
    <add key="TimerInterval" value="3600000" />
    <!--60 minutes-->

    <!--<add key="SERVER" value="192.168.110.241" />
    <add key="DATABASE" value="CDRAnalysisMobile_WF" />
    <add key="UID" value="zain" />
    <add key="PASSWORD" value="zain123" />
    <add key="FTP_Username" value="root" />
    <add key="FTP_Pasword" value="P@ssw0rd" />
    <add key="FTP_Path" value="/var/mysql/5.5/data"/>-->


    <add key="SERVER" value="10.50.25.172" />
    <add key="DATABASE" value="Zain" />
    <add key="UID" value="mysql_admin" />
    <add key="PASSWORD" value="mysql_123" />
    <add key="FTP_Username" value="mysql" />
    <add key="FTP_Pasword" value="mysql_123" />
    <add key="FTP_Path" value="/MySQL/data"/>

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>