<vr-datagrid datasource="accountManagerAssignments"
             on-ready="onGridReady"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             enableautoexport="true">
    <vr-datagridcolumn headertext="'AssignmentDefinitionId'" field="'AccountManagerAssignementDefinitionId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" field="'BED'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" field="'EED'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>