<div vr-modalcontent ng-controller="VR_BEBridge_BEReceiveDefinitionSettingsEditorController" size="medium" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formBeReceiveDefinitionSettingsEditor">
            <vr-tabs>
                <vr-tab header="'Convertor'">
                    <vr-bebridge-targetbeconvertor-definition on-ready="scopeModel.onTargetConvertorDirectiveReady" normal-col-num="3"></vr-bebridge-targetbeconvertor-definition>
                </vr-tab>
                <vr-tab header="'Synchronizer'">
                    <vr-bebridge-targetbesynchronizer-definition on-ready="scopeModel.onTargetSynchronizerDirectiveReady" normal-col-num="3"></vr-bebridge-targetbesynchronizer-definition>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formBeReceiveDefinitionSettingsEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>