<div vr-modalcontent ng-controller="Vanrise_Tools_GeneratedScriptQueriesDisplayerController"  size="xlarge">
    <vr-modalbody>
        <vr-textarea value="scopeModel.Queries" rows="30"></vr-textarea>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
