<vr-panel ng-controller="VR_Tools_GeneratedScriptManagementController" vr-loader="scopeModel.isLoading">
    <vr-form name="formFilter">
        <vr-tabs>
            <vr-tab header="'Source'">
                    <vr-textarea value="scopeModel.tableDataSource"></vr-textarea>
            </vr-tab>
            <vr-tab header="'Design'">
                <vr-row>
                    <vr-columns width="fullrow">
                        <vanrise-tools-generated-script-design-grid on-ready="scopeModel.onGridReady"></vanrise-tools-generated-script-design-grid>
                    </vr-columns>
                </vr-row>
            </vr-tab>
        </vr-tabs>
    </vr-form>
</vr-panel>

