<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="vanriseLogging" type="Vanrise.Common.LoggingConfiguration.LoggingConfig, Vanrise.Common" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>

      <property name="connection.connection_string">Server=192.168.110.185;Database=WebAPI;User ID=development;Password=dev!123</property>
      <!--<property name="connection.connection_string">Server=91.236.236.38;Database=tone;User ID=sa;Password=sama@cce$$1</property>-->
      <!--<property name="connection.connection_string">Server=192.168.110.195;Database=Nettalkfidaa;User ID=sa;Password=QAP@ssw0rd</property>-->
      <!--<property name="connection.connection_string">Server=91.236.236.38;Database=tone;User ID=sa;Password=sama@cce$$1</property>-->
      <property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
      <property name="current_session_context_class">TABS.Components.HybridWebSessionContext, TABS</property>
      <property name="show_sql">false</property>
      <property name="cache.default_expiration">360</property>
      <property name="cache.provider_class">TABS.Components.CacheProvider, TABS</property>
    </session-factory>
  </hibernate-configuration>
  <vanriseLogging maxLogLevel="Information">
    <loggers>
      <logger name="SQLLogger" type="Vanrise.Logging.SQL.SQLLogger, Vanrise.Logging.SQL">
        <parameters>
          <parameter name="LoggingConnectionStringKey" value="LogDBConnString" />
          <parameter name="ConfigurationConnectionStringKey" value="ConfigurationDBConnString" />
        </parameters>
      </logger>
      <logger name="ConsoleLogger"  type="Vanrise.Common.ConsoleLogger, Vanrise.Common"></logger>
    </loggers>
    <exceptionLoggers>
      <exceptionLogger name="DefaultExceptionLogger"  type="Vanrise.Common.DefaultExceptionLogger, Vanrise.Common"></exceptionLogger>
    </exceptionLoggers>
  </vanriseLogging>
  <connectionStrings>
    <!--<add name="MainDBConnString" connectionString="Server=192.168.110.195;Database=Nettalkfidaa;User ID=sa;Password=noP@ssw0rd" />
    <add name="RoutingDBConnStringTemplateKey" connectionString="Server=192.168.110.195;Database=Nettalkfidaa_{0};User ID=sa;Password=noP@ssw0rd"/>-->
    <add name="LogDBConnString" connectionString="Data Source=.;Initial Catalog=TOneWFTracking;User ID=sa; Password=p@ssw0rd" />
    <add name="MainDBConnString" connectionString="Server=192.168.110.185;Database=WebAPI;User ID=development;Password=dev!123" />
    <add name="RoutingDBConnStringTemplateKey" connectionString="Server=192.168.110.185;Database=WEBAPI_routing_{0};User ID=development;Password=dev!123"/>
    <!--<add name="MainDBConnString" connectionString="Server=192.168.110.195;Database=Nettalkfidaa;User ID=sa;Password=QAP@ssw0rd" />
    <add name="RoutingDBConnStringTemplateKey" connectionString="Server=192.168.110.195;Database=Nettalkfidaa_{0};User ID=sa;Password=QAP@ssw0rd"/>-->

    <!--<add name="MainDBConnString" connectionString="Server=91.236.236.38;Database=tone;User ID=sa;Password=sama@cce$$1" />
    <add name="RoutingDBConnStringTemplateKey" connectionString="Server=91.236.236.38;Database=tone_{0};User ID=sa;Password=sama@cce$$1"/>-->

  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="TOneWhS_BE_DBConnStringKey" value="MainDBConnString"/>
    <add key="SMTPHost" value="mail.vanrise.com"/>
    <add key="SMTPPort" value="25"/>
    <add key="SMTPUser" value="development@vanrise.com"/>
    <add key="SSMTP"/>
    <add key="EncryptionSecretKey" value="V@nR!se-Se6r3t"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"  maxRequestLength="2097152" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network  userName="" enableSsl="true" password="" port="25" host="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
      <!-- any other modules you want to run in MVC e.g. FormsAuthentication, Roles etc. -->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
