<vr-tabs>
    <vr-tab header="'Customer'">
        <vr-genricdata-be-sn-editor on-ready="scopeModel.onCustomerSerialNumberEditorReady"></vr-genricdata-be-sn-editor>
        <vr-row>
            <vr-columns width="1/3row">
                <vr-textbox type="number" value="scopeModel.customerInitialSequence" minvalue="0" label="Initial Sequence" isrequired></vr-textbox>
            </vr-columns>
        </vr-row>
      
    </vr-tab>
    <vr-tab header="'Supplier'">
        <vr-genricdata-be-sn-editor on-ready="scopeModel.onSupplierSerialNumberEditorReady"></vr-genricdata-be-sn-editor>
        <vr-row>
            <vr-columns width="1/3row">
                <vr-textbox type="number" value="scopeModel.supplierInitialSequence" minvalue="0" label="Initial Sequence" isrequired></vr-textbox>
            </vr-columns>
        </vr-row>

    </vr-tab>
</vr-tabs>
