<vr-row>
    <vr-whs-be-salepricelisttemplate-selector on-ready="ctrl.onSalePLTemplateSelectorReady"
                                              normal-col-num="6"
                                              ng-if="ctrl.showPricelistTemplateSelector"
                                              isrequired="ctrl.isPricelistTemplateRequired"
                                              showaddbutton>
    </vr-whs-be-salepricelisttemplate-selector>

    <vr-columns width="1/2row">
        <vr-common-mailmessagetemplate-selector on-ready="ctrl.onPriceListEmailTemplateSelectorReady"
                                                customlabel="Sale PriceList Email Template"
                                                ng-if="ctrl.showPricelistEmailTemplateSelector"
                                                isrequired="ctrl.isPricelistEmailTemplateRequired"
                                                showaddbutton>
        </vr-common-mailmessagetemplate-selector>
    </vr-columns>

    <vr-whs-be-pricelistextensionformat-selector on-ready="ctrl.onPriceListExtensionFormatSelectorReady"
                                                 normal-col-num="6"
                                                 ng-if="ctrl.showPricelistExtensionFormatSelector"
                                                 isrequired="ctrl.isPricelistExtensionFormatRequired">
    </vr-whs-be-pricelistextensionformat-selector>

    <vr-whs-be-salepricelisttype-selector on-ready="ctrl.onPriceListTypeSelectorReady"
                                          normal-col-num="6"
                                          ng-if="ctrl.showPricelistTypeSelector"
                                          isrequired="ctrl.isPricelistTypeRequired">
    </vr-whs-be-salepricelisttype-selector>

    <vr-whs-salepricelist-compressfile-selector on-ready="ctrl.onCompressFileSelectorReady"
                                                normal-col-num="6"
                                                ng-if="ctrl.showCompressPriceListFile"
                                                isrequired="ctrl.isCompressPriceListFileRequired">
    </vr-whs-salepricelist-compressfile-selector>
    <vr-whs-salepricelist-includeclosedentities-selector on-ready="ctrl.onIncludeClosedEntitiesSelectorReady"
                                                         normal-col-num="6"
                                                         ng-if="ctrl.showIncludeClosedEntities"
                                                         isrequired="ctrl.isIncludeClosedEntitiesRequired">
    </vr-whs-salepricelist-includeclosedentities-selector>
    <vr-columns width="1/2row" ng-if="ctrl.showSubjectCode">
        <vr-textbox type="text" value="ctrl.subjectCode" label="Subject Code"></vr-textbox>
    </vr-columns>

</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-whs-be-ratechangetypesettings-grid on-ready="ctrl.onRateChangeTypeSettingsGridReady"
                                               ng-if="ctrl.showRateChangeTypeSettingsGrid"
                                               isrequired="ctrl.isRateChangeTypeSettingsRequired">
        </vr-whs-be-ratechangetypesettings-grid>
    </vr-columns>

    <vr-columns width="1/2row">
        <vr-whs-be-codechangetypesettings-grid on-ready="ctrl.onCodeChangeTypeSettingsGridReady"
                                               ng-if="ctrl.showCodeChangeTypeSettingsGrid"
                                               isrequired="ctrl.isCodeChangeTypeSettingsRequired">
        </vr-whs-be-codechangetypesettings-grid>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-whs-be-salepricelistfilenamepattern on-ready="ctrl.onFileNamePatternReady"
                                            normal-col-num="6"
                                            ng-if="ctrl.showFileNamePattern"
                                            isrequired="ctrl.isFileNamePatternRequired">
    </vr-whs-be-salepricelistfilenamepattern>

</vr-row>