<vr-row ng-if="ctrl.showDefaultRate || ctrl.isMaxSaleRateRequired">
    <vr-columns width="1/2row">
        <vr-label ng-if="ctrl.showDefaultRate">Default Rate ({{ctrl.systemCurrencySymbol}})</vr-label>
        <vr-textbox value="ctrl.defaultRate" type="number" minvalue="0"
                    decimalprecision="8"
                    ng-if="ctrl.showDefaultRate"
                    isrequired="ctrl.isDefaultRateRequired"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-label>Max Sale Rate ({{ctrl.systemCurrencySymbol}})</vr-label>
        <vr-textbox value="ctrl.maximumRate" minvalue="0" type="number"
                    ng-if="ctrl.showMaxSaleRate"
                    isrequired="ctrl.isMaxSaleRateRequired"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-section title="Day Offsets">
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-textbox label="Numbering Plan" type="number"
                                value="ctrl.effectiveDateDayOffset" minvalue="0" maxvalue="10000"
                                ng-if="ctrl.showEffectiveDateDayOffset"
                                isrequired="ctrl.isEffectiveDateDayOffsetRequired"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-textbox label="Retroactive" type="number"
                                value="ctrl.retroactiveDayOffset" minvalue="0" maxvalue="10000"
                                ng-if="ctrl.showRetroactiveDayOffset"
                                isrequired="ctrl.isRetroactiveDayOffsetRequired"></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-textbox label="Sell Country" type="number"
                                value="ctrl.newRateDayOffset" minvalue="0" maxvalue="10000"
                                ng-if="ctrl.showNewRateDayOffset"
                                isrequired="ctrl.isNewRateDayOffsetRequired"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-textbox ng-if="ctrl.showEndCountryDayOffset"
                                label="End Country"
                                type="number"
                                value="ctrl.endCountryDayOffset"
                                minvalue="0" maxvalue="10000"
                                isrequired="ctrl.isEndCountryDayOffsetRequired">
                    </vr-textbox>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-textbox label="Increased Rate" type="number"
                                value="ctrl.increasedRateDayOffset" minvalue="0" maxvalue="10000"
                                ng-if="ctrl.showIncreasedRateDayOffset"
                                isrequired="ctrl.isIncreasedRateDayOffsetRequired"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-textbox label="Decreased Rate" type="number"
                                value="ctrl.decreasedRateDayOffset" minvalue="0" maxvalue="10000"
                                ng-if="ctrl.showDecreasedRateDayOffset"
                                isrequired="ctrl.isDecreasedRateDayOffsetRequired"></vr-textbox>
                </vr-columns>
            </vr-row>
        </vr-section>
    </vr-columns>
</vr-row>