<vr-datagrid on-ready="scopeModel.onGridReady"
             datasource="scopeModel.gridData"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             hidegridmenu>
    <vr-datagridcolumn headertext="'Rate Change Type'" field="'RateChangeType.description'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" field="'RateChangeTypeDescription'">
        <vr-textbox type="text" value="dataItem.RateChangeTypeDescription" isrequired="dataItem.isrequired"></vr-textbox>
    </vr-datagridcolumn>
</vr-datagrid>