<vr-tabs>
    <vr-tab header="'Huawei Technical'">
        <vr-columns width="fullrow">
            <vr-section title="CDR Advanced Filter" collapsible>
                <vr-genericdata-recordfilter on-ready="scopeModel.onCDRRecordFilterDirectiveReady"></vr-genericdata-recordfilter>
            </vr-section>
        </vr-columns>
        <vr-columns width="fullrow">
            <vr-section title="SMS Advanced Filter" collapsible>
                <vr-genericdata-recordfilter on-ready="scopeModel.onSMSRecordFilterDirectiveReady"></vr-genericdata-recordfilter>
            </vr-section>
        </vr-columns>
    </vr-tab>
</vr-tabs>