<div vr-modalcontent ng-controller="Retail_BE_ServiceTypeEditorController" width="'50%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formServiceTypeEditor">

            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Title" value="scopeModel.title" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-select on-ready="scopeModel.onExtendedSettingsSelectorReady"
                                       datasource="scopeModel.extendedSettingsTemplateConfigs"
                                       selectedvalues="scopeModel.selectedExtendedSettingsTemplateConfig"
                                       datavaluefield="ExtensionConfigurationId"
                                       datatextfield="Title"
                                       label="Type"
                                       isrequired="true"
                                       hideremoveicon>
                            </vr-select>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textarea label="Description" value="scopeModel.description" isrequired></vr-textarea>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-genericdata-genericruledefinition-selector customlabel="Identification Rule" on-ready="scopeModel.onRuleDefinitionSelectorReady" isrequired="true"></vr-genericdata-genericruledefinition-selector>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <retail-be-statusdefinition-selector on-ready="scopeModel.onStatusDefinitionSelectorReady" normal-col-num="6" customlabel="Initial Status" isrequired="true"></retail-be-statusdefinition-selector>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Charging Policy Definition'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <retail-be-servicetype-chargingpolicy-definition on-ready="scopeModel.onChargingPolicyReady" normal-col-num="2"></retail-be-servicetype-chargingpolicy-definition>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-directivewrapper ng-if="scopeModel.selectedExtendedSettingsTemplateConfig != undefined"
                                     directive="scopeModel.selectedExtendedSettingsTemplateConfig.Editor"
                                     on-ready="scopeModel.onExtendedSettingsDirectiveReady"
                                     vr-loader="scopeModel.isExtendedSettingsDirectiveLoading">
                </vr-directivewrapper>

            </vr-tabs>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formServiceTypeEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>