
<vr-row>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Title" datavaluefield="ExtensionConfigurationId"
                   label="Filter Type" datasource="ctrl.rateTypeTemplates" selectedvalues="ctrl.selectedTemplate" onselectionchanged="ctrl.onActionTemplateChanged">
        </vr-select>
    </vr-columns>
    <vr-columns width="normal" withemptyline>
        <vr-button type="Add" data-onclick="ctrl.addFilter" standalone vr-disabled="ctrl.disableAddButton"></vr-button>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-validator validate="ctrl.isValid()">
            <vr-datagrid datasource="ctrl.datasource"
                         on-ready="onGridReady" enabledraggablerow="true" ondeleterow="ctrl.removeFilter" hidegridmenu norowhighlightonclick="'true'">
                <vr-datagridcolumn headertext="'Filter Type'" field="'name'" widthfactor="5">
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Filter Settings'" widthfactor="15">
                    <div vr-loader="ctrl.isLoadingDirective">
                        <vr-directivewrapper directive="dataItem.editor" on-ready="dataItem.onDirectiveReady" />
                    </div>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Rate Type'" widthfactor="5">
                    <div vr-loader="ctrl.isLoadingRateTypeDirective">
                        <vr-common-ratetype-selector on-ready="dataItem.onRateTypeSelectorReady" isrequired></vr-common-ratetype-selector>
                    </div>
                </vr-datagridcolumn>
            </vr-datagrid>
        </vr-validator>
    </vr-columns>
</vr-row>