<vr-row removeline>
    <vr-common-currency-selector on-ready="ctrl.onCurrencySelectReady" isrequired="true" normal-col-num="3"></vr-common-currency-selector>
</vr-row>
<vr-row removeline>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Title" datavaluefield="ExtensionConfigurationId"
                   label="Tariff Type" datasource="pricingRuleTariffSettings" selectedvalues="selectedPricingRuleTariffSettings" isrequired>
        </vr-select>
    </vr-columns>
    <vr-columns width="3/4row" ng-show="selectedPricingRuleTariffSettings">
        <vr-directivewrapper directive="selectedPricingRuleTariffSettings.Editor" on-ready="onPricingRuleTariffTemplateDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>
