<vr-panel ng-controller="Retail_BE_AccountPartDefinitionManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                    <vr-button type="Add" data-onclick="add" haspermission="hasAddAccountPartDefinitionPermission"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <retail-be-accountpartdefinition-grid on-ready="onGridReady"></retail-be-accountpartdefinition-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>