<vr-tabs>
    <vr-tab header="'Definition'">
        <vr-row>
            <vr-columns width="1/2row">
                <vr-textbox value="scopeModel.name" label="Name" isrequired></vr-textbox>
            </vr-columns>
            <vr-accountbalance-billingtransactiontype-selector on-ready="scopeModel.onBillingTransactionTypeSelectorReady"
                                                               customlabel="Allowed Transaction Types"
                                                               normal-col-num="6"
                                                               isrequired="true"
                                                               ismultipleselection>
            </vr-accountbalance-billingtransactiontype-selector>
            <vr-columns width="1/2row">
                <vr-timespan value="scopeModel.timeOffset" label="Time Offset"></vr-timespan>
            </vr-columns>
            <vr-accountusage-periodsettings on-ready="scopeModel.accountUsagePeriodSettingsReady"
                                            isrequired="true"
                                            normal-col-num="6">
            </vr-accountusage-periodsettings>
            <vr-columns width="1/2row">
                <vr-switch label="Group Usages by Transaction Type" value="scopeModel.shouldGroupUsagesByTransactionType"></vr-switch>
            </vr-columns>
            <vr-columns width="1/2row">
                <vr-switch label="Exclude Usage From Statement" value="scopeModel.excludeUsageFromStatement"></vr-switch>
            </vr-columns>
        </vr-row>
    </vr-tab>
    <vr-tab header="'Relation Type'">
        <vr-invtoaccbalancerelation-definition-selector on-ready="scopeModel.relationDefinitionSelectorReady" normal-col-num="6"></vr-invtoaccbalancerelation-definition-selector>
    </vr-tab>
    <vr-tab header="'Settings'">
        <vr-accountbalance-accounttype-extendedsettings on-ready="scopeModel.accountTypeSettingsReady" isrequired="true" normal-col-num="6"></vr-accountbalance-accounttype-extendedsettings>
    </vr-tab>
    <vr-tab header="'Sources'">
        <vr-accountbalance-accounttype-sources on-ready="scopeModel.accountTypeSourcesReady" isrequired="true" normal-col-num="6"></vr-accountbalance-accounttype-sources>
    </vr-tab>
    <vr-tab header="'Grid Settings'">
        <vr-accountbalance-accounttype-gridcolumns on-ready="scopeModel.accountTypeGridColumnsReady" isrequired="true" normal-col-num="6"></vr-accountbalance-accounttype-gridcolumns>
    </vr-tab>
    <vr-tab header="'Security'">
        <vr-row>
            <vr-columns width="fullrow">
                <vr-section title="View">
                    <vr-sec-requiredpermission-grid on-ready="scopeModel.onViewRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                </vr-section>
            </vr-columns>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-section title="Add">
                    <vr-sec-requiredpermission-grid on-ready="scopeModel.onAddRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                </vr-section>
            </vr-columns>
        </vr-row>
    </vr-tab>
</vr-tabs>