<vr-datagrid datasource="rateTypes"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.RateTypeId" enableautoexport="true">

    <vr-datagridcolumn headertext="'Id'" field="'Entity.RateTypeId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>