<vr-panel ng-controller="PSTN_BusinessEntity_SwitchManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingFilters">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-select label="Brand"
                               datasource="brands"
                               selectedvalues="selectedBrands"
                               datavaluefield="BrandId"
                               datatextfield="Name"
                               entityname="Brand"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-textbox label="Area Code" value="areaCode" type="number" maxlength="7"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                    <vr-button type="Add" data-onclick="addSwitch"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <div>
        <vr-row>
            <vr-columns width="fullrow">

                <vr-datagrid datasource="switches"
                             on-ready="gridReady"
                             dataretrievalfunction="dataRetrievalFunction"
                             pagingtype="'PagingOnScroll'"
                             menuactions="gridMenuActions"
                             idfield="SwitchId">

                    <vr-datagridcolumn headertext="'Name'" field="'Name'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Brand'" field="'BrandName'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Area Code'" field="'AreaCode'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Time Offset'" field="'TimeOffset'" type="'Text'"></vr-datagridcolumn>

                    <vr-datagridexpandablerow>
                        <vr-pstn-be-trunkgrid on-ready="dataItem.extensionObj.onTrunkGridReady"></vr-pstn-be-trunkgrid>
                    </vr-datagridexpandablerow>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>