<!--<vr-rows>
    <vr-columns width="1/3row">
        <businessprocess-bp-definition-selector on-ready="scopeModel.onBPDefinitionDirectiveReady" 
                                                onselectionchanged="scopeModel.onBPDefinitionSelectionchanged" 
                                                selectedvalues="scopeModel.selectedBPDefinition" 
                                                isrequired="true">
        </businessprocess-bp-definition-selector>
    </vr-columns>

    <vr-columns width="1/3row" ng-if="(scopeModel.selectedBPDefinition != undefined)">
        <vr-select on-ready="scopeModel.onAccountIdFieldNameSelectorReady"
                   datasource="scopeModel.accountIdFieldName"
                   hideremoveicon
                   label="Account Id Field Name"
                   datatextfield="Name"
                   datavaluefield="VRWorkflowArgumentId"
                   selectedvalues="scopeModel.selectedAccountIdInputFieldName"
                   isrequired="true">
        </vr-select>
    </vr-columns>

    <vr-columns width="1/3row" ng-if="(scopeModel.selectedBPDefinition != undefined)">
        <vr-select on-ready="scopeModel.onAccountBEDefintionIdFieldNameSelectorReady"
                   datasource="scopeModel.accountBEDefintionIdFieldName"
                   hideremoveicon
                   label ="Account BE Id Field Name"
                   datatextfield="Name"
                   datavaluefield="VRWorkflowArgumentId"
                   selectedvalues="scopeModel.selectedAccountBEDefintionIdInputFieldName">
        </vr-select>
    </vr-columns>
</vr-rows>-->
