<vr-tab header="'MailMessageTypeSettings'" localizedheader="'VRRes.MailMessageTypeSettings.VREnd'">
    <vr-row>
        <vr-columns width="1/2row">
            <vr-common-mailmessagetype-selector on-ready="scopeModel.onMailMessageTypeSelectorReady" isrequired="true"
                                                customlabel="MailMessageTypeSettings"
                                                onselectionchanged="scopeModel.mailMessageTypeSelectorSelectionChanged">
            </vr-common-mailmessagetype-selector>
        </vr-columns>

    </vr-row>
    <vr-row>
        <vr-columns width="1/2row">
            <vr-textbox value="scopeModel.name" label="Name" localizedlabel="VRRes.Name.VREnd"></vr-textbox>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="1/2row">
            <vr-switch value="scopeModel.isSettingsOverridden" label="Change Settings" onvaluechanged="scopeModel.isSettingsOverriddenValuechanged"></vr-switch>
        </vr-columns>
    </vr-row>
</vr-tab>
<vr-tab header="'Objects'" localizedheader="'VRRes.Objects.VREnd'">
    <div ng-if="scopeModel.showDirectiveSettings">
        <vr-common-objectvariable-management on-ready="scopeModel.onObjectDirectiveReady" normal-col-num="4" isrequired enableadd="true"></vr-common-objectvariable-management>
    </div>
</vr-tab>