<vr-datagrid datasource="scopeModel.mailMessageTemplates"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             idfield="Entity.VRMailMessageTemplateId">
    <vr-datagridcolumn headertext="'ID'" localizedheadertext="'VRRes.ID.VREnd'" field="'Entity.VRMailMessageTemplateId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" localizedheadertext="'VRRes.Name.VREnd'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Mail Message Type'" localizedheadertext="'VRRes.MailMessageType.VREnd'" field="'VRMailMessageTypeName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created Time'" localizedheadertext="'VRRes.CreatedTime.VREnd'" field="'Entity.CreatedTime'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>