<vr-datagrid on-ready="scopeModel.onGridReady"
             datasource="scopeModel.objectTypeProperties"
             menuactions="scopeModel.menuActions"
             pagingtype="'PagingOnScroll'"
             hidegridmenu normalcell maxheight="300px">
    <vr-datagridcolumn headertext="'Name'" localizedheadertext="'VRRes.Name.VREnd'" type="'Text'" field="'Name'" widthfactor="1" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" localizedheadertext="'VRRes.Description.VREnd'" type="'Text'" field="'Description'" widthfactor="1" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Value Expression'" localizedheadertext="'VRRes.Value Expression.VREnd'" type="'Text'" field="'ValueExpression'" widthfactor="2" disablesorting></vr-datagridcolumn>
</vr-datagrid>