<vr-datagrid on-ready="scopeModel.onGridReady"
             datasource="scopeModel.objectTypeProperties"
             menuactions="scopeModel.menuActions"
             pagingtype="'PagingOnScroll'"
             hidegridmenu>
    <vr-datagridcolumn headertext="'Name'" type="'Text'" field="'Name'" widthFactor="1" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" type="'Text'" field="'Description'" widthFactor="1" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'ValueExpression'" type="'Text'" field="'Value Expression'" widthFactor="2" disablesorting></vr-datagridcolumn>
</vr-datagrid>