<div vr-modalcontent ng-controller="CP_SupplierPricelist_CustomeUserEditorController" vr-loader="scopeModel.isLoading" >
    <vr-modalbody>
        <vr-form name="formUserEditor">
            <vr-row>
                <vr-sec-user-selector normal-col-num="6" on-ready="onUserDirectiveReady" isrequired="true" showaddbutton selectedvalues="selecteduser"></vr-sec-user-selector>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formUserEditor" data-onclick="Save"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
