<vr-datagrid datasource="salepricelist"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.PriceListId">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.PriceListId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Owner Type'" field="'OwnerType'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Owner Name'" field="'OwnerName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created Time'" field="'Entity.CreatedTime'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Currency'" field="'CurrencyName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Pricelist Type'" field="'PriceListTypeName'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>