<vr-tab header="'Order Details'"> 
    <vr-row removeline>
        <vr-columns width="normal">
            <vr-button type="Add" data-onclick="ctrl.addOrderDetails" standalone></vr-button>
        </vr-columns>
        <vr-columns width="fullrow">
            <vr-datagrid datasource="ctrl.orderdetails"
                         ondeleterow="ctrl.removeOrderDetail"
                         norowhighlightonclick="true"
                         loadmoredata="ctrl.loadMoreOrderDetails"
                         pagingtype="'PagingOnScroll'"
                         maxheight="200px"
                         hidegridmenu>
                <vr-datagridcolumn headertext="'Service Order Id'" field="'Entity.OrderId'" isclickable="true" onclicked="ctrl.editOrderDetailItem"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Parent SO'" field="'Entity.ParentSo'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Child SO'" field="'Entity.ChildSo'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Sales Agent'" field="'Entity.SalesAgent'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Type'" field="'Entity.Type'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Confirm Date'" field="'Entity.ConfirmDate'" type="'Date'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Close Date'" field="'Entity.CloseDate'" type="'Date'"></vr-datagridcolumn>
            </vr-datagrid>
        </vr-columns>
    </vr-row>
</vr-tab>