<script src="/Client/Libraries/Charts/FusionChart/fusioncharts.js"></script>
<script src="/Client/Libraries/Charts/FusionChart/themes/fusioncharts.theme.zune.js"></script>
<script src="/Client/Libraries/Charts/FusionChart/themes/fusioncharts.theme.ocean.js"></script>
<script src="/Client/Libraries/Charts/FusionChart/themes/fusioncharts.theme.fint.js"></script>
<script src="/Client/Libraries/Charts/FusionChart/themes/fusioncharts.theme.carbon.js"></script>

<h1>{{model}}</h1>

<div id="chartCodeGroupsContainer" style="display: inline-block;"></div>
<div id="chartContainerZones" style="display: inline-block;"></div>
<div id="chartCodeGroupsColumnContainer"></div>
