<vr-panel ng-controller="WhS_BE_SalePricelistManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingFilter">
            <vr-row removeline>
                <vr-whs-be-carrieraccount-selector on-ready="onCarrierAccountSelectorReady"
                                                   normal-col-num="2"
                                                   selectedvalues="selectedCustomer"
                                                   onselectionchanged="onCarrierAccountChanged"
                                                   getcustomers
                                                   hideremoveicon isrequired="isRequiredCarrierAccountSelector">

                </vr-whs-be-carrieraccount-selector>
                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="Creation Date" value="CreationDate"></vr-datetimepicker>
                </vr-columns>
                <vr-whs-be-salepricelisttype-selector on-ready="onSalePricelistTypeSelectorReady"
                                                      normal-col-num="2"
                                                      ismultipleselection="true"
                                                      selectedvalues="selectedPricelistType"></vr-whs-be-salepricelisttype-selector>

                <vr-columns width="normal">
                    <vr-sec-user-selector on-ready="onUserSelectorReady" customlabel="Created By" ismultipleselection></vr-sec-user-selector>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-be-salepricelist-grid on-ready="onGridReady" default-sort-by-field-name="Entity.CreatedTime" default-sort-direction="DESC"></vr-whs-be-salepricelist-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>