<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="vanriseLogging" type="Vanrise.Common.LoggingConfiguration.LoggingConfig, Vanrise.Common" />
  </configSections>  
  <vanriseLogging maxLogLevel="Information">
    <loggers>
      <logger name="SQLLogger" type="Vanrise.Logging.SQL.SQLLogger, Vanrise.Logging.SQL">
        <parameters>
          <parameter name="LoggingConnectionStringKey" value="LogDBConnString" />
          <parameter name="ConfigurationConnectionStringKey" value="ConfigurationDBConnString" />
        </parameters>
      </logger>
      <logger name="ConsoleLogger"  type="Vanrise.Common.ConsoleLogger, Vanrise.Common"></logger>
    </loggers>
    <exceptionLoggers>
      <exceptionLogger name="ConsoleExceptionLogger"  type="Vanrise.Common.ConsoleExceptionLogger, Vanrise.Common"></exceptionLogger>
      <exceptionLogger name="DefaultExceptionLogger"  type="Vanrise.Common.DefaultExceptionLogger, Vanrise.Common"></exceptionLogger>
    </exceptionLoggers>
  </vanriseLogging>
  <connectionStrings configSource="ConnectionStrings.config">
    <!--<add name="MainDBConnString" connectionString="" />
    <add name="ConfigurationDBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev_Configuration;User ID=development; Password=dev!123" />
    <add name="Mediation_GenericConfig_DBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev;User ID=development; Password=dev!123;" providerName="System.Data.SqlClient" />
    <add name="Mediation_GenericRecord_DBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev_Configuration;User ID=development; Password=dev!123;" providerName="System.Data.SqlClient" />
    <add name="LogDBConnString" connectionString="Initial Catalog=Mediation_Dev_Logging;Data Source=.;User ID=sa; Password=p@ssw0rd" />
    <add name="TransactionDBConnString" connectionString="Data Source=.;Initial Catalog=Mediation_Dev_Transaction;User ID=sa; Password=p@ssw0rd" />
    <add name="QueueItemDBConnString" connectionString="Data Source=.;Initial Catalog=Mediation_Dev_Queueing;User ID=sa; Password=p@ssw0rd" />-->
  </connectionStrings>

  <!-- BEGIN CUSTOMER VARYING SECTION -->
  <appSettings file="appSettings.config">
    <add key="IsRuntimeService" value="true"/>
    <add key="RuntimeNodeId" value="72efc332-c1f7-4c51-a2a6-febca97f9dc9"/>
    <add key="BCPTempFilesDirectory"  value="C:\BCPFiles" />

    <add key="RuntimeConnStringKey"                             value="TransactionDBConnString"/>
    <add key="BusinessProcessDBConnStringKey"                   value="TransactionDBConnString" />
    <add key="BigDataServiceDBConnStringKey"                    value="TransactionDBConnString"/>
    <add key="IntegrationConnStringKey"                         value="TransactionDBConnString"/>
    <add key="QueueDBConnStringKey"                             value="TransactionDBConnString"/>

    <add key="QueueItemDBConnStringKey"                         value="QueueItemDBConnString"/>

    <add key="BusinessProcessTrackingDBConnStringKey"           value="LogDBConnString"/>
    <add key="LoggingDBConnStringKey"                           value="LogDBConnString"/>

    <add key="SecurityDBConnStringKey"                          value="ConfigurationDBConnString" />
    <add key="ConfigurationDBConnStringKey"                     value="ConfigurationDBConnString" />
    <add key="BusinessProcessConfigDBConnStringKey"             value="ConfigurationDBConnString" />
    <add key="IntegrationConfigDBConnStringKey"                 value="ConfigurationDBConnString"/>
    <add key="RuntimeConfigDBConnStringKey"                     value="ConfigurationDBConnString"/>
    <add key="QueueingConfigDBConnStringKey"                    value="ConfigurationDBConnString"/>
    <add key="RulesDBConnStringKey"                             value="ConfigurationDBConnString"/>
    <add key="LoggingConfigDBConnStringKey"                     value="ConfigurationDBConnString"/>
    <add key="DataParserDBConnStringKey"                        value="ConfigurationDBConnString"/>

    <add key="Mediation_GenericRecord_DBConnStringKey"          value="Mediation_GenericRecord_DBConnString"/>
    <add key="Mediation_GenericConfig_DBConnStringKey"          value="Mediation_GenericConfig_DBConnString"/>

    <add key="BCPDonotDeleteFiles" value="false"/>
    <add key="BusinessProcess_ActivityEventsTracking" value="false"/>

    <add key="ExposedConnectionStringNames" value="Mediation_GenericRecord_DBConnString,Mediation_CDR_DBConnString,ConfigurationDBConnString"/>
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
