<vr-datagrid dataretrievalfunction="dataRetrievalFunction"
             datasource="queueInstances"
             pagingtype="'PagingOnScroll'"
             on-ready="ongridReady"
             menuactions="gridMenuActions"
             idfield="Entity.QueueInstanceId">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.QueueInstanceId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Execution Flow'" field="'ExecutionFlowName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Stage Name'" field="'Entity.StageName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Title'" field="'Entity.Title'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'" field="'StatusName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Item Type'" field="'ItemTypeName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'New Items'" field="'newItemsCount'" isfielddynamic="true" getcolor="getNewItemsColor" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Under Processing'" field="'underProcessingCount'" isfielddynamic="true" getcolor="getUnderProcessingColor" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Suspended'" field="'suspendedCount'" isfielddynamic="true" getcolor="getSuspendedColor" disablesorting></vr-datagridcolumn>

</vr-datagrid>