<vr-datagrid datasource="executionFlows"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="ongridReady"
             idfield="ID">

    <vr-datagridcolumn headertext="'ID'" field="'ID'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Execution Flow'" field="'ExecutionFlowName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Stage Name'" field="'StageName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Title'" field="'Title'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'" field="'Status'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Item Type'" field="'ItemType'"></vr-datagridcolumn>

</vr-datagrid>