<vr-section title="Dependant Fields" collapsible>
    <vr-row>
        <vr-button type="Add" data-onclick="scopeModel.onAddDependantFieldClicked" standalone></vr-button>
        <vr-validator validate="scopeModel.isValid()">
            <vr-datagrid on-ready="scopeModel.onGridReady"
                         datasource="scopeModel.dependantFields"
                         ondeleterow="scopeModel.onDeleteRow"
                         disablesorting="true"
                         disabledraggablecolumns hidegridmenu>
                <vr-datagridcolumn headertext="'Dependant Field'">
                    <!--<vr-select on-ready="dataItem.onDependantFieldsSelectorReady"
                               datasource="viewScope.scopeModel.allDataRecordTypeFields"
                               selectedvalues="dataItem.selectedField"
                               datatextfield="fieldTitle"
                               datavaluefield="fieldName"
                               onselectionchanged="dataItem.onDataRecordFieldChanged"
                               entityName="Dependant Field" isrequired="true" hidelabel hideremoveicon>
                    </vr-select>-->
                    <vr-genericdata-businessentitydefinition-dependantfield-selector on-ready="dataItem.onDependantFieldsSelectorReady" onselectionchanged="dataItem.onDataRecordFieldChanged" ></vr-genericdata-businessentitydefinition-dependantfield-selector>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Mapped Field'">
                    <vr-genericdata-businessentitydefinition-compatiblefields-selector on-ready="dataItem.onCompatibleFieldsSelectorReady"
                                                                                       vr-loader="dataItem.isLoadingCompatibleFieldsSelector"
                                                                                       normal-col-num="12" isrequired="true" hideremoveicon hidelabel usefullcolumn>
                    </vr-genericdata-businessentitydefinition-compatiblefields-selector>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Required'" fixedwidth="80" isfielddynamic="true">
                    <vr-switch value="dataItem.IsRequired"></vr-switch>
                </vr-datagridcolumn>
            </vr-datagrid>
        </vr-validator>
    </vr-row>
</vr-section>