<vr-tab header="'BEDefinitionSettings'">
    <vr-row>
        <vr-columns width="1/2row">
            <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                              isrequired="true"
                                                              customlabel="BEDefinitionSettings"
                                                              onselectionchanged="scopeModel.businessEntityDefinitionSelectorSelectionChanged">
            </vr-genericdata-businessentitydefinition-selector>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="1/2row">
            <vr-textbox value="scopeModel.businessEntityTitle" isrequired="true" label="Title" customvalidate="scopeModel.validate()"></vr-textbox>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="1/2row">
            <vr-switch value="scopeModel.showSettings" label="Change Settings" onvaluechanged="scopeModel.loadSettings"></vr-switch>
        </vr-columns>
    </vr-row>
</vr-tab> 
<vr-directivewrapper vr-loader="scopeModel.isLoadingDirective" 
                     ng-if="scopeModel.selectedSetingsTypeConfig!=undefined" 
                     directive="scopeModel.selectedSetingsTypeConfig.Editor" 
                     on-ready="scopeModel.onSettingsEditorReady" 
                     normal-col-num="4" 
                     isrequired="true">
</vr-directivewrapper>