<div vr-modalcontent ng-controller="Retail_BE_CreditClassEditorController" width="'40%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formStatusDefinitionEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Name" value="scopeModel.name" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Balance Limit" value="scopeModel.balanceLimit" type="number" decimalprecision="2" isrequired></vr-textbox>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-common-currency-selector on-ready="scopeModel.onCurrencySelectorReady" normal-col-num="6" isrequired="true"></vr-common-currency-selector>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formStatusDefinitionEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>