<vr-panel ng-controller="WhS_BE_SupplierPricelistController" vr-loader="isGettingData">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>

                <vr-whs-be-carrieraccount-selector getsuppliers on-ready="onSupplierReady" normal-col-num="2" isrequired="false" ismultipleselection></vr-whs-be-carrieraccount-selector>

                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="From (Pricelist Date)" value="fromDate" isrequired customvalidate="validateDateTime()"></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="To (Pricelist Date)" value="toDate" customvalidate="validateDateTime()"></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-sec-user-selector on-ready="onUserSelectorReady" customlabel="Created By" ismultipleselection></vr-sec-user-selector>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-be-supplierpricelist-grid on-ready="onGridReady"></vr-whs-be-supplierpricelist-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>