<vr-row removeline>
        <vr-columns width="1/4row">
            <vr-select datatextfield="Name" datavaluefield="TemplateConfigID" label="Filter Type" datasource="customerGroupTemplates" text="None"
                               selectedvalues="selectedCustomerGroupTemplate">
             </vr-select>
       </vr-columns>
      <vr-columns width="3/4row" ng-show="selectedCustomerGroupTemplate" vr-loader="customersAppendixLoader">
           <vr-directivewrapper directive="selectedCustomerGroupTemplate.Editor" on-ready="onCustomerGroupDirectiveReady"></vr-directivewrapper>
      </vr-columns>
</vr-row>