<vr-row>
    <vr-genericdata-datarecordalertruleconfig-selector on-ready="scopeModel.onDataRecordAlertRuleConfigSelectorReady"
                                                       selectedvalues="scopeModel.selectedDataRecordAlertRuleConfig"
                                                       normal-col-num="3" isrequired="true" hideremoveicon>
    </vr-genericdata-datarecordalertruleconfig-selector>
</vr-row>
<span vr-loader="scopeModel.isDirectiveLoading">
    <vr-directivewrapper ng-if="scopeModel.selectedDataRecordAlertRuleConfig != undefined"
                         directive="scopeModel.selectedDataRecordAlertRuleConfig.Editor"
                         on-ready="scopeModel.onDirectiveReady">
    </vr-directivewrapper>
</span>

