<vr-row>
    <vr-columns colnum="{{ctrl.normalColNum}}">
        <vr-select on-ready="scopeModel.onDefaultValueSelectorReady" datasource="scopeModel.defaultValues" selectedvalues="scopeModel.selectedDefaultValue"
                   datavaluefield="value" datatextfield="description" label="Default Value" entityName="Default Value" isrequired="false">
        </vr-select>
    </vr-columns>
    <vr-columns colnum="2">
        <vr-switch label="Has Validation" value="scopeModel.hasValidation" onvaluechanged="scopeModel.hasValidationChanged"></vr-switch>
    </vr-columns>
</vr-row>
<span ng-show="scopeModel.hasValidation">
    <vr-row>
        <vr-columns width="fullrow">
            <vr-button type="Add" data-onclick="scopeModel.addValidation" standalone></vr-button>
            <vr-validator validate="scopeModel.isValid()">
                <vr-datagrid on-ready="scopeModel.onGridReady"
                             datasource="scopeModel.validations"
                             ondeleterow="scopeModel.onDeleteRow"
                             disablesorting="true"
                             disabledraggablecolumns hidegridmenu>
                    <vr-datagridcolumn headertext="'Operator'">
                        <vr-select on-ready="scopeModel.onOperatorSelectorReady" datasource="viewScope.scopeModel.operators" selectedvalues="dataItem.selectedOperator"
                                   datavaluefield="value" datatextfield="description" entityName="Operator" isrequired="true" hideremoveicon hidelabel>
                        </vr-select>
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Validation Target'">
                        <vr-select on-ready="scopeModel.onValidationTargetSelectorReady" datasource="viewScope.scopeModel.validationTargets"
                                   selectedvalues="dataItem.selectedTarget" onselectionchanged="dataItem.onSelectionTargetChanged"
                                   datavaluefield="value" datatextfield="description" entityName="Validation Target" isrequired="true" hideremoveicon hidelabel>
                        </vr-select>
                    </vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Field'">
                        <span ng-show="dataItem.selectedTarget != undefined && dataItem.selectedTarget.showFieldsSelector">
                            <vr-select on-ready="scopeModel.onFieldsSelectorReady" datasource="viewScope.scopeModel.fields" selectedvalues="dataItem.selectedField"
                                       datavaluefield="FieldName" datatextfield="FieldTitle" entityName="Field"
                                       isrequired="dataItem.selectedTarget.showFieldsSelector" hideremoveicon hidelabel>
                            </vr-select>
                        </span>
                    </vr-datagridcolumn>
                </vr-datagrid>
            </vr-validator>
        </vr-columns>
    </vr-row>
</span>