<vr-datagrid datasource="scopeModel.dids"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady" enableautoexport="true">
    <vr-datagridcolumn headertext="'Account'" field="'AccountName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Enterprise'" field="'EnterpriseName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Screen Number'" field="'ScreenNumber'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Type'" field="'Type'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Channels'" field="'MaxCalls'"></vr-datagridcolumn>
</vr-datagrid>