<vr-datagrid datasource="executionFlows"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="ongridReady"
             menuactions="gridMenuActions"
             idfield="Entity.DefinitionId">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.ExecutionFlowId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Title'" field="'Title'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Not Processed'" field="'notProcessedCount'" isfielddynamic="true" getcolor="getNotProcessedColor"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Suspended'" field="'suspendedCount'" isfielddynamic="true" getcolor="getSuspendedColor"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>

</vr-datagrid>