<vr-validator validate="scopeModel.validateTableSelection()">
    <vr-columns width="fullrow">
        <vr-datagrid datasource="scopeModel.selectedTableDataGridDS"
                     on-ready="scopeModel.onGridReady"
                     loadmoredata="scopeModel.loadMoreData"
                     pagingtype="'PagingOnScroll'"
                     menuactions="scopeModel.gridMenuActions"
                     ondeleterow="scopeModel.deleteTableDataRow"
                     enableautoexport="true"
                     getrowstyle="scopeModel.getRowStyle"
                     isdynamicrowstyle="true"
                     alternativecolor="false">
            <vr-datagridcolumn ng-repeat="x in scopeModel.columnNames" headertext="x" field="'DescriptionEntity.'+ x!=undefined? 'DescriptionEntity.'+ x+'.value':''" getcolor="getStatusColor" isclickable="true" onclicked="scopeModel.editCell" isfielddynamic="true"></vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-validator>
<vr-columns width="fullrow">
    <label>Total Rows:</label>
    <label  class="label label-success" vr-alert>{{scopeModel.totalRows()}}</label>
    <label>  Unmatched Rows:</label>
    <label class="label label-success" vr-alert>{{scopeModel.newRows()}}</label>
    <label>  Rows Having Differences:</label>
    <label class="label label-success" vr-alert>{{scopeModel.rowsHavingDifferences}}</label>
</vr-columns>

