<div vr-modalcontent ng-controller="Runtime_SchedulerTaskEditorController">
    <vr-modalbody width="'50%'" vr-loader="isGettingData">
        <vr-form name="formSchedulerTaskEditor">
            <vr-choices selectedindex="0">
                <vr-choice isselected="taskDefintionSelected">Task Definition</vr-choice>
                <vr-choice isselected="triggerSettignsSelected">Trigger</vr-choice>
                <vr-choice isselected="actionSettingsSelected">Action</vr-choice>
            </vr-choices>
            <div ng-show="taskDefintionSelected">
                <vr-row>
                    <vr-columns width="1/2row">
                        <vr-textbox value="name" label="Name" isrequired></vr-textbox>
                    </vr-columns>
                    <vr-columns width="1/2row">
                        <vr-switch value="isEnabled" label="Is Enabled"></vr-switch>
                    </vr-columns>
                </vr-row>
            </div>
            <div ng-show="triggerSettignsSelected">
                <div>
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-select datatextfield="Name" datavaluefield="TriggerTypeId"
                                       datasource="triggerTypes" selectedvalues="selectedTriggerType"></vr-select>
                        </vr-columns>
                    </vr-row>
                </div>
                <div>
                    <vr-row>
                        <div ng-include="selectedTriggerType.Info.URL"></div>
                    </vr-row>
                </div>
            </div>
            <div ng-show="actionSettingsSelected">
                <div>
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-select datatextfield="Name" datavaluefield="ActionTypeId"
                                       datasource="actionTypes" selectedvalues="selectedActionType"></vr-select>
                        </vr-columns>
                    </vr-row>
                </div>
                <div>
                    <vr-row>
                        <div ng-include="selectedActionType.Info.URL"></div>
                    </vr-row>
                </div>
            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formSchedulerTaskEditor" data-onclick="SaveTask"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
