<vr-columns width="1/2row">
    <vr-accountbalance-billingtransactiontype-selector on-ready="scopeModel.onBillingTransactionTypeReady" isrequired="true" hideremoveicon></vr-accountbalance-billingtransactiontype-selector>
</vr-columns>
<vr-columns width="1/2row">
    <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onAccountDefinitionSelectorReady"
                                                      customlabel="Account Definition"
                                                      isrequired="true">
    </vr-genericdata-businessentitydefinition-selector>
</vr-columns>