<vr-datagrid datasource="genericRules"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'Pager'"
             on-ready="onGridReady"
             menuactions="gridMenuActions"
             idfield="Entity.RuleId" enableautoexport="true" normalcell>
    <vr-datagridcolumn headertext="'ID'" type="'Text'" field="'Entity.RuleId'" fixedwidth="'50'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" type="'Text'" field="'Entity.Description'" fixedwidth="'200'"></vr-datagridcolumn>
    <vr-datagridcolumn ng-repeat="field in ctrl.criteriaFields" headertext="field.Title" type="'Text'" field="'FieldValueDescriptions[' + field.fieldValueIndex + ']'" columnindex="2 + $index" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn ng-if="showSettingColum" headertext="settingTitle" type="'Text'" field="'SettingsDescription'" columnindex="2 + ctrl.criteriaFields.length"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" type="'LongDatetime'" field="'Entity.BeginEffectiveTime'" fixedwidth="'120'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" type="'LongDatetime'" field="'Entity.EndEffectiveTime'" fixedwidth="'120'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>  