<div ng-hide="filterSectionCollapsed">
    <vr-row removeline>
        <vr-columns colnum="10" haschildcolumns>
            <vr-columns width="normal" ng-show="scopeModel.ruleDefinition">
                <vr-datetimepicker label="Effective Date" value="scopeModel.effectiveDate" type="longDateTime"></vr-datetimepicker>
            </vr-columns>
            <vr-columns width="normal">
                <vr-textbox label="Description" value="scopeModel.description"></vr-textbox>
            </vr-columns>
            <span ng-if="scopeModel.selectedRuleDefinitionType!=undefined">
                <vr-directivewrapper directive="scopeModel.selectedRuleDefinitionType.SearchEditor" on-ready="scopeModel.onSearchDirectiveReady" basicselected="false" advancedselected="true"></vr-directivewrapper>
            </span>

        </vr-columns>
        <vr-columns colnum="12">
            <vr-button type="Search" standalone data-onclick="scopeModel.searchClicked"></vr-button>
            <vr-button type="Add" standalone data-onclick="scopeModel.addGenericRule" ng-show="scopeModel.hasAddRulePermission"></vr-button>
            <vr-button type="Upload" standalone data-onclick="scopeModel.uploadGenericRules" ng-if="scopeModel.supportUpload"></vr-button>
        </vr-columns>
    </vr-row>
</div>
<vr-row removeline>
    <vr-columns colnum="12" simplecol>
        <vr-directivewrapper ng-if="scopeModel.selectedRuleDefinitionType!=undefined" directive="scopeModel.selectedRuleDefinitionType.GridEditor" on-ready="scopeModel.onGridReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>