<div ng-controller="FraudAnalysis_NumberProfilingProcessInput_Scheduled">
    <vr-form name="formCreateProcessInput">

        <vr-row removeline>
            <vr-columns width="1/3row">
                <vr-select datasource="periods" datatextfield="Name" datavaluefield="Id" label="Period" selectedvalues="selectedPeriod" isrequired></vr-select>
            </vr-columns>

            <vr-columns width="fullrow">
                <vr-section title="Profiling Parameters">
                    <vr-columns width="1/2row">
                        <vr-select datasource="hours" datatextfield="name" datavaluefield="id" label="Peak Hours" selectedvalues="selectedPeakHours" ismultipleselection isrequired></vr-select>
                    </vr-columns>

                    <vr-columns width="1/2row">
                        <vr-textbox value="gapBetweenConsecutiveCalls" type="number" label="Gap Between Consecutive Calls" isrequired></vr-textbox>
                    </vr-columns>

                    <vr-columns width="1/2row">
                        <vr-textbox value="gapBetweenFailedConsecutiveCalls" type="number" label="Gap Between Failed Consecutive Calls" isrequired></vr-textbox>
                    </vr-columns>

                    <vr-columns width="1/2row">
                        <vr-textbox value="maxLowDurationCall" type="number" label="Max. Low Duration Call (s) " isrequired></vr-textbox>
                    </vr-columns>

                    <vr-columns width="1/2row">
                        <vr-textbox value="minCountofCallsinActiveHour" type="number" label="Min. Call Count in Active Hours" isrequired></vr-textbox>
                    </vr-columns>
                </vr-section>
            </vr-columns>

        </vr-row>



    </vr-form>
</div>