<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="EncryptionSecretKey" value="V@nR!se-Se6r3t" />
    <add key="BCPTempFilesDirectory" value="C:\Test" />
    <add key="VersionDateFormat" value="yyyy-MM-dd" />
    <add key="VersionNumber" value="1.9" />
    <add key="ServerIP" value="192.168.110.185"/>
    <add key="SQLUsername" value="readonlyUser"/>
    <add key="SQLPassword" value="P@ssw0rd"/>
    <add key="ActiveDBs" value="StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardTOneWhS_BEStructure#StandardTOneWhS_BEStructure_StateBackup#StandardCloudXpointStrcuture#StandardTOneWhS_CDR#StandardTOneWhS_Analytics#StandardMediation_CDRStructure#StandardMediationStructure#StandardRetailStructure#StandardRetail_Analytics#StandardRetail_EDR#StandardRetailStructure_Ringo#StandardXBoosterStructure#StandardXBooster_CDRComparisonOutputStructure#StandardCDRAnalysisStructure#StandardClearVoiceStructure#StandardClearVoiceStructureBI#StandardCarrierPortalStructure"/>
    <add key="PreventCreateDbScript" value="StandardConfigurationStructure#StandardCloudXpointStrcuture#StandardRetailStructure_Ringo#StandardRAStructure#StandardInterconnectStructure"/>
    
    <add key="Mediation" value="StandardMediationStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardMediation_CDRStructure"/>
    <add key="TOneV2" value="StandardTOneWhS_BEStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardTOneWhS_BEStructure_StateBackup#StandardTOneWhS_CDR#StandardTOneWhS_Analytics"/>
    <add key="CloudXPointV2" value="StandardCloudXpointStrcuture"/>
    <add key="INSOFT" value="StandardCloudXpointStrcuture"/>
    <add key="Retail" value=""/>
    <add key="Retail.MultiNet" value="StandardRetailStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardRetail_Analytics#StandardRetail_EDR"/>
    <add key="Retail.Ringo" value="StandardRetailStructure#StandardRetailStructure_Ringo#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardRetail_Analytics#StandardRetail_EDR"/>
    <add key="Retail.Zajil" value="StandardRetailStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardRetail_Analytics#StandardRetail_EDR"/>
    <add key="CarrierPortal" value="StandardCarrierPortalStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure"/>
    <add key="CP.Ringo" value=""/>
    <add key="CP.SupplierPricelist" value=""/>
    <add key="CP.Partner" value=""/>
    <add key="CP.Multinet" value=""/>
    <add key="BIV2" value="StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure"/>
    <add key="XBooster" value="StandardXBoosterStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure#StandardXBooster_CDRComparisonOutputStructure"/>
    <add key="ClearVoice" value="StandardClearVoiceStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure#StandardClearVoiceStructureBI"/>
    <add key="CDRAnalysis" value="StandardCDRAnalysisStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure"/>
    <add key="TOne.Web.Online" value="WebAPI"/>
    <add key="TOne" value="StandardDevelopmentStructure"/>
    <add key="BIL" value="StandardSOMStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure"/>
    <add key="RA" value="StandardRetailStructure#StandardRAStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardRA_EDR"/>
    <add key="Interconnect" value="StandardRetailStructure#StandardInterconnectStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardInterconnect_Analytics#StandardInterconnect_CDR"/>
    <add key="TOneV2.Jazz" value=""/>
    
    <add key="sqlFilesOutputPath" value="\\192.168.110.185\Fixes\WebSite\{2}\{0}\DataBaseFirstDeploymentScripts\{1}"/>
    <add key="javascriptsOutputPath" value="\\192.168.110.185\Fixes\WebSite\{2}\{0}\Client\{1}"/>

    <add key="binPath" value="\\192.168.110.185\Fixes\WebSite\{0}\Runtime\{1}"/>
  </appSettings>
</configuration>