<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <appSettings>
    <add key="EncryptionSecretKey" value="V@nR!se-Se6r3t"/>
    <add key="BCPTempFilesDirectory" value="C:\Test"/>
    <add key="VersionDateFormat" value="yyyy-MM-dd"/>
    <add key="VersionNumber" value="2.0"/>
    <add key="ServerIP" value="192.168.110.185"/>
    <add key="SQLUsername" value="readonlyUser"/>
    <add key="SQLPassword" value="P@ssw0rd"/>
    <add key="ActiveDBs" value="StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardTOneWhS_BEStructure#StandardTOneWhS_BEStructure_StateBackup#StandardCloudXpointStrcuture#StandardTOneWhS_CDR#StandardTOneWhS_Analytics#StandardMediation_CDRStructure#StandardMediationStructure#StandardRetailStructure#StandardRetail_Analytics#StandardRetail_EDR#StandardRetailStructure_Ringo#StandardXBoosterStructure#StandardXBooster_CDRComparisonOutputStructure#StandardCDRAnalysisStructure#StandardClearVoiceStructure#StandardClearVoiceStructureBI#StandardCarrierPortalStructure"/>
    <add key="PreventCreateDbScript" value="StandardConfigurationStructure#StandardRetailStructure_Ringo#StandardRAStructure#StandardInterconnectStructure#StandardISPStructure#StandardNetworkRentalStructure#StandardRetailTelesStructure#StandardInspktStructure"/>
    
    <add key="Mediation" value="StandardMediationStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardMediation_CDRStructure#StandardMediation_CDRStructure_Mobilis"/>
    <add key="TOneV2" value="StandardTOneWhS_BEStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardTOneWhS_BEStructure_StateBackup#StandardTOneWhS_CDR#StandardTOneWhS_Analytics#StandardTOneWhS_RouteSync#StandardTOneWhS_Analytics_Ogero"/>
    <add key="CloudXPointV2" value="StandardCloudXpointStrcuture"/>
    <add key="INSOFT" value="StandardCloudXpointStrcuture"/>
    <add key="Retail" value=""/>
    <add key="Retail.MultiNet" value="StandardRetailStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardRetail_Analytics#StandardRetail_EDR"/>
    <add key="Retail.Ringo" value="StandardRetailStructure#StandardRetailStructure_Ringo#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardRetail_Analytics#StandardRetail_EDR"/>
    <add key="Retail.Zajil" value="StandardRetailStructure#StandardConfigurationStructure#StandardRetailTelesStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardRetail_Analytics#StandardRetail_EDR"/>
    <add key="CarrierPortal" value="StandardCarrierPortalStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure"/>
    <add key="CP.Ringo" value=""/>
    <add key="CP.SupplierPricelist" value=""/>
    <add key="CP.Partner" value=""/>
    <add key="CP.Multinet" value=""/>
    <add key="CP.TOne" value=""/>
    <add key="BIV2" value="StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure"/>
    <add key="XBooster" value="StandardXBoosterStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure#StandardXBooster_CDRComparisonOutputStructure"/>
    <add key="ClearVoice" value="StandardClearVoiceStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure#StandardClearVoiceStructureBI"/>
    <add key="CDRAnalysis" value="StandardCDRAnalysisStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure"/>
    <add key="TOne.Web.Online" value="WebAPI"/>
    <add key="TOne" value="StandardDevelopmentStructure"/>
    <add key="BIL" value="StandardSOMStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure"/>
    <add key="RA" value="StandardRetailStructure#StandardRAStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardRA_EDR#StandardRA_Analytic"/>
    <add key="Interconnect" value="StandardRetailStructure#StandardInterconnectStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardInterconnect_Analytics#StandardInterconnect_CDR#StandardInterconnect_SMS#StandardInterconnect_Analytics_SMS"/>
    <add key="TOneV2.Jazz" value="StandardTOneWHSJAZZERPIntegrationStructure#StandardTOneWHSJAZZStructure"/>
    <add key="CentralAuth" value="StandardCentralAuthStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure"/>
    <add key="ISP" value="StandardRetailStructure#StandardISPStructure#StandardNetworkRentalStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure"/>
    <add key="NetworkRental" value="StandardRetailStructure#StandardNetworkRentalStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure"/>
    <add key="Component-ISP" value="StandardISPStructure"/>
    <add key="Component-Voucher" value="StandardVoucherStructure"/>    
    <add key="Component-NetworkRental" value="StandardNetworkRentalStructure"/>
    <add key="TOne.SMS" value="StandardRetailStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardTOneSMS_EDR"/>
    <add key="FMSV1" value="StandardFMSV1Structure#StandardConfigurationStructure#StandardLoggingStructure#StandardTransactionStructure"/>
    <add key="TOneV2.SMS" value="StandardTOneWhS_SMS#StandardTOneWhS_Analytics_SMS"/>
    <add key="Inspkt" value="StandardRetailStructure#StandardInspktStructure#StandardConfigurationStructure#StandardLoggingStructure#StandardQueueingStructure#StandardTransactionStructure#StandardInspkt_CDR"/>
    
    <add key="sqlFilesOutputPath" value="\\192.168.110.185\Fixes\WebSite\{2}\{0}\DataBaseFirstDeploymentScripts\{1}"/>
    <add key="javascriptsOutputPath" value="\\192.168.110.185\Fixes\WebSite\{2}\{0}\Client\{1}"/>

    <add key="checkPathLengthSourcePath" value="C:\TFS\{0}\Code"/>
    <add key="checkPathLengthOutputPath" value="\\192.168.110.185\Fixes\CheckFilePath"/>
    <add key="maxPathLength" value="222"/>

    <add key="binPath" value="\\192.168.110.185\Fixes\WebSite\{0}\Runtime\{1}"/>
  </appSettings>
</configuration>
