<vr-row removeline>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Title" datavaluefield="ExtensionConfigurationId" label="Filter Type" datasource="saleZoneGroupTemplates" text="None"
                   selectedvalues="selectedSaleZoneGroupTemplate">
        </vr-select>
    </vr-columns>
    <span vr-loader="isLoadingSaleZoneGroupDirective">
        <vr-directivewrapper directive="selectedSaleZoneGroupTemplate.Editor" on-ready="onSaleZoneGroupDirectiveReady" normal-col-num="8"></vr-directivewrapper>
    </span>
</vr-row>