<vr-whs-deal-dealdefinition-selector on-ready="scopeModel.onDealDefinitionSelectorReady"
                                     onselectionchanged="scopeModel.onDealDefinitionSelectionChanged"
                                     ondeselectitem="scopeModel.onDeselectDealDefinition"
                                     normal-col-num="3" isrequired="true" customlabel="Supplier Deals" ismultipleselection>
</vr-whs-deal-dealdefinition-selector>

<span vr-loader="scopeModel.isSaleZoneSelectorLoading" ng-show="scopeModel.showSaleZoneSelector">
    <vr-whs-be-salezone-selector on-ready="scopeModel.onSaleZoneSelectorReady"
                                 onselectionchanged="scopeModel.onSaleZoneSelectionChanged"
                                 normal-col-num="3" isrequired="true" ismultipleselection>
    </vr-whs-be-salezone-selector>
</span>