<div style="display:inline-block;width: calc(100% - 18px);">
    <vr-columns colnum="4" ng-show="showSellingNumberPlan">
        <vr-select datatextfield="Name" datavaluefield="SellingNumberPlanId"
                   label="Selling Number Plan" datasource="sellingNumberPlans" selectedvalues="selectedSellingNumberPlan" onselectionchanged="onSellingNumberPlanValueChanged">
        </vr-select>
    </vr-columns>
    <vr-columns colnum="4" ng-show="isPackageDefined">
        <vr-select ismultipleselection isrequired label="Sale Zone" datasource="searchZones" selectedvalues="selectedSaleZones"
                   datatextfield="Name" datavaluefield="SaleZoneId" entityname="Sale Zone" >
        </vr-select>
    </vr-columns>
</div>