<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="SendingEmail" value="hadihawi@gmail.com" />
    <add key="SmtpServer" value="smtp.gmail.com" />
  </appSettings>
    <connectionStrings>
        <add name="CallGeneratorLibrary.Properties.Settings.FraudTest2ConnectionString"
            connectionString="Data Source=.;User ID=sa;Password=vanrise@cce$$;Initial Catalog=FraudTest2;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
