<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="SipAccId" value="2" />
    <add key="SendingEmail" value="vanrise.clitester@gmail.com" />
    <add key="SmtpServer" value="smtp.gmail.com" />
  </appSettings>
    <connectionStrings>
        <add name="CallGeneratorLibrary.Properties.Settings.FraudTest2ConnectionString"
            connectionString="Data Source=LENOVO\SQL2008R2;Initial Catalog=FraudTest2;Persist Security Info=True;User ID=sa;Password=lenovo"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
