<div vr-modalcontent ng-controller="VR_Notification_VRAlertRuleTypeEditorController" size="medium" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formVRAlertRuleTypeEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Name" value="scopeModel.name" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-select on-ready="scopeModel.onSettingsSelectorReady"
                                       datasource="scopeModel.templateConfigs"
                                       selectedvalues="scopeModel.selectedTemplateConfig"
                                       datavaluefield="ExtensionConfigurationId"
                                       datatextfield="Title"
                                       isrequired="true"
                                       label="Action Rule Type Settings"
                                       hideremoveicon>
                            </vr-select>
                        </vr-columns>
                    </vr-row>

                </vr-tab>
                <vr-directivewrapper ng-if="scopeModel.selectedTemplateConfig != undefined" directive="scopeModel.selectedTemplateConfig.Editor" on-ready="scopeModel.onDirectiveReady">
                </vr-directivewrapper>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formVRAlertRuleTypeEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>