<vr-row>
        <vr-columns colnum="12" simplecol>
            <vr-datagrid datasource="pricingProducts"
                         dataretrievalfunction="dataRetrievalFunction"
                         pagingtype="'PagingOnScroll'"
                         on-ready="gridReady"
                         menuactions="gridMenuActions"
                         idfield="PricingProductId">
                <vr-datagridcolumn headertext="'ID'" field="'PricingProductId'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Description'" field="'Name'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Sale Zone Package'" field="'SaleZonePackageName'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Routing Product'" field="'DefaultRoutingProductName'"></vr-datagridcolumn>
                <vr-datagridexpandablerow>
                    <vr-whs-be-customerpricingproductgrid on-ready="dataItem.extensionObject.onGridReady" pricingproductid="dataItem.PricingProductId" hidepricingproductcolumn></vr-whs-be-customerpricingproductgrid>
                </vr-datagridexpandablerow>
            </vr-datagrid>

        </vr-columns>
    </vr-row>
