<vr-row>
        <vr-columns colnum="12" simplecol>
            <vr-datagrid datasource="pricingProducts"
                         dataretrievalfunction="dataRetrievalFunction"
                         pagingtype="'PagingOnScroll'"
                         on-ready="gridReady"
                         menuactions="gridMenuActions"
                         idfield="PricingProductId">
                <vr-datagridcolumn headertext="'Id'" field="'PricingProductId'"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Description'" field="'Name'"></vr-datagridcolumn>

                <vr-datagridexpandablerow>
                    <vr-whs-be-customerpricingproductgrid on-ready="dataItem.extensionObject.onGridReady" pricingproductid="dataItem.PricingProductId"></vr-whs-be-customerpricingproductgrid>
                </vr-datagridexpandablerow>
            </vr-datagrid>

        </vr-columns>
    </vr-row>
