<div style="display:inline-block;width: calc(100% - 18px);" vr-loader="isLoadingDirective">
    <vr-columns colnum="4" ng-show="showSaleZonePackage">
        <vr-select datatextfield="Name" datavaluefield="SaleZonePackageId"
                   label="Sale Zone Package" datasource="saleZonePackages" selectedvalues="selectedSaleZonePackage">
        </vr-select>
    </vr-columns>
    <vr-columns colnum="4">
        <vr-select ismultipleselection isrequired label="Sale Zone" datasource="searchZones" selectedvalues="selectedSaleZones"
                   datatextfield="Name" datavaluefield="SaleZoneId" entityname="Sale Zone">
        </vr-select>
    </vr-columns>
</div>