<vr-panel ng-controller="Fzero_FraudAnalysis_DefineFixedPrefixesManagementController">

    <vr-form name="formFilter" vr-loader="isLoading">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-row>
                        <vr-columns width="normal">
                            <vr-textbox value="name" label="Description"></vr-textbox>
                        </vr-columns>
                    </vr-row>

                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <vr-button type="Add" data-onclick="AddNewFixedPrefix"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-fzero-fraudanalysis-fixedprefixes-grid on-ready="onGridReady"></vr-fzero-fraudanalysis-fixedprefixes-grid>
    </vr-form>

</vr-panel>