<vr-row removeline>
    <vr-columns width="fullrow">
        <vr-genericdata-datatransformation-rulestepcommon-preview on-ready="ctrl.onCommonDirectiveReady"></vr-genericdata-datatransformation-rulestepcommon-preview>
    </vr-columns>
    <vr-columns width="fullrow">
        <vr-label ng-show="ctrl.value !=undefined">Rule.Value = {{ctrl.value}}</vr-label>
    </vr-columns>
    <vr-columns width="fullrow">
        <vr-label ng-show="ctrl.normalizedValue !=undefined">{{ctrl.normalizedValue}} = Rule.NomalizedValue</vr-label>
    </vr-columns>
</vr-row>