<vr-panel ng-controller="WhS_BE_CarrierAccountManagementController">

    <vr-form name="formFilter" vr-loader="isLoading">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns colnum="2">
                    <vr-textbox value="name" label="Account Name"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal" haschildcolumns>
                    <vr-whs-be-carrierprofile-selector on-ready="onCarrierProfileDirectiveReady" ismultipleselection></vr-whs-be-carrierprofile-selector>
                </vr-columns>

                <vr-whs-be-activationstatus-selector normal-col-num="2" ismultipleselection on-ready="onActivationStatusDirectiveReady">
                </vr-whs-be-activationstatus-selector>

                <vr-columns colnum="2">
                    <vr-select datatextfield="description" datavaluefield="value" label="Carrier Type" datasource="carrierAccountTypes"
                               selectedvalues="selectedCarrierAccountTypes" ismultipleselection onselectionchanged="onCarrierTypeSelectionChanged">
                </vr-columns>

                <span vr-loader="isLoadingSellingNumberPlan" ng-show="showSellingNumberPlan">
                    <vr-whs-be-sellingnumberplan-selector normal-col-num="2" on-ready="onSellingNumberPlanDirectiveReady" selectedvalues="selectedSellingNumberPlans" ismultipleselection>
                    </vr-whs-be-sellingnumberplan-selector>
                </span>

                <span  ng-show="showZoneService">
                    <vr-whs-be-zone-service-config-selector on-ready="onZoneServiceConfigSelectorReady"
                                                            selectedvalues="servicesValues"
                                                            normal-col-num="2"
                                                            ismultipleselection="true">
                    </vr-whs-be-zone-service-config-selector>
                </span>


            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <vr-button type="Add" data-onclick="AddNewCarrierAccount" haspermission="hadAddCarrierAccountPermission"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-be-carrieraccount-grid on-ready="onGridReady"></vr-whs-be-carrieraccount-grid>
            </vr-columns>
        </vr-row>

    </vr-form>

</vr-panel>