<vr-row>
    <vr-columns width="1/4row">
        <vr-textbox value="scopeModel.routeName" label="Route Name" type="text" onvaluechanged="scopeModel.isSupplierMappingExists"
                    customvalidate="scopeModel.isRouteNameValid()" isrequired="scopeModel.supplierMappingExists">
        </vr-textbox>
    </vr-columns>
    <vr-columns width="1/4row">
        <vr-textbox value="scopeModel.isup" label="ISUP" type="text" 
                    onvaluechanged="scopeModel.isSupplierMappingExists"
                    isrequired="scopeModel.supplierMappingExists">
        </vr-textbox>
    </vr-columns>
</vr-row>