<div vr-modalcontent ng-controller="VR_AccountBalance_ThresholdActionEditorController" width="'40%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formVRActionManagementEditor">
            <vr-tabs>
                <vr-tab header="'Threshold'">
                    <vr-accountbalance-balancealertthreshold on-ready="scopeModel.onBalanceAlertThresholdDirectiveReady" normal-col-num="4"></vr-accountbalance-balancealertthreshold>
                </vr-tab>
                <vr-tab header="'Actions'">
                    <vr-notification-vraction-management on-ready="scopeModel.onVRActionManagementDirectiveReady"></vr-notification-vraction-management>
                </vr-tab>
                <vr-tab header="'Rollback Actions'">
                    <vr-notification-vraction-management on-ready="scopeModel.onRollBackVRActionManagementDirectiveReady"></vr-notification-vraction-management>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formVRActionManagementEditor" data-onclick="scopeModel.saveThreshold"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
