<vr-row removeline>
    <vr-columns width="1/4row">
        <vr-select label="Field" datatextfield="Entity.Name" datavaluefield="Entity.Name"
                   datasource="datasource" selectedvalues="dataRecordTypeField"></vr-select>
    </vr-columns>

    <vr-columns width="3/4row" ng-show="dataRecordTypeField.RuleFilterEditor!=undefined">
        <vr-directivewrapper directive="dataRecordTypeField.RuleFilterEditor" on-ready="onDataRecordTypeFieldEditorReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>