<vr-validator validate="ctrl.isValid()">
    <vr-section title="Group Condition" collapsible>
        <vr-row removeline>
            <vr-columns width="1/2row">
                <vr-choices isradio selectedindex="ctrl.condition">
                    <vr-choice ng-repeat="condition in conditions">{{condition.description}}</vr-choice>
                </vr-choices>
            </vr-columns>
            <vr-columns width="1/4row" class="vr-groupfilter-button">
                <button type="button" class="btn btn-xs" data-add="group" ng-click="ctrl.addGroup()" style="background-color:#6DA279;color:white;">
                    <i class="glyphicon glyphicon-plus-sign"></i> Add Group
                </button>
            </vr-columns>

            <vr-columns width="1/4row" class="vr-groupfilter-button">
                <button type="button" class="btn btn-xs" data-add="rule" ng-click="ctrl.addRule()" style="background-color:#6DA279;color:white;">
                    <i class="glyphicon glyphicon-plus"></i> Add Condition
                </button>
            </vr-columns>
        </vr-row>

        <vr-row removeline ng-repeat="rule in ctrl.rules">
            <vr-columns width="fullrow">
                <div style="display:inline-block;width:calc(100% - 18px);">
                    <vr-directivewrapper directive="'vr-genericdata-datarecordtypefield-rulefilter'" on-ready="rule.onRuleFilterReady"></vr-directivewrapper>
                </div>

                <i class="glyphicon glyphicon-remove hand-cursor" style="position:absolute;top: 5px;" ng-click="removeRule(rule)"></i>

            </vr-columns>
        </vr-row>

        <vr-row removeline ng-repeat="group in ctrl.groups">
            <vr-columns width="fullrow">
                <div style="display:inline-block;width:calc(100% - 18px);">
                    <vr-directivewrapper directive="'vr-genericdata-datarecordtypefield-groupfilter'" on-ready="group.onGroupFilterReady"></vr-directivewrapper>
                </div>
                <i class="glyphicon glyphicon-remove hand-cursor" style="position:absolute;top: 5px;" ng-click="removeGroup(group)"></i>
            </vr-columns>
        </vr-row>
    </vr-section>
</vr-validator>