<vr-row removeline>
    <vr-columns width="normal">
        <vr-select label="Field" datatextfield="Entity.Name" datavaluefield="Entity.Name"
                   datasource="datasource" selectedvalues="dataRecordTypeField" isrequired="true"></vr-select>
    </vr-columns>
    <vr-columns width="small">
        <vr-select label="Condition" datatextfield="description" datavaluefield="description"
                   datasource="conditions" selectedvalues="selectedCondition" isrequired="true"></vr-select>
    </vr-columns>
    <vr-columns width="3/4row" ng-if="dataRecordTypeField.RuleFilterEditor!=undefined && !selectedCondition.showDirective">
        <vr-directivewrapper directive="selectedCondition.editor" on-ready="onDataRecordTypeFieldFilterReady"></vr-directivewrapper>
    </vr-columns>
    <vr-columns width="3/4row" ng-if="dataRecordTypeField.RuleFilterEditor!=undefined && selectedCondition.showDirective">
        <vr-directivewrapper directive="dataRecordTypeField.RuleFilterEditor" on-ready="onDataRecordTypeFieldEditorReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>