<vr-datagrid datasource="changedZones"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="[]">
    <vr-datagridcolumn headertext="'Zone Name'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn widthfactor="3">
        <vr-icon iconurl="dataItem.ZoneStatusIconUrl" tooltip="dataItem.ZoneStatusIconTooltip"></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Zone BED'" field="'ZoneBED'" type="'Date'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Zone EED'" field="'ZoneEED'" type="'Date'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'New Codes'" field="'NewCodes'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Deleted Codes'" field="'DeletedCodes'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Moved Codes From'" field="'CodesMovedFrom'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Moved Codes To'" field="'CodesMovedTo'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>