
<div ng-show="analyticrecordsctrl.showGrid">
    <vr-datagrid datasource="analyticrecordsctrl.datasource" defaultsortbyfieldname="analyticrecordsctrl.sortField"
                 pagingtype="'Pager'" dataretrievalfunction="analyticrecordsctrl.dataRetrievalFunction"
                 on-ready="analyticrecordsctrl.gridReady" enableautoexport="true">
        <vr-datagridcolumn ng-repeat="dimension in analyticrecordsctrl.groupingDimensions" headertext="dimension.Title" type="dimension.Type"
                           numberprecision="dimension.NumberPrecision" field="dimension.Type.indexOf('Date') > -1 || dimension.Type.indexOf('Number') > -1 ? 'DimensionValues[' + $index + '].Value' : 'DimensionValues[' + $index + '].Name'" columnindex="$index" widthfactor="15"></vr-datagridcolumn>

        <vr-datagridcolumn ng-repeat="measure in analyticrecordsctrl.measures" headertext="measure.Title" type="measure.Type" numberprecision="measure.NumberPrecision"
                           field="'MeasureValues.' + measure.MeasureName + '.Value'" tag="measure.MeasureName" summaryfield="'MeasureValues.' + measure.MeasureName + '.Value'" getcolor="analyticrecordsctrl.getMeasureColor"></vr-datagridcolumn>


        <vr-datagridexpandablerow ng-if="analyticrecordsctrl.drillDownDimensions.length > 0">
            <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
        </vr-datagridexpandablerow>
    </vr-datagrid>
</div>
