<div ng-show="analyticrecordsctrl.showGrid">
    <vr-datagrid datasource="analyticrecordsctrl.datasource" defaultsortbyfieldname="analyticrecordsctrl.sortField" normalcell
                 pagingtype="'Pager'" dataretrievalfunction="analyticrecordsctrl.dataRetrievalFunction" menuactions="gridMenuActions"
                 on-ready="analyticrecordsctrl.gridReady" enableautoexport="true" gridmenuactions="analyticrecordsctrl.gridLeftMenuActions" showexpand="isExpandable" rowclickdetails mobilegridlayout="true">

        <vr-datagridcolumn ng-if="analyticrecordsctrl.groupingDimensions.length>0" ng-repeat="dimension in analyticrecordsctrl.groupingDimensions" headertext="dimension.Title" type="dimension.Type"
                           field="dimension.Type.indexOf('Date') > -1 || dimension.Type.indexOf('Number') > -1 ? 'DimensionValues[' + $index + '].Value' : 'DimensionValues[' + $index + '].Name'"
                           widthfactor="dimension.Widthfactor" fixedwidth="dimension.ColumnSettings.FixedWidth" listviewwidth="dimension.ColumnSettings.ListViewWidth" numberprecision="dimension.NumberPrecision" columnindex="$index" cssclass="dimension.cssClass">
        </vr-datagridcolumn>

        <vr-datagridcolumn ng-repeat="column in analyticrecordsctrl.columns" headertext="column.Title" type="column.Type" numberprecision="column.NumberPrecision"
                           field=column.fieldPath tag=column.fieldPath summaryfield=column.fieldPath
                           widthfactor="{{column.Widthfactor}}" listviewwidth="column.ColumnSettings.ListViewWidth" fixedwidth="column.ColumnSettings.FixedWidth"
                           getcolor="analyticrecordsctrl.getMeasureColor" cssclass="column.cssClass" initiallyhidden="column.IsHidden" ishiddeninlistview="column.IsHiddenInListView" columnindex="$index">
        </vr-datagridcolumn>

        <vr-datagridexpandablerow>
            <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
        </vr-datagridexpandablerow>
    </vr-datagrid>
</div>
