
<div ng-show="analyticrecordsctrl.showGrid">
    <vr-datagrid datasource="analyticrecordsctrl.datasource" defaultsortbyfieldname="analyticrecordsctrl.sortField" pagingtype="'Pager'" dataretrievalfunction="analyticrecordsctrl.dataRetrievalFunction" on-ready="analyticrecordsctrl.gridReady">
        <vr-datagridcolumn ng-repeat="dimension in analyticrecordsctrl.groupingDimensions" headertext="dimension.Title" type="dimension.type"
                           numberprecision="dimension.numberPrecision" field="'DimensionValues[' + $index + '].Name'" columnindex="$index" widthfactor="15"></vr-datagridcolumn>

        <vr-datagridcolumn ng-repeat="measure in analyticrecordsctrl.measures" headertext="measure.Title" type="measure.type"
                           field="'MeasureValues.' + measure.MeasureName + ''" tag="measure" summaryfield="'MeasureValues.' + measure.MeasureName + ''"></vr-datagridcolumn>

        <vr-datagridexpandablerow ng-if="analyticrecordsctrl.drillDownDimensions.length > 0">
            <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
        </vr-datagridexpandablerow>
    </vr-datagrid>
</div>
