<vr-datagrid datasource="scopeModel.blockedAttempts"
             on-ready="scopeModel.onGridReady"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="scopeModel.gridMenuActions"
             defaultsortbyfieldname="'Entity.BlockedAttempts'"
             defaultsortdirection="'DESC'" enableautoexport="true">
    <vr-datagridcolumn headertext="'Customer'" field="'CustomerName'" type="'Text'" ng-show="scopeModel.showCustomer"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Sale Zone'" field="'SaleZoneName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Blocked Attempts'" field="'Entity.BlockedAttempts'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Release Code'" field="'Entity.ReleaseCode'" type="'Text'" tooltipfield="'ReleaseCodeDescription'" isclickable="true" onclicked="onClickReleaseCode"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Release Source'" field="'Entity.ReleaseSource'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'First Attempt'" field="'Entity.FirstAttempt'" type="'LongDatetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Last Attempt'" field="'Entity.LastAttempt'" type="'LongDatetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Caller Number'" field="'Entity.CGPN'" type="'Text'" ng-show="scopeModel.showNumber"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Dialed Number'" field="'Entity.CDPN'" type="'Text'" ng-show="scopeModel.showNumber"></vr-datagridcolumn>
</vr-datagrid>
