
<select ng-options="itm as itm.name for itm in dateTimeFilters"
        ng-model="selectedDateTimeFilter" ng-change="updateCharts()"></select>

<select ng-options="itm as itm.name for itm in measureTypes"
        ng-model="selectedMeasureType" ng-change="updateCharts()"></select>


<select ng-options="itm as itm.name for itm in topCounts"
        ng-model="selectedTopCount" ng-change="updateCharts()"></select>
<label><input type="checkbox" ng-model="showLegendsWithValues" ng-change="updateCharts()" />Show Legends & Values</label>


<div></div>
<vr-chart data-on-ready="chartTopDestinationsReady" style="display:inline-block"></vr-chart>
<vr-chart data-on-ready="chartTopCustomersReady" style="display:inline-block"></vr-chart>
<vr-chart data-on-ready="chartTopSuppliersReady" style="display:inline-block"></vr-chart>