
<div class="container-fluid ">
    <div class="panel panel-primary panel-over-color">
        <div class="panel-body">
            <div class="row style-row">
                
                <div class="col-lg-2 style-col">
                    <label class="control-label">Measure:</label>
                    <vr-dropdown datatextfield="name" datavaluefield="value"
                                 entityname="" type="standard" options="optionsMeasureTypes" onselectionchange="filterChanged"></vr-dropdown>
                </div>
                
                <div class="col-lg-1 style-col" ng-mouseenter="showtd=true" ng-mouseleave="showtd=false">
                    <label class="control-label">From:</label>
                    <div style="display:inline-block;position:relative;width:100%" ng-mouseenter="showtd=true" ng-mouseleave="showtd=false">
                        <input size="10" class="form-control" ng-model="fromDate" data-autoclose="1" placeholder="Date" bs-datepicker type="text" ng-change="filterChanged()">
                    </div>
                </div>

                <div class="col-lg-1  style-col" ng-mouseenter="showtd=true" ng-mouseleave="showtd=false">
                    <label class="control-label">To:</label>
                    <div style="display:inline-block;position:relative;width:100%" ng-mouseenter="showtd=true" ng-mouseleave="showtd=false">
                        <input size="10" class="form-control" ng-model="toDate" data-autoclose="1" placeholder="Date" bs-datepicker type="text" ng-change="filterChanged()">
                    </div>
                </div>

                <div class="col-lg-1 style-col">
                    <label class="control-label">Top:</label>
                    <vr-dropdown datatextfield="name" datavaluefield="value"
                                 entityname="" type="standard" options="optionsTopCount" onselectionchange="filterChanged"></vr-dropdown>
                </div>
            </div>

            <div class="row style-row">
                <div class="col-lg-5 style-col">
                    <vr-chart data-on-ready="chartTopDestinationsReady" style="display:inline-block"></vr-chart>
                    </div>
                    <div class="col-lg-5 style-col">
                        <vr-chart data-on-ready="chartZoneReady" style="display:inline-block"></vr-chart>
                    </div>
                </div>
            <div class="row style-row">
                <table>
                    <thead>
                        <tr>
                            <th style="width:250px">Zone Name</th>
                            <th style="width:150px" ng-repeat="header in otherMeasuresDescriptions"> {{header}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="dataItem in topDestinationData">
                            <td> {{dataItem.EntityName}}</td>
                            <td ng-repeat="value in dataItem.Values track by $index">{{value | number:2}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


           

