

<vr-row>
    <vr-columns colnum="6">
        <vr-button type="Add" data-onclick="scopeModel.onAddVisibilityAccountDefinition" standalone></vr-button>
    </vr-columns>
</vr-row>
<vr-row removeline>
    <vr-columns colnum="12">
        <vr-datagrid on-ready="scopeModel.onGridReady"
                     datasource="scopeModel.visibilityAccountDefinitions"
                     ondeleterow="scopeModel.onDeleteVisibilityAccountDefinitions"
                     menuactions="scopeModel.menuActions"
                     enabledraggablerow="true"
                     hidegridmenu>

            <vr-datagridcolumn headertext="'Title'" field="'Entity.Title'" type="'Text'" widthfactor="1" disablesorting></vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>



