
<vr-panel ng-controller="Retail_BE_StatusDefinitionManagementController">
    <vr-form name="formFilter">

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="scopeModel.search"></vr-button>
                    <vr-button type="Add" data-onclick="addNewSellingNumberPlan" haspermission="hasAddSellingNumberPlanPermission"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <retail-be-statusdefinition-grid on-ready="scopeModel.onGridReady"> </retail-be-statusdefinition-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>