
<div ng-controller="GenericAnalyticGridController">
    <vr-datagrid datasource="datasource" defaultsortbyfieldname="'DimensionValues[0].Name'" pagingtype="'Pager'"
                 menuactions="gridMenuActions" dataretrievalfunction="dataRetrievalFunction" on-ready="gridReady">

        <vr-datagridcolumn ng-repeat="groupKey in currentSearchCriteria.groupKeys" ng-if="selectedMeasures.length > 0" headertext="groupKey.description" type="groupKey.type"
                           field="'DimensionValues[' + $index + '].Name'" columnindex="$index" widthfactor="15"></vr-datagridcolumn>

        <vr-datagridcolumn ng-repeat="measure in selectedMeasures" ng-if="selectedMeasures.length > 0" headertext="measure.description" type="measure.type"
                           field="'MeasureValues.' + measure.name + ''" tag="measure" getcolor="getColor"></vr-datagridcolumn>

        <vr-datagridexpandablerow ng-show="checkExpandablerow(currentSearchCriteria.groupKeys)">
            <div ng-include="'/Client/Modules/Analytics/Views/GenericAnalytic/GenericAnalyticSubGrid.html'"></div>
        </vr-datagridexpandablerow>
    </vr-datagrid>
</div>