<div ng-controller="GenericAnalyticSubGridController" vr-loader="isGettingData">
    <vr-choices selectedindex="selectedGroupKeyIndex" onselectionchanged="groupKeySelectionChanged();">
        <vr-choice ng-repeat="dimension in dimensions">{{dimension.name}}</vr-choice>
    </vr-choices>
    <div ng-repeat="dimension in dimensions">
        <vr-datagrid datasource="dimension.data" ng-show="dimension == selectedGroupKey" issubgrid dataretrievalfunction="dimension.dataRetrievalFunction"
                     pagingtype="'Pager'" on-ready="dimension.onGridReady">
            
            <vr-datagridcolumn headertext="dimension.name" field="'DimensionValues[0].Name'" widthfactor="15" type="dimension.type"></vr-datagridcolumn>
            <vr-datagridcolumn ng-repeat="measure in measures" headertext="measure.description" field="'MeasureValues.' + measure.name + ''" tag="measure" type="measure.type" 
                               getcolor="getColor"></vr-datagridcolumn>
            <vr-datagridexpandablerow ng-if="checkExpandablerow()">
                <div ng-include="'/Client/Modules/Analytics/Views/GenericAnalytic/GenericAnalyticSubGrid.html'"></div>
            </vr-datagridexpandablerow>
        </vr-datagrid>
    </div>
</div>