<vr-panel ng-controller="Generic_GenericAnalyticController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns colnum="1">
                    <vr-select label="Group By" datasource="groupKeys"
                               datatextfield="description" datavaluefield="value" onselectionchanged="groupSelectionChanged" selectedvalues="selectedGroupKeys" ismultipleselection isrequired></vr-select>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-datetimepicker type="date" label="From:" value="fromDate" isrequired></vr-datetimepicker>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-datetimepicker type="date" label="To:" value="toDate" isrequired></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Measures" datasource="measures"
                               datatextfield="description" datavaluefield="value" selectedvalues="selectedMeasures" ismultipleselection></vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Switches" datasource="switches"
                               datatextfield="Name" datavaluefield="SwitchId" selectedvalues="selectedSwitches" ismultipleselection></vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Code Groups" datasource="codeGroups"
                               datatextfield="Name" datavaluefield="Code" selectedvalues="selectedCodeGroups" ismultipleselection></vr-select>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-be-carriergroup type="'Customer'" selectedvalues="selectedCustomers"></vr-be-carriergroup>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-be-carriergroup type="'Supplier'" selectedvalues="selectedSuppliers"></vr-be-carriergroup>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select ismultipleselection datasource="searchZones" label="Zones" selectedvalues="selectedZones" datatextfield="Name" datavaluefield="ZoneId"
                               entityname="Zones"></vr-select>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <!--<vr-button type="Add" formname="formFilter" data-onclick="click"></vr-button>-->
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <div>
            <vr-row>
                <vr-columns colnum="12">
                    <div ng-include="'/Client/Modules/Analytics/Views/GenericAnalytic/GenericAnalyticGrid.html'"></div>
                </vr-columns>
            </vr-row>
        </div>
    </vr-form>
</vr-panel>