<div ng-show="ctrl.showGrid" vr-loader="ctrl.isLoadingGrid">
    <vr-datagrid datasource="rawCDRLog"
                 on-ready="onGridReady"
                 dataretrievalfunction="dataRetrievalFunction"
                 pagingtype="'PagingOnScroll'"
                 menuactions="gridMenuActions">
        <vr-datagridcolumn headertext="'AttemptDateTime'" field="'Entity.Attempt'" type="'Date'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'AlertDateTime'" field="'Entity.Alert'" type="'Date'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'ConnectDateTime'" field="'Entity.Connect'" type="'Date'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'DisconnectDateTime'" field="'Entity.Disconnect'" type="'Date'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'DurationInSeconds'" field="'Entity.DurationInSeconds'" type="'Number'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Data Source'" field="'DataSourceName'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Service Type'" field="'ServiceTypeDescription'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'CDR Type'" field="'CDRTypeDescription'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Direction'" field="'DirectionDescription'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Zone'" field="'Zone'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Operator'" field="'Operator'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'IN TRUNK'" field="'Entity.InTrunk'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'IN IP'" field="'Entity.PortIn'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'OUT TRUNK'" field="'Entity.OutTrunk'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'OUT IP'" field="'Entity.PortOut'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'CGPN'" field="'Entity.CGPN'" widthfactor="5"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'CDPN'" field="'Entity.CDPN'" widthfactor="5"></vr-datagridcolumn>
    </vr-datagrid>
</div>
