<vr-row>
    <vr-analytic-dimension-selector normal-col-num="6" customlabel="Customer Dimension" on-ready="scopeModel.onCustomerDimensionSelectorDirectiveReady" isrequired="true"></vr-analytic-dimension-selector>
    <vr-analytic-dimension-selector normal-col-num="6" customlabel="Supplier Dimension" on-ready="scopeModel.onSupplierDimensionSelectorDirectiveReady" isrequired="true"></vr-analytic-dimension-selector>
    <vr-analytic-dimension-selector normal-col-num="6" customlabel="Time Dimension" on-ready="scopeModel.onTimeDimensionSelectorDirectiveReady" isrequired="true"></vr-analytic-dimension-selector>
</vr-row>   
    