<vr-row>
    <vr-columns width="1/3row">
        <vr-genericdata-datarecordtypefields-selector label="Customer Account Manager Field" on-ready="scopeModel.onCustomerFieldSelectorDirectiveReady" isrequired="true"></vr-genericdata-datarecordtypefields-selector>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-genericdata-datarecordtypefields-selector label="Supplier Account Manager Field" on-ready="scopeModel.onSupplierFieldSelectorDirectiveReady" isrequired="true"></vr-genericdata-datarecordtypefields-selector>
    </vr-columns>
</vr-row>