<vr-row>
    <vr-columns width="1/3row">
        <vr-genericdata-datarecordtypefields-selector label="Customer Field" on-ready="scopeModel.onCustomerFieldSelectorDirectiveReady" isrequired="true"></vr-genericdata-datarecordtypefields-selector>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-genericdata-datarecordtypefields-selector label="Supplier Field" on-ready="scopeModel.onSupplierFieldSelectorDirectiveReady" isrequired="true"></vr-genericdata-datarecordtypefields-selector>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-genericdata-datarecordtypefields-selector label="Time Field" on-ready="scopeModel.onTimeFieldSelectorDirectiveReady" isrequired="true"></vr-genericdata-datarecordtypefields-selector>
    </vr-columns>
</vr-row>