<vr-datagrid datasource="datastore"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.InvoiceTypeId">
    <vr-datagridcolumn headertext="'Invoice Type Id'" type="'Text'" field="'Entity.InvoiceTypeId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" type="'Text'" field="'Entity.Name'"></vr-datagridcolumn>
</vr-datagrid>
