<vr-datagrid datasource="supplierZoneServices"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions" idfield="SupplierZoneServiceId"  enableautoexport="true">
    <vr-datagridcolumn headertext="'ID'" field="'SupplierZoneServiceId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Services'" fixedwidth="100" disablesorting>
        <vr-whs-be-services-viewer on-ready="dataItem.onServiceViewerReady"></vr-whs-be-services-viewer>
    </vr-datagridcolumn>
    <vr-datagridcolumn fixedwidth="25">
        <vr-icon icontype="dataItem.iconType"></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" field="'BED'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" field="'EED'" type="'Datetime'"></vr-datagridcolumn>
</vr-datagrid>