<vr-datagrid datasource="destinationGroups"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.DestinationGroupId">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.DestinationGroupId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Destination Type'" field="'DestinationTypeName'" type="'Text'"></vr-datagridcolumn>

</vr-datagrid>