<vr-columns colnum="{{importValidationResultCtrl.normalColNum * 2}}">
    <vr-row>
        <vr-label color={{scopeModel.errorMessageColor}} ng-if="scopeModel.errorMessage">{{scopeModel.errorMessage}}</vr-label>
    </vr-row>
    <a href="" ng-click="scopeModel.toggleAllIncludableZonesSelection(true)" ng-enable="scopeModel.hasIncludableZones">Include All Zones</a>   /
    <a href="" ng-click="scopeModel.toggleAllIncludableZonesSelection(false)" ng-enable="scopeModel.hasIncludableZones">Exclude All Zones</a>
    <vr-datagrid on-ready="scopeModel.onGridReady"
                 datasource="scopeModel.invalidImportedRows"
                 loadmoredata="scopeModel.loadMoreGridData"
                 pagingtype="'PagingOnScroll'"
                 norowhighlightonclick="'true'"
                 maxheight="300px"
                 hidegridmenu
                 ng-if="!scopeModel.errorMessage">
        <vr-datagridcolumn headertext="'Include'" widthfactor="10" columnindex="0" invisibleheader disablesorting="true" ng-if="!hideSelectedColumn" fixedwidth="'30'">
            <vr-check ng-if="dataItem.Entity.CanBeIncluded" value="dataItem.Entity.Include"></vr-check>
        </vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Row Index'" field="'Entity.RowIndex'" type="'Text'" disablesorting></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Zone'" field="'Entity.ImportedRow.Zone'" type="'Text'" disablesorting></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Rate'" field="'Entity.ImportedRow.Rate'" type="'Number'" numberprecision="'LongPrecision'" disablesorting></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Volume'" field="'Entity.ImportedRow.TargetVolume'" type="'Text'" disablesorting></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Error Message'" field="'Entity.ErrorMessage'" type="'Text'" widthfactor="60" disablesorting></vr-datagridcolumn>
    </vr-datagrid>
</vr-columns>