<vr-modalcontent ng-controller="RoutingRules_RouteRuleEditorController">
    <vr-modalbody maxheight="'1200px'" vr-loader="isGettingData">

        <vr-form name="formRouteRuleEditor">
            <vr-row>
                <vr-columns colnum="2">
                    <vr-select label="Rule Type:" datatextfield="name" datavaluefield="objectType" isrequired
                               onselectionchanged="onchangeRouteRule" datasource="ruleTypes" selectedvalues="selectedRuleType"></vr-select>

                </vr-columns>

            </vr-row>
            <vr-row>
                <vr-select type="menu" datatextfield="name" datavaluefield="name"
                           onselectionchanged="update2" datasource="customerSets" selectedvalues="selectedCustomerSet"></vr-select>
                <div ng-include src="selectedCustomerSet.url">
                </div>
            </vr-row>
            <vr-row>
                <vr-select type="menu" datatextfield="name" datavaluefield="name"
                           datasource="codeSets" selectedvalues="selectedCodeSet" onselectionchanged="onchangeEditorType"></vr-select>

                <div ng-include src=" selectedCodeSet.url">
                </div>
            </vr-row>
            <vr-row>
                <vr-columns colnum="4">
                    <vr-row removeline>
                        <vr-columns colnum="6" colnumsm="4">
                            <vr-datetimepicker label="Begin Effective Date:" type="date" value="BEDDate" isrequired></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>
                </vr-columns>
                <vr-columns colnum="4">
                    <vr-row removeline>
                        <vr-columns colnum="6" colnumsm="4">
                            <vr-datetimepicker label="End Effective Date:" type="date" value="EEDDate"></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>
                </vr-columns>
            </vr-row>

            <vr-row ng-show="selectedRuleType  && selectedRuleType.name != 'Block Route' && selectedRuleType.url!='' ">
                <div class="col-lg-12 ">
                    <h4>{{selectedRuleType.name}} Details:</h4>
                </div>
                <div style="min-height:70px" ng-include src="selectedRuleType.url">

                </div>
            </vr-row>
            <vr-row removeline>
                <vr-columns colnum="12">
                    <vr-label>Reason:</vr-label>
                    <textarea class="form-control" ng-model="Reason" />
                </vr-columns>
            </vr-row>
        </vr-form>

    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="saveRouteRule" formname="formRouteRuleEditor"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</vr-modalcontent>