<vr-modalcontent ng-controller="RoutingRules_RouteRuleEditorController">
    <vr-modalbody maxheight="'1200px'" vr-loader="isGettingData">

        <vr-form name="formRouteRuleEditor">
            <vr-row removeline>
                <vr-columns colnum="12">
                    <vr-choices on-ready="choicesRuleTypeReady">
                        <vr-choice isselected="choiceRuleDefinitionSelected">Rule Definition</vr-choice>
                        <vr-choice isselected="choiceCarrierSetSelected">Carrier Set</vr-choice>
                        <vr-choice isselected="choiceDestinationSelected">Destination</vr-choice>
                        <vr-choice isselected="choiceScheduleSelected">Schedule Setting</vr-choice>
                    </vr-choices>
                </vr-columns>
            </vr-row>
            <div ng-show="choiceRuleDefinitionSelected">
                <vr-row>
                    <vr-columns colnum="3">
                        <vr-select label="Rule Type" datatextfield="name" datavaluefield="objectType" isrequired
                                   onselectionchanged="onchangeRouteRule" datasource="ruleTypes" selectedvalues="selectedRuleType"></vr-select>

                    </vr-columns>
                </vr-row>
                <vr-row>
                    <vr-columns width="fullrow">
                        <h4 ng-show="selectedRuleType  && selectedRuleType.name != 'Block Route' && selectedRuleType.url!='' ">{{selectedRuleType.name}} Details:</h4>
                    </vr-columns>
                       
</vr-row>
                    
                    <vr-row ng-show="selectedRuleType  && selectedRuleType.name != 'Block Route' && selectedRuleType.url!='' " ng-include src="selectedRuleType.url">

                        <!--<div class="col-lg-12 ">
                <h4>{{selectedRuleType.name}} Details:</h4>
            </div>
            <div style="min-height:70px">

            </div>-->
                    </vr-row>
                    <vr-row removeline>
                        <vr-columns colnum="12">
                            <vr-label>Reason</vr-label>
                            <textarea class="form-control" ng-model="Reason" />
                        </vr-columns>
                    </vr-row>
</div>
            <div ng-show="choiceCarrierSetSelected">
                <vr-row>
                    <vr-columns colnum="3">
                        <vr-select label="Carrier Set Type" datatextfield="name" datavaluefield="name"
                                   onselectionchanged="update2" datasource="customerSets" selectedvalues="selectedCustomerSet"></vr-select>
                    </vr-columns>

                </vr-row>
                <vr-row ng-include src="selectedCustomerSet.url">
                </vr-row>
            </div>
            <div ng-show="choiceDestinationSelected">
                <vr-row>
                    <vr-columns colnum="3">
                        <vr-select label="Destination Type" datatextfield="name" datavaluefield="name"
                                   datasource="codeSets" selectedvalues="selectedCodeSet" onselectionchanged="onchangeEditorType"></vr-select>
                    </vr-columns>

                </vr-row>

                <vr-row ng-include src=" selectedCodeSet.url">

                </vr-row>
            </div>

            <div ng-show="choiceScheduleSelected">
                <vr-row >
                    <vr-columns width="normal">
                        <vr-datetimepicker label="Begin Effective Date" type="date" value="BED" isrequired></vr-datetimepicker>
                    </vr-columns>
                    <vr-columns width="normal">
                        <vr-datetimepicker label="End Effective Date" type="date" value="EED"></vr-datetimepicker>
                    </vr-columns>
                </vr-row>
                <vr-row >
                    <vr-columns width="normal">
                        <vr-datetimepicker label="From Time" type="date" value="FromTime"></vr-datetimepicker>

                    </vr-columns>
                    <vr-columns width="normal">
                        <vr-datetimepicker label="To Time" type="date" value="ToTime"></vr-datetimepicker>

                    </vr-columns>
                    <vr-columns width="normal">
                        <vr-select label="Days" ismultipleselection hideselectedvaluessection="true" datatextfield="name" datavaluefield="value"
                                   datasource="daysOfWeek" selectedvalues="selectedDaysOfWeek"></vr-select>
                    </vr-columns>
                </vr-row>
            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="saveRouteRule" formname="formRouteRuleEditor"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>

</vr-modalcontent>