<div vr-modalcontent ng-controller="VR_Sec_BusinessEntityEditorController" vr-loader="isLoading" width="'50%'">
    <vr-modalbody>
        <vr-form name="formBusinessEntityEditor">
            <vr-row>

                <vr-columns width="1/2row" ng-hide="isEditMode">
                    <vr-section title="Permission Holders">
                        <vr-validator validationcontext="SaveGroup" validate="validateSelectors()">
                            <vr-row>
                                <vr-columns width="fullrow">
                                    <vr-sec-user-selector on-ready="onUserSelectorReady" selectedvalues="selectedUsers" ismultipleselection></vr-sec-user-selector>
                                </vr-columns>
                            </vr-row>
                            <vr-row>
                                <vr-columns width="fullrow">
                                    <vr-sec-group-selector on-ready="onGroupSelectorReady" selectedvalues="selectedGroups" ismultipleselection></vr-sec-group-selector>
                                </vr-columns>
                            </vr-row>
                        </vr-validator>
                    </vr-section>
                </vr-columns>

                <vr-columns width="1/2row">
                    <vr-section title="Assigned Permissions">
                        <vr-validator validationcontext="SaveGroup" validate="validateAssignedPermissions()">
                            <vr-row ng-repeat="permission in entityPermissions">
                                <vr-columns width="1/2row">
                                    {{permission.name}}
                                </vr-columns>

                                <vr-columns width="1/2row">
                                    <vr-choices selectedindex="permission.selectedFlagOptionIndex" onselectionchanged="onPermissionSelectionChanged(permission)" isradio>
                                        <vr-choice ng-repeat="permissionFlagOption in permissionFlagOptions">{{permissionFlagOption}}</vr-choice>
                                    </vr-choices>
                                </vr-columns>
                            </vr-row>
                        </vr-validator>
                    </vr-section>
                </vr-columns>

            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formBusinessEntityEditor" data-onclick="save" validationcontext="SaveGroup"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
