<vr-panel ng-controller="VR_Sec_BusinessEntityManagementController">
    <vr-form name="formBusinessEntity" vr-loader="isLoading">
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true">
                <div transclude-to="buttons">
                    <vr-button type="BreakInheritance"
                               formname="formBusinessEntity"
                               ng-if="currentNode != undefined && showBreakInheritance"
                               ng-show="showBreakInheritane"
                               data-onclick="toggleInheritance"
                               isasynchronous=" true">
                    </vr-button>
                    <vr-button type="AllowInheritance"
                               formname="formBusinessEntity"
                               ng-if="currentNode != undefined &&!showBreakInheritance"
                               ng-show="showBreakInheritane"
                               data-onclick="toggleInheritance"
                               isasynchronous=" true">
                    </vr-button>
                    <vr-button type="Add"
                               formname="formBusinessEntity"
                               haspermission="hasAddPermissionPermission"
                               ng-show="currentNode != undefined"
                               data-onclick="addPermission"
                               isasynchronous=" true">
                    </vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="1/3row">
                <vr-treeview on-ready="onTreeReady"
                             datachildrenfield="Children"
                             datatextfield="Title"
                             selecteditem="currentNode"
                             onvaluechanged="onTreeValueChanged">
                </vr-treeview>
            </vr-columns>
            <vr-columns width="2/3row" ng-show="currentNode">
                <vr-sec-permission-grid on-ready="onGridReady"></vr-sec-permission-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>
