<div vr-modalcontent ng-controller="VR_Sec_PermissionEditorController" width="'50%'" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formPermissionEditor">
            <vr-row>
                <vr-columns width="1/2row">
                    <div style="max-height:600px;overflow-y:auto">
                        <vr-treeview on-ready="onTreeReady"
                                     datachildrenfield="Children"
                                     datatextfield="Name"
                                     selecteditem="currentNode"
                                     onvaluechanged="onTreeValueChanged">
                        </vr-treeview>
                    </div>
                </vr-columns>
                <vr-columns width="1/2row" ng-show="currentNode">
                    <vr-section title="Assigned Permissions" vr-loader="isLoadingPermissions">
                        <vr-row ng-repeat="permission in entityPermissions">
                            <vr-columns width="1/2row">
                                {{permission.name}}
                            </vr-columns>
                            <vr-columns width="1/2row">
                                <vr-choices isradio onselectionchanged="onPermissionSelectionChanged(permission)" selectedindex="permission.selectedFlagOptionIndex">
                                    <vr-choice ng-repeat="permissionFlagOption in permissionFlagOptions">{{permissionFlagOption}}</vr-choice>
                                </vr-choices>
                            </vr-columns>
                        </vr-row>
                    </vr-section>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" haspermission="hasSaveAssignPermission" formname="formPermissionEditor" data-onclick="save"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
