<vr-columns colnum="3">
    <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.getParentVariables"
                                                            getworkflowarguments="scopeModel.getWorkflowArguments"
                                                            label="Group Ids" isrequired="!scopeModel.isVRWorkflowActivityDisabled"
                                                            value="scopeModel.groupIds">
    </businessprocess-vr-workflow-activity-expressionbuilder>
</vr-columns>