<vr-section title="Input Fields">
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onEffectiveOnReady" label="EffectiveOn" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onSellingNumberPlanIdReady" label="Selling Number Plan Id" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onCDPNReady" label="CDPN" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onCGPNReady" label="CGPN" isrequired="true"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
</vr-section>

<vr-section title="Output Fields">
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onSaleCodeReady" label="Sale Code"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onSaleZoneIdReady" label="Sale Zone Id"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onOriginatingSaleCodeReady" label="Originating Sale Code"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow">
            <vr-genericdata-expressionbuilder on-ready="scopeModel.onOriginatingSaleZoneIdReady" label="Originating Sale Zone Id"></vr-genericdata-expressionbuilder>
        </vr-columns>
    </vr-row>
</vr-section>
