<vr-row>
    <vr-columns width="1/2row">
        <vr-list maxitemsperrow="1">
            <vr-listitem ng-show="ctrl.number !=undefined"><vr-label>Rule.Number = {{ctrl.number}}</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.supplierId !=undefined"><vr-label>Rule.SupplierId=  {{ctrl.supplierId}}</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.effectiveOn !=undefined"><vr-label>Rule.EffectiveOn = {{ctrl.effectiveOn}}</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.supplierCode !=undefined"><vr-label>{{ctrl.supplierCode}} = Rule.SupplierCode</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.supplierZoneId !=undefined"><vr-label>{{ctrl.supplierZoneId}} = Rule.SupplierZoneId</vr-label></vr-listitem>
        </vr-list>
    </vr-columns>
</vr-row>
