<vr-row>
    <vr-columns width="1/3row">
        <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                          customlabel="Account Definitions"
                                                          isrequired="true">
        </vr-genericdata-businessentitydefinition-selector>
    </vr-columns>

    <vr-accountbalance-billingtransactiontype-selector on-ready="scopeModel.onSingleBillingTransactionTypeSelector"
                                                       normal-col-num="4"
                                                       isrequired="true">
    </vr-accountbalance-billingtransactiontype-selector>
    <vr-accountbalance-billingtransactiontype-selector on-ready="scopeModel.onMultiBillingTransactionTypeSelector"
                                                       normal-col-num="4"
                                                       ismultipleselection
                                                       isrequired="true">
    </vr-accountbalance-billingtransactiontype-selector>
</vr-row>