<vr-row>
    <vr-columns width="fullrow">
        <vr-whs-be-salezonegroup on-ready="onSaleZoneGroupDirectiveReady"></vr-whs-be-salezonegroup>
    </vr-columns>
       
</vr-row>
<vr-row>
    <vr-choices selectedindex="0">
        <vr-choice isselected="customerSelected">Customer</vr-choice>
        <vr-choice isselected="sellingProductSelected">Selling Product</vr-choice>

    </vr-choices>
    <vr-columns width="fullrow" ng-if="customerSelected">
        <vr-whs-be-customergroup on-ready="onCustomerGroupDirectiveReady"></vr-whs-be-customergroup>
    </vr-columns>
    <vr-columns width="fullrow" ng-if="sellingProductSelected">
        <vr-section title="Customers">
            <vr-columns width="normal" vr-loader="isLoadingSellingProductDirective">
                <vr-whs-be-sellingproduct-selector on-ready="onSellingProductDirectiveReady"></vr-whs-be-sellingproduct-selector>
            </vr-columns>
        </vr-section>
    </vr-columns>
</vr-row>





