<vr-panel ng-controller="BusinessEntity_AccountManagerManagementController">
    <vr-row>
        <vr-form name="managementForm">
            <vr-actionbar>
                <div transclude-to="buttons">
                    <vr-button type="AssignOrgChart" formname="managementForm" data-onclick="openOrgChartsModal"></vr-button>
                    <vr-button type="AssignCarriers" formname="managementForm" ng-show="tree.currentNode" data-onclick="openCarriersModal"></vr-button>
                </div>
            </vr-actionbar>
        </vr-form>
    </vr-row>

    <vr-row>
        <div data-angular-treeview="true"
             data-tree-id="tree"
             data-tree-model="nodes"
             data-node-id="nodeId"
             data-node-label="nodeName"
             data-node-children="nodeChildren">
        </div>
    </vr-row>
</vr-panel>
