<vr-panel ng-controller="BusinessEntity_AccountManagerManagementController">
    <vr-row>
        <vr-form name="managementForm">
            <vr-actionbar>
                <div transclude-to="buttons">
                    <vr-button type="AssignOrgChart" formname="managementForm" data-onclick="openOrgChartsModal"></vr-button>
                    <vr-button type="AssignCarriers" formname="managementForm" ng-show="currentNode" data-onclick="openCarriersModal"></vr-button>
                </div>
            </vr-actionbar>
        </vr-form>
    </vr-row>

    <div class="row">
        <div class="col-md-2">
            <vr-row>
                <vr-treeview on-ready="treeReady"
                    datachildrenfield="nodeChildren"
                    datavaluefield="nodeId"
                    datatextfield="nodeName"
                    selecteditem="currentNode"
                    onvaluechanged="treeValueChanged">
                </vr-treeview>

                <!--<div data-angular-treeview="true"
                     data-tree-id="tree"
                     data-tree-model="nodes"
                     data-node-id="nodeId"
                     data-node-label="nodeName"
                     data-node-children="nodeChildren">
                </div>-->
            </vr-row>
        </div>

        <div class="col-md-10">
            <vr-row>
                <vr-columns colnum="fullrow" simplecol>
                    <vr-datagrid datasource="assignedCarriers" on-ready="onGridReady" ng-show="currentNode">
                        <vr-datagridcolumn headertext="'Carrier Name'" field="'CarrierName'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Carrier Account Id'" field="'CarrierAccountId'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Is Customer'" field="'IsCustomer'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Is Supplier'" field="'IsSupplier'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Access'" field="'Access'"></vr-datagridcolumn>
                    </vr-datagrid>
                </vr-columns>
            </vr-row>
        </div>
    </div>
</vr-panel>
