<vr-panel ng-controller="BusinessEntity_AccountManagerManagementController">
    <vr-row>
        <vr-form name="managementForm">
            <vr-actionbar>
                <div transclude-to="buttons">
                    <vr-button type="AssignOrgChart" formname="managementForm" data-onclick="openOrgChartsModal"></vr-button>
                    <vr-button type="AssignCarriers" formname="managementForm" ng-show="currentNode" data-onclick="openCarriersModal"></vr-button>
                </div>
            </vr-actionbar>
        </vr-form>
    </vr-row>

    <vr-row vr-loader="isLoading">
        <div>
            <vr-columns colnum="3">
                <vr-treeview on-ready="treeReady"
                             datachildrenfield="nodeChildren"
                             datavaluefield="nodeId"
                             datatextfield="nodeName"
                             selecteditem="currentNode"
                             onvaluechanged="treeValueChanged">
                </vr-treeview>
            </vr-columns>
        </div>

        <div>
            <vr-columns colnum="9">
                <vr-columns width="fullrow" simplecol>
                    <vr-datagrid datasource="assignedCarriers"
                                 dataretrievalfunction="dataRetrievalFunction"
                                 pagingtype="'PagingOnScroll'"
                                 on-ready="gridReady"
                                 ng-show="currentNode">

                        <vr-datagridcolumn headertext="'Carrier Account ID'" field="'CarrierAccountID'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Carrier Name'" field="'CarrierName'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Is Customer'" field="'IsCustomerAssigned'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Is Supplier'" field="'IsSupplierAssigned'"></vr-datagridcolumn>
                    </vr-datagrid>
                </vr-columns>
            </vr-columns>
        </div>
    </vr-row>
</vr-panel>
