<div vr-modalcontent ng-controller="BusinessEntity_CarrierAssignmentEditorController" draggable="true">
    <vr-modalbody width="'50%'" vr-loader="isGettingData">
        <vr-form name="formAssignCarriers">
            <vr-row>
                <vr-colums width="normal">
                    <vr-select label="Carriers"
                               ismultipleselection
                               datasource="carriers"
                               selectedvalues="selectedCarriers"
                               datatextfield="CarrierName"
                               datavaluefield="CarrierAccountId">

                    </vr-select>
                </vr-colums>
            </vr-row>

            <vr-row>
                <ul class="list-group" ng-show="selectedCarriers.length > 0">
                    <li class="list-group-item list-custom" style="margin:1px;border:0px;font-size:12px;font-weight:bold;">
                        <div style="float:left;margin-left:25px;">Name</div>
                        <div style="float:right;margin-right:100px;">
                            <div style="display:inline-block;margin-right:100px;">Is Customer</div>
                            <div style="display:inline-block;">Is Supplier</div>
                        </div>
                    </li>
                </ul>

                <div style="height:300px;overflow-x:auto;min-width:300px;">
                    <ul class="list-group dragbelzone" ng-sortable="itemsSortable" ng-show="selectedCarriers.length > 0">
                        <li ng-repeat="item in selectedCarriers" class="list-group-item list-custom" style="margin:1px;font-size:12px">
                            <i class="glyphicon glyphicon-th-list handeldrag"></i>
                            <div style="display:inline-block;max-width:200px;">{{item.CarrierName}}</div>
                            <i class="glyphicon glyphicon-remove hand-cursor" style="float:right;padding:5px;cursor:default" ng-click="denyCarrier($event,item)"></i>
                            <div style="float:right;margin-right:60px;">
                                <div style="width: 100px; float: left; margin-right: 60px; text-align: center;">
                                    <vr-switch value="item.newCustomerSwitchValue" ng-show="item.IsCustomerAvailable" class="green"></vr-switch>
                                <div style="width:100px;float:left;text-align:center;">
                                    <vr-switch value="item.newSupplierSwitchValue" ng-show="item.IsSupplierAvailable" class="green"></vr-switch>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </vr-row>
        </vr-form>
    </vr-modalbody>

    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formAssignCarriers" data-onclick="assignCarriers"></vr-button>
                <vr-button type="Close" data-onclick="closeModal"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>