<!--<vr-row>
    <vr-columns colnum="6">
        <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onTaskTypeSelectorReady"></vr-genericdata-businessentitydefinition-selector>
    </vr-columns>
    <vr-columns colnum="6">
        <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.context.getParentVariables"
                                                                getworkflowarguments="scopeModel.context.getWorkflowArguments"
                                                                label="Task Title" isrequired="!scopeModel.isVRWorkflowActivityDisabled"
                                                                value="scopeModel.taskTitle">

        </businessprocess-vr-workflow-activity-expressionbuilder>
    </vr-columns>
</vr-row>

<vr-row>
    <vr-columns colnum="12">
        <vr-button type="Add" data-onclick="scopeModel.addAssign" standalone></vr-button>
    </vr-columns>
</vr-row>

<vr-row>
    <vr-columns colnum="6">
        <vr-datagrid on-ready="scopeModel.onInputGridReady" datasource="scopeModel.inputItems" hidegridmenu="true" disabledraggablecolumns>

            <vr-datagridcolumn headertext="'Field Name'" disablesorting="true">
                <vr-genericdata-datarecordtype-selector on-ready="dataItem.onInputDataRecordTypeSelectorReady"
                                                        onselectionchanged="dataItem.onInputRecordTypeSelectionChanged"
                                                        selectedvalues="dataItem.selectedInputDataRecordType"
                                                        isrequired="true" hideremoveicon>
                </vr-genericdata-datarecordtype-selector>
                <vr-datagridcolumn headertext="'Value'" type="'Text'" disablesorting="true">
                    <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="viewScope.scopeModel.context.getParentVariables" getworkflowarguments="viewScope.scopeModel.context.getWorkflowArguments"
                                                                            value="dataItem.value" hidelabel="true" isrequired="!viewScope.scopeModel.isVRWorkflowActivityDisabled"></businessprocess-vr-workflow-activity-expressionbuilder>
                </vr-datagridcolumn>

                <vr-datagridcolumn headertext="'Remove'" disablesorting="true" invisibleheader fixedwidth="30">
                    <span class="hand-cursor glyphicon glyphicon-remove" ng-show="viewScope.scopeModel.items.length > 1" ng-click="viewScope.scopeModel.removeAssign(dataItem)"></span>
                </vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>

    <vr-columns colnum="6">
        <vr-datagrid on-ready="scopeModel.onOutputGridReady" datasource="scopeModel.outputItems" hidegridmenu="true" disabledraggablecolumns>

            <vr-datagridcolumn headertext="'Field Name'" disablesorting="true">
                <vr-genericdata-datarecordtype-selector on-ready="dataItem.onOutputDataRecordTypeSelectorReady"
                                                        onselectionchanged="dataItem.onOutputRecordTypeSelectionChanged"
                                                        selectedvalues="dataItem.selectedOutputDataRecordType"
                                                        isrequired="true" hideremoveicon>
                </vr-genericdata-datarecordtype-selector>
                <vr-datagridcolumn headertext="'To'" type="'Text'" disablesorting="true">
                    <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="viewScope.scopeModel.context.getParentVariables" getworkflowarguments="viewScope.scopeModel.context.getWorkflowArguments"
                                                                            value="dataItem.value" hidelabel="true" isrequired="!viewScope.scopeModel.isVRWorkflowActivityDisabled"></businessprocess-vr-workflow-activity-expressionbuilder>
                </vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>-->