<!--<vr-row>
	Foreach <vr-textbox value="scopeModel.IterationVariableName" isrequired="ctrl.isrequired"></vr-textbox> in <vr-textbox value="scopeModel.List" isrequired="ctrl.isrequired"></vr-textbox>
</vr-row>
<vr-row>
	Item Type <vr-textbox value="scopeModel.IterationVariableType" isrequired="ctrl.isrequired"></vr-textbox>
</vr-row>
<businessprocess-vr-workflow-container on-ready="scopeModel.onWorkflowContainerReady" dragdropsetting="scopeModel.dragdropsetting"></businessprocess-vr-workflow-container>-->