<!--<div vr-modalcontent ng-controller="BusinessProcess_VR_WorkflowActivityCallHttpServiceController" size="medium">
	<vr-modalbody>
		<vr-form name="formEditActivity" vr-loader="scopeModel.isLoading">
			<vr-tabs>
				<vr-tab header="'Settings'">
					<vr-row>
						<vr-columns colnum="6">
							<vr-textbox value="scopeModel.serviceName" label="Service Name" isrequired="true"></vr-textbox>
						</vr-columns>
						<vr-columns colnum="2">
							<vr-select datasource="scopeModel.callHttpServiceMethodEnums" datavaluefield="value" datatextfield="description"
									   label="Method" isrequired="true" hideremoveicon selectedvalues="scopeModel.selectedCallHttpServiceMethod">
						</vr-columns>
						<vr-common-connection-selector normal-col-num="4" on-ready="scopeModel.onConnectionSelectorReady" isrequired="true"></vr-common-connection-selector>
					</vr-row>
					<vr-row>
						<vr-columns width="1/2row">
							<vr-textbox value="scopeModel.actionPath" label="Action Path" isrequired="true"></vr-textbox>
						</vr-columns>
						<vr-columns width="1/2row">
							<vr-select datasource="scopeModel.callHttpServiceMessageFormatEnums" datavaluefield="value" datatextfield="description"
									   label="Message Format" isrequired="true" hideremoveicon selectedvalues="scopeModel.selectedCallHttpServiceMessageFormat">
						</vr-columns>
					</vr-row>

					<vr-row>
						<vr-columns width="1/2row">
							<businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.context.getParentVariables" getworkflowarguments="scopeModel.context.getWorkflowArguments" label="'Body Logic'" isrequired="true" value="scopeModel.buildBodyLogic"></businessprocess-vr-workflow-activity-expressionbuilder>
						</vr-columns>
						<vr-columns colnum="4">
							<businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.context.getParentVariables" getworkflowarguments="scopeModel.context.getWorkflowArguments" label="'Is Succeeded'" isrequired="true" value="scopeModel.isSucceeded"></businessprocess-vr-workflow-activity-expressionbuilder>
						</vr-columns>
						<vr-columns colnum="2">
							<vr-switch value="scopeModel.context.continueWorkflowIfCallFailed" label="Continue If Call Failed"></vr-switch>
						</vr-columns>
					</vr-row>

					<vr-row>
						<vr-columns width="1/2row">
							<businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.context.getParentVariables" getworkflowarguments="scopeModel.context.getWorkflowArguments" label="'Response Logic'" isrequired="true" value="scopeModel.responseLogic"></businessprocess-vr-workflow-activity-expressionbuilder>
						</vr-columns>
						<vr-columns width="1/2row">
							<businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.context.getParentVariables" getworkflowarguments="scopeModel.context.getWorkflowArguments" label="'Error Logic'" isrequired="true" value="scopeModel.errorLogic"></businessprocess-vr-workflow-activity-expressionbuilder>
						</vr-columns>
					</vr-row>
				</vr-tab>

				<vr-tab header="'Headers'" ng-show="true">
					<businessprocess-vr-callhttpservice-headers-grid on-ready="scopeModel.onHeadersGridReady"></businessprocess-vr-callhttpservice-headers-grid>
				</vr-tab>

				<vr-tab header="'URL Parameters'" ng-show="true">
					<businessprocess-vr-callhttpservice-urlparameters-grid on-ready="scopeModel.onURLParametersGridReady"></businessprocess-vr-callhttpservice-urlparameters-grid>
				</vr-tab>
			</vr-tabs>
		</vr-form>
	</vr-modalbody>
	<div>
		<vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
			<div transclude-to="buttons">
				<vr-button type="Save" data-onclick="scopeModel.saveActivity" formname="formEditActivity"></vr-button>
				<vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
			</div>
		</vr-actionbar>
	</div>
</div>-->