<div vr-modalcontent ng-controller="BusinessProcess_VR_WorkflowActivityGetBusinessEntityController" size="medium">
    <vr-modalbody>
        <vr-form name="formEditActivity" vr-loader="scopeModel.isLoading">
            <vr-row>
                <vr-columns colnum="6">
                    <vr-textbox value="scopeModel.displayName" label="Display Name" isrequired="!scopeModel.isVRWorkflowActivityDisabled"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="6">
                    <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.context.getParentVariables"
                                                                            getworkflowarguments="scopeModel.context.getWorkflowArguments"
                                                                            isrequired="true"
                                                                            label="Entity ID"
                                                                            value="scopeModel.entityId">
                    </businessprocess-vr-workflow-activity-expressionbuilder>
                </vr-columns>
                <vr-columns colnum="6">
                    <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                                      onselectionchanged="scopeModel.onBusinessEntityDefinitionSelectionChanged"
                                                                      isrequired="true" customlabel="Business Entity Definition"
                                                                      hideremoveicon="true">
                    </vr-genericdata-businessentitydefinition-selector>

                </vr-columns>
            </vr-row>
            <span vr-loader="scopeModel.isLoadingSettingsDirective">
                <vr-directivewrapper ng-if="scopeModel.selectedBusinessEntity!=undefined " directive="scopeModel.selectedBusinessEntity.WorkFlowGetBEActivityEditor" on-ready="scopeModel.onSettingsDirectiveReady" isrequired="true"></vr-directivewrapper>
            </span>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="scopeModel.saveActivity" formname="formEditActivity"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>



