<div vr-modalcontent ng-controller="BusinessProcess_VR_WorkflowActivityAssignTaskController" size="large">
    <vr-modalbody>
        <vr-form name="formEditActivity" vr-loader="scopeModel.isLoading">
            <vr-row>
                <vr-columns colnum="3">
                    <vr-textbox value="scopeModel.displayName" label="Display Name" isrequired="!scopeModel.isVRWorkflowActivityDisabled"></vr-textbox>
                </vr-columns>
                <bp-tasktype-selector on-ready="scopeModel.onBPTaskTypeSelectorReady" selectedvalues="scopeModel.selectedTaskType" isrequired="!scopeModel.isVRWorkflowActivityDisabled" onselectionchanged="scopeModel.onBPTaskTypeSelectionChanged" normal-col-num="3" showaddbutton></bp-tasktype-selector>
                <vr-columns colnum="6">
                    <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.context.getParentVariables"
                                                                            getworkflowarguments="scopeModel.context.getWorkflowArguments"
                                                                            label="Task Title" isrequired="!scopeModel.isVRWorkflowActivityDisabled"
                                                                            value="scopeModel.taskTitle">
                    </businessprocess-vr-workflow-activity-expressionbuilder>
                </vr-columns>
            </vr-row>

            <vr-row>
                <bp-vr-workflow-taskassignees on-ready="scopeModel.onTaskAssigneesSelectorReady" normal-col-num="3"></bp-vr-workflow-taskassignees>
            </vr-row>

            <vr-row>
                <vr-columns colnum="6">
                    <vr-section title="Task Input" collapsible>
                        <vr-datagrid on-ready="scopeModel.onInputGridReady"
                                     datasource="scopeModel.inputItems"
                                     hidegridmenu="true"
                                     maxheight="500px"
                                     disabledraggablecolumns
                                     vr-loader="scopeModel.isInputGridLoading">

                            <vr-datagridcolumn headertext="'Field Name'" disablesorting="true" widthfactor="10">
                                <vr-label>{{dataItem.fieldName}}</vr-label>
                            </vr-datagridcolumn>
                            <vr-datagridcolumn disablesorting="true" fixedwidth="15">
                                <vr-label>=</vr-label>
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Value'" type="'Text'" disablesorting="true" widthfactor="20">
                                <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="viewScope.scopeModel.context.getParentVariables"
                                                                                        getworkflowarguments="viewScope.scopeModel.context.getWorkflowArguments"
                                                                                        value="dataItem.inputValue"
                                                                                        hidelabel="true">
                                </businessprocess-vr-workflow-activity-expressionbuilder>
                            </vr-datagridcolumn>
                        </vr-datagrid>
                    </vr-section>
                </vr-columns>

                <vr-columns colnum="6">
                    <vr-section title="Task Output" collapsible>
                        <vr-datagrid on-ready="scopeModel.onOutputGridReady"
                                     datasource="scopeModel.outputItems"
                                     hidegridmenu="true"
                                     maxheight="500px"
                                     disabledraggablecolumns
                                     vr-loader="scopeModel.isOutputGridLoading">

                            <vr-datagridcolumn headertext="'Expression To Set'" type="'Text'" disablesorting="true" widthfactor="20">
                                <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="viewScope.scopeModel.context.getParentVariables" 
                                                                                        getworkflowarguments="viewScope.scopeModel.context.getWorkflowArguments"
                                                                                        value="dataItem.outputTo" 
                                                                                        hidelabel="true">
                                </businessprocess-vr-workflow-activity-expressionbuilder>
                            </vr-datagridcolumn>
                            <vr-datagridcolumn disablesorting="true" fixedwidth="15">
                                <vr-label>=</vr-label>
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Field Name'" disablesorting="true" widthfactor="10">
                                <vr-label>{{dataItem.fieldName}}</vr-label>
                            </vr-datagridcolumn>
                        </vr-datagrid>
                    </vr-section>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="scopeModel.saveActivity" formname="formEditActivity"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
