<vr-row>
	<vr-columns colnum="6">
        <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.context.getParentVariables" getworkflowarguments="scopeModel.context.getWorkflowArguments" label="'To'" isrequired="!scopeModel.isVRWorkflowActivityDisabled" value="scopeModel.to"></businessprocess-vr-workflow-activity-expressionbuilder>
	</vr-columns>

	<vr-columns colnum="6">
        <businessprocess-vr-workflow-activity-expressionbuilder getactivityvariables="scopeModel.context.getParentVariables" getworkflowarguments="scopeModel.context.getWorkflowArguments" label="'Value'" isrequired="!scopeModel.isVRWorkflowActivityDisabled" value="scopeModel.value"></businessprocess-vr-workflow-activity-expressionbuilder>
	</vr-columns>
</vr-row>