<vr-columns width="1/3row" haschildcolumns>
    <vr-columns width="1/2row" >
        <retail-be-traffictype-selector on-ready="scopeModel.onTrafficTypeSelectorReady" selectedvalues="scopeModel.trafficType" isrequired =" true"></retail-be-traffictype-selector>
    </vr-columns>
    <vr-columns width="1/2row" isrequired>
        <retail-be-trafficdirection-selector on-ready="scopeModel.onTrafficDirectionSelectorReady" selectedvalues="scopeModel.trafficDirection" isrequired=" true"></retail-be-trafficdirection-selector>
    </vr-columns>
</vr-columns>
<vr-columns width="2/3row" haschildcolumns>
    <vr-columns width="1/4row">
        <vr-textbox value="scopeModel.numberOfSMSs" label="Number Of SMSs" type="number" decimalprecision="0" minvalue="0" isrequired></vr-textbox>
    </vr-columns>
</vr-columns>

