<vr-row>
    <vr-columns colnum="{{listMappingCtrl.normalColNum}}">
        <vr-cellviewer on-select="listMappingCtrl.selectFirstRowIndex" on-update="listMappingCtrl.updateFirstRowIndexRange" isrequired="true" value="listMappingCtrl.firstRowIndex" label="First Row" type="'row'"> </vr-cellviewer>
    </vr-columns>
    <vr-columns colnum="{{listMappingCtrl.normalColNum}}">
        <vr-cellviewer on-select="listMappingCtrl.selectLastRowIndex" on-update="listMappingCtrl.updateLastRowIndexRange" value="listMappingCtrl.lastRowIndex" label="Last Row" type="'row'"> </vr-cellviewer>
    </vr-columns>
</vr-row>   
<vr-row >
    <vr-columns colnum="fullrow">
        <vr-datagrid datasource="listMappingCtrl.fieldMappings" norowhighlightonclick="true"
                     on-ready="onGridReady" hidegridmenu>
            <vr-datagridcolumn headertext="'Field Name'" field="'FieldTitle'" widthfactor="5" disablesorting="true"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Field Mapping'" widthfactor="15" disablesorting="true">
                <excelconversion-fieldmapping-selective hidelabel="true" on-ready="dataItem.onFieldMappingReady" normal-col-num="{{dataItem.normalColNum}}" isrequired="dataItem.isRequired" customvalidate="dataItem.validate()" type="dataItem.type"> </excelconversion-fieldmapping-selective>
            </vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>   

