<vr-row>
    <vr-columns width="1/3row">
        <vr-select on-ready="scopeModel.onSelectorReady"
                   datasource="scopeModel.fieldTypeConfigs"
                   selectedvalues="scopeModel.selectedFieldTypeConfig"
                   datavaluefield="ExtensionConfigurationId"
                   datatextfield="Title"
                   label="Type"
                   text="None"
                   isrequired
                   hideremoveicon>
        </vr-select>
    </vr-columns>
    <vr-columns width="2/3row" ng-if="scopeModel.selectedFieldTypeConfig != undefined" vr-loader="scopeModel.isLoadingDirective">
        <vr-directivewrapper directive="scopeModel.selectedFieldTypeConfig.Editor" on-ready="scopeModel.onDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>