<vr-tabs>
    <vr-tab header="'Communication'">
        <whs-routesync-ericssonswitchcommunication on-ready="scopeModel.onEricssonSwitchCommunicationReady"></whs-routesync-ericssonswitchcommunication>
    </vr-tab>
    <vr-tab header="'Options'">
        <vr-row>
            <vr-columns width="1/4row">
                <vr-textbox value="scopeModel.numberOfMappings" label="Number Of Mappings" type="number" decimalprecision="0" minvalue="1" isrequired></vr-textbox>
            </vr-columns>
            <vr-columns width="1/4row">
                <vr-textbox value="scopeModel.interconnectGeneralPrefix" label="Interconnect General Prefix" type="text"></vr-textbox>
            </vr-columns>
            <vr-columns width="1/4row">
                <vr-textbox value="scopeModel.esr" label="ESR" type="text"></vr-textbox>
            </vr-columns>
            <vr-columns width="1/4row">
                <vr-textbox value="scopeModel.percentagePrefix" label="Percentage Prefix" type="text"></vr-textbox>
            </vr-columns>
        </vr-row>
        <vr-row removeline>
            <vr-columns width="1/4row">
                <vr-textbox value="scopeModel.firstRCNumber" label="First Route Case Number" type="number" decimalprecision="0" minvalue="1"
                            isrequired vr-disabled="scopeModel.isEditMode">
                </vr-textbox>
            </vr-columns>
            <whs-routesync-numberlength on-ready="scopeModel.onNumberLengthDirectiveReady" normal-col-num="3"></whs-routesync-numberlength>
            <whs-routesync-codecharge on-ready="scopeModel.onCodeChargeDirectiveReady" normal-col-num="3"></whs-routesync-codecharge>
            <!--<vr-columns width="1/4row">
                <whs-routesync-ericssonbackupsmode on-ready="scopeModel.onEricssonBackupsModeDirectiveReady"></whs-routesync-ericssonbackupsmode>
            </vr-columns>-->
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-section header="Branch Routes">
                    <whs-routesync-ericssonbranchroutesettings on-ready="scopeModel.onBranchRouteSettingsReady"></whs-routesync-ericssonbranchroutesettings>
                </vr-section>
            </vr-columns>
        </vr-row>
    </vr-tab>
    <vr-tab header="'Carrier Mapping'">
        <vr-row>
            <vr-columns width="fullrow">
                <whs-routesync-carrieraccountmapping-ericsson-grid on-ready="scopeModel.onCarrierAccountMappingGridReady"></whs-routesync-carrieraccountmapping-ericsson-grid>
            </vr-columns>
        </vr-row>
    </vr-tab>
    <vr-tab header="'Manual Routes'">
        <vr-section header="A-Number" collapsible>
            <whs-routesync-ericsson-manualroutes on-ready="scopeModel.onManualRoutesReady"></whs-routesync-ericsson-manualroutes>
        </vr-section>
        <vr-section header="Special Routing" collapsible>
            <whs-routesync-ericsson-specialroutes on-ready="scopeModel.onSpecialRoutingReady"></whs-routesync-ericsson-specialroutes>
        </vr-section>
    </vr-tab>
    <vr-tab header="'Reserved BTables'">
        <vr-section header="BTable" collapsible>
            <vr-row removeline>
                <vr-validator validate="scopeModel.validateReservedBTables()">
                    <vr-columns>
                        <vr-textbox value="scopeModel.reservedBTable" label="BTable" type="number" minvalue="0" maxvalue="100" decimalprecision="0"></vr-textbox>
                    </vr-columns>
                    <vr-columns withemptyline>
                        <vr-button type="Add" data-onclick="scopeModel.addReservedBTable" standalone vr-disabled="!scopeModel.isReservedBTableValid()"></vr-button>
                    </vr-columns>
                </vr-validator>
            </vr-row>
            <vr-datalist maxitemsperrow="12" datasource="scopeModel.reservedBTables" autoremoveitem="true">
                <vr-label>{{dataItem}}</vr-label>
            </vr-datalist>
        </vr-section>
        <vr-section header="BTable Range" collapsible>
            <vr-row removeline>
                <vr-validator validate="scopeModel.validateReservedBTableRanges()">
                    <vr-columns>
                        <vr-textbox value="scopeModel.reservedBTableRangeFrom" label="From" type="number" minvalue="0" maxvalue="100" decimalprecision="0"></vr-textbox>
                    </vr-columns>
                    <vr-columns>
                        <vr-textbox value="scopeModel.reservedBTableRangeTo" label="To" type="number" minvalue="0" maxvalue="100" decimalprecision="0"></vr-textbox>
                    </vr-columns>
                    <vr-columns withemptyline>
                        <vr-button type="Add" data-onclick="scopeModel.addReservedBTableRange" standalone vr-disabled="!scopeModel.isReservedBTableRangeValid()"></vr-button>
                    </vr-columns>
                </vr-validator>
            </vr-row>
            <vr-datalist maxitemsperrow="6" datasource="scopeModel.reservedBTableRanges" autoremoveitem="true">
                <vr-label>From: {{dataItem.From}}</vr-label>
                &emsp;&emsp;&emsp;&emsp;
                <vr-label>To: {{dataItem.To}}</vr-label>
            </vr-datalist>
        </vr-section>
    </vr-tab>
</vr-tabs>