<!--<vr-row>
    <vr-columns width="1/4row">
        <vr-whs-be-carrieraccount-selector on-ready="scopeModel.onSupplierSelectorReady"
                                           onselectionchanged="scopeModel.onSupplierSelectionChanged"
                                           getsuppliers customlabel="Backup Supplier">
        </vr-whs-be-carrieraccount-selector>
    </vr-columns>
    <vr-columns width="small">
        <vr-button type="Add" data-onclick="scopeModel.addBackupSupplier" vr-disabled="!scopeModel.isSupplierSelected || !scopeModel.areTrunksSelected" standalone></vr-button>
    </vr-columns>
</vr-row>-->