<vr-button type="Add" data-onclick="scopeModel.addSpecialRoute" standalone></vr-button>

<vr-validator validate="scopeModel.isValid()">
    <vr-datagrid on-ready="scopeModel.onGridReady"
                 datasource="scopeModel.datasource"
                 ondeleterow="scopeModel.removerow"
                 hidegridmenu>
        <vr-datagridcolumn headertext="'Target OBA'" widthfactor="9" disablesorting>
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-textbox type="number" value="dataItem.TargetOBA" decimalprecision="0" minvalue="0" maxvalue="100" isrequired customvalidate="viewScope.scopeModel.validateOBAs(dataItem)"></vr-textbox>
                </vr-columns>
            </vr-row>
        </vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Source OBA'" widthfactor="9" disablesorting>
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-textbox type="number" value="dataItem.SourceOBA" decimalprecision="0" minvalue="0" maxvalue="100" isrequired customvalidate="viewScope.scopeModel.validateOBAs(dataItem)"></vr-textbox>
                </vr-columns>
            </vr-row>
        </vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Type'" widthfactor="15" disablesorting>
            <whs-routesync-ericsson-specialrouting-type-selective colnum='5' on-ready="dataItem.onSpecialRouteTypeReady"></whs-routesync-ericsson-specialrouting-type-selective>
        </vr-datagridcolumn>
    </vr-datagrid>
</vr-validator>