    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="scopeModel.isLoading">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices-filter selectedindex="selectedFilternIndex">
                        <vr-choice-filter isselected="basicSelected">Basic</vr-choice-filter>
                        <vr-choice-filter isselected="advancedSelected">Advanced</vr-choice-filter>
                    </vr-choices-filter>
                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="normal" ng-show="scopeModel.showBusinessEntityDefinitionSelector">
                    <vr-directivewrapper ng-if="scopeModel.BEDefinitionSelectorLabel != undefined" directive="'vr-genericdata-businessentitydefinition-selector'"
                                         on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady" onselectionchanged="scopeModel.onBusinessEntityDefinitionSelectionChanged"
                                         customlabel="{{scopeModel.BEDefinitionSelectorLabel}}" hideremoveicon>
                    </vr-directivewrapper>
                </vr-columns>
                <vr-columns ng-show="scopeModel.isAccountBEDefinitionSelected" width="normal">
                    <vr-textbox label="Name" value="scopeModel.name"></vr-textbox>
                </vr-columns>
                <vr-columns ng-show="scopeModel.isAccountBEDefinitionSelected" width="normal">
                    <retail-be-account-roottype-selector on-ready="scopeModel.onAccountRootTypeSelectorReady" onselectionchanged="scopeModel.onlyRootAccountValueChanged"></retail-be-account-roottype-selector>
                </vr-columns>
                <retail-be-accounttype-selector on-ready="scopeModel.onAccountTypeSelectorReady" ng-show="scopeModel.isAccountBEDefinitionSelected"
                                                vr-loader="scopeModel.isAccountTypeSelectorLoading" normal-col-num="2" ismultipleselection="true">
                </retail-be-accounttype-selector>
                <vr-common-statusdefinition-selector on-ready="scopeModel.onStatusSelectorReady" ismultipleselection customlabel="Status" normal-col-num="2"></vr-common-statusdefinition-selector>
            </vr-row>
            <vr-row ng-show="advancedSelected && scopeModel.isAccountBEDefinitionSelected" removeline>
                <vr-columns width="fullrow">
                    <vr-section title="Advanced Filter" collapsible>
                        <vr-genericdata-recordfilter on-ready="scopeModel.onRecordFilterDirectiveReady"></vr-genericdata-recordfilter>
                    </vr-section>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons" ng-show="scopeModel.isAccountBEDefinitionSelected">
                    <vr-button type="DeselectAll" formname="formFilter" data-onclick="scopeModel.deselectAllClicked" vr-disabled="!scopeModel.enableDeselectAll" ng-show="scopeModel.showActionButtons"></vr-button>
                    <vr-button type="SelectAll" formname="formFilter" data-onclick="scopeModel.selectAllClicked" vr-disabled="!scopeModel.enableSelectAll" ng-show="scopeModel.showActionButtons"></vr-button>
                    <vr-button type="BulkActions" formname="formFilter" ng-show="scopeModel.showMenuActions" menuactions="scopeModel.addBulkActions"></vr-button>
                    <vr-button type="Search" formname="formFilter" data-onclick="scopeModel.search"></vr-button>
                    <vr-button type="Add" data-onclick="scopeModel.add" ng-show="scopeModel.showAddAccount"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <retail-be-account-grid ng-if="scopeModel.isGridLoaded" on-ready="scopeModel.onGridReady"></retail-be-account-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
