<vr-tabs>
    <vr-tab header="'Definition'">
        <vr-row>
            <vr-columns width="1/2row">
                <vr-textbox value="scopeModel.name" label="Name" isrequired></vr-textbox>
            </vr-columns>
            <vr-columns width="1/2row">
                <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                                  onselectionchanged="scopeModel.onBusinessEntityDefinitionSelectorChanged"
                                                                  customlabel="Account Definition" isrequired="true" hideremoveicon>
                </vr-genericdata-businessentitydefinition-selector>
            </vr-columns>
            <vr-invoicetype-selector on-ready="scopeModel.onInvoiceTypeSelectorReady" normal-col-num="6"></vr-invoicetype-selector>
            <vr-accountbalance-accounttype-selector on-ready="scopeModel.onBalanceAccountTypeSelectorReady" normal-col-num="6"></vr-accountbalance-accounttype-selector>

            <vr-columns width="1/2row">
                <retail-be-accountbedefinition-classification-selector on-ready="scopeModel.onClassificationSelectorReady" vr-loader="scopeModel.isClassificationSelectorLoading" 
                                                                       normal-col-num="6" ismultipleselection isrequired="true"></retail-be-accountbedefinition-classification-selector>
            </vr-columns>
        </vr-row>
    </vr-tab>
    <vr-tab header="'Settings'">
        <retail-be-financialaccountdefinition-extendedsettings on-ready="scopeModel.onExtendedSettingsDirectiveReady" normal-col-num="6"></retail-be-financialaccountdefinition-extendedsettings>
    </vr-tab>
</vr-tabs>