<vr-datagrid datasource="scopeModel.financialAccounts"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'Pager'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             idfield="FinancialAccountId">
    <vr-datagridcolumn headertext="'ID'" field="'SequenceNumber'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" field="'BED'" type="'Date'" widthfactor="'20'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" field="'EED'" type="'Date'" widthfactor="'20'"></vr-datagridcolumn>
</vr-datagrid>