<vr-row>
    <vr-columns width="fullrow">
        <vr-button type="Add" data-onclick="ctrl.addCriteriaField" standalone></vr-button>
    </vr-columns>
    <vr-columns width="fullrow" simplecol>
        <vr-validator validate="ctrl.validateCriteriaFields()">
            <vr-datagrid on-ready="ctrl.onGridReady"
                         datasource="ctrl.criteriaFields"
                         hidegridmenu
                         enabledraggablerow>
                <vr-datagridcolumn headertext="'Field Name'" type="'Text'" field="'FieldName'" disablesorting></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Title'" type="'Text'" field="'Title'" disablesorting></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Field Type'" type="'Text'" field="'FieldType'" disablesorting></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Rule Structure Behavior Type'" type="'Text'" field="'RuleStructureBehaviorType'" disablesorting></vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Priority'" type="'Number'" field="'Priority'" disablesorting></vr-datagridcolumn>
            </vr-datagrid>
        </vr-validator>
    </vr-columns>
</vr-row>