<vr-columns width="fullrow">
    <vr-button type="Add" data-onclick="ctrl.addPackageItem" standalone></vr-button>
</vr-columns>
<vr-columns width="fullrow">
    <vr-validator validate="ctrl.validatePackageItems()">
        <vr-datagrid on-ready="ctrl.onGridReady"
                     datasource="ctrl.packageItems"
                     menuactions="ctrl.menuActions"
                     ondeleterow="ctrl.removePackageItem"
                     norowhighlightonclick="true"
                     hidegridmenu>
            <vr-datagridcolumn headertext="'Service Type'" field="'serviceTypeTitle'" disablesorting></vr-datagridcolumn>
        </vr-datagrid>
    </vr-validator>
</vr-columns>