<vr-row>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID"
                   label="Tariff Type" datasource="pricingRuleTariffSettings" selectedvalues="selectedPricingRuleTariffSettings" isrequired>
        </vr-select>
    </vr-columns>
    <vr-columns width="3/4row" ng-show="selectedPricingRuleTariffSettings">
        <vr-directivewrapper directive="selectedPricingRuleTariffSettings.Editor" on-ready="onPricingRuleTariffTemplateDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>