<vr-row>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID"
                   label="TOD Type" datasource="pricingRuleTODSettings" selectedvalues="selectedPricingRuleTODSetting" isrequired>
        </vr-select>
    </vr-columns>
    <vr-columns width="3/4row" ng-show="selectedPricingRuleTODSetting" vr-loader="codeCriteriaAppendixLoader">
        <vr-directivewrapper directive="selectedPricingRuleTODSetting.Editor" on-ready="onPricingRuleTODSettingsDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>
