<vr-row>
    <vr-columns colnum="12" simplecol>
        <vr-datagrid datasource="purchasePricingRules"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     on-ready="gridReady"
                     menuactions="gridMenuActions"
                     idfield="Entity.RuleId">
            <vr-datagridcolumn headertext="'Description'" field="'Entity.Description'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Rule Type'" field="'Entity.Settings.RuleType'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Selling Product Id'" field="'Entity.Criteria.SellingProductId'"></vr-datagridcolumn>
        </vr-datagrid>

    </vr-columns>
</vr-row>
