<vr-columns width="1/3row">
    <vr-select datasource="scopeModel.outputStages"
               datavaluefield="stageName"
               datatextfield="stageName"
               selectedvalues="scopeModel.selectedMainOutputStages"
               ismultipleselection label="Main Output Stages">
    </vr-select>
</vr-columns>
<vr-columns width="1/3row">
    <vr-select datasource="scopeModel.outputStages"
               datavaluefield="stageName"
               datatextfield="stageName"
               selectedvalues="scopeModel.selectedPartialPricedOutputStages"
               ismultipleselection label="Partial Priced Output Stages">
    </vr-select>
</vr-columns>
<vr-columns width="1/3row">
    <vr-select datasource="scopeModel.outputStages"
               datavaluefield="stageName"
               datatextfield="stageName"
               selectedvalues="scopeModel.selectedBillingOutputStages"
               ismultipleselection label="Billing Output Stages">
    </vr-select>
</vr-columns>
<vr-columns width="1/3row">
    <vr-select datasource="scopeModel.outputStages"
               datavaluefield="stageName"
               datatextfield="stageName"
               selectedvalues="scopeModel.selectedTrafficOutputStages"
               ismultipleselection label="Traffic Output Stages">
    </vr-select>
</vr-columns>