<?xml version="1.0"?>
<connectionStrings>
  <add name="MainDBConnString" connectionString="" />
  <add name="ConfigurationDBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev_Configuration;User ID=development; Password=dev!123" />
  <add name="Mediation_GenericConfig_DBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev_Configuration;User ID=development; Password=dev!123;" providerName="System.Data.SqlClient" />
  <add name="Mediation_GenericRecord_DBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev;User ID=development; Password=dev!123;" providerName="System.Data.SqlClient" />
  <add name="Mediation_CDR_DBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev_CDR;User ID=development; Password=dev!123;" providerName="System.Data.SqlClient" />
  <add name="LogDBConnString" connectionString="Initial Catalog=Mediation_Dev_Logging;Data Source=.;User ID=sa; Password=p@ssw0rd" />
  <add name="TransactionDBConnString" connectionString="Data Source=.;Initial Catalog=Mediation_Dev_Transaction;User ID=sa; Password=p@ssw0rd" />
  <add name="QueueItemDBConnString" connectionString="Data Source=.;Initial Catalog=Mediation_Dev_Queueing;User ID=sa; Password=p@ssw0rd" />
  <add name="DataParserDBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev_Configuration;User ID=development; Password=dev!123" />
</connectionStrings>