<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>

    <section name="vanriseLogging" type="Vanrise.Common.LoggingConfiguration.LoggingConfig, Vanrise.Common" />
  </configSections>
  <vanriseLogging maxLogLevel="Information">
    <loggers>
      <logger name="SQLLogger" type="Vanrise.Logging.SQL.SQLLogger, Vanrise.Logging.SQL">
        <parameters>
          <parameter name="LoggingConnectionStringKey" value="LogDBConnString" />
          <parameter name="ConfigurationConnectionStringKey" value="ConfigurationDBConnString" />
        </parameters>
      </logger>
      <logger name="ConsoleLogger"  type="Vanrise.Common.ConsoleLogger, Vanrise.Common"></logger>
    </loggers>
    <exceptionLoggers>
      <exceptionLogger name="DefaultExceptionLogger"  type="Vanrise.Common.DefaultExceptionLogger, Vanrise.Common"></exceptionLogger>
    </exceptionLoggers>
  </vanriseLogging>

  <connectionStrings configSource="ConnectionStrings.config">
    <!--<add name="MainDBConnString" connectionString="" />
    <add name="ConfigurationDBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev_Configuration;User ID=development; Password=dev!123" />
    <add name="Mediation_GenericConfig_DBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev_Configuration;User ID=development; Password=dev!123;" providerName="System.Data.SqlClient" />
    <add name="Mediation_GenericRecord_DBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Mediation_Dev;User ID=development; Password=dev!123;" providerName="System.Data.SqlClient" />
    <add name="LogDBConnString" connectionString="Initial Catalog=Mediation_Dev_Logging;Data Source=.;User ID=sa; Password=p@ssw0rd" />
    <add name="TransactionDBConnString" connectionString="Data Source=.;Initial Catalog=Mediation_Dev_Transaction;User ID=sa; Password=p@ssw0rd" />
    <add name="QueueItemDBConnString" connectionString="Data Source=.;Initial Catalog=Mediation_Dev_Queueing;User ID=sa; Password=p@ssw0rd" />-->
  </connectionStrings>
  <appSettings file="appSettings.config">
    <add key="Web_ExtendedModulesNames" value="Common,Security,Runtime,Integration,BusinessProcess,Queueing,VR_Rules,VR_GenericData,Mediation_Generic,VR_DataParser,Mediation_Huawei"/>
    <add key="Vanrise License" value="28-22-92-DB-92-8B-8A-DE-78-FD-95-85-7B-E3-E8-19::==wMwkDM5EDMyMDM5ATNxAjM:kVGdwlncj5WR09mT" />
    <add key="EncryptionSecretKey" value="V@nR!se-Se6r3t" />
    <add key="TempPasswordValidity" value="24:00:00"/>

    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="RuntimeConnStringKey"                             value="TransactionDBConnString"/>
    <add key="BusinessProcessDBConnStringKey"                   value="TransactionDBConnString" />
    <add key="BigDataServiceDBConnStringKey"                    value="TransactionDBConnString"/>
    <add key="IntegrationConnStringKey"                         value="TransactionDBConnString"/>
    <add key="QueueDBConnStringKey"                             value="TransactionDBConnString"/>

    <add key="QueueItemDBConnStringKey"                         value="QueueItemDBConnString"/>

    <add key="BusinessProcessTrackingDBConnStringKey"           value="LogDBConnString"/>
    <add key="LoggingDBConnStringKey"                           value="LogDBConnString"/>

    <add key="SecurityDBConnStringKey"                          value="Mediation_GenericConfig_DBConnString" />
    <add key="ConfigurationDBConnStringKey"                     value="Mediation_GenericConfig_DBConnString" />
    <add key="BusinessProcessConfigDBConnStringKey"             value="Mediation_GenericConfig_DBConnString" />
    <add key="IntegrationConfigDBConnStringKey"                 value="ConfigurationDBConnString"/>
    <add key="RuntimeConfigDBConnStringKey"                     value="ConfigurationDBConnString"/>
    <add key="QueueingConfigDBConnStringKey"                    value="ConfigurationDBConnString"/>
    <add key="RulesDBConnStringKey"                             value="Mediation_GenericConfig_DBConnString"/>
    <add key="LoggingConfigDBConnStringKey"                     value="ConfigurationDBConnString"/>
    <add key="DataParserDBConnStringKey"                        value="ConfigurationDBConnString"/>

    <add key="Mediation_GenericRecord_DBConnStringKey"          value="Mediation_GenericRecord_DBConnString"/>
    <add key="Mediation_GenericConfig_DBConnStringKey"          value="Mediation_GenericRecord_DBConnString"/>

    <add key="BCPDonotDeleteFiles" value="false"/>
    <add key="BusinessProcess_ActivityEventsTracking" value="false"/>

    <add key="ExposedConnectionStringNames" value="Mediation_GenericRecord_DBConnString,ConfigurationDBConnString, Mediation_CDR_DBConnString"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <customErrors mode="Off" defaultRedirect="" />
    <httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="100000" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <modules>
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" preCondition="" />
      <!-- any other modules you want to run in MVC e.g. FormsAuthentication, Roles etc. -->
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>