<vr-datagrid datasource="scopeModel.products"
             on-ready="scopeModel.onGridReady"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="scopeModel.gridMenuActions"
             idfield="ProductId" enableautoexport="true">
    <vr-datagridcolumn headertext="'ID'" field="'ProductId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Product Name'" field="'Entity.Name'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>