<div vr-modalcontent ng-controller="UserEditorController">
    <vr-modalbody width="'50%'">
        <vr-form name="formUserEditor">
            <vr-row>
                <vr-columns colnum="6">
                    <vr-textbox value="txtEmail" label="Email"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="6">
                    <vr-textbox value="txtName" label="Name" customvalidate="CheckUserName"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="6">
                    <vr-textbox value="txtDescription" label="Description"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="6">
                    <vr-switch value="IsActive" label="Is Active"></vr-switch>
                </vr-columns>
            </vr-row>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formUserEditor" data-onclick="SaveUser" isasynchronous=" true"></vr-button>
                <vr-button type="Close" data-onclick="$hide"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
