

<vr-row>
    <retail-be-packagedefinition-selector on-ready="scopeModel.onPackageDefinitionsSelectorReady"
                                          selectedvalues="scopeModel.selectedPackageDefinitions"
                                          onselectitem="scopeModel.onSelectPackageDefinition"
                                          ondeselectitem="scopeModel.onDeselectPackageDefinition"
                                          normal-col-num="3"
                                          ismultipleselection
                                          hideremoveicon>
    </retail-be-packagedefinition-selector>
    <vr-columns width="3/4row" simplecol>
        <vr-datagrid datasource="scopeModel.packageDefinitions"
                     ondeleterow="scopeModel.onDeleteRow"
                     hidegridmenu>

            <vr-datagridcolumn field="'Name'" headertext="'Name'" disablesorting></vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>

