<vr-datagrid datasource="ctrl.dynamicViews"
             dataretrievalfunction="ctrl.dataRetrievalFunction"
             menuactions="ctrl.menuActions"
             on-ready="ctrl.onMainGridReady"
             pagingtype="'PagingOnScroll'"
             idfield="Entity.ViewId">
    <vr-datagridcolumn headertext="'Page Name'" localizedheadertext="'VRRes.Page Name.VREnd'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Menu Location'" localizedheadertext="'VRRes.Menu Location.VREnd'" field="'ModuleName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Audiences/Users'" localizedheadertext="'VRRes.Audiences/Users.VREnd'" field="'Entity.Audience.UsersName'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Audiences/Group Users'" localizedheadertext="'VRRes.Audiences/Group Users.VREnd'" field="'Entity.Audience.GroupsName'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Default Period'" localizedheadertext="'VRRes.Default Period.VREnd'" field="'Entity.ViewContent.DefaultPeriodDescription'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Default Grouping'" localizedheadertext="'VRRes.Default Grouping.VREnd'" field="'Entity.ViewContent.DefaultGroupingDescription'" disablesorting></vr-datagridcolumn>
</vr-datagrid>