<vr-datagrid datasource="pops"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="PopId">
    <vr-datagridcolumn headertext="'ID'" field="'PopId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Name'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Quantity'" field="'Quantity'" type="'Number'" numberprecision="'NoDecimal'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" field="'Description'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Location'" field="'Location'" type="'Text'"></vr-datagridcolumn>

</vr-datagrid>