<!--<vr-tabs>
    <vr-tab header="'Definition'">
        <vr-row>
            <vr-columns width="1/2row">
                <vr-textbox value="scopeModel.name" label="Name" isrequired></vr-textbox>
            </vr-columns>
        </vr-row>
    </vr-tab>
    <vr-tab header="'Settings'">
        <vr-row>
            <vr-common-exclusivesessiontype-extendedsettings on-ready="scopeModel.onVRExclusiveSessionTypeExtendedSettingsDirectiveReady"
                                                       normal-col-num="6">
            </vr-common-exclusivesessiontype-extendedsettings>
        </vr-row>
    </vr-tab>
</vr-tabs>-->