<!--<vr-columns colnum="{{ctrl.normalColNum}}">
    <vr-select on-ready="scopeModel.onSelectorReady"
               datasource="scopeModel.templateConfigs"
               selectedvalues="scopeModel.selectedTemplateConfig"
               datavaluefield="ExtensionConfigurationId"
               datatextfield="Title"
               isrequired="true"
               label="Availability Condition">
    </vr-select>
</vr-columns>
<vr-columns colnum="12">
    <vr-directivewrapper ng-if="scopeModel.selectedTemplateConfig != undefined" directive="scopeModel.selectedTemplateConfig.Editor" vr-loader="scopeModel.isLoadingDirective"
                         on-ready="scopeModel.onDirectiveReady" customvalidate="ctrl.customvalidate" normal-col-num="{{ctrl.normalColNum}}" isrequired="ctrl.isrequired">
    </vr-directivewrapper>
</vr-columns>-->
