<vr-columns width="1/2row" vr-loader="isLoadingCustomerDataTransformationDefinition">
    <vr-genericdata-datatransformationdefinition-selector on-ready="onCustomerDataTransformationDefinitionReady"
                                                          selectedvalues="selectedCustomerDataTransformationDefinition"
                                                          isrequired="true"
                                                          customlabel="CustomerTransformation"
                                                          hideremoveicon>

    </vr-genericdata-datatransformationdefinition-selector>
</vr-columns>

<vr-columns width="1/2row" vr-loader="isLoadingSupplierDataTransformationDefinition">
    <vr-genericdata-datatransformationdefinition-selector on-ready="onSupplierDataTransformationDefinitionReady"
                                                          selectedvalues="selectedSupplierDataTransformationDefinition"
                                                          isrequired="true"
                                                          customlabel="SupplierTransformation"
                                                          hideremoveicon>

    </vr-genericdata-datatransformationdefinition-selector>
</vr-columns>