<vr-datagrid datasource="carrierAccounts"
                on-ready="onGridReady"
                dataretrievalfunction="dataRetrievalFunction"
                pagingtype="'PagingOnScroll'"
                menuactions="gridMenuActions"
                idfield="Entity.CarrierAccountId"
                showexpand="isExpandable">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.CarrierAccountId'" type="'Text'" widthfactor="2"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Account Name'" field="'CarrierAccountName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Profile Name'" field="'CarrierProfileName'" type="'Text'" ng-show="!hideProfileColumn"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Account Type'" field="'AccountTypeDescription'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Activation Status'" field="'ActivationStatusDescription'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Selling Number Plan'" field="'SellingNumberPlanName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Services'" field="'Services'">
        <vr-whs-be-services-viewer on-ready="dataItem.onServiceReady"></vr-whs-be-services-viewer>
    </vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>