<vr-validator tobottom validate="scopeModel.isValid()">
    <div>
        <div ng-sortable="scopeModel.dragsettings">
            <vr-columns colnum="{{section.entity.ColNum}}" ng-repeat="section in ctrl.datasource" haschildcolumns>
                <vr-section-v2 header="section.entity.SectionTitle" dataitem="section" settings="scopeModel.sectionSettings" on-remove="scopeModel.removeSectionContainer">
                    <vr-row>
                        <span ng-if="scopeModel.isLocalizationEnabled" vr-loader="section.isTextResourceSelectorLoading">
                            <vr-row removeline>
                                <vr-common-vrlocalizationtextresource-selector on-ready="section.onTextResourceSelectorReady" normal-col-num="3"></vr-common-vrlocalizationtextresource-selector>
                            </vr-row>
                        </span>
                        <span vr-loader="section.isEditorDirectiveLoading">
                            <vr-genericdata-genericbe-editordefinition-settings on-ready="section.onEditorDirectiveReady" normal-col-num="3"></vr-genericdata-genericbe-editordefinition-settings>
                        </span>
                    </vr-row>
                </vr-section-v2>
            </vr-columns>
        </div>
        <vr-columns colnum="6" ng-show="scopeModel.showAddButton" haschildcolumns>
            <div style="margin-top: 8px;">
                <div class="vr-additem-box-vertical">
                    <span title="Add new section" class="glyphicon glyphicon-plus" ng-click="scopeModel.addSectionContainer()" style="position: absolute;color: #5cb85c;font-size: 36px;top: 25%;width: 100%;text-align: center;cursor: pointer;color: #5cb85c;"></span>
                </div>
            </div>
        </vr-columns>
    </div>
</vr-validator>
