<div vr-modalcontent ng-controller="WhS_Deal_SwapDealAnalysisController" width="'50%'" vr-loader="scopeModel.isLoading">
	<vr-modalbody>
		<vr-form name="formEditor">
			<vr-tabs>
				<vr-tab header="'Settings'">
					<vr-whs-deal-swapdealanalysis-settings on-ready="scopeModel.onSettingsReady" normal-col-num="4"></vr-whs-deal-swapdealanalysis-settings>
				</vr-tab>
				<vr-tab header="'Outbound Traffic'" ng-show="scopeModel.isOutboundTabVisible">
					<vr-validator validate="scopeModel.validateOutboundTab()">
						<vr-whs-deal-swapdealanalysis-outbound-management on-ready="scopeModel.onOutboundManagementReady"></vr-whs-deal-swapdealanalysis-outbound-management>
					</vr-validator>
				</vr-tab>
			</vr-tabs>
			<vr-whs-deal-swapdealanalysis-result on-ready="scopeModel.onResultReady" normal-col-num="3"></vr-whs-deal-swapdealanalysis-result>
		</vr-form>
	</vr-modalbody>
	<div>
		<vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
			<div transclude-to="buttons">
				<vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
			</div>
		</vr-actionbar>
	</div>
</div>