<vr-columns colnum="{{selectiveCtrl.normalColNum}}">
    <vr-label>{{selectiveCtrl.customLabel}}</vr-label>
    <vr-select on-ready="selectiveCtrl.onSaleRateEvaluatorSelectorReady"
               entityname="Rate Evaluator"
               datasource="selectiveCtrl.templateConfigs"
               selectedvalues="selectiveCtrl.selectedTemplateConfig"
               datavaluefield="ExtensionConfigurationId"
               datatextfield="Title"
               onselectionchanged="selectiveCtrl.onSaleRateEvaluatorSelectionChanged"
               hideremoveicon
               isrequired>
    </vr-select>
</vr-columns>   
<vr-columns colnum="{{selectiveCtrl.normalColNum}}" vr-loader="selectiveCtrl.isLoadingDirective">
    <vr-directivewrapper directive="selectiveCtrl.selectedTemplateConfig.Editor"
                         on-ready="selectiveCtrl.onDirectiveWrapperReady">
    </vr-directivewrapper>
</vr-columns>

