<vr-columns colnum="{{selectiveCtrl.normalColNum}}">
    <vr-select on-ready="selectiveCtrl.onSupplierRateEvaluatorSelectorReady"
               label="Rate Evaluator"
               entityname="Rate Evaluator"
               datasource="selectiveCtrl.templateConfigs"
               selectedvalues="selectiveCtrl.selectedTemplateConfig"
               datavaluefield="ExtensionConfigurationId"
               datatextfield="Title"
               onselectionchanged="selectiveCtrl.onSupplierRateEvaluatorSelectionChanged"
               hideremoveicon
               isrequired="selectiveCtrl.isrequired">
    </vr-select>
</vr-columns>
<vr-columns colnum="{{selectiveCtrl.normalColNum}}" vr-loader="selectiveCtrl.isLoadingDirective">
    <vr-directivewrapper ng-if="selectiveCtrl.selectedTemplateConfig != undefined"
                         directive="selectiveCtrl.selectedTemplateConfig.Editor"
                         on-ready="selectiveCtrl.onDirectiveWrapperReady"
                         isrequired="selectiveCtrl.isrequired">
    </vr-directivewrapper>
</vr-columns>
