<vr-section title="Excluded Options">
    <vr-row>
        <vr-columns width="1/3row">
            <vr-whs-be-carrieraccount-selector on-ready="scopeModel.onCarrierAccountDirectiveReady" selectedvalues="scopeModel.selectedSuppliers"
                                               onselectitem="scopeModel.onSelectSupplier" ondeselectitem="scopeModel.onDeselectSupplier"
                                               customlabel="Excluded Suppliers" ismultipleselection getsuppliers>
            </vr-whs-be-carrieraccount-selector>
        </vr-columns>
        <vr-columns width="2/3row" simplecol ng-show="false">
            <vr-validator validate="scopeModel.isValid()">
                <vr-datagrid datasource="scopeModel.fixedSuppliers" 
                             ondeleterow="scopeModel.onDeleteRow"
                             hidegridmenu>

                    <vr-datagridcolumn headertext="'Excluded Suppliers'" field="'Name'"></vr-datagridcolumn>
                </vr-datagrid>
            </vr-validator>
        </vr-columns>
    </vr-row>
</vr-section>