<vr-row>
    <vr-columns width="fullrow" haschildcolumns>
        <vr-columns width="1/3row">
            <vr-genericdata-datarecordtype-selector on-ready="scopeModel.onDataRecordTypeSelectorDirectiveReady" label="Data Record Type" isrequired="true" onselectionchanged="scopeModel.onRecordTypeSelectionChanged" selectedvalues="scopeModel.selectedDataRecordType" showaddbutton hideremoveicon></vr-genericdata-datarecordtype-selector>
        </vr-columns>
        <vr-columns width="1/3row">
             <vr-common-modalwidth-selector on-ready="scopeModel.onModalWidthSelectorReady" isrequired="true"></vr-common-modalwidth-selector>
        </vr-columns>
        <vr-columns width="1/3row">
            <vr-switch value="scopeModel.includeTaskLock" label="Include Task Lock"></vr-switch>
        </vr-columns>
    </vr-columns>
</vr-row>

<vr-row>
    <vr-columns colnum="12">
        <vr-section header="Editor">
            <vr-genericdata-genericbe-editordefinition-settings on-ready="scopeModel.onGenericBEEditorDefinitionDirectiveReady" normal-col-num="4" selectedvalues="scopeModel.selectedEditor"></vr-genericdata-genericbe-editordefinition-settings>
        </vr-section>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns colnum="12">
        <vr-section header="Actions">
            <vr-row>
                <vr-columns colnum="12">
                    <vr-button type="Add" data-onclick="scopeModel.onAddTaskTypeAction" standalone></vr-button>
                    <vr-validator validate="scopeModel.validateColumns()">
                        <vr-datagrid datasource="scopeModel.taskTypeActions"
                                     on-ready="scopeModel.onGridReady"
                                     idfield="TaskTypeActionId"
                                     menuactions="gridMenuActions"
                                     ondeleterow="scopeModel.removeTaskTypeAction"
                                     hidegridmenu
                                     vr-loader="scopeModel.isGridLoading">
                            <vr-datagridcolumn headertext="'Name'" field="'Name'" type="'Text'"></vr-datagridcolumn>
                        </vr-datagrid>
                    </vr-validator>
                </vr-columns>
            </vr-row>
        </vr-section>
    </vr-columns>
</vr-row>



