<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid datasource="currenciesExchangeRate"
                     on-ready="onGridReady"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     menuactions="gridMenuActions"
                     idfield="CurrencyExchangeRateId">

            <vr-datagridcolumn headertext="'ID'" field="'Entity.CurrencyExchangeRateId'" type="'Text'"></vr-datagridcolumn>           
            <vr-datagridcolumn headertext="'Currency'" field="'CurrencyName'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Exchange Date'" field="'Entity.ExchangeDate'" type="'Date'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Rate'" field="'Entity.Rate'" type="'Number'"></vr-datagridcolumn>

        </vr-datagrid>
    </vr-columns>
</vr-row>