<div vr-modalcontent ng-controller="VR_GenericData_GenericRuleDefinitionEditorController" width="'50%'" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formGenericRuleDefinitionEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-textbox type="text" label="Name" value="scopeModel.name" isrequired></vr-textbox>
                        </vr-columns>       
                        <vr-columns width="1/3row">
                            <vr-textbox type="text" label="Title" value="scopeModel.title" isrequired></vr-textbox>
                        </vr-columns>                             
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Object'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-common-objectvariable-management on-ready="scopeModel.onObjectDirectiveReady"></vr-common-objectvariable-management>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Criteria'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-genericdata-genericruledefinitioncriteriafield-management on-ready="scopeModel.onCriteriaDirectiveReady"></vr-genericdata-genericruledefinitioncriteriafield-management>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Settings'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-genericdata-genericruledefinitionsettings-selective on-ready="scopeModel.onSettingsDirectiveReady"></vr-genericdata-genericruledefinitionsettings-selective>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

                <vr-tab header="'Security'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="View">
                                <vr-sec-requiredpermission-grid on-ready="scopeModel.onViewRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="Add">
                                <vr-sec-requiredpermission-grid on-ready="scopeModel.onAddRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="Edit">
                                <vr-sec-requiredpermission-grid on-ready="scopeModel.onEditRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formGenericRuleDefinitionEditor" haspermission="hasSaveGenericRuleDefinition" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>