<div vr-modalcontent ng-controller="VR_GenericData_GenericRuleDefinitionEditorController" width="'50%'" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formGenericRuleDefinitionEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-textbox type="text" label="Name" value="scopeModel.name" isrequired></vr-textbox>
                        </vr-columns>       
                        <vr-columns width="1/3row">
                            <vr-textbox type="text" label="Title" value="scopeModel.title" isrequired></vr-textbox>
                        </vr-columns>                             
                    </vr-row>
                </vr-tab>
                 <vr-genericdata-genericruledefinition-settings on-ready="scopeModel.onGenericRuleDefinfitionSettingsReady"></vr-genericdata-genericruledefinition-settings>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formGenericRuleDefinitionEditor" haspermission="hasSaveGenericRuleDefinition" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>