<vr-datagrid datasource="ctrl.orgCharts"
             dataretrievalfunction="ctrl.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="ctrl.onGridReady"
             menuactions="ctrl.menuActions"
             idfield="OrgChartId">
    <vr-datagridcolumn headertext="'Name'" localizedheadertext="'VRRes.Name.VREnd'" type="'Text'" field="'Name'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>