<div ng-controller="CustomerController2">
    <div class="col-lg-2  style-col">
        <div class="dropdown dropdown-custom" id="dropdownMenuddl">
            <label class="dropdown-toggle hand-cursor" style="padding-top: 6px" type="button" id="dropdownMenuCu" data-toggle="dropdown" aria-expanded="true" ng-model='carrierAccountSelectionOption' >
                {{carrierAccountSelectionOption == 1 ? "  Customers: " : "  All Customers Except:"}}
            </label>
            <ul class="dropdown-menu dropdown-menu-custom " role="menu" aria-labelledby="dropdownMenuCu">
                <li role="presentation" ng-show="carrierAccountSelectionOption != 1">
                    <label class="item-menu hand-cursor" ng-click="carrierAccountSelectionOption = 1">Customers</label>
                </li>
                <li role="presentation" ng-show="carrierAccountSelectionOption != 2">
                    <label class="item-menu hand-cursor" ng-click="carrierAccountSelectionOption = 2">All Customers Except</label>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-2  style-col">

        <vr-dropdown type="multiple" options="optionsCustomers" datatextfield="Name" datavaluefield="CarrierAccountID"
                     entityname="Customers"></vr-dropdown>

    </div>
</div>
