<div ng-controller="CustomerController">
    <vr-columns colnum="2">
        <div class="dropdown dropdown-custom" id="dropdownMenuddl">
            <label class="dropdown-toggle hand-cursor" style="padding-top: 6px" type="button" id="dropdownMenuCu" data-toggle="dropdown" aria-expanded="true" ng-model='carrierAccountSelectionOption' >
                {{carrierAccountSelectionOption == 1 ? "  Customers: " : "  All Customers Except:"}}
            </label>
            <ul class="dropdown-menu dropdown-menu-custom " role="menu" aria-labelledby="dropdownMenuCu">
                <li role="presentation" ng-show="carrierAccountSelectionOption != 1">
                    <label class="item-menu hand-cursor" ng-click="carrierAccountSelectionOption = 1">Customers</label>
                </li>
                <li role="presentation" ng-show="carrierAccountSelectionOption != 2">
                    <label class="item-menu hand-cursor" ng-click="carrierAccountSelectionOption = 2">All Customers Except</label>
                </li>
            </ul>
        </div>
    </vr-columns>
    
    <vr-columns colnum="2">

        <vr-select ismultipleselection isrequired datasource="optionsCustomers.datasource" selectedvalues="optionsCustomers.selectedvalues" datatextfield="Name" datavaluefield="CarrierAccountID"
                   entityname="Customers"></vr-select>
        
    </vr-columns>
</div>
