<div ng-controller="PriorityController">
    <vr-columns colnum="2">
        <vr-select ismultipleselection hideselectedvaluessection="true" datasource="optionsSuppliers.datasource" 
                   selectedvalues="optionsSuppliers.selectedvalues" datatextfield="Name" datavaluefield="CarrierAccountID"
                   entityname="Suppliers" isrequired></vr-select>
        
    </vr-columns>
    <vr-columns colnum="4"  ng-class="optionsSuppliers.selectedvalues.length == 0 ? 'emptycol':''">
        <ul class="list-group" style="margin:0px" ng-show="optionsSuppliers.selectedvalues.length > 0">
            <li class="list-group-item list-custom" style="margin:1px;border:0px">
                <div style="display:inline-block;padding-left:25px">Supplier</div>
                <div style="float: right;">
                    <span>Force</span>
                    <span style="padding-right:50px">%</span>
                </div>
            </li>
        </ul>
        <ul class="list-group dragbelzone" ng-sortable="itemsSortable" ng-show="optionsSuppliers.selectedvalues.length > 0">
            <li ng-repeat="item in optionsSuppliers.selectedvalues" class="list-group-item list-custom" style="margin:1px">
                <i class="glyphicon glyphicon-th-list handeldrag"></i>
                {{item.Name}}
                <i class="glyphicon glyphicon-remove hand-cursor" style="float: right; padding: 5px; cursor:default" ng-click="selectSupplier($event,item)"></i>

                <div style="float: right">
                    <switch ng-model="item.Force" ng-init="item.Force = (item.Force)?item.Force:false " class="green"></switch>
                    <input type="text" class="form-control list-inpute list-inpute-float" ng-model="item.Percentage" size="3">
                </div>
            </li>
        </ul>
    </vr-columns>
</div>
