<vr-panel ng-controller="WhS_SupPL_ReceivedSupplierPricelistsController">
    <vr-form name="formFilter" vr-loader="scopeModel.isLoading">
        <div>
            <vr-row removeline>
                <vr-whs-be-carrieraccount-selector getsuppliers on-ready="scopeModel.onCarrierAccountDirectiveReady" normal-col-num="2" ismultipleselection></vr-whs-be-carrieraccount-selector>

                <vr-columns width="normal">
                    <whs-spl-receivedpricelist-status-selector on-ready="scopeModel.onStatusSelectorReady" ismultipleselection></whs-spl-receivedpricelist-status-selector>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-textbox label="Top" value="scopeModel.top" type="number" minvalue="1" decimalprecision="0" isrequired></vr-textbox>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar>
                <div transclude-to="buttons">
                    <vr-button type="Load" formname="formFilter" data-onclick="scopeModel.load"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <whs-spl-receivedsupplierpricelist-grid on-ready="scopeModel.onGridReady"></whs-spl-receivedsupplierpricelist-grid>
            </vr-columns>
        </vr-row>

    </vr-form>
</vr-panel>