<vr-panel ng-controller="WhS_SupPL_SupplierPriceListController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-row>
                        <vr-columns width="normal">
                            <vr-whs-be-carrieraccount type="'Supplier'" label="Supplier" onloaded="onCarrierAccountDirectiveLoaded" onselectionchanged="onselectionchanged" isrequired></vr-whs-be-carrieraccount>
                            </vr-columns>
                        <vr-columns width="normal">
                            <vr-label>Upload File</vr-label>
                            <vr-fileupload extension="reports" value="zoneList" isrequired> </vr-fileupload>

                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-datetimepicker type="dateTime" label="Effective Date" value="effectiveDate" ></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>
                </vr-columns>
            </vr-row>
        </div>
    </vr-form>

    <vr-row>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">

            <div transclude-to="buttons">
                <vr-button type="Upload" formname="formFilter" data-onclick="upload"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>


