<vr-panel ng-controller="WhS_SupPL_PriceListConversionController">
    <vr-form name="formFilter" vr-loader="scopeModel.isLoading">
        <vr-validation-group validationcontext="inPutExcelGroupValid">
            <div>
                <vr-row removeline>
                    <vr-columns width="normal">
                        <vr-select label="Pricelist Type" datasource="scopeModel.priceListTypes" datavaluefield="value" datatextfield="description" selectedvalues="scopeModel.selectedPriceListType" isrequired="true" hideremoveicon="true"></vr-select>
                    </vr-columns>

                    <vr-whs-be-carrieraccount-selector getsuppliers on-ready="scopeModel.onCarrierAccountDirectiveReady" normal-col-num="2" selectedvalues="scopeModel.selectedSupplier" onselectitem="scopeModel.carrierAccountSelectItem" isrequired="true"></vr-whs-be-carrieraccount-selector>

                    <span vr-loader="scopeModel.isLoadingCurrencySelector">
                        <vr-common-currency-selector on-ready="scopeModel.onCurrencyDirectiveReady" isrequired="true" normal-col-num="2"></vr-common-currency-selector>
                    </span>

                    <vr-columns width="normal">
                        <vr-datetimepicker type="date" label="Pricelist Date" value="scopeModel.priceListDate" isrequired></vr-datetimepicker>
                    </vr-columns>
                </vr-row>
                <vr-row removeline>
                    <vr-columns colnum="2" ng-if="scopeModel.selectedSupplier != undefined">
                        <vr-fileupload tempfile="true" extension="xls,xlsx,csv,xlsb" value="scopeModel.inPutFile" label="File Excel" isrequired="true"> </vr-fileupload>
                    </vr-columns>
                </vr-row>
                <vr-row removeline vr-loader="scopeModel.isLoadingSupplierPriceListTemplate">
                    <vr-columns width="1/2row" ng-if="scopeModel.selectedSupplier != undefined">
                        <vr-section title="Excel Viewer">
                            <vr-excel-wb fileid="scopeModel.inPutFile.fileId" on-ready="scopeModel.onReadyWoorkBook"></vr-excel-wb>
                        </vr-section>
                    </vr-columns>
                    <vr-columns width="1/2row" ng-show="scopeModel.selectedSupplier != undefined && scopeModel.showMapping">
                        <vr-validation-group validationcontext="scopeModel.configurationValidation">
                            <vr-section title="Supplier Price List Mapping">
                                <vr-row>
                                    <vr-columns width="fullrow">
                                        <whs-spl-supplierpricelistconfiguration-selective on-ready="scopeModel.onSupplierPriceListConfigurationSelectiveReady" normal-col-num="2"></whs-spl-supplierpricelistconfiguration-selective>
                                    </vr-columns>
                                </vr-row>
                            </vr-section>
                        </vr-validation-group>

                    </vr-columns>
                </vr-row>
            </div>
        </vr-validation-group>
        <vr-row>
            <vr-row removeline>
                <vr-actionbar showcollapsebutton="false">
                    <div transclude-to="buttons">
                        <vr-button type="Save" formname="formFilter" ng-show="scopeModel.selectedSupplier != undefined" validationcontext="scopeModel.configurationValidation" data-onclick="scopeModel.saveSupplierPriceListConfiguration" haspermission="scopeModel.hassaveSupplierPriceListConfigurationPermission"></vr-button>
                        <vr-button type="Upload" validationcontext="inPutExcelGroupValid" data-onclick="scopeModel.startImport"></vr-button>
                        <vr-button type="TestConversion" ng-if="true" validationcontext="inPutExcelGroupValid" data-onclick="scopeModel.testConversion"></vr-button>
                        <vr-button type="Reset"  data-onclick="scopeModel.reset"></vr-button>
                    </div>
                </vr-actionbar>
            </vr-row>
        </vr-row>
    </vr-form>
</vr-panel>
