<vr-row removeline>

    <vr-columns width="1/2row">
        <vr-genericdata-datatransformationdefinition-selector on-ready="ctrl.onSelectorReady"
                                                              selectedvalues="selectedDataRecordStorage"
                                                              isrequired="true">

        </vr-genericdata-datatransformationdefinition-selector>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="ctrl.SourceRecordName" label="Source Record Name" isrequired></vr-textbox>
    
        </vr-columns>

</vr-row>
