
<vr-columns width="1/3row">
    <vr-genericdata-datatransformationdefinition-selector on-ready="ctrl.onSelectorReady"
                                                          selectedvalues="selectedDataTransformation"
                                                          onselectionchanged="onSelectedDataTransformationChanged"
                                                          isrequired="true">

    </vr-genericdata-datatransformationdefinition-selector>
</vr-columns>
<vr-columns width="1/3row" ng-show="showTransformationRecordTypesSelector">
    <vr-select datasource="transformationRecordTypes"
               datavaluefield="RecordName"
               datatextfield="RecordName"
               selectedvalues="selectedDataRecordStorage"
               isrequired="true" label="Data Transformation Record">

    </vr-select>
</vr-columns>
