<div vr-modalcontent ng-controller="WhS_BE_FinancialAccountEditorController" size="medium" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formFinancialAccountEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row removeline>
                        <whs-be-financialaccountdefinition-selector isdisabled="scopeModel.disableFinancialAccountDefinition" on-ready="scopeModel.onFinancialAccountDefinitionSelectorReady" selectedvalues="scopeModel.selectedFinancialAccountDefinition" onselectionchanged=" scopeModel.onFinancialAccountDefinitionSelectionChanged" normal-col-num="6" isrequired="true" customlabel="Financial Account Type"></whs-be-financialaccountdefinition-selector>
                    </vr-row>
                    <vr-directivewrapper ng-if="scopeModel.financialAccountDefinitionRuntimeDirective != undefined" vr-loader="scopeModel.isLoadingDirective" directive="scopeModel.financialAccountDefinitionRuntimeDirective"
                                         on-ready="scopeModel.onDirectiveReady" isrequired="true">
                    </vr-directivewrapper>
                </vr-tab>
                <vr-tab header="'Settings'">
                    <vr-row removeline>
                        <vr-columns width="1/3row">
                            <vr-datetimepicker value="scopeModel.beginEffectiveDate" type="date" label="BED" isrequired customvalidate="scopeModel.validateDates()" vr-disabled="scopeModel.disableAccountTypeAndBED"></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-datetimepicker value="scopeModel.endEffectiveDate" type="date" label="EED" customvalidate="scopeModel.validateEEDDate()" onvaluechanged="scopeModel.onDateValueChanged" vr-disabled="scopeModel.disableEED"></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns width="1/3row" withemptyline ng-show="scopeModel.endEffectiveDate != undefined">
                            <vr-label>Last invoice can end at:</vr-label>
                            <vr-label>  {{scopeModel.periodEndsAt | date  :"yyyy-MM-dd HH:mm:ss"}}</vr-label>

                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-section title="{{invoiceSetting.title}} Invoice" ng-repeat="invoiceSetting in scopeModel.invoiceSettings" ng-if="scopeModel.showInvoiceSettingSelector">
                            <vr-invoice-invoicesetting-selector on-ready="invoiceSetting.onInvoiceSettingDirectiveReady" showviewbutton showaddbutton normal-col-num="4"></vr-invoice-invoicesetting-selector>
                            <vr-columns colnum="4">
                                <vr-textbox type="number" label="Commission (%)" value="invoiceSetting.commission" minvalue="-100" maxvalue="100"></vr-textbox>
                            </vr-columns>
                            <vr-columns colnum="4">
                                <vr-select datasource="scopeModel.commissionTypes"
                                           datatextfield="description"
                                           datavaluefield="value"
                                           selectedvalues="invoiceSetting.selectedCommissionType"
                                           entityname="Commission Type"
                                           label="Commission Type"
                                           isrequired="true" hideremoveicon>
                                </vr-select>
                            </vr-columns>
                        </vr-section>
                    
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formFinancialAccountEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>