<vr-panel ng-controller="Billing_SupplierInvoiceManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-select label="Supplier"
                               withlocalfilter
                               datasource="suppliers"
                               selectedvalues="selectedSupplier"
                               datatextfield="Name"
                               datavaluefield="CarrierAccountID"
                               entityname="Supplier"
                               isrequired>
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker label="From" value="from" type="date" isrequired></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker label="To" value="to" type="date" isrequired></vr-datetimepicker>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <div>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-datagrid datasource="invoices"
                             dataretrievalfunction="dataRetrievalFunction"
                             pagingtype="'Pager'"
                             on-ready="gridReady"
                             idfield="InvoiceID"
                             ng-show="showGrid">

                    <vr-datagridcolumn ng-repeat="measure in measures"
                                       headertext="measure.description"
                                       field="measure.propertyName"
                                       type="measure.type">
                    </vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>