<vr-panel ng-controller="Billing_SupplierInvoiceManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-select label="Supplier"
                               withlocalfilter
                               datasource="suppliers"
                               selectedvalues="selectedSupplier"
                               datatextfield="Name"
                               datavaluefield="CarrierAccountID"
                               entityname="Supplier"
                               isrequired>
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker label="From" value="from" type="date" isrequired></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker label="To" value="to" type="date" isrequired></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-switch label="Group By Day" value="groupByDay"></vr-switch>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <div>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-datagrid datasource="invoices"
                             dataretrievalfunction="dataRetrievalFunction"
                             pagingtype="'PagingOnScroll'"
                             on-ready="gridReady"
                             menuactions="gridMenuActions"
                             idfield="InvoiceID"
                             ng-show="showGrid">

                    <vr-datagridcolumn field="'SupplierName'" headertext="'Supplier'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'UserName'" headertext="'User'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'SerialNumber'" headertext="'Serial Number'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'BeginDate'" headertext="'Begin Date'" type="'Date'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'EndDate'" headertext="'End Date'" type="'Date'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'TimeZone'" headertext="'Time Zone'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'IssueDate'" headertext="'Issue Date'" type="'Date'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'DueDate'" headertext="'Due Date'" type="'Date'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'CreationDate'" headertext="'Creation Date'" type="'Datetime'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'NumberOfCalls'" headertext="'Calls'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'Duration'" headertext="'Duration (Mins)'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'Amount'" headertext="'Amount'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'CurrencyID'" headertext="'Currency'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'IsLocked'" headertext="'Is Locked'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'IsPaid'" headertext="'Is Paid'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'InvoiceNotes'" headertext="'Invoice Notes'" type="'Text'"></vr-datagridcolumn>

                    <vr-datagridexpandablerow>
                        <div ng-include="'/Client/Modules/Billing/Views/SupplierInvoiceDetailGrid.html'"></div>
                    </vr-datagridexpandablerow>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>