<vr-columns width="1/2row">
    <vr-select label="Filter" datatextfield="description" datavaluefield="value"
               datasource="filters" selectedvalues="selectedFilter" isrequired="true"></vr-select>
</vr-columns>
<!--<vr-columns width="1/2row">-->
    <!--<vr-textbox value="decimalValue" type="number" isrequired="true"></vr-textbox>-->
    <vr-genericdata-fieldtype-number-runtimeeditor on-ready="onNumberFilterEditorReady" isrequired="true" selectionmode="single" normal-col-num="6"></vr-genericdata-fieldtype-number-runtimeeditor>
<!--</vr-columns>-->