<vr-columns colnum="{{ctrl.normalColNum}}">
    <vr-switch label="Nullable" value="ctrl.isNullable" isrequired="true"></vr-switch>
</vr-columns>
<vr-columns colnum="{{ctrl.normalColNum}}">
    <vr-select on-ready="ctrl.onSelectorReady"
               datasource="ctrl.numberDataTypes"
               selectedvalues="ctrl.selectedNumberDataType"
               datavaluefield="value"
               datatextfield="description"
               label="Data Type"
               text="None"
               isrequired
               hideremoveicon>
    </vr-select>
</vr-columns>
<vr-columns colnum="{{ctrl.normalColNum}}" ng-if="ctrl.selectedNumberDataType.showPrecision">
    <vr-select on-ready="ctrl.onPrecisionSelectorReady"
               datasource="ctrl.numberDataPrecision"
               selectedvalues="ctrl.selectedNumberDataPrecision"
               datavaluefield="value"
               datatextfield="description"
               label="Data Precision"
               text="None"
               isrequired
               hideremoveicon>
    </vr-select>
</vr-columns>