<vr-columns width="fullrow">
    <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onAgentDefinitionSelectorReady"
                                                      customlabel="Reseller Definition"
                                                      isrequired="true">
    </vr-genericdata-businessentitydefinition-selector>
</vr-columns>
<vr-columns width="fullrow">
    <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onPosDefinitionSelectorReady"
                                                      customlabel="Point of Sale Definition"
                                                      isrequired="true">
    </vr-genericdata-businessentitydefinition-selector>
</vr-columns>
<vr-columns width="fullrow">
    <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onDistributorDefinitionSelectorReady"
                                                      customlabel="Distributor Definition"
                                                      isrequired="true">
    </vr-genericdata-businessentitydefinition-selector>
</vr-columns>