<vr-tab header="'Settings'">
    <vr-row>
        <vr-columns width="1/2row">
            <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onStatusDefinitionSelectorReady"
                                                              customlabel="Status Definition" normal-col-num="6" isrequired="true">
            </vr-genericdata-businessentitydefinition-selector>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-switch value="scopeModel.useRemoteSelector" label="Use Remote Selector"></vr-switch>
        </vr-columns>
    </vr-row>
    <vr-row>
        <retail-be-accounttype-selector on-ready="scopeModel.onAccountTypeSelectorReady" normal-col-num="6" customlabel="Local Service Account Type"></retail-be-accounttype-selector>
        <vr-columns width="1/2row">
            <vr-switch value="scopeModel.useFinancialAccountModule" label="Use Financial Account Module"></vr-switch>
        </vr-columns>
    </vr-row>
    <retail-be-accountbedefinition-financialaccountlocator on-ready="scopeModel.onFinancialAccountLocatorReady"
                                                           normal-col-num="6" isrequired="true">
    </retail-be-accountbedefinition-financialaccountlocator>
</vr-tab>
<vr-tab header="'Extra Fields'">
    <retail-be-accountextrafielddefinitions-management on-ready="scopeModel.onAccountExtraFieldDefinitionsReady" isrequired="true" normal-col-num="6"></retail-be-accountextrafielddefinitions-management>
</vr-tab>
<vr-tab header="'Grid'">
    <vr-section title="Columns">
        <retail-be-accountgriddefinition-management on-ready="scopeModel.onAccountGridDefinitionReady" isrequired="true" normal-col-num="6"></retail-be-accountgriddefinition-management>
    </vr-section>
    <vr-section title="Export Columns">
        <retail-be-accountgriddefinitionexportexcel-management on-ready="scopeModel.onAccountGridDefinitionExportExcelReady" isrequired="true" normal-col-num="6"></retail-be-accountgriddefinitionexportexcel-management>
    </vr-section>
</vr-tab>
<vr-tab header="'Views'">
    <retail-be-accountviewdefinitions-management on-ready="scopeModel.onAccountViewDefinitionsReady" isrequired="true" normal-col-num="6"></retail-be-accountviewdefinitions-management>
</vr-tab>
<vr-tab header="'Actions'">
    <retail-be-accountactiondefinitions-management on-ready="scopeModel.onAccountActionDefinitionsReady" isrequired="true" normal-col-num="6"></retail-be-accountactiondefinitions-management>
</vr-tab>
<vr-tab header="'Package Assignment'">
    <retail-be-accountcondition-selective on-ready="scopeModel.onPackageAssignmentConditionReady" normal-col-num="6"></retail-be-accountcondition-selective>
</vr-tab>
<vr-tab header="'Bulk Actions'">
    <retail-be-accountbulkactions-management on-ready="scopeModel.onAccountBulkActionsReady"></retail-be-accountbulkactions-management>
</vr-tab>
<vr-tab header="'Security'">
    <retail-be-accountsecuritydefinition-management on-ready="scopeModel.onAccountSecurityDefinitionsReady" isrequired="true" normal-col-num="6"></retail-be-accountsecuritydefinition-management>
</vr-tab>