<vr-tab header="'Settings'">
    <vr-row>
        <vr-columns width="1/2row">
            <vr-genericdata-businessentitydefinition-selector customlabel="Status Group" on-ready="scopeModel.onStatusDefinitionSelectorReady" isrequired="true" normal-col-num="6">
            </vr-genericdata-businessentitydefinition-selector>
        </vr-columns>
    </vr-row>
</vr-tab>
<vr-tab header="'Grid Columns'">
    <retail-be-accountgriddefinition-management on-ready="scopeModel.onAccountGridDefinitionReady" isrequired="true" normal-col-num="6"></retail-be-accountgriddefinition-management>
</vr-tab>
<vr-tab header="'Views'">
    <retail-be-accountviewdefinitions-management on-ready="scopeModel.onAccountViewDefinitionsReady" isrequired="true" normal-col-num="6"></retail-be-accountviewdefinitions-management>
</vr-tab>
<vr-tab header="'Actions'">
    <retail-be-accountactiondefinitions-management on-ready="scopeModel.onAccountActionDefinitionsReady" isrequired="true" normal-col-num="6"></retail-be-accountactiondefinitions-management>
</vr-tab>