<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VoIPSwitchTestApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="serverIP" value="192.168.22.23" />
    <add key="uid" value="hadi" />
    <add key="pwd" value="h@d!" />
    <add key="database" value="voipswitch" />
  </appSettings>
  <applicationSettings>
    <VoIPSwitchTestApp.Properties.Settings>
      <setting name="VoIPSwitchTestApp_PhoneNumberWebReference_PhoneNumberService"
        serializeAs="String">
        <value>http://91.236.236.53/PhoneService/PhoneNumberService.asmx</value>
      </setting>
    </VoIPSwitchTestApp.Properties.Settings>
  </applicationSettings>
</configuration>