<vr-section title="Action Settings">
    <div style="max-height: 250px;">
        <vr-whs-sales-bulkaction-type-selective on-ready="scopeModel.onBulkActionTypeSelectiveReady"
                                                normal-col-num="{{ctrl.normalColNum}}"
                                                isrequired="ctrl.isrequired"
                                                hideremoveicon="ctrl.isrequired">
        </vr-whs-sales-bulkaction-type-selective>
    </div>
</vr-section>