<vr-section title="Applicable Zones">
    <div style="height: 300px; max-height: 300px;">
        <vr-whs-sales-bulkaction-zonefilter-selective on-ready="scopeModel.onZoneFilterSelectiveReady"
                                                      normal-col-num="{{ctrl.normalColNum}}"
                                                      isrequired="ctrl.isrequired"
                                                      hideremoveicon="ctrl.isrequired">
        </vr-whs-sales-bulkaction-zonefilter-selective>
    </div>
</vr-section>