<div vr-modalcontent ng-controller="BusinessProcess_BP_BPGenericTaskTypeSettingsEditorController" width="'85%'">
    <vr-modalbody maxheight="'700px'">
        <vr-form name="formBPGenericTaskTypeSettings" vr-loader="scopeModel.isLoading">
            <vr-directivewrapper ng-if="scopeModel.runtimeEditor != undefined" directive="scopeModel.runtimeEditor" on-ready="scopeModel.onEditorRuntimeDirectiveReady"></vr-directivewrapper>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Continue" data-onclick="scopeModel.continueTask" formname="formBPGenericTaskTypeSettings"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
