<div vr-modalcontent ng-controller="BusinessProcess_BP_BPGenericTaskTypeSettingsEditorController" width="'85%'">
    <vr-modalbody maxheight="'700px'">
        <vr-form name="formBPGenericTaskTypeSettings" vr-loader="scopeModel.isLoading">
            <vr-directivewrapper ng-if="scopeModel.runtimeEditor != undefined" directive="scopeModel.runtimeEditor" on-ready="scopeModel.onEditorRuntimeDirectiveReady"></vr-directivewrapper>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <span ng-repeat="action in scopeModel.actions" ng-if="scopeModel.actions.length > 0">
                    <vr-directivewrapper directive="'vr-button'" type="{{action.type}}" data-onclick="action.onclick" menuactions="action.menuActions" formname="formBPGenericTaskTypeSettings"></vr-directivewrapper>
                </span>
            </div>
        </vr-actionbar>
    </div>
</div>
