<div vr-modalcontent width="'50%'" ng-controller="BusinessProccess_BPTaskEditorController">
    <vr-modalbody>
        <vr-form name="formCreateProcessInput" vr-loader="isLoading">
            <vr-row>
                <vr-columns width="fullrow" ng-if="bpTaskType && bpTaskType.Settings && bpTaskType.Settings.Editor">
                    <vr-directivewrapper directive="bpTaskType.Settings.Editor" on-ready="onBPTaskDirectiveReady"></vr-directivewrapper>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Start" data-onclick="executeTask" formname="formCreateProcessInput"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>