<span>
	<vr-columns colnum="{{mappedValueCtrl.normalColNum}}">
		<vr-select on-ready="onSelectorReady"
				   datasource="extensionConfigs"
				   selectedvalues="selectedExtensionConfig"
				   datavaluefield="ExtensionConfigurationId"
				   datatextfield="Title"
				   isrequired="mappedValueCtrl.isrequired"
				   hideremoveicon="mappedValueCtrl.isrequired">
		</vr-select>
	</vr-columns>
	<vr-directivewrapper on-ready="onDirectiveReady"
						 directive="selectedExtensionConfig.Editor"
						 normal-col-num="{{mappedValueCtrl.normalColNum}}"
						 isrequired="mappedValueCtrl.isrequired">
	</vr-directivewrapper>
</span>