<vr-row>
    <vr-columns width="1/2row">
        <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                          customlabel="Account Definitions"
                                                          isrequired="true">
        </vr-genericdata-businessentitydefinition-selector>
    </vr-columns>
    <retail-be-accountpartdefinition-selector on-ready="scopeModel.onCompanyExtentedInfoSelectorReady"
                                              normal-col-num="4"
                                              customlabel="Company Extended Info"
                                              isrequired="true">
    </retail-be-accountpartdefinition-selector>
</vr-row>