<div vr-modalcontent ng-controller="RetailBilling_ChargeType_CustomCodePricingLogicEditor" vr-loader="isLoading" width="'100%'">
    <vr-modalbody>
        <vr-form>
            <vr-row>
                <vr-columns colnum="{{(scopeModel.targetRecordTypeFields!= undefined && scopeModel.targetRecordTypeFields.length>0)||(scopeModel.chargeSettingsRecordTypeFields!= undefined && scopeModel.chargeSettingsRecordTypeFields.length>0)?'9':'12'}}">
                    <vr-row>
                        <vr-columns haschildcolumns colnum="12">
                            <vr-textarea on-ready="scopeModel.onTextAreaReady" trim="false" label="Pricing Logic" value="scopeModel.expressionValue" height="600" isrequired></vr-textarea>
                        </vr-columns>
                    </vr-row>
                </vr-columns>

                <vr-columns haschildcolumns colnum="3" ng-if="(scopeModel.targetRecordTypeFields!= undefined && scopeModel.targetRecordTypeFields.length>0)||(scopeModel.chargeSettingsRecordTypeFields!= undefined && scopeModel.chargeSettingsRecordTypeFields.length>0)">
                    <vr-row>
                        <vr-columns colnum="8">
                            <vr-textbox label="Name" onvaluechanged="scopeModel.filterValueChanged"></vr-textbox>
                        </vr-columns>
                    </vr-row>
                    
                    <vr-tabs>
                        <vr-tab header="'Target Record Fields'" ng-if="scopeModel.targetRecordTypeFields!= undefined && scopeModel.targetRecordTypeFields.length>0">
                            <vr-row>
                                <vr-columns width="fullrow">
                                    <vr-scrollable-container maxheight="519">
                                        <vr-datalist datasource="scopeModel.targetRecordTypeFields" onitemclicked="scopeModel.insertText" maxitemsperrow="1" ng-show="scopeModel.targetRecordTypeFields.length>0">
                                            <span title="{{dataItem.Title}}">
                                                {{dataItem.Title}}
                                            </span>
                                        </vr-datalist>
                                    </vr-scrollable-container>
                                </vr-columns>
                            </vr-row>
                        </vr-tab>
                
                        <vr-tab header="'Charge Settings Record Fields'" ng-if="scopeModel.chargeSettingsRecordTypeFields!= undefined && scopeModel.chargeSettingsRecordTypeFields.length>0">
                            <vr-row>
                                <vr-columns width="fullrow">
                                    <vr-scrollable-container maxheight="519">
                                        <vr-datalist datasource="scopeModel.chargeSettingsRecordTypeFields" onitemclicked="scopeModel.insertText" maxitemsperrow="1" ng-show="scopeModel.chargeSettingsRecordTypeFields.length>0">
                                            <span title="{{dataItem.Title}}">
                                                {{dataItem.Title}}
                                            </span>
                                        </vr-datalist>
                                    </vr-scrollable-container>
                                </vr-columns>
                            </vr-row>
                        </vr-tab>

                    </vr-tabs>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="pricingLogicEditorGroup" data-onclick="scopeModel.saveValue"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>