
<vr-tab header="'Financial'">
    <vr-row removeline>
        <vr-common-currency-selector on-ready="scopeModel.onCurrencyDirectiveReady" 
                                     selectedvalues="scopeModel.currency" 
                                     normal-col-num="4" isrequired="true">
        </vr-common-currency-selector>
        <span ng-show="!scopeModel.hideProductSelector">
            <retail-be-product-selector on-ready="scopeModel.onProductDirectiveReady"
                                        normal-col-num="4"
                                        isrequired="!scopeModel.hideProductSelector">
            </retail-be-product-selector>
        </span>
    </vr-row>
</vr-tab>
