<vr-panel ng-controller="CDRComparison_CDRComparisonController" vr-loader="isLoading">
    <vr-form name="cdrComparisonForm">
        <vr-row>
            <vr-columns width="1/2row">
                <vr-section title="System CDRs">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <cdrcomparison-cdrsourceconfig-selector on-ready="onSystemConfigSelectorReady" onselectitem="onSystemConfigSelected"></cdrcomparison-cdrsourceconfig-selector>
                        </vr-columns>
                    </vr-row>
                    <cdrcomparison-cdrsource-selective on-ready="onSystemSelectiveReady" normal-col-num="4" isrequired="true"></cdrcomparison-cdrsource-selective>
                </vr-section>
            </vr-columns>
            <vr-columns width="1/2row">
                <vr-section title="Partner CDRs">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <cdrcomparison-cdrsourceconfig-selector on-ready="onPartnerConfigSelectorReady" onselectitem="onPartnerConfigSelected"></cdrcomparison-cdrsourceconfig-selector>
                        </vr-columns>
                    </vr-row>
                    <cdrcomparison-cdrsource-selective on-ready="onPartnerSelectiveReady" normal-col-num="4" isrequired="true"></cdrcomparison-cdrsource-selective>
                </vr-section>
            </vr-columns>
        </vr-row>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="false">
                <div transclude-to="buttons">
                    <vr-button type="Start" formname="cdrComparisonForm" data-onclick="start"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>
</vr-panel>
