<div vr-modalcontent ng-controller="CDRComparison_CDRComparisonResultTaskController" width="'85%'">
    <vr-modalbody>
        <vr-form name="formCDRComparison" vr-loader="scopeModal.isLoading">
            <vr-tabs>
                <vr-tab header="'Summary'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-section title="CDRs">

                                <vr-row>
                                    <vr-columns width="1/3row" dontload="true"></vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label>System</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label>Partner</vr-label>
                                    </vr-columns>
                                </vr-row>

                                <vr-row>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label>CDRs</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label isvalue>{{scopeModal.systemCDRsCount}}</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label isvalue>{{scopeModal.partnerCDRsCount}}</vr-label>
                                    </vr-columns>
                                </vr-row>

                                <vr-row>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label>Duration (SEC)</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label isvalue>{{scopeModal.durationOfSystemCDRs}}</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label isvalue>{{scopeModal.durationOfPartnerCDRs}}</vr-label>
                                    </vr-columns>
                                </vr-row>

                            </vr-section>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-section title="Missing CDRs">

                                <vr-row>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label></vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label>System</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label>Partner</vr-label>
                                    </vr-columns>
                                </vr-row>

                                <vr-row>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label>CDRs</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label isvalue>{{scopeModal.systemMissingCDRsCount}}</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label isvalue>{{scopeModal.partnerMissingCDRsCount}}</vr-label>
                                    </vr-columns>
                                </vr-row>

                                <vr-row>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label>Duration (SEC)</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label isvalue>{{scopeModal.durationOfSystemMissingCDRs}}</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" dontload="true">
                                        <vr-label isvalue>{{scopeModal.durationOfPartnerMissingCDRs}}</vr-label>
                                    </vr-columns>
                                </vr-row>

                            </vr-section>
                        </vr-columns>
                    </vr-row>

                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-section title="Partially Matching CDRs">
                                <vr-row>
                                    <div style="min-height: 100px; ">
                                        <vr-columns width="fullrow" dontload="true">
                                            <vr-label>CDRs: </vr-label>
                                            <vr-label isvalue>{{scopeModal.partialMatchCDRsCount}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="fullrow" dontload="true">
                                            <vr-label>System Duration (SEC): </vr-label>
                                            <vr-label isvalue>{{scopeModal.durationOfSystemPartialMatchCDRs}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="fullrow" dontload="true">
                                            <vr-label>Partner Duration (SEC): </vr-label>
                                            <vr-label isvalue>{{scopeModal.durationOfPartnerPartialMatchCDRs}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="fullrow" dontload="true">
                                            <vr-label>Duration Difference (SEC): </vr-label>
                                            <vr-label isvalue>{{scopeModal.totalDurationDifferenceOfPartialMatchCDRs}}</vr-label>
                                        </vr-columns>
                                    </div>
                                </vr-row>
                            </vr-section>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-section title="Matching CDRs">
                                <vr-row>
                                    <div style="min-height: 100px;">
                                        <vr-columns width="fullrow" dontload="true">
                                            <vr-label>CDRs: </vr-label>
                                            <vr-label isvalue>{{scopeModal.disputeCDRsCount}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="fullrow" dontload="true">
                                            <vr-label>System Duration (SEC): </vr-label>
                                            <vr-label isvalue>{{scopeModal.durationOfSystemDisputeCDRs}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="fullrow" dontload="true">
                                            <vr-label>Partner Duration (SEC): </vr-label>
                                            <vr-label isvalue>{{scopeModal.durationOfPartnerDisputeCDRs}}</vr-label>
                                        </vr-columns>
                                    </div>
                                </vr-row>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="Invalid CDRs">
                                <vr-row>
                                    <vr-row>
                                        <vr-columns width="1/3row" dontload="true">
                                            <vr-label></vr-label>
                                        </vr-columns>
                                        <vr-columns width="1/3row" dontload="true">
                                            <vr-label>System</vr-label>
                                        </vr-columns>
                                        <vr-columns width="1/3row" dontload="true">
                                            <vr-label>Partner</vr-label>
                                        </vr-columns>
                                    </vr-row>

                                    <vr-row>
                                        <vr-columns width="1/3row" dontload="true">
                                            <vr-label>CDRs</vr-label>
                                        </vr-columns>
                                        <vr-columns width="1/3row" dontload="true">
                                            <vr-label isvalue>{{scopeModal.systemInvalidCDRsCount}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="1/3row" dontload="true">
                                            <vr-label isvalue>{{scopeModal.partnerInvalidCDRsCount}}</vr-label>
                                        </vr-columns>
                                    </vr-row>

                                    <vr-row>
                                        <vr-columns width="1/3row" dontload="true">
                                            <vr-label>Duration (SEC)</vr-label>
                                        </vr-columns>
                                        <vr-columns width="1/3row" dontload="true">
                                            <vr-label isvalue>{{scopeModal.systemInvalidCDRsDuration}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="1/3row" dontload="true">
                                            <vr-label isvalue>{{scopeModal.partnerInvalidCDRsDuration}}</vr-label>
                                        </vr-columns>
                                    </vr-row>
                                </vr-row>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Missing CDRs from System'" dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingSystemMissingCDRDirective">
                            <cdrcomparison-missingcdr-grid on-ready="scopeModal.onSystemMissingCDRDirectiveReady"></cdrcomparison-missingcdr-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Missing CDRs from Partner'" dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingPartnerMissingCDRDirective">
                            <cdrcomparison-missingcdr-grid on-ready="scopeModal.onPartnerMissingCDRDirectiveReady"></cdrcomparison-missingcdr-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Partially Matching CDRs'" dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingPartialMatchCDRDirective">
                            <cdrcomparison-partialmatchcdr-grid on-ready="scopeModal.onPartialMatchCDRDirectiveReady"></cdrcomparison-partialmatchcdr-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

                <vr-tab header="'Matching CDRs'" dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingDisputeCDRDirective">
                            <cdrcomparison-disputecdr-grid on-ready="scopeModal.onDisputeCDRGridReady"></cdrcomparison-disputecdr-grid>
                        </vr-columns>
                    </vr-row>

                </vr-tab>

                <vr-tab header="'Invalid System CDRs'" dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingSystemInvalidCDRGrid">
                            <cdrcomparison-invalidcdr-grid on-ready="scopeModal.onSystemInvalidCDRGridReady"></cdrcomparison-invalidcdr-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

                <vr-tab header="'Invalid Partner CDRs'" dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingPartnerInvalidCDRGrid">
                            <cdrcomparison-invalidcdr-grid on-ready="scopeModal.onPartnerInvalidCDRGridReady"></cdrcomparison-invalidcdr-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

            </vr-tabs>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Continue" data-onclick="scopeModal.continueTask" formname="formCDRComparison"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
