<div vr-modalcontent ng-controller="CDRComparison_CDRComparisonResultTaskController" width="'70%'">
    <vr-modalbody>
        <vr-form name="formCDRComparison" vr-loader="scopeModal.isLoading">
            <vr-tabs>
                <vr-tab header="'Summary'">
                    <vr-row>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Total System CDRs: {{scopeModal.systemCDRsCount}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Total Partner CDRs: {{scopeModal.partnerCDRsCount}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Duration of System CDRs (SEC): {{scopeModal.durationOfSystemCDRs}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Duration of Partner CDRs (SEC): {{scopeModal.durationOfPartnerCDRs}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Missing CDRs from System: {{scopeModal.systemMissingCDRsCount}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Missing CDRs from Partner: {{scopeModal.partnerMissingCDRsCount}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Duration of Missing CDRs from System (SEC): {{scopeModal.durationOfSystemMissingCDRs}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Duration of Missing CDRs from Partner (SEC): {{scopeModal.durationOfPartnerMissingCDRs}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Partially Matching CDRs: {{scopeModal.partialMatchCDRsCount}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Matching CDRs: {{scopeModal.disputeCDRsCount}}</vr-label>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Duration of Partially Matching CDRs from System (SEC): {{scopeModal.durationOfSystemPartialMatchCDRs}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Duration of Partially Matching CDRs from Partner (SEC): {{scopeModal.durationOfPartnerPartialMatchCDRs}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Total Duration Difference of Partially Matching CDRs (SEC): {{scopeModal.totalDurationDifferenceOfPartialMatchCDRs}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true"></vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Duration of Matching CDRs from System (SEC): {{scopeModal.durationOfSystemDisputeCDRs}}</vr-label><br>
                        </vr-columns>
                        <vr-columns width="1/2row" dontload="true">
                            <vr-label>Duration of Matching CDRs from Partner (SEC): {{scopeModal.durationOfPartnerDisputeCDRs}}</vr-label><br>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Missing CDRs from System'" dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingSystemMissingCDRDirective">
                            <cdrcomparison-missingcdr-grid on-ready="scopeModal.onSystemMissingCDRDirectiveReady"></cdrcomparison-missingcdr-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Missing CDRs from Partner'" dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingPartnerMissingCDRDirective">
                            <cdrcomparison-missingcdr-grid on-ready="scopeModal.onPartnerMissingCDRDirectiveReady"></cdrcomparison-missingcdr-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Partially Matching CDRs'"  dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingPartialMatchCDRDirective">
                            <cdrcomparison-partialmatchcdr-grid on-ready="scopeModal.onPartialMatchCDRDirectiveReady"></cdrcomparison-partialmatchcdr-grid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

                <vr-tab header="'Matching CDRs'"  dontload="true">
                    <vr-row>
                        <vr-columns width="fullrow" vr-loader="scopeModal.isLoadingDisputeCDRDirective">
                            <cdrcomparison-disputecdr-grid on-ready="scopeModal.onDisputeCDRGridReady"></cdrcomparison-disputecdr-grid>
                        </vr-columns>
                    </vr-row>

                </vr-tab>

            </vr-tabs>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Continue" data-onclick="scopeModal.continueTask" formname="formCDRComparison"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
