<div vr-modalcontent ng-controller="WhS_BE_ReleaseCodeDescriptionViewerController" vr-loader="scopeModel.isGettingData" size="'small'">

    <vr-modalbody>
        <div style="max-height:600px; overflow-y:auto;margin:0px -15px;padding:0px 15px">
          
            <vr-datalist maxitemsperrow="1" datasource="scopeModel.releaseCodeDescriptions" ng-if="scopeModel.releaseCodeDescriptions.length > 0">
                <vr-row>
                    <vr-columns colnum="2"><vr-label>Switch</vr-label></vr-columns>
                    <vr-columns colnum="10"><vr-label isvalue>{{dataItem.SwitchName}}</vr-label></vr-columns>

                    <vr-columns colnum="2"><vr-label>Release Code</vr-label></vr-columns>
                    <vr-columns colnum="10"><vr-label isvalue>{{dataItem.ReleaseCode}}</vr-label></vr-columns>

                    <vr-columns colnum="2"><vr-label>Description</vr-label></vr-columns>
                    <vr-columns colnum="10"><vr-label isvalue>{{dataItem.Description}}</vr-label></vr-columns>

                    <vr-columns colnum="2"><vr-label>Is Delivered</vr-label></vr-columns>
                    <vr-columns colnum="10"><vr-icon icontype="dataItem.IsDelivered"></vr-icon></vr-columns>
                </vr-row>
            </vr-datalist>
        </div>
    </vr-modalbody>
</div>
