<vr-row removeline>
    <vr-columns width="1/3row">
        <vr-textbox label="Master Connection String" type="text" value="scopeModel.MasterConnectionString" isrequired></vr-textbox>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox label="Route Connection String" type="text" value="scopeModel.RouteConnectionString" isrequired></vr-textbox>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox label="Tariff Connection String" type="text" value="scopeModel.TariffConnectionString" isrequired></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row removeline>
    <vr-columns width="1/3row">
        <vr-textbox label="Owner Name" type="text" value="scopeModel.OwnerName" isrequired></vr-textbox>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox type="number" label="Number Of Options" isrequired minvalue="1" decimalprecision="0" value="scopeModel.NumberOfOptions"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox label="Separator" type="text" value="scopeModel.Separator" isrequired></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row removeline>
    <vr-columns width="1/3row">
        <vr-textbox label="Blocked Account Mapping" type="text" value="scopeModel.BlockedAccountMapping" isrequired></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-column width="fullrow" vr-loader="scopeModel.isLoading">
        <vr-datagrid datasource="scopeModel.carrierAccountMappings"
                     maxheight="500px"
                     pagingtype="'PagingOnScroll'"
                     idfield="CarrierAccountId">

            <vr-datagridcolumn headertext="'ID'" field="'CarrierAccountId'" type="'Text'" widthfactor="2"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Account Name'" field="'CarrierAccountName'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Customer Mapping'" disablesorting>
                <vr-textbox type="text" tonextinput value="dataItem.CustomerMapping"></vr-textbox>
            </vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Supplier Mapping'" disablesorting>
                <vr-textbox type="text" tonextinput value="dataItem.SupplierMapping"></vr-textbox>
            </vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Inner Prefix'" disablesorting>
                <vr-textbox type="text" tonextinput value="dataItem.InnerPrefix"></vr-textbox>
            </vr-datagridcolumn>
        </vr-datagrid>
    </vr-column>
</vr-row>
