<vr-row removeline>
    <vr-columns width="1/4row">
        <vr-whs-be-carrieraccount ismultipleselection isrequired selectedvalues="selectedSuppliers" type="'Supplier'" on-ready="onCarrierAccountDirectiveReady"></vr-whs-be-carrieraccount>
    </vr-columns>
    <vr-columns width="3/4row">
        <div>
            <ul class="list-group dragbelzone" ng-sortable="itemsSortable" ng-show="selectedSuppliers.length > 0">
                <li ng-repeat="supplier in selectedSuppliers" class="list-group-item list-custom" style="margin: 1px; font-size: 12px;">
                    <i class="glyphicon glyphicon-th-list handeldrag"></i>
                    <div style="display: inline-block; max-width: 200px;">{{supplier.Name}}</div>
                    <i class="glyphicon glyphicon-remove hand-cursor" style="float: right; padding: 5px; cursor: default" ng-click="removeSupplier($event,supplier)"></i>
                    <div style="width: 100px; float: left; margin-right: 60px; text-align: center;">
                        <vr-numeric value="supplier.percentage" unit="%" isrequired></vr-numeric>
                    </div>
                </li>
            </ul>
        </div>
    </vr-columns>
</vr-row>