<span vr-loader="scopeModel.isloadingGrid">
    <vr-datagrid datasource="scopeModel.accountServices"
                 dataretrievalfunction="scopeModel.dataRetrievalFunction"
                 pagingtype="'PagingOnScroll'"
                 on-ready="scopeModel.onGridReady"
                 menuactions="scopeModel.gridMenuActions"
                 idfield="Entity.AccountServiceId" enableautoexport="true">
        <vr-datagridcolumn headertext="'ID'" field="'Entity.AccountServiceId'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Service Type'" field="'ServiceTypeTitle'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Status'" field="'StatusDesciption'" getcolor="scopeModel.getStatusColor"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Charging Policy'" field="'ServiceChargingPolicyName'"></vr-datagridcolumn>
        <vr-datagridexpandablerow>
            <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
        </vr-datagridexpandablerow>
    </vr-datagrid>
</span>