

<vr-row>
    <vr-columns width="1/2row">
        <vr-genericdata-datarecordstorage-selector on-ready="scopeModel.onDataRecordStorageSelectorReady"></vr-genericdata-datarecordstorage-selector>    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-datetimepicker type="date" label="FromDate" value="scopeModel.fromDateTime" isrequired="true"></vr-datetimepicker>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-datetimepicker type="date" label="ToDate" value="scopeModel.toDateTime" isrequired="true"></vr-datetimepicker>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-genericdata-recordfilter on-ready="scopeModel.onRecordFilterDirectiveReady"></vr-genericdata-recordfilter>
</vr-row>