<div vr-modalcontent ng-controller="VR_GenericData_GenericBEEditorDefintionController" vr-loader="scopeModal.isLoading" width="'60%'">
    <vr-modalbody maxheight="'600px'">
        <vr-form validationcontext="genericBEEditorGroup">
            <vr-tabs>
                <vr-tab header="'Definition'">

                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-section title="Page Setting">
                                <vr-row removeline>
                                    <vr-textbox value="scopeModal.businessEntityName" isrequired="true" label="Business Entity Name" customvalidate="scopeModal.validate()"></vr-textbox>
                                </vr-row>
                                <vr-row>
                                    <vr-textbox value="scopeModal.businessEntityTitle" isrequired="true" label="Business Entity Title" customvalidate="scopeModal.validate()"></vr-textbox>
                                </vr-row>
                                <vr-row>
                                    <vr-genericdata-datarecordtype-selector on-ready="scopeModal.onDataRecordTypeSelectorDirectiveReady" isrequired="true" onselectionchanged="scopeModal.onRecordTypeSelectionChanged" selectedvalues="scopeModal.selectedDataRecordType"></vr-genericdata-datarecordtype-selector>
                                </vr-row>
                                <vr-row>
                                    <vr-select datatextfield="Name" datavaluefield="Name" label="Title Field" isrequired="true"
                                               entityname="Title field" selectedvalues="scopeModal.selectedTitleFieldPath" datasource="scopeModal.fields" hideselectedvaluessection></vr-select>

                                </vr-row>
                            </vr-section>
                        </vr-columns>
                        <vr-columns width="2/3row">
                            <vr-section title="Menu Location">
                                <vr-validator validate="scopeModal.validateMenuLocation()">
                                    <vr-treeview on-ready="scopeModal.onTreeReady"
                                                 datavaluefield="Id"
                                                 datatextfield="Name"
                                                 datachildrenfield="Childs"
                                                 selecteditem="scopeModal.selectedMenuItem"
                                                 wholerow>
                                    </vr-treeview>
                                </vr-validator>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Editor Design'">
                    <vr-row ng-show="scopeModal.selectedDataRecordType !=undefined">
                            <vr-genericdata-genericbusinessentity-definition-editor on-ready="scopeModal.onGenericEditorDirectiveReady"></vr-genericdata-genericbusinessentity-definition-editor>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Grid Design'">
                    <vr-row ng-show="scopeModal.selectedDataRecordType !=undefined">
                         <vr-genericdata-genericbusinessentity-griddesign on-ready="scopeModal.onGridFieldDesignReady"></vr-genericdata-genericbusinessentity-griddesign>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Filter Design'">
                    <vr-row ng-show="scopeModal.selectedDataRecordType !=undefined">
                       <vr-genericdata-genericbusinessentity-filterdesign on-ready="scopeModal.onFilterFieldDesignReady"></vr-genericdata-genericbusinessentity-filterdesign>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Security'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="View">
                                <vr-sec-requiredpermission-grid on-ready="scopeModal.onViewRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="Add">
                                <vr-sec-requiredpermission-grid on-ready="scopeModal.onAddRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="Edit">
                                <vr-sec-requiredpermission-grid on-ready="scopeModal.onEditRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="genericBEEditorGroup" haspermission="scopeModal.hasSaveGenericBEEditor" data-onclick="scopeModal.SaveGenericBEEditor"></vr-button>
                <vr-button type="Close" data-onclick="scopeModal.close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
