<vr-datagrid datasource="queueItemHeaders"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="gridReady"
             defaultsortbyfieldname="'Entity.ItemId'"
             idfield="Entity.ItemId" enableautoexport="true">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.ItemId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Stage Name'" field="'StageName'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" field="'Entity.Description'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'" field="'Entity.ExecutionStatusDescription'" getcolor="getStatusColor" fixedwidth="'100'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Retry Count'" field="'Entity.RetryCount'" widthfactor="5"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Error Message'" field="'Entity.ErrorMessage'" widthfactor="5" expendablecolumn></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created Time'" field="'Entity.CreatedTime'" type="'LongDatetime'" fixedwidth="'120'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Last Updated Time'" field="'Entity.LastUpdatedTime'" type="'LongDatetime'" fixedwidth="'120'"></vr-datagridcolumn>
</vr-datagrid>