

<vr-datagrid datasource="scopeModel.dataAnalysisItemDefinition"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             idfield="Entity.DataAnalysisItemDefinitionId">
    <vr-datagridcolumn headertext="'Id'" field="'Entity.DataAnalysisItemDefinitionId'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'" disablesorting></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Title'" field="'Entity.Settings.Title'" disablesorting></vr-datagridcolumn>
</vr-datagrid>