<vr-row>
    <vr-tabs>
        <vr-tab header="'User Settings'">
            <vr-columns width="1/3row">
                <vr-textbox value="scopeModel.loginName" label="Login Name" isrequired="true"></vr-textbox>
            </vr-columns>
            <vr-columns width="1/3row">
                <vr-textbox value="scopeModel.firstName" label="First Name" isrequired="true"></vr-textbox>
            </vr-columns>
            <vr-columns width="1/3row">
                <vr-textbox value="scopeModel.lastName" label="Last Name" isrequired="true"></vr-textbox>
            </vr-columns>
           
            <vr-columns width="1/3row">
                <vr-textbox value="scopeModel.loginPassword" label="Login Password" type="password" isrequired="true" ></vr-textbox>
            </vr-columns>
            <vr-columns width="1/3row">
                <vr-textbox value="scopeModel.pin" label="Pin" type="number" customvalidate="scopeModel.validatePinNumber()" isrequired="true"></vr-textbox>
            </vr-columns>
            <vr-columns width="1/3row" ng-if="scopeModel.showBusinessTrunkFields">
                <vr-textbox label="Maximum Registrations"
                            isrequired
                            value="scopeModel.maximumRegistrations"
                            type="number"
                            minvalue="1"
                            maxvalue="3">
                </vr-textbox>
            </vr-columns>
            <vr-columns width="1/3row" ng-if="scopeModel.showBusinessTrunkFields">
                <vr-textbox label="Concurrent Calls"
                            value="scopeModel.concurrentCalls"
                            isrequired
                            type="number"
                            minvalue="1"
                            maxvalue="200"></vr-textbox>
            </vr-columns>
        </vr-tab>
    </vr-tabs>
</vr-row>
