<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ExpiryTime" value="60" />
    <add key="LineAvailable" value="20" />
    <add key="SendingEmail" value="vanrise.clitester@gmail.com" />
    <add key="SmtpServer" value="smtp.gmail.com" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="clireporterSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://idsdemo.me/CLIReporter/clireporter.asmx"
                binding="basicHttpBinding" bindingConfiguration="clireporterSoap"
                contract="AndroidLiveService.clireporterSoap" name="clireporterSoap" />
        </client>
    </system.serviceModel>
</configuration>
