<div vr-modalcontent ng-controller="PartnerPortal_Invoice_GridColumnsEditorController" width="'35%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody maxheight="'700px'">
        <vr-form name="formGridColumnsEditor">
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-textbox value="scopeModel.header" label="Header" isrequired="true"></vr-textbox>
                </vr-columns>
                <partnerportal-invoice-invoicefield-remoteselector on-ready="scopeModel.onInvoiceFieldSelectorReady" selectedvalues="scopeModel.selectedInvoiceField" isrequired="true" normal-col-num="6"></partnerportal-invoice-invoicefield-remoteselector>
                <span ng-if="scopeModel.isCustomFieldRequired()">
                    <partnerportal-invoice-invoicecustomfield-remoteselector isrequired="scopeModel.isCustomFieldRequired()" on-ready="scopeModel.onInvoiceCustomFieldSelectorReady" selectedvalues="scopeModel.selectedRecordField" normal-col-num="6"></partnerportal-invoice-invoicecustomfield-remoteselector>
                </span>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formGridColumnsEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>