<div vr-modalcontent ng-controller="WhS_BE_CustomerSellingProductEditorController" vr-loader="isGettingData">
    <vr-modalbody width="'50%'">
        <vr-form name="formSellingProductEditor">
            <div>
                <vr-row>
                    <vr-columns width="1/2row">
                        <vr-whs-be-sellingproducts on-ready="onSellingProductsDirectiveReady" isdisabled="disableSellingProduct" isrequired></vr-whs-be-sellingproducts>
                    </vr-columns>
                    <vr-columns width="1/2row">
                        <vr-whs-be-carrieraccount type="'Customer'" on-ready="onCarrierAccountDirectiveReady"  selectedvalues="selectedCustomers" isrequired ismultipleselection isdisabled="disableCarrierAccount"></vr-whs-be-carrieraccount>
                    </vr-columns>
                    <vr-columns width="1/2row">
                        <vr-datetimepicker type="date" value="beginEffectiveDate" label="Effective Date" isrequired></vr-datetimepicker>
                    </vr-columns>
                </vr-row>
            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formSellingProductEditor" data-onclick="SaveSellingProduct"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
