<div vr-modalcontent ng-controller="WhS_BE_SellingProductEditorController" vr-loader="scopeModal.isLoading">
    <vr-modalbody width="'50%'">
        <vr-form validationcontext="formSellingProductEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModal.name" label="Name" isrequired></vr-textbox>
                        </vr-columns>
                        <span vr-disabled="scopeModal.isEditMode || scopeModal.fixedSellingNumberPlanID">
                            <vr-whs-be-sellingnumberplan-selector normal-col-num="6" on-ready="scopeModal.onSellingNumberPlansDirectiveReady" isrequired="true">
                            </vr-whs-be-sellingnumberplan-selector>
                        </span>
                    </vr-row>

                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="formSellingProductEditor" data-onclick="scopeModal.saveSellingProduct" haspermission="hasSaveSellingProductPermission"></vr-button>
                <vr-button type="Close" data-onclick="scopeModal.close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
