<vr-row>
    <vr-common-tile-figurestile-queries on-ready="scopeModel.onQueriesGridReady"></vr-common-tile-figurestile-queries>
</vr-row>
<vr-row>
    <vr-columns width="1/3row">
        <vr-sec-view-selector on-ready="scopeModel.onViewsSelectorReady" onselectionchanged="scopeModel.onViewsSelectorSelectionChanged" customlabel="Redirect To View"></vr-sec-view-selector>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-common-figureicon-selective on-ready="scopeModel.onFigureIconSelectorReady" selectedvalues="scopeModel.selectedIconValue"></vr-common-figureicon-selective>
    </vr-columns>
</vr-row>
