<vr-panel ng-controller="Security_DynamicPagePreviewController">
    <vr-form validationcontext="dynamicPagePreviewGroup" ng-show="!scopeModal.nonSearchable">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="1/4row">
                    <vr-select datasource="scopeModal.periods" datatextfield="description" datavaluefield="value" label="Period"
                               selectedvalues="scopeModal.selectedPeriod" isrequired hidefilterbox onselectionchanged="scopeModal.periodSelectionChanged"></vr-select>
                </vr-columns>


                <vr-columns width="1/2row">

                    <vr-validator validate="scopeModal.validateDateTime()">
                        <vr-columns width="1/2row">
                            <vr-datetimepicker type="dateTime" value="scopeModal.fromDate" label="From" isrequired onblurdatetime="scopeModal.onBlurChanged"></vr-datetimepicker>
                        </vr-columns>

                        <vr-columns width="1/2row">
                            <vr-datetimepicker type="dateTime" value="scopeModal.toDate" label="To" isrequired onblurdatetime="scopeModal.onBlurChanged"></vr-datetimepicker>
                        </vr-columns>
                    </vr-validator>
                </vr-columns>

                <vr-columns width="1/4row">
                    <vr-select datasource="scopeModal.timeDimensionTypes" datatextfield="description" datavaluefield="value" label="Grouped By"
                               selectedvalues="scopeModal.selectedTimeDimensionType" isrequired hidefilterbox></vr-select>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" validationcontext="dynamicPagePreviewGroup" data-onclick="scopeModal.Search"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form> 

    <div vr-loader="scopeModal.isGettingData">
        <vr-row ng-if="scopeModal.summaryWidgets.length>0">
            <div class="list-group">
                <vr-columns ng-repeat="summaryWidget in scopeModal.summaryWidgets" colnum="{{summaryWidget.NumberOfColumns.numberOfColumns}}">
                    <vr-directivewrapper directive="summaryWidget.Setting.Directive" title="summaryWidget.SectionTitle" on-ready="summaryWidget.onElementReady" settings="summaryWidget.Setting.Settings"
                                         retrievedataonload="true"></vr-directivewrapper>
                </vr-columns>
            </div>
        </vr-row>
        <vr-row ng-if="scopeModal.bodyWidgets.length>0"> 
            <div class="list-group ">
                <vr-columns ng-repeat="bodyWidget in scopeModal.bodyWidgets" colnum="{{bodyWidget.NumberOfColumns.numberOfColumns}}">
                    <vr-directivewrapper directive="bodyWidget.Setting.Directive" title="bodyWidget.SectionTitle" on-ready="bodyWidget.onElementReady" settings="bodyWidget.Setting.Settings"
                                         filter="filter" retrievedataonload="true"></vr-directivewrapper>
                </vr-columns>
            </div>
        </vr-row>
    </div>
</vr-panel>
