<div vr-modalcontent ng-controller="Security_DynamicPageEditorController" width="'80%'">
    <vr-modalbody vr-loader="isGettingData" maxheight="'700px'">
        <vr-form name="formDynamicPagesEditor">
            <vr-choices selectedindex="selectedGroupKeyIndex" onselectionchanged="onSelectionChanged()">
                <vr-choice isselected="settingSelected">Setting</vr-choice>
                <vr-choice isselected="designSelected">Design</vr-choice>
                <vr-choice isselected="previewSelected">Preview</vr-choice>
            </vr-choices>
            <div ng-show="settingSelected">
                <vr-row>
                    <vr-columns width="1/3row">
                        <vr-section title="Page Setting">
                            <vr-row removeLine>
                                <vr-textbox value="pageName" label="Page Name" isrequired></vr-textbox>
                            </vr-row>
                            <vr-row>
                                <vr-switch value="showSearch" onvaluechanged="nonSearchableValueChanged()" "></vr-switch>
                            </vr-row>
                            <vr-row ng-show="showSearch">
                                <vr-select datasource="periods" datatextfield="description" datavaluefield="value" label="Default Period"
                                           selectedvalues="selectedPeriod" isrequired hidefilterbox onselectionchanged="periodSelectionChanged"></vr-select>

                            </vr-row>
                            <vr-row ng-show="showSearch">
                                <vr-select datasource="timeDimensionTypes" datatextfield="description" datavaluefield="value" label="Default Grouping"
                                           selectedvalues="selectedTimeDimensionType" isrequired hidefilterbox></vr-select>

                            </vr-row>
                        </vr-section>
                    </vr-columns>

                    <vr-columns width="1/3row">
                        <vr-section title="Menu Location">


                            <vr-treeview datatextfield="Name"
                                        
                                         datavaluefield="Id"
                                         datachildrenfield="Childs"
                                         on-ready="menuReady"
                                         selecteditem="selectedMenuNode"
                                         wholerow>
                            </vr-treeview>
                        </vr-section>
                    </vr-columns>
                    <vr-columns width="1/3row">
                        <vr-section title="Audiences">
                            <vr-row removeline>
                                <vr-select ismultipleselection label="Users" datasource="users" selectedvalues="selectedUsers" datatextfield="Name" datavaluefield="UserId"
                                           entityname="Users">
                                </vr-select>
                            </vr-row>
                            <vr-row width="fullrow">
                                <vr-select ismultipleselection label="Groups" datasource="roles" selectedvalues="selectedRoles" datatextfield="Name" datavaluefield="RoleId"
                                           entityname="Roles">
                                </vr-select>
                            </vr-row>
                        </vr-section>
                    </vr-columns>
                </vr-columns>
            </div>
            <div ng-show="designSelected">
                <vr-form name="formDesigningSelectionModel">
                    <vr-row removeLine>
                        <vr-columns width="normal">
                            <vr-select label="Section" datatextfield="description" datavaluefield="value" label="Section" onselectionchanged="onSectionChanged"
                                       datasource="sections" selectedvalues="selectedSection" isrequired></vr-select>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-select label="Widget" datatextfield="Name" datavaluefield="ID"
                                       datasource="widgets" selectedvalues="selectedWidget" onselectionchanged="onWidgetSelectionChanged"></vr-select>
                        </vr-columns>
                        <vr-columns width="normal" ng-show="selectedWidget">
                            <vr-textbox value="sectionTitle" label="Section Title"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-select datasource="columnWidth" datatextfield="description" datavaluefield="value" label="Row Space" selectedvalues="selectedColumnWidth" isrequired hidefilterbox></vr-select>
                        </vr-columns>
                        <vr-columns width="normal" ng-show="!showSearch">
                            <vr-select datasource="periods" datatextfield="description" datavaluefield="value" label="Default Period"
                                       selectedvalues="selectedPeriod" isrequired hidefilterbox onselectionchanged="periodSelectionChanged"></vr-select>
                        </vr-columns>
                        <vr-columns width="normal" ng-show="!showSearch">
                            <vr-select datasource="timeDimensionTypes" datatextfield="description" datavaluefield="value" label="Default Grouping"
                                       selectedvalues="selectedTimeDimensionType" isrequired hidefilterbox></vr-select>
                        </vr-columns>
                        <vr-columns width="small" vr-disabled="selectedWidget==undefined">
                            <vr-label></vr-label>
                            <vr-button type="Add" formname="formDesigningSelectionModel" data-onclick="addViewContent" standalone></vr-button>
                        </vr-columns>
                       
                    </vr-row>
    

                    <vr-row>
                        <div ng-include="selectedWidget.Setting.DirectiveTemplateURL"></div>
                    </vr-row>
                </vr-form>
                <div>
                    <vr-row ng-if="addedSummaryWidgets.length>0">
                        <vr-section title="Summary">
                            <div class="list-group dragbelzone" ng-sortable="itemsSortable">
                                <vr-columns ng-repeat="addedSummaryWidget in addedSummaryWidgets" colnum="{{addedSummaryWidget.NumberOfColumns}}">
                                    <i class="glyphicon glyphicon-th-list handeldrag"></i>
                                    <i class="glyphicon glyphicon-remove hand-cursor" ng-click="removeViewContent(addedSummaryWidget)"></i>
                                    <vr-directivewrapper directive="addedSummaryWidget.Widget.Setting.Directive" on-ready="addedSummaryWidget.Widget.onElementReady" settings="addedSummaryWidget.Widget.Setting.Settings"
                                                         title="addedSummaryWidget.SectionTitle" previewmode="true"></vr-directivewrapper>
                                </vr-columns>
                            </div>
                        </vr-section> 
                    </vr-row>
                    <vr-row ng-if="addedBodyWidgets.length>0">                        
                        <div class="list-group dragbelzone" ng-sortable="itemsSortable">
                            <vr-columns ng-repeat="addedBodyWidget in addedBodyWidgets" colnum="{{addedBodyWidget.NumberOfColumns}}">
                                <i class="glyphicon glyphicon-th-list handeldrag"></i>
                                <i class="glyphicon glyphicon-remove hand-cursor" ng-click="removeViewContent(addedBodyWidget)"></i>
                                <vr-directivewrapper directive="addedBodyWidget.Widget.Setting.Directive" on-ready="addedBodyWidget.Widget.onElementReady" settings="addedBodyWidget.Widget.Setting.Settings"
                                                     title="addedBodyWidget.SectionTitle" previewmode="true"></vr-directivewrapper>
                            </vr-columns>
                        </div>
                    </vr-row>
                </div>

            </div>
            <div ng-if="previewSelected && (addedSummaryWidgets.length>0 ||addedBodyWidgets.length>0)">
                <div ng-include="'Client/Modules/Security/Views/DynamicPages/DynamicPagePreview.html'"></div>
            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formDynamicPagesEditor" data-onclick="save"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
