<vr-panel ng-controller="Security_DynamicPagePreviewController">
    <vr-form name="formDynamicPagePreview">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-datetimepicker type="date" value="fromDate" label="From" isrequired></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker type="date" value="toDate" label="To" isrequired></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select datasource="timeDimensionTypes" datatextfield="description" datavaluefield="value" label="Grouped By"
                               selectedvalues="selectedTimeDimensionType" isrequired hidefilterbox></vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select datasource="periods" datatextfield="description" datavaluefield="value" label="Period"
                               selectedvalues="selectedPeriod" isrequired hidefilterbox onselectionchanged="periodSelectionChanged"></vr-select>
                </vr-columns>
            </vr-row>
           </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formDynamicPagePreview" data-onclick="Search"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
</vr-form> 

    <div vr-loader="isGettingData">
            <vr-row ng-if="summaryWidgets.length>0">
                    <div class="list-group">
                        <vr-columns ng-repeat="summaryWidget in summaryWidgets" colnum="{{summaryWidget.NumberOfColumns}}">
                            <vr-directivewrapper directive="summaryWidget.Setting.Directive" title="summaryWidget.Title"  on-ready="summaryWidget.onElementReady" settings="summaryWidget.Setting.Settings"
                                                 retrievedataonload="true" filter="filter"></vr-directivewrapper>
                        </vr-columns>
                    </div>
            </vr-row>
            <vr-row ng-if="bodyWidgets.length>0">
                <div class="list-group " >
                    <vr-columns ng-repeat="bodyWidget in bodyWidgets" colnum="{{bodyWidget.NumberOfColumns}}">
                        <vr-directivewrapper directive="bodyWidget.Setting.Directive" title="bodyWidget.Title"  on-ready="bodyWidget.onElementReady" settings="bodyWidget.Setting.Settings"
                                             retrievedataonload="true" filter="filter"></vr-directivewrapper>
                    </vr-columns>
                </div>
            </vr-row>
    </div>
</vr-panel>
