<!--<vr-row>
    <vr-section header="Trunks">
        <vr-columns width="fullrow" haschildcolumns>
            <vr-columns colnum="11" haschildcolumns>
                <vr-columns colnum="4">
                    <vr-textbox type="text" value="scopeModel.trunkName" label="Trunk Name"></vr-textbox>
                </vr-columns>
            </vr-columns>

            <vr-columns colnum="1" withemptyline>
                <vr-button type="Add" data-onclick="scopeModel.addTrunk" standalone vr-disabled="scopeModel.disableAddTrunk()"></vr-button>
            </vr-columns>

        </vr-columns>

        <vr-columns width="fullrow" haschildcolumns>
            <vr-columns width="fullrow">
                <vr-validator validate="scopeModel.trunkListHasItem()">
                    <vr-datagrid datasource="scopeModel.trunksList"
                                 ondeleterow="scopeModel.removeTrunk"
                                 on-ready="onTrunkGridReady"
                                 hidegridmenu>
                        <vr-datagridcolumn headertext="'Trunk Name'" field="'TrunkName'" type="'Text'"></vr-datagridcolumn>
                    </vr-datagrid>
                </vr-validator>
            </vr-columns>
        </vr-columns>
    </vr-section>
    <vr-section header="Trunk Groups">
        <vr-columns width="fullrow" haschildcolumns>
            <vr-columns colnum="11" haschildcolumns>
                <vr-columns colnum="4">
                    <vr-textbox type="text" value="scopeModel.trunkGroupName" label="Trunk Group Name"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="4">
                    <vr-select datasource="scopeModel.trunks"
                               selectedvalues="scopeModel.selectedTrunks"
                               datavaluefield="TrunkName"
                               datatextfield="TrunkName"
                               customlabel="Trunks"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>
            </vr-columns>

            <vr-columns colnum="1" withemptyline>
                <vr-button type="Add" data-onclick="scopeModel.addTrunkGroup" standalone vr-disabled="scopeModel.disableAddTrunkGroup()"></vr-button>
            </vr-columns>

        </vr-columns>

        <vr-columns width="fullrow" haschildcolumns>
            <vr-columns width="fullrow">
                    <vr-datagrid datasource="scopeModel.trunkGroupsList"
                                 ondeleterow="scopeModel.removeTrunkGroup"
                                 on-ready="onTrunkGroupsGridReady"
                                 hidegridmenu>
                        <vr-datagridcolumn headertext="'Trunk Group Name'" field="'Name'" type="'Text'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Trunks '" field="'TrunkNamesAsString'" type="'Text'"></vr-datagridcolumn>
                    </vr-datagrid>
            </vr-columns>
        </vr-columns>
    </vr-section>

    </vr-row>-->