<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="RatePlanningController">
    <div class="modal-dialog  modal-x-lg">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>

            <div class="modal-body" style="max-height:650px;overflow:auto">
                <vr-panel>
                </vr-panel>
            </div>
            <vr-row removeline>
                <vr-columns colnum="12" simplecol>
                    <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
                        <div transclude-to="buttons">
                            <vr-button type="Close" data-onclick="hide"></vr-button>
                        </div>
                    </vr-actionbar>
                </vr-columns>
            </vr-row>
        </div>
    </div>
