<!--<vr-columns>
	<vr-button type="Add" data-onclick="scopeModel.addRow" standalone></vr-button>
</vr-columns>
<br />
<vr-columns width="fullrow">
	<vr-validator validate="scopeModel.validateColumns()">
		<vr-datagrid datasource="scopeModel.urlParameters"
					 on-ready="onGridReady"
					 pagingtype="'PagingOnScroll'"
					 maxheight="400px"
					 ondeleterow="scopeModel.deleteRow">
			<vr-datagridcolumn headertext="'Name'">
				<vr-textbox value="dataItem.Name" isrequired="true"></vr-textbox>
			</vr-datagridcolumn>

			<vr-datagridcolumn headertext="'Value'" disablesorting>
				<vr-textbox value="dataItem.Value" isrequired="true"></vr-textbox>
			</vr-datagridcolumn>
		</vr-datagrid>
	</vr-validator>
</vr-columns>-->
