body.rtl {
    direction: rtl;
}

.rtl .vr-container div[ng-view] {
    float: right;
    width:100%;
}

.rtl vr-columns  div[class^="col"] {
    float: right;
}

.rtl .nav {
    -webkit-padding-start: 0px;
}

.rtl .loading-container > img {
    right: 50%;
    left: unset !important;
}
/* start main-menu*/

@media (min-width: 768px) {
    .rtl #wrapper {
        padding-left: unset !important;
    }
}

.rtl .wrapper-toogled {
    padding-right: 185px;
}

.rtl .wrapper-normal {
    padding-right: 25px;
}

.rtl .vr-nav-custom .minilogo {
    left: -5px;
    right: unset !important;
}

.rtl .vr-nav-custom .menu-icon {
    left: 140px;
    right: unset !important;
}

.rtl .support-call {
    left: -110px !important;
}

.rtl .vr-nav-custom .warning-icon {
    right: unset !important;
    left: 175px;
}

.rtl .vr-logout-span {
    right: unset !important;
    left: 220px;
}

.rtl .vr-user-icon {
    left: unset !important;
    right: -10px;
}

.rtl .vr-user-separator {
    margin-left: unset !important;
    margin-right: 15px;
}

.rtl .support-call > a > img {
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

@media (min-width: 768px) {
    .rtl .navbar-header {
        float: right;
    }
}


.rtl #sidebar-wrapper {
    right: 225px;
    left: unset !important;
    margin-right: -225px;
    margin-left: unset !important;
}

.rtl .sub-header-open {
    margin-right: 200px;
    margin-left: unset !important;
}

.rtl .clock {
    right: 0px;
    left: 0px !important;
}

.rtl .collapsed-clock {
    right: -50px !important;
    left: unset !important;
}

.rtl .sub-header-closed {
    margin-right: 40px;
    margin-left: unset !important;
}

.rtl .toogle-icon {
    left: 16px;
    right: unset !important;
}

.rtl .pin-icon {
    right: unset !important;
    left: -1px;
}

.rtl .unpined-icon {
    left: -1px !important;
    right: unset !important;
}

.rtl .pined-icon {
    transform: rotate(-85deg);
}

.rtl #collapsedmenu .unpined-icon {
    left: -10px !important;
}

.rtl .collapsed-pin-icon {
    left: unset !important;
    right: 10px;
}

.rtl .toogle-icon::before {
    content: "\e080" !important;
}

.rtl .collapsed-toggle-icon {
    right: unset !important;
    left: 10px;
}

.rtl .collapsed-toggle-icon::before {
    content: "\e079" !important;
}

.rtl .inner-sub-menu {
    padding-right: 15px;
    padding-left: unset !important;
}

.rtl .inner-list-item {
    margin-right: -25px !important;
    padding-right: 25px;
    padding-left: unset;
    margin-left: unset;
}

.rtl .dropdown-menu-custom-serf {
    right: 40px;
    left: unset !important;
    text-align: right;
}

.rtl .title-label {
    padding: 2px 15px 0px 0px;
}

.rtl .toggel {
    float: left;
}

.rtl .menulink {
    padding: 3px 25px 3px 0px !important;
    text-align: right !important;
}

.rtl .dll-parent-menu div:before {
    border-width: 0.35em 0.45em 0.35em 0em;
    left: unset !important;
    right: -5px;
}

.rtl .innerlist div:before {
    border-width: 0.35em 0.45em 0.35em 0em;
    left: unset !important;
    right: -5px;
}

.rtl .innerlist a:before {
    left: unset !important;
    right: -5px;
}

.rtl .child-menu-link {
    padding: 0px 30px 0px 0px !important;
}

.rtl .dll-menu a:before {
    left: unset !important;
    right: -5px;
}

.rtl .dropdown-menu {
    float: left;
    text-align : right !important;
}

.rtl .vr-company-name {
    right: -15px;
    left: unset !important;
}
/* end main-menu*/

/* start action-bar*/
.rtl .buttons-container {
    float: left;
}

.rtl .action-bar .btn {
    float: right;
}


.rtl .btn-label {
    padding-left: unset !important;
    padding-right: 4px;
}

.rtl .img-loader {
    margin-left: unset !important;
    margin-right: 3px;
}

.rtl .btn-menu-item {
    padding-left: unset !important;
    padding-right: 2px;
}

/* end action-bar*/

/* strat vr-select*/
.rtl .vr-dropdown-select.btn {
    text-align: right;
}
.rtl .vr-select-caret {    
    right: unset !important;
    left:5px;
}
.rtl .right-addon input {
    padding-left: 30px;
    padding-right: 12px;
}

.rtl .right-addon .glyphicon {  
    right: unset;
    left: 5px;
}
.rtl .vr-select-ds-container{   
    padding-left: unset;
    padding-right: 3px;
}
.rtl .checked-item{
    position:absolute;
    top: 3px;
    right: unset;
    left:0px;
}
.rtl .select-item-container{
    padding: 3px 2px 0px 0px;
}
.rtl .view-icon{  
    right:unset;
    left:2px
}
.rtl .double-col-checklist {
     margin-left: -226px;
}


.rtl .data-presentation .filter-section .glyphicon-backward:before{  
    content: "\e075";
}

.rtl .data-presentation .filter-section .glyphicon-forward:before{
    content: "\e071";
}

.rtl .data-presentation.advance-search-top-left .filter-section {  
    flex-direction:row-reverse;
}
.rtl .data-presentation.advance-search-top-left .filter-section .glyphicon-backward:before{  
     content: "\e071";
}
.rtl .data-presentation.advance-search-top-left .filter-section .glyphicon-forward:before{   
    content: "\e075";
}
.rtl .double-col-checklist.dropdown-top-left{
    margin-left: unset;  
    margin-right : -230px; 
}
.rtl .double-col-checklist.dropdown-top-left.top-max{
    margin-left: 0px !important;   
     margin-right: 0px !important;   
}
.rtl .single-col-checklist.dropdown-top-left.top-max {
    margin-left: unset !important;
    margin-right: 226px!important;
}

.rtl .single-col-checklist .vr-select-advance-search.advance-search-top-left{
     left: unset;
     right:-230px;
}
.rtl .double-col-checklist.dropdown-top-left .advance-search-top-left{
   left: 0px !important; 
   right: 0px!important; 
}
.rtl .single-col-checklist.dropdown-top-left {
     margin-left: 0px!important;
}
.rtl .single-col-checklist.dropdown-top-left .flex-container{
   flex-direction: row;
}
.rtl .double-col-checklist.dropdown-top-left .flex-container{
   flex-direction: row-reverse;
}
.rtl .remove-selection{
    right: unset;
    left:5px;
}
.rtl .vr-select-remove {
    right: unset;
    left:15px;
}
.rtl .view-selected-item{
    right:unset;
    left: 0px;
}
.rtl .remove-selected-item{
    right:-2px !important;

}
.rtl .vr-select-advance-search {  
    left:unset;
    right: 220px;
}
.rtl .vr-select-add {
   right:unset;
   left: 17px;
}
.rtl .vr-datagrid-celltext .vr-dropdown-select.btn{
    text-align : right;
}
/* end vr-select*/

/*start vr-datagrid*/
.rtl .vr-grid-menu-box {
    position: absolute;
    left:unset;
    right: -14px;
    top: -9px;
    display: inline-block;
}

.rtl .vr-grid-menu-h-circle {    
    transform: rotate(180deg);
}

.rtl .vr-grid-menu-h-dote {
    display: inline-block;
    left:unset;
    right: 1px;
    font-size: 11px;
    transform: scaleX(-1);
}
.rtl .vr-grid-menu { 
    text-align: right;
}
.rtl .vr-gridmenu-checkitem{
    float: left !important;
}
.rtl .grid-expand-collapse-icon{
    top: calc(50% - 6px);
    left: unset;
    right:4px;
    transform:scaleX(-1)
}
.rtl .vr-datagrid-cell{
    padding: 3px 4px 0px 0px !important;
}
.rtl .vr-datagrid-cell, .vr-datagrid-header-cell {
    padding: 3px 4px 0px 0px !important;
}
.rtl .vr-datagrid-body .glyphicon-th-list{
    left:unset !important;
    right: 3px !important;
}
.rtl .vr-remove-row{
    top: 50%;
    position: absolute;
    transform: translate(-2px,-50%);
}
.rtl .action-item{
    padding-left: unset;
    padding-right: 2px;
}
.rtl .vr-pagination-info{    
    right: unset;
    left:1px;
}
.rtl .vr-pagination-pagesize{
    float: right;
     margin-top: 2px;
}
 .rtl .vr-scroll-pager-info{
    float: left !important;
    margin-left: 5px;
}
/*end  vr-datagrid*/
/*start  handsontable*/
.rtl .ht_clone_top{
    right: 0px !important;
    left: unset !important;
}
.rtl .ht_clone_left{
    right: 0px !important;
    left: unset !important;
}

.rtl .ht_clone_top_left_corner{
    right: 0px !important;
    left: unset !important;
}

.rtl .handsontable th:last-child {
    border-right: 0px solid rgb(204, 204, 204);
    border-left: 1px solid rgb(204, 204, 204);
}
.rtl .handsontable th,.rtl .handsontable td {
    border-right-width: 0;
    border-left: 1px solid #CCC;
}
/*end  handsontable*/


.rtl .bootstrap-datetimepicker-widget ul{
    -webkit-padding-start:unset !important;
}