body{
    font-family:"Open Sans" !important;
}
.login-container{
    background:url("../../Client/Images/login.png") center no-repeat;
    background-size: cover;
    width: 330px;
    height: 310px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.login-spacer{
    padding-bottom:3px;
}
.login-btn{
    background-color:#e22337!important;
    color:#FFF;
    text-transform:uppercase;
    font-weight:700;
}

.dll-menu-theme {   
    color: #FFF !important;
}
 /*"#e22337",
"#20407d",
"#01a082",
"#f79624",
"#9e1f63",
"#01a4b5",   
"#ef4136",
"#3ab44b",
"#7e3f98",
"#00adef",
"#c3162a",
"#4f7ac8",
"#8cc540",
"#272264",
"#0074d9"*/
.selected-node{
    background-color: #f0f0f0 !important;
}
.selected-inner-node{
    background-color: #CDCDCD !important;
}
.selected-url{
     color: #6A7470 !important;
     font-weight:bold !important;
}

.bold-item {   
   font-weight:bold;
}

.bgcolor-0{   
    background-color: #20407d !important;
}
.bgcolor-grad-0{
  background: -webkit-linear-gradient(bottom, #BCBCBC , #20407d); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #20407d); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC, #20407d); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #20407d); /*Standard*/
}
.bgcolor-1{   
    background-color: #01a082 !important;
}
.bgcolor-grad-1{
  background: -webkit-linear-gradient(bottom,#BCBCBC, #01a082); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #01a082); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC, #01a082); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #01a082); /*Standard*/
}
.bgcolor-2{   
    background-color: #f79624 !important;
}
.bgcolor-grad-2{
  background: -webkit-linear-gradient(bottom,#BCBCBC, #f79624); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #f79624); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC, #f79624); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #f79624); /*Standard*/
}
.bgcolor-3{   
    background-color: #9e1f63 !important;
}
.bgcolor-grad-3{
  background: -webkit-linear-gradient(bottom,#BCBCBC, #9e1f63); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #9e1f63); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#9e1f63); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #9e1f63); /*Standard*/
}
.bgcolor-4{   
    background-color: #01a4b5 !important;
}
.bgcolor-grad-4{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#01a4b5); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #01a4b5); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#01a4b5); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #01a4b5); /*Standard*/
}
.bgcolor-5{   
    background-color: #ef4136 !important;
}
.bgcolor-grad-5{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#ef4136); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #ef4136); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#ef4136); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #ef4136); /*Standard*/
}
.bgcolor-6{   
    background-color: #3ab44b !important;
}
.bgcolor-grad-6{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#3ab44b); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #3ab44b); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#3ab44b); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #3ab44b); /*Standard*/
}
.bgcolor-7{   
    background-color: #7e3f98 !important;
}
.bgcolor-grad-7{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#7e3f98); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #7e3f98); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#7e3f98); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #7e3f98); /*Standard*/
}
.bgcolor-8{   
    background-color: #00adef !important;
}
.bgcolor-grad-8{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#00adef); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #00adef); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#00adef); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #00adef); /*Standard*/
}
.bgcolor-9{   
    background-color: #c3162a !important;
}
.bgcolor-grad-9{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#c3162a); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #c3162a); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#c3162a); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #c3162a); /*Standard*/
}
.bgcolor-10{   
    background-color: #4f7ac8 !important;
}
.bgcolor-grad-10{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#4f7ac8); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #4f7ac8); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#4f7ac8); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #4f7ac8); /*Standard*/
}
.bgcolor-11{   
    background-color: #c3162a !important;
}
.bgcolor-grad-11{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#c3162a); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #c3162a); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#c3162a); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #c3162a); /*Standard*/
}
.bgcolor-12{   
    background-color: #8cc540 !important;
}
.bgcolor-grad-12{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#8cc540); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #8cc540); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#8cc540); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #8cc540); /*Standard*/
}
.bgcolor-13{   
    background-color: #272264 !important;
}
.bgcolor-grad-13{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#272264); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #272264); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#272264); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #272264); /*Standard*/
}
.bgcolor-14{   
    background-color: #0074d9 !important;
}
.bgcolor-grad-14{
  background: -webkit-linear-gradient(bottom,#BCBCBC,#0074d9); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC, #0074d9); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,#0074d9); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC,  #0074d9); /*Standard*/
}
 .bgcolor-15{   
    background: #e22337 !important;
}
 /*rgba(0, 0, 0, 0.01) linear-gradient(to bottom, #BCBCBC, #F00) repeat scroll 0% 0%*/
.bgcolor-grad-15{
  background: -webkit-linear-gradient(bottom,#BCBCBC,rgba(255,0,0,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,#BCBCBC,rgba(255,0,0,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,#BCBCBC,rgba(255,0,0,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, #BCBCBC, rgba(255,0,0,1)); /*Standard*/
}
/*20407d
c0213f
f27043
806dbb
4f7ac8
e22337
01a082
f79624
9e1f63
01a4b5*/

.drill-down-level-0{    
    background-color :#0074D9;
}
.drill-down-level-1{
    background-color :#c0213f;
}
.drill-down-level-2{
    background-color :#f27043;
}
.drill-down-level-3{
    background-color :#806dbb;
}
.drill-down-level-4{
    background-color :#4f7ac8;
}

.drill-down-level-5{
    background-color :#01a082;
}
.drill-down-level-6{
    background-color :#f79624;
}
.drill-down-level-7{
    background-color :#9e1f63;
}
.drill-down-level-8{
    background-color :#20407d;
}
.drill-down-level-9{
    background-color :#01a4b5;
}
/* override style.css*/
