<vr-section title="Account Defintion">
    <vr-columns width="1/3row" vr-loader="scopeModel.isAccountTypeSelectorLoading">
        <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onAccountDefinitionSelectorReady"
                                                          onselectionchanged="scopeModel.onAccountDefinitionSelectionChanged"
                                                          selectedvalues="scopeModel.selectedAccountDefinition"
                                                          customlabel="Account Definition"
                                                          isrequired="true">
        </vr-genericdata-businessentitydefinition-selector>
    </vr-columns>
    <retail-be-accounttype-selector on-ready="scopeModel.onAccountTypeSelectorReady"
                                    normal-col-num="4"
                                    customlabel="Account Type"
                                    isrequired="true" vr-loader="scopeModel.isAccountTypeSelectorLoading">
    </retail-be-accounttype-selector>
    <retail-be-accounttype-selector on-ready="scopeModel.onSiteAccountTypeSelectorReady"
                                    normal-col-num="4"
                                    customlabel="Site Account Type"
                                    isrequired="true" vr-loader="scopeModel.isAccountTypeSelectorLoading">
    </retail-be-accounttype-selector>
    <vr-common-statusdefinition-selector on-ready="scopeModel.onInitialStatusDefinitionSelectorReady"
                                         customlabel="Initial Status"
                                         normal-col-num="4"
                                         isrequired="true">
    </vr-common-statusdefinition-selector>
</vr-section>
<vr-section title="Account Parts">
    <retail-be-accountpartdefinition-selector on-ready="scopeModel.onCompanyProfileDefinitionSelectorReady"
                                              normal-col-num="4"
                                              customlabel="Company Profile Part"
                                              isrequired="true">
    </retail-be-accountpartdefinition-selector>
    <retail-be-accountpartdefinition-selector on-ready="scopeModel.onFinancialDefinitionSelectorReady"
                                              normal-col-num="4"
                                              customlabel="Financial Part"
                                              isrequired="true">
    </retail-be-accountpartdefinition-selector>
    <retail-be-accountpartdefinition-selector on-ready="scopeModel.onOrderDetailsDefinitionSelectorReady"
                                              normal-col-num="4"
                                              customlabel="Order Details Part"
                                              isrequired="true">
    </retail-be-accountpartdefinition-selector>
    <retail-be-accountpartdefinition-selector on-ready="scopeModel.onCompanyExtentedInfoSelectorReady"
                                              normal-col-num="4"
                                              customlabel="Company Extended Info"
                                              isrequired="true">
    </retail-be-accountpartdefinition-selector>
</vr-section>