<div vr-modalcontent ng-controller="WhS_BE_RouteRuleEditorController" vr-loader="isGettingData" width="'55%'">
    <vr-modalbody>
        <vr-form name="formRouteRuleEditor">
            <vr-choices selectedindex="0">
                <vr-choice isselected="criteriaSelected">Criteria</vr-choice>
                <vr-choice isselected="settingsSelected">Settings</vr-choice>
                <vr-choice isselected="schedulerSelected">Scheduler</vr-choice>
            </vr-choices>
            <div ng-show="criteriaSelected">
                <vr-row>
                    <vr-columns width="1/2row">
                        <vr-whs-be-routingproduct-selector on-ready="onRoutingProductDirectiveReady" onselectionchanged="onRoutingProductSelectionChanged" />
                    </vr-columns>
                    <vr-columns width="1/2row" ng-show="showRouteRuleCriteriaTypes">
                        <vr-select datatextfield="description" datavaluefield="value" label="Filter By" datasource="routeRuleCriteriaTypes"
                                   selectedvalues="selectedRouteRuleCriteriaType" onselectionchanged="onRouteRuleCriteriaTypeSelectionChanged" hideremoveicon />
                    </vr-columns>
                </vr-row>
                <vr-row ng-show="showSaleZoneSection">
                    <vr-columns width="fullrow">
                        <vr-section title="Sale Zone">
                            <vr-row>
                                <vr-columns width="1/4row">
                                    <vr-select datatextfield="Name" datavaluefield="TemplateConfigID" label="Filter Type" datasource="saleZoneGroupTemplates" text="None"
                                               selectedvalues="selectedSaleZoneGroupTemplate">
                                    </vr-select>
                                </vr-columns>
                                <vr-columns width="3/4row" ng-if="selectedSaleZoneGroupTemplate" vr-loader="saleZonesAppendixLoader">
                                    <vr-directivewrapper directive="selectedSaleZoneGroupTemplate.Editor" on-ready="onSaleZoneGroupSettingsDirectiveReady"
                                                         sellingnumberplanid="selectedSellingNumberPlanId"></vr-directivewrapper>
                                </vr-columns>
                            </vr-row>
                        </vr-section>
                    </vr-columns>
                </vr-row>
                <vr-row ng-show="showIncludedCodeSection">
                    <vr-columns width="fullrow">
                        <vr-section title="Included Codes">
                            <vr-columns width="1/4row">
                                <vr-select datatextfield="Name" datavaluefield="TemplateConfigID" label="Filter Type" datasource="codeCriteriaGroupTemplates" text="None"
                                           selectedvalues="selectedCodeCriteriaGroupTemplate">
                                </vr-select>
                            </vr-columns>
                            <vr-columns width="3/4row" ng-if="selectedCodeCriteriaGroupTemplate" vr-loader="codeCriteriaAppendixLoader">
                                <vr-directivewrapper directive="selectedCodeCriteriaGroupTemplate.Editor" on-ready="onCodeCriteriaGroupSettingsDirectiveReady"></vr-directivewrapper>
                            </vr-columns>
                        </vr-section>
                    </vr-columns>
                </vr-row>
                <vr-row ng-show="showCustomerSection">
                    <vr-columns width="fullrow">
                        <vr-section title="Customers">
                            <vr-row>
                                <vr-columns width="1/4row">
                                    <vr-select datatextfield="Name" datavaluefield="TemplateConfigID" label="Filter Type" datasource="customerGroupTemplates" text="None"
                                               selectedvalues="selectedCustomerGroupTemplate">
                                    </vr-select>
                                </vr-columns>
                                <vr-columns width="3/4row" ng-if="selectedCustomerGroupTemplate" vr-loader="customersAppendixLoader">
                                    <vr-directivewrapper directive="selectedCustomerGroupTemplate.Editor" on-ready="onCustomerGroupSettingsDirectiveReady"></vr-directivewrapper>
                                </vr-columns>
                            </vr-row>
                        </vr-section>
                    </vr-columns>
                </vr-row>
                <vr-row ng-show="showExcludedCodeSection">
                    <vr-columns width="fullrow">
                        <vr-section title="Excluded Codes">
                            <vr-columns width="1/2row">
                                <vr-row>
                                    <vr-columns colnum="6">
                                        <vr-textbox value="excludedCode" type="number" label="Enter code to exclude"></vr-textbox>
                                    </vr-columns>
                                    <vr-columns colnum="2" withemptyline>
                                        <div>
                                            <vr-button type="Add" data-onclick="addExcludedCode" standalone></vr-button>
                                        </div>
                                    </vr-columns>
                                </vr-row>
                                <vr-row>
                                    <vr-columns width="fullrow">
                                        <div>
                                            <vr-label>Excluded Codes</vr-label>
                                        </div>
                                        <div style="max-height:78px;overflow-y: auto;">
                                            <span class="label custom-label" style="min-width: 60px; margin: 2px;font-size:14px" ng-repeat="code in excludedCodes">
                                                {{code}}
                                                <span class="glyphicon glyphicon-remove hand-cursor" aria-hidden="true" ng-click="removeExcludedCode(code)"></span>
                                            </span>
                                        </div>
                                    </vr-columns>
                                </vr-row>
                            </vr-columns>
                        </vr-section>
                    </vr-columns>
                </vr-row>
            </div>
            <div ng-show="settingsSelected">
                <vr-row>
                    <vr-columns width="1/4row">
                        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID" label="Rule Type" datasource="routeRuleSettingsTemplates"
                                   selectedvalues="selectedrouteRuleSettingsTemplate" isrequired>
                        </vr-select>
                    </vr-columns>
                </vr-row>
                <vr-row>
                    <vr-columns width="fullrow" vr-loader="routeRuleSettingsAppendixLoader">
                        <vr-directivewrapper directive="selectedrouteRuleSettingsTemplate.Editor" on-ready="onRouteRuleSettingsDirectiveReady" />
                    </vr-columns>
                </vr-row>
            </div>
            <div ng-show="schedulerSelected">
                <vr-row>
                    <vr-columns width="1/2row">
                        <vr-datetimepicker value="beginEffectiveDate" type="date" label="Begin Effective Date" isrequired></vr-datetimepicker>
                    </vr-columns>
                    <vr-columns width="1/2row">
                        <vr-datetimepicker value="endEffectiveDate" type="date" label="End Effective Date"></vr-datetimepicker>
                    </vr-columns>
                </vr-row>
            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formRouteRuleEditor" data-onclick="SaveRouteRule"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
