<div vr-loader="scopeModel.isLoadingActivatorSection">

    <vr-columns width="1/3row" vr-loader="scopeModel.isLoadingisRawRecordTypeFields">

        <mediation-generic-mediationdefinition-selector on-ready="scopeModel.onMediationDefintionSelectorReady"
                                                        selectedvalues="scopeModel.selectedMediationDefintion"
                                                        isrequired="true"
                                                        label="Mediation Definition"
                                                        hideremoveicon>
        </mediation-generic-mediationdefinition-selector>
    </vr-columns>

</div>
