
<vr-columns width="fullrow" haschildcolumns>
    <vr-accountbalance-billingtransactiontype-selector on-ready="scopeModel.onTransactionTypeSelectorReady" normal-col-num="4" isrequired="true" customlabel="Transaction Type">
    </vr-accountbalance-billingtransactiontype-selector>
    <vr-accountbalance-billingtransactiontype-selector on-ready="scopeModel.onUsageToOverrideTransactionTypeSelectorReady" normal-col-num="4" isrequired="true" ismultipleselection="true" customlabel="Usage To Override Transaction Types">
    </vr-accountbalance-billingtransactiontype-selector>
</vr-columns>

<vr-columns width="fullrow" haschildcolumns>
    <vr-genericdata-genericfinancialaccount-configuration normal-col-num="4" on-ready="scopeModel.onGenricFinancialAccountReady" isrequired="true">
    </vr-genericdata-genericfinancialaccount-configuration>
</vr-columns>
