<div vr-modalcontent width="'50%'" ng-controller="BusinessProcess_BP_TechnicalDefinitionEditorController">
    <vr-modalbody>
        <vr-form name="formEditBPDefinition" vr-loader="scopeModel.isLoading">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-textbox value="scopeModel.title" label="Title" isrequired="true"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-switch value="scopeModel.NotVisibleInManagementScreen" label="Not Visible In Management"></vr-switch>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-textbox typeof="number" decimalprecision="0" value="scopeModel.MaxConcurrentWorkflows" label="Max Instances Per Runtime"></vr-textbox>
                        </vr-columns>
                        <span ng-if="scopeModel.loadVRWorklowSelector">
                            <businessprocess-vr-workflow-selector on-ready="scopeModel.onVRWorkflowSelectorReady"
                                                                  onselectionchanged="scopeModel.onVRWorkflowSelectionChanged"
                                                                  selectedvalues="scopeModel.selectedVRWorkflow"
                                                                  normal-col-num="4" isrequired="true" hideremoveicon></businessprocess-vr-workflow-selector>
                        </span>
                        <vr-columns ng-if="scopeModel.selectedVRWorkflow!=undefined" width="1/3row" vr-loader="scopeModel.isModalWidthSelectorLoading">
                            <vr-common-modalwidth-selector on-ready="scopeModel.onModalWidthSelectorReady" isrequired="true"></vr-common-modalwidth-selector>
                        </vr-columns>
                        <vr-common-devproject-selector on-ready="scopeModel.onDevProjectSelectorReady" normal-col-num="4"></vr-common-devproject-selector>
                        <span ng-if="scopeModel.loadVRWorklowSelector">
                            <vr-columns colnum="11">
                                <span vr-loader="scopeModel.isLoadingArguments">
                                    <vr-validator validate="scopeModel.isTitleValid()">
                                        <businessprocess-vr-workflow-activity-editor-expressionbuilder on-ready="scopeModel.onProcessTitleExpressionBuilderDirectiveReady"
                                                                                                       label="Process Title" nb-of-rows="2">
                                        </businessprocess-vr-workflow-activity-editor-expressionbuilder>
                                    </vr-validator>
                                </span>
                            </vr-columns>
                            <vr-columns colnum="1" haschildcolumns>
                                <a style="cursor:pointer;font-size:11px" ng-click="scopeModel.onCompileClick()">Compile</a>
                            </vr-columns>
                        </span>
                        <vr-columns width="fullrow">
                            <vr-textarea value="scopeModel.warningMessage"  label="Warning Message" rows="2" ></vr-textarea>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Manual Editor'" ng-if="scopeModel.selectedVRWorkflow!=undefined">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-switch value="scopeModel.enableManualEditorDefinition" label="Enable Manual Editor" onvaluechanged="scopeModel.onManualEditorSwitchValueChanged"></vr-switch>
                        </vr-columns>
                    </vr-row>
                    <span ng-if="scopeModel.enableManualEditorDefinition" vr-loader="scopeModel.isManualEditorLoading">
                        <vr-genericdata-genericbe-editordefinition-settings on-ready="scopeModel.onManualEditorDefinitionDirectiveReady" normal-col-num="4" selectedvalues="scopeModel.selectedManualEditor" isnotrequired showremoveicon></vr-genericdata-genericbe-editordefinition-settings>
                    </span>
                </vr-tab>
                <vr-tab header="'Schedule Editor'" ng-if="scopeModel.selectedVRWorkflow!=undefined">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-switch value="scopeModel.scheduleEditorDefinition" label="Enable Schedule Editor" onvaluechanged="scopeModel.onScheduleEditorSwitchValueChanged"></vr-switch>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-switch value="scopeModel.sameAsManualEditorDefinition" label="Same as Manual Editor" vr-disabled="!(scopeModel.enableManualEditorDefinition && scopeModel.scheduleEditorDefinition)" onvaluechanged="scopeModel.onSameAsManualSwitchValueChanged"></vr-switch>
                        </vr-columns>
                    </vr-row>
                    <span ng-if="scopeModel.scheduleEditorDefinition && !scopeModel.sameAsManualEditorDefinition" vr-loader="scopeModel.isScheduleEditorLoading">
                        <vr-genericdata-genericbe-editordefinition-settings on-ready="scopeModel.onScheduledEditorDefinitionDirectiveReady" normal-col-num="4" selectedvalues="scopeModel.selectedScheduleEditor" isnotrequired showremoveicon></vr-genericdata-genericbe-editordefinition-settings>
                    </span>
                </vr-tab>
                <vr-tab header="'Security'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section header="View">
                                <vr-sec-requiredpermission-grid on-ready="scopeModel.onViewRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section header="Start Instance">
                                <vr-sec-requiredpermission-grid on-ready="scopeModel.onStartNewInstanceRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section header="Schedule Task">
                                <vr-sec-requiredpermission-grid on-ready="scopeModel.onScheduleTaskRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Handler'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section header="Process Instance Insert Handler" collapsible>
                                <bp-instance-inserthandler-settings on-ready="scopeModel.onBPIntanceInsertHandlerSettingsReady" normal-col-num="6"></bp-instance-inserthandler-settings>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="saveBPDefinition" formname="formEditBPDefinition"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>