<div vr-modalcontent width="'50%'" ng-controller="BusinessProcess_BP_TechnicalDefinitionEditorController">
    <vr-modalbody>
        <vr-form name="formEditBPDefinition" vr-loader="scopeModel.isLoading">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-textbox value="scopeModel.title" label="Title" isrequired="true"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-switch value="scopeModel.NotVisibleInManagementScreen" label="Not Visible In Management"></vr-switch>
                        </vr-columns>
                        <vr-columns width="1/3row">
                            <vr-textbox typeof="number" decimalprecision="0" value="scopeModel.MaxConcurrentWorkflows" label="Max Instances Per Runtime"></vr-textbox>
                        </vr-columns>
                        <span ng-if="scopeModel.loadVRWorklowSelector">
                            <businessprocess-vr-workflow-selector on-ready="scopeModel.onVRWorkflowSelectorReady" normal-col-num="4" isrequired="true" hideremoveicon></businessprocess-vr-workflow-selector>
                        </span>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Security'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section header="View">
                                <vr-sec-requiredpermission-grid on-ready="scopeModel.onViewRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section header="Start Instance">
                                <vr-sec-requiredpermission-grid on-ready="scopeModel.onStartNewInstanceRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section header="Schedule Task">
                                <vr-sec-requiredpermission-grid on-ready="scopeModel.onScheduleTaskRequiredPermissionReady"></vr-sec-requiredpermission-grid>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Handler'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section header="Process Instance Insert Handler" collapsible>
                                <bp-instance-inserthandler-settings on-ready="scopeModel.onBPIntanceInsertHandlerSettingsReady" normal-col-num="6"></bp-instance-inserthandler-settings>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="saveBPDefinition" formname="formEditBPDefinition"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>