<div vr-modalcontent ng-controller="Analytics_RawCDRLogTemplateController" width="'50%'">
    <vr-row>
        <vr-columns width="fullrow" simplecol>
            <vr-datagrid datasource="InfoData" on-ready="onMainGridReady" maxheight="500px">
                <vr-datagridcolumn headertext="Column" field="'column'" widthfactor="5"></vr-datagridcolumn>
                <vr-datagridcolumn headertext="Type" field="'type'" widthfactor="5"></vr-datagridcolumn>
            </vr-datagrid>
        </vr-columns>
    </vr-row>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
