<vr-row removeline>
    <vr-columns width="1/2row">
        <vr-common-mailmessagetype-selector on-ready="scopeModel.onMailMessageTypeDirectiveReady" isrequired="scopeModel.isMailMessageTypeRequired()"></vr-common-mailmessagetype-selector>
    </vr-columns>
</vr-row>
<vr-row removeline>
    <vr-columns width="1/2row">
        <vr-textbox label="Entity Object Name" localizedlabel="VRRes.Common.EntityObjectName.VREnd" value="scopeModel.entityObjectName" isrequired="scopeModel.isObjectInfoRequired()"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox label="Info Type" localizedlabel="VRRes.Common.InfoType.VREnd" value="scopeModel.infoType" isrequired="scopeModel.isObjectInfoRequired()"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-section title="Object Info">
            <vr-button type="Add" data-onclick="scopeModel.addSendEmailObjectInfo" standalone></vr-button>
            <vr-datagrid datasource="ctrl.datasource"
                         enabledraggablerow="true"
                         hidegridmenu
                         ondeleterow="scopeModel.onDeleteRow">
                <vr-datagridcolumn headertext="'Object Name'" type="'Text'">
                    <vr-textbox value="dataItem.data.ObjectName" isrequired="true"></vr-textbox>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Info Type'" type="'Text'">
                    <vr-textbox value="dataItem.data.InfoType" isrequired="true"></vr-textbox>
                </vr-datagridcolumn>
            </vr-datagrid>
        </vr-section>
    </vr-columns>
</vr-row>
