<div vr-modalcontent ng-controller="WhS_BE_ZoneRoutingProductEditorController" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formZoneRoutingProductEditor">
            <vr-row removeline>
                <vr-columns width="1/2row">
                    <vr-whs-be-routingproduct-selector on-ready="scopeModel.onZoneRoutinProductSelectorReady" isrequired>
                    </vr-whs-be-routingproduct-selector>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-datetimepicker type="dateTime" label="BED" value="scopeModel.bed" isrequired onvaluechanged="scopeModel.bedChangedValue"></vr-datetimepicker>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <span>
                    <vr-button type="Save" formname="formZoneRoutingProductEditor" data-onclick="scopeModel.saveZoneRoutingProduct" vr-disabled="scopeModel.isSaveButtonDisabled"></vr-button>
                </span>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
