<vr-panel ng-controller="WhS_BE_ZoneRoutingProductManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingFilter">
            <vr-row removeline>
                <span ng-show="showSellingNumberPlanSelector">
                    <vr-whs-be-sellingnumberplan-selector on-ready="onSellingNumberPlanDirectiveReady"
                                                          onselectionchanged="onSellingNumberPlanSelectionChanged"
                                                          selectedvalues="selectedSellingNumberPlan"
                                                          normal-col-num="2" isrequired="true">
                    </vr-whs-be-sellingnumberplan-selector>
                </span>
                <span ng-show="selectedSellingNumberPlan" vr-loader="isLoadingSaleZonesSelector">
                    <vr-whs-be-salezone-selector on-ready="onSaleZoneDirectiveReady" normal-col-num="2" ismultipleselection></vr-whs-be-salezone-selector>
                </span>

                <vr-columns width="normal">
                    <vr-select datasource="ownerTypes"
                               selectedvalues="selectedOwnerType"
                               onselectionchanged="onOwnerTypeChanged"
                               datavaluefield="value"
                               datatextfield="description"
                               label="Owner Type"
                               entityname="Owner Type"
                               isrequired="true" hideremoveicon>
                    </vr-select>
                </vr-columns>
                <span vr-loader="isLoadingOwnerSelector">
                    <span ng-show="showSellingProductSelector">
                        <vr-whs-be-sellingproduct-selector on-ready="onSellingProductSelectorReady"
                                                           onselectionchanged="onSellingProductChanged"
                                                           selectedvalues="selectedSellingProduct"
                                                           normal-col-num="2" isrequired="showSellingProductSelector" hideremoveicon>
                        </vr-whs-be-sellingproduct-selector>
                    </span>
                    <span ng-show="showCarrierAccountSelector">
                        <vr-whs-be-carrieraccount-selector on-ready="onCarrierAccountSelectorReady"
                                                           selectedvalues="selectedCustomer"
                                                           onselectionchanged="onCarrierAccountChanged"
                                                           normal-col-num="2" isrequired="showCarrierAccountSelector" getcustomers hideremoveicon>
                        </vr-whs-be-carrieraccount-selector>
                    </span>
                </span>
                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="Effective On" value="effectiveOn" isrequired></vr-datetimepicker>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-be-zoneroutingproduct-grid on-ready="onGridReady"></vr-whs-be-zoneroutingproduct-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>