<vr-tab header="'More Info'">
    <vr-row removeline>
        <vr-columns width="1/2row">
            <vr-textbox value="scopeModel.cNIC" label="CNIC"></vr-textbox>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-textbox value="scopeModel.nTN" label="NTN"></vr-textbox>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-textbox value="scopeModel.passportNumber" label="Passport Number"></vr-textbox>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-textbox value="scopeModel.assignedNumber" label="Assigned Number"></vr-textbox>
        </vr-columns>
        <vr-columns width="1/2row">
            <retail-multinet-addresstype-selector on-ready="scopeModel.onAddressTypeSelectorReady"></retail-multinet-addresstype-selector>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-textbox value="scopeModel.inventoryDetails" label="Inventory Details"></vr-textbox>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-textbox value="scopeModel.gPSiteID" label="GP Site ID"></vr-textbox>
        </vr-columns>
        <vr-columns width="1/2row">
            <retail-multinet-accounttype-selector on-ready="scopeModel.onAccountTypeSelectorReady"></retail-multinet-accounttype-selector>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-common-gender-selector on-ready="scopeModel.onGenderSelectorReady"></vr-common-gender-selector>
        </vr-columns>
        <vr-columns width="1/2row">
            <vr-common-salutationtype-selector on-ready="scopeModel.onSalutationTypeSelectorReady"></vr-common-salutationtype-selector>
        </vr-columns>
    </vr-row>
</vr-tab>