<div vr-modalcontent ng-controller="VR_Notification_VRAlertRuleEditorController" size="medium" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formvrAlertRuleEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Name" value="scopeModel.name" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-notification-alertruletype-selector on-ready="scopeModel.onAlertRuleTypeSelectorReady" selectedvalues="scopeModel.selectedRuleType"
                                                                    onselectionchanged="scopeModel.onAlertRuleTypeSelectionChanged"
                                                                    isrequired="true" vr-disabled="scopeModel.isAlertRuleTypeSelectorDisabled" hideremoveicon>
                            </vr-notification-alertruletype-selector>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-switch label="Enabled" value="scopeModel.isEnabled"></vr-switch>
                        </vr-columns >
                    </vr-row>
                </vr-tab>
                <vr-directivewrapper ng-if="scopeModel.SettingEditor!=undefined" directive="scopeModel.SettingEditor" on-ready="scopeModel.onDirectiveReady"></vr-directivewrapper>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formvrAlertRuleEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>