

<vr-panel ng-controller="VR_Notification_VRAlertRuleManagementController">
    <vr-form name="formFilter">

        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                    <vr-button type="Add" formname="formFilter" data-onclick="add" haspermission="hasAddVRAlertRulePermission"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-notification-alertrule-grid on-ready="onGridReady"></vr-notification-alertrule-grid>
            </vr-columns>
        </vr-row>

    </vr-form>
</vr-panel>