<vr-panel ng-controller="FraudAnalysis_StrategyExecutionManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices-filter selectedindex="selectedFilternIndex">
                        <vr-choice-filter isselected="basicSelected">Basic</vr-choice-filter>
                        <vr-choice-filter isselected="advancedSelected">Advanced</vr-choice-filter>
                    </vr-choices-filter>

                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-select datasource="filterDateTypes" datatextfield="description" datavaluefield="value" label="Filter Date Type" selectedvalues="selectedFilterDateType" hideremoveicon></vr-select>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker type="dateTime" value="fromDate" label="From" customvalidate="validateTimeRange()" isrequired></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker type="dateTime" value="toDate" label="To" customvalidate="validateTimeRange()"></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal" ng-show="advancedSelected">
                    <cdranalysis-fa-period-selector on-ready="onPeriodSelectorReady" onselectionchanged="onPeriodSelectionChanged"></cdranalysis-fa-period-selector>
                </vr-columns>

                <vr-columns width="normal">
                    <cdranalysis-fa-strategy-selector ng-show="advancedSelected" on-ready="onStrategySelectorReady" ismultipleselection></cdranalysis-fa-strategy-selector>
                </vr-columns>

                <vr-columns width="normal" ng-show="advancedSelected">
                    <vr-sec-user-selector on-ready="onUserSelectorReady" customlabel="User" ismultipleselection ></vr-sec-user-selector>
                </vr-columns>


            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>
    <div>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-datagrid datasource="strategyExecutions" dataretrievalfunction="dataRetrievalFunction" maxheight="400px" pagingtype="'PagingOnScroll'" on-ready="onMainGridReady" menuactions="gridMenuActions" idfield="Entity.Id">
                    <vr-datagridcolumn headertext="'Strategy'" field="'StrategyName'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Type'" field="'PeriodName'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Status'" field="'StatusDescription'" widthfactor="5" getcolor="getStatusColor" disablesorting></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'From CDR Date'" field="'Entity.FromDate'" type="'Datetime'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'To CDR Date'" field="'Entity.ToDate'" type="'Datetime'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Exec. By'" field="'ExecutedByName'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Exec. Date'" field="'Entity.ExecutionDate'" type="'Datetime'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Duration (min)'" field="'Entity.ExecutionDuration'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Cancelled By'" field="'CancelledByName'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Cancellation Date'" field="'Entity.CancellationDate'" type="'Datetime'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Subscribers'" field="'Entity.NumberofSubscribers'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'CDRs'" field="'Entity.NumberofCDRs'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Cases'" field="'Entity.NumberofCases'"></vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>

</vr-panel>