<vr-datagrid datasource="dataSources"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="gridReady"
             menuactions="gridMenuActions"
             idfield="Entity.DataSourceId">

    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Type'" field="'AdapterInfo.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Scheduler Task Enabled'" field="'Entity.IsEnabled'">
        <vr-icon icontype="dataItem.Entity.IsEnabled"></vr-icon>
    </vr-datagridcolumn>
</vr-datagrid>