<div vr-modalcontent ng-controller="WhS_Sales_SellingRuleEditorController" vr-loader="scopeModel.isLoading" width="'55%'">
    <vr-modalbody>
        <vr-form name="formSellingRuleEditor">
            <vr-tabs>
                <vr-tab header="'Criteria'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="Sale Zone">
                                <vr-whs-be-salezonegroup on-ready="scopeModel.onSaleZoneGroupSettingsDirectiveReady"></vr-whs-be-salezonegroup>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="Customers">
                                <vr-whs-be-customergroup on-ready="scopeModel.onCustomerGroupSettingsDirectiveReady"></vr-whs-be-customergroup>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Settings'">
                    <vr-row>
                        <vr-columns width="1/4row">
                            <vr-select datatextfield="Title" datavaluefield="ExtensionConfigurationId" label="Rule Type" datasource="scopeModel.sellingRuleSettingsTemplates"
                                       selectedvalues="scopeModel.selectedSellingRuleSettingsTemplate" isrequired>
                            </vr-select>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow" ng-show="scopeModel.selectedSellingRuleSettingsTemplate" vr-loader="scopeModel.isLoadingSellingRuleSettings">
                            <vr-directivewrapper directive="scopeModel.selectedSellingRuleSettingsTemplate.Editor" on-ready="scopeModel.onSellingRuleSettingsDirectiveReady" />
                        </vr-columns>
                    </vr-row>
                </vr-tab>

                <vr-tab header="'Scheduler'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-datetimepicker value="scopeModel.beginEffectiveDate" type="date" label="Begin Effective Date" isrequired></vr-datetimepicker>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-datetimepicker value="scopeModel.endEffectiveDate" type="date" label="End Effective Date"></vr-datetimepicker>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formSellingRuleEditor" data-onclick="scopeModel.SaveSellingRule" haspermission="hasSaveRulePermission"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
