

<vr-row removeline>
    <vr-columns width="fullrow" simplecol>
        <vr-button type="Add" data-onclick="scopeModel.onAddColumnDefinition" standalone></vr-button>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid on-ready="scopeModel.onGridReady"
                     datasource="scopeModel.columnDefinitions"
                     menuactions="scopeModel.menuActions"
                     ondeleterow="scopeModel.onDeleteColumnDefinition"
                     enabledraggablerow="true"
                     hidegridmenu>

            <vr-datagridcolumn field="'Entity.FieldTitle'" headertext="'Field Title'" type="'Text'" widthfactor="1" disablesorting></vr-datagridcolumn>
            <vr-datagridcolumn field="'Entity.Header'" headertext="'Header'" type="'Text'" widthfactor="1" disablesorting></vr-datagridcolumn>
            <vr-datagridcolumn field="'Entity.IsAvailableInRoot'" headertext="'Available In Root'" type="'Text'" widthfactor="1" disablesorting></vr-datagridcolumn>
            <vr-datagridcolumn field="'Entity.IsAvailableInSubAccounts'" headertext="'Available In SubAccounts'" type="'Text'" widthfactor="1" disablesorting></vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>

