<vr-columns width="fullrow">
    <vr-tabs>
        <vr-tab header="'Rules Identification'">
            <vr-section title="Account">
                <retail-voice-accountidentification-template normal-col-num="3" on-ready="onAccountIdentificationTemplateReady"></retail-voice-accountidentification-template>
            </vr-section>
            <vr-section title="International">
                <retail-voice-internationalidentification-template normal-col-num="3" on-ready="onInternationalIdentificationTemplateReady"></retail-voice-internationalidentification-template>
            </vr-section>
        </vr-tab>
    </vr-tabs>
</vr-columns>