
<!--<vr-columns colnum="6">
    <vr-validator validate="scopeModel.isVariableNameValid()">
        <vr-textbox value="scopeModel.name" label="Name" onfocustextbox="scopeModel.onNameFocus" onblurtextbox="scopeModel.onNameBlur" isrequired="true"></vr-textbox>
    </vr-validator>
</vr-columns>

<vr-columns colnum="12" haschildcolumns>
    <businessprocess-vr-workflow-variabletypes on-ready="scopeModel.onVariableTypeSelectorReady" normal-col-num="3"></businessprocess-vr-workflow-variabletypes>
</vr-columns>-->
