<vr-row>
    <vr-columns width="1/3row" haschildcolumns>
        <vr-genericdata-genericbedefinition-selector normal-col-num="12" on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                     isrequired="true">
        </vr-genericdata-genericbedefinition-selector>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox value="scopeModel.categoryFieldName" label="Category Field Name" type="text" isrequired="true"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox value="scopeModel.messageFieldName" label="Message Field Name" type="text" isrequired="true"></vr-textbox>
    </vr-columns>
</vr-row>