<vr-datagrid on-ready="scopeModel.onGridReady"
             datasource="scopeModel.businessEntities"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             menuactions="scopeModel.menuActions"
             pagingtype="'Pager'"
             enableautoexport="true">
    <vr-datagridcolumn ng-repeat="column in scopeModel.columns" columnattributes="column"></vr-datagridcolumn>
    <!--<vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>-->
</vr-datagrid>

