<vr-datagrid datasource="datastore"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.InvoiceSettingId">
    <vr-datagridcolumn headertext="'ID'" type="'Text'" field="'Entity.InvoiceSettingId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" type="'Text'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Automatic'" type="'Text'" field="'IsAutomatic'">
        <vr-icon icontype="dataItem.IsAutomatic"></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Billing Period'" type="'Text'" field="'BillingPeriodDescription'"></vr-datagridcolumn>

    <vr-datagridcolumn headertext="'Default'" type="'Text'" field="'Entity.IsDefault'">
        <vr-icon icontype="dataItem.Entity.IsDefault"></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Due Period (Days)'" type="'Text'" field="'DuePeriodDescription'"></vr-datagridcolumn>

    <vr-datagridcolumn headertext="'Linked Partners'" type="'Number'" numberprecision="'NoDecimal'" field="'TotalLinkedPartners'"></vr-datagridcolumn>

    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>
</vr-datagrid>
