 
<vr-datagrid on-ready="scopeModel.onGridReady"
             datasource="scopeModel.translationRule"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="scopeModel.menuActions"
             idfield="Entity.TranslationRuleId">
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'DNIS Pattern'" field="'Entity.DNISPattern'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'CLI Pattern'" field="'Entity.CLIPattern'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Creation Date'" field="'Entity.CreationDate'"  type="'Datetime'"></vr-datagridcolumn>


</vr-datagrid>