 
<vr-datagrid on-ready="scopeModel.onGridReady"
             datasource="scopeModel.translationRule"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="scopeModel.menuActions"
             idfield="TranslationRuleId">
    <vr-datagridcolumn headertext="'ID'" field="'TranslationRuleId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'DNIS Pattern'" field="'DNISPattern'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'CLI Pattern'" field="'CLIPattern'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Engine'" field="'EngineType'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Creation Date'" field="'CreationDate'"  type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>


</vr-datagrid>