<div ng-if="!editMode">
    <div class="row login-spacer">
        <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
            <vr-textbox value="scopeModel.email" placeholder="Username" type="email" isrequired setfocus></vr-textbox>
        </div>
    </div>
    <div class="row login-spacer">
        <div class="col-xs-8 col-xs-offset-2 col-md-8 col-md-offset-2">
            <vr-textbox value="scopeModel.password" placeholder="Password" type="password" isrequired></vr-textbox>
        </div>
    </div>
</div>

<div ng-if="editMode">
    <vr-row>
        <vr-columns colnum="6">
            <vr-textbox value="scopeModel.email" label="Email" type="text" vr-disabled="true"></vr-textbox>
        </vr-columns>
        <vr-columns colnum="6">
            <vr-textbox value="scopeModel.password" label="Password" type="password" isrequired setfocus></vr-textbox>
        </vr-columns>
    </vr-row>
</div>