<vr-panel ng-controller="FraudAnalysis_AccountStatusManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">

            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices-filter selectedindex="selectedFilternIndex">
                        <vr-choice-filter isselected="basicSelected">Basic</vr-choice-filter>
                        <vr-choice-filter isselected="advancedSelected">Advanced</vr-choice-filter>
                    </vr-choices-filter>
                </vr-columns>
            </vr-row>

            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-datetimepicker label="Valid Till From" typeof="'dateTime'" value="fromDate"></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="To" typeof="'dateTime'" value="toDate"></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-textbox value="accountNumber" label="Account Number"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal" ng-show="advancedSelected">
                    <vr-select label="Sources"
                               datasource="sources"
                               selectedvalues="selectedSources"
                               datavaluefield="value"
                               datatextfield="description"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>

                <vr-columns width="normal" ng-show="advancedSelected">
                    <vr-sec-user-selector on-ready="onUserSelectorReady" ismultipleselection></vr-sec-user-selector>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <vr-button type="Add" haspermission="hasAddAccountStatusPermission" data-onclick="addNewAccountStatus"></vr-button>
                    <vr-button type="Upload" haspermission="hasUploadAccountStatusPermission" data-onclick="uploadAccountStatuses"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-cdr-fraudanalysis-accountstatus-grid on-ready="onGridReady"></vr-cdr-fraudanalysis-accountstatus-grid>
            </vr-columns>
        </vr-row>
    </vr-form>

</vr-panel>