<vr-row>
    <vr-columns width="1/3row">
        <vr-label>Enterprise Name:</vr-label>
        <vr-label isvalue>{{scopeModel.enterpriseName}}</vr-label>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-label>Site Name: </vr-label>
        <vr-label isvalue>{{scopeModel.siteName}}</vr-label>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-label>Routing Group: </vr-label>
        <vr-label isvalue>{{scopeModel.routingGroupName}}</vr-label>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/3row">
        <vr-label>Login Name: </vr-label>
        <vr-label isvalue>{{scopeModel.loginName}}</vr-label>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-label>First Name: </vr-label>
        <vr-label isvalue>{{scopeModel.firstName}}</vr-label>
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-label>Last Name: </vr-label>
        <vr-label isvalue>{{scopeModel.lastName}}</vr-label>
    </vr-columns>
</vr-row>






