<vr-columns width="fullrow">
    <vr-accountbalance-updateaccountbalancesettings on-ready="scopeModel.onUpdateAccountBalanceSettingsDirectiveReady"></vr-accountbalance-updateaccountbalancesettings>
</vr-columns>
<vr-accountbalance-billingtransactiontype-selector normal-col-num="6" on-ready="scopeModel.onCustomerUsageTransactionTypeReady" isrequired="true" customlabel="Customer Usage Transaction Type"></vr-accountbalance-billingtransactiontype-selector>
<vr-accountbalance-billingtransactiontype-selector normal-col-num="6" on-ready="scopeModel.onSupplierUsageTransactionTypeReady" isrequired="true" customlabel="Supplier Usage Transaction Type"></vr-accountbalance-billingtransactiontype-selector>
