<vr-panel ng-controller="PSTN_BusinessEntity_SwitchTrunkManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingFilters">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-textbox label="Symbol" value="symbol"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-select label="Switch"
                               datasource="switches"
                               selectedvalues="selectedSwitches"
                               datavaluefield="ID"
                               datatextfield="Name"
                               entityname="Switch"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-select label="Type"
                               datasource="types"
                               selectedvalues="selectedTypes"
                               datavaluefield="value"
                               datatextfield="description"
                               entityname="Type"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-select label="Direction"
                               datasource="directions"
                               selectedvalues="selectedDirections"
                               datavaluefield="value"
                               datatextfield="description"
                               entityname="Direction"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-select label="Linked To Trunk"
                               datasource="linkedToTrunkObjects"
                               selectedvalues="selectedLinkedToTrunkObjects"
                               datavaluefield="value"
                               datatextfield="description"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                    <vr-button type="Add" data-onclick="addTrunk"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <div>
        <vr-row>
            <vr-columns width="fullrow">

                <vr-datagrid datasource="trunks"
                             on-ready="gridReady"
                             dataretrievalfunction="dataRetrievalFunction"
                             pagingtype="'PagingOnScroll'"
                             menuactions="gridMenuActions"
                             idfield="ID">

                    <vr-datagridcolumn headertext="'Name'" field="'Name'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Symbol'" field="'Symbol'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Switch'" field="'SwitchName'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Type'" field="'TypeDescription'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Direction'" field="'DirectionDescription'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Linked To'" field="'LinkedToTrunkName'" type="'Text'"></vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>