<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="LicenseUserId" value="{Licensed_for_Mohamad_Yahya_Company_Vanrise_Solutions-7DF6-49FA-0D794438-0CED-B96D-2122-7570DF50BFBC}"/>
    <add key="LicenseKey" value="{J+cvweJ22K+vpbvnVAtqZNV7Dd6723rMnwJLYMZrEB1oclZtewl66Wt00ntispXFCxNV0+OgNF4rXKkNiQGw6Q==}"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCFHostService.MyServiceBehavior" name="Vanrise.Fzero.Services.WcfServiceLibrary.FzeroService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="TCPConf" name="NetTcpBindingEndpoint" contract="Vanrise.Fzero.Services.WcfServiceLibrary.IFzeroService"
                    behaviorConfiguration="Vanrise.Fzero.Services.WcfServiceLibraryTCPEndpointBehavior">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="MexConf" name="MexBinding" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8523/FMSImportService" />
          </baseAddresses>
          <timeouts closeTimeout="00:10:10" openTimeout="00:10:00" />
        </host>


      </service>

    </services>

    <bindings>
      <mexTcpBinding>
        <binding name="MexConf" openTimeout="00:59:00" sendTimeout="00:59:00" receiveTimeout="00:59:00" closeTimeout="00:59:00" />
      </mexTcpBinding>
      <netTcpBinding>
        <binding name="TCPConf" openTimeout="00:59:00" sendTimeout="00:59:00" receiveTimeout="00:59:00" closeTimeout="00:59:00" maxBufferPoolSize="209715200" maxBufferSize="52428800" maxReceivedMessageSize="52428800">
          <readerQuotas maxDepth="32" maxStringContentLength="16777216" maxArrayLength="16777216" maxBytesPerRead="16777216" maxNameTableCharCount="16777216" />
          <security mode ="None">
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFHostService.MyServiceBehavior">
          <serviceMetadata httpGetEnabled="False" />
          <serviceThrottling maxConcurrentCalls="2147483647" maxConcurrentSessions="2147483647" maxConcurrentInstances="2147483647"/>
          <serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Vanrise.Fzero.Services.WcfServiceLibraryTCPEndpointBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.110.185\mssql2012;initial catalog=FMS;persist security info=True;user id=development;password=dev!123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FMSConnectionString" connectionString="Data Source=192.168.110.185\mssql2012;Initial catalog=FMS;Persist Security Info=True;User ID=development;Password=dev!123" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing,     error, warning, critical" propagateActivity="true">
        <listeners>
          <add name="traceListener"
       type="System.Diagnostics.TextWriterTraceListener"
       initializeData="c:\Debug\tracestext.log" />

        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
  
</configuration>