<vr-row removeline vr-loader="isLoading">
    <vr-columns width="normal">
        <vr-datetimepicker type="dateTime" label="From" isrequired="true" value="fromTime" customvalidate="validateDateTime()"></vr-datetimepicker>
    </vr-columns>
    <vr-columns width="normal">
        <vr-datetimepicker type="dateTime" label="To" value="toTime" customvalidate="validateDateTime()"></vr-datetimepicker>
    </vr-columns>
    <vr-columns width="normal" withemptyline>
        <vr-button type="Search" standalone data-onclick="searchClicked" vr-disabled="fromTime==undefined || fromTime== null ||  validateDateTime()!=null"></vr-button>
        <vr-button type="Add" standalone data-onclick="addTransaction" ></vr-button>
    </vr-columns>
    <vr-columns width="1/2row" withemptyline>
        <div class="pull-right">
            <vr-label isvalue>Current Balance:</vr-label>
            <vr-label >{{balance |  vrtextOrNumber : 2}}</vr-label>
            <vr-label isvalue>{{currency}}</vr-label>
        </div>
    </vr-columns>
</vr-row>
<vr-row removeline>
    <vr-columns width="fullrow">
        <vr-accountbalance-billingtransaction-grid on-ready="onGridReady"></vr-accountbalance-billingtransaction-grid>
    </vr-columns>
</vr-row>
