<vr-datagrid dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             datasource="scopeModel.billingTransactions" defaultsortbyfieldname="'Entity.TransactionTime'" defaultsortdirection="'DESC'">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.AccountBillingTransactionId'" widthfactor="2"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Transaction Type'" field="'TransactionTypeDescription'" widthfactor="2"></vr-datagridcolumn>    
    <vr-datagridcolumn headertext="'Amount'" field="'Entity.Amount'" type="'Number'" widthfactor="2"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Currency'" field="'CurrencyDescription'" widthfactor="3"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Transaction Time'" field="'Entity.TransactionTime'" type="'Datetime'" widthfactor="3"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Reference'" field="'Entity.Reference'" widthfactor="5"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Notes'" field="'Entity.Notes'" widthfactor="3"></vr-datagridcolumn>
</vr-datagrid>