<vr-columns width="1/3row">
    <vr-select datasource="fields"
               datatextfield="fieldTitle"
               datavaluefield="fieldName"
               selectedvalues="selectedSwitchFieldName"
               entityname="Switch Field Name"
               label="Switch Field Name"
               isrequired="true" hideremoveicon>
    </vr-select>
</vr-columns>
<vr-columns width="1/3row">
    <vr-select datasource="fields"
               datatextfield="fieldTitle"
               datavaluefield="fieldName"
               selectedvalues="selectedTrunkFieldName"
               entityname="Trunk Field Name"
               label="Trunk Field Name"
               isrequired="true" hideremoveicon>
    </vr-select>
</vr-columns>