<vr-row>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID"
                   label="Option Type" datasource="optionSettingsGroupTemplates" selectedvalues="selectedOptionSettingsGroupTemplate" isrequired>
        </vr-select>
    </vr-columns>
    <vr-columns width="3/4row" ng-show="selectedOptionSettingsGroupTemplate" vr-loader="optionSettingsAppendixLoader">
        <vr-directivewrapper directive="selectedOptionSettingsGroupTemplate.Editor" on-ready="onOptionSettingsGroupDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID"
                   label="Option Type" datasource="optionOrderSettingsGroupTemplates" selectedvalues="selectedOptionOrderSettingsGroupTemplate" isrequired>
        </vr-select>
    </vr-columns>
    <vr-columns width="3/4row" ng-show="selectedOptionOrderSettingsGroupTemplate" vr-loader="optionOrderSettingsAppendixLoader">
        <vr-directivewrapper directive="selectedOptionOrderSettingsGroupTemplate.Editor" on-ready="onOptionOrderSettingsGroupDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID"
                   label="Option Type" datasource="optionFilterSettingsGroupTemplates" selectedvalues="selectedOptionFilterSettingsGroupTemplate" isrequired>
        </vr-select>
    </vr-columns>
    <vr-columns width="3/4row" ng-show="selectedOptionFilterSettingsGroupTemplate" vr-loader="optionFilterSettingsAppendixLoader">
        <vr-directivewrapper directive="selectedOptionFilterSettingsGroupTemplate.Editor" on-ready="onOptionFilterSettingsGroupDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/4row">
        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID"
                   label="Option Type" datasource="optionPercentageSettingsGroupTemplates" selectedvalues="selectedPercentageFilterSettingsGroupTemplate" isrequired>
        </vr-select>
    </vr-columns>
    <vr-columns width="3/4row" ng-show="selectedPercentageFilterSettingsGroupTemplate" vr-loader="optionPercentageSettingsAppendixLoader">
        <vr-directivewrapper directive="selectedPercentageFilterSettingsGroupTemplate.Editor" on-ready="onOptionPercentageSettingsGroupDirectiveReady"></vr-directivewrapper>
    </vr-columns>
</vr-row>
