
<vr-columns width="1/3row" haschildcolumns>
    <vr-genericdata-genericbedefinition-selector on-ready="scopeModel.onBEDefinitionSelectorReady" onselectionchanged="scopeModel.onBusinessEntityDefinitionSelectionChange"
                                                 customlabel="Financial Account BE Definition" isrequired="true" hideremoveicon>
    </vr-genericdata-genericbedefinition-selector>
</vr-columns>
<vr-columns width="fullrow">
    <vr-section title="Mapping Fields">
        <vr-columns width="1/3row" vr-loader="scopeModel.isFinancialAccountLoading">
            <vr-genericdata-datarecordtypefields-selector isrequired="true" on-ready="scopeModel.onFinancialAccountFieldSelectorReady" label="Financial Account Field" hideremoveicon>
            </vr-genericdata-datarecordtypefields-selector>
        </vr-columns>

        <vr-columns width="1/3row" vr-loader="scopeModel.isAccountNameLoading">
            <vr-genericdata-datarecordtypefields-selector isrequired="true" on-ready="scopeModel.onAccountNameFieldSelectorReady" label="Account Name Field" hideremoveicon>
            </vr-genericdata-datarecordtypefields-selector>
        </vr-columns>

        <vr-columns width="1/3row" vr-loader="scopeModel.isStatusNameLoading">
            <vr-genericdata-datarecordtypefields-selector isrequired="true" on-ready="scopeModel.onStatusNameFieldSelectorReady" label="Status Name Field" hideremoveicon>
            </vr-genericdata-datarecordtypefields-selector>
        </vr-columns>

        <vr-columns width="1/3row" vr-loader="scopeModel.isBEDLoading">
            <vr-genericdata-datarecordtypefields-selector isrequired="true" on-ready="scopeModel.onBEDFieldSelectorReady" label="BED Field" hideremoveicon>

            </vr-genericdata-datarecordtypefields-selector>
        </vr-columns>

        <vr-columns width="1/3row" vr-loader="scopeModel.isEEDLoading">
            <vr-genericdata-datarecordtypefields-selector isrequired="true" on-ready="scopeModel.onEEDFieldSelectorReady" label="EED Field" hideremoveicon>
            </vr-genericdata-datarecordtypefields-selector>
        </vr-columns>

        <vr-columns width="1/3row" vr-loader="scopeModel.isCurrencyLoading">
            <vr-genericdata-datarecordtypefields-selector isrequired="true" on-ready="scopeModel.onCurrencyFieldSelectorReady" label="Currency Field" hideremoveicon>
            </vr-genericdata-datarecordtypefields-selector>
        </vr-columns>
    </vr-section>
</vr-columns>
