<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.passwordLength" type="number" minvalue="1" decimalprecision="0" isrequired="true" label="Min Password Length" customvalidate="scopeModel.passwordValueCustomValidation()"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.maxPasswordLength" type="number" minvalue="1" decimalprecision="0" isrequired="true" label="Max Password Length" customvalidate="scopeModel.passwordValueCustomValidation()"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-sec-passwordcomplexity-selector on-ready="scopeModel.onPasswordComplexitySelectorReady"></vr-sec-passwordcomplexity-selector>
    </vr-columns>
</vr-row>
