 <vr-row>
        <vr-columns width="1/4row">
            <vr-select datasource="periods" datatextfield="description" datavaluefield="value" label="Period"
                       selectedvalues="selectedPeriod" isrequired hidefilterbox onselectionchanged="periodSelectionChanged"></vr-select>
        </vr-columns>

        <vr-columns width="1/2row">

            <vr-validator validate="validateDateTime()">
                <vr-columns width="1/2row">
                    <vr-datetimepicker type="dateTime" value="fromDate" label="From" isrequired onblurdatetime="onBlurChanged"></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="1/2row">
                    <vr-datetimepicker type="dateTime" value="toDate" label="To" isrequired onblurdatetime="onBlurChanged"></vr-datetimepicker>
                </vr-columns>
            </vr-validator>
        </vr-columns>
        <vr-columns width="1/4row">
            <vr-select datasource="timeDimensionTypes" datatextfield="description" datavaluefield="value" label="Grouped By"
                       selectedvalues="selectedTimeDimensionType" isrequired hidefilterbox hideremoveicon></vr-select>
        </vr-columns>


</vr-row>
<vr-row>
    <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
        <div transclude-to="buttons">
            <vr-button type="Search" validationcontext="widgetPreviewGroup" data-onclick="Search"></vr-button>
        </div>
    </vr-actionbar>
</vr-row>
<vr-row>

        <vr-columns width="fullrow" ng-if="widget !=undefined">
            <vr-directivewrapper directive="widget.Setting.directive" title="widget.SectionTitle" on-ready="onElementReady" settings="widget.Setting.settings"
                                    retrievedataonload="false" filter="filter"></vr-directivewrapper>
        </vr-columns>
</vr-row>


