<vr-datagrid datasource="ctrl.widgets"
                dataretrievalfunction="ctrl.dataRetrievalFunction"
                menuactions="ctrl.menuActions"
                on-ready="ctrl.onMainGridReady"
                pagingtype="'PagingOnScroll'"
                idfield="Entity.Id">
    <vr-datagridcolumn headertext="'Widget Name'" localizedheadertext="'VRRes.WidgetName.VREnd'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Widget Type'" localizedheadertext="'VRRes.WidgetType.VREnd'" field="'WidgetDefinitionName'"></vr-datagridcolumn>
</vr-datagrid>

