<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="vanriseLogging" type="Vanrise.Common.LoggingConfiguration.LoggingConfig, Vanrise.Common" />
    <section name="vanriseRuntime" type="Vanrise.Runtime.Configuration.RuntimeConfig, Vanrise.Runtime" />
  </configSections>
  <!-- Vanrise Runtime is configured as per client resources (mainly CPU \ RAM Memory) -->
  <vanriseRuntime>
    <runtimeServiceGroups>
      <!-- Used for scheduling services for data sources, workflow. nbOfRuntimeInstances recommended to be equal to 1 or 2.-->
      <runtimeServiceGroup name="group2" nbOfRuntimeInstances="1">
        <runtimeServices>
          <runtimeService name="Scheduler Service" type="Vanrise.Runtime.SchedulerService, Vanrise.Runtime" interval="00:00:02"></runtimeService>
        </runtimeServices>
      </runtimeServiceGroup>
    </runtimeServiceGroups>
  </vanriseRuntime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <vanriseLogging maxLogLevel="Information">
    <loggers>
      <logger name="SQLLogger" type="Vanrise.Logging.SQL.SQLLogger, Vanrise.Logging.SQL">
        <parameters>
          <parameter name="LoggingConnectionStringKey" value="LogDBConnString" />
          <parameter name="ConfigurationConnectionStringKey" value="ConfigurationDBConnString" />
        </parameters>
      </logger>
      <logger name="ConsoleLogger" type="Vanrise.Common.ConsoleLogger, Vanrise.Common">
      </logger>
    </loggers>
    <exceptionLoggers>
      <exceptionLogger name="ConsoleExceptionLogger" type="Vanrise.Common.ConsoleExceptionLogger, Vanrise.Common">
      </exceptionLogger>
      <exceptionLogger name="DefaultExceptionLogger" type="Vanrise.Common.DefaultExceptionLogger, Vanrise.Common">
      </exceptionLogger>
    </exceptionLoggers>
  </vanriseLogging>
  
  <connectionStrings configSource="ConnectionStrings.config">    
    <!--<add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=QualityMeasurementConfiguration;User ID=development;Password=dev!123;" />
    <add name="TransactionDBConnString" connectionString="Data Source=.;Initial Catalog=QMTransactionDB;User ID=sa; Password=p@ssw0rd" />
    <add name="QMConnString" connectionString="Server=192.168.110.185;Database=QualityMeasurement_Dev;User ID=Development;Password=dev!123" />
    <add name="LogDBConnString" connectionString="Initial Catalog=QualityMeasurementLog;Data Source=.;User ID=sa; Password=p@ssw0rd" />-->
  </connectionStrings>
  
  <appSettings file="appSettings.config">
    <add key="EncryptionSecretKey" value="V@nR!se-Se6r3t" />
    <add key="IsRuntimeService" value="false"/>

    <add key="RuntimeConnStringKey"                             value="TransactionDBConnString"/>
    <add key="BigDataServiceDBConnStringKey"                    value="TransactionDBConnString"/>
    
    <add key="LoggingDBConnStringKey"                           value="LogDBConnString"/>

    <add key="SecurityDBConnStringKey"                          value="ConfigurationDBConnString"/>
    <add key="ConfigurationDBConnStringKey"                     value="ConfigurationDBConnString"/>
    <add key="IntegrationConfigDBConnStringKey"                 value="ConfigurationDBConnString"/>
    <add key="RuntimeConfigDBConnStringKey"                     value="ConfigurationDBConnString"/>

    <add key="QM_BE_DBConnStringKey"                            value="QMConnString"/>
    <add key="QM_CLITester_DBConnStringKey"                     value="QMConnString"/>

    <!--Testing Profile-->
    <!--Protel-->
    <!--<add key="ConnectorEmail" value="WYtp0l4OqaBUNquwGoGhztgUI8jFe5CRaNrzLrr3ESU=" />
    <add key="ConnectorPassword" value="XBJnXe8lZBfUxP9BpalLAg==" />
    <add key="ConnectorUrl" value="dCw8OSmS14MSHGcMFrmxOG+9zd0qm3XhUBY0lfvvRhM=" />
    <add key="ConnectorUrlBeta" value="CLGo9vEUBAsD1kNHD/qrtA8bJdRl0NWvy8UeHVvKRjg=" />-->

    <!--Sama-->
    <add key="ConnectorEmail" value="AhxkeopAGtDvXwLqP9NK/gYo1xPk4CFBzfAbLkMqH8A=" />
    <add key="ConnectorPassword" value="WSZCkE2SkDKSst3TB5OAmQ==" />
    <add key="ConnectorUrl" value="dCw8OSmS14MSHGcMFrmxOG+9zd0qm3XhUBY0lfvvRhM=" />
    <add key="ConnectorUrlBeta" value="CLGo9vEUBAsD1kNHD/qrtA8bJdRl0NWvy8UeHVvKRjg=" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>