<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages clientIDMode="Static"/>
  </system.web>
  <appSettings>
    <!-- in seconds -->
  </appSettings>
  <connectionStrings>
    <add name="CallGeneratorConnectionString" connectionString="Data Source=192.168.110.185;Initial Catalog=CallGenerator_Dev;User ID=development;Password=dev!123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>