<vr-panel ng-controller="Supplier_SupplierTODManagementController">
    <vr-form name="formFilter">
        <vr-form name="formFilter">
            <div ng-hide="filterSectionCollapsed">
                <vr-row removeline>
                    <vr-columns width="normal">
                        <vr-select label="Supplier" withlocalfilter datasource="suppliers" selectedvalues="selectedSupplier" datatextfield="Name" datavaluefield="CarrierAccountID"
                                   entityname="Suppliers">
                        </vr-select>
                    </vr-columns>
                    <vr-columns width="normal">
                        <vr-select datasource="searchZones" label="Zones" selectedvalues="selectedZones" ismultipleselection datatextfield="Name" datavaluefield="ZoneId"
                                   entityname="Zones"></vr-select>
                    </vr-columns>
                    <vr-columns width="normal">
                        <vr-datetimepicker type="date" value="effectiveOn" label="Effective On" isrequired></vr-datetimepicker>
                    </vr-columns>

                </vr-row>
            </div>
            <vr-row removeline>
                <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                    <div transclude-to="buttons">
                        <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                        <!--<vr-button type="Add" data-onclick="AddNewCarrierProfile"></vr-button>-->
                    </div>
                </vr-actionbar>
            </vr-row>
            <div vr-loader="isLoading">
                <vr-row>
                    <vr-columns width="fullrow">
                        <vr-datagrid datasource="::datasource" pagingtype="'PagingOnScroll'" dataretrievalfunction="dataRetrievalFunction" on-ready="gridReady" menuactions="[]">
                            <vr-datagridcolumn headertext="'SupplierName'" field="'CarrierName'">
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'">
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Definition'" field="'DefinitionDisplayS'">
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Start Date'" field="'BeginEffectiveDate'">
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'End Date'" field="'EndEffectiveDate'">
                            </vr-datagridcolumn>
                            <!--<vr-datagridcolumn headertext="'Active'" field="'AccountsCount'">
                            </vr-datagridcolumn>-->
                        </vr-datagrid>
                    </vr-columns>
            </div>
        </vr-form>
    </vr-form>
</vr-panel>