<vr-panel ng-controller="BE_SupplierCommissionManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-select datasource="suppliers" withlocalfilter datatextfield="Name" datavaluefield="CarrierAccountID" selectedvalues="selectedSupplier" label="Supplier" entityname="Supplier"></vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-be-costzones selectedvalues="selectedZones" carrierid="selectedSupplier.CarrierAccountID" ismultipleselection></vr-be-costzones>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker label="Effective On" value="effectiveFrom" type="date" isrequired></vr-datetimepicker>
                </vr-columns>
            </vr-row>

        </div>
    </vr-form>

    <vr-row>
        <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">

            <div transclude-to="buttons">
                <vr-button type="Search" formname="formFilter" data-onclick="getData"></vr-button>
            </div>
        </vr-actionbar>
    </vr-row>
    <div ng-show="showResult">
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-datagrid datasource="data" dataretrievalfunction="dataRetrievalFunction" pagingtype="'Pager'" on-ready="onMainGridReady">
                    <vr-datagridcolumn headertext="'SupplierName'" field="'SupplierName'" ></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" ></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Currency'" field="'Currency'" ></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'From Rate'" field="'FromRate'" ></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'To Rate'" field="'ToRate'" ></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Percentage'" field="'Percentage'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Amount'" field="'Amount'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'BED'" field="'BeginEffectiveDate'" type="'Date'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'EEd'" field="'EndEffectiveDate'" type="'Date'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Extra Charge'" field="'IsExtraCharge'"></vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>

</vr-panel>
