<vr-panel ng-controller="BusinessEntity_CustomerTariffManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-select label="Customer"
                               withlocalfilter
                               datasource="customers"
                               selectedvalues="selectedCustomer"
                               datatextfield="Name"
                               datavaluefield="CarrierAccountID"
                               entityname="Customer">
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-be-zones selectedvalues="selectedZones"
                                 carrierid="selectedCustomer.CarrierAccountID"
                                 ismultipleselection>
                    </vr-be-zones>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker label="Effective On" value="effectiveOn" type="date" isrequired></vr-datetimepicker>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <div>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-datagrid datasource="tariffs"
                             dataretrievalfunction="dataRetrievalFunction"
                             pagingtype="'PagingOnScroll'"
                             on-ready="gridReady"
                             idfield="TariffID"
                             ng-show="showGrid">

                    <vr-datagridcolumn field="'CustomerName'" headertext="'Customer'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'ZoneName'" headertext="'Zone'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'CurrencyID'" headertext="'Currency'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'CallFee'" headertext="'Call Fee'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'FirstPeriod'" headertext="'First Period'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'FirstPeriodRate'" headertext="'First Period Rate'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'FractionUnit'" headertext="'Fraction Unit'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'BeginEffectiveDate'" headertext="'BED'" type="'Date'"></vr-datagridcolumn>
                    <vr-datagridcolumn field="'EndEffectiveDate'" headertext="'EED'" type="'Date'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Is Effective'">
                        <vr-icon icontype="dataItem.IsEffective"></vr-icon>
                    </vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>