<vr-genericdata-datatransformation-rulestep-common on-ready="onRuleStepCommonReady"></vr-genericdata-datatransformation-rulestep-common>
<vr-row>
    <vr-columns width="fullrow">
        <vr-section title="Settings">
            <vr-genericdata-expressionbuilder on-ready="onNumberOfSMSsDirectiveReady" label=" Number of SMSs" isrequired="true"></vr-genericdata-expressionbuilder>
            <vr-genericdata-expressionbuilder on-ready="onTotalAmountDirectiveReady" label="Total amount" ></vr-genericdata-expressionbuilder>
            <vr-genericdata-expressionbuilder on-ready="onTotalTaxValueDirectiveReady" label="Total tax value"></vr-genericdata-expressionbuilder>
        </vr-section>
    </vr-columns>
</vr-row>