<vr-tabs>
    <vr-tab header="'Cost Columns'">
        <span vr-loader="scopeModel.isLoadingCostCalculationsMethods">
            <vr-whs-sales-costcolumns on-ready="scopeModel.onCostColumnDirectiveReady" isrequired="true"></vr-whs-sales-costcolumns>
        </span>
    </vr-tab>
    <vr-tab header="'TQI'">
        <vr-row>
            <vr-whs-be-period-selector on-ready="scopeModel.onPeriodSelectorReady" label="Last" normal-col-num="6" isrequired="true"></vr-whs-be-period-selector>
        </vr-row>
    </vr-tab>
    <vr-tab header="'Copy To Other Customers'">
        <vr-row>
            <vr-columns>
                <vr-label>Follow Master Rate's BED <vr-hint value={{scopeModel.hintText}}></vr-hint></vr-label>
                <vr-switch value="scopeModel.followMasterRatesBED"></vr-switch>
            </vr-columns>
        </vr-row>
    </vr-tab>
</vr-tabs>