<vr-tab header="'Cache'" localizedheader="'VRRes.Cache.VREnd'">
    <vr-row>
        <vr-columns colnum="6">
            <vr-textbox label="Client Cache Number" localizedlabel="VRRes.ClientCacheNumber.VREnd" value="scopeModel.clientCacheNumber" vr-disabled="true"></vr-textbox>
        </vr-columns>
        <vr-columns colnum="6">
            <vr-switch value="scopeModel.updateCache" label="Update" onvaluechanged="scopeModel.onUpdateSwitchChanged" vr-disabled="scopeModel.updateSwitchDisabled"></vr-switch>
        </vr-columns>
    </vr-row>
</vr-tab>