<vr-panel ng-controller="FraudAnalysis_SuspicionAnalysisController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isInitializing">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices-filter selectedindex="selectedFilternIndex">
                        <vr-choice-filter isselected="basicSelected">Basic</vr-choice-filter>
                        <vr-choice-filter isselected="advancedSelected">Advanced</vr-choice-filter>
                    </vr-choices-filter>

                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Account Number" value="accountNumber"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="From" value="fromDate" type="dateTime" isrequired customvalidate="validateTimeRange()"></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="To" value="toDate" type="dateTime" isrequired customvalidate="validateTimeRange()"></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Strategy" ng-show="advancedSelected"
                               datasource="strategies"
                               selectedvalues="selectedStrategies"
                               datavaluefield="value"
                               datatextfield="description"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Status" ng-show="advancedSelected"
                               datasource="accountStatuses"
                               selectedvalues="selectedAccountStatuses"
                               datavaluefield="value"
                               datatextfield="description"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Suspicion Level" ng-show="advancedSelected"
                               datasource="suspicionLevels"
                               selectedvalues="selectedSuspicionLevels"
                               datavaluefield="value"
                               datatextfield="description"
                               ismultipleselection>
                    </vr-select>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>
    <div>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-datagrid datasource="accountSuspicionSummaries"
                             on-ready="onGridReady"
                             dataretrievalfunction="dataRetrievalFunction"
                             menuactions="gridMenuActions"
                             pagingtype="'PagingOnScroll'"
                             idfield="AccountNumber">
                    <vr-datagridcolumn headertext="'Status'" field="'AccountStatusDescription'" type="'Text'" getcolor="getCaseStatusColor"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Suspicious Number'" field="'AccountNumber'" type="'Text'" isclickable="true" onclicked="summaryClicked"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Suspicion Level'" field="'SuspicionLevelDescription'" type="'Text'" getcolor="getSuspicionLevelColor"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Last Occurrence Time'" field="'LastOccurance'" type="'Datetime'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Occurrences'" field="'NumberOfOccurances'" type="'Number'" numberprecision="'NoDecimal'"></vr-datagridcolumn>
                </vr-datagrid>
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>