<vr-panel ng-controller="FraudAnalysis_SuspicionAnalysisController">

    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns colnum="2">
                    <vr-datetimepicker type="dateTime" value="fromDate" label="From" isrequired ></vr-datetimepicker>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-datetimepicker type="dateTime" value="toDate" label="To" isrequired customvalidate="customvalidateTo"></vr-datetimepicker>
                </vr-columns>

                <vr-columns colnum="2">
                    <vr-select datasource="strategies" datatextfield="name" datavaluefield="id" label="Strategy" selectedvalues="selectedStrategies" ismultipleselection></vr-select>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-select datasource="suspicionLevels" datatextfield="name" datavaluefield="id" label="Suspicion Levels" selectedvalues="selectedSuspicionLevels" ismultipleselection></vr-select>
                </vr-columns>

                <vr-columns colnum="2">
                    <vr-select datasource="statuses" datatextfield="name" datavaluefield="id" selectedvalues="selectedStatus" label="Status"  ismultipleselection></vr-select>
                </vr-columns>

            </vr-row>
            
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"  ></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

       
    </vr-form>
    <div >
        <vr-row>
            <vr-columns colnum="12" simplecol>

                <vr-datagrid datasource="fraudResults" dataretrievalfunction="dataRetrievalFunction" maxheight="400px" pagingtype="'PagingOnScroll'" on-ready="onMainGridReady" menuactions="gridMenuActions" idfield="SubscriberNumber">
                        <vr-datagridcolumn headertext="'Last Occurance'" field="'LastOccurance'" type="'Datetime'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Subscriber Number'" field="'SubscriberNumber'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Suspicion Level'" field="'SuspicionLevelName'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Strategy'" field="'StrategyName'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Occurances'" field="'NumberofOccurances'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Status'" field="'CaseStatus'"></vr-datagridcolumn>
                    </vr-datagrid>
</vr-columns>
        </vr-row>
    </div>
</vr-panel>