<div vr-modalcontent draggable ng-controller="FraudAnalysis_SuspiciousNumberDetailsController" width="'95%'">
    <vr-modalbody vr-loader="isInitializing">

        <vr-form name="formSuspiciousNumberDetails">

            <vr-row>
                <vr-columns width="normal">
                    <vr-textbox label="Account Number" value="accountNumber" readonly></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="From" value="from" type="dateTime" onvaluechanged="filterDetails()" isrequired></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="To" value="to" type="dateTime" onvaluechanged="filterDetails()" isrequired></vr-datetimepicker>
                </vr-columns>
            </vr-row>

            <vr-choices selectedindex="selectedTabIndex" onselectionchanged="onSelectedTabChanged()">
                <vr-choice isselected="occurancesSelected">Occurances</vr-choice>
                <vr-choice isselected="normalCDRsSelected">Normal CDRs</vr-choice>
                <vr-choice isselected="numberProfilesSelected">Number Profiles</vr-choice>
                <vr-choice isselected="caseHistorySelected">Case History</vr-choice>
            </vr-choices>

            <div ng-show="occurancesSelected">
                <vr-row>
                    <vr-columns width="fullrow" simplecol>
                        <vr-datagrid datasource="occurances"
                                     on-ready="onGridReady_Occurances"
                                     dataretrievalfunction="dataRetrievalFunction_Occurances"
                                     pagingtype="'PagingOnScroll'"
                                     idfield="DetialID">

                            <vr-datagridcolumn headertext="'Suspicion Level'" field="'SuspicionLevelDescription'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Strategy'" field="'StrategyName'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Status'" field="'SuspicionOccuranceStatusDescription'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'From Date'" field="'FromDate'" type="'Date'"></vr-datagridcolumn>
                        </vr-datagrid>
                    </vr-columns>
                </vr-row>
            </div>

            <div ng-show="normalCDRsSelected">
                <vr-row>
                    <vr-columns width="fullrow" simplecol>
                        <vr-datagrid datasource="normalCDRs"
                                     on-ready="onGridReady_NormalCDRs"
                                     dataretrievalfunction="dataRetrievalFunction_NormalCDRs"
                                     pagingtype="'PagingOnScroll'"
                                     idfield="Id">

                            <vr-datagridcolumn headertext="'IMSI'" field="'IMSI'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Day'" field="'ConnectDateTime'" type="'Date'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Destination'" field="'Destination'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Duration (Secs)'" field="'DurationInSeconds'" type="'Number'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Call Class'" field="'Call_Class'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Call Type'" field="'CallTypeDescription'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'SubType'" field="'SubType'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'IMEI'" field="'IMEI'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Cell ID'" field="'CellId'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Up Volume'" field="'UpVolume'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Down Volume'" field="'DownVolume'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Service Type'" field="'ServiceType'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Service VAS Name'" field="'ServiceVASName'" type="'Text'"></vr-datagridcolumn>
                        </vr-datagrid>
                    </vr-columns>
                </vr-row>
            </div>

            <div ng-show="numberProfilesSelected">
                <vr-row>
                    <vr-columns width="fullrow" simplecol>
                        <div class="big-data-grid">
                            <div class="container">
                                <vr-datagrid datasource="numberProfiles"
                                             on-ready="onGridReady_NumberProfiles"
                                             dataretrievalfunction="dataRetrievalFunction_NumberProfiles"
                                             pagingtype="'PagingOnScroll'">

                                    <vr-datagridcolumn headertext="'Strategy'" field="'StrategyName'" type="'Text'"></vr-datagridcolumn>

                                    <vr-datagridcolumn ng-repeat="agg in aggregateDefinitions"
                                                       columnindex="$index + 1"
                                                       headertext="agg.name"
                                                       field="'AggregateValues[&quot;' + agg.name + '&quot;]'"
                                                       type="'Number'">
                                    </vr-datagridcolumn>
                                </vr-datagrid>
                            </div>
                        </div>
                    </vr-columns>
                </vr-row>
            </div>

            <div ng-show="caseHistorySelected">
                <vr-row>
                    <vr-columns width="fullrow" simplecol>
                        <vr-datagrid datasource="cases"
                                     on-ready="onGridReady_CaseHistory"
                                     dataretrievalfunction="dataRetrievalFunction_CaseHistory"
                                     pagingtype="'PagingOnScroll'"
                                     idfield="CaseID">

                            <vr-datagridcolumn headertext="'Case ID'" field="'CaseID'" type="'Number'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'User'" field="'UserName'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Status'" field="'CaseStatusDescription'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Last Status Update'" field="'StatusUpdatedTime'" type="'Datetime'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Valid Till'" field="'ValidTill'" type="'Datetime'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Created Time'" field="'CreatedTime'" type="'Datetime'"></vr-datagridcolumn>

                            <vr-datagridexpandablerow>
                                <div ng-include="'/Client/Modules/FraudAnalysis/Views/SuspiciousAnalysis/CaseOccuranceGrid.html'"></div>
                            </vr-datagridexpandablerow>
                        </vr-datagrid>
                    </vr-columns>
                </vr-row>
            </div>
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-section title="Update Case">
                        <vr-columns width="normal">
                            <vr-select label="Status"
                                       datasource="caseStatuses"
                                       selectedvalues="selectedCaseStatus"
                                       datavaluefield="value"
                                       datatextfield="description"
                                       onselectionchanged="toggleValidTill"
                                       isrequired>
                            </vr-select>
                        </vr-columns>
                        <vr-columns width="normal">
                            <vr-datetimepicker label="Valid Till"
                                               value="validTill"
                                               type="dateTime"
                                               ng-show="whiteListSelected">
                            </vr-datetimepicker>
                        </vr-columns>
                    </vr-section>
                </vr-columns>
            </vr-row>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formSuspiciousNumberDetails" data-onclick="updateAccountCase"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
