<div vr-modalcontent width="'75%'" ng-controller="SuspiciousNumberDetailsController">
    <vr-modalbody vr-loader="isGettingData">
        <vr-form name="formSuspiciousNumberDetails">
            <vr-row>
                <vr-columns colnum="2">
                    <vr-label>Subscriber Number:</vr-label>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-label isvalue>{{subscriberNumber}}</vr-label>
                </vr-columns>


                <vr-columns colnum="2">
                    <vr-label>Suspicion Level:</vr-label>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-label isvalue>{{suspicionLevelName}}</vr-label>
                </vr-columns>



                <vr-columns colnum="2">
                    <vr-label>Related Numbers:</vr-label>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-select datasource="relatedNumbers" selectedvalues="selectedRelatedNumber" onselectionchanged="selectedRelatedNumbersChanged"></vr-select>
                </vr-columns>



            </vr-row>

            <vr-row>

                <vr-columns colnum="12">

                    <vr-choices onselectionchanged="ctrl.viewVisibilityChanged">
                        <vr-choice isselected="ctrl.isSubscriberThresholdsTabShown">Subscriber Thresholds</vr-choice>
                        <vr-choice isselected="ctrl.isNormalCDRTabShown">CDR</vr-choice>
                        <vr-choice isselected="ctrl.isNumberProfileTabShown">Number Profile</vr-choice>
                    </vr-choices>

                    <div>
                        <vr-row>
                            <vr-columns colnum="12">
                                <div ng-show="ctrl.isSubscriberThresholdsTabShown" vr-loader="isGettingSubscriberThresholds">
                                    <vr-datagrid datasource="subscriberThresholds" maxheight="400px" loadmoredata="loadMoreDataSubscriberThresholds" on-ready="onSubscriberThresholdsGridReady">
                                        <vr-datagridcolumn headertext="'Date'" field="'DateDay'" type="'Datetime'" widthfactor="17"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 1'" field="'Criteria1'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 2'" field="'Criteria2'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 3'" field="'Criteria3'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 4'" field="'Criteria4'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 5'" field="'Criteria5'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 6'" field="'Criteria6'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 7'" field="'Criteria7'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 8'" field="'Criteria8'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 9'" field="'Criteria9'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 10'" field="'Criteria10'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 11'" field="'Criteria11'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 12'" field="'Criteria12'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 13'" field="'Criteria13'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 14'" field="'Criteria14'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 15'" field="'Criteria15'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 16'" field="'Criteria16'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 17'" field="'Criteria17'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filt. 18'" field="'Criteria18'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Suspicion Level'" field="'SuspicionLevelName'"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Strategy'" field="'StrategyName'"></vr-datagridcolumn>
                                    </vr-datagrid>

                                </div>
                                <div ng-show="ctrl.isNormalCDRTabShown" vr-loader="isGettingNormalCDRs">
                                    <vr-datagrid datasource="normalCDRs" maxheight="400px" loadmoredata="loadMoreDataNormalCDRs" on-ready="onNormalCDRsGridReady">
                                        <vr-datagridcolumn headertext="'IMSI'" field="'IMSI'" widthfactor="13">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Connect'" field="'ConnectDateTime'" type="'Datetime'" widthfactor="17"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Duration'" field="'DurationInSeconds'" widthfactor="5">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Class'" field="'CallClass'" widthfactor="10">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Type'" field="'CallType'" widthfactor="10">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'SubType'" field="'SubType'" widthfactor="10">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'IMEI'" field="'IMEI'" widthfactor="13">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Cell Id'" field="'CellId'" widthfactor="10">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Up Volume'" field="'UpVolume'" widthfactor="10">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Down Volume'" field="'DownVolume'" widthfactor="10">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Service Type'" field="'ServiceType'" widthfactor="10">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Service VAS'" field="'ServiceVASName'">  </vr-datagridcolumn>
                                    </vr-datagrid>

                                </div>
                                <div ng-show="ctrl.isNumberProfileTabShown" vr-loader="isGettingNumberProfiles">
                                    <vr-datagrid datasource="numberProfiles" maxheight="400px" rotate="true" loadmoredata="loadMoreDataNumberProfiles" on-ready="onNumberProfilesGridReady">
                                        <vr-datagridcolumn headertext="'From Date'" field="'FromDate'" type="'Datetime'" widthfactor="25"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'To Date'" field="'ToDate'" type="'Datetime'" widthfactor="25"></vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountOutCalls'" field="'CountOutCalls'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'DiffOutputNumb'" field="'DiffOutputNumb'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountOutInter'" field="'CountOutInter'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountInInter'" field="'CountInInter'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CallOutDurAvg'" field="'CallOutDurAvg'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountOutFail'" field="'CountOutFail'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountInFail'" field="'CountInFail'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'TotalOutVolume'" field="'TotalOutVolume'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'TotalInVolume'" field="'TotalInVolume'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'DiffInputNumbers'" field="'DiffInputNumbers'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountOutSMS'" field="'CountOutSMS'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'TotalIMEI'" field="'TotalIMEI'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'TotalBTS'" field="'TotalBTS'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'TotalDataVolume'" field="'TotalDataVolume'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountInCalls'" field="'CountInCalls'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CallInDurAvg'" field="'CallInDurAvg'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountOutOnNet'" field="'CountOutOnNet'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountInOnNet'" field="'CountInOnNet'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountOutOffNet'" field="'CountOutOffNet'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountInOffNet'" field="'CountInOffNet'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'CountConsecutiveCalls'" field="'CountConsecutiveCalls'">  </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Count In Low Duration Calls'" field="'CountInLowDurationCalls'">  </vr-datagridcolumn>

                                    </vr-datagrid>
                                </div>
                            </vr-columns>
                        </vr-row>
                    </div>
                </vr-columns>

            </vr-row>

            <vr-row>

                <vr-section title="Update Case: ">
                    <div style="max-height:285px;overflow-y:auto;overflow-x:hidden">
                        <vr-columns colnum="2">
                            <vr-select datasource="statuses" datatextfield="name" datavaluefield="id" selectedvalues="selectedStatus" onselectionchanged="selectedStatusChanged" label="Status" isrequired></vr-select>
                        </vr-columns>


                        <vr-columns colnum="2">
                            <vr-datetimepicker type="date" value="validTill" label="Valid Till"></vr-datetimepicker>
                        </vr-columns>
                       
                    </div>
                </vr-section>





            </vr-row>
        </vr-form>
    </vr-modalbody>


    <div>

        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="ApplyChanges" formname="formSuspiciousNumberDetails" data-onclick="ApplyChangeStatus" isasynchronous=" true"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>

</div>
