<vr-row>
    <vr-columns width="fullrow">
        <vr-button type="Add" data-onclick="ctrl.onAddInvoiceSetting" standalone></vr-button>
    </vr-columns>
</vr-row>

<vr-validator validate="ctrl.isInvoiceTypeValid()">
    <vr-datagrid datasource="ctrl.datasource"
                 pagingtype="'PagingOnScroll'"
                 on-ready="scopeModel.onGridReady"
                 ondeleterow="ctrl.removeRow"
                 idfield="Entity.InvoiceTypeId">
        <vr-datagridcolumn headertext="'Invoice Type'">
            <vr-invoicetype-selector on-ready="dataItem.onInvoiceTypeSelectorReady" normal-col-num="10" onselectionchanged="dataItem.saveDataItem"></vr-invoicetype-selector>
        </vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Need Approval'">
            <vr-switch value="dataItem.NeedApproval" label="Need Approval"></vr-switch>
        </vr-datagridcolumn>
    </vr-datagrid>
</vr-validator>
