<div vr-modalcontent ng-controller="WhS_CDRProcessing_CustomerIdentificationRuleEditorController" vr-loader="isGettingData" width="'50%'">
    <vr-modalbody maxheight="'500px'">
        <vr-form name="formCustomerIdentificationRuleEditor">
            <vr-choices selectedindex="0">
                <vr-choice isselected="definitionSelected">Definition</vr-choice>
                <vr-choice isselected="criteriaSelected">Criteria</vr-choice>
                <vr-choice isselected="settingsSelected">Settings</vr-choice>
                <vr-choice isselected="schedulerSelected">Scheduler</vr-choice>
            </vr-choices>
            <div ng-show="definitionSelected">
                <vr-row>
                    <vr-columns width="fullrow">
                        <vr-textarea label="Description" value="description"></vr-textarea>
                    </vr-columns>
                </vr-row>
            </div>
            <div ng-show="criteriaSelected">
                <vr-row>
                    <vr-columns width="fullrow">


                        <vr-row>
                            <vr-columns width="1/4row">
                                <vr-textbox label="In Trunk" value="inTrunk" onvaluechanged="onInTrunkValueChange"></vr-textbox>
                            </vr-columns>
                            <vr-columns width="normal" withemptyline>
                                <vr-button type="Add" data-onclick="addTrunk" standalone vr-disabled="disableInTrunkAddButton"></vr-button>
                            </vr-columns>
                            <vr-columns width="fullrow">
                                <div style="max-height:78px;overflow-y: auto;">
                                    <span class="label custom-label" style="min-width: 60px; margin: 2px;font-size:14px" ng-repeat="intrunk in inTrunks">
                                        {{intrunk}}
                                        <span class="glyphicon glyphicon-remove hand-cursor" aria-hidden="true" ng-click="removeInTrunk(intrunk)"></span>
                                    </span>
                                </div>
                            </vr-columns>
                        </vr-row>
                        <vr-row>
                            <vr-columns width="1/4row">
                                <vr-textbox label="In Carrier" value="inCarrier" onvaluechanged="onInCarrierValueChange"></vr-textbox>
                            </vr-columns>
                            <vr-columns width="normal" withemptyline>
                                <vr-button type="Add" data-onclick="addCarrier" standalone vr-disabled="disableInCarrierAddButton"></vr-button>
                            </vr-columns>
                            <vr-columns width="fullrow">
                                <div style="max-height:78px;overflow-y: auto;">
                                    <span class="label custom-label" style="min-width: 60px; margin: 2px;font-size:14px" ng-repeat="incarrier in inCarriers">
                                        {{incarrier}}
                                        <span class="glyphicon glyphicon-remove hand-cursor" aria-hidden="true" ng-click="removeInCarrier(incarrier)"></span>
                                    </span>
                                </div>
                            </vr-columns>
                        </vr-row>
                        <vr-row>
                            <vr-columns width="1/4row">
                                <vr-textbox label="CDPN Prefix" value="CDPNPrefix" onvaluechanged="onCDPNValueChange"></vr-textbox>
                            </vr-columns>
                            <vr-columns width="normal" withemptyline>
                                <vr-button type="Add" data-onclick="addCDPNPrefix" standalone vr-disabled="disableAddCDPNPrefixButton" ></vr-button>
                            </vr-columns>
                            <vr-columns width="fullrow">
                                <div style="max-height:78px;overflow-y: auto;">
                                    <span class="label custom-label" style="min-width: 60px; margin: 2px;font-size:14px" ng-repeat="cdpn in CDPNPrefixes">
                                        {{cdpn}}
                                        <span class="glyphicon glyphicon-remove hand-cursor" aria-hidden="true" ng-click="removeCDPN(cdpn)"></span>
                                    </span>
                                </div>
                            </vr-columns>
                        </vr-row>
                    </vr-columns>
</vr-row>
            </div>
            <div ng-show="settingsSelected">
                <vr-row>
                    <vr-columns width="1/2row">
                        <vr-whs-be-carrieraccount-selector type="'Customer'" selectedvalues="selectedCustomer" on-ready="onCarrierAccountDirectiveReady" isrequired></vr-whs-be-carrieraccount-selector>
                    </vr-columns>
                </vr-row>
            </div>
            <div ng-show="schedulerSelected">
                <vr-row>
                    <vr-columns width="1/3row">
                        <vr-datetimepicker label="Begin Effective Date" value="beginEffectiveDate" type="date" isrequired></vr-datetimepicker>
                    </vr-columns>

                    <vr-columns width="1/3row">
                        <vr-datetimepicker label="End Effective Date" value="endEffectiveDate" type="date"></vr-datetimepicker>
                    </vr-columns>
                </vr-row>
            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formCustomerIdentificationRuleEditor" data-onclick="SaveCustomerRule"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
