<vr-panel ng-controller="WhS_Analytics_ReleaseCodeStatisticsController">
    <vr-form name="formFilter">

        <div ng-hide="filterSectionCollapsed" vr-loader="isLoading">
            <vr-row removeline>
                <vr-whs-analytics-releasecode-dimenssion-selector normal-col-num="2" ismultipleselection on-ready="onReleaseCodeDimenssionDirectiveReady"></vr-whs-analytics-releasecode-dimenssion-selector>

                <vr-whs-be-customer-selector normal-col-num="2" ismultipleselection on-ready="onCustomerDirectiveReady"></vr-whs-be-customer-selector>

                <vr-whs-be-supplier-selector normal-col-num="2" ismultipleselection on-ready="onSupplierDirectiveReady"></vr-whs-be-supplier-selector>

                <vr-timerange on-ready="onTimeRangeDirectiveReady" type="dateTime" width="normal" period="today" from="fromDate" to="toDate"></vr-timerange>
                <vr-whs-be-switch-selector normal-col-num="2" on-ready="onSwitchDirectiveReady" ismultipleselection></vr-whs-be-switch-selector>
                <!--<span ng-show="advancedSelected">
                    <vr-common-country-selector normal-col-num="2" on-ready="onCountryDirectiveReady" ismultipleselection></vr-common-country-selector>
                </span>-->

                <vr-columns width="normal">
                    <vr-whs-be-codegroup-selector normal-col-num="2" on-ready="onCodeGroupDirectiveReady" ismultipleselection></vr-whs-be-codegroup-selector>
                </vr-columns>

                <vr-whs-be-salezone-masterplan-selector normal-col-num="2" ismultipleselection on-ready="onSaleZoneDirectiveReady"></vr-whs-be-salezone-masterplan-selector>

            </vr-row>
        </div>


        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="getData"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-analytics-releasecode-grid on-ready="onMainGridReady" dimenssion="dimenssionvalues"></vr-whs-analytics-releasecode-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>




