<vr-datagrid datasource="ratesPreview"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="[]"
             defaultsortbyfieldname="'OwnerName'">

    <vr-datagridcolumn headertext="'Owner Type'" field="'OwnerTypeDescription'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Owner Name'" field="'OwnerName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Rate'" field="'Entity.Rate'" type="'Number'" numberprecision="'LongPrecision'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Begin Effective Date'" field="'Entity.BED'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'End Effective Date'" field="'Entity.EED'" type="'Datetime'"></vr-datagridcolumn>

</vr-datagrid>