<div vr-modalcontent ng-controller="VR_Common_StatusDefinitionEditorController" width="'40%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formStatusDefinitionEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Name" localizedlabel="VRRes.Name.VREnd" value="scopeModel.name" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-common-styledefinition-selector on-ready="scopeModel.onStyleDefinitionSelectorReady" normal-col-num="6" isrequired="true"></vr-common-styledefinition-selector>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                                              isrequired="true"
                                                                              customlabel="Status Group">
                            </vr-genericdata-businessentitydefinition-selector>
                        </vr-columns>
                        <vr-columns width="1/4row">
                            <vr-switch label="Active" value="scopeModel.isActive"></vr-switch>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/4row">
                            <vr-switch label="Invoice Active" value="scopeModel.isInvoiceActive"></vr-switch>
                        </vr-columns>
                        <vr-columns width="1/4row">
                            <vr-switch label="Account Balance Active" value="scopeModel.isAccountBalanceActive"></vr-switch>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/4row">
                            <vr-switch label="Has Initial Charge" value="scopeModel.HasInitialCharge"></vr-switch>
                        </vr-columns>
                        <vr-columns width="1/4row">
                            <vr-switch label="Has Recurring Charge" value="scopeModel.HasRecurringCharge"></vr-switch>
                        </vr-columns>
                    </vr-row>
                    
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formStatusDefinitionEditor" data-onclick="scopeModel.save" haspermission="scopeModel.hasSaveStatusDefinitionPermission"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>