<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="vanriseLogging" type="Vanrise.Common.LoggingConfiguration.LoggingConfig, Vanrise.Common" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <vanriseLogging maxLogLevel="Information">
    <loggers>
      <logger name="SQLLogger" type="Vanrise.Logging.SQL.SQLLogger, Vanrise.Logging.SQL">
        <parameters>
          <parameter name="LoggingConnectionStringKey" value="LogDBConnString" />
          <parameter name="ConfigurationConnectionStringKey" value="ConfigurationDBConnString" />
        </parameters>
      </logger>
      <logger name="ConsoleLogger"  type="Vanrise.Common.ConsoleLogger, Vanrise.Common"></logger>
    </loggers>
    <exceptionLoggers>
      <exceptionLogger name="ConsoleExceptionLogger"  type="Vanrise.Common.ConsoleExceptionLogger, Vanrise.Common"></exceptionLogger>
      <exceptionLogger name="DefaultExceptionLogger"  type="Vanrise.Common.DefaultExceptionLogger, Vanrise.Common"></exceptionLogger>
    </exceptionLoggers>
  </vanriseLogging>

  <!--<connectionStrings>
    <add name="RetailCDRDBConnString" connectionString="Server=192.168.110.185;Database=Retail_Dev_CDR;User ID=Development;Password=dev!123"/>
    <add name="RetailAnalyticsDBConnString" connectionString="Server=192.168.110.185;Database=Retail_Dev_Analytics;User ID=Development;Password=dev!123"/>
    <add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=Retail_Dev_Configuration;User ID=development;Password=dev!123;" />
    <add name="RetailDBConnString" connectionString="Data Source=192.168.110.185;Initial Catalog=Retail_Dev;User ID=development;Password=dev!123;" providerName="System.Data.SqlClient" />
    <add name="MainDBConnString" connectionString=""/>
    <add name="LogDBConnString" connectionString="Initial Catalog=Retail_Dev_Logging;Data Source=.;User ID=sa; Password=p@ssw0rd" />
    <add name="TransactionDBConnString" connectionString="Data Source=.;Initial Catalog=Retail_Dev_Transaction;User ID=sa; Password=p@ssw0rd" />
    <add name="QueueItemDBConnString" connectionString="Data Source=.;Initial Catalog=Retail_Dev_Queue;User ID=sa; Password=p@ssw0rd" />
  </connectionStrings>-->
  <!--<connectionStrings>
    <add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185\MSSQL2014;Database=Retail.Ringo_Online;User ID=Application_Online_User;Password=Application_Online_User" />
    <add name="RetailDBConnString" connectionString="Data Source=192.168.110.185\MSSQL2014;Database=Retail.Ringo_Online;User ID=Application_Online_User;Password=Application_Online_User" />
    <add name="VR_AccountBalance_TransactionDBConnString" connectionString="Data Source=192.168.110.185\MSSQL2014;Database=Retail.Ringo_Online;User ID=Application_Online_User;Password=Application_Online_User"/>
    <add name="RetailCDRDBConnString" connectionString="Server=192.168.110.185\MSSQL2014;Database=Retail.Ringo_Online_EDR;User ID=Application_Online_User;Password=Application_Online_User"/>
    <add name="QueueItemDBConnString" connectionString="Data Source=192.168.110.185\MSSQL2014;Initial Catalog=Retail.Ringo_Online_Queueing;User ID=Application_Online_User; Password=Application_Online_User" />
    <add name="TransactionDBConnString" connectionString="Data Source=192.168.110.185\MSSQL2014;Initial Catalog=Retail.Ringo_Online_Transaction;User ID=Application_Online_User; Password=Application_Online_User" />
    <add name="LogDBConnString" connectionString="Initial Catalog=Retail.Ringo_Online_Logging;Data Source=192.168.110.185\MSSQL2014;User ID=Application_Online_User; Password=Application_Online_User" />
    <add name="VRNotificationTransactionDBConnString" connectionString="Data Source=192.168.110.185\MSSQL2014;Initial Catalog=Retail.Ringo_Online_Transaction;User ID=Application_Online_User; Password=Application_Online_User" />
    <add name="MainDBConnString" connectionString=""/>
  </connectionStrings>-->
  <connectionStrings configSource="ConnectionStrings.config">
    <!--<add name="ConfigurationDBConnString" connectionString="Server=.;Database=Retail_Ringo;User ID=sa;Password=p@ssw0rd;" />
    <add name="RetailDBConnString" connectionString="Server=.;Database=Retail_Ringo;User ID=sa;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
    <add name="VR_AccountBalance_TransactionDBConnString" connectionString="Server=.;Database=Retail_Ringo;User ID=sa;Password=p@ssw0rd;" providerName="System.Data.SqlClient" />
    <add name="MainDBConnString" connectionString="" />
    <add name="LogDBConnString" connectionString="Initial Catalog=Retail_Dev_Logging;Data Source=.;User ID=sa; Password=p@ssw0rd" />
    <add name="TransactionDBConnString" connectionString="Data Source=.;Initial Catalog=Retail_Dev_Transaction;User ID=sa; Password=p@ssw0rd" />
    <add name="QueueItemDBConnString" connectionString="Data Source=.;Initial Catalog=Retail_Dev_Queue;User ID=sa; Password=p@ssw0rd" />
    <add name="NumberingPlanDBConnString" connectionString="Server=192.168.110.185;User ID=development;Password=dev!123;Database=Retail_Dev;"/>
    <add name="RetailCDRDBConnString" connectionString="Server=.;Database=Retail_Ringo;User ID=sa;Password=p@ssw0rd;"/>
    <add name="RetailAnalyticsDBConnString" connectionString="Server=.;Database=Retail_Ringo;User ID=sa;Password=p@ssw0rd;"/>-->
  </connectionStrings>

  <appSettings file="appSettings.config">
    <add key="IsRuntimeService" value="false"/>
    <add key="RuntimeNodeId" value="ca664c3b-2e31-4542-beeb-89e7367e090c"/>
    <add key="BCPTempFilesDirectory" value="C:\BCPFiles" />

    <add key="RuntimeConnStringKey"                             value="TransactionDBConnString"/>
    <add key="BusinessProcessDBConnStringKey"                   value="TransactionDBConnString" />
    <add key="BigDataServiceDBConnStringKey"                    value="TransactionDBConnString"/>
    <add key="IntegrationConnStringKey"                         value="TransactionDBConnString"/>
    <add key="QueueDBConnStringKey"                             value="TransactionDBConnString"/>
    <add key="VRNotificationTransactionDBConnStringKey"         value="TransactionDBConnString"/>
    <add key="SummaryTransformationDBConnStringKey"             value="TransactionDBConnString"/>

    <add key="QueueItemDBConnStringKey"                         value="QueueItemDBConnString"/>

    <add key="BusinessProcessTrackingDBConnStringKey"           value="LogDBConnString"/>
    <add key="LoggingDBConnStringKey"                           value="LogDBConnString"/>

    <add key="SecurityDBConnStringKey"                          value="ConfigurationDBConnString" />
    <add key="ConfigurationDBConnStringKey"                     value="ConfigurationDBConnString" />
    <add key="BusinessProcessConfigDBConnStringKey"             value="ConfigurationDBConnString" />
    <add key="VR_AccountBalance_TransactionDBConnStringKey"     value="ConfigurationDBConnString"/>
    <add key="RulesDBConnStringKey"                             value="ConfigurationDBConnString"/>
    <add key="IntegrationConfigDBConnStringKey"                 value="ConfigurationDBConnString"/>
    <add key="RuntimeConfigDBConnStringKey"                     value="ConfigurationDBConnString"/>
    <add key="QueueingConfigDBConnStringKey"                    value="ConfigurationDBConnString"/>
    <add key="InvoiceDBConnStringKey"                           value="ConfigurationDBConnString"/>
    <add key="LoggingConfigDBConnStringKey"                     value="ConfigurationDBConnString"/>

    <add key="Retail_BE_DBConnStringKey"                        value="RetailDBConnString" />
    <add key="NumberingPlanDBConnStringKey"                     value="RetailDBConnString"/>

    <add key="RetailCDRDBConnStringKey"                         value="RetailCDRDBConnString"/>
    <add key="Retail_Analytics_DBConnStringKey"                 value="RetailAnalyticsDBConnString"/>

    <add key="ExposedConnectionStringNames" value="RetailCDRDBConnString,RetailAnalyticsDBConnString,RetailRADBConnString,RetailRACDRDBConnString,RetailRAAnalyticsDBConnString,ConfigurationDBConnString,ICXDBConnString,ICXCDRDBConnString,ICXAnalyticsDBConnString"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>