<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CallServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1206/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap" contract="WebService1.WebService1Soap"
                name="WebService1Soap" />
            <endpoint address="http://localhost:1206/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="Service1.IService1"
                name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <CallServiceClient.Properties.Settings>
            <setting name="CallServiceClient_NovercaMngtWS_ManagementService"
                serializeAs="String">
                <value>http://apimvna.noverca.com:8080/management/sim</value>
            </setting>
            <setting name="CallServiceClient_WebService1Soap_WebService1"
                serializeAs="String">
                <value>http://localhost:1206/WebService1.asmx</value>
            </setting>
            <setting name="CallServiceClient_Service1Soap_Service1" serializeAs="String">
                <value>http://localhost:1206/Service1.svc</value>
            </setting>
            <setting name="CallServiceClient_Fawry_ApplicationBusinessFacadeService"
                serializeAs="String">
                <value>http://localhost:9082/CoreWeb/ApplicationBusinessFacadeService</value>
            </setting>
            <setting name="CallServiceClient_AudiWebService_AudiWebService"
                serializeAs="String">
                <value>http://localhost:8881/AudiWebService.asmx</value>
            </setting>
            <setting name="CallServiceClient_AudiWSDLWebServiceProxy_pp_rates_evs_FXRate_BindingQSService"
                serializeAs="String">
                <value>https://almwosbuat2:8012/tevs/pp.rates.evs.FXRate_1.0</value>
            </setting>
            <setting name="CallServiceClient_AudiWebService2Local_AudiWebService2"
                serializeAs="String">
                <value>http://localhost:8881/AudiWebService2.asmx</value>
            </setting>
        </CallServiceClient.Properties.Settings>
    </applicationSettings>
</configuration>
