<vr-row>
    <vr-columns width="fullrow">
        <vr-textbox value="connectionString" label="Connection String" isrequired />
    </vr-columns>
    <vr-columns width="fullrow">
        <vr-textarea value="query" rows="10" label="Query" hint="Ex: select * from [SourceData]
Where (ID > IFNULL(@RangeStart, 0))
AND (ID <= IFNULL(@RangeEnd, 9999999999999999))
ORDER BY ID ASC
#TopRows#" isrequired />
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="identifierColumnName" label="Identifier Column Name" isrequired />
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="numberOfParallelReader" label="Number Of Parallel Readers" type="number" decimalprecision="0" minvalue="1" maxvalue="1000" isrequired />
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-switch value="isTimeRange" label="DateTime Identifier" />
    </vr-columns>
    <vr-columns width="1/2row" ng-show="!isTimeRange">
        <vr-textbox value="numberOffSet" label="Number Range Offset" type="number" decimalprecision="0" minvalue="1000" isrequired="!isTimeRange" />
    </vr-columns>
    <vr-columns width="1/2row" ng-show="isTimeRange">
        <vr-textbox value="timeOffSet" label="Time Offset" isrequired="isTimeRange" customvalidate="validateTimeOffset(timeRangeOffSet)" />
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox value="cmdTimeoutInSec" label="Command Timeout (sec)" isrequired="true" decimalprecision="0" minvalue="1" />
    </vr-columns>
</vr-row>