<vr-row>
    <vr-columns width="1/3row">
        <vr-textbox value="extension" label="Extension" isrequired />
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox value="mask" label="Mask" />
    </vr-columns>
    <vr-columns width="1/3row">
        <vr-textbox value="directory" label="Directory Path" isrequired />
    </vr-columns>


</vr-row>
<vr-row>
    <vr-columns width="1/3row">
        <vr-select datasource="actionsAfterImport" datatextfield="name" datavaluefield="value" label="Action After Import" selectedvalues="selectedAction" isrequired hideremoveicon></vr-select>
    </vr-columns>

    <vr-columns width="1/3row">
        <vr-textbox ng-show="selectedAction.value == 2" value="directorytoMoveFile" label="Directory to Move File" />
    </vr-columns>
</vr-row>
