<vr-columns width="1/3row">
    <vr-genericdata-datarecordtype-selector on-ready="scopeModel.onDataRecordTypeSelectorReady"
                                            selectedvalues="scopeModel.selectedDataRecordType"
                                            onselectionchanged="scopeModel.onDataRecordTypeSelectionChanged"
                                            isrequired="true"
                                            label="Data Record Type"
                                            hideremoveicon
                                            showaddbutton>
    </vr-genericdata-datarecordtype-selector>
</vr-columns>
