<div vr-modalcontent ng-controller="VR_Sec_GenericViewEditorController" vr-loader="scopeModel.isLoading" width="'60%'">
    <vr-modalbody maxheight="'600px'">
        <vr-form validationcontext="genericViewEditorGroup">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-row removeline>
                                <vr-columns width="fullrow">
                                    <vr-textbox value="scopeModel.reportName" isrequired="true" label="Menu Title" customvalidate="scopeModel.validate()"></vr-textbox>
                                </vr-columns>
                            </vr-row>
                            <vr-row>
                                <vr-columns width="fullrow">
                                    <vr-textbox value="scopeModel.reportTitle" isrequired="true" label="Page Title" customvalidate="scopeModel.validate()"></vr-textbox>
                                </vr-columns>
                            </vr-row>
                            <vr-row>
                                <vr-sec-viewcommonproperties-editor on-ready="scopeModel.onViewCommonPropertiesReady"></vr-sec-viewcommonproperties-editor>
                            </vr-row>
                        </vr-columns>
                        <vr-columns width="2/3row">
                            <vr-section title="Menu Location">
                                <vr-treeview on-ready="scopeModel.onTreeReady"
                                             datavaluefield="Id"
                                             datatextfield="Name"
                                             datachildrenfield="Childs"
                                             selecteditem="scopeModel.selectedMenuItem"
                                             wholerow>
                                </vr-treeview>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-directivewrapper vr-loader="scopeModel.isLoadingDirective" ng-if="scopeModel.deirectiveEditor != undefined" directive="scopeModel.deirectiveEditor" on-ready="scopeModel.onSettingsDirectiveReady"></vr-directivewrapper>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="genericViewEditorGroup" data-onclick="scopeModel.SaveView"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
