<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>

    <add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=Retail_Dev_Configuration;User ID=Development;Password=dev!123"/>
    
    <!--<add name="ConfigurationDBConnString" connectionString="Server=192.168.110.195;Database=TOneV2configurationfidaa;User ID=sa;Password=QAP@ssw0rd"/>-->
    <add name="DevDBConnString" connectionString="Server=192.168.110.185;Database=TOneV2_Dev;User ID=Development;Password=dev!123"/>
    <add name="MediationDBConnStringKey" connectionString="Server=192.168.110.185;Database=Mediation_Dev;User ID=Development;Password=dev!123"/>
    <add name="TransactionBConnStringKey" connectionString="Server=192.168.110.185;Database=TOneTransactionDB;User ID=Development;Password=dev!123"/>
    <add name="RetailBConnStringKey" connectionString="Server=192.168.110.185;Database=Retail_Dev;User ID=Development;Password=dev!123"/>
  </connectionStrings>
  <appSettings>
    <add key="MainDBConnStringKey" value="ConfigurationDBConnString"/>
    <!--<add key="SecondDBConnStringKey" value="DevDBConnString"/>-->
    <!--<add key="MediationDBConnStringKey" value="MediationBConnStringKey"/>-->
    <!--<add key="TransactionDBConnStringKey" value="TransactionBConnStringKey"/>-->
    <add key="RetailDBConnStringKey" value="RetailBConnStringKey"/>
  </appSettings>
</configuration>  