<div vr-modalcontent ng-controller="VR_Sec_ChangePasswordController">
    <vr-modalbody width="'30%'">
        <vr-form name="formChangePassword">
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-textbox value="oldPassword" label="Current Password" localizedlabel="VRRes.CurrentPassword.VREnd" type="password" isrequired="true" setfocus></vr-textbox>
                </vr-columns>
            </vr-row>
            <vr-validation-group validationcontext="SaveGroup">
                <vr-validator validate="validatePasswords()">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox label="New Password" localizedlabel="VRRes.NewPassword.VREnd" type="password" value="newPassword" isrequired="true"></vr-textbox>
                        </vr-columns>
                        <vr-columns colnum="1" withemptyline>
                            <vr-hint value="{{passwordHint}}" largehint></vr-hint>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Confirm Password" localizedlabel="VRRes.ConfirmPassword.VREnd" type="password" value="confirmedPassword" isrequired="true"></vr-textbox>
                        </vr-columns>
                    </vr-row>
                </vr-validator>
            </vr-validation-group>
        </vr-form>

    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formChangePassword" data-onclick="save" isasynchronous="true"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>

