<div vr-modalcontent ng-controller="VR_Sec_EditProfileController" vr-loader="isLoading">
    <vr-modalbody width="'20%'">
        <vr-form name="formEditProfile">
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-textbox label="Name" localizedlabel="VRRes.Name.VREnd" value="name" isrequired maxlength="40" refusepecialcharacter></vr-textbox>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-fileupload tempfile="true" extension="images" value="userPhoto" label="User Photo"> </vr-fileupload>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-preview-image height="80px" width="80px" value="userPhoto.fileId"> </vr-preview-image>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="save" formname="formEditProfile" isasynchronous="true"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
