<div vr-modalcontent ng-controller="VR_Sec_UserEditorController" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formUserEditor">
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-textbox value="scopemodel.email" label="Email" localizedlabel="VRRes.Email.VREnd" type="email" isrequired vr-disabled="hasAuthServer && isInEditMode"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/2row" ng-if="!hasAuthServer">
                    <vr-textbox value="scopemodel.name" label="Name" localizedlabel="VRRes.Name.VREnd" isrequired vr-disabled="hasAuthServer && isInEditMode"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-textbox value="scopemodel.description" label="Description" localizedlabel="VRRes.Description.VREnd"></vr-textbox>
                </vr-columns>
                <vr-columns width="1/2row">
                    <vr-datetimepicker type="dateTime" label="Enable Till" localizedlabel="'VRRes.Enable Till.VREnd'" value="scopemodel.enabledTill"></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="fullrow" haschildcolumns ng-show="showPasswordSection">
                    <vr-validator validate="validatePasswords()">
                        <vr-columns width="1/2row">
                            <vr-textbox label="Password" localizedlabel="VRRes.Password.VREnd" type="password" value="password" hint="{{passwordHint}}" largehint isrequired="{{requiredPassword}}"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Confirm Password" localizedlabel="VRRes.ConfirmPassword.VREnd" type="password" value="confirmedPassword" isrequired="{{requiredPassword}}"></vr-textbox>
                        </vr-columns>
                    </vr-validator>
                </vr-columns>
                <vr-columns width="1/2row" ng-show="showTenantSelector">
                    <vr-sec-tenant-selector on-ready="onTenantSelectorReady" hideifnotneeded="hideTenantSelectorIfNotNeeded" isrequired="true" hideremoveicon vr-disabled="isInEditMode" customlabel="Tenant" localizedcustomlabel="VRRes.Tenant.VREnd"></vr-sec-tenant-selector>
                </vr-columns>
                <vr-columns width="1/2row" >
                    <vr-sec-group-selector on-ready="onGroupSelectorReady" ismultipleselection ></vr-sec-group-selector>
                </vr-columns>

            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" haspermission="hasSaveUserPermission" formname="formUserEditor" data-onclick="save"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
