<vr-row removeline>
    <vr-columns withemptyline width="3/4row">
        <vr-button type="Add" data-onclick="scopeModel.addMarginSettingItem" standalone></vr-button>
    </vr-columns>
    <vr-common-currency-selector on-ready="scopeModel.onCurrencySelectReady" isrequired="true" hideremoveicon normal-col-num="3"></vr-common-currency-selector>
</vr-row>
<!--<vr-row removeline>
    <vr-columns width="fullrow">
        <div style="position:absolute;top:-5px">
            <vr-label>
                <span style="font-size: 10px;">Rate will be less or equal Up To value</span>
            </vr-label>
        </div>
    </vr-columns>
</vr-row>-->
<vr-row>
    <vr-columns width="fullrow">
        <vr-validator validate="scopeModel.isGridItemsValid()">
            <vr-datagrid on-ready="scopeModel.onGridReady"
                         datasource="scopeModel.marginSettingItems"
                         ondeleterow="scopeModel.onDeleteRow"
                         disablesorting="true"
                         disabledraggablecolumns hidegridmenu>
                <vr-datagridcolumn headertext="'Up To'">
                    <vr-textbox type="number" value="dataItem.UpTo"></vr-textbox>
                </vr-datagridcolumn>
                <vr-datagridcolumn headertext="'Category'">
                    <span vr-loader="dataItem.isStatusDefinitionSelectorLoading">
                        <vr-common-statusdefinition-selector on-ready="dataItem.onStatusDefinitionSelectorReady" isrequired="true" usefullcolumn hidelabel hideremoveicon>
                        </vr-common-statusdefinition-selector>
                    </span>
                </vr-datagridcolumn>
            </vr-datagrid>
        </vr-validator>
    </vr-columns>
</vr-row>
