<vr-panel ng-controller="WhS_BE_SaleCodeManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingFilter">
            <vr-row removeline>
                <vr-whs-be-salezone-selector on-ready="onSaleZoneSelectorReady" normal-col-num="2" ismultipleselection></vr-whs-be-salezone-selector>
                <vr-columns width="normal">
                    <vr-textbox type="Code" label="Code" value="code"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="Effective On" value="effectiveOn" isrequired></vr-datetimepicker>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-be-salecode-grid on-ready="onGridReady"></vr-whs-be-salecode-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>