<vr-datagrid on-ready="ctrl.onGridReady"
             datasource="ctrl.supplierCodes"
             dataretrievalfunction="ctrl.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'" defaultsortbyfieldname="'SupplierName'"
             idfield="ANumberSupplierCodeId" enableautoexport="true">
    <vr-datagridcolumn headertext="'Supplier'" type="'Text'" field="'SupplierName'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Code'" type="'Text'" field="'Code'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" type="'Date'" field="'BED'" fixedwidth="'80'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" type="'Date'" field="'EED'" fixedwidth="'80'"></vr-datagridcolumn>
</vr-datagrid>