<vr-row vr-loader="scopeModel.isLoading">
    <vr-whs-be-supplier-selector on-ready="scopeModel.onSupplierReady" normal-col-num="2" ismultipleselection> </vr-whs-be-supplier-selector>
    <vr-columns colnum="2">
        <vr-datetimepicker type="date" label="Effective On" value="scopeModel.effectiveOn" isrequired="true"></vr-datetimepicker>
    </vr-columns>
    <vr-columns colnum="1" withemptyline>
        <vr-button type="Search" standalone data-onclick="scopeModel.searchClicked"></vr-button>
        <vr-button type="Add" standalone data-onclick="scopeModel.addSupplierCodes"></vr-button>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <whs-be-anumber-suppliercode-grid on-ready="scopeModel.onSupplierCodeGridReady"></whs-be-anumber-suppliercode-grid>
    </vr-columns>
</vr-row>