<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="blockSize" label="Block Size"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="lengthNbOfBytes" label="Length Nb Of Bytes"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-switch value="reverseLengthBytes" label="Reverse Length Bytes"></vr-switch>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="dataLengthIndex" label="Data Length Index"></vr-textbox>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="dataLengthBytesLength" label="Data Length /Bytes Length"></vr-textbox>
    </vr-columns>
</vr-row>

    <vr-dataparser-recordparser on-ready="scopeModel.onRecordParserDirective" normal-col-num="6"></vr-dataparser-recordparser>

