<div vr-loader="isLoading">
    <vr-datagrid datasource="bpTasks" loadmoredata="loadMoreData"
                 on-ready="onGridReady"
                 pagingtype="'PagingOnScroll'"
                 menuactions="gridMenuActions"
                 idfield="Entity.BPTaskId">
        <vr-datagridcolumn headertext="'ID'" field="'Entity.BPTaskId'" disablesorting="true"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Title'" field="'Entity.Title'" type="'Text'" isclickable="true" onclicked="taskClicked" disablesorting="true"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Assigned To'" field="'Entity.AssignedUsersDescription'" type="'Text'" disablesorting="true"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Status'" field="'StatusDescription'" widthfactor="5" getcolor="getStatusColor" disablesorting="true"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Created On'" field="'Entity.CreatedTime'" type="'LongDatetime'" disablesorting="true" fixedwidth="'120'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Last Status Update'" field="'Entity.LastUpdatedTime'" type="'LongDatetime'" fixedwidth="'120'" disablesorting="true"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Decision'" field="'Entity.Decision'" type="'Text'" disablesorting="true"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Notes'" field="'Entity.Notes'" type="'Text'" disablesorting="true"></vr-datagridcolumn>
    </vr-datagrid>
</div>