<vr-datagrid datasource="runtimeNodesConfigurations"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="RuntimeNodeConfigurationId" enableautoexport="true">
    <vr-datagridcolumn headertext="'Id'" field="'RuntimeNodeConfigurationId'" type="'Text'" isrequired></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Name'" type="'Text'" isrequired></vr-datagridcolumn>

</vr-datagrid>