<div vr-modalcontent ng-controller="VR_GenericData_DataRecordFieldChoiceEditorController" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formDataRecordFieldChoiceEditor">
            <vr-row >
                <vr-columns colnum="3">
                    <vr-textbox label="ID" value="ctrl.Id" onvaluechanged="ctrl.onValueChange" type="number"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="3">
                    <vr-textbox label="Value" value="ctrl.value" onvaluechanged="ctrl.onValueChange"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="3" withemptyline>
                    <vr-button type="Add" data-onclick="ctrl.addValue" standalone vr-disabled="ctrl.disableAddButton"></vr-button>
                </vr-columns>
                <vr-columns width="fullrow">
                    <vr-validator validate="ctrl.isValid()">
                        <vr-datalist maxitemsperrow="6" datasource="ctrl.values" autoremoveitem="true">
                            {{dataItem.Text}}
                        </vr-datalist>
                    </vr-validator>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formDataRecordFieldChoiceEditor" data-onclick="saveDataRecordFieldChoice" haspermission="hasSaveDataRecordFieldChoice"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
