
.popTopDiv {
    position: fixed;
    top: 50%;
    left: 45%;
    /*margin-left: -190px;*/
    margin-top: -100px;
    padding: 0px;
    z-index: 102;
    min-width: 300px;
    min-height: 200px;
    /*border-radius: 15px 15px 15px 15px;
            box-shadow: 0 55px 60px #595750;*/
    zoom: 1;
    /*filter: progid:DXImageTransform.Microsoft.Shadow(color=#595750,direction=0,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#595750,direction=45,strength=1), progid:DXImageTransform.Microsoft.Shadow(color=#595750,direction=90,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#595750,direction=135,strength=3), progid:DXImageTransform.Microsoft.Shadow(color=#595750,direction=180,strength=20), progid:DXImageTransform.Microsoft.Shadow(color=#595750,direction=225,strength=3), progid:DXImageTransform.Microsoft.Shadow(color=#595750,direction=270,strength=2), progid:DXImageTransform.Microsoft.Shadow(color=#595750,direction=315,strength=1);*/
}

.popBody {
    height: 200px;
    width: 300px;
    min-width: 300px;
    min-height: 200px;
    background-color: white;
    /*border-radius: 0px 0px 15px 15px;*/
}

.popHeader {
    height: 30px;
    width: 300px;
    min-width: 300px;
    min-height: 30px;
    background-color: green;
    /*border-radius: 15px 15px 0px 0px;*/
}

.popHeader, .popBody {
    text-align: center;
    vertical-align: middle;
    width: 300px;
    min-width: 300px;
}

.PopUpDialogControl {
    display: none;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}
.popUpDialogClose {
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

        