.bannercontainer {
	width: 960px; margin-right: auto; margin-left: auto; position: relative; background-color: rgb(255, 255, 255);
}
.banner {
	width: 960px; height: 500px; overflow: hidden; position: relative;
}
.bannercontainer-simple {
	padding: 0px; width: 960px; margin-right: auto; margin-left: auto; position: relative; background-color: rgb(255, 255, 255);
}
.banner-simple {
	width: 960px; height: 500px; overflow: hidden; position: relative;
}
.fullwidthbanner-container {
	padding: 0px; width: 100% !important; overflow: hidden; position: relative;
}
.fullwidthbanner-container .fullwidthabnner {
	width: 100% !important; position: relative; max-height: 500px !important;
}
@media only screen and (max-width:959px) and (min-width:768px)
{
.banner {
	width: 760px; height: 396px;
}
.bannercontainer {
	width: 760px; height: 396px;
}
}
@media only screen and (max-width:767px) and (min-width:480px)
{
.banner {
	width: 480px; height: 250px;
}
.bannercontainer {
	width: 480px; height: 250px;
}
}
@media only screen and (max-width:479px) and (min-width:0px)
{
.banner {
	width: 320px; height: 167px;
}
.bannercontainer {
	width: 320px; height: 167px;
}
}
