@media all and (min-width:992px)
{
.header-shrink {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; position: fixed; opacity: 0.95;
}
.navbar .navbar-inner-shrink .brand {
	padding: 0px 20px !important;
}
.header .navbar-inner-shrink li a {
	padding: 15px 16px 17px;
}
.header .navbar-inner-shrink li > a:hover {
	padding-top: 13px;
}
.header .navbar-inner-shrink li.active > a {
	padding-top: 13px;
}
.header .navbar-inner-shrink li.active:hover > a {
	padding-top: 13px;
}
.header .navbar-inner-shrink li.menu-search {
	padding: 0px;
}
.header .navbar-inner-shrink .search-box {
	top: 52px;
}
.header a.logo-v1 img {
	margin-top: 12px;
}
.scrolling-fixed.header a.logo-v1 img {
	margin-top: 17px;
}
.header .nav li > a:hover {
	background: rgb(252, 252, 252) !important;
}
.header .nav li.active > a {
	background: rgb(252, 252, 252) !important;
}
.header .nav li.active:hover > a {
	background: rgb(252, 252, 252) !important;
}
.header .nav li > a:hover {
	background: none !important;
}
.header .nav li.active > a::after {
	left: 50%; top: 0px; width: 0px; height: 0px; margin-left: -3px; border-right-color: transparent; border-left-color: transparent; border-right-width: 3px; border-left-width: 3px; border-right-style: solid; border-left-style: solid; display: block; position: absolute; z-index: 2; content: " ";
}
.header .dropdown-menu li.active > a::after {
	border: currentColor; border-image: none;
}
}
@media all and (max-width:992px)
{
.header {
	padding-right: 30px; padding-left: 30px;
}
.header .nav-collapse > ul {
	margin-top: 12px !important; float: inherit;
}
.header .dropdown-menu {
	margin-bottom: 12px; border-top-color: rgb(231, 231, 231) !important; border-top-width: 1px !important; border-top-style: solid !important;
}
.header .nav-collapse .dropdown-menu li + li a {
	margin-bottom: 0px;
}
.header .nav-collapse .nav > li.active > a {
	background: none; border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.header .nav-collapse .nav > li > a:hover {
	background: none; border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.header .nav-collapse .nav > li > a:focus {
	background: none; border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.header .nav-collapse .dropdown-menu a:hover {
	background: none; border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.header .nav-collapse .dropdown-menu a:focus {
	background: none; border-top-color: currentColor !important; border-top-width: 0px !important; border-top-style: none !important;
}
.header .nav li.active .dropdown-menu li.active a {
	background: rgb(247, 249, 250) !important;
}
.header .nav li.menu-search {
	padding-top: 15px; padding-left: 12px;
}
.service-box {
	margin-bottom: 0px;
}
.service-box p {
	text-align: center; display: block;
}
.service-box .service-box-heading em {
	text-align: center; display: block;
}
.service-box .service-box-heading span {
	text-align: center; display: block;
}
.service-box .service-box-heading em {
	margin-bottom: 10px;
}
.quote-v1-inner {
	text-align: center !important;
}
.recent-work .col-md-9 {
	padding: 0px;
}
.hidden-sm {
	display: none !important;
}
.recent-news-inner {
	padding-right: 15px; padding-left: 15px;
}
.ver-inline-menu {
	margin-bottom: 30px !important;
}
.ver-inline-menu li.active::after {
	display: none;
}
.form-horizontal .form-group {
	margin-right: 0px; margin-left: 0px;
}
.right.form-actions {
	padding-right: 0px;
}
.form-horizontal .right.form-actions {
	padding-right: 15px;
}
}
@media all and (max-width:940px)
{
.recent-work .bx-wrapper {
	padding-top: 30px;
}
.our-clients .bx-wrapper {
	padding-top: 30px;
}
.recent-work .bx-controls {
	left: 67px; top: 0px; position: absolute;
}
.our-clients .bx-controls {
	left: 67px; top: 0px; position: absolute;
}
}
@media all and (max-width:767px)
{
.header .nav li a {
	padding: 10px 15px;
}
.header .nav li > a:hover {
	border: currentColor; border-image: none; padding-top: 10px;
}
.header .nav li.active > a {
	border: currentColor; border-image: none; padding-top: 10px;
}
.header .nav li.active:hover > a {
	border: currentColor; border-image: none; padding-top: 10px;
}
.header .search-box {
	background: none; padding: 5px; border: currentColor; border-image: none; left: 40px; top: inherit; bottom: 3px; display: none; position: absolute;
}
.header .search-box .btn {
	padding: 7px 14px;
}
.copyright .copyright-logo {
	text-align: left;
}
.front-step-one.front-steps::after {
	display: none;
}
.front-step-two.front-steps::after {
	display: none;
}
.space-mobile {
	margin-bottom: 40px;
}
.front-team li.space-mobile {
	padding-bottom: 40px;
}
.header {
	padding: 0px;
}
.breadcrumbs .container {
	padding: 0px 10px;
    
}
.breadcrumbs h1 {
	margin-left: 0px;
    
}
.breadcrumbs ul {
	top: 0px; margin-bottom: 3px; float: left !important;
}
.front-topbar {
	text-align: center;
}
.front-topbar .topbar-social {
	text-align: center;
}
.front-topbar {
	padding-bottom: 5px;
}
.front-topbar .login-reg-links {
	text-align: center;
}
.blog-posts img {
	margin-bottom: 15px;
}
.recent-news img {
	margin-bottom: 15px;
}
.blog-item .blog-item-img .carousel-control {
	top: 40%;
}
.copyright .social-footer {
	text-align: left; margin-top: 10px;
}
.copyright .social-footer li {
	margin-right: 3px; margin-left: 0px;
}
}
@media all and (min-width:767px)
{
.no-space-steps [class^='col-'] {
	padding-right: 0px; padding-left: 0px;
}
.no-space-steps [class*=' col-'] {
	padding-right: 0px; padding-left: 0px;
}
}
@media all and (max-width:992px) and (min-width:768px)
{
.header .nav li {
	margin-left: 0px;
}
.header .nav li a {
	padding: 10px 15px;
}
.header .nav li > a:hover {
	background: none !important; border: currentColor; border-image: none; padding-top: 10px;
}
.header .nav li.active > a {
	background: none !important; border: currentColor; border-image: none; padding-top: 10px;
}
.header .nav li.active:hover > a {
	background: none !important; border: currentColor; border-image: none; padding-top: 10px;
}
.service-box {
	margin-bottom: 0px;
}
.service-box p {
	text-align: center; display: block;
}
.service-box .service-box-heading em {
	text-align: center; display: block;
}
.service-box .service-box-heading span {
	text-align: center; display: block;
}
.service-box .service-box-heading em {
	margin-bottom: 10px;
}
.header .nav li.menu-search span.sep {
	margin: 0px; left: -9px; top: 9px; display: inline-block; position: absolute;
}
.header .search-box {
	margin-top: 0px;
}
.scrolling-fixed .search-box {
	margin-top: 11px;
}
.header.scrolling-fixed .nav li.menu-search {
	padding-top: 15px;
}
}
@media all and (max-width:768px)
{
.scrolling-fixed.header a.logo-v1 img {
	margin-top: 19px;
}
.header ul.nav {
	margin: 0px; float: none;
}
.in.navbar-collapse {
	overflow: inherit;
}
.header .navbar-collapse {
	max-height: 3000px;
}
.navbar-nav > li > .dropdown-menu {
	margin-left: 30px;
}
.header .nav li.menu-search span.sep {
	display: none;
}
.header.scrolling-fixed .nav li.menu-search {
	padding: 12px;
}
.no-space-steps {
	padding: 0px 15px;
}
.front-step-one.front-steps::after {
	border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: medium; border-bottom-width: medium; border-top-style: none; border-bottom-style: none;
}
.front-step-two.front-steps::after {
	border-top-color: currentColor; border-bottom-color: currentColor; border-top-width: medium; border-bottom-width: medium; border-top-style: none; border-bottom-style: none;
}
.sidebar {
	padding-top: 50px;
}
}
@media all and (max-width:766px)
{
.no-space-steps {
	padding: 0px;
}
}
@media all and (max-width:320px)
{
.header .search-box input {
	width: 160px;
}
.input-append input {
	width_: 160px;
}
}
@media all and (max-width:992px) and (min-width:768px)
{
.header .navbar-collapse {
	margin-left: -15px; float: none;
}
.header ul.nav {
	clear: both; float: left;
}
.header .nav li {
	margin-right: 25px;
}
.header .nav li > a {
	padding: 12px 0px 13px !important; border: currentColor !important; border-image: none !important;
}
.header .nav li:hover > a {
	padding: 12px 0px 13px !important; border: currentColor !important; border-image: none !important;
}
.header .nav li.active > a {
	padding: 12px 0px 13px !important; border: currentColor !important; border-image: none !important;
}
.header .nav li.active:hover > a {
	padding: 12px 0px 13px !important; border: currentColor !important; border-image: none !important;
}
.header .nav li li {
	margin-right: 0px;
}
.header .nav li li > a {
	padding: 9px 15px !important;
}
.header .nav li li:hover > a {
	padding: 9px 15px !important;
}
.header .nav li li.active > a {
	padding: 9px 15px !important;
}
.header .nav li li.active:hover > a {
	padding: 9px 15px !important;
}
}
