<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LicenseUserId" value="{Licensed_for_Mohamad_Yahya_Company_Vanrise_Solutions-7DF6-49FA-0D794438-0CED-B96D-2122-7570DF50BFBC}" />
    <add key="LicenseKey" value="{J+cvweJ22K+vpbvnVAtqZNV7Dd6723rMnwJLYMZrEB1oclZtewl66Wt00ntispXFCxNV0+OgNF4rXKkNiQGw6Q==}" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="CallGeneratorConnectionString" connectionString="Data Source=.;User ID=sa;Password=vanrise@cce$$;Initial Catalog=FraudDetection;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>