<vr-row>
    <vr-columns width="1/2row">
        <vr-accountbalance-billingtransactiontype-selector on-ready="scopeModel.onSupplierUsageTransactionTypeReady" isrequired="true"></vr-accountbalance-billingtransactiontype-selector>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-accountbalance-billingtransactiontype-selector on-ready="scopeModel.onCustomerUsageTransactionTypeReady" isrequired="true"></vr-accountbalance-billingtransactiontype-selector>
    </vr-columns>
</vr-row>