<div vr-modalcontent ng-controller="VR_Analytic_AnalyticReportSettingsEditorController" vr-loader="scopeModel.isLoading" width="'60%'">
    <vr-modalbody maxheight="'600px'">
        <vr-form validationcontext="analyticReportSettingsEditorGroup">
            <vr-tabs>
                <vr-tab header="'Definition'">

                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-section title="Page Setting">
                                <vr-row removeline>
                                    <vr-textbox value="scopeModel.reportName" isrequired="true" label="Menu Title" customvalidate="scopeModel.validate()"></vr-textbox>
                                </vr-row>
                                <vr-row>
                                    <vr-textbox value="scopeModel.reportTitle" isrequired="true" label="Page Title" customvalidate="scopeModel.validate()"></vr-textbox>
                                </vr-row>
                                <vr-row>
                                    <vr-analytic-table-selector on-ready="scopeModel.onTableSelectorDirectiveReady" isrequired="true" selectedvalues="scopeModel.selectedTables" ismultipleselection onselectionchanged="scopeModel.onTableSelectionChanged"></vr-analytic-table-selector>
                                </vr-row>
                            </vr-section>
                        </vr-columns>
                        <vr-columns width="2/3row">
                            <vr-section title="Menu Location">
                                    <vr-treeview on-ready="scopeModel.onTreeReady"
                                                 datavaluefield="Id"
                                                 datatextfield="Name"
                                                 datachildrenfield="Childs"
                                                 selecteditem="scopeModel.selectedMenuItem"
                                                 wholerow>
                                    </vr-treeview>
                            </vr-section>
                        </vr-columns>
                    </vr-row>

                </vr-tab>
                <vr-tab header="'Search Settings'">
                    <span ng-if="scopeModel.selectedTables !=undefined && scopeModel.selectedTables.length>0" vr-loader="scopeModel.isLoadingSearchSettingsDirective">
                        <vr-analytic-reportsearchsettings-selective on-ready="scopeModel.onSearchSettingsDirectiveReady" normal-col-num="3"></vr-analytic-reportsearchsettings-selective>
                    </span>
                </vr-tab>
                <vr-tab header="'Widgets'">
                    <vr-row ng-if="scopeModel.selectedTables !=undefined && scopeModel.selectedTables.length>0">
                        <vr-columns width="normal">
                            <vr-button type="Add" data-onclick="scopeModel.addWidget" standalone></vr-button>
                        </vr-columns>
                        <vr-columns width="fullrow">
                            <vr-validator validate="scopeModel.isWidgetValid()">
                                <vr-datagrid datasource="scopeModel.widgets" norowhighlightonclick="true" enabledraggablerow="true"
                                             on-ready="onGridReady"  ondeleterow="scopeModel.removeWidget" menuactions="widgetsGridMenuActions" hidegridmenu>
                                    <vr-datagridcolumn headertext="'Widget Name'" field="'widgetSettings.WidgetTitle'" widthfactor="5" disablesorting="true"></vr-datagridcolumn>
                                </vr-datagrid>
                            </vr-validator>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="analyticReportSettingsEditorGroup" haspermission="scopeModel.hasSaveGenericBEEditor" data-onclick="scopeModel.SaveGenericBEEditor"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
