<div vr-modalcontent ng-controller="VR_Analytic_AnalyticPermanentFilterEditorController" vr-loader="scopeModel.isLoading" width="'60%'">
    <vr-modalbody maxheight="'600px'">
        <vr-form validationcontext="analyticPermanentFilterEditorGroup">
            <vr-analytic-permanentfilter-settings normal-col-num="6" on-ready="scopeModel.onPermanentFilterSettingsDirectiveReady"></vr-analytic-permanentfilter-settings>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="analyticPermanentFilterEditorGroup" data-onclick="scopeModel.savePermanentFilter"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
