<div vr-modalcontent ng-controller="VR_Analytic_AnalyticWidgetEditorController" vr-loader="isLoading" size="large">
    <vr-modalbody maxheight="'600px'">
        <vr-form validationcontext="analyticWidgetEditorGroup">
            <vr-row>
                <vr-columns width="fullrow" >
                    <vr-analytic-widgets-selective on-ready="onWidgetSelectiveDirectiveReady" normal-col-num="2"></vr-analytic-widgets-selective>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" validationcontext="analyticWidgetEditorGroup"  data-onclick="SaveWidget"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
