<vr-datagrid datasource="scopeModel.statusDefinition"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             idfield="Entity.StatusDefinitionId">
    <vr-datagridcolumn headertext="'Id'" field="'Entity.StatusDefinitionId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status Group'" field="'StatusGroupDescription'"></vr-datagridcolumn>

</vr-datagrid>