<vr-datagrid datasource="scopeModel.alertLevel"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             idfield="Entity.VRAlertLevelId">
    <vr-datagridcolumn headertext="'Id'" field="'Entity.VRAlertLevelId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Name'" field="'Entity.Name'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Alert Level Group'" field="'BusinessEntityDefinitionName'"></vr-datagridcolumn>

</vr-datagrid>