<vr-genericdata-datatransformation-rulestepcommon-preview on-ready="ctrl.onCommonDirectiveReady"></vr-genericdata-datatransformation-rulestepcommon-preview>
<vr-row removeline>
    <vr-columns width="fullrow">
        <vr-list maxitemsperrow="1">
            <vr-listitem ng-show="ctrl.initialRate !=undefined"><vr-label>Rule.InitialRate = {{ctrl.initialRate}}</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.effectiveRate !=undefined"><vr-label>{{ctrl.effectiveRate}} = Rule.EffectiveRate</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.extraChargeRate !=undefined"><vr-label>{{ctrl.extraChargeRate}} = Rule.ExtraChargeRate</vr-label></vr-listitem>
            <vr-listitem ng-show="ctrl.currencyId !=undefined"><vr-label>Rule.CurrencyId = {{ctrl.currencyId}}</vr-label></vr-listitem>
        </vr-list>
    </vr-columns>
</vr-row>