<vr-row removeline>
    <vr-columns width="fullrow">
        <vr-genericdata-datatransformation-rulestepcommon-preview on-ready="ctrl.onCommonDirectiveReady"></vr-genericdata-datatransformation-rulestepcommon-preview>
    </vr-columns>
    <vr-columns width="fullrow">
        <vr-label ng-show="ctrl.initialRate !=undefined">Rule.InitialRate = {{ctrl.initialRate}}</vr-label>
    </vr-columns>
    <vr-columns width="fullrow">
        <vr-label ng-show="ctrl.effectiveRate !=undefined">{{ctrl.effectiveRate}} = Rule.EffectiveRate </vr-label>
    </vr-columns>
</vr-row>