
<vr-columns width="fullrow">
    <vr-tabs>
        <vr-tab header="'Routing Optimizer Settings'">
            <vr-columns width="fullrow">
                    <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" maxheight="300px"
                                 on-ready="onGridReady" hidegridmenu>
                        <vr-datagridcolumn headertext="'Analysis Type'" field="'name'" widthfactor="5" disablesorting></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Settings'" field="" widthfactor="10" disablesorting>
                            <vr-directivewrapper directive="dataItem.editor" on-ready="dataItem.onDirectiveReady" />
                        </vr-datagridcolumn>
                    </vr-datagrid>
            </vr-columns>
        </vr-tab>
    </vr-tabs>
</vr-columns>