<div vr-modalcontent ng-controller="VR_Invoice_GenericInvoiceEditorController" size="medium" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formGenericInvoiceEditor">
                <vr-row removeline>
                    <vr-invoice-accountstatus-selector hideremoveicon on-ready="scopeModel.onAccountStatusSelectorReady" normal-col-num="4" vr-disabled="scopeModel.isEditMode" onselectionchanged="scopeModel.onAccountStatusSelectionChanged"></vr-invoice-accountstatus-selector>

                    <vr-directivewrapper vr-disabled="scopeModel.isEditMode" directive="scopeModel.invoiceTypeEntity.InvoicePartnerManager.PartnerSelector" on-ready="scopeModel.onPartnerSelectorReady" normal-col-num="4" isrequired="true"></vr-directivewrapper>
                    <vr-columns width="1/3row">
                        <vr-datetimepicker type="date" label="Issue Date" value="scopeModel.issueDate" isrequired="true"></vr-datetimepicker>
                    </vr-columns>
                </vr-row>
                <vr-row >
                    <span vr-disabled="scopeModel.isEditMode">
                        <vr-columns width="1/3row">

                            <vr-datetimepicker type="date" label="From" value="scopeModel.fromDate" isrequired="true" customvalidate="scopeModel.validateFromDate()" vr-disabled="scopeModel.isDateDisabled"></vr-datetimepicker>
                        </vr-columns>
                    </span>
                    <span vr-disabled="scopeModel.isEditMode">
                        <vr-columns width="1/3row">
                            <vr-datetimepicker type="date" label="To" value="scopeModel.toDate" isrequired="true" customvalidate="scopeModel.validateToDate()" vr-disabled="scopeModel.isDateDisabled" applytimemax></vr-datetimepicker>
                        </vr-columns>
                    </span>

                   
                </vr-row>
            <vr-row ng-if="scopeModel.invoiceTypeEntity.InvoiceType.Settings.ExtendedSettings.GenerationCustomSection.GenerationCustomSectionDirective" vr-loader="scopeModel.isLoadingCustomSectionPayloadDirective">
                <vr-columns width="fullrow">
                    <vr-section header="More Options">
                                <vr-directivewrapper directive="scopeModel.invoiceTypeEntity.InvoiceType.Settings.ExtendedSettings.GenerationCustomSection.GenerationCustomSectionDirective" on-ready="scopeModel.onGenerationCustomSectionDirectiveReady" normal-col-num="4" isrequired="true"></vr-directivewrapper>
                    </vr-section>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <span ng-repeat="action in scopeModel.actions" ng-if="scopeModel.actions.length > 0">
                    <vr-directivewrapper directive="'vr-button'" type="{{action.type}}" data-onclick="action.onclick" menuactions="action.menuActions" formname="formGenericInvoiceEditor"></vr-directivewrapper>
                </span>
                <vr-button type="GenerateInvoice" formname="formGenericInvoiceEditor" data-onclick="scopeModel.generateInvoice"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
