<div vr-modalcontent ng-controller="VR_Invoice_GenericInvoiceEditorController" vr-loader="scopeModel.isLoading" width="'35%'">
    <vr-modalbody>
        <vr-form name="formGenericInvoiceEditor">
            <vr-validator validate="scopeModel.validateForm()">
                <vr-row removeline>
                    <vr-directivewrapper vr-disabled="scopeModel.isEditMode" directive="scopeModel.invoiceTypeEntity.InvoicePartnerSettings.PartnerSelector" on-ready="scopeModel.onPartnerSelectorReady" normal-col-num="4" isrequired="true"></vr-directivewrapper>
                    <vr-columns width="1/3row">
                        <vr-datetimepicker type="date" label="Issue Date" value="scopeModel.issueDate" isrequired="true"></vr-datetimepicker>
                    </vr-columns>
                </vr-row>
                <vr-row >
                    <span vr-disabled="scopeModel.isEditMode">
                        <vr-columns width="1/3row">

                            <vr-datetimepicker type="date" label="From" value="scopeModel.fromDate" isrequired="true" customvalidate="scopeModel.validateFromDate()"></vr-datetimepicker>
                        </vr-columns>
                    </span>
                    <span vr-disabled="scopeModel.isEditMode">
                        <vr-columns width="1/3row">
                            <vr-datetimepicker type="date" label="To" value="scopeModel.toDate" isrequired="true" customvalidate="scopeModel.validateToDate()"></vr-datetimepicker>
                        </vr-columns>
                    </span>
                </vr-row>
            </vr-validator>

        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <span ng-repeat="action in scopeModel.actions">
                    <vr-directivewrapper directive="'vr-button'" type="{{action.type}}" data-onclick="action.onclick" menuactions="action.menuActions" formname="formGenericInvoiceEditor"></vr-directivewrapper>
                </span>
                <vr-button type="GenerateInvoice" formname="formGenericInvoiceEditor" data-onclick="scopeModel.generateInvoice"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
