<!--<div vr-modalcontent ng-controller="VR_Invoice_InvoiceFTPActionEditorController" vr-loader="scopeModel.isLoading" width="'35%'">
    <vr-modalbody>
        <vr-form name="formGenericInvoiceEditor">
                <vr-row removeline>
                    <vr-columns width="fullrow">
                        <vr-common-connection-selector normal-col-num="6" on-ready="scopeModel.onConnectionSelectorReady" isrequired="true" vr-disabled="scopeModel.disableExecute()"></vr-common-connection-selector>
                    </vr-columns>
                </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Execute"  formname="formGenericInvoiceEditor" data-onclick="scopeModel.execute"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
-->