<div vr-modalcontent ng-controller="InterConnect_BE_OperatorProfileEditorController" vr-loader="scopeModal.isLoading" width="'60%'">
    <vr-modalbody>
        <vr-form name="formOperatorProfileEditor">
            <vr-tabs>
                <vr-tab header="'General Info'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModal.name" label="Profile Name" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-common-country-selector selectedvalues="country" onselectionchanged="onCountrySelctionChanged" on-ready="onCountryDirectiveReady" isrequired showaddbutton></vr-common-country-selector>
                        </vr-columns>
                    </vr-row>

                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModal.company" label="Company" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-common-city-selector vr-disabled="country== undefined || country ==  null" selectedvalues="scopeModal.city" on-ready="onCityDirectiveReady" isrequired showaddbutton></vr-common-city-selector>
                        </vr-columns>
                    </vr-row>
                    <vr-row vr-disabled="scopeModal.isEditMode">
                        <vr-columns width="1/2row" ng-show="scopeModal.showRecordTypeSelector">
                            <vr-genericdata-businessentity-recordtype-selector on-ready="scopeModal.onDataRecordTypeSelectorReady" onselectitem="scopeModal.onSettingSelectionChanged" isrequired="scopeModal.showRecordTypeSelector"></vr-genericdata-businessentity-recordtype-selector>
                        </vr-columns>
                    </vr-row>
                </vr-tab>

                <vr-genericdata-genericbusinessentity-runtime-editor on-ready="scopeModal.onExtendedSettingsDirectiveReady"></vr-genericdata-genericbusinessentity-runtime-editor>

            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formOperatorProfileEditor" data-onclick="SaveOperatorProfile"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
