<vr-row removeline ng-if="ctrl.tabobject.isLoaded &&  !ctrl.vertical" ng-show="ctrl.tabobject.isSelected" tabcontent="true" id="{{ctrl.tabobject.guid}}">
    <vr-columns width="fullrow" tabs="true">
        <vr-validation-group validationcontext="ctrl.tabobject.validationContext">
            <div ng-transclude></div>
        </vr-validation-group>
    </vr-columns>
</vr-row>
<div id="{{ctrl.tabobject.guid}}" ng-if="ctrl.tabobject.isLoaded &&  ctrl.vertical" ng-show="ctrl.tabobject.isSelected" ng-style="ctrl.getMinHeight()" tabcontent="true" style="display: inline-block;width: calc(100% - 160px);height:auto;border:1px solid #DDD;">
    <div tabs="true">
        <vr-validation-group validationcontext="ctrl.tabobject.validationContext">
            <div ng-transclude></div>
        </vr-validation-group>
    </div>
</div>
