<vr-row>
    <vr-columns width="1/2row">
        <vr-genericdata-businessentitydefinition-selector on-ready="scopeModel.onBusinessEntityDefinitionSelectorReady"
                                                          customlabel="Account Definition"
                                                          onselectionchanged="scopeModel.onBusinessEntityDefinitionSelectorChanged"
                                                          isrequired="true">
        </vr-genericdata-businessentitydefinition-selector>
    </vr-columns>
        <retail-be-accountbedefinition-classification-selector on-ready="scopeModel.onClassificationSelectorReady"
                                                               vr-loader="scopeModel.isClassificationSelectorLoading"
                                                               normal-col-num="6" ismultipleselection isrequired="true"></retail-be-accountbedefinition-classification-selector>
</vr-row>