<vr-tab header="'Settings'">
    <vr-row>
        <vr-columns width="1/3row">
            <vr-select label="Expression Type" datasource="scopeModel.expressionType" selectedvalues="scopeModel.selectedExpressionType"
                       datavaluefield="value" datatextfield="description" isrequired="true" onselectionchanged="scopeModel.onExpressionTypeSelectionChanged" hideremoveicon></vr-columns>
    </vr-row>
    <vr-row>
        <vr-columns width="fullrow" ng-show="scopeModel.showSQLExpression">
            <vr-textarea value="scopeModel.sqlExpression" label="SQL Expression" isrequired="scopeModel.showSQLExpression"></vr-textarea>
        </vr-columns>
        <vr-columns width="fullrow" ng-show="scopeModel.showSQLExpressionMethod">
            <vr-textarea value="scopeModel.sqlExpressionMethod" label="SQL Expression Method" rows="8" isrequired="scopeModel.showSQLExpressionMethod"></vr-textarea>
        </vr-columns>
    </vr-row>
    <vr-row>
        <vr-analytic-join-selector on-ready="scopeModel.onJoinSelectorDirectiveReady" normal-col-num="4" ismultipleselection></vr-analytic-join-selector>

        <vr-analytic-dimension-selector on-ready="scopeModel.onDependentDimensionSelectorDirectiveReady" normal-col-num="4" customlabel="Dependent Dimensions" ismultipleselection></vr-analytic-dimension-selector>

        <vr-analytic-dimension-selector on-ready="scopeModel.onParentDimensionSelectorDirectiveReady" normal-col-num="4" customlabel="Parent Dimensions" ismultipleselection></vr-analytic-dimension-selector>

        <vr-analytic-dimension-selector on-ready="scopeModel.onRequiredParentDimensionSelectorDirectiveReady" normal-col-num="4" customlabel="Required Parent Dimension"></vr-analytic-dimension-selector>
    </vr-row>

    <vr-row>
        <vr-genericdata-fieldtype-selective on-ready="scopeModel.onFieldTypeReady" isrequired="true"></vr-genericdata-fieldtype-selective>
    </vr-row>
</vr-tab>
<vr-tab header="'Mapping Record Fields'">
    <vr-row>
        <vr-columns width="1/2row">
            <vr-section title="Dimension Mapping Fields">
                <vr-datagrid datasource="scopeModel.dimensionFieldMappings"
                             on-ready="scopeModel.onGridReady"
                             dataretrievalfunction="dataRetrievalFunction"
                             pagingtype="'PagingOnScroll'"
                             menuactions="gridMenuActions"
                             idfield="Entity.DataRecordTypeId">

                    <vr-datagridcolumn headertext="'Type Name'" field="'Name'" type="'Text'" disablesorting="true"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Field Name'" type="'Text'" disablesorting="true">
                        <vr-genericdata-datarecordtypefields-selector on-ready="dataItem.onDataRecordTypeFieldsSelectorReady" hidelabel></vr-genericdata-datarecordtypefields-selector>
                    </vr-datagridcolumn>
                </vr-datagrid>
            </vr-section>
            
        </vr-columns>
    </vr-row>
</vr-tab>