<vr-row removeline>
    <vr-columns width="1/3row">
        <vr-whs-be-carrieraccount-selector ismultipleselection hideselectedvaluessection isrequired="true" selectedvalues="ctrl.selectedSuppliers" getsuppliers on-ready="ctrl.onCarrierAccountDirectiveReady"></vr-whs-be-carrieraccount-selector>
    </vr-columns>
    <vr-columns width="2/3row">
        <div>

            <vr-datagrid datasource="ctrl.selectedSuppliers"
                         on-ready="ctrl.onGridReady" enabledraggablerow="true" ondeleterow="ctrl.removeFilter" hidegridmenu>
                <vr-datagridcolumn headertext="'Suppliers'">
                    {{dataItem.Name}}
                </vr-datagridcolumn>
            </vr-datagrid>

         
        </div>
    </vr-columns>
</vr-row>