<div vr-modalcontent ng-controller="WhS_BE_RoutingProductEditorController" vr-loader="isGettingData" width="'45%'">
    <vr-modalbody>
        <vr-form name="formRoutingProductEditor">
            <vr-choices selectedindex="0">
                <vr-choice isselected="definitionSettignsSelected">Definition</vr-choice>
                <vr-choice isselected="saleZonesSelected">Sale Zones</vr-choice>
                <vr-choice isselected="suppliersSelected">Suppliers</vr-choice>
            </vr-choices>
            <div ng-show="definitionSettignsSelected">
                <vr-row>
                    <vr-columns width="1/2row">
                        <vr-textbox value="routingProductName" label="Name" isrequired></vr-textbox>
                    </vr-columns>
                </vr-row>
            </div>
            <div ng-show="saleZonesSelected">
                <vr-row>
                    <vr-columns width="1/4row">
                        <vr-whs-be-salezonepackages on-ready="onSellingNumberPlansDirectiveReady" onselectionchanged="onSellingNumberPlanSelectionChanged" isrequired />
                    </vr-columns>
                </vr-row>
                <vr-row ng-show="selectedSellingNumberPlanId">
                    <vr-columns width="1/4row">
                        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID" text="None"
                                   label="Filter Type" datasource="saleZoneGroupTemplates" selectedvalues="selectedSaleZoneGroupTemplate"></vr-select>
                    </vr-columns>
                    <vr-columns width="3/4row" ng-if="selectedSaleZoneGroupTemplate" vr-loader="saleZonesAppendixLoader">
                        <vr-directivewrapper directive="selectedSaleZoneGroupTemplate.Editor" on-ready="onSaleZoneGroupSettingsDirectiveReady"
                                             sellingnumberplanid="selectedSellingNumberPlanId"></vr-directivewrapper>
                    </vr-columns>
                </vr-row>
            </div>
            <div ng-show="suppliersSelected">
                <vr-row>
                    <vr-columns width="1/2row">
                        <vr-select datatextfield="Name" datavaluefield="TemplateConfigID" text="None"
                                   label="Filter Type" datasource="supplierGroupTemplates" selectedvalues="selectedSupplierGroupTemplate"></vr-select>
                    </vr-columns>
                </vr-row>
                <vr-row>
                    <vr-columns width="1/2row" ng-if="selectedSupplierGroupTemplate" vr-loader="suppliersAppendixLoader">
                        <vr-directivewrapper directive="selectedSupplierGroupTemplate.Editor" on-ready="onSupplierGroupSettingsDirectiveReady"></vr-directivewrapper>
                    </vr-columns>
                </vr-row>
            </div>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formRoutingProductEditor" data-onclick="SaveRoutingProduct"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
