<div vr-modalcontent ng-controller="WhS_BE_RoutingProductEditorController" vr-loader="scopeModel.isLoading" width="'40%'">
    <vr-modalbody>
        <vr-form name="formRoutingProductEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModel.routingProductName" label="Name" isrequired></vr-textbox>
                        </vr-columns>

                        <span>
                            <vr-whs-be-sellingnumberplan-selector  vr-disabled="isEditMode" on-ready="scopeModel.onSellingNumberPlansSelectorReady" onselectionchanged="scopeModel.onSellingNumberPlanSelectionChanged"
                                                                  selectedvalues="scopeModel.selectedSellingNumberPlan" normal-col-num="6" isrequired="true">
                            </vr-whs-be-sellingnumberplan-selector>
                        </span>
                    </vr-row>
                    <vr-row>
                        <span vr-disabled="scopeModel.isRoutingProductHasRelatedSaleEntities">
                            <vr-whs-be-zone-service-config-selector on-ready="scopeModel.onZoneServiceSelectorReady" label="Default Zone Services"
                                                                    normal-col-num="6" isrequired="true" ismultipleselection>
                            </vr-whs-be-zone-service-config-selector>
                        </span>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Sale Zones'" ng-show="scopeModel.selectedSellingNumberPlan">

                    <vr-row vr-loader="scopeModel.isLoadingSaleZonesSelector">
                        <vr-validator validate="scopeModel.validateSellingNumberPlan()">

                            <vr-columns width="1/2row">
                                <vr-select datatextfield="description" datavaluefield="value" onselectionchanged="scopeModel.onSaleZoneRelationTypeSelectionChanged" label="Sale Zones Relation"
                                           datasource="scopeModel.saleZoneRelationType" selectedvalues="scopeModel.selectedSaleZoneRelationType" hideremoveicon
                                           vr-disabled="scopeModel.isRoutingProductHasRelatedSaleEntities">
                                </vr-select>
                            </vr-columns>
                            <vr-columns width="1/2row" ng-show="scopeModel.showSaleZoneSelector">
                                <vr-whs-be-salezone-selector on-ready="scopeModel.onSaleZoneSelectorReady"
                                                             selectedvalues="scopeModel.selectedSaleZones"
                                                             onselectitem="scopeModel.onSelectSaleZone"
                                                             ondeselectitem="scopeModel.onDeselectSaleZone"
                                                             isdisabled="!scopeModel.selectedSellingNumberPlan || scopeModel.isRoutingProductHasRelatedSaleEntities"
                                                             isrequired="scopeModel.showSaleZoneSelector"
                                                             ismultipleselection>
                                </vr-whs-be-salezone-selector>
                            </vr-columns>

                        </vr-validator>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow" simplecol>
                            <vr-button type="Add" data-onclick="scopeModel.onAddRoutingProductZoneService" standalone vr-disabled="scopeModel.isRoutingProductHasRelatedSaleEntities"></vr-button>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-datagrid on-ready="scopeModel.onRoutingProductZoneServiceGridReady"
                                         datasource="scopeModel.routingProductZoneServices"
                                         ondeleterow="scopeModel.onRemoveRoutingProductZoneService"
                                         menuactions="scopeModel.menuActions"
                                         hidegridmenu>

                                <vr-datagridcolumn headertext="'Zones'" type="'Text'" field="'ZoneNames'" widthfactor="2" isfielddynamic="true" disablesorting></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'Services'" type="'Text'" field="'ServiceNames'" widthfactor="1" disablesorting></vr-datagridcolumn>
                            </vr-datagrid>
                        </vr-columns>
                    </vr-row>

                </vr-tab>
                <vr-tab header="'Suppliers'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-select datatextfield="description" datavaluefield="value" datasource="scopeModel.supplierRelationType" selectedvalues="scopeModel.selectedSupplierRelationType"
                                       onselectionchanged="scopeModel.onSupplierRelationTypeSelectionChanged" label="Suppliers" hideremoveicon>
                            </vr-select>
                        </vr-columns>
                        <vr-columns width="1/2row" ng-show="scopeModel.showSupplierSelector">
                            <vr-whs-be-carrieraccount-selector on-ready="scopeModel.onCarrierAccountSelectorReady"
                                                               selectedvalues="scopeModel.selectedSuppliers"
                                                               isrequired="scopeModel.showSupplierSelector"
                                                               getsuppliers
                                                               ismultipleselection>
                            </vr-whs-be-carrieraccount-selector>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formRoutingProductEditor" data-onclick="scopeModel.SaveRoutingProduct" haspermission="hasSaveRoutingProductPermission"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
