<vr-row>
    <vr-columns colnum="4">
        <vr-genericdata-datarecordtype-selector label="Record Type" on-ready="scopeModel.onDataRecordTypeSelectorReady" isrequired="true" hideremoveicon="true" onselectionchanged="scopeModel.onDataRecordTypeChange"></vr-genericdata-datarecordtype-selector>
    </vr-columns>
    <vr-columns colnum="4">
        <vr-genericdata-datarecordtypefields-selector label="Supplier" vr-loader="scopeModel.supplierSelectorLoader" on-ready="scopeModel.onSupplierDataRecordTypeFieldsSelectorReady" isrequired="true" hideremoveicon="true"></vr-genericdata-datarecordtypefields-selector>
    </vr-columns>
</vr-row>