<div vr-modalcontent ng-controller="RoleEditorController">
    <vr-modalbody width="'50%'" vr-loader="isGettingData">
        <vr-form name="formRoleEditor">
            <vr-row>
                <vr-columns colnum="6">
                    <vr-textbox value="name" label="Name"></vr-textbox>
                </vr-columns>
                <vr-columns colnum="6">
                    <vr-textbox value="description" label="Description"></vr-textbox>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formRoleEditor" data-onclick="SaveRole" isasynchronous=" true"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
