<vr-row>
    <vr-columns colnum="{{fileSourceCtrl.normalColNum}}">
        <vr-fileupload label="File" value="scopeModel.file" modulename="{{'CDRComparison_FileCDRSource'}}" validationfunction="scopeModel.validateFile" isrequired="fileSourceCtrl.isrequired"></vr-fileupload>
    </vr-columns>
    <vr-columns width="normal" withemptyline>
        <vr-button type="Help" data-onclick="scopeModel.viewRecentFiles" standalone></vr-button>
    </vr-columns>
</vr-row>
<cdrcomparison-filereader-selective on-ready="scopeModel.onFileReaderSelectiveReady" normal-col-num="{{fileSourceCtrl.normalColNum}}" isrequired="fileSourceCtrl.isrequired"></cdrcomparison-filereader-selective>
