<!--<vr-columns colnum="{{scopeModel.colNum}}" haschildcolumns>
    <vr-section ng-if="!scopeModel.hideSection" title={{scopeModel.fieldTitle}}>
        <vr-button ng-if="!scopeModel.hideAddButton" type="Add" data-onclick="scopeModel.addRecord" standalone></vr-button>
        <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                     on-ready="scopeModel.onGridReady" enabledraggablerow="scopeModel.enableDraggableRow" ondeleterow="scopeModel.onDeleteRow" hidegridmenu>
            <vr-datagridcolumn ng-repeat="column in scopeModel.columns" columnattributes="{{column.Attribute}}" columnindex="$index">
                <span vr-loader="scopeModel.isRuntimeEditorDirectiveloading">
                    <vr-genericdata-genericeditor-rootcontainer on-ready="dataItem.Entity[colDef.columnIndex].onRunTimeEditorDirectiveReady"></vr-genericdata-genericeditor-rootcontainer>
                </span>
            </vr-datagridcolumn>
            <vr-datagridexpandablerow ng-if="scopeModel.enableDrillDown">
                <vr-genericdata-genericeditor-rootcontainer on-ready="dataItem.onRunTimeEditorDirectiveReady"></vr-genericdata-genericeditor-rootcontainer>
            </vr-datagridexpandablerow>
        </vr-datagrid>
    </vr-section>
    <span ng-if="scopeModel.hideSection">
        <vr-columns width="fullrow">
            <vr-button ng-if="!scopeModel.hideAddButton" type="Add" data-onclick="scopeModel.addRecord" standalone></vr-button>
            <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                         on-ready="scopeModel.onGridReady" enabledraggablerow="scopeModel.enableDraggableRow" ondeleterow="scopeModel.onDeleteRow" hidegridmenu>
                <vr-datagridcolumn ng-repeat="column in scopeModel.columns" columnattributes="{{column.Attribute}}" columnindex="$index">
                    <span ng-if="!dataItem.Entity[colDef.columnIndex].showAsLabel" vr-loader="scopeModel.isRuntimeEditorDirectiveloading">
                        <vr-genericdata-genericeditor-rootcontainer on-ready="dataItem.Entity[colDef.columnIndex].onRunTimeEditorDirectiveReady"></vr-genericdata-genericeditor-rootcontainer>
                    </span>
                </vr-datagridcolumn>
            </vr-datagrid>
            <vr-datagridexpandablerow ng-if="scopeModel.enableDrillDown">
            <vr-genericdata-genericeditor-rootcontainer on-ready="scopeModel.onRunTimeEditorDirectiveReady"></vr-genericdata-genericeditor-rootcontainer>
            </vr-datagridexpandablerow>
        </vr-columns>
    </span>
</vr-columns>-->


