<vr-columns width="fullrow">
        <vr-section title={{scopeModel.fieldTitle}}>
            <vr-button type="Add" data-onclick="scopeModel.onDataRecordTypeRowAdded" standalone></vr-button>
            <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                            on-ready="scopeModel.onGridReady" enabledraggablerow="true" ondeleterow="scopeModel.onDeleteRow" hidegridmenu >
                <vr-datagridcolumn ng-repeat="column in scopeModel.columns" columnattributes="column">
                </vr-datagridcolumn>
            </vr-datagrid>
        </vr-section>
</vr-columns>

   