<div vr-modalcontent ng-controller="Vr_NP_CloseCodeDialogController" vr-loader="isGettingData">
    <vr-modalbody>
        <vr-form name="formCodeDialog">
            <vr-row>
                <vr-columns width="fullrow">
                    <div>
                        <vr-label>Codes</vr-label>
                    </div>

                    <vr-datalist maxitemsperrow="3" datasource="codes">
                        {{dataItem}}
                    </vr-datalist>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formCodeDialog" data-onclick="closeCodes"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
