<div vr-modalcontent ng-controller="Vr_NP_NewCodeDialogController" vr-loader="isGettingData" width="'60%'">
    <vr-modalbody>
        <vr-form name="formCodeDialog">
            <vr-row removeline>
                <vr-columns width="1/3row">
                    <vr-label>Code</vr-label>
                    <vr-textbox value="codeValue" minvalue="0" decimalprecision="0" type="number" onvaluechanged="onCodeValueChange"></vr-textbox>               
                </vr-columns>
                <vr-columns withemptyline width="1/2row" haschildcolumns>
                    <vr-button type="Add" data-onclick="addCodeValue" vr-disabled="disabledCode" standalone></vr-button>
                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-validator validate="validateCodes()">
                        <vr-datalist maxitemsperrow="4" datasource="codes" autoremoveitem="true" enabletitle>
                            <vr-validator validate="dataItem.message" normalheight>
                                {{dataItem.code}}
                            </vr-validator>
                        </vr-datalist>
                    </vr-validator>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formCodeDialog" data-onclick="saveCode"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
