<vr-columns colnum="{{ctrl.normalColNum}}">
    <vr-analytic-dataanalysisdefinition-selector on-ready="scopeModel.onDataAnalysisDefinitionSelectorReady" isrequired="true" selectedvalues="scopeModel.selectedDataAnalysisDefinition"
                                                 onselectionchanged="scopeModel.onDataAnalysisDefinitionSelectionChanged" hideremoveicon="true"></vr-analytic-dataanalysisdefinition-selector>
</vr-columns>
<vr-columns colnum="{{ctrl.normalColNum}}" ng-show="scopeModel.selectedDataAnalysisDefinition">
    <vr-analytic-dataanalysisitemdefinition-selector on-ready="scopeModel.onDataAnalysisItemDefinitionSelectorReady" isrequired="true" vr-loader="scopeModel.isDirectiveLoading" hideremoveicon="true"></vr-analytic-dataanalysisitemdefinition-selector>
</vr-columns>
