<vr-panel ng-controller="VRCommon_CurrencyExchangeRateManagementController" vr-loader="isGettingData">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-common-currency-selector on-ready="onCurrencySelectReady" ismultipleselection normal-col-num="2"></vr-common-currency-selector>
                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="Effective On" value="exchangeDate"></vr-datetimepicker>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <!--<vr-button type="Add" data-onclick="addNewCurrencyExchangeRate"></vr-button>-->
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-common-currencyexchangerate-grid on-ready="onGridReady"> </vr-common-currencyexchangerate-grid>

            </vr-columns>
        </vr-row>
    </vr-form>

</vr-panel>