<vr-datagrid datasource="operatorDeclaredInformations"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.OperatorDeclaredInformationId">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.OperatorDeclaredInformationId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Operator'" field="'OperatorName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'From Date'" field="'Entity.FromDate'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'To Date'" field="'Entity.ToDate'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Volume'" field="'Entity.Volume'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Amount Type'" field="'AmountTypeName'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>