<vr-datagrid datasource="scopeModel.statusHistories"
             on-ready="scopeModel.onGridReady"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             idfield="Entity.ID">
    <vr-datagridcolumn headertext="'ID'" field="'BusinessEntityStatusHistoryId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'" field="'StatusName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Previous Status'" field="'PreviousStatusName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status Change Date'" field="'StatusChangedDate'" type="'Datetime'"></vr-datagridcolumn>
</vr-datagrid>
