
<vr-datagrid vr-loader="ctrl.isRestoring" datasource="stateBackups"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="onGridReady"
             menuactions="gridMenuActions" defaultsortbyfieldname="'Entity.BackupDate'" defaultsortdirection="'DESC'">
    <vr-datagridcolumn headertext="'ID'" field="'Entity.StateBackupId'" widthfactor="2"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Type'" field="'Type'" widthfactor="4"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Description'" field="'Description'" widthfactor="6"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created By'" field="'BackupByUsername'" widthfactor="4"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Created On'" field="'Entity.BackupDate'" type="'Datetime'" widthfactor="4"></vr-datagridcolumn>

    <vr-datagridcolumn headertext="'Restored By'" field="'RestoredByUsername'" widthfactor="4"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Restored On'" field="'Entity.RestoreDate'" type="'Datetime'" widthfactor="4"></vr-datagridcolumn>
</vr-datagrid>