<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <pages clientIDMode="Static"  />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="ExpiryTimeRequestCall" value="40" />    <!-- in seconds -->
    <add key="SmtpServer" value="mail.ids.com.lb"/>
    <add key="ConfirmPage" value="http://localhost:2723/MoaWeb/ConfirmRegistration.aspx"/>
    <add key="ResetPasswordLink" value="http://localhost:2723/MoaWeb/ResetPassword.aspx"/>
    <add key="SendingEmail" value="h.hawi@ids.com.lb"/>
    <add key="ProjectsResources" value="./Resources/"/>
    <add key="ExtensionsResources" value="../Resources/"/>
  </appSettings>
  
</configuration>
