<vr-row>
    <vr-columns width="1/3row">
        <vr-select on-ready="onSelectorReady"
                   label="Declaration Type"
                   datasource="scopeModel.extensionConfigs"
                   selectedvalues="scopeModel.selectedExtensionConfig"
                   datavaluefield="ExtensionConfigurationId"
                   datatextfield="Title">
        </vr-select>
    </vr-columns>
    <vr-columns width="1/4row" withemptyline>
        <vr-button type="Add" data-onclick="scopeModel.addExtensionConfiguration" standalone vr-disabled="scopeModel.selectedExtensionConfig == undefined"></vr-button>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid datasource="scopeModel.operatorDeclarationServices"
                     pagingtype="'PagingOnScroll'"
                     on-ready="scopeModel.onGridReady"
                     ondeleterow="removerow"
                     maxheight="300px"
                     hidegridmenu ="true"
                     menuactions="scopeModel.menuActions">
            <vr-datagridcolumn headertext="'Title'" field="'Title'" fixedwidth="'60'"></vr-datagridcolumn>           
            <vr-datagridcolumn headertext="'Settings'" >
                    <span vr-loader="dataItem.isLoadingDirective">
                        <vr-directivewrapper directive="dataItem.Editor" on-ready="dataItem.onDirectiveReady" isrequired="true"></vr-directivewrapper>
                    </span>
</vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>