<vr-datagrid datasource="zonesRoutingProductsPreview"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="[]"
             defaultsortbyfieldname="'OwnerName'">

    <vr-datagridcolumn headertext="'Owner Type'" field="'OwnerTypeDescription'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Owner Name'" field="'OwnerName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Zone Name'" field="'Entity.ZoneName'" type="'Text'" ng-if="!isSubGrid"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Routing Product'" field="'RoutingProductName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Services'" invisibleheader fixedwidth="'70'">
        <vr-whs-be-services-viewer on-ready="dataItem.onRPServiceViewerReady"></vr-whs-be-services-viewer>
    </vr-datagridcolumn>
    <vr-datagridcolumn widthfactor="3">
        <vr-icon iconurl="dataItem.codeStatusIconUrl" tooltip="dataItem.codeStatusIconTooltip" inline></vr-icon>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" field="'Entity.BED'" type="'Date'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" field="'Entity.EED'" type="'Date'"></vr-datagridcolumn>


</vr-datagrid>