<vr-columns width="1/3row">
    <vr-textbox value="scopeModel.periodLength" type="number" isrequired="true" label="Period Length"></vr-textbox>
</vr-columns>
<vr-columns width="1/3row">
    <vr-select datatextfield="description" datavaluefield="value" datasource="timeUnits"
               selectedvalues="scopeModel.selectedTimeUnit" hideremoveicon isrequired="true" label="Time Unit" />
</vr-columns>
<vr-columns width="1/3row">
    <vr-textbox value="scopeModel.qualityFormula" isrequired="true" label="Quality Formula"></vr-textbox>
</vr-columns>
