<vr-panel ng-controller="Demo_Module_MasterManagementController" vr-loader="scopeModel.isLoading">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" >
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox value="scopeModel.name" label="Name"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="scopeModel.search"></vr-button>
                    <vr-button type="Add" data-onclick="scopeModel.addMaster"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <demo-module-master-grid on-ready="scopeModel.onGridReady"></demo-module-master-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>