<vr-datagrid datasource="pricelist"
             on-ready="onGridReady"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Id" loadmoredata="loadMoreData">

    <vr-datagridcolumn headertext="'PriceList ID'" field="'Entity.PriceListId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Customer Name'" field="'CustomerName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Carrier Account Name'" field="'Entity.CarrierAccountName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'PriceList Type'" field="'PriceListTypeValue'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Creation Date'" field="'Entity.CreatedTime'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Effective On Date'" field="'Entity.EffectiveOnDate'" type="'Datetime'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'PriceList Status'" field="'PriceListStatusDescription'" type="'Text'" getcolor="getColorStatus" tooltipfield="'Entity.AlertMessage'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'PriceList Result'" field="'PriceListResultDescription'" type="'Text'" getcolor="getColorResult"></vr-datagridcolumn>

</vr-datagrid>
