<div vr-loader="loadingActionTemplates">
    <vr-row>
        <vr-columns width="1/3row">
            <vr-select label="Action Type"
                       datasource="actionTemplates"
                       selectedvalues="selectedActionTemplate"
                       onselectionchanged="onActionTemplateChanged"
                       datavaluefield="ExtensionConfigurationId"
                       datatextfield="Title"
                       entityname="Action Type"
                       hideremoveicon>
            </vr-select>
        </vr-columns>

        <vr-columns width="normal">
            <div style="position: absolute; top: 25px;" vr-disabled="disableAddButton">
                <vr-button type="Add" data-onclick="addAction" standalone></vr-button>
            </div>
        </vr-columns>
    </vr-row>

    <vr-row>
        <vr-columns width="fullrow">

            <ul class="list-group dragbelzone" ng-sortable="itemsSortable" ng-show="actions.length > 0">
                <li ng-repeat="action in actions" class="list-group-item list-custom" style="margin:1px;">
                    <i class="glyphicon glyphicon-th-list handeldrag" style="display:inline-block;vertical-align:middle;float: none;"></i>
                    
                    <i class="glyphicon glyphicon-remove hand-cursor" style="float:right;padding:5px;cursor:default;" ng-click="removeAction($event, action)"></i>

                    <div style="display:inline-block; width:100%">
                        <vr-directivewrapper directive="action.Editor"
                                             on-ready="action.onActionDirectiveAPIReady">
                        </vr-directivewrapper>
                    </div>
                </li>
            </ul>

        </vr-columns>
    </vr-row>
</div>
