<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid datasource="normalizationRules"
                     on-ready="onGridReady"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     menuactions="gridMenuActions"
                     idfield="NormalizationRuleId">

            <vr-datagridcolumn headertext="'ID'" field="'NormalizationRuleId'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'BED'" field="'BeginEffectiveDate'" type="'Datetime'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'EED'" field="'EndEffectiveDate'" type="'Datetime'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Switches'" field="'SwitchesCount'" type="'Number'" numberprecision="'NoDecimal'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Trunks'" field="'TrunksCount'" type="'Number'" numberprecision="'NoDecimal'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Number Type'" field="'PhoneNumberTypeDescription'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Number Length'" field="'PhoneNumberLength'" type="'Number'" numberprecision="'NoDecimal'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Number Prefix'" field="'PhoneNumberPrefix'" type="'Text'"></vr-datagridcolumn>

        </vr-datagrid>
    </vr-columns>
</vr-row>