<vr-row vr-loader="isLoadingTemplates">
    <vr-columns width="fullrow">

        <vr-row>
            <vr-columns width="normal">
                <vr-select label="Action Type"
                           datasource="normalizationRuleAdjustNumberActionSettingsTemplates"
                           selectedvalues="selectedNormalizationRuleAdjustNumberActionSettingsTemplate"
                           onselectionchanged="onNormalizationRuleAdjustNumberActionSettingsTemplateChanged"
                           datavaluefield="TemplateConfigID"
                           datatextfield="Name"
                           entityname="Action Type"
                           hideremoveicon>
                </vr-select>
            </vr-columns>

            <vr-columns width="normal">
                <div style="position: absolute; top: 25px;" vr-disabled="disableAddButton">
                    <vr-button type="Add" data-onclick="addNormalizationRuleAdjustNumberActionSettingsListItem" standalone></vr-button>
                </div>
            </vr-columns>
        </vr-row>

        <vr-row>
            <vr-columns width="fullrow">

                <ul class="list-group dragbelzone" ng-sortable="itemsSortable" ng-show="normalizationRuleActionSettingsList.length > 0">
                    <li ng-repeat="item in normalizationRuleActionSettingsList" class="list-group-item list-custom" style="margin:1px;">
                        <i class="glyphicon glyphicon-th-list handeldrag" style="display:inline-block;vertical-align:middle;float: none;"></i>
                        <i class="glyphicon glyphicon-remove hand-cursor" style="float:right;padding:5px;cursor:default;" ng-click="removeNormalizationRuleActionSettingsListItem($event, item)"></i>

                        <div style="display:inline-block; width:100%">
                            <vr-directivewrapper directive="item.Editor"
                                                 behaviorid="item.BehaviorId"
                                                 onloaded="item.onNormalizationRuleActionSettingsDirectiveAPILoaded">
                            </vr-directivewrapper>
                        </div>
                    </li>
                </ul>

            </vr-columns>
        </vr-row>

    </vr-columns>
</vr-row>
