<div vr-loader="loadingTemplates">
    <vr-row>
        <vr-columns width="1/3row">
            <vr-select label="Set Area Type"
                       datasource="templates"
                       selectedvalues="selectedTemplate"
                       datavaluefield="ExtensionConfigurationId"
                       datatextfield="Title"
                       entityname="Set Area Type"
                       isrequired
                       hideremoveicon>
            </vr-select>
        </vr-columns>
    </vr-row>

    <vr-row>
        <vr-columns width="fullrow">
            <vr-directivewrapper directive="selectedTemplate.Editor"
                                 configid="selectedTemplate.TemplateConfigID"
                                 on-ready="onDirectiveReady">
            </vr-directivewrapper>
        </vr-columns>
    </vr-row>
</div>
