<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid datasource="trunks"
                     on-ready="onGridReady"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     menuactions="gridMenuActions"
                     idfield="TrunkId">

            <vr-datagridcolumn headertext="'Name'" field="'Name'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Symbol'" field="'Symbol'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Switch'" field="'SwitchName'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Type'" field="'TypeDescription'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Direction'" field="'DirectionDescription'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Linked-To Trunk'" field="'LinkedToTrunkName'" type="'Text'"></vr-datagridcolumn>

        </vr-datagrid>
    </vr-columns>
</vr-row>