<vr-row>
    <vr-columns width="1/3row">
        <vr-select on-ready="scopeModel.onDependentJoinsSelectorReady"
                   datasource="ctrl.datasource"
                   label="Dependent Joins"
                   datatextfield="RDBRecordStorageJoinName"
                   datavaluefield="RDBRecordStorageJoinName"
                   selectedvalues="ctrl.selectedvalues"
                   ismultipleselection="true">
        </vr-select>
    </vr-columns>



    <vr-columns width="fullrow">
        <vr-label>Custom Code</vr-label>
        <vr-textarea value="scopeModel.customCode" rows="15" cols="64" isrequired></vr-textarea>
    </vr-columns>
</vr-row>



