<vr-row>
    <vr-columns colnum="4">
        <vr-genericdata-datarecordstorage-selector on-ready="scopeModel.onDataRecordStorageSelectorReady"
                                                   isrequired="true"
                                                   selectedvalues="scopeModel.selectedDataRecordStorages"
                                                   onselectionchanged="scopeModel.onDataRecordStorageSelectionChanged">
        </vr-genericdata-datarecordstorage-selector>
    </vr-columns>

    <vr-columns colnum="4">
        <vr-select on-ready="scopeModel.onJoinTypeSelectorReady"
                   datatextfield="description"
                   datavaluefield="value"
                   isrequired="true"
                   label="Join Type"
                   datasource="scopeModel.joinTypes"
                   selectedvalues="scopeModel.selectedJoinType">
        </vr-select>
    </vr-columns>

    <vr-columns width="fullrow">
        <vr-section header="Conditions">
            <span vr-loader="scopeModel.isGridLoading">
                <vr-columns width="fullrow">
                    <vr-button type="Add" data-onclick="scopeModel.addJoinCondition" standalone vr-disabled="scopeModel.disableAddRDBJoin()"></vr-button>
                </vr-columns>
                <vr-columns width="fullrow">
                    <vr-validator validate="scopeModel.validateGrid()">
                        <vr-datagrid on-ready="scopeModel.onJoinConditionsGridReady"
                                     datasource="scopeModel.joinConditions"
                                     ondeleterow="scopeModel.removeJoinConditions"
                                     hidegridmenu>
                            <vr-datagridcolumn headertext="'Source Storage'" widthfactor="8" disablesorting>
                                <vr-genericdata-rdbrecordstoragesettings-joinfieldname-directive on-ready="dataItem.onJoinFieldNameDirectiveReady" normal-col-num="6" isrequired="false"></vr-genericdata-rdbrecordstoragesettings-joinfieldname-directive>
                            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Storage To Join'" widthfactor="4" disablesorting>
                                <vr-genericdata-datarecordtypefields-selector on-ready="dataItem.onStorageToJoinFieldNameSelectorReady"
                                                                              isrequired="true"
                                                                              label="Field Name"
                                                                              hideremoveicon>
                                </vr-genericdata-datarecordtypefields-selector>
                            </vr-datagridcolumn>
                        </vr-datagrid>
                    </vr-validator>
                </vr-columns>
            </span>
        </vr-section>
    </vr-columns>
</vr-row>

