<div vr-modalcontent ng-controller="VRCommon_CountryUploaderController" vr-loader="isGettingData" width="'50%'">
    <vr-modalbody>
        <vr-form name="formCountryEditor">
            <vr-row removeline>
                <vr-columns width="1/2row">
                    <vr-label>Upload File</vr-label>
                    <vr-fileupload extension="xls,xlsx" value="file" isrequired> </vr-fileupload>
                </vr-columns>
                <vr-validation-group validationcontext="subGroup1Valid">
                    <vr-columns width="1/2row">
                        <vr-select datatextfield="name" datavaluefield="value" label="Upload Type" datasource="uploadTypes" text="None"
                                   selectedvalues="selectedUploadType" isrequired="true" hidefilterbox>
                        </vr-select>
                    </vr-columns>
                </vr-validation-group>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Upload" formname="formCountryEditor" data-onclick="uploadCountires"></vr-button>
                <vr-button type="Download" validationcontext="subGroup1Valid" data-onclick="downloadTemplate"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
