<vr-panel ng-controller="CDRAnalysis_FA_StrategyManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoading">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices-filter selectedindex="selectedFilternIndex">
                        <vr-choice-filter isselected="basicSelected">Basic</vr-choice-filter>
                        <vr-choice-filter isselected="advancedSelected">Advanced</vr-choice-filter>
                    </vr-choices-filter>
                </vr-columns>
            </vr-row>
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox value="name" label="Strategy Name"></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="Creatd From" typeof="'dateTime'" value="fromDate" ></vr-datetimepicker>
                </vr-columns>
               
                <vr-columns width="normal">
                    <vr-datetimepicker label="To" typeof="'dateTime'" value="toDate"></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-textbox value="description" label="Description" ng-show="advancedSelected"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal" ng-show="advancedSelected">
                    <vr-sec-user-selector on-ready="onUserSelectorReady" customlabel="Analysts" ismultipleselection></vr-sec-user-selector>
                </vr-columns>
                <vr-columns width="normal" ng-show="advancedSelected">
                    <cdranalysis-fa-period-selector on-ready="onPeriodSelectorReady" label="Types" ismultipleselection></cdranalysis-fa-period-selector>
                </vr-columns>
                <vr-columns width="normal" ng-show="advancedSelected">
                    <vr-select datasource="statuses" selectedvalues="selectedStatuses" datatextfield="name" datavaluefield="value" label="Status" ismultipleselection></vr-select>
                </vr-columns>
                <vr-columns width="normal" ng-show="advancedSelected">
                    <vr-select datasource="kinds" selectedvalues="selectedKinds" datatextfield="name" datavaluefield="value" label="Kind" ismultipleselection ng-hide="true"></vr-select>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                    <vr-button type="Add" data-onclick="addStrategy" haspermission="hasAddStrategyPermission"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>
    <vr-row>
        <vr-columns width="fullrow">
            <cdranalysis-fa-strategy-grid on-ready="onGridReady"></cdranalysis-fa-strategy-grid>
        </vr-columns>
    </vr-row>
</vr-panel>