<div vr-modalcontent width="'95%'" ng-controller="StrategyEditorController">
    <vr-modalbody vr-loader="isGettingData">
        <vr-form name="formStrategyEditor">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox value="name" label="Name" isrequired></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-select label="Type" datasource="periods" datatextfield="Name" datavaluefield="Id" selectedvalues="selectedPeriod" onselectionchanged="selectedPeriodChanged" isrequired></vr-select>
                </vr-columns>

                <vr-columns width="1/3row">
                    <vr-textbox value="description" label="Description" isrequired></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-switch value="isEnabled" label="Enabled"></vr-switch>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-switch value="isDefault" label="System built in" permissions="Root/Strategy Module:Add System built in"></vr-switch>
                </vr-columns>

               



            </vr-row>

            <vr-row>

                <vr-columns width="fullrow">

                    <vr-choices onselectionchanged="ctrl.viewVisibilityChanged">
                        <vr-choice isselected="ctrl.isFilterTabShown">Strategy Filters</vr-choice>
                        <vr-choice isselected="ctrl.isLevelsTabShow">Suspicion Rules</vr-choice>
                    </vr-choices>

                    <div ng-show="ctrl.isFilterTabShown">
                        <vr-row>

                            <vr-columns width="1/2row">
                                <div>
                                    <vr-datagrid datasource="strategyFilters" maxheight="400px" hidepaginginfo>
                                        <vr-datagridcolumn headertext="' '" widthfactor="3">     <vr-switch value="dataItem.isSelected" ng-show="viewScope.showSwitch(dataItem)"></vr-switch>            </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filter '" field="'abbreviation'" widthfactor="3">                   </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Description'" field="'description'" widthfactor="20">                   </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Threshold'">
                                            <div style="max-width: 150px; float: left">
                                                <vr-textbox placeholder="{{dataItem.label}}" value="dataItem.threshold" type="number" isrequired ng-if="dataItem.isSelected" title="{{dataItem.toolTip}}" minvalue="{{dataItem.minValue}}" maxvalue="{{dataItem.maxValue}}" decimalprecision="{{dataItem.decimalPrecision}}"></vr-textbox>
                                            </div>
                                        </vr-datagridcolumn>
                                    </vr-datagrid>
                                </div>
                            </vr-columns>


                            <vr-columns width="large">
                                <vr-section title="Strategy Parameters">
                                    <div style="max-height:385px;overflow-y:auto;overflow-x:hidden">

                                        <vr-row ng-show="strategyFilters[13].isSelected">

                                            <vr-columns width="fullrow">

                                                <vr-select datasource="hours" datatextfield="name" datavaluefield="id" label="Peak Hours" selectedvalues="selectedPeakHours" ismultipleselection isrequired></vr-select>
                                            </vr-columns>
                                        </vr-row>

                                        <vr-row ng-show="strategyFilters[15].isSelected">

                                            <vr-columns width="fullrow">
                                                <vr-textbox value="gapBetweenConsecutiveCalls" type="number" label="Gap between Consecutive Calls in Seconds" isrequired></vr-textbox>
                                            </vr-columns>
                                        </vr-row>

                                        <vr-row ng-show="strategyFilters[16].isSelected ">

                                            <vr-columns width="fullrow">
                                                <vr-textbox value="gapBetweenFailedConsecutiveCalls" type="number" label="Gap between Failed Consecutive Calls in Seconds" isrequired></vr-textbox>
                                            </vr-columns>
                                        </vr-row>


                                        <vr-row ng-show="strategyFilters[17].isSelected">


                                            <vr-columns width="fullrow">
                                                <vr-textbox value="maxLowDurationCall" type="number" label="Maximum Low Duration Call (s) " isrequired></vr-textbox>
                                            </vr-columns>

                                        </vr-row>
                                        <vr-row ng-show="strategyFilters[8].isSelected">

                                            <vr-columns width="fullrow">
                                                <vr-textbox value="minCountofCallsinActiveHour" type="number" label="Minimum Count of Calls per Hour " isrequired></vr-textbox>
                                            </vr-columns>

                                        </vr-row>
                                    </div>

                                </vr-section>


                            </vr-columns>






                        </vr-row>
                    </div>

                    <div ng-show="ctrl.isLevelsTabShow">
                        <div>
                            <div>
                                <vr-button type="Add" data-onclick="AddSuspicionLevel" standalone></vr-button>
                            </div>
                            <vr-datagrid datasource="strategyLevels" maxheight="400px" hidepaginginfo>
                                <vr-datagridcolumn headertext="'Suspicion Level'"> <vr-form name="formSuspicionLevel">    <vr-select hideremoveicon datasource="viewScope.suspicionLevels" datatextfield="name" datavaluefield="id" ng-init="dataItem.suspicionLevel = (dataItem.suspicionLevel == undefined ? viewScope.suspicionLevels[0] : dataItem.suspicionLevel)" selectedvalues="dataItem.suspicionLevel" isrequired columnindex="0"></vr-select>       </vr-datagridcolumn>
                                <vr-datagridcolumn ng-repeat="filter in strategyFilters" ng-show="filter.isSelected" columnindex="$index + 1" headertext="'Filter: ' + filter.filterId" headerdescription="filter.description" tag="filter">
                                    <span ng-init="filterIndex = viewScope.strategyFilters.indexOf(colDef.tag) ">
                                        <div style="max-width: 50px; float: left">
                                            <vr-switch value="dataItem.StrategyLevelCriterias[filterIndex].isSelected"></vr-switch>
                                        </div>
                                        <div style="max-width:100px;float:left">
                                            <vr-numeric ng-show="dataItem.StrategyLevelCriterias[filterIndex].isSelected" value="dataItem.StrategyLevelCriterias[filterIndex].percentage" minvalue="-75" maxvalue="75" stepvalue="25" upsign="{{dataItem.StrategyLevelCriterias[filterIndex].upSign}}" downsign="{{dataItem.StrategyLevelCriterias[filterIndex].downSign}}" unit="%" isrequired></vr-numeric>
                                        </div>
                                    </span>
                                </vr-datagridcolumn>
                                <vr-datagridcolumn widthfactor="2"><span class="hand-cursor glyphicon glyphicon-remove" ng-click="viewScope.deleteRule(dataItem)"></span> </vr-datagridcolumn>
                            </vr-datagrid>
                        </div>
                    </div>
                </vr-columns>


            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formStrategyEditor" data-onclick="SaveStrategy"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>


