<vr-row removeline>
    <vr-columns width="fullrow">
        <vr-button type="Add" data-onclick="scopeModel.addTabContainer" standalone></vr-button>
    </vr-columns>
</vr-row>

<vr-row removeline>
    <div style="padding-left: 6px;">
        <vr-validator validate="scopeModel.isValid()">
            <vr-tabs settings="scopeModel.tabsSettings" on-ready="scopeModel.onTabsReady">
                <vr-tab header="tab.TabTitle" ng-repeat="tab in ctrl.datasource" onremove="scopeModel.onRemoveTab">
                    <vr-row>
                        <vr-span vr-loader="tab.isTextResourceSelectorLoading" ng-if="scopeModel.isLocalizationEnabled">
                            <vr-common-vrlocalizationtextresource-selector on-ready="tab.onTextResourceSelectorReady" hidelabel="true"></vr-common-vrlocalizationtextresource-selector>
                        </vr-span>
                    </vr-row>
                    <vr-row>
                        <span vr-loader="tab.isEditorDirectiveLoading">
                            <vr-genericdata-genericbe-editordefinition-settings on-ready="tab.onEditorDirectiveReady" normal-col-num="3"></vr-genericdata-genericbe-editordefinition-settings>
                        </span>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-validator>
    </div>
</vr-row>
