<div vr-modalcontent ng-controller="VRCommon_VRConnectionEditorController" vr-loader="scopeModel.isLoading" width="'35%'">
    <vr-modalbody>
        <vr-form name="formEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModel.name" label="Name" localizedlabel="VRRes.Name.VREnd" isrequired="true"></vr-textbox>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Settings'">
                    <vr-columns width="1/2row">
                        <vr-common-connectiontypeconfig-selector on-ready="scopeModel.onConnectionTypeConfigReady" selectedvalues="scopeModel.connectionType" isrequired="true"></vr-common-connectiontypeconfig-selector>
                    </vr-columns>
                    <vr-directivewrapper ng-if="scopeModel.connectionType.Editor" directive="scopeModel.connectionType.Editor" normal-col-num="6" on-ready="scopeModel.onConnectionEditorReady"></vr-directivewrapper>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formEditor" data-onclick="saveVRConnection" haspermission="HasEditVRConnectionPermission"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
