<vr-panel ng-controller="VRCommon_VRConnectionManagementController" vr-loader="scopeModel.isLoading">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" localizedlabel="VRRes.Name.VREnd" value="scopeModel.name"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-common-connectiontypeconfig-selector on-ready="scopeModel.onConnectionTypeConfigReady" ismultipleselection="true"></vr-common-connectiontypeconfig-selector>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="scopeModel.search"></vr-button>
                    <vr-button type="Add" formname="formFilter" data-onclick="scopeModel.add" haspermission="scopeModel.HasAddVRConnectionPermission"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <vr-common-connection-grid on-ready="scopeModel.onGridReady"></vr-common-connection-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>