<div vr-modalcontent ng-controller="Retail_BE_AccountBulkActionsEditorController" size="xlarge" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formAccountBulkActionsEditor">
            <vr-row removeline>
                <retail-be-account-management on-ready="scopeModel.onAccountManagementDirectiveReady"></retail-be-account-management>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Execute" formname="formAccountBulkActionsEditor" data-onclick="scopeModel.execute"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>