
<vr-columns width="fullrow">
    <vr-tabs>
        <vr-tab header="'Bank Details'" localizedheader="'VRRes.BankDetails.VREnd'">
            <vr-columns width="fullrow">
                <vr-button type="Add" data-onclick="ctrl.addBankDetail" standalone></vr-button>

                <vr-validator validate="ctrl.isValid()">
                    <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                                 on-ready="onGridReady" enabledraggablerow="true" ondeleterow="ctrl.removeBankDetail" hidegridmenu>
                        <vr-datagridcolumn headertext="'Bank'" localizedheadertext="'VRRes.Bank.VREnd'" field="'Entity.Bank'" widthfactor="10" disablesorting></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Account Code'" localizedheadertext="'VRRes.Account Code.VREnd'" field="'Entity.AccountCode'" widthfactor="10" disablesorting></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Account Holder'" localizedheadertext="'VRRes.AccountHolder.VREnd'" field="'Entity.AccountHolder'" widthfactor="10" disablesorting></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'IBAN'" localizedheadertext="'VRRes.IBAN.VREnd'" field="'Entity.IBAN'" widthfactor="10" disablesorting></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Address'" localizedheadertext="'VRRes.Address.VREnd'" field="'Entity.Address'" widthfactor="10" disablesorting></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Account Number'" localizedheadertext="'VRRes.AccountNumber.VREnd'" field="'Entity.AccountNumber'" widthfactor="10" disablesorting></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Swift Code'" localizedheadertext="'VRRes.SwiftCode.VREnd'" field="'Entity.SwiftCode'" widthfactor="10" disablesorting></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Sort Code'" localizedheadertext="'VRRes.SortCode.VREnd'" field="'Entity.SortCode'" widthfactor="10" disablesorting></vr-datagridcolumn>
                    </vr-datagrid>
                </vr-validator>
            </vr-columns>
        </vr-tab>
    </vr-tabs>
</vr-columns>