<vr-datagrid datasource="logs"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.VRActionAuditId" defaultsortdirection="'DESC'" defaultsortbyfieldname="'Entity.LogTime'" enableautoexport="true">
    <vr-datagridcolumn headertext="'ID'" localizedheadertext="'VRRes.ID.VREnd'" field="'Entity.VRActionAuditId'" type="'Text'" widthfactor="1"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Time'" localizedheadertext="'VRRes.Time.VREnd'" field="'Entity.LogTime'" type="'LongDatetime'" fixedwidth="120"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'User'" localizedheadertext="'VRRes.User.VREnd'" field="'UserName'" type="'Text'" fixedwidth="150"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Url'" localizedheadertext="'VRRes.Url.VREnd'" field="'URLName'" type="'Text'" fixedwidth="150" initiallyhidden="true"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Module'" localizedheadertext="'VRRes.Module.VREnd'" field="'ModuleName'" type="'Text'" fixedwidth="150"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Entity'" localizedheadertext="'VRRes.Entity.VREnd'" field="'EntityName'" type="'Text'" fixedwidth="150"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Action'" localizedheadertext="'VRRes.Action.VREnd'" field="'ActionName'" type="'Text'" fixedwidth="150"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Entity Id'" localizedheadertext="'VRRes.Entity Id.VREnd'" field="'Entity.ObjectId'" type="'Text'" fixedwidth="70" initiallyhidden="true"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Entity Name'" localizedheadertext="'VRRes.Entity Name.VREnd'" field="'Entity.ObjectName'" type="'Text'" widthfactor="1"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Notes'" localizedheadertext="'VRRes.Notes.VREnd'" field="'Entity.ActionDescription'" type="'Text'" widthfactor="2"></vr-datagridcolumn>
</vr-datagrid>