<vr-datagrid datasource="extensibleBEItems"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.ExtensibleBEItemId">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.ExtensibleBEItemId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Type'" field="'RecordTypeName'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>
