<vr-datagrid datasource="genericEditorDefinitions"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             idfield="Entity.GenericEditorDEfinitionId">

    <vr-datagridcolumn headertext="'ID'" field="'Entity.GenericEditorDefinitionId'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Record Type Name'" field="'RecordTypeName'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>
