<vr-datagrid on-ready="ctrl.onGridReady"
             datasource="ctrl.dataSource"
             dataretrievalfunction="ctrl.dataRetrievalFunction"
             menuactions="ctrl.menuActions"
             pagingtype="'PagingOnScroll'"
             idfield="'Entity.GenericBusinessEntityId'">
    <vr-datagridcolumn headertext="'Generic Business Entity Id'" field="'Entity.GenericBusinessEntityId'"></vr-datagridcolumn>
    <vr-datagridcolumn ng-repeat="column in ctrl.columns" headertext="column.FieldTitle" field="'FieldValueDescriptions[' + $index + ']'"></vr-datagridcolumn>
</vr-datagrid>

