<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="ExpiryTime" value="2" /><!-- Minutes-->
  </appSettings>
  <connectionStrings>
    <add name="CLINumberLibrary.Properties.Settings.CLINumberConnectionString"
      connectionString="Data Source=.;Initial Catalog=CLINumber;User ID=sa;Password=vanrise@cce$$;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>