<div vr-modalcontent ng-controller="VR_Analytic_DAProfCalcAggregationFieldController" width="'40%'" vr-loader="scopeModel.isLoading" size="medium">
    <vr-modalbody>
        <vr-form name="formDAProfCalcAggregationFieldEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Field Name" value="scopeModel.fieldName" isrequired="true"></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-textbox label="Field Title" value="scopeModel.fieldTitle" isrequired="true"></vr-textbox>
                        </vr-columns>
                    </vr-row>
                    <vr-row>
                        <vr-analytic-darecordaggregate-selective on-ready="scopeModel.onRecordAggregateSelectiveReady"></vr-analytic-darecordaggregate-selective>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Filters'">
                    <vr-section title="Record Filter" collapsible>
                        <vr-row>
                            <vr-genericdata-recordfilter on-ready="scopeModel.onRecordFilterDirectiveReady"></vr-genericdata-recordfilter>
                        </vr-row>
                    </vr-section>
                    <vr-section title="Time Filter" ng-show="false" collapsible>
                        <vr-analytic-timerangefilter-selective on-ready="scopeModel.onTimeRangeFilterSelectiveReady" isrequired="false"></vr-analytic-timerangefilter-selective>
                    </vr-section>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formDAProfCalcAggregationFieldEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>