<vr-tabs>
    <vr-tab header="'Editor Settings'">
        <vr-genericdata-genericbe-editordefinition-settings on-ready="scopeModel.onGenericBEFieldEditorDefinitionDirectiveReady" normal-col-num="4"></vr-genericdata-genericbe-editordefinition-settings>
    </vr-tab>
    <vr-tab header="'Conditions'">
        <vr-genericdata-conditionalrulecontainereditorsetting-conditionalrules on-ready="scopeModel.onGenericEditorConditionalRulesDirectiveReady" normal-col-num="4"></vr-genericdata-conditionalrulecontainereditorsetting-conditionalrules>
    </vr-tab>
</vr-tabs>