<!--<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-genericbe-editordefinition-settings on-ready="scopeModel.onGenericBEFieldEditorDefinitionDirectiveReady" normal-col-num="4"></vr-genericdata-genericbe-editordefinition-settings>
    </vr-columns>
</vr-row>
<vr-row>
    <vr-columns width="fullrow">
        <vr-genericdata-genericeditor-conditionalrules on-ready="scopeModel.onGenericEditorConditionalRulesDirectiveReady" normal-col-num="4"></vr-genericdata-genericeditor-conditionalrules>
    </vr-columns>
</vr-row>-->
