<vr-row>
    <vr-columns colnum="3">
        <vr-textbox value="scopeModel.prefix" label="Prefix"></vr-textbox>
    </vr-columns>
    <vr-columns colnum="3">
        <vr-textbox value="scopeModel.fromNumber" label="From Number" type="number" decimalprecision="0" isrequired="true" customvalidate="scopeModel.numbersValidation()"> </vr-textbox>
    </vr-columns>
    <vr-columns colnum="3">
        <vr-textbox value="scopeModel.toNumber" label="To Number" type="number" decimalprecision="0" isrequired="true" customvalidate="scopeModel.numbersValidation()"> </vr-textbox>
    </vr-columns>
    <vr-columns colnum="3">
        <vr-textbox value="scopeModel.suffix" label="Suffix"></vr-textbox>
    </vr-columns>
</vr-row>
