<vr-datagrid on-ready="scopeModel.onGridReady"
             datasource="scopeModel.dataSource"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             menuactions="scopeModel.menuActions"
             pagingtype="'PagingOnScroll'"
             idfield="Entity.VolumeCommitmentId">
    <vr-datagridcolumn headertext="'Description'" field="'Entity.Settings.Description'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Carrier'" field="'CarrierAccountName'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'BED'" field="'Entity.Settings.BeginDate'" type="'Date'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'EED'" field="'Entity.Settings.EndDate'" type="'Date'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Active'" field="'Entity.Settings.Active'" type="'Text'"></vr-datagridcolumn>
</vr-datagrid>