<vr-button type="Add" data-onclick="ctrl.addDescription" standalone></vr-button>

<vr-validator validate="ctrl.isValid()">
    <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                 on-ready="onGridReady" enabledraggablerow="true" ondeleterow="ctrl.removeDescription" hidegridmenu>
        <vr-datagridcolumn headertext="'Description'" field="'Entity.Title'" widthfactor="10" disablesorting></vr-datagridcolumn>
    </vr-datagrid>
</vr-validator>

