<div ng-controller="Runtime_DailyTimeTriggerTemplateController">
    <vr-section title="Timer Settings">
        <vr-row>
            <vr-columns width="1/2row">
                <vr-datetimepicker label="Runs at" type="time" value="selectedTime"></vr-datetimepicker>
            </vr-columns>
            <vr-columns width="1/4row">
                <vr-button type="Add" data-onclick="addTime" standalone />
            </vr-columns>
            <vr-columns width="1/4row">
                <vr-row ng-repeat="time in selectedTimes">
                    {{time.Hour}} : {{time.Minute}} <i class="glyphicon glyphicon-remove hand-cursor" ng-click="removeTime(time)"></i>
                </vr-row>
            </vr-columns>
        </vr-row>
    </vr-section>
</div>
