<div ng-controller="Runtime_TimeTriggerTemplateController">
    <vr-section title="Timer Trigger">
        <vr-row>
            <vr-column width="normal">
                <vr-select datasource="schedulerTypes" selectedvalues="selectedType"
                           datatextfield="name" datavaluefield="value">
                </vr-select>
            </vr-column>
        </vr-row>
        <vr-row>
            <vr-column width="normal">
                <div ng-include="selectedType.templateURL" />
            </vr-column>
        </vr-row>
    </vr-section>
</div>
