<div vr-modalcontent ng-controller="WhS_Invoice_OriginalInvoiceDataTemplateController" width="'30%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formInvoiceCompareEditor">
            <vr-row>
                <vr-columns width="fullrow" haschildcolumns>
                    <vr-columns width="1/2row">
                        <vr-textbox label="Reference" value="scopeModel.reference"></vr-textbox>
                    </vr-columns>
                    <vr-columns width="1/2row">
                        <vr-fileupload extension="all" value="scopeModel.inPutFile"
                                       label="Upload Attachement"
                                       on-ready="scopeModel.onUploadedAttachementFileReady"
                                       onvaluechanged="scopeModel.addUploadedAttachement" tempfile="true"></vr-fileupload>
                    </vr-columns>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="fullrow" ng-if="scopeModel.originalDataCurrency.length > 0" withemptyline>
                    <vr-datagrid on-ready="scopeModel.onGridReady"
                                 datasource="scopeModel.originalDataCurrency" hidegridmenu>
                        <vr-datagridcolumn headertext="'Currency'" type="'Text'" field="'Entity.Currency'" widthfactor="5"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Voice Amount'" widthfactor="10" ng-if="scopeModel.isVoiceModuleEnabled && scopeModel.showVoiceColumn">
                            <vr-textbox value="dataItem.Entity.TrafficAmount" isrequired="dataItem.Entity.IncludeOriginalAmountInSettlement" type="number" ng-if="dataItem.Entity.HasTrafficAmount"></vr-textbox>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'SMS Amount'" widthfactor="10" ng-if="scopeModel.isSMSModuleEnabled && scopeModel.showSMSColumn">
                            <vr-textbox value="dataItem.Entity.SMSAmount" isrequired="dataItem.Entity.IncludeOriginalAmountInSettlement" type="number" ng-if="dataItem.Entity.HasSMSAmount"></vr-textbox>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Recurring Charge Amount'" widthfactor="10" ng-if="scopeModel.showRecurringChargeColumn">
                            <vr-textbox value="dataItem.Entity.RecurringChargeAmount" isrequired="dataItem.Entity.IncludeOriginalAmountInSettlement" type="number" ng-if="dataItem.Entity.HasRecurringChargeAmount"></vr-textbox>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Deal Amount'" widthfactor="10" ng-if="scopeModel.showDealColumn">
                            <vr-textbox value="dataItem.Entity.DealAmount" isrequired="dataItem.Entity.IncludeOriginalAmountInSettlement" type="number" ng-if="dataItem.Entity.HasDealAmount"></vr-textbox>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Include In Settlement'" widthfactor="10" ng-if="(scopeModel.isVoiceModuleEnabled && scopeModel.showVoiceColumn) || (scopeModel.isSMSModuleEnabled && scopeModel.showSMSColumn) || scopeModel.showRecurringChargeColumn || scopeModel.showDealColumn">
                            <vr-switch value="dataItem.Entity.IncludeOriginalAmountInSettlement"></vr-switch>
                        </vr-datagridcolumn>
                    </vr-datagrid>
                </vr-columns>
            </vr-row>
          
            <vr-datalist maxitemsperrow="3" datasource="scopeModel.uploadedAttachements" autoremoveitem="true">
                <a href="" ng-click="viewScope.scopeModel.downloadAttachement(dataItem.fileId)">{{dataItem.fileName}}</a>
            </vr-datalist>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="scopeModel.save" formname="formInvoiceCompareEditor"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>