<div vr-modalcontent ng-controller="VR_DataParser_ParserTypeEditorController" vr-loader="isLoading">
    <vr-modalbody>
        <vr-form name="formParserTypeEditor">
            <vr-tabs>
                <vr-tab header="'Definition'">
                    <vr-row removeline>
                        <vr-columns width="1/2row">
                            <vr-textbox value="scopeModel.name" label="Name" isrequired></vr-textbox>
                        </vr-columns>
                        <vr-columns width="1/2row">
                            <vr-switch value="scopeModel.useRecordType" label="Use Record Type" ></vr-switch>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Settings'">
                    <vr-dataparser-parsertype-extendedsettings on-ready="scopeModel.onParserTypeExtendedSettingsSelectorReady" normal-col-num="6" isrequired="true"></vr-dataparser-parsertype-extendedsettings>
                </vr-tabs>
            
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formParserTypeEditor" data-onclick="saveParserType"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
