<vr-panel ng-controller="Retail_Teles_EnterprisesDIDsViewController" vr-loader="isLoading">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
               <retail-be-account-selector normal-col-num="2" on-ready="onAccountSelectorReady" ismultipleselection></retail-be-account-selector>
                <vr-columns width="normal">
                    <vr-textbox value="didNumber" label="Screen Number"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Save" formname="formFilter" data-onclick="save" haspermission="hasSaveAccountEnterprisesPermission"></vr-button>
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <retail-teles-enterprisesdids-grid on-ready="onGridReady"></retail-teles-enterprisesdids-grid>
            </vr-columns>
        </vr-row>
    </vr-form>
</vr-panel>