<vr-panel ng-controller="WhS_BE_CodeGroupManagementController">
    <vr-form name="formFilter" vr-loader="isGettingData">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox value="code" label="Code Group"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-whs-be-country-selector on-ready="onCountryDirectiveReady" ismultipleselection ></vr-whs-be-country-selector>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <vr-button type="Add" data-onclick="AddNewCountry"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-whs-be-codegroup-grid on-ready="onGridReady"></vr-whs-be-codegroup-grid>
    </vr-form>
</vr-panel>