<div ng-controller="CDR_RepricingController">
    <vr-form name="formCreateRepricingInput">
        <vr-row removeline>
            <vr-columns colnum="3">
                <vr-datetimepicker type="dateTime" value="fromDate" label="From" isrequired></vr-datetimepicker>
            </vr-columns>

            <vr-columns colnum="3">
                <vr-datetimepicker type="dateTime" value="toDate" label="To" isrequired></vr-datetimepicker>
            </vr-columns>
            <vr-columns colnum="3">
                <vr-be-carriergroup type="'Customer'" selectedvalues="selectedCustomers"></vr-be-carriergroup>
            </vr-columns>
            <vr-columns colnum="3" >
                <vr-be-carriergroup type="'Supplier'" selectedvalues="selectedSuppliers"></vr-be-carriergroup>
            </vr-columns>
            <vr-columns colnum="3">
               <vr-switch label="Generate Trafic Statistic" value="generateTrafficStatistic"></vr-switch>
            </vr-columns>
        </vr-row>
    </vr-form>
</div>