<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <appSettings>
      <add key="UploadPath" value="C:\\FMS_Import\\Automatic\\" />
    </appSettings>


  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBindingEndpoint" closeTimeout="24.19:30"
          openTimeout="24.19:30" receiveTimeout="24.19:30" sendTimeout="24.19:30"
          maxBufferPoolSize="209715200" maxBufferSize="52428800" maxReceivedMessageSize="52428800">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint address="net.tcp://localhost:8523/FMSImportService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBindingEndpoint"
        contract="FMSServiceReference.IFzeroService" name="NetTcpBindingEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>



    <behaviors>
      <endpointBehaviors>
        <behavior name="serialiazationBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing,     error, warning, critical" propagateActivity="true">
        <listeners>
          <add name="traceListener"
       type="System.Diagnostics.TextWriterTraceListener"
       initializeData="c:\Debug\tracestext.log" />

        </listeners>
      </source>
    </sources>
  </system.diagnostics>


</configuration>