<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox label="Server IP" value="scopeModel.ServerIp" isrequired></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox label="User Name" value="scopeModel.UserName" isrequired></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox label="Password" value="scopeModel.Password" isrequired></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox label="Directory" value="scopeModel.Directory" isrequired></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox label="Extension" value="scopeModel.Extension" isrequired></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-textbox label="Mask" value="scopeModel.Mask"></vr-textbox>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-switch label="Based On Modified Time" value="scopeModel.BasedOnTime"></vr-switch>
    </vr-columns>
</vr-row>
