<div >
    <vr-datagrid datasource="saleOtherRates"
                 on-ready="onGridReady"
                 idfield="Entity.SaleRateId">
        <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Rate'" field="'ConvertedRate'" type="'Number'" numberprecision="'LongPrecision'" widthfactor="3"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Currency'" field="'CurrencyName'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Rate Type'" field="'RateTypeName'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Begin Effective Date'" field="'Entity.BED'" type="'Date'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'End Effective Date'" field="'Entity.EED'" type="'Date'"></vr-datagridcolumn>
    </vr-datagrid>
</div>
