<div ng-show="showGrid">
    <vr-datagrid datasource="salerates"
                 on-ready="onGridReady"
                 dataretrievalfunction="dataRetrievalFunction"
                 pagingtype="'PagingOnScroll'"
                 menuactions="gridMenuActions"
                 idfield="Entity.SaleRateId"
                 defaultsortbyfieldname="'Entity.SaleRateId'">
        <vr-datagridcolumn headertext="'ID'" field="'Entity.SaleRateId'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Normal Rate'" field="'ConvertedRate'" type="'Number'" numberprecision="'LongPrecision'" widthfactor="3"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Currency'" field="'CurrencyName'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Rate Type'" field="'RateTypeName'" type="'Text'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'Begin Effective Date'" field="'Entity.BED'" type="'Date'"></vr-datagridcolumn>
        <vr-datagridcolumn headertext="'End Effective Date'" field="'Entity.EED'" type="'Date'"></vr-datagridcolumn>
    </vr-datagrid>
</div>
