<vr-row>
    <vr-columns width="1/2row">
        <vr-select datasource="scopeModel.invoiceFields"
                   datatextfield="description"
                   datavaluefield="value"
                   selectedvalues="scopeModel.selectedInvoiceField"
                   isrequired="true"
                   onselectionchanged="scopeModel.onInvoiceFieldSelectionChanged"
                   label="Field">
        </vr-select>
    </vr-columns>
    <vr-columns width="1/2row" ng-if="scopeModel.isCustomFieldRequired()">
        <vr-select label="Field Name"
                   datasource="scopeModel.recordFields"
                   datatextfield="FieldTitle"
                   datavaluefield="FieldName"
                   selectedvalues="scopeModel.selectedRecordField"
                   entityname="Field Name"
                   isrequired="scopeModel.isCustomFieldRequired()">
        </vr-select>
    </vr-columns>
    <vr-columns width="1/2row" ng-if="scopeModel.showDateTimeFormat">
        <vr-textbox label="Datetime Format"
                     value="scopeModel.dateTimeFormat"
                     isrequired="true">
        </vr-textbox>
    </vr-columns>
</vr-row>