<vr-columns width="fullrow">
    <vr-tabs>
        <vr-tab header="'Route Rule'">
            <vr-section title="Customer" vr-loader="isLoadingCustomerDataTransformationDefinition">
                <vr-genericdata-datatransformationdefinition-selector on-ready="onCustomerDataTransformationDefinitionReady" selectedvalues="selectedCustomerDataTransformationDefinition"
                                                                      isrequired="true" customlabel="'Customer Transformation'" hideremoveicon>
                </vr-genericdata-datatransformationdefinition-selector>
            </vr-section>
            <vr-section title="Supplier" vr-loader="isLoadingSupplierDataTransformationDefinition">
                <vr-genericdata-datatransformationdefinition-selector on-ready="onSupplierDataTransformationDefinitionReady" selectedvalues="selectedSupplierDataTransformationDefinition"
                                                                      isrequired="true" customlabel="'Supplier Transformation'" hideremoveicon>
                </vr-genericdata-datatransformationdefinition-selector>
            </vr-section>
        </vr-tab>
    </vr-tabs>
</vr-columns>