<vr-columns width="fullrow">
    <vr-tabs>
        <vr-tab header="'Route Rule'">
            <vr-section title="Customer" vr-loader="isLoadingCustomerDataTransformationDefinition">
                <vr-genericdata-datatransformationdefinition-selector on-ready="onCustomerDataTransformationDefinitionReady" selectedvalues="selectedCustomerDataTransformationDefinition"
                                                                      isrequired="true" customlabel="'Customer Transformation'" hideremoveicon>
                </vr-genericdata-datatransformationdefinition-selector>
            </vr-section>
            <vr-section title="Supplier" vr-loader="isLoadingSupplierDataTransformationDefinition">
                <vr-genericdata-datatransformationdefinition-selector on-ready="onSupplierDataTransformationDefinitionReady" selectedvalues="selectedSupplierDataTransformationDefinition"
                                                                      isrequired="true" customlabel="'Supplier Transformation'" hideremoveicon>
                </vr-genericdata-datatransformationdefinition-selector>
            </vr-section>
        </vr-tab>
        <vr-tab header="'Quality Configuration'">
               <vr-row>
                    <vr-columns width="1/2row">
                        <vr-analytic-table-selector on-ready="onQualityAnalyticTableReady" isrequired="true" customlabel="Quality Analytic" hideremoveicon></vr-analytic-table-selector>
                    </vr-columns>
                </vr-row>
        </vr-tab>
    </vr-tabs>
</vr-columns>