<vr-columns width="normal">
    <vr-button type="Add" data-onclick="ctrl.addAccountPart" standalone></vr-button>
</vr-columns>
<vr-columns width="fullrow">
    <vr-validator validate="ctrl.isValidAccountParts()">
        <vr-datagrid datasource="ctrl.accountParts" norowhighlightonclick="true"
                     on-ready="ctrl.onGridReady" ondeleterow="ctrl.removeAccountPart" menuactions="ctrl.accountPartsGridMenuActions" hidegridmenu>
            <vr-datagridcolumn headertext="'Name'" field="'Entity.PartUniqueName'" widthfactor="1"></vr-datagridcolumn>
        </vr-datagrid>
    </vr-validator>
</vr-columns>