<vr-panel ng-controller="Carrier_CarrierProfileManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox label="Company Name" value="companyName"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-textbox label="Billing Email" value="billingEmail"></vr-textbox>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                    <vr-button type="Add" data-onclick="AddNewCarrierProfile"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <div vr-loader="isLoading">
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-datagrid datasource="CarrierProfileDataSource" dataretrievalfunction="dataRetrievalFunction" pagingtype="'PagingOnScroll'" on-ready="gridReady" menuactions="gridMenuActions" idfield="ProfileID">
                        <vr-datagridcolumn headertext="'Name'" field="'Name'">
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Company Name'" field="'CompanyName'">
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Billing Email'" field="'BillingEmail'">
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Accounts'" field="'AccountsCount'">
                        </vr-datagridcolumn>
                    </vr-datagrid>
                </vr-columns>
        </div>
    </vr-form>
</vr-panel>