<div ng-controller="WhS_BE_RouteRuleGridController">
    <vr-row>
        <vr-columns colnum="12" simplecol>
            <vr-datagrid datasource="routeRules"
                            dataretrievalfunction="dataRetrievalFunction"
                            pagingtype="'PagingOnScroll'"
                            on-ready="gridReady"
                            menuactions="gridMenuActions"
                            idfield="RuleId">

                <vr-datagridcolumn headertext="'Id'" field="'RuleId'"></vr-datagridcolumn>
                <!--<vr-datagridcolumn headertext="'Description'" field="'Description'"></vr-datagridcolumn>-->
            </vr-datagrid>
        </vr-columns>
    </vr-row>
</div>