<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="vanriseRuntime" type="Vanrise.Runtime.Configuration.RuntimeConfig, Vanrise.Runtime"/>
    <section name="vanriseLogging" type="Vanrise.Common.LoggingConfiguration.LoggingConfig, Vanrise.Common" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <vanriseRuntime>
    <runtimeServiceGroups>
      <runtimeServiceGroup name="group1" nbOfRuntimeInstances="3">
        <runtimeServices>
          <runtimeService name="Business Process Service" type="Vanrise.BusinessProcess.BusinessProcessService, Vanrise.BusinessProcess" interval="00:00:02"></runtimeService>
        </runtimeServices>
      </runtimeServiceGroup>
      <runtimeServiceGroup name="group2" nbOfRuntimeInstances="1">
        <runtimeServices>
          <runtimeService name="Scheduler Service" type="Vanrise.Runtime.SchedulerService, Vanrise.Runtime" interval="00:00:02"></runtimeService>
        </runtimeServices>
      </runtimeServiceGroup>
    </runtimeServiceGroups>
  </vanriseRuntime>
  
  <vanriseLogging maxLogLevel="Information">
    <loggers>
      <logger name="SQLLogger" type="Vanrise.Logging.SQL.SQLLogger, Vanrise.Logging.SQL">
        <parameters>
          <parameter name="ConnectionStringKey" value="LogDBConnString" />
        </parameters>
      </logger>
      <logger name="ConsoleLogger"  type="Vanrise.Common.ConsoleLogger, Vanrise.Common"></logger>
    </loggers>
    <exceptionLoggers>
      <exceptionLogger name="ConsoleExceptionLogger"  type="Vanrise.Common.ConsoleExceptionLogger, Vanrise.Common"></exceptionLogger>
      <exceptionLogger name="DefaultExceptionLogger"  type="Vanrise.Common.DefaultExceptionLogger, Vanrise.Common"></exceptionLogger>
    </exceptionLoggers>
  </vanriseLogging>

  <connectionStrings>
    <add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=CarrierPortalConfiguration;User ID=development;Password=dev!123;" />
    <add name="ProtalConnectionString" connectionString="Data Source=192.168.110.185;Initial Catalog=CarrierPortal_Dev;User ID=development;Password=dev!123;" providerName="System.Data.SqlClient" />
    <add name="TransactionDBConnString" connectionString="Initial Catalog=CarrierPortalTransactionDB;Data Source=.;User ID=sa; Password=p@ssw0rd" />
    <add name="LogDBConnString" connectionString="Initial Catalog=CarrierPortalLog;Data Source=.;User ID=sa; Password=p@ssw0rd" />
    <add name="XBoosterDBConnString" connectionString="Server=192.168.110.185;Database=XBooster_Dev;User ID=development;Password=dev!123;" />
    <add name="CDRComparisonOutputDBConnString" connectionString="Server=192.168.110.185;Database=XBooster_Dev_CDRComparisonOutput;User ID=development;Password=dev!123;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SecurityDBConnStringKey" value="ConfigurationDBConnString" />
    <add key="CP_DBConnStringKey" value="ProtalConnectionString" />
    <add key="RuntimeConnStringKey" value="TransactionDBConnString"/>
    <add key="BusinessProcessDBConnStringKey" value="TransactionDBConnString"/>
    <add key="BusinessProcessTrackingDBConnStringKey" value="LogDBConnString"/>
    <add key="BusinessProcessConfigDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="CDRComparisonDBConnStringKey" value="XBoosterDBConnString"/>
    <add key="CDRComparisonOutputDBConnStringKey" value="CDRComparisonOutputDBConnString"/>
    <add key="IsRuntimeService" value="false"/>
  </appSettings>
</configuration>