<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="vanriseRuntime" type="Vanrise.Runtime.Configuration.RuntimeConfig, Vanrise.Runtime"/>
    <section name="vanriseLogging" type="Vanrise.Common.LoggingConfiguration.LoggingConfig, Vanrise.Common" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <vanriseRuntime>
    <runtimeServiceGroups>
      <runtimeServiceGroup name="group2" nbOfRuntimeInstances="1">
        <runtimeServices>
          <runtimeService name="Scheduler Service" type="Vanrise.Runtime.SchedulerService, Vanrise.Runtime" interval="00:00:02"></runtimeService>
        </runtimeServices>
      </runtimeServiceGroup>

      <!-- Used to cache Data Result in Memory in order to handle Paging and sorting on the UI grids. nbOfRuntimeInstances depended on available resources.-->
      <runtimeServiceGroup name="group7" nbOfRuntimeInstances="1">
        <runtimeServices>
          <runtimeService name="Big Data Runtime Service" type="Vanrise.Common.Business.BigDataRuntimeService, Vanrise.Common.Business" interval="00:00:02"></runtimeService>
        </runtimeServices>
      </runtimeServiceGroup>
    </runtimeServiceGroups>
  </vanriseRuntime>
  
  <vanriseLogging maxLogLevel="Information">
    <loggers>
      <logger name="SQLLogger" type="Vanrise.Logging.SQL.SQLLogger, Vanrise.Logging.SQL">
        <parameters>
          <parameter name="LoggingConnectionStringKey" value="LogDBConnString" />
          <parameter name="ConfigurationConnectionStringKey" value="ConfigurationDBConnString" />
        </parameters>
      </logger>
      <logger name="ConsoleLogger"  type="Vanrise.Common.ConsoleLogger, Vanrise.Common"></logger>
    </loggers>
    <exceptionLoggers>
      <exceptionLogger name="ConsoleExceptionLogger"  type="Vanrise.Common.ConsoleExceptionLogger, Vanrise.Common"></exceptionLogger>
      <exceptionLogger name="DefaultExceptionLogger"  type="Vanrise.Common.DefaultExceptionLogger, Vanrise.Common"></exceptionLogger>
    </exceptionLoggers>
  </vanriseLogging>

  <connectionStrings configSource="ConnectionStrings.config">
    <!--<add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=CarrierPortal_Dev_Configuration;User ID=development;Password=dev!123;" />
    <add name="PortalConnectionString" connectionString="Data Source=192.168.110.185;Initial Catalog=CarrierPortal_Dev;User ID=development;Password=dev!123;" providerName="System.Data.SqlClient" />
    
    <add name="TransactionDBConnString" connectionString="Initial Catalog=CarrierPortalTransactionDB;Data Source=.;User ID=sa; Password=p@ssw0rd" />
    <add name="LogDBConnString" connectionString="Initial Catalog=CarrierPortalLog;Data Source=.;User ID=sa; Password=p@ssw0rd" />
    
    <add name="MainDBConnString" connectionString=""/>-->
  </connectionStrings>
  <appSettings file="appSettings.config">
    <add key="IsRuntimeService" value="false"/>
    <add key="EncryptionSecretKey" value="V@nR!se-Se6r3t" />

    <add key="RuntimeConnStringKey"                             value="TransactionDBConnString"/>
    <add key="BigDataServiceDBConnStringKey"                    value="TransactionDBConnString"/>

    <add key="CP_DBConnStringKey"                               value="PortalConnectionString"/>
    <add key="SecurityDBConnStringKey"                          value="ConfigurationDBConnString"/>
    <add key="ConfigurationDBConnStringKey"                     value="ConfigurationDBConnString"/>
    <add key="RuntimeConfigDBConnStringKey"                     value="ConfigurationDBConnString"/>
    <add key="LoggingConfigDBConnStringKey"                     value="ConfigurationDBConnString"/>
    
    <add key="ExposedConnectionStringNames" value=""/>    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>