<vr-section title="country">
    <vr-whs-be-sellingnumberplan-selector on-ready="onSellingnumberPlanDirectiveReady" normal-col-num="4" isrequired="true"></vr-whs-be-sellingnumberplan-selector>
    <whs-be-specific-country-selector on-ready="scopeModel.onCountrySelectorReady" ismultipleselection normal-col-num="4" isrequired="true"></whs-be-specific-country-selector>
</vr-section>
<vr-section title="EXCLUDED CODES">
    <whs-be-excluded-destinations on-ready="onExcludedDestinationDirectiveReady"></whs-be-excluded-destinations>
</vr-section>