<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="vanriseRuntime" type="Vanrise.Runtime.Configuration.RuntimeConfig, Vanrise.Runtime"/>
    <section name="vanriseLogging" type="Vanrise.Common.LoggingConfiguration.LoggingConfig, Vanrise.Common"/>
  </configSections>

  <vanriseRuntime>
    <runtimeServiceGroups>
      <runtimeServiceGroup name="group1" nbOfRuntimeInstances="1">
        <runtimeServices>
          <runtimeService name="Scheduler Service" type="Vanrise.Runtime.SchedulerService, Vanrise.Runtime" interval="00:00:02"></runtimeService>
          <runtimeService name="Queue Activation Service" type="Vanrise.Queueing.QueueActivationService, Vanrise.Queueing" interval="00:00:02"></runtimeService>
          <runtimeService name="Data Source Runtime Service" type="Vanrise.Integration.Business.DataSourceRuntimeService, Vanrise.Integration.Business" interval="00:00:02"></runtimeService>
        </runtimeServices>
      </runtimeServiceGroup>

      <!--<runtimeServiceGroup name="group2" nbOfRuntimeInstances="2">
        <runtimeServices>
          <runtimeService name="Business Process Service" type="Vanrise.BusinessProcess.BusinessProcessService, Vanrise.BusinessProcess" interval="00:00:02"></runtimeService>
        </runtimeServices>
      </runtimeServiceGroup>-->
      <!--<runtimeServiceGroup name="group3" nbOfRuntimeInstances="5">
        <runtimeServices>
          <runtimeService name="Queue Activation Service" type="Vanrise.Queueing.QueueActivationService, Vanrise.Queueing" interval="00:00:02"></runtimeService>
        </runtimeServices>
      </runtimeServiceGroup>
      <runtimeServiceGroup name="group4" nbOfRuntimeInstances="7">
        <runtimeServices>
          <runtimeService name="Data Source Runtime Service" type="Vanrise.Integration.Business.DataSourceRuntimeService, Vanrise.Integration.Business" interval="00:00:02"></runtimeService>
        </runtimeServices>
      </runtimeServiceGroup>-->
    </runtimeServiceGroups>
  </vanriseRuntime>

  <vanriseLogging maxLogLevel="Information">
    <loggers>
      <logger name="SQLLogger" type="Vanrise.Logging.SQL.SQLLogger, Vanrise.Logging.SQL">
        <parameters>
          <parameter name="ConnectionStringKey" value="LogDBConnString"/>
        </parameters>
      </logger>
      <logger name="ConsoleLogger" type="Vanrise.Common.ConsoleLogger, Vanrise.Common"></logger>
    </loggers>
    <exceptionLoggers>
      <exceptionLogger name="ConsoleExceptionLogger" type="Vanrise.Common.ConsoleExceptionLogger, Vanrise.Common"></exceptionLogger>
      <exceptionLogger name="DefaultExceptionLogger" type="Vanrise.Common.DefaultExceptionLogger, Vanrise.Common"></exceptionLogger>
    </exceptionLoggers>
  </vanriseLogging>
  <connectionStrings>
    <add name="InterconnectDBConnectionString" connectionString="Data Source=192.168.110.185;Initial Catalog=Interconnect_Dev;User ID=development;Password=dev!123;" providerName="System.Data.SqlClient" />
    <add name="ConfigurationDBConnString" connectionString="Server=192.168.110.185;Database=Interconnect_Dev_Configuration;User ID=development;Password=dev!123;" />
    <add name="TransactionDBConnString" connectionString="Server=.;Database=Interconnect_Dev_Transaction;User ID=sa;Password=p@ssw0rd;" />
    <add name="QueueItemDBConnString" connectionString="Server=.;Database=Interconnect_Dev_Queue;User ID=sa;Password=p@ssw0rd;" />
    <add name="LogDBConnString" connectionString="Server=.;Database=Interconnect_Dev_Log;User ID=sa;Password=p@ssw0rd;" />
  </connectionStrings>
  <appSettings>
    <add key="Interconnect_BE_DBConnStringKey" value="InterconnectDBConnectionString" />
    <add key="SecurityDBConnStringKey" value="ConfigurationDBConnString" />
    <add key="ConfigurationDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="RuntimeConnStringKey" value="TransactionDBConnString"/>
    <add key="IntegrationConnStringKey" value="TransactionDBConnString"/>
    <add key="BusinessProcessDBConnStringKey" value="TransactionDBConnString"/>
    <add key="QueueDBConnStringKey" value="TransactionDBConnString"/>
    <add key="QueueItemDBConnStringKey" value="QueueItemDBConnString"/>
    <add key="BusinessProcessTrackingDBConnStringKey" value="LogDBConnString"/>
    <add key="RulesDBConnStringKey" value="ConfigurationDBConnString"/>
    <add key="IsRuntimeService" value="false"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>