<vr-panel ng-controller="WhS_Sales_RatePlanManagementController">

    <vr-form name="formFilter" vr-loader="loadingFilters">

        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-whs-be-carrieraccount-selector type="'Customer'"
                                              on-ready="onCarrierAccountDirectiveReady"
                                              onselectionchanged="onCarrierAccountChanged"
                                              isrequired
                                              hideremoveicon>
                    </vr-whs-be-carrieraccount-selector>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                    <span vr-disabled="disableSellNewZonesButton">
                        <vr-button type="SellNewZones" data-onclick="sellNewZones"></vr-button>
                    </span>
                </div>
            </vr-actionbar>
        </vr-row>

    </vr-form>

    <vr-whs-sales-rateplangrid on-ready="onRatePlanGridReady" ng-show="showRatePlanGrid"></vr-whs-sales-rateplangrid>

</vr-panel>