<div vr-modalcontent ng-controller="WhS_Sales_RatePlanChangesController" vr-loader="isLoading" width="'50%'">
    <vr-modalbody>
        <vr-form name="formSellNewZones">
            <vr-tabs>
                <vr-tab header="'Summary'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-section title="Rate Changes">
                                <vr-row>
                                    <vr-columns width="1/4row">
                                        <vr-label>New: </vr-label>
                                        <vr-label isvalue>{{totalNewRates}}</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/4row">
                                        <vr-label>Increases: </vr-label>
                                        <vr-label isvalue>{{totalIncreasedRates}}</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/4row">
                                        <vr-label>Decreases: </vr-label>
                                        <vr-label isvalue>{{totalDecreasedRates}}</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/4row">
                                        <vr-label>Changes: </vr-label>
                                        <vr-label isvalue>{{totalRateChanges}}</vr-label>
                                    </vr-columns>
                                </vr-row>
                            </vr-section>
                        </vr-columns>
                        <vr-columns width="fullrow">
                            <vr-section title="Routing Product Changes">
                                <vr-section title="Default Changes" level="2">
                                    <vr-row>
                                        <vr-columns width="fullrow" ng-show="defaultItem.newRoutingProductName">
                                            <vr-label>New: </vr-label>
                                            <vr-label isvalue>{{defaultItem.newRoutingProductName}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="fullrow" ng-hide="!defaultItem || defaultItem.newRoutingProductName">
                                            <vr-label>Change: </vr-label>
                                            <vr-label isvalue>{{defaultItem.newRoutingProductEED}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="fullrow" ng-hide="defaultItem">
                                            <vr-label isvalue>No changes</vr-label>
                                        </vr-columns>
                                    </vr-row>
                                </vr-section>
                                <vr-section title="Zone Changes" level="2">
                                    <vr-row>
                                        <vr-columns width="1/4row">
                                            <vr-label>New: </vr-label>
                                            <vr-label isvalue>{{totalNewZoneRoutingProducts}}</vr-label>
                                        </vr-columns>
                                        <vr-columns width="1/4row">
                                            <vr-label>Changes: </vr-label>
                                            <vr-label isvalue>{{totalZoneRoutingProductChanges}}</vr-label>
                                        </vr-columns>
                                    </vr-row>
                                </vr-section>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Default Changes'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-label isvalue ng-hide="defaultItem">No default changes</vr-label>
                            <vr-section title="Routing Product Changes" ng-show="defaultItem">
                                <vr-row>
                                    <vr-columns width="1/3row">
                                        <vr-label>Current:</vr-label>
                                        <vr-label isvalue>{{defaultItem.currentRoutingProductName}}</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row" ng-show="defaultItem.newRoutingProductName">
                                        <vr-label>New:</vr-label>
                                        <vr-label isvalue>{{defaultItem.newRoutingProductName}}</vr-label>
                                    </vr-columns>
                                    <vr-columns width="1/3row">
                                        <vr-label>Effective On:</vr-label>
                                        <vr-label isvalue>{{defaultItem.effectiveOn}}</vr-label>
                                    </vr-columns>
                                </vr-row>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Zone Rate Changes'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-label isvalue ng-hide="zoneRateChanges.length > 0">No zone rate changes</vr-label>
                            <vr-datagrid on-ready="onRateGridReady"
                                         dataretrievalfunction="rateDataRetrievalFunction"
                                         datasource="zoneRateChanges"
                                         pagingtype="'PagingOnScroll'"
                                         idfield="ZoneId"
                                         ng-show="zoneRateChanges.length > 0">
                                <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'Current Rate'" field="'CurrentRate'" type="'Number'"></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'New Rate'" field="'NewRate'" type="'Number'"></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'Change Type'" field="'ChangeType'" type="'Text'"></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'Effective On'" field="'EffectiveOn'" type="'Date'"></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'Effective Until'" field="'EffectiveUntil'" type="'Date'"></vr-datagridcolumn>
                            </vr-datagrid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Zone Routing Product Changes'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <vr-label isvalue ng-hide="zoneRoutingProductChanges.length > 0">No zone routing product changes</vr-label>
                            <vr-datagrid on-ready="onRoutingProductGridReady"
                                         dataretrievalfunction="routingProductDataRetrievalFunction"
                                         datasource="zoneRoutingProductChanges"
                                         pagingtype="'PagingOnScroll'"
                                         idfield="ZoneId"
                                         ng-show="zoneRoutingProductChanges.length > 0">
                                <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'Current Routing Product'" field="'CurrentRoutingProductName'" type="'Text'"></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'New Routing Product'" field="'NewRoutingProductName'" type="'Text'"></vr-datagridcolumn>
                                <vr-datagridcolumn headertext="'Effective On'" field="'EffectiveOn'" type="'Date'"></vr-datagridcolumn>
                            </vr-datagrid>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" data-onclick="save"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>

