<div vr-modalcontent ng-controller="WhS_Sales_RatePlanChangesController" vr-loader="isLoading" width="'50%'">
    <vr-modalbody>
        <vr-form name="formSellNewZones">
            <vr-tabs>
                <vr-tab header="'Summary'">
                    <vr-row>
                        <vr-columns width="fullrow"><vr-label isvalue>Comming soon...</vr-label></vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Default Changes'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <div ng-if="defaultRoutingProductChanges.length == 0"><vr-label isvalue>No routing product changes</vr-label></div>

                            <vr-section title="Routing Product Changes" ng-if="defaultRoutingProductChanges.length > 0">
                                <vr-row>
                                    <vr-columns width="fullrow">
                                        <vr-datagrid datasource="defaultRoutingProductChanges"
                                                     hidegridmenu>
                                            <vr-datagridcolumn headertext="'Old RP'" field="'oldRPName'" type="'Text'" disablesorting></vr-datagridcolumn>
                                            <vr-datagridcolumn headertext="'Old RP EED'" field="'oldRPEED'" type="'Date'" disablesorting></vr-datagridcolumn>
                                            <vr-datagridcolumn headertext="'New RP'" field="'newRPName'" type="'Text'" disablesorting></vr-datagridcolumn>
                                            <vr-datagridcolumn headertext="'New RP EED'" field="'newRPEED'" type="'Date'" disablesorting></vr-datagridcolumn>
                                        </vr-datagrid>
                                    </vr-columns>
                                </vr-row>
                            </vr-section>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
                <vr-tab header="'Zone Changes'">
                    <vr-row>
                        <vr-columns width="fullrow">
                            <div ng-if="zoneChanges.length == 0"><vr-label isvalue>No zone changes</vr-label></div>
                            <div ng-if="zoneChanges.length > 0">
                                <vr-datagrid datasource="zoneChanges"
                                             hidegridmenu>
                                    <vr-datagridcolumn headertext="'Zone'" field="'name'" type="'Text'" disablesorting></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Old Rate'" field="'oldRate'" type="'Number'" disablesorting></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Old Rate EED'" field="'oldRateEED'" type="'Date'" disablesorting></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'New Rate'" field="'newRate'" type="'Number'" disablesorting></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'New Rate EED'" field="'newRateEED'" type="'Date'" disablesorting></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Old RP'" field="'oldRPName'" type="'Text'" disablesorting></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'Old RP EED'" field="'oldRPEED'" type="'Date'" disablesorting></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'New RP'" field="'newRPName'" type="'Text'" disablesorting></vr-datagridcolumn>
                                    <vr-datagridcolumn headertext="'New RP EED'" field="'newRPEED'" type="'Date'" disablesorting></vr-datagridcolumn>
                                </vr-datagrid>
                            </div>
                        </vr-columns>
                    </vr-row>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>

<!--<vr-row>
    <vr-columns width="1/2row">
        <vr-row>
            <vr-label>Old Routing Product:</vr-label>
            <vr-label isvalue>{{defaultChanges.oldRPName}}</vr-label>
        </vr-row>
        <vr-row>
            <vr-label>Old Routing Product EED:</vr-label>
            <vr-label isvalue>{{defaultChanges.oldRPEED}}</vr-label>
        </vr-row>
    </vr-columns>
    <vr-columns width="1/2row">
        <vr-row>
            <vr-label>New Routing Product:</vr-label>
            <vr-label isvalue>{{defaultChanges.newRPName}}</vr-label>
        </vr-row>
        <vr-row>
            <vr-label>New Routing Product EED:</vr-label>
            <vr-label isvalue>{{defaultChanges.newRPEED}}</vr-label>
        </vr-row>
    </vr-columns>
</vr-row>-->
