<vr-panel ng-controller="WhS_Sales_RatePlanController">

    <vr-form validationcontext="formFilter" vr-loader="loadingFilters">

        <div vr-loader="isLoadingOwnerSection" ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-select label="Owner Type"
                               datasource="ownerTypes"
                               selectedvalues="selectedOwnerType"
                               onselectionchanged="onOwnerTypeChanged"
                               datavaluefield="value"
                               datatextfield="description"
                               entityname="Owner Type"
                               hideremoveicon>
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal" ng-show="showSellingProductSelector">
                    <vr-whs-be-sellingproduct-selector on-ready="onSellingProductSelectorReady"
                                                       selectedvalues="selectedSellingProduct"
                                                       onselectionchanged="onSellingProductChanged"
                                                       hideremoveicon>
                    </vr-whs-be-sellingproduct-selector>
                </vr-columns>
                <vr-columns width="normal" ng-show="showCarrierAccountSelector">
                    <vr-whs-be-carrieraccount-selector on-ready="onCarrierAccountSelectorReady"
                                                       selectedvalues="selectedCustomer"
                                                       onselectionchanged="onCarrierAccountChanged"
                                                       getcustomers
                                                       hideremoveicon>
                    </vr-whs-be-carrieraccount-selector>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" validationcontext="formFilter" data-onclick="search"></vr-button>
                    <vr-button type="SellNewZones" validationcontext="formFilter" data-onclick="sellNewZones" ng-show="showCarrierAccountSelector"></vr-button>
                    <vr-button type="Save" validationcontext="formFilter" menuactions="saveButtonMenuActions"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

        <div vr-loader="isLoadingDefaultRoutingProductSection" ng-show="showDefaultItem">
            <vr-whs-sales-defaultroutingproduct on-ready="onDefaultItemReady"></vr-whs-sales-defaultroutingproduct>
        </div>

        <vr-row>
            <vr-columns width="fullrow" ng-show="showZoneLetters">
                <vr-choices selectedindex="selectedZoneLetterIndex"
                            onselectionchanged="onZoneLetterSelectionChanged()">
                    <vr-choice ng-repeat="letter in zoneLetters">{{ letter | uppercase }}</vr-choice>
                </vr-choices>
            </vr-columns>
        </vr-row>

        <div ng-show="showGrid">
            <vr-whs-sales-rateplan-grid on-ready="onGridReady"></vr-whs-sales-rateplan-grid>
        </div>

    </vr-form>

</vr-panel>
