<div vr-modalcontent ng-controller="WhS_Sales_RatePlanEditorController" vr-loader="isGettingData">
    <vr-modalbody>
        <vr-form name="formRatePlanEditor">
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-textbox label="Name" value="name"></vr-textbox>
                </vr-columns>
                
                <vr-columns width="1/2row">
                    <div transclude-to="buttons" style="position: absolute; top: 25px;">
                        <vr-button type="Search" data-onclick="onSearchClicked" standalone></vr-button>
                    </div>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-datagrid datasource="saleZones"
                                 on-ready="onGridReady"
                                 dataretrievalfunction="dataRetrievalFunction"
                                 pagingtype="'PagingOnScroll'"
                                 menuactions="gridMenuActions"
                                 idfield="Entity.SaleZoneId">

                        <vr-datagridcolumn headertext="'Select'" field="'Entity.SaleZoneId'" widthfactor="3" disablesorting>
                            <vr-check value="dataItem.isSelected" onvaluechanged="viewScope.onSaleZoneCheckedChanged"></vr-check>
                        </vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Zone'" field="'Entity.Name'" type="'Text'"></vr-datagridcolumn>
                        <vr-datagridcolumn headertext="'Country'" field="'CountryName'" type="'Text'"></vr-datagridcolumn>

                    </vr-datagrid>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <span vr-disabled="disableSaveButton">
                    <vr-button type="Save" formname="formRatePlanEditor" data-onclick="sellNewZones"></vr-button>
                </span>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
