<vr-panel ng-controller="WhS_Sales_RatePlanController">

    <vr-form name="formFilter" vr-loader="loadingFilters">

        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-whs-be-carrieraccount-selector on-ready="onCarrierAccountDirectiveReady"
                                                       onselectionchanged="onCarrierAccountChanged"
                                                       getcustomers
                                                       hideremoveicon
                                                       isrequired>
                    </vr-whs-be-carrieraccount-selector>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="search"></vr-button>
                    <vr-button type="SellNewZones" formname="formFilter" data-onclick="sellNewZones"></vr-button>
                    <vr-button type="Save" formname="formFilter" data-onclick="savePriceList" vr-disabled="disableSaveButton"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>

        <vr-row ng-if="showZoneLetters">
            <vr-columns width="fullrow">
                <vr-choices selectedindex="zoneLetterConnector.selectedZoneLetterIndex" onselectionchanged="zoneLetterConnector.onZoneLetterSelectionChanged()">
                    <vr-choice ng-repeat="letter in zoneLetters">{{ letter | uppercase }}</vr-choice>
                </vr-choices>
            </vr-columns>
        </vr-row>

        <vr-row ng-show="showRatePlanGrid" removeline>
            <vr-columns width="fullrow">
                <vr-datagrid on-ready="onRatePlanGridReady"
                             datasource="ratePlanItems"
                             loadmoredata="loadMoreData"
                             menuactions="gridMenuActions"
                             pagingtype="'PagingOnScroll'"
                             vr-loader="loadingRatePlanGrid"
                             idfield="ZoneId"
                             hidegridmenu>

                    <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'" disablesorting></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Rate'" field="'Rate'" type="'Number'" widthfactor="2" disablesorting></vr-datagridcolumn>

                    <vr-datagridcolumn headertext="'New Rate'" type="'Number'" widthfactor="2" disablesorting>
                        <vr-textbox value="dataItem.Extension.NewRate" onvaluechanged="dataItem.Extension.onRateChanged(dataItem)"></vr-textbox>
                    </vr-datagridcolumn>

                    <vr-datagridcolumn headertext="'Begin Effective Date'" type="'Date'" widthfactor="2" disablesorting>
                        <span vr-disabled="dataItem.Extension.DisableBeginEffectiveDate">
                            <vr-datetimepicker type="date" value="dataItem.BeginEffectiveDate"></vr-datetimepicker>
                        </span>
                    </vr-datagridcolumn>

                    <vr-datagridcolumn headertext="'End Effective Date'" type="'Date'" widthfactor="2" disablesorting>
                        <span vr-disabled="dataItem.Extension.DisableEndEffectiveDate">
                            <vr-datetimepicker type="date" value="dataItem.EndEffectiveDate"></vr-datetimepicker>
                        </span>
                    </vr-datagridcolumn>

                    <vr-datagridexpandablerow>
                        <vr-whs-sales-rateplangridchild-view on-ready="dataItem.Extension.onChildViewReady"></vr-whs-sales-rateplangridchild-view>
                    </vr-datagridexpandablerow>

                </vr-datagrid>
            </vr-columns>
        </vr-row>

    </vr-form>

</vr-panel>