<div vr-modalcontent ng-controller="WhS_Sales_ZoneInfoController" width="'60%'" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formZoneInfo">
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-label mediumsize>Zone Name:</vr-label>
                    <vr-label isvalue="true" mediumsize>{{scopeModel.zoneName}}</vr-label>
                </vr-columns>
                <vr-columns width="fullrow">
                    <vr-label mediumsize>Zone BED:</vr-label>
                    <vr-label isvalue="true" mediumsize>{{scopeModel.zoneBED}}</vr-label>
                </vr-columns>
                <vr-columns width="fullrow" ng-show="scopeModel.zoneEED != undefined">
                    <vr-label mediumsize>Zone EED:</vr-label>
                    <vr-label isvalue="true" mediumsize>{{scopeModel.zoneEED}}</vr-label>
                </vr-columns>
            </vr-row>
            <vr-directivetabs tabitems="scopeModel.directiveTabs"></vr-directivetabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>