<vr-button type="Add" data-onclick="ctrl.addItemGrouping" standalone></vr-button>

<vr-validator validate="ctrl.isValid()">
    <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                 on-ready="onGridReady" enabledraggablerow="true" ondeleterow="    ctrl.removeItemGrouping" hidegridmenu>
        <vr-datagridcolumn headertext="'ItemSet Name'" field="'Entity.ItemSetName'" widthfactor="5" disablesorting></vr-datagridcolumn>
    </vr-datagrid>
</vr-validator>