<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="RequestAdditionalTime" value="60000" />
    <!--10 minutes timeout for startup-->
    <add key="TimerInterval" value="600000" />
    <!--60 minutes-->

  

   <!--
    <add key="SERVER" value="10.10.10.201" />
    <add key="DATABASE" value="voipswitch" />
    <add key="UID" value="walid" />
    <add key="PASSWORD" value="w@l!d2014" />
    <add key="ToAddress" value="vanrisefms@gmail.com" />
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="FromMail" value="goipmysql@gmail.com" />
    <add key="FromMailPassword" value="P@ssw0rd123456" />
    <add key="EnableSsl" value="true" />
    <add key="XmlPath" value="C:\\mysql_xmls\\" />
-->

    <add key="SERVER" value="192.168.22.25" />
    <add key="DATABASE" value="voipswitch" />
    <add key="UID" value="walid" />
    <add key="PASSWORD" value="w@l!d2014" />
    <add key="ToAddress" value="vanrisefms@gmail.com" />
    <add key="host" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="FromMail" value="goipmysql@gmail.com" />
    <add key="FromMailPassword" value="P@ssw0rd123456" />
    <add key="EnableSsl" value="true" />
    <add key="XmlPath" value="C:\\mysql_xmls\\" />






    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>