<vr-row>
    <vr-columns colnum="{{internationalCtrl.normalColNum}}">
        <retail-voice-internationalidentification-selector on-ready="scopeModel.onInternationalIdentificationSelectorReady" selectedvalues="scopeModel.selectedInternationalIdentification"
                                                           isrequired="true" hideremoveicon>
        </retail-voice-internationalidentification-selector>
    </vr-columns>
    <vr-directivewrapper ng-if="scopeModel.selectedInternationalIdentification != undefined" directive="scopeModel.selectedInternationalIdentification.Editor"
                         on-ready="scopeModel.onDirectiveReady" vr-loader="scopeModel.isDirectiveLoading" normal-col-num="{{internationalCtrl.normalColNum}}">
    </vr-directivewrapper>
</vr-row>