<vr-row>
    <vr-invoicetype-selector normal-col-num="4" isrequired="true" on-ready="invoiceTypeSelectorReady" selectedvalues="selectedInvoiceType" hideremoveicon onselectionchanged="onInvoiceTypeSelectionChanged"></vr-invoicetype-selector>
    <vr-columns width="1/3row">
        <vr-textbox value="issueDateOffsetFromToday" label="Issue Date Offset From Today" minvalue="0" isrequired="true" type="number"></vr-textbox>
    </vr-columns>
    <vr-invoice-periodgapaction-selector on-ready="onInvoicePeriodGapActionReady" normal-col-num="4" isrequired="true"></vr-invoice-periodgapaction-selector>
<!--</vr-row>

<vr-row>-->
    <vr-invoice-accountstatus-selector hideremoveicon isrequired="true" on-ready="onAccountStatusSelectorReady" normal-col-num="4" onselectionchanged="onAccountStatusSelectionChanged"></vr-invoice-accountstatus-selector>
    <span ng-show="selectedInvoiceType!=undefined" vr-loader="isLoadingPartnerGroup">
        <vr-invoice-partnergroup normal-col-num="4" on-ready="onInvoicePartnerGroupReady"></vr-invoice-partnergroup>
    </span>
</vr-row>