<vr-row>
    <vr-columns width="1/2row">
        <vr-textbox value="scopeModel.reportURL" label="Report URL" isrequired="true"></vr-textbox>
    </vr-columns>
    <vr-columns width="fullrow">
        <vr-section title="Main Report Settings">
            <vr-tabs>
                <vr-tab header="'DataSources'">
                    <vr-invoicetype-gridactionsettings-openrdlcreport-datasources on-ready="scopeModel.onMainReportDataSourcesDirectiveReady"></vr-invoicetype-gridactionsettings-openrdlcreport-datasources>
                </vr-tab>
                <vr-tab header="'Parameters'">
                    <vr-invoicetype-gridactionsettings-openrdlcreport-parameters on-ready="scopeModel.onMainReportParametersDirectiveReady"></vr-invoicetype-gridactionsettings-openrdlcreport-parameters>
                </vr-tab>
            </vr-tabs>

        </vr-section>
    </vr-columns>
    <vr-columns width="fullrow">
        <vr-section title="Sub Reports">
            <vr-invoicetype-gridactionsettings-openrdlcreport-reportsettings-subreports on-ready="scopeModel.onSubReportsDirectiveReady"></vr-invoicetype-gridactionsettings-openrdlcreport-reportsettings-subreports>
        </vr-section>
    </vr-columns>
</vr-row>
