<vr-panel ng-controller="WhS_BE_SupplierServiceManagementController" vr-loader="isGettingData">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                
                <vr-whs-be-carrieraccount-selector getsuppliers on-ready="onSupplierReady" normal-col-num="2" selectedvalues="selectedSupplier" isrequired="true" onselectitem="onSelectSupplier"></vr-whs-be-carrieraccount-selector>
                 

                <vr-columns width="normal" ng-show="selectedSupplier!=undefined" vr-loader="isLoadingSupplierZonesSelector" haschildcolumns>
                    <vr-whs-be-supplierzone-selector ismultipleselection on-ready="onSupplierZoneDirectiveReady" selectedvalues="selectedSupplierZones"></vr-whs-be-supplierzone-selector>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker type="date" label="Effective On" value="effectiveOn"></vr-datetimepicker>
                </vr-columns>

            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
        <vr-row>
            <vr-columns width="fullrow">
                <vr-whs-be-supplierzoneservice-grid on-ready="onGridReady"></vr-whs-be-supplierzoneservice-grid>
            </vr-columns>
        </vr-row>

    </vr-form>
</vr-panel>