<vr-datagrid datasource="salecodes"
             on-ready="onGridReady"
             dataretrievalfunction="dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             menuactions="gridMenuActions"
             defaultsortbyfieldname="'Code'">
    <vr-datagridcolumn headertext="'Selected'" widthfactor="3" disablesorting>
        <vr-check value="dataItem.IsSelected" ng-show="dataItem.ShowSelectCode" onvaluechanged="viewScope.onCodeChecked(dataItem)"></vr-check>
    </vr-datagridcolumn>

    <vr-datagridcolumn headertext="'Code'" field="'Code'" type="'Text'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Begin Effective Date'" field="'BED'" type="'Date'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'End Effective Date'" field="'EED'" type="'Date'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Draft Status'" ng-show="ShowDraftStatus" type="'Text'">
        <span ng-show="dataItem.ShowDraftStatusIcon">
            <vr-icon iconurl="dataItem.DraftStatusIconUrl" tooltip="dataItem.DraftStatusIconTooltip"></vr-icon>
        </span>
    </vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Status'">
        <span ng-show="dataItem.ShowStatusIcon">
            <vr-icon iconurl="dataItem.StatusIconUrl" tooltip="dataItem.StatusIconTooltip"></vr-icon>
        </span>
    </vr-datagridcolumn>
</vr-datagrid>
