<vr-datagrid datasource="scopeModel.vrLocalizationTextResources"
             dataretrievalfunction="scopeModel.dataRetrievalFunction"
             pagingtype="'PagingOnScroll'"
             on-ready="scopeModel.onGridReady"
             menuactions="scopeModel.menuActions"
             idfield="VRTextResourceId">
    <vr-datagridcolumn headertext="'ID'" localizedheadertext="'VRRes.ID.VREnd'" field="'VRLocalizationTextResourceId'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'ResourceKey'" localizedheadertext="'VRRes.ResourceKey.VREnd'" field="'ResourceKey'"></vr-datagridcolumn>
    <vr-datagridcolumn headertext="'Default Value'" localizedheadertext="'VRRes.DefaultValue.VREnd'" field="'Settings.DefaultValue'"></vr-datagridcolumn>
    <vr-datagridcolumn ng-show="scopeModel.moduleShow" headertext="'Module Name'" field="'ModuleName'"></vr-datagridcolumn>
    <vr-datagridexpandablerow>
        <vr-directivetabs tabitems="dataItem.drillDownExtensionObject.drillDownDirectiveTabs"></vr-directivetabs>
    </vr-datagridexpandablerow>

</vr-datagrid>