<div vr-modalcontent ng-controller="VR_Workflow_VRWorkflowClassEditorController" vr-loader="scopeModel.isLoading" width="'50%'">
    <vr-modalbody maxheight="'700px'">
        <vr-form name="formWorkflowClassEditor">
            <vr-row>
                <vr-columns width="1/2row">
                    <vr-validator validate="scopeModel.isClassNamespaceValid()">
                        <vr-textbox value="scopeModel.namespace" label="Namespace" isrequired="true"></vr-textbox>
                    </vr-validator>
                </vr-columns>
            </vr-row>
            <vr-row>
                <vr-columns width="fullrow">
                    <vr-textarea value="scopeModel.classCode" label="Class Code" rows="10" isrequired="true"></vr-textarea>
                </vr-columns>
            </vr-row>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formWorkflowClassEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>