<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid datasource="supplierRules"
                     on-ready="onGridReady"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     menuactions="gridMenuActions"
                     idfield="Entity.RuleId">

            <vr-datagridcolumn headertext="'ID'" field="'Entity.RuleId'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Description'" field="'Entity.Description'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Supplier Name'" field="'SupplierName'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Out Carriers'" field="'OutCarriers'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Out Trunks'" field="'OutTrunks'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'CDPN Prefixes'" field="'CDPNPrefixes'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'BED'" field="'Entity.BeginEffectiveTime'" type="'Datetime'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'EED'" field="'Entity.EndEffectiveTime'" type="'Datetime'"></vr-datagridcolumn>
        </vr-datagrid>
    </vr-columns>
</vr-row>