<div vr-modalcontent width="'75%'" ng-controller="StrategyEditorController">
    <vr-modalbody vr-loader="isGettingData">
        <vr-form name="formStrategyEditor">
            <vr-row>
                <vr-columns colnum="2">
                    <vr-textbox value="name" label="Name" isrequired></vr-textbox>
                </vr-columns>
                <vr-columns colnum="8">
                    <vr-textbox value="description" label="Description" isrequired></vr-textbox>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-switch value="isDefault" label="Is Default"></vr-switch>
                </vr-columns>
            </vr-row>

            <vr-row>

                <vr-columns colnum="12">

                    <vr-choices onselectionchanged="ctrl.viewVisibilityChanged">
                        <vr-choice isselected="ctrl.isFilterTabShown">Filters</vr-choice>
                        <vr-choice isselected="ctrl.isLevelsTabShow">Suspicion Levels</vr-choice>
                        <vr-choice isselected="ctrl.isParamsTabShow">Parameters</vr-choice>
                    </vr-choices>

                    <div ng-show="ctrl.isFilterTabShown">
                        <vr-datagrid datasource="strategyFilters" maxheight="300px">
                            <vr-datagridcolumn headertext="' '" widthfactor="3">       <vr-switch value="dataItem.isSelected"></vr-switch>            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Filter #'" field="'filterId'" widthfactor="3">                   </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Description'" field="'description'" widthfactor="20">                   </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Threshold'">  <vr-textbox value="dataItem.threshold"></vr-textbox>            </vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Period'">  <vr-select datasource="viewScope.periods" datatextfield="Name" datavaluefield="Id" selectedvalues="dataItem.period"></vr-select>       </vr-datagridcolumn>
                        </vr-datagrid>
                    </div>

                    <div ng-show="ctrl.isLevelsTabShow">
                        <vr-row>

                            <vr-columns colnum="2">
                                <vr-select datasource="suspectionLevels" datatextfield="name" datavaluefield="id" label="Suspection Level" colnum="2" selectedvalues="selectedSuspectionLevel"></vr-select>
                            </vr-columns>
                            <vr-columns colnum="1">
                                <div style="background-color:darkgray">
                                    <vr-button type="Add" data-onclick="AddSuspectionLevel"></vr-button>
                                </div>


                            </vr-columns>

                        </vr-row>

                        <div>


                        </div>

                        <div>

                            <vr-datagrid datasource="strategyLevels" maxheight="300px">
                                <vr-datagridcolumn headertext="'Suspection Level'" field="'suspectionLevel.name'" widthfactor="20" columnindex="0"></vr-datagridcolumn>
                                <vr-datagridcolumn ng-repeat="filter in strategyFilters" ng-show="filter.isSelected" columnindex="$index + 1" headertext="'Filter: ' + filter.filterId" tag="filter">
                                    <div ng-init="filterIndex = viewScope.strategyFilters.indexOf(colDef.tag)">
                                        <!--{{filterIndex}}{{dataItem.StrategyLevelCriterias[filterIndex]}}
                                        {{dataItem.StrategyLevelCriterias}}-->
                                        <vr-switch value="dataItem.StrategyLevelCriterias[filterIndex].isSelected"></vr-switch>

                                        <vr-select ng-show="dataItem.StrategyLevelCriterias[filterIndex ].isSelected && edit" ng-mouseleave="edit=false" datasource="viewScope.percentages" datatextfield="description" datavaluefield="value" selectedvalues="dataItem.StrategyLevelCriterias[filterIndex].percentage"></vr-select>

                                        <vr-label ng-click="edit = true" ng-hide="edit || !dataItem.StrategyLevelCriterias[filterIndex].isSelected"></vr-label>
                                    </div>

                                </vr-datagridcolumn>
                            </vr-datagrid>

                            <!--{{strategyLevels}}-->


                        </div>





                    </div>

                    <div ng-show="ctrl.isParamsTabShow">
                        <vr-row>

                            <vr-columns colnum="2">
                                <vr-select datasource="hours" datatextfield="name" datavaluefield="id" label="Peak Hours" selectedvalues="selectedPeakHours" ismultipleselection></vr-select>
                            </vr-columns>



                            <vr-columns colnum="2">
                                <vr-textbox value="gapbetweenconsecutivecalls" label="Gap Between Consecutive Calls"></vr-textbox>
                            </vr-columns>



                            <vr-columns colnum="2">
                                <vr-textbox value="maxLowDurationCall" label="Max. Low Duration Call (s) "></vr-textbox>
                            </vr-columns>



                            <vr-columns colnum="2">
                                <vr-textbox value="minimumCountofCallstoBeActiveHour" label="Min. Count of Calls in an Active Hour"></vr-textbox>
                            </vr-columns>

                        </vr-row>

                    </div>


                </vr-columns>


            </vr-row>













            </vr-columns>
            </vr-row>










        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formStrategyEditor" data-onclick="SaveStrategy" isasynchronous=" true"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>

    </div>
</div>
