<div vr-modalcontent width="'75%'" ng-controller="StrategyEditorController">
    <vr-modalbody vr-loader="isGettingData">
        <vr-form name="formStrategyEditor">
            <vr-row>
                <vr-columns colnum="2">
                    <vr-label>Subscriber Number:</vr-label>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-label isvalue>{{subscriberNumber}}</vr-label>
                </vr-columns>


                <vr-columns colnum="2">
                    <vr-label>Suspicion Level:</vr-label>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-label isvalue>{{suspicionLevelName}}</vr-label>
                </vr-columns>


                <vr-columns colnum="2">
                    <vr-label>Date:</vr-label>
                </vr-columns>
                <vr-columns colnum="2">
                    <vr-label isvalue>{{dateDay}}</vr-label>
                </vr-columns>
            </vr-row>

            <vr-row>

                <vr-columns colnum="12">

                    <vr-choices onselectionchanged="ctrl.viewVisibilityChanged">
                        <vr-choice isselected="ctrl.isNormalCDRTabShown">CDR</vr-choice>
                        <vr-choice isselected="ctrl.isNumberProfileTabShow">Number Profile</vr-choice>
                        <vr-choice isselected="ctrl.isSubscriberThresoldsTabShow">Subscriber Thresolds </vr-choice>
                    </vr-choices>

                    <div>
                        <vr-row>
                            <vr-columns colnum="12">
                                <div ng-show="ctrl.isNormalCDRTabShown">
                                    <vr-datagrid datasource="strategyFilters" maxheight="300px">
                                        <vr-datagridcolumn headertext="' '" widthfactor="3">       <vr-switch value="dataItem.isSelected"></vr-switch>            </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Filter #'" field="'filterId'" widthfactor="3">                   </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Description'" field="'description'" widthfactor="20">                   </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Threshold'">  <vr-textbox value="dataItem.threshold" isrequired ng-if="dataItem.isSelected" min="0" max="99"></vr-textbox>            </vr-datagridcolumn>
                                        <vr-datagridcolumn headertext="'Period'">  <vr-select datasource="viewScope.periods" datatextfield="Name" datavaluefield="Id" ng-init="dataItem.period = (dataItem.period == undefined ? viewScope.periods[0] : dataItem.period)" selectedvalues="dataItem.period" isrequired ng-show="dataItem.isSelected"></vr-select>       </vr-datagridcolumn>
                                    </vr-datagrid>

                                </div>
                                <div ng-show="ctrl.isNumberProfileTabShow">
                                    <div>
                                        <vr-datagrid datasource="strategyLevels" maxheight="300px">
                                            <vr-datagridcolumn headertext="'Suspicion Level'" widthfactor="20">  <vr-select datasource="viewScope.suspicionLevels" datatextfield="name" datavaluefield="id" ng-init="dataItem.suspicionLevel = (dataItem.suspicionLevel == undefined ? viewScope.suspicionLevels[0] : dataItem.suspicionLevel)" selectedvalues="dataItem.suspicionLevel" isrequired widthfactor="20" columnindex="0"></vr-select>       </vr-datagridcolumn>
                                            <vr-datagridcolumn ng-repeat="filter in strategyFilters" ng-show="filter.isSelected" columnindex="$index + 1" headertext="'Filter: ' + filter.filterId" tag="filter">
                                                <div ng-init="filterIndex = viewScope.strategyFilters.indexOf(colDef.tag)">
                                                    <vr-switch value="dataItem.StrategyLevelCriterias[filterIndex].isSelected" style="width:50%"></vr-switch>
                                                    <vr-select style="width:50%" ng-show="dataItem.StrategyLevelCriterias[filterIndex].isSelected" datasource="viewScope.percentages" datatextfield="description" datavaluefield="value" selectedvalues="dataItem.StrategyLevelCriterias[filterIndex].percentage"></vr-select>
                                                </div>

                                            </vr-datagridcolumn>
                                        </vr-datagrid>

                                    </div>





                                </div>
                                <div ng-show="ctrl.isSubscriberThresoldsTabShow">
                                    <div>
                                        <vr-datagrid datasource="strategyLevels" maxheight="300px">
                                            <vr-datagridcolumn headertext="'Suspicion Level'" widthfactor="20">  <vr-select datasource="viewScope.suspicionLevels" datatextfield="name" datavaluefield="id" ng-init="dataItem.suspicionLevel = (dataItem.suspicionLevel == undefined ? viewScope.suspicionLevels[0] : dataItem.suspicionLevel)" selectedvalues="dataItem.suspicionLevel" isrequired widthfactor="20" columnindex="0"></vr-select>       </vr-datagridcolumn>
                                            <vr-datagridcolumn ng-repeat="filter in strategyFilters" ng-show="filter.isSelected" columnindex="$index + 1" headertext="'Filter: ' + filter.filterId" tag="filter">
                                                <div ng-init="filterIndex = viewScope.strategyFilters.indexOf(colDef.tag)">
                                                    <vr-switch value="dataItem.StrategyLevelCriterias[filterIndex].isSelected" style="width:50%"></vr-switch>
                                                    <vr-select style="width:50%" ng-show="dataItem.StrategyLevelCriterias[filterIndex].isSelected" datasource="viewScope.percentages" datatextfield="description" datavaluefield="value" selectedvalues="dataItem.StrategyLevelCriterias[filterIndex].percentage"></vr-select>
                                                </div>

                                            </vr-datagridcolumn>
                                        </vr-datagrid>

                                    </div>





                                </div>
                            </vr-columns>
                        </vr-row>
                    </div>
                    </vr-columns>

            </vr-row>


        </vr-form>
    </vr-modalbody>

</div>
