<vr-panel ng-controller="FraudAnalysis_SuspiciousCaseManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed">
            <vr-row removeline>
                <vr-columns width="normal">
                    <vr-textbox label="Account Number" value="accountNumber" type="number"></vr-textbox>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker label="From" value="from" type="dateTime"></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker label="To" value="to" type="dateTime"></vr-datetimepicker>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Strategy"
                               datasource="strategies"
                               selectedvalues="selectedStrategies"
                               datavaluefield="StrategyID"
                               datatextfield="StrategyName"
                               ismultipleselection
                               entityname="Strategies">
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Suspicion Level"
                               datasource="suspicionLevels"
                               selectedvalues="selectedSuspicionLevels"
                               datavaluefield="value"
                               datatextfield="description"
                               ismultipleselection
                               entityname="Suspicion Levels">
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-select label="Case Status"
                               datasource="caseStatuses"
                               selectedvalues="selectedCaseStatuses"
                               datavaluefield="value"
                               datatextfield="description"
                               ismultipleselection
                               entityname="Case Statuses">
                    </vr-select>
                </vr-columns>
            </vr-row>
        </div>

        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="searchClicked" isasynchronous="true"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <div>
        <vr-row>
            <vr-columns width="fullrow" simplecol>
                <!--<vr-datagrid datasource="calls"
                             dataretrievalfunction="dataRetrievalFunction"
                             pagingtype="'Pager'"
                             on-ready="gridReady"
                             ng-show="showGrid">

                    <vr-datagridcolumn headertext="'Zone'" field="'ZoneName'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Customer'" field="'CustomerName'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Supplier'" field="'SupplierName'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Attempts'" field="'Attempts'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Successful Attempts'" field="'SuccessfulAttempts'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Duration (Minutes)'" field="'DurationInMinutes'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'ASR'" field="'ASR'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'ACD'" field="'ACD'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'PDD'" field="'PDD'" type="'Number'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Cost Rate'" field="'CostRateDescription'" type="'Text'"></vr-datagridcolumn>
                    <vr-datagridcolumn headertext="'Sale Rate'" field="'SaleRateDescription'" type="'Text'"></vr-datagridcolumn>
                </vr-datagrid>-->
            </vr-columns>
        </vr-row>
    </div>
</vr-panel>