<div vr-modalcontent ng-controller="FraudAnalysis_SuspiciousNumberDetails2Controller" width="'75%'">
    <vr-modalbody vr-loader="isGettingData">

        <vr-form name="formSuspiciousNumberDetails">

            <vr-row>
                <vr-columns width="normal">
                    <vr-textbox label="Account Number" value="accountNumber" readonly></vr-textbox>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="From" value="from" type="dateTime" onvaluechanged="filterDetails()" isrequired></vr-datetimepicker>
                </vr-columns>

                <vr-columns width="normal">
                    <vr-datetimepicker label="To" value="to" type="dateTime" onvaluechanged="filterDetails()" isrequired></vr-datetimepicker>
                </vr-columns>
            </vr-row>

            <vr-choices selectedindex="0">
                <vr-choice isselected="historySelected">History</vr-choice>
            </vr-choices>

            <div ng-show="historySelected">
                <vr-row>
                    <vr-columns width="fullrow" simplecol>
                        <vr-datagrid datasource="logs"
                                     on-ready="onGridReady"
                                     dataretrievalfunction="dataRetrievalFunction"
                                     pagingtype="'PagingOnScroll'"
                                     idfield="DetialID">

                            <vr-datagridcolumn headertext="'Account Number'" field="'AccountNumber'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Suspicion Level'" field="'SuspicionLevelDescription'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Strategy'" field="'StrategyName'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Status'" field="'AccountStatusDescription'" type="'Text'"></vr-datagridcolumn>
                            <vr-datagridcolumn headertext="'Day'" field="'DateDay'" type="'Date'"></vr-datagridcolumn>
                        </vr-datagrid>
                    </vr-columns>
                </vr-row>
            </div>

            <vr-section title="Update Case">
                <vr-columns width="normal">
                    <vr-select label="Status"
                               datasource="caseStatuses"
                               selectedvalues="selectedCaseStatus"
                               datavaluefield="value"
                               datatextfield="description"
                               onselectionchanged="toggleValidTill"
                               isrequired>
                    </vr-select>
                </vr-columns>
                <vr-columns width="normal">
                    <vr-datetimepicker label="Valid Till" value="validTill" type="dateTime" ng-show="whiteListSelected"></vr-datetimepicker>
                </vr-columns>
            </vr-section>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formSuspiciousNumberDetails" data-onclick="updateAccountCase"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
