<div vr-modalcontent >
    <vr-modalbody maxheight="'800px'" >

        <vr-form name="formCarrierAccountEditor">

            <vr-row>
                <h4>Support Contact Form</h4>
            </vr-row>
        </vr-form>

    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
