<vr-row>
    <vr-columns width="fullrow">
        <vr-datagrid datasource="datarecordfields"
                     on-ready="onGridReady"
                     dataretrievalfunction="dataRetrievalFunction"
                     pagingtype="'PagingOnScroll'"
                     menuactions="gridMenuActions"
                     idfield="Entity.Name">

            <vr-datagridcolumn headertext="'FieldName'" field="'Entity.Name'" type="'Text'"></vr-datagridcolumn>
            <vr-datagridcolumn headertext="'Type'" field="'TypeDescription'" type="'Text'"></vr-datagridcolumn>

        </vr-datagrid>
    </vr-columns>
</vr-row>
