<vr-panel ng-controller="PSTN_BusinessEntity_NormalizationRuleManagementController">
    <vr-form name="formFilter">
        <div ng-hide="filterSectionCollapsed" vr-loader="isLoadingFilters">
            <vr-row removeline>
                <vr-columns width="fullrow">
                    <vr-choices selectedindex="selectedTabIndex">
                        <vr-choice isselected="basicSelected">Basic</vr-choice>
                        <vr-choice isselected="advancedSelected">Advanced</vr-choice>
                    </vr-choices>

                    <vr-row>
                        <vr-columns width="normal">
                            <vr-select label="Number Type"
                                       datasource="phoneNumberTypes"
                                       selectedvalues="selectedPhoneNumberTypes"
                                       datavaluefield="value"
                                       datatextfield="description"
                                       entityname="Number Type"
                                       ismultipleselection>
                            </vr-select>
                        </vr-columns>

                        <vr-columns width="normal">
                            <vr-datetimepicker label="Effective Date" value="effectiveDate" type="dateTime"></vr-datetimepicker>
                        </vr-columns>

                        <vr-columns width="normal">
                            <vr-select label="Rule Type"
                                       datasource="ruleTypes"
                                       selectedvalues="selectedRuleTypes"
                                       datavaluefield="value"
                                       datatextfield="description"
                                       entityname="Rule Type"
                                       ismultipleselection>
                            </vr-select>
                        </vr-columns>

                        <vr-columns width="normal">
                            <vr-textbox label="Number Prefix" value="phoneNumberPrefix" ng-show="advancedSelected"></vr-textbox>
                        </vr-columns>

                        <vr-columns width="normal">
                            <vr-textbox label="Number Length" value="phoneNumberLength" maxlength="2" minvalue="1" maxvalue="99" ng-show="advancedSelected"></vr-textbox>
                        </vr-columns>

                        <vr-columns width="normal">
                            <vr-select label="Switch"
                                       datasource="switches"
                                       selectedvalues="selectedSwitches"
                                       datavaluefield="SwitchId"
                                       datatextfield="Name"
                                       entityname="Switch"
                                       ismultipleselection
                                       ng-show="advancedSelected">
                            </vr-select>
                        </vr-columns>

                        <vr-columns width="normal">
                            <vr-select label="Trunk"
                                       datasource="trunks"
                                       selectedvalues="selectedTrunks"
                                       datavaluefield="TrunkId"
                                       datatextfield="Name"
                                       entityname="Trunk"
                                       ismultipleselection
                                       ng-show="advancedSelected">
                            </vr-select>
                        </vr-columns>

                        <vr-columns width="normal">
                            <vr-textbox label="Description" value="description" ng-show="advancedSelected"></vr-textbox>
                        </vr-columns>
                    </vr-row>
                </vr-columns>
            </vr-row>
        </div>
        <vr-row removeline>
            <vr-actionbar showcollapsebutton="true" issectioncollapsed="filterSectionCollapsed">
                <div transclude-to="buttons">
                    <vr-button type="Search" formname="formFilter" data-onclick="onSearchClicked" isasynchronous="true"></vr-button>
                    <vr-button type="Add" menuactions="addButtonMenuActions"></vr-button>
                </div>
            </vr-actionbar>
        </vr-row>
    </vr-form>

    <vr-pstn-be-normalizationrulegrid on-ready="onDirectiveGridReady"></vr-pstn-be-normalizationrulegrid>
</vr-panel>