<div vr-modalcontent ng-controller="PSTN_BusinessEntity_NormalizationRuleEditorController" vr-loader="isGettingData" width="'75%'">
    <vr-modalbody>
        <vr-form name="formNormalizationRuleEditor">

            <vr-choices>
                <vr-choice isselected="definitionSelected">Definition</vr-choice>
                <vr-choice isselected="criteriaSelected">Criteria</vr-choice>
                <vr-choice isselected="settingsSelected">Settings</vr-choice>
                <vr-choice isselected="scheduleSettingsSelected">Schedule Settings</vr-choice>
            </vr-choices>

            <div ng-show="definitionSelected">
                <vr-row>
                    <vr-columns width="fullrow">
                        <vr-textarea label="Description" value="description"></vr-textarea>
                    </vr-columns>
                </vr-row>
            </div>
              
            <div ng-show="criteriaSelected">
                <vr-row>
                    <vr-columns width="normal">
                        <vr-select label="Switch"
                                   datasource="switches"
                                   selectedvalues="selectedSwitches"
                                   onselectionchanged="onSelectedSwitchesChanged"
                                   datavaluefield="SwitchId"
                                   datatextfield="Name"
                                   entityname="Switch"
                                   ismultipleselection>
                        </vr-select>
                    </vr-columns>

                    <vr-columns width="normal">
                        <vr-select label="Trunk"
                                   datasource="getSwitchRelatedTrunks"
                                   selectedvalues="selectedTrunks"
                                   datavaluefield="TrunkId"
                                   datatextfield="Name"
                                   filtername="trunkNameFilter"
                                   entityname="Trunk"
                                   ismultipleselection>
                        </vr-select>
                    </vr-columns>

                    <vr-columns width="normal">
                        <vr-select label="Number Type"
                                   datasource="phoneNumberTypes"
                                   selectedvalues="selectedPhoneNumberType"
                                   datavaluefield="value"
                                   datatextfield="description"
                                   entityname="Number Type"
                                   hideremoveicon
                                   isrequired>
                        </vr-select>
                    </vr-columns>

                    <vr-columns width="normal">
                        <vr-textbox label="Number Length" value="phoneNumberLength" type="number" maxlength="2" minvalue="1" maxvalue="99"></vr-textbox>
                    </vr-columns>

                    <vr-columns width="normal">
                        <vr-textbox label="Number Prefix" value="phoneNumberPrefix"></vr-textbox>
                    </vr-columns>
                </vr-row>
            </div>

            <div ng-show="settingsSelected">
                <vr-row>
                    <vr-columns width="normal">
                        <vr-select label="Rule Type"
                                   datasource="ruleTypes"
                                   selectedvalues="selectedRuleType"
                                   datavaluefield="value"
                                   datatextfield="description"
                                   entityname="Rule Type"
                                   isrequired>
                        </vr-select>
                    </vr-columns>
                </vr-row>

                <vr-row>
                    <vr-columns width="fullrow">
                        <vr-directivewrapper directive="selectedRuleType.editor"
                                             onloaded="onRuleTypeDirectiveLoaded">
                        </vr-directivewrapper>
                    </vr-columns>
                </vr-row>
            </div>

            <div ng-show="scheduleSettingsSelected">
                <vr-row>
                    <vr-columns width="1/3row">
                        <vr-datetimepicker label="Begin Effective Date" value="beginEffectiveTime" type="date" isrequired></vr-datetimepicker>
                    </vr-columns>

                    <vr-columns width="1/3row">
                        <vr-datetimepicker label="End Effective Date" value="endEffectiveTime" type="date"></vr-datetimepicker>
                    </vr-columns>
                </vr-row>
            </div>

        </vr-form>
    </vr-modalbody>

    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" formname="formNormalizationRuleEditor" data-onclick="saveNormalizationRule"></vr-button>
                <vr-button type="Close" data-onclick="close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>
