<vr-button type="Add" data-onclick="ctrl.addGridItem" standalone></vr-button>

<vr-validator validate="ctrl.isValid()">
    <vr-datagrid datasource="ctrl.datasource" norowhighlightonclick="true" menuactions="gridMenuActions" maxheight="300px"
                 on-ready="onGridReady" enabledraggablerow="true" ondeleterow="ctrl.removeGridItem" hidegridmenu>
        <vr-datagridcolumn headertext="'Advanced Name'" field="'Name'" widthfactor="10" disablesorting></vr-datagridcolumn>
    </vr-datagrid>
</vr-validator>