<div vr-modalcontent ng-controller="NP_IVSwitch_CodecProfileEditorController" vr-modalcontent size="medium" vr-loader="scopeModel.isLoading">
    <vr-modalbody>
        <vr-form name="formCodecProfileEditor">
            <vr-tabs>
                <vr-tab header="'Codec Profile'">
                    <vr-row>
                        <vr-columns width="1/3row">
                            <vr-textbox label="Profile Name" value="scopeModel.name" isrequired></vr-textbox>
                        </vr-columns>
                    </vr-row>
                    <vr-columns width="fullrow" simplecol>
                        <np-ivswitch-codecdef-grid on-ready="scopeModel.onGridReady"></np-ivswitch-codecdef-grid>
                    </vr-columns>
                </vr-tab>
            </vr-tabs>
        </vr-form>
    </vr-modalbody>
    <div>
        <vr-actionbar showcollapsebutton="false" issectioncollapsed="false">
            <div transclude-to="buttons">
                <vr-button type="Save" haspermission="hasSaveCodecProfilePermission" formname="formCodecProfileEditor" data-onclick="scopeModel.save"></vr-button>
                <vr-button type="Close" data-onclick="scopeModel.close"></vr-button>
            </div>
        </vr-actionbar>
    </div>
</div>